.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: linear-gradient(
    50deg,
    #fcfcfc 0%,
    #cee1f1 24%,
    #fcfcfc 47%,
    #d6ebfa 78%,
    #fcfcfc 96%
  );
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 500px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 350px) {
  .root {
    padding-top: 0px;
  }
}
@media (max-width: 350px) {
  .root > * {
    grid-column: 4;
  }
}
.header {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 2em 16px 0em;
}
.sideBar2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  left: auto;
  top: -12px;
  z-index: 1;
  position: fixed;
  bottom: auto;
  right: -7px;
}
@media (max-width: 1200px) {
  .sideBar2:global(.__wab_instance):global(.__wab_instance) {
    width: 70px;
    height: auto;
    z-index: 100;
    flex-shrink: 0;
  }
}
@media (max-width: 500px) {
  .sideBar2:global(.__wab_instance):global(.__wab_instance) {
    z-index: 1000000;
    height: auto;
  }
}
.freeBox__ihhXu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__ihhXu {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.text___5Wp8N {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}
@media (max-width: 1200px) {
  .text___5Wp8N {
    width: 90%;
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .text___5Wp8N {
    width: 80%;
    font-size: 19px;
  }
}
@media (max-width: 350px) {
  .text___5Wp8N {
    font-size: 17px;
  }
}
.profile2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.apiRequestPie:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__wQdKd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___3Bu1C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
@media (max-width: 1200px) {
  .apiRequest:global(.__wab_instance) {
    display: none;
  }
}
.text__aje3J {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__mIo8S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.apiRequestOccupancy:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___4Cikn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__hbhrg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.apiRequestAvgDailyrate:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__zv5H {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__hzcka {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.apiRequestAvgDailyrateBoojar:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__rj7E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__wkQm1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.mainContents {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px 0px 0px;
}
@media (max-width: 1200px) {
  .mainContents {
    max-width: 100%;
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 500px) {
  .mainContents {
    padding-right: 0px;
    padding-left: 0px;
    height: 100%;
    flex-shrink: 0;
    min-height: 0;
  }
}
.introduction {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 20px 16px 8px;
}
@media (max-width: 1200px) {
  .introduction {
    padding-right: 0px;
    padding-left: 0px;
    max-width: 96%;
  }
}
@media (max-width: 500px) {
  .introduction {
    max-width: 100%;
    padding-top: 0px;
  }
}
.image {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .image {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 500px) {
  .image {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (max-width: 350px) {
  .image {
    padding-right: 4px;
    padding-left: 4px;
  }
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 320px;
  min-width: 0;
  border-radius: 50px;
}
.img > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img {
    border-radius: 30px;
  }
}
@media (max-width: 500px) {
  .img {
    height: 220px;
    flex-shrink: 0;
    border-radius: 20px;
  }
}
.caption {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .caption {
    align-items: center;
    justify-content: center;
  }
}
.text__yE2Gm {
  text-align: right;
  font-size: 17px;
  line-height: 1.8;
  padding-right: 8px;
  padding-left: 8px;
}
@media (max-width: 500px) {
  .text__yE2Gm {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__yE2Gm {
    font-size: 15px;
  }
}
.monthlyIncome {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 0;
  padding: 30px 8px 8px;
}
@media (max-width: 500px) {
  .monthlyIncome {
    max-width: 100%;
    padding: 0px;
  }
}
@media (max-width: 350px) {
  .monthlyIncome {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    min-width: 0;
    padding: 30px 14px 8px;
  }
}
.freeBox__w3Dif {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__j8U01 {
  text-align: right;
  font-size: 18px;
  font-weight: 600;
  padding-top: 0px;
  padding-right: 8px;
  padding-left: 8px;
  line-height: 1.8;
}
@media (max-width: 1200px) {
  .text__j8U01 {
    padding-right: 0px;
  }
}
@media (max-width: 500px) {
  .text__j8U01 {
    padding-right: 0px;
    padding-bottom: 14px;
  }
}
@media (max-width: 350px) {
  .text__j8U01 {
    text-align: center;
    font-size: 18px;
    padding-right: 0px;
  }
}
.freeBox__eVtAr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__eVtAr {
    position: relative;
    top: auto;
    left: auto;
  }
}
.fragmentChart__uBw5I:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  font-size: 18px;
  height: 328px;
  min-width: 0;
  flex-shrink: 0;
}
@media (max-width: 1200px) {
  .fragmentChart__uBw5I:global(.__wab_instance) {
    font-size: 17px;
    height: 100%;
    min-height: 0;
  }
}
@media (max-width: 500px) {
  .fragmentChart__uBw5I:global(.__wab_instance) {
    font-size: 14px;
    flex-shrink: 0;
    flex-grow: 0;
  }
}
@media (max-width: 350px) {
  .fragmentChart__uBw5I:global(.__wab_instance) {
    font-size: 12px;
  }
}
.sources {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  min-width: 0;
  padding: 30px 8px 8px;
}
.sources > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
@media (max-width: 500px) {
  .sources {
    max-width: 100%;
    width: 100%;
    height: auto;
    flex-direction: column;
    min-width: 0;
    padding: 62px 14px 8px;
  }
}
@media (max-width: 500px) {
  .sources > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 500px) {
  .sources > :global(.__wab_flex-container) > *,
  .sources > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .sources > :global(.__wab_flex-container) > picture > img,
  .sources
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
@media (max-width: 350px) {
  .sources {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    min-width: 0;
    padding: 30px 14px 8px;
  }
}
@media (max-width: 350px) {
  .sources > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 350px) {
  .sources > :global(.__wab_flex-container) > *,
  .sources > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .sources > :global(.__wab_flex-container) > picture > img,
  .sources
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__qbSdR {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__gkfL8 {
  text-align: right;
  font-size: 18px;
  font-weight: 600;
  padding-top: 0px;
  padding-right: 8px;
  padding-left: 8px;
  line-height: 1.8;
}
@media (max-width: 1200px) {
  .text__gkfL8 {
    padding-right: 0px;
  }
}
@media (max-width: 500px) {
  .text__gkfL8 {
    padding-right: 0px;
  }
}
@media (max-width: 350px) {
  .text__gkfL8 {
    text-align: center;
    font-size: 18px;
    padding-right: 0px;
  }
}
.freeBox__z02AS {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__z02AS {
    align-self: stretch;
  }
}
@media (max-width: 350px) {
  .freeBox__z02AS {
    position: relative;
    top: auto;
    left: auto;
    z-index: 1;
    align-self: stretch;
  }
}
.fragmentChart___5Y0CB:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.occupancyRate {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 30px 8px 8px;
}
@media (max-width: 500px) {
  .occupancyRate {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 30px 0px 8px;
  }
}
@media (max-width: 350px) {
  .occupancyRate {
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    min-width: 0;
    padding: 30px 14px 8px;
  }
}
.text__vMzey {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  padding-top: 0px;
  padding-right: 8px;
  padding-left: 8px;
  line-height: 1.8;
}
@media (max-width: 1200px) {
  .text__vMzey {
    padding-right: 0px;
  }
}
@media (max-width: 500px) {
  .text__vMzey {
    padding-right: 0px;
  }
}
@media (max-width: 350px) {
  .text__vMzey {
    text-align: center;
    font-size: 18px;
    padding-right: 0px;
  }
}
.freeBox__lQmRi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0px;
  overflow: auto;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__lQmRi {
    overflow: auto;
    align-items: center;
    justify-content: center;
  }
}
.fragmentChart__pUo5B:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  font-size: 18px;
  height: 380px;
  display: block;
  font-weight: 400;
  min-width: 0;
  flex-shrink: 0;
}
@media (max-width: 500px) {
  .fragmentChart__pUo5B:global(.__wab_instance) {
    height: 300px;
    font-size: 14px;
    display: block;
    overflow: auto;
    overflow-x: auto;
    overflow-y: auto;
    min-width: 800px;
    padding-right: 12px;
    padding-left: 12px;
    align-self: stretch;
    flex-shrink: 0;
  }
}
@media (max-width: 350px) {
  .fragmentChart__pUo5B:global(.__wab_instance) {
    font-size: 10px;
    width: auto;
    left: auto;
    top: auto;
    z-index: 1;
    position: relative;
    align-self: stretch;
    padding-right: 14px;
    padding-left: 14px;
    min-width: 700px;
  }
}
.avgDailyRate {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 47px 8px;
}
@media (max-width: 1200px) {
  .avgDailyRate {
    padding-bottom: 49px;
  }
}
@media (max-width: 500px) {
  .avgDailyRate {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 0;
    padding: 30px 14px 41px;
  }
}
@media (max-width: 350px) {
  .avgDailyRate {
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    min-width: 0;
    padding: 30px 14px 40px;
  }
}
.text___6Nn1C {
  text-align: right;
  font-size: 18px;
  font-weight: 600;
  padding-top: 0px;
  padding-right: 8px;
  padding-left: 8px;
  line-height: 1.8;
}
@media (max-width: 1200px) {
  .text___6Nn1C {
    padding-right: 0px;
  }
}
@media (max-width: 500px) {
  .text___6Nn1C {
    padding-right: 0px;
  }
}
@media (max-width: 350px) {
  .text___6Nn1C {
    text-align: center;
    font-size: 18px;
    padding-right: 0px;
  }
}
.text__ztAop {
  text-align: right;
  font-size: 18px;
  line-height: 1.8;
  padding: 10px 20px 0px 8px;
}
@media (max-width: 1200px) {
  .text__ztAop {
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 17px;
    text-align: right;
    line-height: 1.8;
  }
}
@media (max-width: 500px) {
  .text__ztAop {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__ztAop {
    font-size: 15px;
  }
}
.html {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  min-width: 0;
  display: none;
  padding: 8px;
}
.clarity2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.goftino:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.rentamonFooter:global(.__wab_instance) {
  max-width: 100%;
}
