.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  max-width: 100%;
  background: var(--token-41VRhDKfihhY);
  cursor: pointer;
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 100px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
}
@media (max-width: 500px) {
  .root {
    width: 100%;
    height: 50px;
    max-width: 100%;
    background: #ffffff;
    cursor: pointer;
    flex-direction: row;
    min-width: 0;
    border-radius: 100px;
  }
}
@media (max-width: 500px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 500px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
.rootpastBookingsBox {
  border: 2px solid #ececec;
}
.rootcancelledBookings {
  border: 2px solid #ff9794;
}
.rootconfirmedBookings {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-41VRhDKfihhY);
  cursor: pointer;
  flex-direction: row;
  min-width: 0;
  border-radius: 100px;
  border: 2px solid #2eb773;
}
.rootconfirmedBookings > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootconfirmedBookings > :global(.__wab_flex-container) > *,
.rootconfirmedBookings
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.rootconfirmedBookings > :global(.__wab_flex-container) > picture > img,
.rootconfirmedBookings
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.rootpendingBookings {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-41VRhDKfihhY);
  cursor: pointer;
  flex-direction: row;
  min-width: 0;
  border-radius: 100px;
  border: 2px dashed #2eb773;
}
.rootpendingBookings > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootpendingBookings > :global(.__wab_flex-container) > *,
.rootpendingBookings
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.rootpendingBookings > :global(.__wab_flex-container) > picture > img,
.rootpendingBookings
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 0px;
}
.website {
  width: 33%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  position: relative;
  user-select: none;
  padding: 4px 20px 4px 4px;
}
@media (max-width: 1200px) {
  .website {
    width: 33%;
    padding-left: 0px;
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
@media (max-width: 500px) {
  .website {
    width: 35%;
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .website {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 15px;
    width: 38%;
  }
}
.property {
  width: 33%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  position: relative;
  user-select: none;
  padding: 4px 20px 4px 4px;
}
@media (max-width: 1200px) {
  .property {
    width: 33%;
    padding-left: 0px;
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
@media (max-width: 500px) {
  .property {
    width: 35%;
    font-size: 15px;
    display: none;
  }
}
@media (max-width: 350px) {
  .property {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 15px;
    width: 38%;
  }
}
.date {
  position: relative;
  width: 33%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  text-align: center;
  user-select: none;
  padding: 4px 8px 4px 4px;
}
@media (max-width: 1200px) {
  .date {
    width: 33%;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .date {
    padding-left: 0px;
    padding-right: 0px;
    width: 37%;
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .date {
    font-size: 15px;
    width: 40%;
  }
}
.name {
  position: relative;
  width: 33%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  text-align: left;
  user-select: none;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 4px 0px 4px 20px;
}
@media (max-width: 1200px) {
  .name {
    width: 33%;
    text-align: left;
  }
}
@media (max-width: 500px) {
  .name {
    width: 25%;
    padding-right: 0px;
    padding-left: 20px;
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .name {
    width: 22%;
    font-size: 15px;
  }
}
