.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
}
.httpRestApiFetcher:global(.__wab_instance) {
  width: 208px;
  max-width: 100%;
  object-fit: cover;
}
.name {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Estedad", sans-serif;
  font-size: 12px;
  color: #203647;
  font-weight: 500;
  min-width: 0;
  padding: 0px;
}
