.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___902C5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__iu94T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__rubIc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-8nedppYkGVaH);
  font-weight: 700;
  font-size: 18px;
  min-width: 0;
  margin: 20px;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.platforms:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text__tnUak {
  padding-left: 0px;
  font-size: 16px;
}
.freeBox__nlymy {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__uvS {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.jabamaCheckbox:global(.__wab_instance) {
  max-width: 100%;
}
.text__pdwPq {
  padding-right: 0px;
}
.freeBox__xm29X {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.jajigaCheckbox2:global(.__wab_instance) {
  max-width: 100%;
}
.text__d5RE5 {
  padding-right: 0px;
}
.freeBox__nrgc5 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___4Zwu2 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.shabCheckbox3:global(.__wab_instance) {
  max-width: 100%;
}
.text__ii5Md {
  padding-right: 0px;
}
.freeBox__zFpDp {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.otaghakCheckbox4:global(.__wab_instance) {
  max-width: 100%;
}
.text___59GeI {
  padding-right: 0px;
}
.freeBox___0CNnE {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__ahGnb {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.mihmanshoCheckbox5:global(.__wab_instance) {
  max-width: 100%;
}
.text__lOuc4 {
  padding-right: 0px;
}
.freeBox__keIr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.homsaCheckbox6:global(.__wab_instance) {
  max-width: 100%;
}
.text__hf5WI {
  padding-right: 0px;
}
.freeBox__juEr0 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__xuC1D {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.mizboonCheckbox7:global(.__wab_instance) {
  max-width: 100%;
}
.text__rx5Nj {
  padding-right: 0px;
}
.freeBox__wlXp6 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.submitButton:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  background: var(--token-8nedppYkGVaH);
  width: 100%;
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text__c7CUk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-mkspxfix7Ccx);
  min-width: 0;
}
.text__dG63L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 50px;
  align-self: center;
  font-size: 14px;
  min-width: 0;
  display: none;
}
.jabamaVerticalStack {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  padding: 8px;
}
.formField__sKGoo:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text___9Qabr {
  padding-left: 0px;
  font-size: 16px;
}
.input5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__dlBrb:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text__tB7Bi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.formField__avCWg:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text__rr7As {
  padding-left: 0px;
  font-size: 16px;
}
.input8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__mGiwY:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text__cQivN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.jajigaVerticalStack {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  padding: 8px;
}
.formField__zjTmv:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__noIQz {
  padding-left: 0px;
  font-size: 16px;
}
.input7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__bbILh:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text__e2Q4E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.formField__ag5Gd:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text___7G9Yk {
  padding-left: 0px;
  font-size: 16px;
}
.input6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__mXShh:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text___54Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.shabVerticalStack {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  padding: 8px;
}
.formField__xG7G1:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__nDm7E {
  padding-left: 0px;
  font-size: 16px;
}
.input9:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__fyVcB:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text__lUjRk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.formField___6Ii:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text___8F4D {
  padding-left: 0px;
  font-size: 16px;
}
.input10:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__xhShw:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text__eoJfg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
