.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f8f8f8;
  box-shadow: none;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 500px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 350px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox__qDRqe {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__qDRqe {
    width: 100%;
    justify-self: flex-start;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    padding: 0px;
  }
}
@media (max-width: 500px) {
  .freeBox__qDRqe {
    width: 100%;
    justify-self: flex-start;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    padding: 0px;
  }
}
.freeBox__u8Ps {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 300px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__u8Ps {
    height: 200px;
    overflow: hidden;
    flex-shrink: 0;
    padding: 0px;
  }
}
@media (max-width: 500px) {
  .freeBox__u8Ps {
    height: 150px;
    flex-shrink: 0;
  }
}
.img__n1Zd2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__n1Zd2 > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__n1Zd2 {
    object-fit: cover;
    height: auto;
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 1200px) {
  .img__n1Zd2 > picture > img {
    object-fit: cover;
  }
}
@media (max-width: 500px) {
  .img__n1Zd2 {
    object-fit: cover;
  }
}
@media (max-width: 500px) {
  .img__n1Zd2 > picture > img {
    object-fit: cover;
  }
}
.freeBox__inIyH {
  flex-direction: column;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  left: 0;
  top: auto;
  right: 0;
  bottom: 0;
  display: none;
  padding: 8px;
}
.freeBox__jGlSw {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: 0;
  bottom: 0;
  right: 0;
  min-width: 0;
  padding: 8px 8px 20px;
}
@media (max-width: 1200px) {
  .freeBox__jGlSw {
    padding: 8px 8px 10px;
  }
}
@media (max-width: 500px) {
  .freeBox__jGlSw {
    padding: 5px;
  }
}
.detail2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 90%;
  justify-content: center;
  align-items: center;
  background: var(--token-CRgiL9etiPcm);
  min-width: 0;
  border-radius: 100px;
  padding: 8px;
}
@media (max-width: 1200px) {
  .detail2 {
    max-width: 95%;
  }
}
@media (max-width: 500px) {
  .detail2 {
    max-width: 97%;
    padding: 2px;
  }
}
.freeBox__vbPkj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.text__hiet1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-8R7jjC_-F9FF);
  font-size: 23px;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__hiet1 {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .text__hiet1 {
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .text__hiet1 {
    font-size: 13px;
  }
}
.freeBox___7WZp8 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__sv7Au {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__sv7Au > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__sv7Au > :global(.__wab_flex-container) > *,
.freeBox__sv7Au > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sv7Au > :global(.__wab_flex-container) > picture > img,
.freeBox__sv7Au
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (max-width: 500px) {
  .freeBox__sv7Au {
    padding: 0px;
  }
}
.img__lsD0 {
  object-fit: cover;
  max-width: 100%;
  height: 63px;
}
.img__lsD0 > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__lsD0 {
    height: 46px;
  }
}
@media (max-width: 500px) {
  .img__lsD0 {
    height: 26px;
    margin-bottom: 0px;
  }
}
@media (max-width: 350px) {
  .img__lsD0 {
    height: 23px;
  }
}
.text__xqoMq {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-8R7jjC_-F9FF);
  font-size: 23px;
}
@media (max-width: 1200px) {
  .text__xqoMq {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .text__xqoMq {
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .text__xqoMq {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 13px;
    color: var(--token-8R7jjC_-F9FF);
    min-width: 0;
  }
}
.header {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: url("/plasmic/website_starter/images/image152.svg") top 50% left 50% / cover repeat;
  justify-self: flex-start;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  display: none;
  padding: 8px;
}
@media (max-width: 500px) {
  .header {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    padding: 0px;
  }
}
.returnButton {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .returnButton {
    padding: 0px;
  }
}
.freeBox__a710N {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px;
}
.img___9Mfa9 {
  object-fit: cover;
  max-width: 100%;
  height: 60px;
  flex-shrink: 0;
}
.img___9Mfa9 > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img___9Mfa9 {
    height: 48px;
    flex-shrink: 0;
  }
}
@media (max-width: 500px) {
  .img___9Mfa9 {
    height: 33px;
    margin-bottom: 0px;
    cursor: pointer;
    flex-shrink: 0;
  }
}
@media (max-width: 350px) {
  .img___9Mfa9 {
    height: 28px;
    flex-shrink: 0;
  }
}
.detail {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-CRgiL9etiPcm);
  min-width: 0;
  border-radius: 100px;
  padding: 8px;
}
@media (max-width: 500px) {
  .detail {
    padding: 2px;
  }
}
.freeBox__iw0Ee {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.text__ao5Xg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-8R7jjC_-F9FF);
  font-size: 23px;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__ao5Xg {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .text__ao5Xg {
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .text__ao5Xg {
    font-size: 13px;
  }
}
.freeBox___6YImL {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__xMpHr {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__xMpHr > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__xMpHr > :global(.__wab_flex-container) > *,
.freeBox__xMpHr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xMpHr > :global(.__wab_flex-container) > picture > img,
.freeBox__xMpHr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (max-width: 500px) {
  .freeBox__xMpHr {
    padding: 0px;
  }
}
.img___3DxSj {
  object-fit: cover;
  max-width: 100%;
  height: 63px;
}
.img___3DxSj > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img___3DxSj {
    height: 46px;
  }
}
@media (max-width: 500px) {
  .img___3DxSj {
    height: 26px;
    margin-bottom: 0px;
  }
}
@media (max-width: 350px) {
  .img___3DxSj {
    height: 23px;
  }
}
.text___4Mjlp {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-8R7jjC_-F9FF);
  font-size: 23px;
}
@media (max-width: 1200px) {
  .text___4Mjlp {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .text___4Mjlp {
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .text___4Mjlp {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 13px;
    color: var(--token-8R7jjC_-F9FF);
    min-width: 0;
  }
}
.booking:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.generalData {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__pxMr9 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__pxMr9 {
    padding-top: 0px;
    padding-bottom: 0px;
    justify-content: space-between;
  }
}
.freeBox__lRf4L {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__lRf4L > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__lRf4L > :global(.__wab_flex-container) > *,
.freeBox__lRf4L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lRf4L > :global(.__wab_flex-container) > picture > img,
.freeBox__lRf4L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (max-width: 500px) {
  .freeBox__lRf4L {
    width: 100%;
    height: auto;
    max-width: 46%;
    flex-direction: row;
    min-width: 0;
    padding: 8px 0px;
  }
}
@media (max-width: 500px) {
  .freeBox__lRf4L > :global(.__wab_flex-container) {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    min-width: 0;
    margin-left: calc(0px - 10px);
    width: calc(100% + 10px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 500px) {
  .freeBox__lRf4L > :global(.__wab_flex-container) > *,
  .freeBox__lRf4L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__lRf4L > :global(.__wab_flex-container) > picture > img,
  .freeBox__lRf4L
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 10px;
    margin-top: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__lRf4L {
    padding: 0px;
  }
}
.text__lzc9 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
}
@media (max-width: 1200px) {
  .text__lzc9 {
    font-size: 17px;
  }
}
@media (max-width: 500px) {
  .text__lzc9 {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 13px;
  }
}
@media (max-width: 350px) {
  .text__lzc9 {
    font-size: 12px;
  }
}
.text___1Fev3 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
}
@media (max-width: 1200px) {
  .text___1Fev3 {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 17px;
  }
}
@media (max-width: 500px) {
  .text___1Fev3 {
    font-size: 13px;
  }
}
@media (max-width: 350px) {
  .text___1Fev3 {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 12px;
  }
}
.freeBox___8Epy1 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___8Epy1 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox___8Epy1 > :global(.__wab_flex-container) > *,
.freeBox___8Epy1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8Epy1 > :global(.__wab_flex-container) > picture > img,
.freeBox___8Epy1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (max-width: 500px) {
  .freeBox___8Epy1 {
    max-width: 40%;
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 500px) {
  .freeBox___8Epy1 > :global(.__wab_flex-container) {
    justify-content: space-between;
    align-items: center;
    margin-left: calc(0px - 10px);
    width: calc(100% + 10px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 500px) {
  .freeBox___8Epy1 > :global(.__wab_flex-container) > *,
  .freeBox___8Epy1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___8Epy1 > :global(.__wab_flex-container) > picture > img,
  .freeBox___8Epy1
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 10px;
    margin-top: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox___8Epy1 {
    padding: 0px;
  }
}
.text___9XcZ1 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
}
@media (max-width: 1200px) {
  .text___9XcZ1 {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 17px;
  }
}
@media (max-width: 500px) {
  .text___9XcZ1 {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 13px;
  }
}
@media (max-width: 350px) {
  .text___9XcZ1 {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 12px;
  }
}
.text__ioC76 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  margin-bottom: 0px;
  color: var(--token-6z3qtlJMEewC);
}
@media (max-width: 1200px) {
  .text__ioC76 {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 17px;
  }
}
@media (max-width: 500px) {
  .text__ioC76 {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 13px;
  }
}
@media (max-width: 350px) {
  .text__ioC76 {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 12px;
  }
}
.text__sgcH {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  margin-bottom: 0px;
  color: var(--token-pZV_D4O-0Dnd);
}
@media (max-width: 1200px) {
  .text__sgcH {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 17px;
  }
}
@media (max-width: 500px) {
  .text__sgcH {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 13px;
  }
}
@media (max-width: 350px) {
  .text__sgcH {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 12px;
  }
}
.freeBox__b98V {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__b98V {
    padding-top: 0px;
    padding-bottom: 0px;
    justify-content: space-between;
  }
}
.freeBox__hxnJz {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__hxnJz > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__hxnJz > :global(.__wab_flex-container) > *,
.freeBox__hxnJz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hxnJz > :global(.__wab_flex-container) > picture > img,
.freeBox__hxnJz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (max-width: 500px) {
  .freeBox__hxnJz {
    width: 100%;
    height: auto;
    max-width: 46%;
    flex-direction: row;
    min-width: 0;
    padding: 8px 0px;
  }
}
@media (max-width: 500px) {
  .freeBox__hxnJz > :global(.__wab_flex-container) {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    min-width: 0;
    margin-left: calc(0px - 10px);
    width: calc(100% + 10px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 500px) {
  .freeBox__hxnJz > :global(.__wab_flex-container) > *,
  .freeBox__hxnJz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__hxnJz > :global(.__wab_flex-container) > picture > img,
  .freeBox__hxnJz
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 10px;
    margin-top: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__hxnJz {
    padding: 0px;
  }
}
.text__vcEth {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
}
@media (max-width: 1200px) {
  .text__vcEth {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 17px;
  }
}
@media (max-width: 500px) {
  .text__vcEth {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 13px;
  }
}
@media (max-width: 350px) {
  .text__vcEth {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 12px;
  }
}
.text__o9Y4I {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  padding-bottom: 0px;
}
@media (max-width: 1200px) {
  .text__o9Y4I {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 17px;
  }
}
@media (max-width: 500px) {
  .text__o9Y4I {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 13px;
  }
}
@media (max-width: 350px) {
  .text__o9Y4I {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 12px;
  }
}
.freeBox__rBuvx {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__rBuvx > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__rBuvx > :global(.__wab_flex-container) > *,
.freeBox__rBuvx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rBuvx > :global(.__wab_flex-container) > picture > img,
.freeBox__rBuvx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (max-width: 500px) {
  .freeBox__rBuvx {
    width: 100%;
    height: auto;
    max-width: 40%;
    flex-direction: row;
    min-width: 0;
    padding: 8px 0px;
  }
}
@media (max-width: 500px) {
  .freeBox__rBuvx > :global(.__wab_flex-container) {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    min-width: 0;
    margin-left: calc(0px - 10px);
    width: calc(100% + 10px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 500px) {
  .freeBox__rBuvx > :global(.__wab_flex-container) > *,
  .freeBox__rBuvx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__rBuvx > :global(.__wab_flex-container) > picture > img,
  .freeBox__rBuvx
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 10px;
    margin-top: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__rBuvx {
    padding: 0px;
  }
}
.text__s4KBq {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  color: #acacac;
}
@media (max-width: 1200px) {
  .text__s4KBq {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 17px;
  }
}
@media (max-width: 500px) {
  .text__s4KBq {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 13px;
  }
}
@media (max-width: 350px) {
  .text__s4KBq {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 12px;
  }
}
.text__eijx {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  color: #acacac;
}
@media (max-width: 1200px) {
  .text__eijx {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 17px;
  }
}
@media (max-width: 500px) {
  .text__eijx {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 13px;
  }
}
@media (max-width: 350px) {
  .text__eijx {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 12px;
  }
}
.feature {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.feature > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.feature > :global(.__wab_flex-container) > *,
.feature > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.feature > :global(.__wab_flex-container) > picture > img,
.feature
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
@media (max-width: 500px) {
  .feature {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    padding: 10px 10px 7rem;
  }
}
@media (max-width: 350px) {
  .feature {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    padding: 8px;
  }
}
.smartBooking {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  overflow: visible;
  background: #ffffff;
  box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.2);
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 1s;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  -webkit-transition-delay: 1s;
  border-radius: 30px;
  padding: 10px;
}
@media (max-width: 350px) {
  .smartBooking {
    padding: 3px;
  }
}
.data {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  box-shadow: none;
  overflow: hidden;
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 1s;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  -webkit-transition-delay: 1s;
}
.title {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.title > :global(.__wab_flex-container) {
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.title > :global(.__wab_flex-container) > *,
.title > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.title > :global(.__wab_flex-container) > picture > img,
.title > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 15px;
}
.text___3A21E {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 1200px) {
  .text___3A21E {
    font-size: 17px;
  }
}
@media (max-width: 500px) {
  .text___3A21E {
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .text___3A21E {
    font-size: 14px;
    font-weight: 500;
  }
}
.img__bMfM {
  object-fit: cover;
  max-width: 100%;
}
.img__bMfM > picture > img {
  object-fit: cover;
}
@media (max-width: 350px) {
  .img__bMfM {
    width: 26px;
    flex-shrink: 0;
  }
}
.guestInfo {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
  min-width: 0;
  padding: 8px;
}
.freeBox__adlWs {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__adlWs > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__adlWs > :global(.__wab_flex-container) > *,
.freeBox__adlWs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__adlWs > :global(.__wab_flex-container) > picture > img,
.freeBox__adlWs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (max-width: 350px) {
  .freeBox__adlWs {
    padding: 0px;
  }
}
.img__pkI36 {
  object-fit: cover;
  max-width: 100%;
}
.img__pkI36 > picture > img {
  object-fit: cover;
}
.text__wxoad {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
}
@media (max-width: 500px) {
  .text__wxoad {
    width: auto;
    height: auto;
    max-width: 100%;
    padding-left: 0px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
  }
}
@media (max-width: 350px) {
  .text__wxoad {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
  }
}
.freeBox__s0ZDt {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .freeBox__s0ZDt {
    padding: 0px;
  }
}
.text__agLat {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  padding-left: 0px;
}
@media (max-width: 500px) {
  .text__agLat {
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .text__agLat {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
  }
}
.bookInfo {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
  min-width: 0;
  padding: 8px;
}
.freeBox__aU2Qf {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__aU2Qf > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__aU2Qf > :global(.__wab_flex-container) > *,
.freeBox__aU2Qf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aU2Qf > :global(.__wab_flex-container) > picture > img,
.freeBox__aU2Qf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (max-width: 350px) {
  .freeBox__aU2Qf {
    padding: 0px;
  }
}
.text__aIhhR {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  color: #acacac;
}
@media (max-width: 500px) {
  .text__aIhhR {
    width: auto;
    height: auto;
    max-width: 100%;
    padding-left: 0px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #acacac;
  }
}
@media (max-width: 350px) {
  .text__aIhhR {
    width: auto;
    height: auto;
    max-width: 100%;
    padding-left: 0px;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
  }
}
.freeBox__w81Ii {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .freeBox__w81Ii {
    flex-direction: row;
    padding: 0px;
  }
}
.freeBox__oufwt {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__oufwt > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__oufwt > :global(.__wab_flex-container) > *,
.freeBox__oufwt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oufwt > :global(.__wab_flex-container) > picture > img,
.freeBox__oufwt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (max-width: 350px) {
  .freeBox__oufwt {
    flex-direction: row;
  }
}
@media (max-width: 350px) {
  .freeBox__oufwt > :global(.__wab_flex-container) {
    flex-direction: row;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 350px) {
  .freeBox__oufwt > :global(.__wab_flex-container) > *,
  .freeBox__oufwt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__oufwt > :global(.__wab_flex-container) > picture > img,
  .freeBox__oufwt
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
.img__awjXa {
  object-fit: cover;
  max-width: 100%;
}
.img__awjXa > picture > img {
  object-fit: cover;
}
@media (max-width: 350px) {
  .img__awjXa {
    max-width: 100%;
  }
}
.text__qgaal {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
}
@media (max-width: 500px) {
  .text__qgaal {
    width: auto;
    height: auto;
    max-width: 100%;
    padding-left: 0px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
  }
}
@media (max-width: 350px) {
  .text__qgaal {
    width: auto;
    height: auto;
    max-width: 100%;
    padding-left: 0px;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
  }
}
.freeBox___5UCox {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___5UCox > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox___5UCox > :global(.__wab_flex-container) > *,
.freeBox___5UCox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5UCox > :global(.__wab_flex-container) > picture > img,
.freeBox___5UCox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.img__jioCg {
  object-fit: cover;
  max-width: 100%;
}
.img__jioCg > picture > img {
  object-fit: cover;
}
@media (max-width: 350px) {
  .img__jioCg {
    max-width: 100%;
  }
}
.text__pXy5 {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
}
@media (max-width: 500px) {
  .text__pXy5 {
    width: auto;
    height: auto;
    max-width: 100%;
    padding-left: 0px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
  }
}
@media (max-width: 350px) {
  .text__pXy5 {
    width: auto;
    height: auto;
    max-width: 100%;
    padding-left: 0px;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
  }
}
.bookPrice {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
  min-width: 0;
  padding: 8px;
}
.freeBox__d8ITf {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__d8ITf > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__d8ITf > :global(.__wab_flex-container) > *,
.freeBox__d8ITf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__d8ITf > :global(.__wab_flex-container) > picture > img,
.freeBox__d8ITf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (max-width: 350px) {
  .freeBox__d8ITf {
    padding: 0px;
  }
}
.text__bc7Tf {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  color: #acacac;
}
@media (max-width: 500px) {
  .text__bc7Tf {
    width: auto;
    height: auto;
    max-width: 100%;
    padding-left: 0px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #acacac;
  }
}
@media (max-width: 350px) {
  .text__bc7Tf {
    width: auto;
    height: auto;
    max-width: 100%;
    padding-left: 0px;
    font-size: 13px;
    font-weight: 500;
    color: #acacac;
    text-align: center;
  }
}
.freeBox__n3CAg {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__b0H3N {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__b0H3N > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__b0H3N > :global(.__wab_flex-container) > *,
.freeBox__b0H3N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__b0H3N > :global(.__wab_flex-container) > picture > img,
.freeBox__b0H3N
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.text__q1Tbt {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  color: #acacac;
}
@media (max-width: 500px) {
  .text__q1Tbt {
    width: auto;
    height: auto;
    max-width: 100%;
    padding-left: 0px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #acacac;
  }
}
@media (max-width: 350px) {
  .text__q1Tbt {
    width: auto;
    height: auto;
    max-width: 100%;
    padding-left: 0px;
    font-size: 13px;
    font-weight: 500;
    color: #acacac;
    text-align: center;
  }
}
.bookCommission {
  flex-direction: row-reverse;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBox__fDlu7 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__fDlu7 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__fDlu7 > :global(.__wab_flex-container) > *,
.freeBox__fDlu7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fDlu7 > :global(.__wab_flex-container) > picture > img,
.freeBox__fDlu7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (max-width: 350px) {
  .freeBox__fDlu7 {
    width: auto;
    height: auto;
    max-width: 100%;
    padding: 0px;
  }
}
.text__dgPoa {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  color: #acacac;
}
@media (max-width: 500px) {
  .text__dgPoa {
    width: auto;
    height: auto;
    max-width: 100%;
    padding-left: 0px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #acacac;
  }
}
.freeBox__rCc6I {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .freeBox__rCc6I {
    padding: 0px;
  }
}
.freeBox__kffH {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__kffH > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__kffH > :global(.__wab_flex-container) > *,
.freeBox__kffH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kffH > :global(.__wab_flex-container) > picture > img,
.freeBox__kffH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.text___6GyPc {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  color: #acacac;
}
@media (max-width: 500px) {
  .text___6GyPc {
    width: auto;
    height: auto;
    max-width: 100%;
    padding-left: 0px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
  }
}
@media (max-width: 350px) {
  .text___6GyPc {
    width: auto;
    height: auto;
    max-width: 100%;
    padding-left: 0px;
    font-size: 13px;
    font-weight: 500;
    color: #acacac;
    text-align: center;
  }
}
.bookNetPrice {
  flex-direction: row-reverse;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBox__rLZsn {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__rLZsn > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__rLZsn > :global(.__wab_flex-container) > *,
.freeBox__rLZsn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rLZsn > :global(.__wab_flex-container) > picture > img,
.freeBox__rLZsn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (max-width: 350px) {
  .freeBox__rLZsn {
    padding: 0px;
  }
}
.text__tdgzg {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  color: #444444;
  padding-left: 0px;
}
@media (max-width: 500px) {
  .text__tdgzg {
    width: auto;
    height: auto;
    max-width: 100%;
    padding-left: 0px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
  }
}
@media (max-width: 350px) {
  .text__tdgzg {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
  }
}
.freeBox__yuNmr {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__yuNmr {
    justify-content: flex-start;
    align-items: center;
  }
}
@media (max-width: 350px) {
  .freeBox__yuNmr {
    padding: 0px;
  }
}
.freeBox__eb3EI {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__eb3EI > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__eb3EI > :global(.__wab_flex-container) > *,
.freeBox__eb3EI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eb3EI > :global(.__wab_flex-container) > picture > img,
.freeBox__eb3EI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.text__l1HKf {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  padding-left: 0px;
}
@media (max-width: 500px) {
  .text__l1HKf {
    width: auto;
    height: auto;
    max-width: 100%;
    padding-left: 0px;
    font-size: 15px;
    font-weight: 500;
    text-align: right;
  }
}
@media (max-width: 350px) {
  .text__l1HKf {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
  }
}
.bookSettleStatus {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-end;
  min-width: 0;
  padding: 8px;
}
.error {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.error > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.error > :global(.__wab_flex-container) > *,
.error > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.error > :global(.__wab_flex-container) > picture > img,
.error > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 15px;
}
@media (max-width: 350px) {
  .error {
    padding: 0px;
  }
}
.img__qOrc4 {
  object-fit: cover;
  max-width: 100%;
}
.img__qOrc4 > picture > img {
  object-fit: cover;
}
@media (max-width: 350px) {
  .img__qOrc4 {
    height: 18px;
  }
}
.text__yiaF {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  color: #ff4e4e;
}
@media (max-width: 500px) {
  .text__yiaF {
    width: auto;
    height: auto;
    max-width: 100%;
    padding-left: 0px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
  }
}
@media (max-width: 350px) {
  .text__yiaF {
    width: auto;
    height: auto;
    max-width: 100%;
    padding-left: 0px;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
  }
}
._true {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
._true > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
._true > :global(.__wab_flex-container) > *,
._true > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
._true > :global(.__wab_flex-container) > picture > img,
._true > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 15px;
}
@media (max-width: 350px) {
  ._true {
    padding: 0px;
  }
}
.img__eWUza {
  object-fit: cover;
  max-width: 100%;
}
.img__eWUza > picture > img {
  object-fit: cover;
}
@media (max-width: 350px) {
  .img__eWUza {
    height: 18px;
  }
}
.text__di7DJ {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  color: var(--token-ZOf6qhi7gIGD);
}
@media (max-width: 500px) {
  .text__di7DJ {
    width: auto;
    height: auto;
    max-width: 100%;
    padding-left: 0px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
  }
}
@media (max-width: 350px) {
  .text__di7DJ {
    width: auto;
    height: auto;
    max-width: 100%;
    padding-left: 0px;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
  }
}
.freeBox___90Cmi {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox___90Cmi {
    justify-content: flex-start;
    align-items: center;
  }
}
@media (max-width: 350px) {
  .freeBox___90Cmi {
    padding: 0px;
  }
}
.freeBox__iznGv {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__iznGv > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__iznGv > :global(.__wab_flex-container) > *,
.freeBox__iznGv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iznGv > :global(.__wab_flex-container) > picture > img,
.freeBox__iznGv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.text__pVcZ {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  padding-left: 0px;
}
@media (max-width: 500px) {
  .text__pVcZ {
    width: auto;
    height: auto;
    max-width: 100%;
    padding-left: 0px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
  }
}
@media (max-width: 350px) {
  .text__pVcZ {
    width: auto;
    height: auto;
    max-width: 100%;
    padding-left: 0px;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
  }
}
.openAndCloseButton {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 20%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  box-shadow: none;
  cursor: pointer;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.img__rkHvn {
  object-fit: cover;
  max-width: 100%;
}
.img__rkHvn > picture > img {
  object-fit: cover;
}
.autoSync {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  overflow: visible;
  background: #ffffff;
  box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.2);
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 1s;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  -webkit-transition-delay: 1s;
  border-radius: 30px;
  padding: 10px;
}
.data2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  box-shadow: none;
  overflow: hidden;
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 1s;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  -webkit-transition-delay: 1s;
}
.title2 {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.title2 > :global(.__wab_flex-container) {
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.title2 > :global(.__wab_flex-container) > *,
.title2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.title2 > :global(.__wab_flex-container) > picture > img,
.title2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (max-width: 350px) {
  .title2 {
    padding: 6px;
  }
}
.freeBox__oIafE {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
}
@media (max-width: 500px) {
  .freeBox__oIafE {
    max-width: 20%;
  }
}
.img__x4L7O {
  object-fit: cover;
  max-width: 100%;
  height: 37px;
  flex-shrink: 0;
}
.img__x4L7O > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__x4L7O {
    height: 30px;
    flex-shrink: 0;
  }
}
@media (max-width: 350px) {
  .img__x4L7O {
    height: 18px;
    max-width: 100%;
    flex-shrink: 0;
  }
}
.freeBox__ljl7 {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__ljl7 > :global(.__wab_flex-container) {
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__ljl7 > :global(.__wab_flex-container) > *,
.freeBox__ljl7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ljl7 > :global(.__wab_flex-container) > picture > img,
.freeBox__ljl7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (max-width: 350px) {
  .freeBox__ljl7 {
    padding: 0px;
  }
}
.text__joCMm {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 500px) {
  .text__joCMm {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
  }
}
@media (max-width: 350px) {
  .text__joCMm {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
  }
}
.img__gLuYa {
  object-fit: cover;
  max-width: 100%;
}
.img__gLuYa > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__gLuYa {
    max-width: 100%;
  }
}
@media (max-width: 350px) {
  .img__gLuYa {
    max-width: 100%;
    height: 22px;
  }
}
.description {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
  min-width: 0;
  padding: 8px;
}
.freeBox__iyOnW {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__iyOnW > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__iyOnW > :global(.__wab_flex-container) > *,
.freeBox__iyOnW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iyOnW > :global(.__wab_flex-container) > picture > img,
.freeBox__iyOnW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.text__zn2Wr {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  padding-top: 0px;
}
@media (max-width: 500px) {
  .text__zn2Wr {
    font-weight: 500;
  }
}
.platformStatus {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
  min-width: 0;
  padding: 8px;
}
.freeBox__diq12 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-evenly;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__o51MG {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  padding-left: 0px;
}
@media (max-width: 500px) {
  .text__o51MG {
    width: auto;
    height: auto;
    max-width: 100%;
    padding-left: 0px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
  }
}
.img__q849 {
  object-fit: cover;
  max-width: 100%;
  height: 27px;
}
.img__q849 > picture > img {
  object-fit: cover;
}
.openAndCloseButton2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 20%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  box-shadow: none;
  cursor: pointer;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.img__os5Gg {
  object-fit: cover;
  max-width: 100%;
}
.img__os5Gg > picture > img {
  object-fit: cover;
}
.navbarRntFooter:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
@media (max-width: 500px) {
  .navbarRntFooter:global(.__wab_instance) {
    display: flex;
  }
}
.profile:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
