.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
}
@media (max-width: 500px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.httpRestApiFetcher:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.freeBox__zPjhK {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__duSl {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.homsaDis {
  object-fit: cover;
  max-width: 100%;
  display: none;
  border-radius: 15px;
  margin: 5px;
  border: 3px solid #ff4e4e;
}
.homsaDis > picture > img {
  object-fit: cover;
}
.homsaCon {
  object-fit: cover;
  max-width: 100%;
  border-radius: 15px;
  margin: 5px;
  border: 3px solid #0c9d61;
}
.homsaCon > picture > img {
  object-fit: cover;
}
.jajigaDis {
  object-fit: cover;
  max-width: 100%;
  display: none;
  border-radius: 15px;
  margin: 5px;
  border: 3px solid #ff4e4e;
}
.jajigaDis > picture > img {
  object-fit: cover;
}
.jajigaCon {
  object-fit: cover;
  max-width: 100%;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  border-radius: 15px;
  margin: 5px;
  border: 3px solid #0c9d61;
}
.jajigaCon > picture > img {
  object-fit: cover;
}
.jabamaDis {
  object-fit: cover;
  max-width: 100%;
  display: none;
  border-radius: 15px;
  margin: 5px;
  border: 3px solid #ff4e4e;
}
.jabamaDis > picture > img {
  object-fit: cover;
}
.jabamaCon {
  object-fit: cover;
  max-width: 100%;
  border-radius: 15px;
  margin: 5px;
  border: 3px solid #0c9d61;
}
.jabamaCon > picture > img {
  object-fit: cover;
}
.otaghakDis {
  object-fit: cover;
  max-width: 100%;
  border-radius: 15px;
  margin: 5px;
  border: 3px solid #ff4e4e;
}
.otaghakDis > picture > img {
  object-fit: cover;
}
.otaghakCon {
  object-fit: cover;
  max-width: 100%;
  border-radius: 15px;
  margin: 5px;
  border: 3px solid #0c9d61;
}
.otaghakCon > picture > img {
  object-fit: cover;
}
.shabDis {
  object-fit: cover;
  max-width: 100%;
  display: none;
  border-radius: 15px;
  margin: 5px;
  border: 3px solid #ff4e4e;
}
.shabDis > picture > img {
  object-fit: cover;
}
.shabCon {
  object-fit: cover;
  max-width: 100%;
  border-radius: 15px;
  margin: 5px;
  border: 3px solid #0c9d61;
}
.shabCon > picture > img {
  object-fit: cover;
}
.mizboonDis {
  object-fit: cover;
  max-width: 100%;
  border-radius: 15px;
  margin: 5px;
  border: 3px solid #ff4e4e;
}
.mizboonDis > picture > img {
  object-fit: cover;
}
.mizboonCon {
  object-fit: cover;
  max-width: 100%;
  border-radius: 15px;
  margin: 5px;
  border: 3px solid #0c9d61;
}
.mizboonCon > picture > img {
  object-fit: cover;
}
.mihmanshoDis {
  object-fit: cover;
  max-width: 100%;
  display: none;
  border-radius: 15px;
  margin: 5px;
  border: 3px solid #ff4e4e;
}
.mihmanshoDis > picture > img {
  object-fit: cover;
}
.mihmanshoCon {
  object-fit: cover;
  max-width: 100%;
  display: none;
  border-radius: 15px;
  margin: 5px;
  border: 3px solid #0c9d61;
}
.mihmanshoCon > picture > img {
  object-fit: cover;
}
.jabamaModal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__hQm67 {
  text-align: center;
}
.numberInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 454px;
}
.jajigaModal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  align-self: auto;
  left: 280px;
  top: auto;
  z-index: 1;
  position: fixed;
  right: 473px;
  width: 333px;
  bottom: 0;
  flex-shrink: 0;
}
.jajigaModal__modal :global(.ant-modal-content) {
  text-align: right;
  outline: none;
}
.numberJajiga:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 473px;
}
.button__h5GIo:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  min-width: 0;
}
.svg__u5F0G {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__wp840 {
  max-width: 186px;
  width: 100%;
  min-width: 0;
}
.svg__bKt98 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.otpJajiga:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 463px;
}
.button__d6Geh:global(.__wab_instance) {
  max-width: 100%;
  width: 497px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.svg__j5OcI {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__pAasx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.columns {
  display: flex;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns > :nth-child(2n + 1) {
  width: calc(100% * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc(100% * 6 / 12);
}
@media (max-width: 500px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 500px) {
  .columns > :nth-child(1n + 1) {
    width: calc(100% * 12 / 12);
  }
}
.column__dFOmf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img {
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.column__bFDaK {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__ut7Ym {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
