.home {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: linear-gradient(
      37deg,
      #ebfaff 9%,
      #fcfcfc 29%,
      #f2fbfe 60%,
      #fcfcfc 79%,
      #ebfaff 88%
    )
    0% 0% / 100% 100% repeat;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 9px 0px 0px;
}
.home > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .home > * {
    grid-column: 4;
  }
}
@media (max-width: 500px) {
  .home > * {
    grid-column: 4;
  }
}
@media (max-width: 350px) {
  .home > * {
    grid-column: 4;
  }
}
.navbarRentamonComponent:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (max-width: 500px) {
  .navbarRentamonComponent:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.mainContents {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px 0px;
}
@media (max-width: 1200px) {
  .mainContents {
    max-width: 100%;
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 500px) {
  .mainContents {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.introCalendar {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 20px 8px 8px;
}
.introCalendarTitle {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__s3R23 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  font-weight: 600;
  min-width: 0;
}
.introCalendarCaption {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__x1QZw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  min-width: 0;
}
.introCalendar4 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .introCalendar4 {
    display: flex;
    flex-direction: column-reverse;
  }
}
.introCalendarRight {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 40%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .introCalendarRight {
    padding-top: 30px;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
  }
}
.introCalendarRight2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.text__kit66 {
  text-align: right;
  font-size: 18px;
  font-weight: 600;
}
.introCalendarRight3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 24px 8px 8px;
}
.text__y1MaM {
  text-align: right;
  font-size: 17px;
  line-height: 1.8;
}
.introCalendarRight4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 30px 8px 8px;
}
@media (max-width: 500px) {
  .introCalendarRight4 {
    max-width: 100%;
  }
}
@media (max-width: 350px) {
  .introCalendarRight4 {
    padding-right: 0px;
    padding-left: 0px;
    max-width: 100%;
  }
}
.text__lwviT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 94%;
  text-align: center;
  background: #8165d6;
  color: #fcfcfc;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 18px;
  font-weight: 600;
  min-width: 0;
  border-radius: 30px;
}
@media (max-width: 1200px) {
  .text__lwviT {
    max-width: 100%;
  }
}
.introCalendarLeft {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 40%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .introCalendarLeft {
    max-width: 100%;
  }
}
.htmlVideo___9OH96:global(.__wab_instance) {
  width: 640px;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  border-radius: 40px;
}
@media (max-width: 1200px) {
  .htmlVideo___9OH96:global(.__wab_instance) {
    border-radius: 30px;
  }
}
@media (max-width: 350px) {
  .htmlVideo___9OH96:global(.__wab_instance) {
    border-radius: 20px;
  }
}
.introAutoSync {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 40px 8px 32px;
}
@media (max-width: 500px) {
  .introAutoSync {
    padding-top: 30px;
  }
}
.introAutoSyncTitle {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.text__izNyD {
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  padding-top: 0px;
}
.introAutoSyncCaption {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.text__bNchH {
  text-align: right;
  font-size: 17px;
  line-height: 1.8;
}
.introAutoSyncDesc {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 90%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 30px 8px 8px;
}
@media (max-width: 500px) {
  .introAutoSyncDesc {
    display: flex;
    flex-direction: column-reverse;
    max-width: 100%;
  }
}
@media (max-width: 350px) {
  .introAutoSyncDesc {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.introAutoSyncBenefits {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 40%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .introAutoSyncBenefits {
    padding-top: 30px;
    max-width: 100%;
  }
}
.text__csa9P {
  font-size: 18px;
  line-height: 2;
  padding-top: 0px;
  font-weight: 600;
}
@media (max-width: 500px) {
  .text__csa9P {
    padding-bottom: 0px;
  }
}
.text__jfko {
  font-size: 18px;
  line-height: 2;
  padding-top: 12px;
}
@media (max-width: 500px) {
  .text__jfko {
    padding-bottom: 0px;
  }
}
.introAutoSyncGif {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .introAutoSyncGif {
    max-width: 100%;
  }
}
.htmlVideo__uaglf:global(.__wab_instance) {
  width: 640px;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}
@media (max-width: 500px) {
  .htmlVideo__uaglf:global(.__wab_instance) {
    width: 100%;
  }
}
._3Benefits {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(
    49deg,
    #203647 0%,
    #3c6180 54%,
    #203647 83%,
    #203647 97%
  );
  min-width: 0;
  border-radius: 50px;
  padding: 40px 8px;
}
@media (max-width: 1200px) {
  ._3Benefits {
    margin-top: 30px;
  }
}
@media (max-width: 500px) {
  ._3Benefits {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
  }
}
@media (max-width: 350px) {
  ._3Benefits {
    padding-top: 22px;
    border-radius: 30px;
  }
}
._3Benefits1st {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
._3Benefits1st > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
@media (max-width: 500px) {
  ._3Benefits1st {
    margin-top: 10px;
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    min-width: 0;
    padding: 30px 8px 8px;
  }
}
@media (max-width: 500px) {
  ._3Benefits1st > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 500px) {
  ._3Benefits1st > :global(.__wab_flex-container) > *,
  ._3Benefits1st > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  ._3Benefits1st > :global(.__wab_flex-container) > picture > img,
  ._3Benefits1st
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.icon {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.svg__tadou {
  object-fit: cover;
  max-width: 100%;
  color: #fcfcfc;
  min-height: 50px;
  height: 1em;
  flex-shrink: 0;
}
.title {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .title {
    padding-top: 12px;
  }
}
.text__mhPKa {
  padding-right: 0px;
  max-width: 100%;
  font-weight: 600;
  color: #fcfcfc;
  font-size: 17px;
  text-align: right;
}
@media (max-width: 350px) {
  .text__mhPKa {
    font-size: 16px;
  }
}
.caption {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__iq9O {
  text-align: center;
  font-size: 17px;
  color: #fcfcfc;
  font-weight: 400;
}
@media (max-width: 1200px) {
  .text__iq9O {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .text__iq9O {
    font-size: 15px;
  }
}
._3Benefits2nd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
._3Benefits2nd > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
@media (max-width: 500px) {
  ._3Benefits2nd {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    min-width: 0;
    padding: 30px 8px 8px;
  }
}
@media (max-width: 500px) {
  ._3Benefits2nd > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 500px) {
  ._3Benefits2nd > :global(.__wab_flex-container) > *,
  ._3Benefits2nd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  ._3Benefits2nd > :global(.__wab_flex-container) > picture > img,
  ._3Benefits2nd
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.icon2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.svg__cHyl8 {
  object-fit: cover;
  max-width: 100%;
  color: #fcfcfc;
  min-height: 50px;
  height: 1em;
  flex-shrink: 0;
}
.title2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .title2 {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 12px 8px 8px;
  }
}
.text__fMa1T {
  text-align: right;
  font-size: 17px;
  color: #fcfcfc;
  font-weight: 600;
  padding-right: 0px;
  max-width: 100%;
}
@media (max-width: 350px) {
  .text__fMa1T {
    font-size: 16px;
  }
}
.caption2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__up4Yp {
  text-align: center;
  font-size: 17px;
  color: #fcfcfc;
  font-weight: 400;
}
@media (max-width: 1200px) {
  .text__up4Yp {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .text__up4Yp {
    font-size: 15px;
  }
}
._3Benefits3rd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  ._3Benefits3rd {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 30px 8px 8px;
  }
}
.icon3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.svg__qgKwo {
  object-fit: cover;
  color: #fcfcfc;
  min-height: 50px;
  height: 1em;
  flex-shrink: 0;
}
.title3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .title3 {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 12px 8px 8px;
  }
}
.text__gVyb {
  text-align: right;
  font-size: 17px;
  color: #fcfcfc;
  font-weight: 600;
  max-width: 100%;
  padding-right: 0px;
}
@media (max-width: 350px) {
  .text__gVyb {
    font-size: 16px;
  }
}
.caption3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .caption3 {
    margin-bottom: 10px;
  }
}
.text___1ThH4 {
  text-align: center;
  font-size: 17px;
  color: #fcfcfc;
  font-weight: 400;
}
@media (max-width: 1200px) {
  .text___1ThH4 {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .text___1ThH4 {
    text-align: center;
    font-size: 15px;
  }
}
.image {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 40px 8px 8px;
}
@media (max-width: 500px) {
  .image {
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .image {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
  }
}
.introAutoSyncTitle2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.text__aLhzu {
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  padding-top: 0px;
}
.introAutoSyncCaption2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.text__wDeO2 {
  text-align: right;
  font-size: 17px;
  line-height: 1.8;
}
.introAutoSyncDesc2 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .introAutoSyncDesc2 {
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .introAutoSyncDesc2 {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
  }
}
.introAutoSyncGif2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 40%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 28px 8px 8px;
}
@media (max-width: 500px) {
  .introAutoSyncGif2 {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
  }
}
@media (max-width: 350px) {
  .introAutoSyncGif2 {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
  }
}
.img {
  object-fit: cover;
  max-width: 100%;
  height: 522px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.screenshots {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 70%;
  overflow: hidden;
  min-width: 0;
  padding: 40px 8px 8px;
}
.screenshots > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
@media (max-width: 1200px) {
  .screenshots {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
@media (max-width: 500px) {
  .screenshots {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-width: 100%;
    background: #fcfcfc;
    min-width: 0;
    padding: 40px 8px 30px;
  }
}
@media (max-width: 500px) {
  .screenshots > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 500px) {
  .screenshots > :global(.__wab_flex-container) > *,
  .screenshots > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .screenshots > :global(.__wab_flex-container) > picture > img,
  .screenshots
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
@media (max-width: 350px) {
  .screenshots {
    background: #fcfcfc;
  }
}
.screenshotsRight {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .screenshotsRight {
    align-items: flex-end;
    justify-content: flex-start;
  }
}
.screenshotsCaption {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 90%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .screenshotsCaption {
    max-width: 100%;
  }
}
.text__lLqoZ {
  text-align: right;
  font-size: 18px;
  width: 70%;
  line-height: 1.8;
  font-weight: 600;
}
@media (max-width: 1200px) {
  .text__lLqoZ {
    width: 100%;
    text-align: right;
    min-width: 0;
  }
}
@media (max-width: 500px) {
  .text__lLqoZ {
    width: 90%;
    text-align: center;
  }
}
@media (max-width: 350px) {
  .text__lLqoZ {
    width: 100%;
  }
}
.screenshotsLeft {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
@media (max-width: 500px) {
  .screenshotsLeft {
    width: 84%;
  }
}
@media (max-width: 350px) {
  .screenshotsLeft {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.carousel:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  align-self: auto;
  min-width: 0;
}
.testimonials {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(0deg, #f7fdffc2 0%, #d9f1f9 85%, #f0fbffad 100%)
    0% 0% / 100% 100% repeat;
  min-width: 0;
  padding: 40px 0px 8px;
}
@media (max-width: 500px) {
  .testimonials {
    background: linear-gradient(0deg, #fcfcfc 0%, #ecececb8 86%, #fcfcfcb8 99%);
  }
}
.titlePart {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
  padding: 8px 8px 32px;
}
@media (max-width: 500px) {
  .titlePart {
    padding-bottom: 22px;
  }
}
@media (max-width: 350px) {
  .titlePart {
    padding-bottom: 22px;
  }
}
.text__zdLdH {
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  padding-top: 0px;
}
.commentsScrolling {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (max-width: 500px) {
  .commentsScrolling {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .commentsScrolling {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.testimonialsScrolling:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___8VXaH {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 30px 8px 8px;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.addingVillaIntoPltforms {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
.reg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 40%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 14px 8px 8px;
}
@media (max-width: 1200px) {
  .reg {
    padding-top: 40px;
    max-width: 60%;
  }
}
@media (max-width: 500px) {
  .reg {
    padding-top: 30px;
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .reg {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
  }
}
.text__vepAb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  text-align: center;
  background: #8165d6;
  color: #fcfcfc;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 18px;
  font-weight: 600;
  min-width: 0;
  border-radius: 30px;
}
@media (max-width: 350px) {
  .text__vepAb {
    max-width: 100%;
  }
}
.qA {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 80%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0em;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  min-height: 0;
  padding: 30px 8px 50px;
}
@media (max-width: 1200px) {
  .qA {
    max-width: 90%;
  }
}
@media (max-width: 500px) {
  .qA {
    width: 100%;
    max-width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 350px) {
  .qA {
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
    max-width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__bkGrz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__bkGrz {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__bkGrz {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.text___1KfXk {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 19px;
  font-weight: 600;
  text-align: right;
  padding-right: 5px;
  padding-top: 5px;
  color: #444444;
  min-width: 0;
}
@media (max-width: 500px) {
  .text___1KfXk {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-top: 5px;
    padding-right: 20px;
    font-size: 19px;
    font-weight: 600;
    color: #444444;
    text-align: right;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text___1KfXk {
    padding-right: 20px;
  }
}
.freeBox___3QJyk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox___3QJyk {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox___3QJyk {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.accordionMain:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  color: #444444;
  min-width: 0;
}
._2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 16px;
  font-weight: 500;
}
._1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 500px) {
  ._1 {
    font-size: 16px;
  }
}
.text__p6Ecz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  min-width: 0;
}
._4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 16px;
  font-weight: 500;
}
.text___6Ebj5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text___6Ebj5 {
    font-size: 16px;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-weight: 500;
    min-width: 0;
  }
}
.text__mEvXl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  min-width: 0;
}
._5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 16px;
  font-weight: 500;
}
.text__eFh21 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__eFh21 {
    font-size: 16px;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-weight: 500;
    min-width: 0;
  }
}
.text__ro7TB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  min-width: 0;
}
._6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 16px;
  font-weight: 500;
}
.text__fSdcf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__fSdcf {
    font-size: 16px;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-weight: 500;
    min-width: 0;
  }
}
.text__nfZuX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  min-width: 0;
}
.accordionItem__dmgPx:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 16px;
  font-weight: 500;
}
.text__gwBvJ {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__gwBvJ {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 16px;
    font-weight: 500;
    min-width: 0;
  }
}
.text__zYHs {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  min-width: 0;
}
.accordionItem___7IInG:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 15px;
}
.text__oEav4 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__oEav4 {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 16px;
    font-weight: 500;
    min-width: 0;
  }
}
.text___8GSmG {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  min-width: 0;
}
.accordionItem__izzDc:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 15px;
}
.text___1PE {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 500px) {
  .text___1PE {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 16px;
    font-weight: 500;
    min-width: 0;
  }
}
.text__x8UL {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  min-width: 0;
}
.accordionItem__cpiYa:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 15px;
}
.text__ncps {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__ncps {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 16px;
    font-weight: 500;
    min-width: 0;
  }
}
.text___4RpVt {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  min-width: 0;
}
.html {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  min-width: 0;
  padding: 8px;
}
.clarity2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.goftino:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.rentamonFooter:global(.__wab_instance) {
  max-width: 100%;
}
