.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 500px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 350px) {
  .root > * {
    grid-column: 4;
  }
}
.header {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 2em 8px 1em;
}
.sideBar2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  left: auto;
  top: -12px;
  z-index: 1;
  position: fixed;
  bottom: auto;
  right: -7px;
}
.freeBox__mfzC7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__wv5Tm {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  font-family: "Estedad";
  font-style: normal;
  color: #203647;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (max-width: 1200px) {
  .text__wv5Tm {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .text__wv5Tm {
    font-size: 19px;
  }
}
@media (max-width: 350px) {
  .text__wv5Tm {
    font-size: 17px;
  }
}
.profile:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__vg0K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__y4L {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 2em 8px 9em;
}
.freeBox__y4L > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__y4L > :global(.__wab_flex-container) > *,
.freeBox__y4L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__y4L > :global(.__wab_flex-container) > picture > img,
.freeBox__y4L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (max-width: 1200px) {
  .freeBox__y4L {
    max-width: 70%;
  }
}
@media (max-width: 500px) {
  .freeBox__y4L {
    max-width: 100%;
  }
}
@media (max-width: 350px) {
  .freeBox__y4L {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.tableHeader {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-around;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 14px;
}
.statusModal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___5NVyJ {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
@media (max-width: 500px) {
  .freeBox___5NVyJ {
    padding: 0px;
  }
}
.freeBox__m3Fs2 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__m3Fs2 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox__dTzEi {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #fcfcfc;
  min-width: 0;
  padding: 0px 0px 0px 8px;
}
.freeBox__dTzEi > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__dTzEi > :global(.__wab_flex-container) > *,
.freeBox__dTzEi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dTzEi > :global(.__wab_flex-container) > picture > img,
.freeBox__dTzEi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (max-width: 500px) {
  .freeBox__dTzEi {
    max-width: 56%;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__dTzEi {
    max-width: 56%;
  }
}
@media (max-width: 350px) {
  .freeBox__dTzEi > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 350px) {
  .freeBox__dTzEi > :global(.__wab_flex-container) > *,
  .freeBox__dTzEi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__dTzEi > :global(.__wab_flex-container) > picture > img,
  .freeBox__dTzEi
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.text__du2HZ {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 600;
}
@media (max-width: 350px) {
  .text__du2HZ {
    width: 100%;
    font-size: 15px;
    min-width: 0;
  }
}
.img__c6ZEc {
  object-fit: cover;
  max-width: 100%;
  height: 41px;
}
.img__c6ZEc > picture > img {
  object-fit: cover;
}
.img__nmqQa {
  object-fit: cover;
  max-width: 100%;
  height: 41px;
}
.img__nmqQa > picture > img {
  object-fit: cover;
}
.img__ci8A0 {
  object-fit: cover;
  max-width: 100%;
  height: 41px;
}
.img__ci8A0 > picture > img {
  object-fit: cover;
}
.img__loOs8 {
  object-fit: cover;
  max-width: 100%;
  height: 41px;
}
.img__loOs8 > picture > img {
  object-fit: cover;
}
.img__wkOwz {
  object-fit: cover;
  max-width: 100%;
  height: 41px;
}
.img__wkOwz > picture > img {
  object-fit: cover;
}
.img__kbmkk {
  object-fit: cover;
  max-width: 100%;
  height: 41px;
}
.img__kbmkk > picture > img {
  object-fit: cover;
}
.img___4MGs4 {
  object-fit: cover;
  max-width: 100%;
  height: 41px;
}
.img___4MGs4 > picture > img {
  object-fit: cover;
}
.freeBox__xEoLb {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
@media (max-width: 500px) {
  .freeBox__xEoLb {
    max-width: 44%;
  }
}
@media (max-width: 350px) {
  .freeBox__xEoLb {
    max-width: 44%;
    padding-right: 0px;
  }
}
.text__hmxr8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  min-width: 0;
}
@media (max-width: 350px) {
  .text__hmxr8 {
    font-size: 15px;
  }
}
.freeBox__wkvAq {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__wkvAq {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.text__yX8Qq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__yX8Qq {
    font-size: 15px;
  }
}
.text__mvRiB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__mvRiB {
    font-size: 15px;
    text-align: left;
  }
}
.freeBox__qOxct {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__qOxct {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.text__q44Ip {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__q44Ip {
    font-size: 15px;
  }
}
.text__zyaZv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "Estedad";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #203647;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__zyaZv {
    text-align: left;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    min-width: 0;
  }
}
.freeBox__bYbS4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px;
}
@media (max-width: 500px) {
  .freeBox__bYbS4 {
    padding: 6px 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__bYbS4 {
    align-items: center;
    justify-content: center;
    padding-left: 0px;
  }
}
.text__nuB4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__nuB4 {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .text__nuB4 {
    text-align: center;
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .text__nuB4 {
    font-size: 15px;
    padding-top: 6px;
    text-align: center;
    font-weight: 500;
  }
}
.freeBox__adLW {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__adLW {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__adLW {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox__enMwu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 0px;
}
@media (max-width: 350px) {
  .freeBox__enMwu {
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.shab {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-around;
  align-items: center;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .shab {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}
@media (max-width: 350px) {
  .shab {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.text__a3Naa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  font-size: 16px;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__a3Naa {
    font-size: 14px;
  }
}
@media (max-width: 350px) {
  .text__a3Naa {
    font-size: 14px;
  }
}
.img__pdBmB {
  object-fit: cover;
  max-width: 100%;
  height: 27px;
  margin-bottom: 0px;
}
.img__pdBmB > picture > img {
  object-fit: cover;
}
@media (max-width: 350px) {
  .img__pdBmB {
    height: 24px;
  }
}
.img__oDFd {
  object-fit: cover;
  max-width: 100%;
  height: 27px;
  margin-bottom: 0px;
}
.img__oDFd > picture > img {
  object-fit: cover;
}
@media (max-width: 350px) {
  .img__oDFd {
    height: 24px;
  }
}
.jajiga {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-around;
  align-items: center;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .jajiga {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-width: 0;
    padding: 2px 8px;
  }
}
@media (max-width: 350px) {
  .jajiga {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-width: 0;
    padding: 8px 0px;
  }
}
.text__x26Bn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  font-size: 16px;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__x26Bn {
    width: 100%;
    height: auto;
    max-width: 50%;
    font-size: 14px;
    font-weight: 400;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__x26Bn {
    width: 100%;
    height: auto;
    max-width: 50%;
    font-size: 14px;
    font-weight: 400;
    min-width: 0;
  }
}
.img___7EPt3 {
  object-fit: cover;
  max-width: 100%;
  height: 27px;
  margin-bottom: 0px;
}
.img___7EPt3 > picture > img {
  object-fit: cover;
}
@media (max-width: 350px) {
  .img___7EPt3 {
    height: 24px;
  }
}
.img__inTpV {
  object-fit: cover;
  max-width: 100%;
  height: 27px;
  margin-bottom: 0px;
}
.img__inTpV > picture > img {
  object-fit: cover;
}
@media (max-width: 350px) {
  .img__inTpV {
    height: 24px;
    max-width: 100%;
    margin-bottom: 0px;
  }
}
.jabama {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-around;
  align-items: center;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .jabama {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-width: 0;
    padding: 2px 8px;
  }
}
@media (max-width: 350px) {
  .jabama {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-width: 0;
    padding: 8px 0px;
  }
}
.text__nWgZ5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  font-size: 16px;
  font-weight: 400;
  padding-right: 0px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__nWgZ5 {
    width: 100%;
    height: auto;
    max-width: 50%;
    font-size: 14px;
    font-weight: 400;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__nWgZ5 {
    width: 100%;
    height: auto;
    max-width: 50%;
    font-size: 14px;
    font-weight: 400;
    min-width: 0;
  }
}
.img__zpIC {
  object-fit: cover;
  max-width: 100%;
  height: 27px;
  margin-bottom: 0px;
}
.img__zpIC > picture > img {
  object-fit: cover;
}
@media (max-width: 350px) {
  .img__zpIC {
    height: 24px;
    max-width: 100%;
    margin-bottom: 0px;
  }
}
.img__hTmLp {
  object-fit: cover;
  max-width: 100%;
  height: 27px;
  margin-bottom: 0px;
}
.img__hTmLp > picture > img {
  object-fit: cover;
}
@media (max-width: 350px) {
  .img__hTmLp {
    height: 24px;
  }
}
.otaaghak {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-around;
  align-items: center;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .otaaghak {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-width: 0;
    padding: 2px 8px;
  }
}
@media (max-width: 350px) {
  .otaaghak {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-width: 0;
    padding: 8px 0px;
  }
}
.text__semYg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  font-size: 16px;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__semYg {
    width: 100%;
    height: auto;
    max-width: 50%;
    font-size: 14px;
    font-weight: 400;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__semYg {
    width: 100%;
    height: auto;
    max-width: 50%;
    font-size: 14px;
    font-weight: 400;
    min-width: 0;
  }
}
.img___23JHo {
  object-fit: cover;
  max-width: 100%;
  height: 27px;
  margin-bottom: 0px;
}
.img___23JHo > picture > img {
  object-fit: cover;
}
@media (max-width: 350px) {
  .img___23JHo {
    height: 24px;
    max-width: 100%;
    margin-bottom: 0px;
  }
}
.img__f53Tl {
  object-fit: cover;
  max-width: 100%;
  height: 27px;
  margin-bottom: 0px;
}
.img__f53Tl > picture > img {
  object-fit: cover;
}
@media (max-width: 350px) {
  .img__f53Tl {
    height: 24px;
  }
}
.mizboon {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-around;
  align-items: center;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .mizboon {
    padding-right: 0px;
    padding-left: 0px;
    display: flex;
  }
}
.text__fu7D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  font-size: 16px;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__fu7D {
    font-size: 14px;
  }
}
@media (max-width: 350px) {
  .text__fu7D {
    font-size: 14px;
  }
}
.img___2NuaP {
  object-fit: cover;
  max-width: 100%;
  height: 27px;
  margin-bottom: 0px;
}
.img___2NuaP > picture > img {
  object-fit: cover;
}
@media (max-width: 350px) {
  .img___2NuaP {
    height: 24px;
  }
}
.img__iWbSq {
  object-fit: cover;
  max-width: 100%;
  height: 27px;
  margin-bottom: 0px;
}
.img__iWbSq > picture > img {
  object-fit: cover;
}
@media (max-width: 350px) {
  .img__iWbSq {
    height: 24px;
  }
}
.mihmansho {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-around;
  align-items: center;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .mihmansho {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-width: 0;
    padding: 2px 8px;
  }
}
@media (max-width: 350px) {
  .mihmansho {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-width: 0;
    padding: 8px 0px;
  }
}
.text__vbvpg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  font-size: 16px;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__vbvpg {
    width: 100%;
    height: auto;
    max-width: 50%;
    font-size: 14px;
    font-weight: 400;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__vbvpg {
    width: 100%;
    height: auto;
    max-width: 50%;
    font-size: 14px;
    font-weight: 400;
    min-width: 0;
  }
}
.img___1L2SP {
  object-fit: cover;
  max-width: 100%;
  height: 27px;
  margin-bottom: 0px;
}
.img___1L2SP > picture > img {
  object-fit: cover;
}
@media (max-width: 350px) {
  .img___1L2SP {
    height: 24px;
    max-width: 100%;
    margin-bottom: 0px;
  }
}
.img__jhXkZ {
  object-fit: cover;
  max-width: 100%;
  height: 27px;
  margin-bottom: 0px;
}
.img__jhXkZ > picture > img {
  object-fit: cover;
}
@media (max-width: 350px) {
  .img__jhXkZ {
    height: 24px;
  }
}
.homsa {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-around;
  align-items: center;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .homsa {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-width: 0;
    padding: 2px 8px;
  }
}
@media (max-width: 350px) {
  .homsa {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-width: 0;
    padding: 8px 0px;
  }
}
.text__wJzju {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  font-size: 16px;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__wJzju {
    width: 100%;
    height: auto;
    max-width: 50%;
    font-size: 14px;
    font-weight: 400;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__wJzju {
    width: 100%;
    height: auto;
    max-width: 50%;
    font-size: 14px;
    font-weight: 400;
    min-width: 0;
  }
}
.img__xlWfM {
  object-fit: cover;
  max-width: 100%;
  height: 27px;
  margin-bottom: 0px;
}
.img__xlWfM > picture > img {
  object-fit: cover;
}
@media (max-width: 350px) {
  .img__xlWfM {
    height: 24px;
    max-width: 100%;
    margin-bottom: 0px;
  }
}
.img__xKtqf {
  object-fit: cover;
  max-width: 100%;
  height: 27px;
  margin-bottom: 0px;
}
.img__xKtqf > picture > img {
  object-fit: cover;
}
@media (max-width: 350px) {
  .img__xKtqf {
    height: 24px;
  }
}
.freeBox___1IJ9K {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
@media (max-width: 500px) {
  .freeBox___1IJ9K {
    padding-top: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox___1IJ9K {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.button:global(.__wab_instance) {
  max-width: 80%;
}
@media (max-width: 350px) {
  .button:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__x7Jgv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__d7OzV {
  font-size: 16px;
  font-weight: 600;
}
.svg__qomxj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___0DlVa {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  width: 30%;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox___0DlVa > :global(.__wab_flex-container) {
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox___0DlVa > :global(.__wab_flex-container) > *,
.freeBox___0DlVa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0DlVa > :global(.__wab_flex-container) > picture > img,
.freeBox___0DlVa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (max-width: 350px) {
  .freeBox___0DlVa {
    width: 26%;
  }
}
.text___3UBqc {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  font-family: "Estedad";
  font-style: normal;
  color: #203647;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 350px) {
  .text___3UBqc {
    font-size: 16px;
  }
}
.freeBox__eF7Bt {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 20%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
@media (max-width: 350px) {
  .freeBox__eF7Bt {
    width: 27%;
  }
}
.text__caISk {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  font-weight: 600;
  font-family: "Estedad";
  font-style: normal;
  color: #203647;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 350px) {
  .text__caISk {
    font-size: 16px;
  }
}
.freeBox__pFS8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 20%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
@media (max-width: 350px) {
  .freeBox__pFS8 {
    width: 27%;
  }
}
.text__f3HgU {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  font-weight: 600;
  padding-right: 0px;
  font-family: "Estedad";
  font-style: normal;
  color: #203647;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 350px) {
  .text__f3HgU {
    font-size: 16px;
  }
}
.freeBox__nu0J {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 30%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
@media (max-width: 350px) {
  .freeBox__nu0J {
    width: 20%;
  }
}
.text___06Pll {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  font-weight: 600;
  padding-right: 0px;
  font-family: "Estedad";
  font-style: normal;
  color: #203647;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 350px) {
  .text___06Pll {
    font-size: 16px;
  }
}
.item {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 65px;
  max-width: 100%;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 30px;
  padding: 14px 8px;
  border: 2px solid #ececec;
}
.freeBox__haSnf {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 30%;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__haSnf > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__haSnf > :global(.__wab_flex-container) > *,
.freeBox__haSnf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__haSnf > :global(.__wab_flex-container) > picture > img,
.freeBox__haSnf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (max-width: 350px) {
  .freeBox__haSnf {
    width: 26%;
  }
}
.text__vhrhd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  min-width: 0;
}
.freeBox__p5KJm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 20%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
@media (max-width: 350px) {
  .freeBox__p5KJm {
    width: 27%;
  }
}
.text__m86Ki {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 13px;
  white-space: pre;
  text-overflow: ellipsis;
  text-align: center;
  min-width: 0;
}
@media (max-width: 350px) {
  .text__m86Ki {
    font-size: 12px;
  }
}
.freeBox__e45Hx {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 20%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
@media (max-width: 350px) {
  .freeBox__e45Hx {
    width: 27%;
  }
}
.text__cBjcT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  font-size: 13px;
  white-space: pre;
  text-overflow: ellipsis;
  text-align: center;
  min-width: 0;
}
@media (max-width: 350px) {
  .text__cBjcT {
    font-size: 12px;
  }
}
.freeBox__mRxCx {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 30%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 350px) {
  .freeBox__mRxCx {
    width: 20%;
  }
}
.text__hWfFd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  white-space: pre;
  text-overflow: ellipsis;
  text-align: center;
  min-width: 0;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.returnButton {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #8165d6;
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
}
@media (max-width: 500px) {
  .returnButton {
    padding: 8px;
  }
}
.freeBox___9ZxWb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 50px;
  max-width: 20%;
  justify-content: center;
  align-items: center;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  padding: 0px;
}
@media (max-width: 1200px) {
  .freeBox___9ZxWb {
    max-width: 30%;
    height: 50px;
  }
}
@media (max-width: 500px) {
  .freeBox___9ZxWb {
    max-width: 90%;
    height: 60px;
  }
}
.text__ayiQa {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-zy6xhYnWF8Y7);
  text-align: center;
  font-size: 20px;
  user-select: none;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__ayiQa {
    font-size: 16px;
  }
}
