.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.modalChangePrice:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 676px;
  height: 182px;
  flex-shrink: 0;
}
.modalChangePrice__modal :global(.ant-modal-close) {
  position: relative;
  top: auto;
  left: auto;
  color: #444444;
  bottom: auto;
  right: auto;
  align-self: auto;
  outline: none;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px 0px 8px 8px;
}
.columns > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.numberInput2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 242px;
}
