.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 80px;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  background: none;
  flex-shrink: 1;
  min-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 2px 0px 0px;
}
@media (max-width: 500px) {
  .root {
    justify-self: flex-start;
    height: 74px;
    background: none;
    margin-top: 4px;
    display: block;
    flex-shrink: 0;
    flex-grow: 0;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    column-gap: 0px;
    padding: 0px;
  }
}
@media (max-width: 350px) {
  .root {
    width: 100%;
    height: 64px;
    max-width: 40px;
    background: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 0px;
  }
}
.rootdayStatus_reserved {
  background: none;
  min-width: 98%;
}
.rootdayStatus_firstDayReserve {
  flex-grow: 0;
}
.rootdayStatus_midDayReserve {
  max-width: 100%;
  min-width: 100%;
}
.rootdayStatus_passedFirstDayReserve {
  background: none;
}
.freeBox__jPegP {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 96%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1200px) {
  .freeBox__jPegP {
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .freeBox__jPegP {
    position: absolute;
    top: 2px;
    left: 0px;
    padding: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__jPegP {
    margin: 0px;
  }
}
.freeBoxdayStatus_lastDayReserve__jPegPvreYs {
  max-width: 100%;
}
.freeBoxdayStatus_passedFirstDayReserve__jPegPohsA4 {
  width: 100%;
  height: auto;
  max-width: 96%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0px;
  min-width: 0;
  padding: 0px;
}
.cell {
  height: 80px;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  display: flex;
  background: #e5e5e5;
  overflow: hidden;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 10px 0px;
}
@media (max-width: 1200px) {
  .cell {
    max-width: 95%;
  }
}
@media (max-width: 500px) {
  .cell {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 74px;
    flex-shrink: 0;
    max-width: 96%;
    row-gap: 1px;
    column-gap: 0px;
    min-width: 0;
    border-radius: 9px;
    padding: 2px 0px 0px;
  }
}
@media (max-width: 350px) {
  .cell {
    max-width: 40px;
    height: 64px;
    padding-top: 0px;
    row-gap: 0px;
    column-gap: 0px;
    flex-shrink: 0;
  }
}
.cellselected {
  background: #203647;
}
.celldayStatus_reserved {
  background: #4fdfb1;
  border-radius: 10px;
}
.celldayStatus_discount {
  background: var(--token-5pBr4MZPegMc);
  border: 2px solid var(--token-VZ6qPYp5VPBy);
}
.celldayStatus_disabled {
  background: #fcfcfc;
}
.celldayStatus_blocked {
  background: #fbb142;
}
.celldayStatus_selected {
  background: #203647;
}
.celldayStatus_firstDayReserve {
  background: #4fdfb1;
  border-radius: 0px 20px 20px 0px;
}
.celldayStatus_lastDayReserve {
  background: #4fdfb1;
  border-radius: 20px 0px 0px 20px;
}
.celldayStatus_midDayReserve {
  background: #4fdfb1;
  min-width: 100%;
  max-width: 100%;
  border-radius: 0px;
}
.celldayStatus_passedFirstDayReserve {
  background: #4fdfb10d;
  width: 100%;
  height: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 0px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 0px 20px 20px 0px;
  padding: 10px 0px;
}
.celldayStatus_passedMidDayReserve {
  width: 100%;
  height: 80px;
  background: #4fdfb10d;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 0px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 0px;
  padding: 10px 0px;
}
.celldayStatus_passedLastDayReserve {
  width: 100%;
  height: 80px;
  background: #4fdfb10d;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 0px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 20px 0px 0px 20px;
  padding: 10px 0px;
}
.celldayStatus_passedSingleReserve {
  background: #4fdfb10d;
}
.freeBox__aE9Ge {
  display: flex;
  flex-direction: column;
  position: sticky;
  width: 100%;
  height: 30%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  left: 0px;
  top: 3px;
  z-index: 1;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 500px) {
  .freeBox__aE9Ge {
    margin: 0px;
  }
}
.freeBoxdayStatus_midDayReserve__aE9GexrGdN {
  min-width: 100%;
}
.text__sLeDq {
  position: relative;
  color: var(--token-C-5xNZALkGon);
  font-family: "Estedad";
  font-weight: 500;
  text-align: center;
  max-width: 100%;
  height: auto;
  width: 100%;
  margin-top: 2px;
  left: auto;
  top: auto;
  z-index: 1;
  user-select: none;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__sLeDq {
    margin-top: 0px;
    font-weight: 400;
    padding-right: 0px;
    font-size: 14px;
    width: auto;
    height: 21px;
    flex-shrink: 0;
  }
}
.textselected__sLeDq2Pr1U {
  color: #ffffff;
}
.textdayStatus_reserved__sLeDq6WcTl {
  color: var(--token-7MRjbe724hDb);
}
.textdayStatus_disabled__sLeDqOkz0Z {
  color: #c5c5c5;
}
.textdayStatus_selected__sLeDqmbNkx {
  color: #ffffff;
}
.textdayStatus_passedFirstDayReserve__sLeDqohsA4 {
  color: #c5c5c5;
}
.textdayStatus_passedMidDayReserve__sLeDqo7Nt2 {
  color: #c5c5c5;
}
.textdayStatus_passedLastDayReserve__sLeDqMjPP {
  color: #c5c5c5;
}
.textdayStatus_passedSingleReserve__sLeDqfNqAx {
  color: #c5c5c5;
}
.holidays2 {
  position: relative;
  color: var(--token-Bo2_tT25lwh4);
  font-family: "Estedad";
  font-weight: 500;
  text-align: center;
  max-width: 100%;
  height: auto;
  width: 100%;
  margin-top: 2px;
  user-select: none;
  min-width: 0;
}
@media (max-width: 1200px) {
  .holidays2 {
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-top: 2px;
    font-family: "Estedad";
    font-weight: 400;
    color: var(--token-Bo2_tT25lwh4);
    text-align: center;
    min-width: 0;
  }
}
@media (max-width: 500px) {
  .holidays2 {
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-top: 2px;
    font-family: "Estedad";
    font-weight: 400;
    color: var(--token-Bo2_tT25lwh4);
    text-align: center;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .holidays2 {
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-top: 2px;
    font-family: "Estedad";
    font-weight: 400;
    color: var(--token-Bo2_tT25lwh4);
    text-align: center;
    min-width: 0;
  }
}
.holidays2selected {
  color: var(--token-Bo2_tT25lwh4);
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Estedad";
  font-weight: 400;
  text-align: center;
  margin-top: 2px;
  min-width: 0;
}
.holidays2dayStatus_reserved {
  color: var(--token-Bo2_tT25lwh4);
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Estedad";
  font-weight: 500;
  text-align: center;
  margin-top: 2px;
  min-width: 0;
}
.holidays2dayStatus_disabled {
  color: #c5c5c5;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Estedad";
  font-weight: 500;
  text-align: center;
  margin-top: 2px;
  min-width: 0;
}
.holidays2dayStatus_selected {
  color: var(--token-j-ZwOKbpUCqd);
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Estedad";
  font-weight: 700;
  text-align: center;
  min-width: 0;
}
.holidays2dayStatus_passedFirstDayReserve {
  color: #d9363e40;
}
.holidays2dayStatus_passedMidDayReserve {
  color: #d9363e40;
}
.holidays2dayStatus_passedLastDayReserve {
  color: #d9363e40;
}
.holidays2dayStatus_passedSingleReserve {
  color: #d9363e40;
}
.freeBox__gKj3 {
  display: flex;
  flex-direction: column;
  position: sticky;
  width: 100%;
  height: 30%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  left: 0px;
  top: 19px;
  z-index: 1;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 500px) {
  .freeBox__gKj3 {
    width: 100%;
    margin: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__gKj3 {
    padding-top: 2px;
  }
}
.freeBoxdayStatus_blocked__gKj377F30 {
  display: none;
}
.freeBoxdayStatus_midDayReserve__gKj3XrGdN {
  padding-top: 0px;
}
.text__kqTC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-7MRjbe724hDb);
  font-weight: 400;
  user-select: none;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__kqTC {
    font-size: 14px;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-weight: 400;
    color: var(--token-7MRjbe724hDb);
    text-align: center;
    user-select: none;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__kqTC {
    font-size: 14px;
    font-weight: 400;
  }
}
.textselected__kqTC2Pr1U {
  color: var(--token-jgohepLVeKvh);
}
.textdayStatus_reserved__kqTC6WcTl {
  color: var(--token-7MRjbe724hDb);
}
.textdayStatus_disabled__kqTCokz0Z {
  color: var(--token-WRVnC_GIUCgN);
  font-weight: 300;
}
.textdayStatus_passedFirstDayReserve__kqTCohsA4 {
  color: #c5c5c5;
}
.textdayStatus_passedMidDayReserve__kqTCo7Nt2 {
  color: #c5c5c5;
}
.textdayStatus_passedLastDayReserve__kqTCMjPP {
  color: #c5c5c5;
}
.textdayStatus_passedSingleReserve__kqTCfNqAx {
  color: #c5c5c5;
}
.freeBox__cD9Fr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 40%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 500px) {
  .freeBox__cD9Fr {
    margin: 0px;
  }
}
.text__ltKp2 {
  position: sticky;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #2f2f2f;
  font-weight: 400;
  left: 0px;
  top: 10px;
  z-index: 1;
  user-select: none;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__ltKp2 {
    font-size: 14px;
    font-weight: 400;
    display: block;
  }
}
.textselected__ltKp22Pr1U {
  color: #ffffff;
}
.textdayStatus_reserved__ltKp26WcTl {
  color: var(--token-7MRjbe724hDb);
  font-weight: 400;
}
.textdayStatus_disabled__ltKp2Okz0Z {
  color: var(--token-aAU8kfeqE6Ao);
  font-weight: 300;
  display: block;
}
.textdayStatus_blocked__ltKp277F30 {
  display: none;
}
.textdayStatus_selected__ltKp2MbNkx {
  color: #ffffff;
}
.textdayStatus_lastDayReserve__ltKp2VreYs {
  display: block;
}
.textdayStatus_midDayReserve__ltKp2XrGdN {
  display: block;
}
.textdayStatus_passedFirstDayReserve__ltKp2OhsA4 {
  color: #c5c5c5;
}
.textdayStatus_passedMidDayReserve__ltKp2O7Nt2 {
  color: #c5c5c5;
}
.textdayStatus_passedLastDayReserve__ltKp2MjPP {
  color: #c5c5c5;
}
.textdayStatus_passedSingleReserve__ltKp2FNqAx {
  color: #c5c5c5;
}
.p {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 7px;
  height: 7px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-8nedppYkGVaH);
  left: 2px;
  top: 2px;
  flex-shrink: 0;
  border-radius: 100%;
}
@media (max-width: 500px) {
  .p {
    left: 0;
    top: 0;
  }
}
@media (max-width: 350px) {
  .p {
    min-width: 7px;
    min-height: 7px;
    max-height: 7px;
    max-width: 7px;
    top: 0;
    left: 0;
  }
}
.pdayStatus_disabled {
  background: var(--token-8nedppYkGVaH);
  display: flex;
}
.pdayStatus_passedFirstDayReserve {
  opacity: 0.5;
}
.pdayStatus_passedMidDayReserve {
  opacity: 0.5;
}
.pdayStatus_passedLastDayReserve {
  opacity: 0.5;
}
.pdayStatus_passedSingleReserve {
  opacity: 0.5;
}
