.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #eeeeee;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 500px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 350px) {
  .root > * {
    grid-column: 4;
  }
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__nZsBh {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 2em 8px 1em;
}
.sideBar2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  left: auto;
  top: -12px;
  z-index: 1;
  position: fixed;
  bottom: auto;
  right: -7px;
}
@media (max-width: 1200px) {
  .sideBar2:global(.__wab_instance):global(.__wab_instance) {
    width: 70px;
    height: auto;
    z-index: 100;
    flex-shrink: 0;
  }
}
@media (max-width: 500px) {
  .sideBar2:global(.__wab_instance):global(.__wab_instance) {
    z-index: 1000000;
    height: auto;
  }
}
.freeBox__bMTr4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__bMTr4 {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.text__ia94Z {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
}
@media (max-width: 1200px) {
  .text__ia94Z {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .text__ia94Z {
    width: 80%;
  }
}
.profile:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 1em;
  min-width: 0;
  padding: 3em 8px 8px;
}
.container > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.container > :global(.__wab_flex-container) > *,
.container > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container > :global(.__wab_flex-container) > picture > img,
.container
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (max-width: 350px) {
  .container {
    padding-top: 0em;
  }
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  margin-bottom: 0px;
  background: none;
  border-radius: 30px;
}
.main {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.main > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.main > :global(.__wab_flex-container) > *,
.main > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.main > :global(.__wab_flex-container) > picture > img,
.main > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 15px;
}
._1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  min-width: 0;
  border-radius: 20px;
  padding: 8px;
  border-width: 1px;
}
._1 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
._1 > :global(.__wab_flex-container) > *,
._1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
._1 > :global(.__wab_flex-container) > picture > img,
._1 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 8px;
}
._11 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 4px;
}
.text__ueQv {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 15px;
}
.text___7AhQ6 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  padding-top: 0px;
}
.text__zpJea {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 15px;
}
._12 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.userPhone {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  min-width: 0;
}
._2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  min-width: 0;
  border-radius: 20px;
  padding: 8px;
  border-width: 1px;
}
._2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
._2 > :global(.__wab_flex-container) > *,
._2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
._2 > :global(.__wab_flex-container) > picture > img,
._2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 8px;
}
._16 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__gBs01 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  text-align: center;
  min-width: 0;
}
._13 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text___9S9Bm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  min-width: 0;
}
.text__v23TN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  text-align: center;
  min-width: 0;
}
._14 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__hBBpW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  min-width: 0;
}
.text__jGiIb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  text-align: center;
  min-width: 0;
}
._15 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text___6Zpvl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 15px;
  min-width: 0;
}
.text__ityMc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  min-width: 0;
}
.button__cJdtF:global(.__wab_instance) {
  max-width: 100%;
}
.svg__g80Vr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__vKogM {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___3CnqH {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #fcfcfc;
  min-width: 0;
  padding: 8px;
}
.freeBox___3CnqH > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox___3CnqH > :global(.__wab_flex-container) > *,
.freeBox___3CnqH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3CnqH > :global(.__wab_flex-container) > picture > img,
.freeBox___3CnqH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.shab {
  object-fit: cover;
  max-width: 100%;
  height: 42px;
}
.shab > picture > img {
  object-fit: cover;
}
.jabama {
  object-fit: cover;
  max-width: 100%;
  height: 42px;
}
.jabama > picture > img {
  object-fit: cover;
}
.jajiga {
  object-fit: cover;
  max-width: 100%;
  height: 42px;
}
.jajiga > picture > img {
  object-fit: cover;
}
.mihmansho {
  object-fit: cover;
  max-width: 100%;
  height: 42px;
}
.mihmansho > picture > img {
  object-fit: cover;
}
.mizbon {
  object-fit: cover;
  max-width: 100%;
  height: 42px;
}
.mizbon > picture > img {
  object-fit: cover;
}
.homsa {
  object-fit: cover;
  max-width: 100%;
  height: 42px;
}
.homsa > picture > img {
  object-fit: cover;
}
.otaghak {
  object-fit: cover;
  max-width: 100%;
  height: 42px;
}
.otaghak > picture > img {
  object-fit: cover;
}
.text__cmWvx {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 17px;
}
.reserveMainStack {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 2em 0px 8em;
}
.reserveMainStack > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.reserveMainStack > :global(.__wab_flex-container) > *,
.reserveMainStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.reserveMainStack > :global(.__wab_flex-container) > picture > img,
.reserveMainStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
@media (max-width: 1200px) {
  .reserveMainStack {
    max-width: 70%;
  }
}
@media (max-width: 500px) {
  .reserveMainStack {
    max-width: 100%;
  }
}
@media (max-width: 350px) {
  .reserveMainStack {
    padding-bottom: 10em;
    margin-bottom: 0px;
  }
}
.freeBox__uJ85I {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  background: var(--token-41VRhDKfihhY);
  cursor: pointer;
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
}
.website {
  width: 33%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  position: relative;
  padding: 4px 8px 4px 4px;
}
@media (max-width: 1200px) {
  .website {
    width: 33%;
    padding-left: 0px;
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
@media (max-width: 500px) {
  .website {
    width: 35%;
  }
}
@media (max-width: 350px) {
  .website {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 15px;
    width: 38%;
  }
}
.date {
  position: relative;
  width: 33%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  text-align: center;
  padding: 4px 8px 4px 4px;
}
@media (max-width: 1200px) {
  .date {
    width: 33%;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .date {
    padding-left: 0px;
    padding-right: 0px;
    width: 37%;
  }
}
@media (max-width: 350px) {
  .date {
    font-size: 15px;
    width: 40%;
  }
}
.name {
  position: relative;
  width: 33%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  text-align: left;
  padding: 4px 8px;
}
@media (max-width: 1200px) {
  .name {
    width: 33%;
    text-align: left;
  }
}
@media (max-width: 500px) {
  .name {
    width: 25%;
    padding-right: 0px;
    padding-left: 4px;
  }
}
@media (max-width: 350px) {
  .name {
    width: 22%;
    font-size: 15px;
  }
}
.reserveData:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.img {
  object-fit: cover;
  max-width: 100%;
  height: 160px;
}
.img > picture > img {
  object-fit: cover;
}
.text__eqa1B {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.returnButton {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #8165d6;
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
}
@media (max-width: 500px) {
  .returnButton {
    padding: 8px;
  }
}
.freeBox__zwnkN {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 80px;
  max-width: 50%;
  justify-content: center;
  align-items: center;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  padding: 0px;
}
@media (max-width: 1200px) {
  .freeBox__zwnkN {
    max-width: 70%;
  }
}
@media (max-width: 500px) {
  .freeBox__zwnkN {
    max-width: 90%;
    height: 60px;
  }
}
.text__maw5U {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-zy6xhYnWF8Y7);
  text-align: center;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__maw5U {
    font-size: 16px;
  }
}
.button__x5Anb:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
@media (max-width: 1200px) {
  .button__x5Anb:global(.__wab_instance) {
    max-width: 70%;
  }
}
@media (max-width: 500px) {
  .button__x5Anb:global(.__wab_instance) {
    max-width: 95%;
    margin-bottom: 2em;
    left: auto;
    top: auto;
    z-index: 1;
    position: relative;
    right: auto;
    bottom: auto;
  }
}
.svg__ib7G3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__tqdbP {
  color: var(--token-8nedppYkGVaH);
}
.svg__xmqhb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.favicon:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
