.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(
    50.0131761106702deg,
    #ebfaff 0%,
    #fcfcfc 27%,
    #ebfaff 50%,
    #fcfcfc 72%,
    #ebfaff 93%
  );
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 500px) {
  .root {
    background: linear-gradient(
      47deg,
      #ebfaff 0%,
      #fcfcfc 37%,
      #ebfaff 73%,
      #fcfcfc 95%
    );
  }
}
@media (max-width: 500px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 350px) {
  .root > * {
    grid-column: 4;
  }
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.navbarRntHeader:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
}
.freeBox__cn8R7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 20px;
}
.freeBox__cn8R7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__cn8R7 > :global(.__wab_flex-container) > *,
.freeBox__cn8R7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cn8R7 > :global(.__wab_flex-container) > picture > img,
.freeBox__cn8R7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  height: 76px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img {
    height: 50px;
    flex-shrink: 0;
  }
}
.text__rLw2K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  min-width: 0;
  padding: 17px 7px 7px;
}
@media (max-width: 1200px) {
  .text__rLw2K {
    font-weight: 400;
  }
}
@media (max-width: 500px) {
  .text__rLw2K {
    font-weight: 400;
    font-size: 16px;
    padding-top: 12px;
  }
}
@media (max-width: 350px) {
  .text__rLw2K {
    font-size: 15px;
    padding-top: 13px;
  }
}
.freeBox__rNjTb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 20px;
}
.freeBox__rNjTb > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__rNjTb > :global(.__wab_flex-container) > *,
.freeBox__rNjTb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rNjTb > :global(.__wab_flex-container) > picture > img,
.freeBox__rNjTb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.text__sxI4Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  min-width: 0;
  padding: 7px;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  width: 300px;
  margin-top: calc(10px + 0px) !important;
  margin-bottom: 10px;
}
@media (max-width: 1200px) {
  .button:global(.__wab_instance) {
    margin-top: calc(10px + 0px) !important;
  }
}
@media (max-width: 500px) {
  .button:global(.__wab_instance) {
    margin-top: calc(10px + 0px) !important;
  }
}
.svg__tlAb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___4TXm7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__yiK3J {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 15px 15px 99px;
}
@media (max-width: 500px) {
  .freeBox__yiK3J {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox__nepg6 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 3px;
}
.freeBox__nepg6 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__nepg6 > :global(.__wab_flex-container) > *,
.freeBox__nepg6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nepg6 > :global(.__wab_flex-container) > picture > img,
.freeBox__nepg6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.text__vqRx4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__vqRx4 {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .text__vqRx4 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
  }
}
@media (max-width: 350px) {
  .text__vqRx4 {
    font-size: 16px;
  }
}
.text__jjTWo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  min-width: 0;
  display: none;
}
@media (max-width: 1200px) {
  .text__jjTWo {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .text__jjTWo {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
  }
}
@media (max-width: 350px) {
  .text__jjTWo {
    font-size: 16px;
  }
}
.iframe__vLsgo:global(.__wab_instance) {
  width: 300px;
  height: 150px;
  max-width: 100%;
  object-fit: cover;
  flex-shrink: 0;
  display: none;
}
.embedHtml__y7JkN:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
  display: none;
}
.htmlVideo__yucuM:global(.__wab_instance) {
  width: 600px;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  border-radius: 20px;
}
@media (max-width: 1200px) {
  .htmlVideo__yucuM:global(.__wab_instance) {
    width: 550px;
  }
}
@media (max-width: 500px) {
  .htmlVideo__yucuM:global(.__wab_instance) {
    border-radius: 30px;
  }
}
.freeBox__vVBpa {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 15px 15px 99px;
}
@media (max-width: 500px) {
  .freeBox__vVBpa {
    padding-top: 28px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox__kphtq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 3px;
}
.freeBox__kphtq > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__kphtq > :global(.__wab_flex-container) > *,
.freeBox__kphtq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kphtq > :global(.__wab_flex-container) > picture > img,
.freeBox__kphtq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.text__c2E9M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 10px;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__c2E9M {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .text__c2E9M {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
  }
}
@media (max-width: 350px) {
  .text__c2E9M {
    font-size: 16px;
  }
}
.text__yQtX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  min-width: 0;
  display: none;
}
@media (max-width: 1200px) {
  .text__yQtX {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .text__yQtX {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
  }
}
@media (max-width: 350px) {
  .text__yQtX {
    font-size: 16px;
  }
}
.iframe___1TAO:global(.__wab_instance) {
  width: 300px;
  height: 150px;
  max-width: 100%;
  object-fit: cover;
  flex-shrink: 0;
  display: none;
}
.embedHtml__v1L9J:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
  display: none;
}
.htmlVideo__zdbxb:global(.__wab_instance) {
  width: 600px;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  border-radius: 20px;
}
@media (max-width: 1200px) {
  .htmlVideo__zdbxb:global(.__wab_instance) {
    width: 550px;
  }
}
@media (max-width: 500px) {
  .htmlVideo__zdbxb:global(.__wab_instance) {
    border-radius: 30px;
  }
}
.rentamonFooter:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.freeBox__dto94 {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
.clarityRntComponent:global(.__wab_instance) {
  display: none;
}
.faviconRntComponent:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
