.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: linear-gradient(
    24.372810125751016deg,
    #ebfaff 0%,
    #fcfcfc 20%,
    #ebfaff 39%,
    #fcfcfc 74%,
    #ebfaff 100%
  );
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 500px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 350px) {
  .root > * {
    grid-column: 4;
  }
}
.navbarRntHeader:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (max-width: 500px) {
  .navbarRntHeader:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 350px) {
  .navbarRntHeader:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.mainContents {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px 0px 20px;
}
@media (max-width: 1200px) {
  .mainContents {
    max-width: 100%;
    width: 100%;
    padding-bottom: 10px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 500px) {
  .mainContents {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 22px;
  }
}
@media (max-width: 350px) {
  .mainContents {
    margin-bottom: 0px;
    padding-bottom: 16px;
  }
}
.intro1st {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 20px 8px 8px;
}
@media (max-width: 1200px) {
  .intro1st {
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .intro1st {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.introTitle {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
@media (max-width: 500px) {
  .introTitle {
    padding-top: 0px;
    padding-right: 10px;
    max-width: 100%;
  }
}
@media (max-width: 350px) {
  .introTitle {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 0px;
    min-width: 0;
    padding: 6px 0px 8px;
  }
}
.text__r0SZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 600;
  padding-right: 0px;
  line-height: 1.8;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__r0SZ {
    font-size: 20px;
  }
}
@media (max-width: 350px) {
  .text__r0SZ {
    font-size: 17px;
    padding-left: 8px;
    padding-right: 8px;
  }
}
.teamImage {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (max-width: 1200px) {
  .teamImage {
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media (max-width: 500px) {
  .teamImage {
    display: flex;
    flex-direction: column;
    padding-right: 0px;
    padding-left: 0px;
    column-gap: 0px;
  }
}
.introImage {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 20px;
}
@media (max-width: 1200px) {
  .introImage {
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media (max-width: 500px) {
  .introImage {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 0px;
    min-width: 0;
    padding: 8px;
  }
}
@media (max-width: 350px) {
  .introImage {
    padding: 8px;
  }
}
.img___0Yxcz {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 50px;
}
.img___0Yxcz > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img___0Yxcz {
    border-radius: 30px;
  }
}
@media (max-width: 500px) {
  .img___0Yxcz {
    max-width: 100%;
    height: 260px;
    flex-shrink: 0;
    border-radius: 20px;
  }
}
@media (max-width: 350px) {
  .img___0Yxcz {
    height: 240px;
    flex-shrink: 0;
  }
}
.introduction {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 20px 8px 8px;
}
@media (max-width: 1200px) {
  .introduction {
    padding-right: 14px;
    padding-left: 14px;
    max-width: 70%;
  }
}
@media (max-width: 500px) {
  .introduction {
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 0px;
  }
}
@media (max-width: 350px) {
  .introduction {
    padding-top: 6px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.text__uRlUn {
  text-align: right;
  font-size: 17px;
  line-height: 1.8;
  padding-right: 0px;
  padding-top: 14px;
  font-weight: 500;
}
@media (max-width: 500px) {
  .text__uRlUn {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__uRlUn {
    font-size: 15px;
    padding-right: 8px;
    padding-left: 8px;
  }
}
.text__vRq0C {
  text-align: right;
  font-size: 17px;
  line-height: 1.8;
  padding-right: 0px;
  padding-top: 9px;
}
@media (max-width: 500px) {
  .text__vRq0C {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__vRq0C {
    font-size: 15px;
    padding-right: 8px;
    padding-left: 8px;
  }
}
.freeBox___4Q4Fb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 0px;
}
@media (max-width: 500px) {
  .freeBox___4Q4Fb {
    padding-top: 20px;
  }
}
.img__odfDe {
  object-fit: cover;
  max-width: 10%;
}
.img__odfDe > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__odfDe {
    max-width: 16%;
  }
}
.freeBox__ciToe {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 29px 8px 8px;
}
@media (max-width: 350px) {
  .freeBox__ciToe {
    padding-top: 31px;
    padding-bottom: 0px;
  }
}
.text___1Ew7O {
  text-align: center;
  font-size: 20px;
  line-height: 1.8;
  padding-right: 0px;
  font-weight: 600;
}
@media (max-width: 500px) {
  .text___1Ew7O {
    font-size: 17px;
  }
}
.freeBox__oQAg3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
      ellipse 40% 60% at 47% 51%,
      #ffffda 0%,
      #56b9ff00 100%
    )
    0% 0% / 100% 100% repeat;
  min-width: 0;
  padding: 32px 8px 28px;
}
@media (max-width: 500px) {
  .freeBox__oQAg3 {
    background: radial-gradient(
        ellipse 70% 50% at 50% 52%,
        #ffffda 0%,
        #56b9ff00 100%
      )
      0% 0% / 100% 100% repeat;
  }
}
@media (max-width: 350px) {
  .freeBox__oQAg3 {
    background: radial-gradient(
        ellipse 60% 46% at 50% 52%,
        #ffffda 0%,
        #56b9ff00 100%
      )
      0% 0% / 100% 100% repeat;
    padding-top: 15px;
  }
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  text-align: center;
}
.cta {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #fcfcfc;
  min-width: 0;
  border-radius: 50px;
  padding: 30px 14px 26px;
  border-width: 2px;
}
@media (max-width: 1200px) {
  .cta {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 20px;
  }
}
@media (max-width: 500px) {
  .cta {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    column-gap: 0px;
    border-radius: 30px;
  }
}
@media (max-width: 350px) {
  .cta {
    padding-top: 12px;
    padding-right: 0px;
    padding-left: 0px;
    border-radius: 30px;
  }
}
.ctaText {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 20px 8px 8px;
}
@media (max-width: 1200px) {
  .ctaText {
    max-width: 70%;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 0px 14px 8px;
  }
}
@media (max-width: 500px) {
  .ctaText {
    max-width: 100%;
    padding-top: 18px;
  }
}
@media (max-width: 350px) {
  .ctaText {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 6px 0px 8px;
  }
}
.text___7S8Zm {
  text-align: center;
  font-size: 17px;
  line-height: 1.8;
  padding-right: 30px;
  padding-left: 30px;
  font-weight: 600;
}
@media (max-width: 1200px) {
  .text___7S8Zm {
    padding-top: 20px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 18px;
    text-align: right;
    line-height: 1.8;
  }
}
@media (max-width: 500px) {
  .text___7S8Zm {
    font-size: 16px;
    padding-top: 8px;
    text-align: center;
  }
}
@media (max-width: 350px) {
  .text___7S8Zm {
    font-size: 15px;
    padding-top: 0px;
    text-align: center;
  }
}
.ctaButton {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
  min-width: 0;
  padding: 18px 8px 8px;
}
@media (max-width: 1200px) {
  .ctaButton {
    padding-right: 0px;
    padding-left: 0px;
    column-gap: 20px;
    row-gap: 0px;
  }
}
@media (max-width: 500px) {
  .ctaButton {
    padding-right: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: column-reverse;
    max-width: 90%;
    row-gap: 20px;
    column-gap: 0px;
  }
}
@media (max-width: 350px) {
  .ctaButton {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 10px;
  }
}
.text__vvG7H {
  position: relative;
  width: 274px;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #fcfcfc;
  background: #8165d6;
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 30px;
  padding: 14px 50px;
  margin: 0px;
  border: 2px solid #8165d6;
}
@media (max-width: 1200px) {
  .text__vvG7H {
    width: 287px;
    flex-shrink: 0;
  }
}
@media (max-width: 500px) {
  .text__vvG7H {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__vvG7H {
    width: 100%;
    font-size: 18px;
    min-width: 0;
    padding: 12px 22px;
  }
}
.freeBox__cvTxm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  align-self: auto;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__cvTxm {
    top: auto;
    left: auto;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  flex-grow: 0;
  flex-shrink: 1;
  transform: none;
}
.svg___3Aj3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__du189 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__vWzFd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.ctaText2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 20px 8px 8px;
}
@media (max-width: 1200px) {
  .ctaText2 {
    max-width: 100%;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 0px 14px 8px;
  }
}
@media (max-width: 500px) {
  .ctaText2 {
    max-width: 100%;
    padding-top: 10px;
  }
}
@media (max-width: 350px) {
  .ctaText2 {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 6px 8px 8px;
  }
}
.text__z4SpY {
  text-align: center;
  font-size: 16px;
  line-height: 1.8;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 20px;
  width: 100%;
  color: var(--token-8nedppYkGVaH);
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__z4SpY {
    padding-top: 20px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 15px;
    text-align: center;
    line-height: 1.8;
  }
}
@media (max-width: 500px) {
  .text__z4SpY {
    font-size: 15px;
    padding-top: 8px;
    text-align: center;
    color: var(--token-8nedppYkGVaH);
  }
}
@media (max-width: 350px) {
  .text__z4SpY {
    font-size: 13px;
    padding-top: 0px;
    text-align: center;
  }
}
.shareLink:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  align-self: auto;
}
.freeBox__ybr0A {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 24px;
  min-width: 0;
  border-radius: 30px;
  padding: 20px;
  border-width: 2px;
}
@media (max-width: 500px) {
  .freeBox__ybr0A {
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 10px;
    margin-top: 14px;
  }
}
@media (max-width: 350px) {
  .freeBox__ybr0A {
    margin-top: 0px;
    border-radius: 0px;
    padding: 0px;
    border-width: 0px;
  }
}
.refertxt {
  font-size: 16px;
  text-align: right;
  user-select: text;
}
@media (max-width: 1200px) {
  .refertxt {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  .refertxt {
    font-size: 14px;
  }
}
@media (max-width: 350px) {
  .refertxt {
    font-size: 13px;
    padding-top: 8px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    border-width: 2px;
  }
}
.ctaButton2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 30px 0px 8px;
}
@media (max-width: 1200px) {
  .ctaButton2 {
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media (max-width: 500px) {
  .ctaButton2 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .ctaButton2 {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 22px;
  }
}
.freeBox__nosZ8 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-8nedppYkGVaH);
  cursor: pointer;
  min-width: 0;
  border-radius: 50px;
  padding: 8px;
  margin: 0px;
}
@media (max-width: 1200px) {
  .freeBox__nosZ8 {
    background: var(--token-8nedppYkGVaH);
    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    row-gap: 0px;
    border-radius: 50px;
    margin: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__nosZ8 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.text__jWl2Q {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #fcfcfc;
  background: none;
  cursor: pointer;
  margin-left: 0px;
  border-radius: 30px;
  padding: 12px 20px 12px 11px;
}
@media (max-width: 1200px) {
  .text__jWl2Q {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 20px;
    font-weight: 600;
    color: #fcfcfc;
    text-align: center;
    background: none;
    cursor: pointer;
    margin-right: 0px;
    border-radius: 30px;
    padding: 0px 9px 0px 10px;
    border-width: 0px;
  }
}
@media (max-width: 500px) {
  .text__jWl2Q {
    width: auto;
  }
}
@media (max-width: 350px) {
  .text__jWl2Q {
    width: auto;
    padding: 0px 7px 0px 8px;
  }
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: #fcfcfc;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}
.text__bzTHz {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  padding-top: 3px;
}
@media (max-width: 500px) {
  .text__bzTHz {
    font-size: 18px;
  }
}
@media (max-width: 350px) {
  .text__bzTHz {
    font-size: 18px;
  }
}
.freeBox__zy5QH {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 15px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px 0px;
}
@media (max-width: 1200px) {
  .freeBox__zy5QH {
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .freeBox__zy5QH {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__gdp1I {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-8R7jjC_-F9FF);
  row-gap: 10px;
  min-width: 0;
  border-radius: 15px;
  padding: 0px 0px 8px;
  border-width: 2px;
}
@media (max-width: 500px) {
  .freeBox__gdp1I {
    border-radius: 0px;
  }
}
.freeBox__fDkXb {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-dAT-hrQjCPpo);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  min-width: 0;
  padding: 14px 8px;
}
@media (max-width: 500px) {
  .freeBox__fDkXb {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}
.freeBox__z9E3B {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 30%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 500px) {
  .freeBox__z9E3B {
    width: 20%;
  }
}
@media (max-width: 350px) {
  .freeBox__z9E3B {
    max-width: 100%;
    width: 24%;
  }
}
.text__oysSn {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  text-align: center;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__oysSn {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 14px;
    text-align: center;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__oysSn {
    font-size: 13px;
  }
}
.freeBox___9OyKc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 30%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 500px) {
  .freeBox___9OyKc {
    width: 20%;
  }
}
@media (max-width: 350px) {
  .freeBox___9OyKc {
    max-width: 100%;
    width: 24%;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
  }
}
.text__qqO4L {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  text-align: center;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__qqO4L {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 14px;
    text-align: center;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__qqO4L {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 13px;
    text-align: center;
    min-width: 0;
  }
}
.freeBox__sCzW4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 350px) {
  .freeBox__sCzW4 {
    max-width: 100%;
    width: 45%;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
  }
}
.text__kilUs {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  text-align: center;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__kilUs {
    font-size: 14px;
  }
}
@media (max-width: 350px) {
  .text__kilUs {
    font-size: 13px;
    width: 100%;
    height: auto;
    max-width: 100%;
    text-align: center;
    min-width: 0;
  }
}
.freeBox__k4YbL {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 30%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 350px) {
  .freeBox__k4YbL {
    max-width: 29%;
    width: 35%;
  }
}
.text__qs8ZC {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  text-align: center;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__qs8ZC {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 14px;
    text-align: center;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__qs8ZC {
    font-size: 13px;
    width: 100%;
    height: auto;
    max-width: 100%;
    text-align: center;
    min-width: 0;
  }
}
.freeBox__ztFk {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__tX50X {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 30%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 500px) {
  .freeBox__tX50X {
    width: 20%;
  }
}
@media (max-width: 350px) {
  .freeBox__tX50X {
    width: 25%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    padding: 0px;
  }
}
.text__susvn {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  text-align: center;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__susvn {
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .text__susvn {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 13px;
    text-align: center;
    min-width: 0;
  }
}
.freeBox__wYvn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 30%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__wYvn {
    width: 20%;
  }
}
@media (max-width: 350px) {
  .freeBox__wYvn {
    width: 25%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    padding: 0px;
  }
}
.text__bmRh {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  text-align: center;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__bmRh {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    text-align: center;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__bmRh {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 13px;
    text-align: center;
    min-width: 0;
  }
}
.freeBox__znaIq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
@media (max-width: 350px) {
  .freeBox__znaIq {
    width: 45%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    padding: 0px;
  }
}
.text__sVmT9 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  text-align: center;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__sVmT9 {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    text-align: center;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__sVmT9 {
    font-size: 13px;
  }
}
.freeBox__eQaNs {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 30%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
@media (max-width: 350px) {
  .freeBox__eQaNs {
    width: 35%;
    height: auto;
    max-width: 29%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    padding: 0px;
  }
}
.text__yods0 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  text-align: center;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__yods0 {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    text-align: center;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__yods0 {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 13px;
    text-align: center;
    min-width: 0;
  }
}
.freeBox__leVaB {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-8R7jjC_-F9FF);
  min-width: 0;
  border-radius: 15px;
  padding: 0px 0px 8px;
  border-width: 2px;
}
@media (max-width: 500px) {
  .freeBox__leVaB {
    border-radius: 0px;
  }
}
.freeBox__nIhuu {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-dAT-hrQjCPpo);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  min-width: 0;
  padding: 14px 8px;
}
@media (max-width: 500px) {
  .freeBox__nIhuu {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}
.text__m5MWl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  min-width: 0;
}
.apiRequest2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__l4WmW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  min-width: 0;
}
.text__dmLq6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__pIvhO {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__aEReQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  min-width: 0;
}
.freeBox__ylm9Q {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  min-width: 0;
  padding: 8px;
}
.freeBox__qtgvs {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__qtgvs {
    max-width: 34%;
  }
}
.link {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  font-family: "Estedad";
  min-width: 0;
}
@media (max-width: 500px) {
  .link {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    text-align: center;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .link {
    font-size: 15px;
  }
}
.freeBox___30Pc {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox___30Pc {
    justify-content: center;
    align-items: center;
    max-width: 14%;
  }
}
@media (max-width: 350px) {
  .freeBox___30Pc {
    max-width: 16%;
  }
}
.img__qgUbn {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  flex-shrink: 0;
}
.img__qgUbn > picture > img {
  object-fit: cover;
}
@media (max-width: 350px) {
  .img__qgUbn {
    width: 30px;
    flex-shrink: 0;
  }
}
.img__lkOxy {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  flex-shrink: 0;
}
.img__lkOxy > picture > img {
  object-fit: cover;
}
.freeBox__o47Ei {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___7UZC {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  text-align: center;
  min-width: 0;
}
@media (max-width: 500px) {
  .text___7UZC {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    text-align: center;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text___7UZC {
    font-size: 15px;
  }
}
.rules {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 8px 20px;
}
@media (max-width: 1200px) {
  .rules {
    max-width: 90%;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 0px;
    min-width: 0;
    padding: 0px 14px 40px;
  }
}
@media (max-width: 500px) {
  .rules {
    max-width: 100%;
    padding-top: 22px;
    padding-bottom: 20px;
  }
}
@media (max-width: 350px) {
  .rules {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 0px;
    min-width: 0;
    padding: 0px 0px 20px;
  }
}
.text__fzwa0 {
  text-align: right;
  font-size: 17px;
  line-height: 1.8;
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  width: 100%;
  font-weight: 600;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__fzwa0 {
    padding-right: 0px;
    font-size: 16px;
    text-align: right;
    line-height: 1.8;
    padding-left: 0px;
  }
}
@media (max-width: 500px) {
  .text__fzwa0 {
    font-size: 16px;
    padding-top: 0px;
  }
}
@media (max-width: 350px) {
  .text__fzwa0 {
    font-size: 15px;
    padding-top: 24px;
    padding-right: 8px;
  }
}
.text__wamHc {
  text-align: right;
  font-size: 17px;
  line-height: 2;
  width: 100%;
  min-width: 0;
  padding: 12px 30px 0px;
}
@media (max-width: 1200px) {
  .text__wamHc {
    padding-right: 0px;
    font-size: 16px;
    text-align: right;
    line-height: 1.8;
    padding-left: 0px;
  }
}
@media (max-width: 500px) {
  .text__wamHc {
    font-size: 15px;
    padding-top: 9px;
    line-height: 2;
  }
}
@media (max-width: 350px) {
  .text__wamHc {
    font-size: 14px;
    padding-top: 12px;
    padding-right: 8px;
    padding-left: 8px;
  }
}
.smsImage {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 25px 0px 8px;
}
@media (max-width: 1200px) {
  .smsImage {
    padding-right: 10px;
    padding-left: 10px;
    max-width: 80%;
  }
}
@media (max-width: 500px) {
  .smsImage {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 100%;
    column-gap: 0px;
  }
}
@media (max-width: 350px) {
  .smsImage {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.img__uxHdh {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 50px;
}
.img__uxHdh > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__uxHdh {
    border-radius: 30px;
  }
}
@media (max-width: 500px) {
  .img__uxHdh {
    max-width: 100%;
    border-radius: 0px;
  }
}
.tips {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 18px 8px 55px;
}
@media (max-width: 1200px) {
  .tips {
    max-width: 90%;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 0px;
    min-width: 0;
    padding: 0px 14px 40px;
  }
}
@media (max-width: 500px) {
  .tips {
    max-width: 100%;
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    padding: 31px 12px 55px;
  }
}
@media (max-width: 350px) {
  .tips {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    padding: 0px 8px 46px;
  }
}
.text___8XjgW {
  text-align: right;
  font-size: 17px;
  line-height: 1.8;
  width: 100%;
  font-weight: 600;
  min-width: 0;
  padding: 30px 12px 0px 30px;
}
@media (max-width: 1200px) {
  .text___8XjgW {
    padding-right: 0px;
    font-size: 16px;
    text-align: right;
    line-height: 1.8;
    padding-left: 0px;
    padding-bottom: 0px;
  }
}
@media (max-width: 500px) {
  .text___8XjgW {
    font-size: 15px;
    padding-top: 0px;
  }
}
@media (max-width: 350px) {
  .text___8XjgW {
    font-size: 15px;
    padding-top: 24px;
  }
}
.text__afnP3 {
  text-align: right;
  font-size: 17px;
  line-height: 1.8;
  padding-top: 12px;
  padding-right: 30px;
  padding-left: 30px;
  width: 100%;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__afnP3 {
    padding-right: 0px;
    font-size: 16px;
    text-align: right;
    line-height: 1.8;
    padding-left: 0px;
  }
}
@media (max-width: 500px) {
  .text__afnP3 {
    font-size: 15px;
    padding-top: 10px;
  }
}
@media (max-width: 350px) {
  .text__afnP3 {
    font-size: 14px;
    padding-top: 12px;
  }
}
.ul__eLnMx {
  display: flex;
  flex-direction: column;
}
.ul___6E6Ef {
  display: flex;
  flex-direction: column;
}
.ul___4W28U {
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  .ul___4W28U {
    padding: 0px 14px 0px 0px;
  }
}
.ul__kaO80 {
  display: flex;
  flex-direction: column;
}
@media (max-width: 350px) {
  .ul__kaO80 {
    padding-right: 16px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .li__ysSF {
    padding-top: 0px;
  }
}
.rentamonFooter:global(.__wab_instance) {
  max-width: 100%;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.navbarRntFooter:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___3Atjn {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
.clarityRntComponent:global(.__wab_instance) {
  display: none;
}
.faviconRntComponent:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
