.platformsProfile {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.platformsProfile > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .platformsProfile > * {
    grid-column: 4;
  }
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.httpRestApiFetcher:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  justify-self: center;
  min-width: 0;
}
.freeBox__s5BqJ {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 101px;
}
.freeBox___48ObF {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 20px 0px 8px;
}
.freeBox__kl6Ov {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 140px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 768px) {
  .freeBox__kl6Ov {
    max-width: 30%;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding: 0px;
  }
}
.img {
  object-fit: cover;
  max-width: 100%;
  border-radius: 30px;
  border-width: 2px;
  border-style: solid;
}
.img > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img {
    width: 114px;
    border-radius: 20px;
  }
}
.freeBox__rwd8X {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 768px) {
  .freeBox__rwd8X {
    max-width: 70%;
    padding-right: 10px;
    padding-left: 0px;
    align-items: flex-end;
    justify-content: center;
    align-self: center;
  }
}
.freeBox__nrqPr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 9px 0px 8px;
}
@media (max-width: 768px) {
  .freeBox__nrqPr {
    padding-right: 0px;
  }
}
.text__qlNl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 22px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__qlNl {
    max-width: 50%;
    align-self: center;
    font-size: 18px;
    padding-right: 0px;
  }
}
.text__tEs0A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  padding-right: 10px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__tEs0A {
    max-width: 50%;
    align-self: flex-start;
    font-size: 14px;
    margin-right: 0px;
    padding-right: 0px;
  }
}
.text__qOu1H {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 400;
  font-family: "Estedad";
  text-align: right;
  padding-right: 10px;
  padding-top: 4px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__qOu1H {
    font-size: 12px;
    max-width: 100%;
    margin-right: 0px;
    padding-right: 0px;
  }
}
.freeBox__hTDv {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 49px 8px 8px;
}
@media (max-width: 768px) {
  .freeBox__hTDv {
    padding-top: 30px;
  }
}
.text__tpdpv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 12px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__tpdpv {
    padding: 0px;
  }
}
.freeBox__ljlIv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 768px) {
  .freeBox__ljlIv {
    margin-top: 30px;
    border-bottom-width: 2px;
    border-bottom-style: dotted;
    align-self: center;
  }
}
.text__gqy8E {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  text-align: center;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__gqy8E {
    font-size: 12px;
  }
}
.text__kflBb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__kflBb {
    font-size: 12px;
    align-self: center;
    padding-right: 30px;
  }
}
.survey {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 34px;
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
  border-width: 2px;
}
@media (max-width: 768px) {
  .survey {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.text__oQdWn {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Estedad";
  border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  font-weight: 600;
  position: relative;
  min-width: 0;
  border-radius: 30px;
  padding: 30px 16px 0px;
  border-width: 0px;
}
@media (max-width: 768px) {
  .text__oQdWn {
    font-size: 14px;
    padding-right: 9px;
    padding-left: 4px;
    padding-top: 23px;
    font-family: "Vazirmatn", sans-serif;
    font-weight: 500;
  }
}
.text__ie4Fa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  font-family: "Estedad";
  font-weight: 400;
  min-width: 0;
  border-radius: 30px;
  padding: 10px 16px 0px;
  border-width: 0px;
}
@media (max-width: 768px) {
  .text__ie4Fa {
    font-size: 12px;
    padding-right: 10px;
    padding-left: 4px;
    margin-bottom: 14px;
  }
}
.freeBox__laFLy {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 768px) {
  .freeBox__laFLy {
    padding-top: 0px;
    border-bottom-width: 0px;
    border-bottom-style: dotted;
  }
}
.columns__spTc {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  border-left-width: 0px;
  border-left-style: solid;
  border-right-width: 0px;
  border-right-style: solid;
  border-top-width: 0px;
  border-top-style: solid;
  justify-content: flex-start;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 10px 0px 8px 8px;
  border-bottom: 1px dotted #c2c2c2;
}
.columns__spTc > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__spTc > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__spTc {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    border-top-width: 0px;
    border-top-style: solid;
    border-right-width: 0px;
    border-left-width: 0px;
    max-width: 100%;
    border-right-style: solid;
    border-left-style: solid;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 10px 0px 8px;
    border-bottom: 1px dotted #c2c2c2;
  }
}
@media (max-width: 768px) {
  .columns__spTc > :nth-child(2n + 1) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
@media (max-width: 768px) {
  .columns__spTc > :nth-child(2n + 2) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
.column__xeiyb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
@media (max-width: 768px) {
  .column__xeiyb {
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
  }
}
.freeBox__mAu {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 768px) {
  .freeBox__mAu {
    padding-left: 0px;
  }
}
.text___9MYqx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (max-width: 768px) {
  .text___9MYqx {
    font-size: 13px;
    text-align: right;
  }
}
.column__eoPuj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.selectAccess:global(.__wab_instance) {
  max-width: 100%;
  width: 100px;
}
@media (max-width: 768px) {
  .selectAccess:global(.__wab_instance) {
    flex-grow: 0;
  }
}
@media (max-width: 768px) {
  .text__agVku {
    font-size: 13px;
    color: #444444;
    text-align: center;
    padding-right: 6px;
    line-height: 1.2;
  }
}
.columns__boBt {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  border-left-width: 0px;
  border-left-style: solid;
  border-right-width: 0px;
  border-right-style: solid;
  border-top-width: 0px;
  border-top-style: solid;
  justify-content: flex-start;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 10px 0px 8px 8px;
  border-bottom: 1px dotted #c2c2c2;
}
.columns__boBt > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__boBt > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__boBt {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    border-top-width: 0px;
    border-top-style: solid;
    border-right-width: 0px;
    border-left-width: 0px;
    max-width: 100%;
    border-right-style: solid;
    border-left-style: solid;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 10px 0px 8px;
    border-bottom: 1px dotted #c2c2c2;
  }
}
@media (max-width: 768px) {
  .columns__boBt > :nth-child(2n + 1) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
@media (max-width: 768px) {
  .columns__boBt > :nth-child(2n + 2) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
.column__xmHdg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
@media (max-width: 768px) {
  .column__xmHdg {
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
  }
}
.freeBox__yPopI {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 768px) {
  .freeBox__yPopI {
    padding-left: 0px;
  }
}
.text__o3Stp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__o3Stp {
    font-size: 13px;
    text-align: right;
  }
}
.column__dCcIi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.supportSpeed:global(.__wab_instance) {
  max-width: 100%;
  width: 100px;
}
@media (max-width: 768px) {
  .supportSpeed:global(.__wab_instance) {
    flex-grow: 0;
  }
}
@media (max-width: 768px) {
  .text__qg9C6 {
    font-size: 13px;
    color: #444444;
    text-align: center;
    padding-right: 6px;
    line-height: 1.2;
  }
}
.columns___710M2 {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  border-left-width: 0px;
  border-left-style: solid;
  border-right-width: 0px;
  border-right-style: solid;
  border-top-width: 0px;
  border-top-style: solid;
  justify-content: flex-start;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 10px 0px 8px 8px;
  border-bottom: 1px dotted #c2c2c2;
}
.columns___710M2 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___710M2 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns___710M2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    border-top-width: 0px;
    border-top-style: solid;
    border-right-width: 0px;
    border-left-width: 0px;
    max-width: 100%;
    border-right-style: solid;
    border-left-style: solid;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 10px 0px 8px;
    border-bottom: 1px dotted #c2c2c2;
  }
}
@media (max-width: 768px) {
  .columns___710M2 > :nth-child(2n + 1) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
@media (max-width: 768px) {
  .columns___710M2 > :nth-child(2n + 2) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
.column__qf1Xs {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
@media (max-width: 768px) {
  .column__qf1Xs {
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
  }
}
.freeBox__s2M2O {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 768px) {
  .freeBox__s2M2O {
    padding-left: 0px;
  }
}
.text__tUj6E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__tUj6E {
    font-size: 13px;
    text-align: right;
  }
}
.column__fkUjV {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.supportJudgment:global(.__wab_instance) {
  max-width: 100%;
  width: 100px;
}
@media (max-width: 768px) {
  .supportJudgment:global(.__wab_instance) {
    flex-grow: 0;
  }
}
@media (max-width: 768px) {
  .text__eud5R {
    font-size: 13px;
    color: #444444;
    text-align: center;
    padding-right: 6px;
    line-height: 1.2;
  }
}
.linkbtn:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  text-align: center;
  color: #fcfcfc;
  position: absolute;
  left: 0px;
  top: 0px;
  background: #ffffff73;
  margin-right: 20px;
  border-radius: 30px;
  border: 2px solid var(--token-8nedppYkGVaH);
}
.text__sTSed {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-8nedppYkGVaH);
  min-width: 0;
}
.submit:global(.__wab_instance) {
  max-width: 100%;
  width: 260px;
  margin-bottom: 30px;
  margin-top: 30px;
}
@media (max-width: 768px) {
  .submit:global(.__wab_instance) {
    height: 47px;
    width: 230px;
    margin-top: 24px;
    flex-shrink: 0;
  }
}
.svg___1WUzh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__jm4Ux {
  padding: 8px 40px;
}
@media (max-width: 768px) {
  .text__jm4Ux {
    font-size: 14px;
  }
}
.svg__nmDpY {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__fjWbg {
  width: 240px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  border-radius: 30px;
  padding: 18px 40px;
  border: 3px solid var(--token-8nedppYkGVaH);
}
@media (max-width: 768px) {
  .freeBox__fjWbg {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
.text__rGlTw {
  font-weight: 600;
  color: var(--token-jgohepLVeKvh);
  text-align: center;
}
.freeBox__cJr7H {
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 50%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 768px) {
  .freeBox__cJr7H {
    display: none;
  }
}
.freeBox___1Jlei {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 768px) {
  .freeBox___1Jlei {
    max-width: 50%;
    display: none;
  }
}
