.navFoot {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  max-height: 56px;
  position: relative;
  min-height: 56px;
  min-width: 0;
  padding: 0px 8px 2px;
}
@media (max-width: 350px) {
  .navFoot {
    width: 100%;
    max-height: 52px;
    min-height: 52px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    padding: 0px;
  }
}
.top {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 30px;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  overflow: visible;
  max-height: 30px;
  min-height: 30px;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px 8px;
}
@media (max-width: 350px) {
  .top {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    height: 28px;
    min-height: 28px;
    max-height: 28px;
    flex-shrink: 0;
  }
}
.menu {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  flex-direction: row;
  min-width: 0;
  padding: 0px;
}
.menu > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
}
@media (max-width: 350px) {
  .menu {
    width: 100%;
    height: auto;
    max-width: 25%;
    cursor: pointer;
    flex-direction: column;
    min-width: 0;
    padding: 0px;
  }
}
@media (max-width: 350px) {
  .menu > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 350px) {
  .menu > :global(.__wab_flex-container) > *,
  .menu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .menu > :global(.__wab_flex-container) > picture > img,
  .menu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.normMenu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 500px) {
  .normMenu {
    display: flex;
  }
}
@media (max-width: 350px) {
  .normMenu {
    display: flex;
  }
}
.svg__y8AJf {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  width: 30px;
  height: 24px;
  flex-shrink: 0;
}
@media (max-width: 350px) {
  .svg__y8AJf {
    width: auto;
    height: 24px;
    max-width: 30px;
    color: #acacac;
    flex-shrink: 0;
  }
}
.top4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 500px) {
  .top4 {
    display: flex;
  }
}
@media (max-width: 350px) {
  .top4 {
    display: flex;
  }
}
.backSett {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 34px;
  min-width: 34px;
  min-height: 34px;
  background: #fcfcfc;
  max-height: 34px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  padding: 0px;
}
.backSett > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.backSett > :global(.__wab_flex-container) > *,
.backSett > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.backSett > :global(.__wab_flex-container) > picture > img,
.backSett
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (max-width: 350px) {
  .backSett {
    min-width: 34px;
    max-width: 34px;
    min-height: 34px;
    max-height: 34px;
    width: 34px;
    height: 34px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }
}
@media (max-width: 350px) {
  .backSett > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 350px) {
  .backSett > :global(.__wab_flex-container) > *,
  .backSett > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .backSett > :global(.__wab_flex-container) > picture > img,
  .backSett
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.svg___6PDfU {
  object-fit: cover;
  max-width: 28px;
  color: #acacac;
  width: auto;
  height: 22px;
  flex-shrink: 0;
}
@media (max-width: 350px) {
  .svg___6PDfU {
    width: auto;
    height: 24px;
    max-width: 30px;
    color: #acacac;
    flex-shrink: 0;
  }
}
.cal {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 350px) {
  .cal {
    width: 100%;
    height: auto;
    max-width: 25%;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
    padding: 0px;
  }
}
.top1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.backCal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 34px;
  justify-content: center;
  align-items: center;
  min-width: 34px;
  min-height: 34px;
  background: #fcfcfc;
  max-height: 34px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  padding: 0px;
}
@media (max-width: 350px) {
  .backCal {
    min-width: 34px;
    max-width: 34px;
    min-height: 34px;
    max-height: 34px;
    width: 34px;
    height: 34px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }
}
.svg___5FnM {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  width: 30px;
  height: 22px;
  flex-shrink: 0;
}
.normCal {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.svg__aZ9Q4 {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  width: 30px;
  height: 24px;
  flex-shrink: 0;
}
@media (max-width: 350px) {
  .svg__aZ9Q4 {
    width: auto;
    height: 24px;
    max-width: 30px;
    color: #acacac;
    flex-shrink: 0;
  }
}
.res {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  min-width: 0;
  padding: 0px;
}
.res > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
@media (max-width: 350px) {
  .res {
    width: 100%;
    height: auto;
    max-width: 25%;
    cursor: pointer;
    flex-direction: column;
    min-width: 0;
    padding: 0px;
  }
}
@media (max-width: 350px) {
  .res > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 350px) {
  .res > :global(.__wab_flex-container) > *,
  .res > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .res > :global(.__wab_flex-container) > picture > img,
  .res > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
    margin-left: 0px;
  }
}
.top2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.backRes {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 34px;
  justify-content: center;
  align-items: center;
  min-width: 34px;
  min-height: 34px;
  background: #fcfcfc;
  max-height: 34px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  padding: 0px;
}
@media (max-width: 350px) {
  .backRes {
    min-width: 34px;
    max-width: 34px;
    min-height: 34px;
    max-height: 34px;
    width: 34px;
    height: 34px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }
}
.img___2MPaI {
  object-fit: cover;
  max-width: 28px;
  width: auto;
  height: 22px;
  flex-shrink: 0;
}
.img___2MPaI > picture > img {
  object-fit: cover;
}
.normRes {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 350px) {
  .normRes {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    padding: 0px;
  }
}
.img__jYzcK {
  object-fit: cover;
  max-width: 30px;
  width: auto;
  height: 24px;
  flex-shrink: 0;
}
.img__jYzcK > picture > img {
  object-fit: cover;
}
.props {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  min-width: 0;
  padding: 0px;
}
.props > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
@media (max-width: 350px) {
  .props {
    width: 100%;
    height: auto;
    max-width: 25%;
    cursor: pointer;
    flex-direction: column;
    min-width: 0;
    padding: 0px;
  }
}
@media (max-width: 350px) {
  .props > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 350px) {
  .props > :global(.__wab_flex-container) > *,
  .props > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .props > :global(.__wab_flex-container) > picture > img,
  .props
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.top3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.backProps {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 34px;
  justify-content: center;
  align-items: center;
  min-width: 34px;
  min-height: 34px;
  background: #fcfcfc;
  max-height: 34px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  padding: 0px;
}
@media (max-width: 350px) {
  .backProps {
    min-width: 34px;
    max-width: 34px;
    min-height: 34px;
    max-height: 34px;
    width: 34px;
    height: 34px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }
}
.svg__cpVuT {
  object-fit: cover;
  max-width: 30px;
  color: #acacac;
  width: auto;
  height: 24px;
  flex-shrink: 0;
}
.normProps {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.svg___3Yheu {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  width: 32px;
  height: 26px;
  flex-shrink: 0;
}
@media (max-width: 350px) {
  .svg___3Yheu {
    width: auto;
    height: 24px;
    max-width: 30px;
    color: #acacac;
    flex-shrink: 0;
  }
}
.bot {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 24px;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-height: 24px;
  max-height: 24px;
  min-width: 0;
  flex-shrink: 0;
  padding: 2px 8px 0px;
}
@media (max-width: 350px) {
  .bot {
    padding: 2px 0px;
  }
}
.freeBox__jBF1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 350px) {
  .freeBox__jBF1 {
    width: 100%;
    height: auto;
    max-width: 25%;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
    padding: 0px;
  }
}
.freeBox__n9Wh1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 350px) {
  .freeBox__n9Wh1 {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 0px;
  }
}
.text___7A8Zo {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  padding-top: 0px;
  font-weight: 500;
  user-select: none;
  min-width: 0;
}
.freeBox__bjtom {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 25%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 350px) {
  .freeBox__bjtom {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.freeBox__ubiag {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 350px) {
  .freeBox__ubiag {
    padding-top: 0px;
  }
}
.text__lJohS {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  padding-top: 0px;
  font-weight: 500;
  user-select: none;
  min-width: 0;
}
.freeBox___6SisB {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 350px) {
  .freeBox___6SisB {
    width: 100%;
    height: auto;
    max-width: 25%;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
    padding: 0px;
  }
}
.freeBox__e0Sqm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 350px) {
  .freeBox__e0Sqm {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 0px;
  }
}
.text___4RjZj {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  padding-top: 0px;
  font-weight: 500;
  user-select: none;
  min-width: 0;
}
.freeBox___7Zx5B {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 350px) {
  .freeBox___7Zx5B {
    width: 100%;
    height: auto;
    max-width: 25%;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
    padding: 0px;
  }
}
.freeBox__jY1W2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 350px) {
  .freeBox__jY1W2 {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 0px;
  }
}
.text__ybLty {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  padding-top: 0px;
  font-weight: 500;
  user-select: none;
  min-width: 0;
}
