.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80px;
  justify-content: center;
  align-items: center;
  background: none;
  flex-shrink: 1;
  min-width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 2px 0px 0px;
}
@media (max-width: 500px) {
  .root {
    height: 74px;
    background: none;
    display: block;
    flex-shrink: 0;
    flex-grow: 0;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    column-gap: 0px;
    justify-self: flex-start;
    margin-top: 4px;
    padding: 0px;
  }
}
@media (max-width: 350px) {
  .root {
    width: 100%;
    height: 64px;
    max-width: 40px;
    background: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 0px;
  }
}
.rootdayStatus_reserved {
  background: none;
  min-width: 98%;
}
.rootdayStatus_firstDayReserve {
  flex-grow: 0;
}
.rootdayStatus_midDayReserve {
  max-width: 100%;
  min-width: 100%;
}
.rootdayStatus_passedFirstDayReserve {
  background: none;
}
.rootdayStatus_firstDayReserveV2 {
  flex-grow: 0;
  padding-right: 1px;
}
.rootdayStatus_lastDayReserveV2 {
  padding-left: 1px;
}
.rootdayStatus_midDayReserveV2 {
  max-width: 100%;
  min-width: 100%;
}
.rootdayStatus_reservedV2 {
  background: none;
  min-width: 98%;
}
.rootdayStatus_passedFirstDayReserveV2 {
  flex-grow: 0;
}
.rootdayStatus_passedMidDayReserveV2 {
  max-width: 100%;
  min-width: 100%;
}
.rootdayStatus_passedReservedV2 {
  background: none;
  min-width: 98%;
}
.freeBox___9Ndlb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1200px) {
  .freeBox___9Ndlb {
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .freeBox___9Ndlb {
    position: absolute;
    top: 2px;
    left: 0px;
    padding: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox___9Ndlb {
    margin: 0px;
  }
}
.freeBoxselected___9NdlBlSVo3 {
  padding-right: 1px;
  padding-left: 1px;
}
@media (max-width: 500px) {
  .freeBoxdayStatus_discount___9Ndlb58PIn {
    padding-right: 1px;
    padding-left: 1px;
  }
}
.freeBoxdayStatus_lastDayReserve___9Ndlbzrpyu {
  max-width: 100%;
}
.freeBoxdayStatus_passedFirstDayReserve___9NdlBhR4Iw {
  width: 100%;
  height: auto;
  max-width: 96%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 500px) {
  .freeBoxdayStatus_firstDayReserveV2___9NdlBlxm0M {
    padding-right: 1px;
  }
}
.freeBoxdayStatus_lastDayReserveV2___9NdlbHbxR {
  max-width: 100%;
}
@media (max-width: 500px) {
  .freeBoxdayStatus_lastDayReserveV2___9NdlbHbxR {
    padding-left: 1px;
  }
}
.freeBoxdayStatus_reservedV2___9Ndlb75Ot {
  padding-right: 1px;
  padding-left: 1px;
}
@media (max-width: 500px) {
  .freeBoxdayStatus_reservedV2___9Ndlb75Ot {
    padding-right: 1px;
    padding-left: 1px;
  }
}
.freeBoxdayStatus_passedLastDayReserveV2___9NdlBsnHmp {
  max-width: 100%;
}
.cell {
  height: 80px;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  display: flex;
  background: var(--token-8R7jjC_-F9FF);
  overflow: hidden;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 0px;
  padding: 10px 0px;
}
@media (max-width: 1200px) {
  .cell {
    max-width: 100%;
    background: var(--token-O4qz_eXOc86K);
  }
}
@media (max-width: 500px) {
  .cell {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 74px;
    flex-shrink: 0;
    max-width: 100%;
    row-gap: 1px;
    background: var(--token-8R7jjC_-F9FF);
    column-gap: 0px;
    min-width: 0;
    border-radius: 0px;
    padding: 2px 0px 0px;
  }
}
@media (max-width: 350px) {
  .cell {
    max-width: 40px;
    height: 64px;
    padding-top: 0px;
    row-gap: 0px;
    background: var(--token-O4qz_eXOc86K);
    column-gap: 0px;
    flex-shrink: 0;
  }
}
.cellselected {
  background: var(--token-8nedppYkGVaH);
  border-radius: 10px;
}
.celldayStatus_reserved {
  background: #4fdfb1;
  border-radius: 10px;
}
.celldayStatus_discount {
  background: var(--token-8R7jjC_-F9FF);
  border-radius: 5px;
  border: 2px solid var(--token-VZ6qPYp5VPBy);
}
@media (max-width: 500px) {
  .celldayStatus_discount {
    border-radius: 5px;
  }
}
.celldayStatus_disabled {
  background: #fcfcfc;
}
.celldayStatus_blocked {
  background: #fbb142;
}
.celldayStatus_selected {
  background: var(--token-8nedppYkGVaH);
}
.celldayStatus_firstDayReserve {
  background: #4fdfb1;
  border-radius: 0px 20px 20px 0px;
}
.celldayStatus_lastDayReserve {
  background: #4fdfb1;
  border-radius: 20px 0px 0px 20px;
}
.celldayStatus_midDayReserve {
  background: #4fdfb1;
  min-width: 100%;
  max-width: 100%;
  border-radius: 0px;
}
.celldayStatus_passedFirstDayReserve {
  background: #4fdfb10d;
  width: 100%;
  height: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 0px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 0px 20px 20px 0px;
  padding: 10px 0px;
}
.celldayStatus_passedMidDayReserve {
  width: 100%;
  height: 80px;
  background: #4fdfb10d;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 0px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 0px;
  padding: 10px 0px;
}
.celldayStatus_passedLastDayReserve {
  width: 100%;
  height: 80px;
  background: #4fdfb10d;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 0px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 20px 0px 0px 20px;
  padding: 10px 0px;
}
.celldayStatus_passedSingleReserve {
  background: #4fdfb10d;
}
.celldayStatus_firstDayReserveV2 {
  background: #404040;
  overflow: visible;
  border-radius: 0px 10px 10px 0px;
}
@media (max-width: 500px) {
  .celldayStatus_firstDayReserveV2 {
    padding-bottom: 1px;
  }
}
.celldayStatus_lastDayReserveV2 {
  background: #404040;
  border-radius: 10px 0px 0px 10px;
}
.celldayStatus_midDayReserveV2 {
  background: #404040;
  min-width: 100%;
  max-width: 100%;
  border-radius: 0px;
}
.celldayStatus_reservedV2 {
  background: #404040;
  overflow: hidden;
  border-radius: 10px;
}
.celldayStatus_disabledV2 {
  background: var(--token-8R7jjC_-F9FF);
  border-radius: 0px;
}
.celldayStatus_passedFirstDayReserveV2 {
  background: #40404066;
  overflow: visible;
  border-radius: 0px 10px 10px 0px;
}
.celldayStatus_passedMidDayReserveV2 {
  background: #40404066;
  min-width: 100%;
  max-width: 100%;
  border-radius: 0px;
}
.celldayStatus_passedLastDayReserveV2 {
  background: #40404066;
  border-radius: 20px 0px 0px 20px;
}
.celldayStatus_passedReservedV2 {
  background: #4040401a;
  overflow: hidden;
  border-radius: 10px;
}
.freeBox___20P4Y {
  display: flex;
  flex-direction: column;
  position: sticky;
  width: 100%;
  height: 30%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  left: 0px;
  top: 3px;
  z-index: 1;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 500px) {
  .freeBox___20P4Y {
    margin: 0px;
  }
}
.freeBoxdayStatus_midDayReserve___20P4YzCt7G {
  min-width: 100%;
}
.freeBoxdayStatus_midDayReserveV2___20P4Yx8Qvw {
  min-width: 100%;
}
.freeBoxdayStatus_passedMidDayReserveV2___20P4YzPpWv {
  min-width: 100%;
}
.text__fgKpw {
  position: relative;
  color: var(--token-C-5xNZALkGon);
  font-family: "Estedad";
  font-weight: 500;
  text-align: center;
  max-width: 100%;
  height: auto;
  width: 100%;
  margin-top: 2px;
  left: auto;
  top: auto;
  z-index: 1;
  user-select: none;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__fgKpw {
    margin-top: 0px;
    font-weight: 400;
    padding-right: 0px;
    font-size: 14px;
    width: auto;
    height: 21px;
    flex-shrink: 0;
  }
}
.textselected__fgKpwlSVo3 {
  color: #ffffff;
}
.textdayStatus_reserved__fgKpwVf0A8 {
  color: var(--token-7MRjbe724hDb);
}
.textdayStatus_disabled__fgKpw9Zm4Q {
  color: #c5c5c5;
}
.textdayStatus_selected__fgKpwPzhv6 {
  color: #ffffff;
}
.textdayStatus_passedFirstDayReserve__fgKpwhR4Iw {
  color: #c5c5c5;
}
.textdayStatus_passedMidDayReserve__fgKpwLtd9T {
  color: #c5c5c5;
}
.textdayStatus_passedLastDayReserve__fgKpwnJrzh {
  color: #c5c5c5;
}
.textdayStatus_passedSingleReserve__fgKpwLp2Ep {
  color: #c5c5c5;
}
.textdayStatus_firstDayReserveV2__fgKpwlxm0M {
  color: var(--token-8R7jjC_-F9FF);
}
.textdayStatus_lastDayReserveV2__fgKpwHbxR {
  color: var(--token-8R7jjC_-F9FF);
}
.textdayStatus_midDayReserveV2__fgKpwx8Qvw {
  color: var(--token-8R7jjC_-F9FF);
}
.textdayStatus_reservedV2__fgKpw75Ot {
  color: var(--token-8R7jjC_-F9FF);
}
.textdayStatus_disabledV2__fgKpw6ARxq {
  color: #c5c5c5;
}
.textdayStatus_passedFirstDayReserveV2__fgKpwhpmmI {
  color: var(--token-8R7jjC_-F9FF);
}
.textdayStatus_passedMidDayReserveV2__fgKpwZPpWv {
  color: var(--token-8R7jjC_-F9FF);
}
.textdayStatus_passedLastDayReserveV2__fgKpwsnHmp {
  color: var(--token-8R7jjC_-F9FF);
}
.textdayStatus_passedReservedV2__fgKpwISdsA {
  color: var(--token-8R7jjC_-F9FF);
}
.holidays2 {
  position: relative;
  color: var(--token-Bo2_tT25lwh4);
  font-family: "Estedad";
  font-weight: 500;
  text-align: center;
  max-width: 100%;
  height: auto;
  width: 100%;
  margin-top: 2px;
  user-select: none;
  min-width: 0;
}
@media (max-width: 1200px) {
  .holidays2 {
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-top: 2px;
    font-family: "Estedad";
    font-weight: 500;
    color: var(--token-Bo2_tT25lwh4);
    text-align: center;
    min-width: 0;
  }
}
@media (max-width: 500px) {
  .holidays2 {
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-top: 2px;
    font-family: "Estedad";
    font-weight: 400;
    color: var(--token-Bo2_tT25lwh4);
    text-align: center;
    font-size: 14px;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .holidays2 {
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-top: 2px;
    font-family: "Estedad";
    font-weight: 400;
    color: var(--token-Bo2_tT25lwh4);
    text-align: center;
    min-width: 0;
  }
}
.holidays2selected {
  color: var(--token-Bo2_tT25lwh4);
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Estedad";
  font-weight: 500;
  text-align: center;
  margin-top: 2px;
  min-width: 0;
}
@media (max-width: 500px) {
  .holidays2selected {
    font-weight: 400;
  }
}
.holidays2dayStatus_reserved {
  color: var(--token-Bo2_tT25lwh4);
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Estedad";
  font-weight: 500;
  text-align: center;
  margin-top: 2px;
  min-width: 0;
}
.holidays2dayStatus_disabled {
  color: #c5c5c5;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Estedad";
  font-weight: 500;
  text-align: center;
  margin-top: 2px;
  min-width: 0;
}
.holidays2dayStatus_selected {
  color: var(--token-j-ZwOKbpUCqd);
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Estedad";
  font-weight: 700;
  text-align: center;
  min-width: 0;
}
@media (max-width: 500px) {
  .holidays2dayStatus_selected {
    font-weight: 400;
  }
}
.holidays2dayStatus_passedFirstDayReserve {
  color: #d9363e40;
}
.holidays2dayStatus_passedMidDayReserve {
  color: #d9363e40;
}
.holidays2dayStatus_passedLastDayReserve {
  color: #d9363e40;
}
.holidays2dayStatus_passedSingleReserve {
  color: #d9363e40;
}
.holidays2dayStatus_reservedV2 {
  color: var(--token-Bo2_tT25lwh4);
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Estedad";
  font-weight: 500;
  text-align: center;
  margin-top: 2px;
  min-width: 0;
}
@media (max-width: 500px) {
  .holidays2dayStatus_reservedV2 {
    font-weight: 400;
  }
}
.holidays2dayStatus_disabledV2 {
  color: #c5c5c5;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Estedad";
  font-weight: 500;
  text-align: center;
  margin-top: 2px;
  min-width: 0;
}
.holidays2dayStatus_passedReservedV2 {
  color: var(--token-Bo2_tT25lwh4);
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Estedad";
  font-weight: 500;
  text-align: center;
  margin-top: 2px;
  min-width: 0;
}
@media (max-width: 500px) {
  .holidays2dayStatus_passedReservedV2 {
    font-weight: 400;
  }
}
@media (max-width: 350px) {
  .holidays2dayStatus_passedReservedV2 {
    font-weight: 400;
  }
}
.freeBox___6Yvqv {
  display: flex;
  flex-direction: column;
  position: sticky;
  width: 100%;
  height: 30%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  left: 0px;
  top: 19px;
  z-index: 1;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 500px) {
  .freeBox___6Yvqv {
    width: 100%;
    margin: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox___6Yvqv {
    padding-top: 2px;
  }
}
.freeBoxdayStatus_blocked___6Yvqv3FCqw {
  display: none;
}
.freeBoxdayStatus_midDayReserve___6YvqvzCt7G {
  padding-top: 0px;
}
.freeBoxdayStatus_lastDayReserveV2___6YvqvHbxR {
  display: none;
}
.freeBoxdayStatus_midDayReserveV2___6YvqVx8Qvw {
  padding-top: 0px;
  display: none;
}
.freeBoxdayStatus_passedMidDayReserveV2___6YvqvzPpWv {
  padding-top: 0px;
  display: none;
}
.freeBoxdayStatus_passedLastDayReserveV2___6YvqVsnHmp {
  display: none;
}
.text__lXDgF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-7MRjbe724hDb);
  font-weight: 400;
  user-select: none;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__lXDgF {
    font-size: 14px;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-weight: 400;
    color: var(--token-7MRjbe724hDb);
    text-align: center;
    user-select: none;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__lXDgF {
    font-size: 14px;
    font-weight: 400;
  }
}
.textselected__lXDgFlSVo3 {
  color: var(--token-jgohepLVeKvh);
}
.textdayStatus_reserved__lXDgFVf0A8 {
  color: var(--token-7MRjbe724hDb);
}
.textdayStatus_disabled__lXDgF9Zm4Q {
  color: var(--token-WRVnC_GIUCgN);
  font-weight: 300;
}
.textdayStatus_selected__lXDgFPzhv6 {
  color: var(--token-8R7jjC_-F9FF);
}
.textdayStatus_passedFirstDayReserve__lXDgFhR4Iw {
  color: #c5c5c5;
}
.textdayStatus_passedMidDayReserve__lXDgFltd9T {
  color: #c5c5c5;
}
.textdayStatus_passedLastDayReserve__lXDgFnJrzh {
  color: #c5c5c5;
}
.textdayStatus_passedSingleReserve__lXDgFlp2Ep {
  color: #c5c5c5;
}
.textdayStatus_firstDayReserveV2__lXDgFlxm0M {
  color: var(--token-8R7jjC_-F9FF);
}
.textdayStatus_lastDayReserveV2__lXDgFHbxR {
  color: var(--token-8R7jjC_-F9FF);
}
.textdayStatus_midDayReserveV2__lXDgFx8Qvw {
  color: var(--token-8R7jjC_-F9FF);
}
.textdayStatus_reservedV2__lXDgF75Ot {
  color: var(--token-8R7jjC_-F9FF);
}
.textdayStatus_disabledV2__lXDgF6ARxq {
  color: var(--token-WRVnC_GIUCgN);
  font-weight: 300;
}
.textdayStatus_passedFirstDayReserveV2__lXDgFhpmmI {
  color: var(--token-8R7jjC_-F9FF);
}
.textdayStatus_passedMidDayReserveV2__lXDgFzPpWv {
  color: var(--token-8R7jjC_-F9FF);
}
.textdayStatus_passedLastDayReserveV2__lXDgFsnHmp {
  color: var(--token-8R7jjC_-F9FF);
}
.textdayStatus_passedReservedV2__lXDgFiSdsA {
  color: var(--token-8R7jjC_-F9FF);
}
.freeBox__vb8Yk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 40%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 500px) {
  .freeBox__vb8Yk {
    align-items: center;
    justify-content: center;
    margin: 0px;
  }
}
.freeBoxdayStatus_firstDayReserveV2__vb8Yklxm0M {
  overflow: visible;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px;
}
@media (max-width: 500px) {
  .freeBoxdayStatus_firstDayReserveV2__vb8Yklxm0M {
    padding: 2px 1px 0px;
  }
}
.freeBoxdayStatus_reservedV2__vb8Yk75Ot {
  padding: 0px 4px;
}
@media (max-width: 500px) {
  .freeBoxdayStatus_reservedV2__vb8Yk75Ot {
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 1px;
    padding-right: 1px;
    padding-left: 1px;
  }
}
.freeBoxdayStatus_passedFirstDayReserveV2__vb8YkhpmmI {
  overflow: visible;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px;
}
.freeBoxdayStatus_passedReservedV2__vb8YkISdsA {
  padding: 0px 4px;
}
.freeBox___7HH4 {
  display: flex;
  flex-direction: column;
  position: sticky;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: 10px;
  left: 0px;
  z-index: 1;
  background: #abdcab;
  min-width: 0;
  border-radius: 30px;
  padding: 0px;
}
.freeBoxdayStatus_lastDayReserve___7HH4Zrpyu {
  display: none;
}
.freeBoxdayStatus_midDayReserve___7HH4ZCt7G {
  display: none;
}
.freeBoxdayStatus_firstDayReserveV2___7HH4Lxm0M {
  width: auto;
  height: auto;
  background: #abdcab;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: visible;
  position: relative;
  left: auto;
  top: auto;
  max-width: none;
  column-gap: 0px;
  display: flex;
  border-radius: 30px;
  padding: 0px;
}
@media (max-width: 500px) {
  .freeBoxdayStatus_firstDayReserveV2___7HH4Lxm0M {
    max-width: 100px;
    overflow: hidden;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    min-height: 0;
    border-radius: 10px;
  }
}
@media (max-width: 350px) {
  .freeBoxdayStatus_firstDayReserveV2___7HH4Lxm0M {
    width: auto;
    max-width: none;
  }
}
.freeBoxdayStatus_reservedV2___7HH475Ot {
  background: #abdcab;
  display: flex;
  border-radius: 30px;
  padding: 0px;
}
@media (max-width: 500px) {
  .freeBoxdayStatus_reservedV2___7HH475Ot {
    position: relative;
    left: auto;
    top: auto;
    align-items: center;
    justify-content: center;
    background: #abdcab;
    border-radius: 10px;
  }
}
@media (max-width: 350px) {
  .freeBoxdayStatus_reservedV2___7HH475Ot {
    padding: 0px;
  }
}
.freeBoxdayStatus_disabledV2___7HH46ARxq {
  display: flex;
}
.freeBoxdayStatus_passedFirstDayReserveV2___7HH4HpmmI {
  width: auto;
  height: auto;
  background: #bfe3b4;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: visible;
  position: relative;
  left: auto;
  top: auto;
  max-width: none;
  column-gap: 0px;
  display: flex;
  border-radius: 30px;
  padding: 0px;
}
@media (max-width: 500px) {
  .freeBoxdayStatus_passedFirstDayReserveV2___7HH4HpmmI {
    width: auto;
    height: 100%;
    max-width: 100px;
    background: #abdcab;
    column-gap: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    min-height: 0;
    border-radius: 10px;
    padding: 0px;
  }
}
@media (max-width: 350px) {
  .freeBoxdayStatus_passedFirstDayReserveV2___7HH4HpmmI {
    width: auto;
    max-width: none;
  }
}
.freeBoxdayStatus_passedReservedV2___7HH4ISdsA {
  background: #bfe3b480;
  display: flex;
  border-radius: 30px;
  padding: 0px;
}
@media (max-width: 500px) {
  .freeBoxdayStatus_passedReservedV2___7HH4ISdsA {
    position: relative;
    left: auto;
    top: auto;
  }
}
@media (max-width: 350px) {
  .freeBoxdayStatus_passedReservedV2___7HH4ISdsA {
    padding: 0px;
  }
}
.text__bIcAo {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #2f2f2f;
  font-weight: 400;
  user-select: none;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__bIcAo {
    font-size: 14px;
    font-weight: 400;
    white-space: pre;
    text-align: center;
    display: block;
  }
}
.textselected__bIcAOlSVo3 {
  color: #ffffff;
  display: none;
}
.textdayStatus_reserved__bIcAoVf0A8 {
  color: var(--token-7MRjbe724hDb);
  font-weight: 400;
  text-align: center;
}
.textdayStatus_disabled__bIcAo9Zm4Q {
  color: var(--token-aAU8kfeqE6Ao);
  font-weight: 300;
  display: block;
}
.textdayStatus_blocked__bIcAo3FCqw {
  display: none;
}
.textdayStatus_selected__bIcAoPzhv6 {
  color: #ffffff;
  display: none;
}
.textdayStatus_lastDayReserve__bIcAozrpyu {
  display: block;
}
.textdayStatus_midDayReserve__bIcAozCt7G {
  display: block;
}
.textdayStatus_passedFirstDayReserve__bIcAOhR4Iw {
  color: #c5c5c5;
}
.textdayStatus_passedMidDayReserve__bIcAoltd9T {
  color: #c5c5c5;
  display: block;
}
.textdayStatus_passedLastDayReserve__bIcAOnJrzh {
  color: #c5c5c5;
  display: block;
}
.textdayStatus_passedSingleReserve__bIcAolp2Ep {
  color: #c5c5c5;
}
.textdayStatus_firstDayReserveV2__bIcAOlxm0M {
  text-align: center;
  white-space: pre;
  color: #404040;
  padding: 1px 3px;
}
@media (max-width: 500px) {
  .textdayStatus_firstDayReserveV2__bIcAOlxm0M {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px;
    letter-spacing: -0.6px;
    padding: 0px 2px;
  }
}
.textdayStatus_lastDayReserveV2__bIcAoHbxR {
  display: none;
}
.textdayStatus_midDayReserveV2__bIcAOx8Qvw {
  color: var(--token-8R7jjC_-F9FF);
  display: none;
}
.textdayStatus_reservedV2__bIcAo75Ot {
  color: #404040;
  font-weight: 400;
  text-align: center;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
@media (max-width: 500px) {
  .textdayStatus_reservedV2__bIcAo75Ot {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 13px;
    font-weight: 400;
    color: #404040;
    text-align: center;
    white-space: pre;
    user-select: none;
    text-overflow: ellipsis;
    letter-spacing: -0.6px;
    min-width: 0;
    padding: 2px 1px;
  }
}
@media (max-width: 350px) {
  .textdayStatus_reservedV2__bIcAo75Ot {
    display: block;
    padding: 0px;
  }
}
.textdayStatus_disabledV2__bIcAo6ARxq {
  color: #404040cc;
  font-weight: 300;
  white-space: pre;
  display: block;
}
.textdayStatus_passedFirstDayReserveV2__bIcAOhpmmI {
  text-align: center;
  white-space: pre;
  color: #404040;
  padding: 1px 3px;
}
@media (max-width: 500px) {
  .textdayStatus_passedFirstDayReserveV2__bIcAOhpmmI {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 13px;
    font-weight: 400;
    color: #404040;
    text-align: center;
    letter-spacing: -0.6px;
    white-space: pre;
    user-select: none;
    text-overflow: ellipsis;
    min-width: 0;
    padding: 0px 2px;
  }
}
.textdayStatus_passedMidDayReserveV2__bIcAozPpWv {
  color: var(--token-8R7jjC_-F9FF);
  display: none;
}
.textdayStatus_passedLastDayReserveV2__bIcAOsnHmp {
  display: none;
}
.textdayStatus_passedReservedV2__bIcAoiSdsA {
  color: #40404066;
  font-weight: 400;
  text-align: center;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
@media (max-width: 350px) {
  .textdayStatus_passedReservedV2__bIcAoiSdsA {
    display: block;
    padding: 0px;
  }
}
.freeBox__xvaH5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBoxdayStatus_firstDayReserveV2__xvaH5Lxm0M {
  z-index: 10;
}
@media (max-width: 500px) {
  .freeBoxdayStatus_firstDayReserveV2__xvaH5Lxm0M {
    width: auto;
    height: 100%;
    max-width: 100px;
    background: none;
    column-gap: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    min-height: 0;
    display: flex;
    border-radius: 10px;
    padding: 0px;
  }
}
.freeBoxdayStatus_reservedV2__xvaH575Ot {
  padding: 0px;
}
@media (max-width: 500px) {
  .freeBoxdayStatus_passedFirstDayReserveV2__xvaH5HpmmI {
    z-index: 10;
    width: auto;
    height: 100%;
    max-width: 100px;
    background: none;
    column-gap: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    min-height: 0;
    border-radius: 10px;
    padding: 0px;
  }
}
.text___9RWtF {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #2f2f2f;
  font-weight: 400;
  user-select: none;
  min-width: 0;
}
@media (max-width: 500px) {
  .text___9RWtF {
    font-size: 14px;
    font-weight: 400;
    white-space: pre;
    display: block;
  }
}
.textselected___9RWtFlSVo3 {
  color: #ffffff;
}
.textdayStatus_reserved___9RWtFVf0A8 {
  color: var(--token-7MRjbe724hDb);
  font-weight: 400;
  text-align: center;
}
.textdayStatus_disabled___9RWtF9Zm4Q {
  color: var(--token-aAU8kfeqE6Ao);
  font-weight: 300;
  display: block;
}
.textdayStatus_blocked___9RWtF3FCqw {
  display: none;
}
.textdayStatus_selected___9RWtFPzhv6 {
  color: #ffffff;
}
.textdayStatus_lastDayReserve___9RWtFzrpyu {
  display: block;
}
.textdayStatus_midDayReserve___9RWtFzCt7G {
  display: block;
}
.textdayStatus_passedFirstDayReserve___9RWtFhR4Iw {
  color: #c5c5c5;
}
.textdayStatus_passedMidDayReserve___9RWtFltd9T {
  color: #c5c5c5;
  display: block;
}
.textdayStatus_passedLastDayReserve___9RWtFnJrzh {
  color: #c5c5c5;
  display: block;
}
.textdayStatus_passedSingleReserve___9RWtFlp2Ep {
  color: #c5c5c5;
}
.textdayStatus_firstDayReserveV2___9RWtFlxm0M {
  text-align: center;
  white-space: pre;
  padding-right: 0px;
  color: var(--token-8R7jjC_-F9FF);
  display: block;
}
@media (max-width: 500px) {
  .textdayStatus_firstDayReserveV2___9RWtFlxm0M {
    width: 100%;
    height: auto;
    font-size: 13px;
    font-weight: 400;
    color: var(--token-8R7jjC_-F9FF);
    text-align: center;
    letter-spacing: -0.6px;
    white-space: pre;
    user-select: none;
    text-overflow: ellipsis;
    max-width: 100%;
    min-width: 0;
    padding: 0px 2px;
  }
}
.textdayStatus_lastDayReserveV2___9RWtFHbxR {
  display: none;
}
.textdayStatus_midDayReserveV2___9RWtFx8Qvw {
  color: var(--token-8R7jjC_-F9FF);
  display: none;
}
.textdayStatus_reservedV2___9RWtF75Ot {
  color: var(--token-8R7jjC_-F9FF);
  font-weight: 400;
  text-align: center;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
@media (max-width: 350px) {
  .textdayStatus_reservedV2___9RWtF75Ot {
    display: block;
    padding: 0px;
  }
}
.textdayStatus_disabledV2___9RWtF6ARxq {
  color: var(--token-aAU8kfeqE6Ao);
  font-weight: 300;
  display: block;
}
.textdayStatus_passedFirstDayReserveV2___9RWtFhpmmI {
  text-align: center;
  white-space: pre;
  padding-right: 0px;
  color: var(--token-8R7jjC_-F9FF);
  display: block;
}
@media (max-width: 500px) {
  .textdayStatus_passedFirstDayReserveV2___9RWtFhpmmI {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 13px;
    font-weight: 400;
    color: var(--token-8R7jjC_-F9FF);
    text-align: center;
    letter-spacing: -0.6px;
    white-space: pre;
    user-select: none;
    text-overflow: ellipsis;
    min-width: 0;
    padding: 0px 2px;
  }
}
.textdayStatus_passedMidDayReserveV2___9RWtFzPpWv {
  color: var(--token-8R7jjC_-F9FF);
  display: none;
}
.textdayStatus_passedLastDayReserveV2___9RWtFsnHmp {
  display: none;
}
.textdayStatus_passedReservedV2___9RWtFiSdsA {
  color: var(--token-8R7jjC_-F9FF);
  font-weight: 400;
  text-align: center;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
@media (max-width: 350px) {
  .textdayStatus_passedReservedV2___9RWtFiSdsA {
    display: block;
    padding: 0px;
  }
}
.p {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 7px;
  height: 7px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #c251fb;
  left: 2px;
  top: 2px;
  flex-shrink: 0;
  border-radius: 100%;
}
@media (max-width: 500px) {
  .p {
    left: 0;
    top: 0;
  }
}
@media (max-width: 350px) {
  .p {
    min-width: 7px;
    min-height: 7px;
    max-height: 7px;
    max-width: 7px;
    top: 0;
    left: 0;
  }
}
.pdayStatus_disabled {
  background: var(--token-8nedppYkGVaH);
  display: flex;
}
.pdayStatus_passedFirstDayReserve {
  opacity: 0.5;
}
.pdayStatus_passedMidDayReserve {
  opacity: 0.5;
}
.pdayStatus_passedLastDayReserve {
  opacity: 0.5;
}
.pdayStatus_passedSingleReserve {
  opacity: 0.5;
}
.pdayStatus_disabledV2 {
  background: var(--token-8nedppYkGVaH);
  display: flex;
}
.img {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 8px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
