.cell {
  position: relative;
  height: 80px;
  width: 100%;
  flex-direction: column;
  display: flex;
  background: #e5e5e5;
  margin-left: 0px;
  margin-right: 0px;
  justify-self: flex-start;
  overflow: hidden;
  min-width: 0;
  border-radius: 10px;
  padding: 10px 0px;
}
.cell > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 0;
}
@media (max-width: 500px) {
  .cell {
    max-width: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 74px;
    min-width: 0;
    border-radius: 9px;
    padding: 2px 0px 0px;
  }
}
@media (max-width: 500px) {
  .cell > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 1px);
    height: calc(100% + 1px);
  }
}
@media (max-width: 500px) {
  .cell > :global(.__wab_flex-container) > *,
  .cell > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .cell > :global(.__wab_flex-container) > picture > img,
  .cell
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 1px;
  }
}
@media (max-width: 380px) {
  .cell {
    max-width: 40px;
  }
}
.cellselected {
  background: #203647;
}
.celldayStatus_reserved {
  background: #4fdfb1;
}
.celldayStatus_discount {
  background: var(--token-5pBr4MZPegMc);
  border: 2px solid var(--token-VZ6qPYp5VPBy);
}
.celldayStatus_disabled {
  background: #fcfcfc;
}
.celldayStatus_blocked {
  background: #fbb142;
}
.celldayStatus_selected {
  background: #203647;
}
.freeBox__aE9Ge {
  display: flex;
  flex-direction: column;
  position: sticky;
  width: 100%;
  height: 30%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  left: 0px;
  top: 3px;
  z-index: 1;
  min-width: 0;
  padding: 0px;
}
.text__sLeDq {
  position: relative;
  color: var(--token-C-5xNZALkGon);
  font-family: "Estedad";
  font-weight: 500;
  text-align: center;
  max-width: 100%;
  height: auto;
  width: 100%;
  margin-top: 2px;
  left: auto;
  top: auto;
  z-index: 1;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__sLeDq {
    margin-top: 0px;
    font-weight: 400;
    padding-right: 0px;
    font-size: 14px;
    width: auto;
    height: 21px;
    flex-shrink: 0;
  }
}
.textselected__sLeDq2Pr1U {
  color: #ffffff;
}
.textdayStatus_reserved__sLeDq6WcTl {
  color: var(--token-7MRjbe724hDb);
}
.textdayStatus_disabled__sLeDqOkz0Z {
  color: #c5c5c5;
}
.textdayStatus_selected__sLeDqmbNkx {
  color: #ffffff;
}
.holidays2 {
  position: relative;
  color: var(--token-Bo2_tT25lwh4);
  font-family: "Estedad";
  font-weight: 500;
  text-align: center;
  max-width: 100%;
  height: auto;
  width: 100%;
  margin-top: 2px;
  min-width: 0;
}
@media (max-width: 1200px) {
  .holidays2 {
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-top: 2px;
    font-family: "Estedad";
    font-weight: 400;
    color: var(--token-Bo2_tT25lwh4);
    text-align: center;
    min-width: 0;
  }
}
@media (max-width: 500px) {
  .holidays2 {
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-top: 2px;
    font-family: "Estedad";
    font-weight: 400;
    color: var(--token-Bo2_tT25lwh4);
    text-align: center;
    min-width: 0;
  }
}
@media (max-width: 380px) {
  .holidays2 {
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-top: 2px;
    font-family: "Estedad";
    font-weight: 400;
    color: var(--token-Bo2_tT25lwh4);
    text-align: center;
    min-width: 0;
  }
}
.holidays2selected {
  color: var(--token-Bo2_tT25lwh4);
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Estedad";
  font-weight: 400;
  text-align: center;
  margin-top: 2px;
  min-width: 0;
}
.holidays2dayStatus_reserved {
  color: var(--token-Bo2_tT25lwh4);
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Estedad";
  font-weight: 500;
  text-align: center;
  margin-top: 2px;
  min-width: 0;
}
.holidays2dayStatus_disabled {
  color: #c5c5c5;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Estedad";
  font-weight: 500;
  text-align: center;
  margin-top: 2px;
  min-width: 0;
}
.holidays2dayStatus_selected {
  color: var(--token-j-ZwOKbpUCqd);
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Estedad";
  font-weight: 700;
  text-align: center;
  min-width: 0;
}
.freeBox__gKj3 {
  display: flex;
  flex-direction: column;
  position: sticky;
  width: 100%;
  height: 30%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  left: 0px;
  top: 19px;
  z-index: 1;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 500px) {
  .freeBox__gKj3 {
    width: 100%;
    max-width: 50px;
  }
}
.text__kqTC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-7MRjbe724hDb);
  font-weight: 400;
  min-width: 0;
  display: none;
}
@media (max-width: 500px) {
  .text__kqTC {
    font-size: 17px;
    display: block;
  }
}
@media (max-width: 380px) {
  .text__kqTC {
    font-size: 14px;
    display: block;
  }
}
.textselected__kqTC2Pr1U {
  color: var(--token-jgohepLVeKvh);
  display: block;
}
.textdayStatus_reserved__kqTC6WcTl {
  color: var(--token-7MRjbe724hDb);
  display: block;
}
.textdayStatus_discount__kqTC2ON9H {
  display: block;
}
.textdayStatus_disabled__kqTCokz0Z {
  color: var(--token-WRVnC_GIUCgN);
  font-weight: 300;
  display: block;
}
.freeBox__cD9Fr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 40%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__ltKp2 {
  position: sticky;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-7MRjbe724hDb);
  font-weight: 600;
  left: 0px;
  top: 10px;
  z-index: 1;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__ltKp2 {
    font-size: 14px;
    font-weight: 400;
    display: block;
  }
}
.textselected__ltKp22Pr1U {
  color: #ffffff;
}
.textdayStatus_reserved__ltKp26WcTl {
  color: var(--token-7MRjbe724hDb);
}
.textdayStatus_disabled__ltKp2Okz0Z {
  color: var(--token-aAU8kfeqE6Ao);
  font-weight: 300;
  display: block;
}
.textdayStatus_blocked__ltKp277F30 {
  display: none;
}
.textdayStatus_selected__ltKp2MbNkx {
  color: #ffffff;
}
