.main {
  display: flex;
  flex-direction: column;
  width: 420px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  position: relative;
  padding: 8px;
}
@media (max-width: 500px) {
  .main {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.apiRequest2:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.freeBox__jrvW {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 400px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  z-index: 1;
  align-self: stretch;
  background: #fcfcfc;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__jrvW {
    animation: none;
    width: 100%;
    min-width: 0;
  }
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__kdGc0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__tqcsw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.embedHtml___6Hk5Q:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  text-align: center;
  min-width: 0;
}
.freeBox__zsDpO {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__nQcpA {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.embedHtml___22Mcm:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__rSsla {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.embedHtml__jbjB6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
