.content {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: linear-gradient(
      37deg,
      #ebfaff 9%,
      #fcfcfc 29%,
      #f2fbfe 60%,
      #fcfcfc 79%,
      #ebfaff 88%
    )
    0% 0% / 100% 100% repeat;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 9px 0px 0px;
}
.content > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .content > * {
    grid-column: 4;
  }
}
@media (max-width: 500px) {
  .content > * {
    grid-column: 4;
  }
}
@media (max-width: 350px) {
  .content > * {
    grid-column: 4;
  }
}
.navbarRntHeader:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (max-width: 500px) {
  .navbarRntHeader:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.mainContents {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px 0px 0px;
}
@media (max-width: 1200px) {
  .mainContents {
    max-width: 100%;
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 500px) {
  .mainContents {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.intro {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 20px 8px 8px;
}
@media (max-width: 1200px) {
  .intro {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
  }
}
@media (max-width: 500px) {
  .intro {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.top {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .top {
    display: flex;
    flex-direction: column;
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 500px) {
  .top {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.right {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .right {
    padding-top: 0px;
  }
}
@media (max-width: 500px) {
  .right {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .right {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.introTitle {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .introTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 0px;
  }
}
.text__yudQt {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  font-weight: 600;
  padding-right: 0px;
}
@media (max-width: 1200px) {
  .text__yudQt {
    padding-right: 20px;
  }
}
@media (max-width: 500px) {
  .text__yudQt {
    padding-right: 12px;
    line-height: 1.8;
    font-size: 20px;
  }
}
@media (max-width: 350px) {
  .text__yudQt {
    font-size: 18px;
    padding: 8px 4px 0px 8px;
  }
}
.introDesc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .introDesc {
    padding-top: 0px;
  }
}
@media (max-width: 500px) {
  .introDesc {
    padding-top: 0px;
  }
}
.text__aF6Ny {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  line-height: 1.8;
  padding-top: 8px;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__aF6Ny {
    padding-right: 20px;
    padding-left: 20px;
    line-height: 1.8;
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text__aF6Ny {
    padding-right: 12px;
    padding-left: 10px;
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__aF6Ny {
    padding-right: 4px;
    padding-left: 4px;
    font-size: 15px;
  }
}
.link__rRq0M {
  color: #8165d6;
}
.culture {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 30px 8px 8px;
}
@media (max-width: 1200px) {
  .culture {
    padding-right: 0px;
    padding-left: 0px;
    max-width: 96%;
  }
}
@media (max-width: 500px) {
  .culture {
    padding-right: 0px;
    padding-left: 0px;
    background: none;
    margin-top: 0px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 350px) {
  .culture {
    padding-top: 10px;
  }
}
.left {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 46%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .left {
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .left {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
  }
}
.img__ul4Nq {
  object-fit: cover;
  max-width: 100%;
  width: 640px;
  height: auto;
  border-radius: 40px;
}
.img__ul4Nq > picture > img {
  object-fit: cover;
}
.strDefinition {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  border-radius: 50px;
  padding: 12px;
}
@media (max-width: 1200px) {
  .strDefinition {
    background: none;
    border-radius: 0px;
    padding: 30px 20px 30px 0px;
  }
}
@media (max-width: 500px) {
  .strDefinition {
    padding-right: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    background: none;
    padding-top: 17px;
  }
}
@media (max-width: 350px) {
  .strDefinition {
    padding: 0px 2px 20px;
  }
}
.freeBox__ulnC {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__ulnC {
    max-width: 100%;
  }
}
.text__ccThC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  line-height: 1.8;
  padding-bottom: 0px;
  padding-top: 14px;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__ccThC {
    padding-right: 0px;
    padding-left: 0px;
    line-height: 1.8;
    font-size: 16px;
    padding-top: 0px;
  }
}
@media (max-width: 500px) {
  .text__ccThC {
    padding-right: 8px;
    padding-left: 8px;
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__ccThC {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 15px;
  }
}
.button2 {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  max-width: 50%;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-width: 0;
  padding: 24px 8px 66px;
}
@media (max-width: 1200px) {
  .button2 {
    padding-top: 19px;
    margin-bottom: 14px;
    max-width: 70%;
  }
}
@media (max-width: 500px) {
  .button2 {
    max-width: 100%;
    margin-bottom: 0px;
    padding: 0px 4px 37px;
  }
}
@media (max-width: 350px) {
  .button2 {
    padding-bottom: 17px;
    padding-right: 8px;
    padding-left: 8px;
    margin-bottom: 0px;
  }
}
.text__iBKi4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  text-align: center;
  background: #8165d6;
  color: #fcfcfc;
  padding-bottom: 18px;
  font-size: 20px;
  padding-top: 18px;
  font-weight: 600;
  cursor: pointer;
  min-width: 0;
  border-radius: 50px;
}
@media (max-width: 1200px) {
  .text__iBKi4 {
    font-weight: 600;
    font-size: 20px;
    padding-top: 14px;
    padding-bottom: 12px;
    max-width: 70%;
  }
}
@media (max-width: 500px) {
  .text__iBKi4 {
    font-weight: 600;
    max-width: 96%;
    font-size: 18px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}
@media (max-width: 350px) {
  .text__iBKi4 {
    max-width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 17px;
  }
}
.investment {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 36px 8px 40px;
}
@media (max-width: 500px) {
  .investment {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
  }
}
@media (max-width: 350px) {
  .investment {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
.freeBox__xaHrs {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__xaHrs {
    padding-top: 0px;
  }
}
.text__b1Xpc {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  font-weight: 600;
  padding-right: 0px;
}
@media (max-width: 1200px) {
  .text__b1Xpc {
    padding-right: 20px;
  }
}
@media (max-width: 500px) {
  .text__b1Xpc {
    padding-right: 12px;
    line-height: 1.8;
    font-size: 20px;
  }
}
@media (max-width: 350px) {
  .text__b1Xpc {
    padding-right: 0px;
    font-size: 17px;
  }
}
.text__jsyHk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  line-height: 1.8;
  padding-top: 8px;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__jsyHk {
    padding-right: 20px;
    padding-left: 20px;
    line-height: 1.8;
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text__jsyHk {
    padding-right: 12px;
    padding-left: 10px;
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__jsyHk {
    padding-right: 4px;
    padding-left: 4px;
    font-size: 15px;
  }
}
.freeBox___5JIsE {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 60%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 36px 8px 8px;
}
@media (max-width: 1200px) {
  .freeBox___5JIsE {
    max-width: 70%;
  }
}
@media (max-width: 500px) {
  .freeBox___5JIsE {
    max-width: 100%;
  }
}
@media (max-width: 350px) {
  .freeBox___5JIsE {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.htmlVideo:global(.__wab_instance) {
  width: auto;
  height: auto;
  max-width: 70%;
  object-fit: cover;
  border-radius: 40px;
}
@media (max-width: 1200px) {
  .htmlVideo:global(.__wab_instance) {
    border-radius: 30px;
  }
}
@media (max-width: 500px) {
  .htmlVideo:global(.__wab_instance) {
    max-width: 90%;
  }
}
@media (max-width: 350px) {
  .htmlVideo:global(.__wab_instance) {
    max-width: 90%;
    border-radius: 20px;
  }
}
.text__wOmpp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  line-height: 1.8;
  text-align: center;
  font-weight: 400;
  padding-top: 8px;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__wOmpp {
    padding-right: 20px;
    padding-left: 20px;
    line-height: 1.8;
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text__wOmpp {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .text__wOmpp {
    padding-right: 4px;
    padding-left: 4px;
    font-size: 15px;
  }
}
.incomeAnual {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 50px;
  padding: 40px;
  border-width: 2px;
}
.incomeAnual > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  min-width: 0;
}
@media (max-width: 1200px) {
  .incomeAnual {
    padding-right: 20px;
    margin: 0px;
  }
}
@media (max-width: 1200px) {
  .incomeAnual > :global(.__wab_flex-container) {
    justify-content: center;
    align-content: flex-start;
  }
}
@media (max-width: 500px) {
  .incomeAnual {
    padding-right: 8px;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    border-radius: 0px;
    border-width: 0px;
  }
}
@media (max-width: 500px) {
  .incomeAnual > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 500px) {
  .incomeAnual > :global(.__wab_flex-container) > *,
  .incomeAnual > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .incomeAnual > :global(.__wab_flex-container) > picture > img,
  .incomeAnual
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
@media (max-width: 350px) {
  .incomeAnual {
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 28px;
  }
}
.text__qwJsl {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 600;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__qwJsl {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .text__qwJsl {
    font-size: 17px;
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media (max-width: 350px) {
  .text__qwJsl {
    line-height: 1.8;
    font-size: 17px;
  }
}
.text___4D9Cs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  line-height: 1.8;
  padding-top: 14px;
  padding-bottom: 0px;
  margin-top: 0px;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text___4D9Cs {
    padding-right: 0px;
    padding-left: 0px;
    line-height: 1.8;
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text___4D9Cs {
    padding-right: 8px;
    padding-left: 8px;
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text___4D9Cs {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 15px;
  }
}
.text__kdUko {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  line-height: 1.8;
  padding-top: 14px;
  padding-bottom: 0px;
  margin-top: 0px;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__kdUko {
    padding-right: 0px;
    padding-left: 0px;
    line-height: 1.8;
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text__kdUko {
    padding-right: 8px;
    padding-left: 8px;
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__kdUko {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 15px;
  }
}
.efforts {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  border-radius: 50px;
  padding: 43px 14px 8px;
}
@media (max-width: 500px) {
  .efforts {
    padding-top: 26px;
    padding-right: 8px;
    padding-left: 8px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
  }
}
.freeBox__kV7Tt {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 40%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 62px 8px 8px;
}
@media (max-width: 1200px) {
  .freeBox__kV7Tt {
    padding-right: 0px;
    max-width: 46%;
  }
}
@media (max-width: 500px) {
  .freeBox__kV7Tt {
    max-width: 100%;
    padding-right: 8px;
    padding-left: 8px;
  }
}
@media (max-width: 350px) {
  .freeBox__kV7Tt {
    padding: 4px;
  }
}
.text__mSg6D {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 600;
  text-align: right;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__mSg6D {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .text__mSg6D {
    font-size: 17px;
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media (max-width: 350px) {
  .text__mSg6D {
    line-height: 1.8;
    font-size: 17px;
  }
}
.text__pfHU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  line-height: 1.8;
  padding-top: 14px;
  padding-bottom: 24px;
  text-align: right;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__pfHU {
    padding-right: 0px;
    padding-left: 0px;
    line-height: 1.8;
  }
}
@media (max-width: 500px) {
  .text__pfHU {
    padding-right: 8px;
    padding-left: 8px;
    font-size: 16px;
    padding-bottom: 11px;
  }
}
@media (max-width: 350px) {
  .text__pfHU {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 15px;
  }
}
.handsOn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 40%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 14px 8px 42px;
}
@media (max-width: 500px) {
  .handsOn {
    max-width: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 32px;
  }
}
@media (max-width: 350px) {
  .handsOn {
    padding-right: 0px;
    width: 311px;
    padding-left: 0px;
  }
}
.img__byFiB {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
}
.img__byFiB > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__byFiB {
    width: 80%;
    border-radius: 0px;
  }
}
.text__plqeO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  line-height: 1.8;
  text-align: center;
  font-weight: 400;
  padding-top: 8px;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__plqeO {
    padding-right: 20px;
    padding-left: 20px;
    line-height: 1.8;
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text__plqeO {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .text__plqeO {
    padding-right: 4px;
    padding-left: 4px;
    font-size: 15px;
  }
}
.button {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 70%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 24px 8px 66px;
}
@media (max-width: 1200px) {
  .button {
    padding-top: 19px;
    margin-bottom: 14px;
    max-width: 70%;
  }
}
@media (max-width: 500px) {
  .button {
    padding-top: 0px;
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.text__wUgC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  text-align: center;
  background: #8165d6;
  color: #fcfcfc;
  padding-bottom: 18px;
  font-size: 20px;
  padding-top: 18px;
  font-weight: 600;
  cursor: pointer;
  min-width: 0;
  border-radius: 50px;
}
@media (max-width: 1200px) {
  .text__wUgC {
    font-weight: 600;
    font-size: 20px;
    padding-top: 14px;
    padding-bottom: 12px;
    max-width: 70%;
  }
}
@media (max-width: 500px) {
  .text__wUgC {
    font-weight: 600;
    max-width: 96%;
    font-size: 18px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}
@media (max-width: 350px) {
  .text__wUgC {
    max-width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 18px;
  }
}
.rentamonFooter:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__snm9Z {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
.clarityRntComponent:global(.__wab_instance):global(.__wab_instance) {
  display: none;
}
.faviconRntComponent:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
