.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #eeeeee;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 500px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox__iThja {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 1em;
  min-width: 0;
  padding: 3em 8px 8px;
}
.freeBox__iThja > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__iThja > :global(.__wab_flex-container) > *,
.freeBox__iThja > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iThja > :global(.__wab_flex-container) > picture > img,
.freeBox__iThja
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__ia94Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 600;
  min-width: 0;
}
.reserveMainStack {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 2em 0px;
}
.reserveMainStack > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.reserveMainStack > :global(.__wab_flex-container) > *,
.reserveMainStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.reserveMainStack > :global(.__wab_flex-container) > picture > img,
.reserveMainStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
@media (max-width: 1200px) {
  .reserveMainStack {
    max-width: 70%;
  }
}
@media (max-width: 500px) {
  .reserveMainStack {
    max-width: 100%;
  }
}
.freeBox__uJ85I {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  background: var(--token-41VRhDKfihhY);
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
}
.text__eu8Pg {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  padding: 4px 8px 4px 4px;
}
.text___5Q5Ku {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  padding: 4px 8px 4px 4px;
}
.text___4Gucm {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  padding: 4px 8px;
}
.freeBox__kXe5B {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  background: var(--token-41VRhDKfihhY);
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
}
.text__tkXiU {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px 4px 4px;
}
.text__ebJrT {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px 4px 4px;
}
.text__v6Lsb {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px;
}
.freeBox__bbynx {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  background: var(--token-41VRhDKfihhY);
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
}
.text__rHosZ {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px 4px 4px;
}
.text___7GKYy {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px 4px 4px;
}
.text__cl9Rr {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px;
}
.freeBox__z6VEd {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  background: var(--token-41VRhDKfihhY);
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
}
.text__ahU5O {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px 4px 4px;
}
.text__rbObr {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px 4px 4px;
}
.text___5AqYg {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px;
}
.freeBox__kihA8 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  background: var(--token-41VRhDKfihhY);
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
}
.text__sHYrC {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px 4px 4px;
}
.text__lefKm {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px 4px 4px;
}
.text__iByu3 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px;
}
.freeBox__k7ZG5 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  background: var(--token-41VRhDKfihhY);
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
}
.text__wpJ0H {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px 4px 4px;
}
.text__cjExe {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px 4px 4px;
}
.text__dIyiw {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px;
}
.freeBox__seq6Q {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  background: var(--token-41VRhDKfihhY);
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
}
.text__lzfrr {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px 4px 4px;
}
.text___8Nglo {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px 4px 4px;
}
.text__ejR0X {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px;
}
.freeBox__it6Sn {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  background: var(--token-41VRhDKfihhY);
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
}
.text___6Ja99 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px 4px 4px;
}
.text__yJkBi {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px 4px 4px;
}
.text__kbzdl {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px;
}
.freeBox__xcv7O {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  background: var(--token-41VRhDKfihhY);
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
}
.text___4F9W {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px 4px 4px;
}
.text___75Kb3 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px 4px 4px;
}
.text__eqohV {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px;
}
.freeBox__xCeNz {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  background: var(--token-41VRhDKfihhY);
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
}
.text__pV1Ut {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px 4px 4px;
}
.text__rxeP {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px 4px 4px;
}
.text__y9W1Y {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px;
}
.freeBox__zdyDu {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  background: var(--token-41VRhDKfihhY);
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
}
.text__m8Evx {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px 4px 4px;
}
.text___4Cbeh {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px 4px 4px;
}
.text__sdCbG {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px;
}
.freeBox__wmC5I {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  background: var(--token-41VRhDKfihhY);
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
}
.text__hqCjo {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px 4px 4px;
}
.text__tjOgT {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px 4px 4px;
}
.text__sLxx8 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px;
}
.freeBox__kArYx {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  background: var(--token-41VRhDKfihhY);
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
}
.text__vqUzW {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px 4px 4px;
}
.text__shujB {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px 4px 4px;
}
.text__iQx1Y {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px;
}
.freeBox__na4Fo {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  background: var(--token-41VRhDKfihhY);
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
}
.text___4YBrC {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px 4px 4px;
}
.text__ckaQg {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px 4px 4px;
}
.text__yIv1N {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px;
}
.freeBox__mr7K9 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  background: var(--token-41VRhDKfihhY);
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
}
.text__mXwnh {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px 4px 4px;
}
.text__qjyk1 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px 4px 4px;
}
.text__doY0 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px;
}
.freeBox___5C3Na {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  background: var(--token-41VRhDKfihhY);
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
}
.text__lVqec {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px 4px 4px;
}
.text__kdXc3 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px 4px 4px;
}
.text__l9AsB {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px;
}
.freeBox__uuyij {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  background: var(--token-41VRhDKfihhY);
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
}
.text__hjQ4J {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px 4px 4px;
}
.text__oJneh {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px 4px 4px;
}
.text__bp5T {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px;
}
.freeBox__zbOOh {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  background: var(--token-41VRhDKfihhY);
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
}
.text___6DGrv {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px 4px 4px;
}
.text__xBzsy {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px 4px 4px;
}
.text__q36Oj {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 4px 8px;
}
.freeBox___6E2UZ {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  background: #8165d6;
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
}
.text__maw5U {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-zy6xhYnWF8Y7);
  text-align: center;
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
@media (max-width: 1200px) {
  .button:global(.__wab_instance) {
    max-width: 70%;
  }
}
@media (max-width: 500px) {
  .button:global(.__wab_instance) {
    max-width: 95%;
    margin-bottom: 2em;
    left: auto;
    top: auto;
    z-index: 1;
    position: relative;
    right: auto;
    bottom: auto;
  }
}
.svg__ib7G3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__tqdbP {
  color: var(--token-8nedppYkGVaH);
}
.svg__xmqhb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
