.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: linear-gradient(
      40deg,
      #fcfcfc 0%,
      #ebfaff 38%,
      #fcfcfc 63%,
      #ebfaff 96%
    )
    0% 0% / 100% 100% repeat;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 500px) {
  .root {
    background: linear-gradient(
        40deg,
        #fcfcfc 0%,
        #ebfaff 38%,
        #fcfcfc 63%,
        #ebfaff 96%
      )
      0% 0% / 100% 100% repeat;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    min-width: 0;
    min-height: 0;
    padding: 0px;
  }
}
@media (max-width: 500px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 350px) {
  .root {
    padding-top: 0px;
  }
}
@media (max-width: 350px) {
  .root > * {
    grid-column: 4;
  }
}
.header {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 2em 16px 0em;
}
@media (max-width: 500px) {
  .header {
    flex-direction: row;
    padding-top: 9px;
    display: none;
  }
}
.headerTitle {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .headerTitle {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.text__sq3Dn {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}
@media (max-width: 1200px) {
  .text__sq3Dn {
    width: 90%;
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .text__sq3Dn {
    width: 80%;
    font-size: 19px;
    display: none;
  }
}
@media (max-width: 350px) {
  .text__sq3Dn {
    font-size: 17px;
  }
}
.freeBox__cr3Y7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__cr3Y7 {
    max-width: 10%;
    display: none;
  }
}
.profile2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.menu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px 0px 0px;
}
@media (max-width: 1200px) {
  .menu {
    max-width: 100%;
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 500px) {
  .menu {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
  }
}
.topProfile {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 0;
  padding: 14px 40px;
}
@media (max-width: 500px) {
  .topProfile {
    display: flex;
  }
}
@media (max-width: 350px) {
  .topProfile {
    padding-right: 20px;
    padding-left: 20px;
    justify-content: center;
    align-items: center;
  }
}
.image {
  flex-direction: column;
  position: relative;
  width: 70px;
  height: 70px;
  max-width: 70px;
  justify-content: center;
  align-items: center;
  min-width: 70px;
  min-height: 70px;
  max-height: 70px;
  background: none;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 100px;
  padding: 3px;
}
@media (max-width: 500px) {
  .image {
    display: flex;
  }
}
.image2 {
  position: relative;
  overflow: hidden;
  background: none;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  display: flex;
  min-width: 0;
  min-height: 0;
  border-radius: 100px;
  padding: 0px;
  border-width: 2px;
}
.img__yIrgd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  left: auto;
  top: auto;
  position: relative;
  min-width: 0;
  min-height: 0;
}
.img__yIrgd > picture > img {
  object-fit: cover;
}
.info {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px 12px 8px 8px;
}
@media (max-width: 350px) {
  .info {
    width: 100%;
    min-width: 0;
  }
}
.name {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text___5FrEf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 16px;
  user-select: none;
  min-width: 0;
}
@media (max-width: 350px) {
  .text___5FrEf {
    user-select: none;
  }
}
.number {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 60%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 4px 0px 0px;
}
.text__q03Nc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  user-select: none;
  min-width: 0;
}
@media (max-width: 350px) {
  .text__q03Nc {
    user-select: none;
  }
}
.leftIcon {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 20%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .leftIcon {
    max-width: 14%;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.notifOn {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 100%;
  cursor: pointer;
  min-height: 0;
}
.notifOn > picture > img {
  object-fit: cover;
}
@media (max-width: 350px) {
  .notifOn {
    width: 32px;
    height: 100%;
    max-width: 100%;
    cursor: pointer;
    min-height: 0;
  }
}
.notifOff {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 100%;
  cursor: pointer;
  min-height: 0;
}
.notifOff > picture > img {
  object-fit: cover;
}
@media (max-width: 350px) {
  .notifOff {
    height: 100%;
    min-height: 0;
  }
}
.wallet {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .wallet {
    padding-right: 18px;
    padding-left: 18px;
    display: none;
  }
}
@media (max-width: 350px) {
  .wallet {
    padding-right: 6px;
    padding-left: 6px;
  }
}
.walletInfo {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #fcfcfc;
  cursor: pointer;
  min-width: 0;
  border-radius: 100px;
  padding: 6px 8px;
  border-width: 2px;
}
@media (max-width: 500px) {
  .walletInfo {
    display: flex;
  }
}
@media (max-width: 350px) {
  .walletInfo {
    justify-content: space-between;
    padding: 2px;
  }
}
.freeBox__pqB03 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 8px;
}
@media (max-width: 350px) {
  .freeBox__pqB03 {
    padding-right: 0px;
    padding-left: 0px;
    justify-content: center;
    align-items: center;
  }
}
.right2 {
  flex-direction: column;
  width: 24%;
  height: auto;
  justify-content: center;
  align-items: flex-end;
  padding: 8px 8px 8px 0px;
}
@media (max-width: 500px) {
  .right2 {
    display: flex;
  }
}
@media (max-width: 350px) {
  .right2 {
    padding-left: 0px;
    padding-right: 0px;
    align-items: flex-end;
    justify-content: center;
    max-width: 14%;
    width: 14%;
  }
}
.img__yqsVo {
  object-fit: cover;
  max-width: 100%;
  width: 36px;
  height: 32px;
  flex-shrink: 0;
}
.img__yqsVo > picture > img {
  object-fit: cover;
}
@media (max-width: 350px) {
  .img__yqsVo {
    width: 32px;
  }
}
.mid2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 76%;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
@media (max-width: 350px) {
  .mid2 {
    max-width: 80%;
    padding-right: 0px;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
}
.text___58WW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 500;
  text-align: right;
  user-select: none;
  min-width: 0;
}
@media (max-width: 350px) {
  .text___58WW {
    padding-right: 8px;
    user-select: none;
  }
}
.items8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .items8 {
    filter: blur(0px);
    padding: 0px;
  }
}
.channelManager {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  cursor: pointer;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 500px) {
  .channelManager {
    display: flex;
  }
}
@media (max-width: 350px) {
  .channelManager {
    justify-content: space-between;
  }
}
.right {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 16%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .right {
    display: flex;
  }
}
@media (max-width: 350px) {
  .right {
    max-width: 12%;
    padding-left: 0px;
    padding-right: 0px;
    align-items: center;
    justify-content: center;
  }
}
.img___8Nxz {
  object-fit: cover;
  max-width: 100%;
  width: 26px;
  height: 100%;
  min-height: 0;
}
.img___8Nxz > picture > img {
  object-fit: cover;
}
@media (max-width: 350px) {
  .img___8Nxz {
    width: 26px;
    height: 100%;
    max-width: 100%;
    min-height: 0;
  }
}
.mid {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 60%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
@media (max-width: 350px) {
  .mid {
    padding-right: 0px;
    padding-left: 0px;
    max-width: 70%;
    align-items: center;
    justify-content: center;
  }
}
.freeBox__qoJwp {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__kOXp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 17px;
  user-select: none;
  white-space: pre;
  min-width: 0;
}
@media (max-width: 350px) {
  .text__kOXp {
    font-size: 16px;
  }
}
.left {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 16%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .left {
    max-width: 14%;
  }
}
.svg__xgS23 {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.contacts {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  cursor: pointer;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .contacts {
    display: flex;
  }
}
@media (max-width: 350px) {
  .contacts {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom-style: dotted;
    border-bottom-width: 2px;
    cursor: pointer;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
    padding: 8px;
  }
}
.right3 {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 16%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px 8px 8px 6px;
}
@media (max-width: 500px) {
  .right3 {
    display: flex;
  }
}
@media (max-width: 350px) {
  .right3 {
    width: 100%;
    height: auto;
    max-width: 12%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    padding: 8px 0px;
  }
}
.img__gKll {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.img__gKll > picture > img {
  object-fit: cover;
}
.mid3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 60%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
@media (max-width: 350px) {
  .mid3 {
    width: 100%;
    height: auto;
    max-width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    padding: 8px 0px;
  }
}
.freeBox__slcuH {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__grKFw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 17px;
  user-select: none;
  white-space: pre;
  min-width: 0;
}
.left2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 16%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .left2 {
    width: 100%;
    height: auto;
    max-width: 14%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 8px;
  }
}
.svg__qtzyl {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.items9 {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  cursor: pointer;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .items9 {
    display: flex;
  }
}
@media (max-width: 350px) {
  .items9 {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom-style: dotted;
    border-bottom-width: 2px;
    cursor: pointer;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
    padding: 8px;
  }
}
.right9 {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 16%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px 8px 8px 4px;
}
@media (max-width: 500px) {
  .right9 {
    display: flex;
  }
}
@media (max-width: 350px) {
  .right9 {
    width: 100%;
    height: auto;
    max-width: 12%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    padding: 8px 0px;
  }
}
.img__bfPoC {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.img__bfPoC > picture > img {
  object-fit: cover;
}
.mid9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 60%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
@media (max-width: 350px) {
  .mid9 {
    width: 100%;
    height: auto;
    max-width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    padding: 8px 0px;
  }
}
.freeBox__wnIo2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text___4HoA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 17px;
  user-select: none;
  white-space: pre;
  min-width: 0;
}
.link {
  font-family: "Estedad";
  font-weight: 500;
}
.left8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 16%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .left8 {
    width: 100%;
    height: auto;
    max-width: 14%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 8px;
  }
}
.items10 {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  cursor: pointer;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .items10 {
    display: flex;
  }
}
@media (max-width: 350px) {
  .items10 {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom-style: dotted;
    border-bottom-width: 2px;
    cursor: pointer;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
    padding: 8px;
  }
}
.right10 {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 16%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px 8px 8px 6px;
}
@media (max-width: 500px) {
  .right10 {
    display: flex;
  }
}
@media (max-width: 350px) {
  .right10 {
    width: 100%;
    height: auto;
    max-width: 12%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    padding: 8px 0px;
  }
}
.svg__vw10J {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  width: 26px;
  height: 26px;
  flex-shrink: 0;
}
.mid10 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 60%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
@media (max-width: 350px) {
  .mid10 {
    width: 100%;
    height: auto;
    max-width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    padding: 8px 0px;
  }
}
.freeBox___5Ng1C {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__rvtFp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 17px;
  user-select: none;
  white-space: pre;
  min-width: 0;
}
.left9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 16%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .left9 {
    width: 100%;
    height: auto;
    max-width: 14%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 8px;
  }
}
.instantReserve {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  cursor: pointer;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .instantReserve {
    display: flex;
  }
}
@media (max-width: 350px) {
  .instantReserve {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom-style: dotted;
    border-bottom-width: 2px;
    cursor: pointer;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
    padding: 8px;
  }
}
.right4 {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 16%;
  justify-content: center;
  align-items: flex-end;
  opacity: 0.3;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .right4 {
    display: flex;
  }
}
@media (max-width: 350px) {
  .right4 {
    width: 100%;
    height: auto;
    max-width: 12%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    padding: 8px 0px;
  }
}
.svg__esVgu {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  width: 26px;
  height: 26px;
  flex-shrink: 0;
}
.mid4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 60%;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
@media (max-width: 350px) {
  .mid4 {
    width: 100%;
    height: auto;
    max-width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    padding: 8px 0px;
  }
}
.freeBox___9SPft {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__mjqj0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 17px;
  user-select: none;
  white-space: pre;
  min-width: 0;
}
.left3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 16%;
  justify-content: flex-start;
  align-items: center;
  opacity: 0.3;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .left3 {
    width: 100%;
    height: auto;
    max-width: 14%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 8px;
  }
}
.svg__b9Mr {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.settings {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  cursor: pointer;
  min-width: 0;
  padding: 8px 8px 20px;
}
@media (max-width: 500px) {
  .settings {
    display: flex;
  }
}
@media (max-width: 350px) {
  .settings {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    cursor: pointer;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
    padding: 8px 8px 20px;
  }
}
.right5 {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 16%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .right5 {
    display: flex;
  }
}
@media (max-width: 350px) {
  .right5 {
    width: 100%;
    height: auto;
    max-width: 12%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    padding: 8px 0px;
  }
}
.svg__zQElm {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}
@media (max-width: 350px) {
  .svg__zQElm {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
  }
}
.mid5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 60%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
@media (max-width: 350px) {
  .mid5 {
    width: 100%;
    height: auto;
    max-width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    padding: 8px 0px;
  }
}
.freeBox__vX8Ws {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__sG2Yf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 17px;
  user-select: none;
  white-space: pre;
  min-width: 0;
}
.left4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 16%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .left4 {
    width: 100%;
    height: auto;
    max-width: 14%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 8px;
  }
}
.svg__aZFzr {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.support {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  cursor: pointer;
  min-width: 0;
  padding: 20px 8px 8px;
}
@media (max-width: 500px) {
  .support {
    display: flex;
  }
}
@media (max-width: 350px) {
  .support {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom-style: dotted;
    border-bottom-width: 2px;
    cursor: pointer;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
    padding: 20px 8px 8px;
  }
}
.right6 {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 16%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .right6 {
    display: flex;
  }
}
@media (max-width: 350px) {
  .right6 {
    width: 100%;
    height: auto;
    max-width: 12%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    padding: 8px 0px;
  }
}
.svg___77W2 {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}
.mid6 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 60%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
@media (max-width: 350px) {
  .mid6 {
    width: 100%;
    height: auto;
    max-width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    padding: 8px 0px;
  }
}
.freeBox__z97Q {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__duD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 17px;
  user-select: none;
  white-space: pre;
  min-width: 0;
}
.left5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 16%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .left5 {
    width: 100%;
    height: auto;
    max-width: 14%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 8px;
  }
}
.svg___9TRUe {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.homePage {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  cursor: pointer;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .homePage {
    display: flex;
  }
}
@media (max-width: 350px) {
  .homePage {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom-style: dotted;
    border-bottom-width: 2px;
    cursor: pointer;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
    padding: 8px;
  }
}
.right8 {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 16%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .right8 {
    display: flex;
  }
}
@media (max-width: 350px) {
  .right8 {
    width: 100%;
    height: auto;
    max-width: 12%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    padding: 8px 0px;
  }
}
.svg___1BebJ {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  width: 24px;
  height: 26px;
  flex-shrink: 0;
}
.mid8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 60%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
@media (max-width: 350px) {
  .mid8 {
    width: 100%;
    height: auto;
    max-width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    padding: 8px 0px;
  }
}
.freeBox__lCZuj {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__qmM8W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 17px;
  user-select: none;
  white-space: pre;
  min-width: 0;
}
.left7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 16%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .left7 {
    width: 100%;
    height: auto;
    max-width: 14%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 8px;
  }
}
.svg__mwDF {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.logout {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  cursor: pointer;
  min-width: 0;
  padding: 8px;
}
.logout > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
}
@media (max-width: 500px) {
  .logout {
    display: flex;
  }
}
@media (max-width: 350px) {
  .logout {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom-style: dotted;
    border-bottom-width: 2px;
    cursor: pointer;
    flex-direction: row;
    min-width: 0;
    padding: 8px;
  }
}
@media (max-width: 350px) {
  .logout > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 350px) {
  .logout > :global(.__wab_flex-container) > *,
  .logout > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .logout > :global(.__wab_flex-container) > picture > img,
  .logout
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.right7 {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 16%;
  min-width: 0;
  padding: 8px;
}
.right7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
}
@media (max-width: 500px) {
  .right7 {
    display: flex;
  }
}
@media (max-width: 350px) {
  .right7 {
    width: 100%;
    height: auto;
    max-width: 12%;
    flex-direction: column;
    min-width: 0;
    padding: 8px 0px;
  }
}
@media (max-width: 350px) {
  .right7 > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 350px) {
  .right7 > :global(.__wab_flex-container) > *,
  .right7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .right7 > :global(.__wab_flex-container) > picture > img,
  .right7
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.svg__eJx3R {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  width: 26px;
  height: 26px;
  flex-shrink: 0;
}
.mid7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 60%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
@media (max-width: 350px) {
  .mid7 {
    width: 100%;
    height: auto;
    max-width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    padding: 8px 0px;
  }
}
.freeBox__zAsHi {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__rZeHq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 17px;
  user-select: none;
  white-space: pre;
  min-width: 0;
}
.left6 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 4px;
  max-width: 16%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .left6 {
    width: 100%;
    height: 8px;
    max-width: 14%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 0px 8px;
  }
}
.freeBox__sgL9C {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__sgL9C {
    min-height: 80px;
    max-height: 80px;
  }
}
@media (max-width: 350px) {
  .freeBox__sgL9C {
    min-height: 80px;
    max-height: 80px;
  }
}
.navigationRntFooter:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
@media (max-width: 500px) {
  .navigationRntFooter:global(.__wab_instance) {
    display: flex;
  }
}
@media (max-width: 350px) {
  .navigationRntFooter:global(.__wab_instance) {
    display: flex;
  }
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__hieAx {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-height: 80px;
  max-height: 80px;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__hieAx {
    display: flex;
  }
}
@media (max-width: 350px) {
  .freeBox__hieAx {
    display: flex;
  }
}
.clarityRntComponent:global(.__wab_instance) {
  display: none;
}
.faviconRntComponent:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
