.footer {
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(
    52.14429998535525deg,
    #00006b 0%,
    #09092f 18%,
    #191961 50%,
    #04042b 79%,
    #000078 93%
  );
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 0px 8px;
}
.freeBox__bbk5A {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(40deg, #ececec 0%, #fcfcfc 59%, #ececec 98%);
  min-width: 0;
  padding: 0px 8px;
}
@media (max-width: 1200px) {
  .freeBox__bbk5A {
    padding-top: 12px;
  }
}
@media (max-width: 500px) {
  .freeBox__bbk5A {
    background: linear-gradient(40deg, #ececec 0%, #fcfcfc 55%, #ececec 100%);
  }
}
.mid {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 18px 8px 20px;
}
@media (max-width: 1200px) {
  .mid {
    max-width: 100%;
    margin-bottom: 0px;
    padding-top: 0px;
  }
}
@media (max-width: 500px) {
  .mid {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    column-gap: 0px;
  }
}
.freeBox__bKwGn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 200px;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-height: 200px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__bKwGn {
    height: 200px;
    padding-left: 3px;
    padding-right: 0px;
    min-height: 200px;
  }
}
@media (max-width: 500px) {
  .freeBox__bKwGn {
    height: 170px;
    min-height: 170px;
    margin-bottom: 16px;
    padding-right: 3px;
    flex-shrink: 0;
  }
}
.freeBox___8NVqX {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  filter: none;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .embedHtml:global(.__wab_instance) {
    margin-bottom: 0px;
    height: 131px;
    flex-shrink: 0;
  }
}
.freeBox__zeOcA {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__zeOcA {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.text__musna {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 18px;
  padding-top: 0px;
  user-select: none;
  color: #444444;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__musna {
    line-height: 1.8;
    font-size: 17px;
  }
}
@media (max-width: 500px) {
  .text__musna {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__musna {
    font-size: 15px;
  }
}
.freeBox___6NgD {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 200px;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-height: 200px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox___6NgD {
    width: 100%;
    height: 200px;
    min-height: 200px;
    max-width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 8px;
  }
}
@media (max-width: 500px) {
  .freeBox___6NgD {
    width: 100%;
    height: 170px;
    min-height: 170px;
    max-width: 100%;
    margin-bottom: 16px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    flex-shrink: 0;
    padding: 8px 3px;
  }
}
.freeBox__kl8Ks {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__kl8Ks {
    padding-top: 16px;
  }
}
.img__fgjwb {
  object-fit: cover;
  max-width: 100%;
  height: 121px;
  flex-shrink: 0;
}
.img__fgjwb > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__fgjwb {
    height: 112px;
    flex-shrink: 0;
  }
}
@media (max-width: 500px) {
  .img__fgjwb {
    margin-bottom: 0px;
    height: 95px;
    flex-shrink: 0;
  }
}
.freeBox__zpfjo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__xral5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 18px;
  padding-top: 0px;
  user-select: none;
  color: #444444;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__xral5 {
    line-height: 1.8;
    font-size: 17px;
  }
}
@media (max-width: 500px) {
  .text__xral5 {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__xral5 {
    font-size: 15px;
  }
}
.freeBox__wrGuV {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 200px;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-height: 200px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__wrGuV {
    width: 100%;
    height: 200px;
    min-height: 200px;
    max-width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 8px;
  }
}
@media (max-width: 500px) {
  .freeBox__wrGuV {
    width: 100%;
    height: 170px;
    min-height: 170px;
    max-width: 100%;
    margin-bottom: 0px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    flex-shrink: 0;
    padding: 8px 3px;
  }
}
.freeBox__nzeHy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__kSPbT {
  object-fit: cover;
  max-width: 100%;
  height: 100px;
  margin-top: 12px;
  flex-shrink: 0;
}
.img__kSPbT > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__kSPbT {
    height: 91px;
    margin-top: 20px;
    flex-shrink: 0;
  }
}
@media (max-width: 500px) {
  .img__kSPbT {
    height: 67px;
    flex-shrink: 0;
  }
}
.freeBox__s2BqG {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__s2BqG {
    padding-top: 5px;
  }
}
.text___45Xuh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 18px;
  padding-top: 0px;
  user-select: none;
  color: #444444;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text___45Xuh {
    line-height: 1.8;
    font-size: 17px;
  }
}
@media (max-width: 500px) {
  .text___45Xuh {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text___45Xuh {
    font-size: 15px;
  }
}
._1st {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox___4Otdk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 38px 8px 8px;
}
.text__xugAr {
  font-size: 20px;
  color: #fcfcfc;
  font-weight: 500;
  user-select: none;
}
@media (max-width: 1200px) {
  .text__xugAr {
    font-weight: 500;
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .text__xugAr {
    font-weight: 500;
    font-size: 17px;
  }
}
@media (max-width: 350px) {
  .text__xugAr {
    font-size: 16px;
    text-align: center;
  }
}
.top {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 22%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 28px;
}
@media (max-width: 1200px) {
  .top {
    max-width: 40%;
  }
}
@media (max-width: 500px) {
  .top {
    max-width: 76%;
  }
}
@media (max-width: 350px) {
  .top {
    max-width: 90%;
  }
}
.eitaa {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 25%;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 8px 8px;
}
.img__n8G93 {
  object-fit: cover;
  max-width: 40%;
  width: 100%;
  cursor: pointer;
  min-width: 0;
}
.img__n8G93 > picture > img {
  object-fit: cover;
}
.instagram {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 25%;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 8px 8px;
}
.img__lRbQg {
  object-fit: cover;
  max-width: 40%;
  width: 100%;
  cursor: pointer;
  min-width: 0;
}
.img__lRbQg > picture > img {
  object-fit: cover;
}
.twitter {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 25%;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 8px 8px;
}
.img__v4Mit {
  object-fit: cover;
  max-width: 40%;
  width: 100%;
  cursor: pointer;
  min-width: 0;
}
.img__v4Mit > picture > img {
  object-fit: cover;
}
.telegram {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 25%;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 8px 8px;
}
.img__lkNc {
  object-fit: cover;
  max-width: 40%;
  width: 100%;
  cursor: pointer;
  min-width: 0;
}
.img__lkNc > picture > img {
  object-fit: cover;
}
.but {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: center;
  align-items: flex-start;
  column-gap: 20px;
  min-width: 0;
  padding: 28px 8px 40px;
  border-top: 2px solid #acacac;
}
@media (max-width: 1200px) {
  .but {
    max-width: 100%;
    padding-top: 24px;
    column-gap: 4px;
    row-gap: 0px;
  }
}
@media (max-width: 500px) {
  .but {
    max-width: 100%;
    display: flex;
    flex-direction: column-reverse;
    row-gap: 20px;
    padding-right: 12px;
    padding-left: 12px;
    column-gap: 0px;
  }
}
@media (max-width: 350px) {
  .but {
    max-width: 100%;
  }
}
.freeBox__hVQnd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__cednT {
  color: #fcfcfc;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  user-select: none;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__cednT {
    font-size: 15px;
    font-weight: 500;
  }
}
.link__dLt1I {
  padding-left: 0px;
  font-family: "Estedad";
  font-weight: 500;
}
@media (max-width: 350px) {
  .link__dLt1I {
    font-family: "Estedad";
    font-weight: 600;
  }
}
.freeBox__js4R {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__gLJN {
  color: #fcfcfc;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  line-height: 2;
  font-weight: 600;
  user-select: none;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__gLJN {
    font-size: 16px;
    font-weight: 500;
  }
}
@media (max-width: 500px) {
  .text__gLJN {
    font-size: 17px;
  }
}
@media (max-width: 350px) {
  .text__gLJN {
    font-size: 16px;
  }
}
.text__tJKbf {
  color: #7979ff;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  line-height: 2;
  user-select: none;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__tJKbf {
    font-size: 15px;
  }
}
.link__dOCjC {
  font-family: "Estedad";
  font-weight: 600;
  color: #7979ff;
}
@media (max-width: 500px) {
  .link__dOCjC {
    font-size: 16px;
  }
}
.link__xvVyt {
  font-family: "Estedad";
  font-weight: 600;
  color: #7979ff;
}
@media (max-width: 500px) {
  .link__xvVyt {
    font-family: "Estedad";
    font-size: 16px;
    font-weight: 600;
  }
}
.link__ddjit {
  font-family: "Estedad";
  font-weight: 600;
  color: #7979ff;
}
@media (max-width: 500px) {
  .link__ddjit {
    font-family: "Estedad";
    font-size: 16px;
    font-weight: 600;
  }
}
.link___2L0X0 {
  font-family: "Estedad";
  font-weight: 600;
  color: #7979ff;
}
@media (max-width: 500px) {
  .link___2L0X0 {
    font-family: "Estedad";
    font-size: 16px;
    font-weight: 600;
  }
}
.freeBox__rLfH4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__zFLzn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #fcfcfc;
  font-size: 17px;
  line-height: 2.2;
  padding-top: 0px;
  font-weight: 600;
  user-select: none;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__zFLzn {
    font-size: 16px;
    line-height: 2;
    font-weight: 500;
  }
}
@media (max-width: 500px) {
  .text__zFLzn {
    line-height: 1.8;
    font-size: 17px;
    font-weight: 500;
  }
}
@media (max-width: 350px) {
  .text__zFLzn {
    font-size: 16px;
  }
}
.text__cOA3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #fcfcfc;
  font-size: 16px;
  line-height: 1.8;
  padding-top: 6px;
  user-select: none;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__cOA3 {
    font-size: 15px;
    line-height: 2;
  }
}
@media (max-width: 500px) {
  .text__cOA3 {
    line-height: 1.8;
  }
}
