.root:global(.__wab_instance) {
  max-width: 95%;
  position: relative;
}
@media (max-width: 1200px) {
  .root:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 500px) {
  .root:global(.__wab_instance) {
    max-width: 60px;
    width: 95%;
  }
}
@media (max-width: 350px) {
  .root:global(.__wab_instance) {
    max-width: 40px;
  }
}
