.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(9.761579364335262deg, #0000b7 34%, #0000f7 100%);
  padding-top: 65px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 500px) {
  .root {
    justify-items: center;
    align-content: flex-start;
  }
}
@media (max-width: 500px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 350px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox__v4W4T {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__v4W4T {
    align-items: center;
    justify-content: flex-start;
    padding-top: 160px;
  }
}
@media (max-width: 350px) {
  .freeBox__v4W4T {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.img__ytmI {
  object-fit: cover;
  max-width: 100%;
  width: 60px;
}
.img__ytmI > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__ytmI {
    width: 50px;
  }
}
@media (max-width: 350px) {
  .img__ytmI {
    width: 44px;
  }
}
.text__cww71 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-8R7jjC_-F9FF);
  text-align: center;
  font-size: 17px;
  line-height: 2;
  padding-top: 42px;
  font-weight: 400;
  padding-bottom: 0px;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__cww71 {
    padding-top: 9px;
  }
}
@media (max-width: 500px) {
  .text__cww71 {
    font-size: 15px;
    padding-bottom: 0px;
    padding-top: 40px;
  }
}
@media (max-width: 350px) {
  .text__cww71 {
    font-size: 15px;
    padding-top: 18px;
  }
}
.freeBox__lbOl7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__nxgSw {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  column-gap: 10px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__nxgSw {
    padding-top: 19px;
  }
}
.text__jc0Fd {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  font-size: 15px;
  font-weight: 400;
  color: var(--token-8R7jjC_-F9FF);
  text-align: right;
  line-height: 2;
}
.img__ppz2 {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  width: 20px;
  flex-shrink: 0;
}
.img__ppz2 > picture > img {
  object-fit: cover;
}
.center {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.freeBox__bXpcU {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__bXpcU {
    padding-bottom: 12px;
    margin-bottom: 0px;
  }
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: #fcfcfc;
  width: 300px;
  height: 100px;
  flex-shrink: 0;
}
@media (max-width: 500px) {
  .svg {
    width: 240px;
    height: 60px;
    flex-shrink: 0;
  }
}
@media (max-width: 350px) {
  .svg {
    width: 200px;
    height: 60px;
    flex-shrink: 0;
  }
}
.freeBox__pwpH {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 20px 8px 8px;
}
@media (max-width: 500px) {
  .freeBox__pwpH {
    padding-bottom: 100px;
  }
}
@media (max-width: 350px) {
  .freeBox__pwpH {
    padding-top: 0px;
  }
}
.text__eYj3W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #fcfcfc;
  text-align: center;
  font-size: 20px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__eYj3W {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__eYj3W {
    font-size: 16px;
  }
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.clarityRntComponent:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
