.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: flex-start;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___902C5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__iu94T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__rubIc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-8nedppYkGVaH);
  font-weight: 700;
  font-size: 18px;
  min-width: 0;
  margin: 20px;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.text__dG63L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 50px;
  align-self: center;
  font-size: 14px;
  min-width: 0;
  display: none;
}
.platforms:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text___9Qabr {
  padding-left: 0px;
  font-size: 16px;
}
.freeBox__oOaMl {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___7Uehj {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.jabamaCheckbox:global(.__wab_instance) {
  max-width: 100%;
}
.text__rvvfb {
  padding-right: 0px;
  font-family: "Estedad";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  color: #203647;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.freeBox__th3L {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.jajigaCheckbox:global(.__wab_instance) {
  max-width: 100%;
}
.text__abro6 {
  padding-right: 0px;
  font-family: "Estedad";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  color: #203647;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.freeBox__hVo44 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__jrKat {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.shabCheckbox:global(.__wab_instance) {
  max-width: 100%;
}
.text__oqozP {
  padding-right: 0px;
  font-family: "Estedad";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  color: #203647;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.freeBox___58K3Z {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.otaghakCheckbox4:global(.__wab_instance) {
  max-width: 100%;
}
.text__dDm1G {
  padding-right: 0px;
  font-family: "Estedad";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  color: #203647;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.freeBox__lz62M {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__xbdBw {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.mihmanshoCheckbox5:global(.__wab_instance) {
  max-width: 100%;
}
.text__j0XP1 {
  padding-right: 0px;
  font-family: "Estedad";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  color: #203647;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.freeBox__slCpD {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.homsaCheckbox:global(.__wab_instance) {
  max-width: 100%;
}
.text__qKuVo {
  padding-right: 0px;
  font-family: "Estedad";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  color: #203647;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.freeBox__i1Qw9 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___7OPwH {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.mizboonCheckbox7:global(.__wab_instance) {
  max-width: 100%;
}
.text__vjZiu {
  padding-right: 0px;
  font-family: "Estedad";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  color: #203647;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.freeBox__uqH0V {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.submitButton:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text__tB7Bi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.jabamaVerticalStack {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.formField__aHmY:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__z0QLx {
  padding-left: 0px;
  font-size: 16px;
}
.input26:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__npOhi {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.jabamasend2:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text___5Edp0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.back:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: linear-gradient(#fcfcfc, #fcfcfc), var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
  border: 2px solid var(--token-8nedppYkGVaH);
}
.text__yjIc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  color: var(--token-8nedppYkGVaH);
  min-width: 0;
}
.formField__avCWg:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text__rr7As {
  padding-left: 0px;
  font-size: 16px;
}
.input8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__egg9 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.jabamaverify:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text__cQivN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.jabamaverify2:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: linear-gradient(#ffffff, #ffffff), var(--token-8nedppYkGVaH);
  color: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
  border: 2px solid var(--token-8nedppYkGVaH);
}
.text__zK9Fo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.jajigaVerticalStack {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  padding: 8px;
}
.formField__zjTmv:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__noIQz {
  padding-left: 0px;
  font-size: 16px;
}
.input7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__rbzxp {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.jajigasend:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text__e2Q4E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.jajigasend2:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: linear-gradient(#ffffff, #ffffff), var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
  border: 2px solid var(--token-8nedppYkGVaH);
}
.text__hXnBw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  color: var(--token-8nedppYkGVaH);
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
}
.svg__v1Smr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__gxRdr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.formField__ag5Gd:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text___7G9Yk {
  padding-left: 0px;
  font-size: 16px;
}
.input6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__zmY8X {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.jajigaverify:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text___54Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.jajigaverify2:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: linear-gradient(#ffffff, #ffffff), #8165d6;
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
  border: 2px solid var(--token-8nedppYkGVaH);
}
.text__rsiJd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  color: var(--token-8nedppYkGVaH);
  min-width: 0;
}
.shabVerticalStack {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  padding: 8px;
}
.formField__xG7G1:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__nDm7E {
  padding-left: 0px;
  font-size: 16px;
}
.input9:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.shabsend:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text__lUjRk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.formField___6Ii:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text___8F4D {
  padding-left: 0px;
  font-size: 16px;
}
.input10:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.shabverify:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text__eoJfg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.otaghakVerticalStack {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  padding: 8px;
}
.formField__jib0:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__xgdh8 {
  padding-left: 0px;
  font-size: 16px;
}
.input11:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.otaghaksend:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text__sW7Ng {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.formField__xfDv9:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text__lerIh {
  padding-left: 0px;
  font-size: 16px;
}
.input12:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.otaghakverify:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text__mio5R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.mihmanshoVerticalStack {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  padding: 8px;
}
.formField__k1Qsb:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__nxPYh {
  padding-left: 0px;
  font-size: 16px;
}
.input13:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.mihmanshosend:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text___4Upp0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.formField__puqmy:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text__drOJx {
  padding-left: 0px;
  font-size: 16px;
}
.input14:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.mihmanshoverify:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text__i2DX8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.homsaVerticalStack {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  padding: 8px;
}
.formField__obtIz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__tJsYe {
  padding-left: 0px;
  font-size: 16px;
}
.input15:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__m5Okj:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text___9OGxB {
  padding-left: 0px;
  font-size: 16px;
}
.input16:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.homsaverify:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text__fPw16 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.mizboonVerticalStack {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  padding: 8px;
}
.formField__bIu0Z:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__ohG95 {
  padding-left: 0px;
  font-size: 16px;
}
.input17:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.mizboonsend:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text__ypkvh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.formField__sqb9K:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text__e5ZzU {
  padding-left: 0px;
  font-size: 16px;
}
.input18:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.mizboonverify:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text__mKzpz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.platformPropertyVerticalStack {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  padding: 8px;
}
.formField__dnIbE:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text___9I11 {
  padding-left: 0px;
  font-size: 16px;
}
.input19:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField___2C1Ft:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text___5Vz1E {
  padding-left: 0px;
  font-size: 16px;
}
.input20:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField___35Ogy:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__o5I28 {
  padding-left: 0px;
  font-size: 16px;
}
.input21:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField___0A3Oy:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__coXOw {
  padding-left: 0px;
  font-size: 16px;
}
.input22:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__cFwMx:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__rK4Kt {
  padding-left: 0px;
  font-size: 16px;
}
.input23:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__biuDw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__gRohE {
  padding-left: 0px;
  font-size: 16px;
}
.input24:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__faixL:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text___1K3Jd {
  padding-left: 0px;
  font-size: 16px;
}
.input25:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.jabamacodeButton:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text__ovx33 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.backToPanel:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: linear-gradient(#ffffff, #ffffff), var(--token-8nedppYkGVaH);
  color: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
  border: 2px solid var(--token-8nedppYkGVaH);
}
.text__xvvvy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  font-weight: 500;
  min-width: 0;
}
