.ariaSwitch:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  display: flex;
  box-sizing: border-box;
  color: var(--token-Y7ZM7gj_nMYR);
  font-family: var(--token-qkywJ1sQQ-h_);
  font-size: var(--token-wq-7W0QuaGtb);
  line-height: var(--token-otgoHRDIcFGD);
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding-right: 0px;
  row-gap: var(--token-fuThMYwlrO8g);
  min-width: 0;
}
.ariaSwitch[data-selected]:global(.__wab_instance) {
  padding-right: 0px;
}
.ariaSwitch[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}
.ariaSwitch[data-readonly]:global(.__wab_instance) {
  pointer-events: none;
  cursor: default;
}
.freeBox {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: var(--token-Duv1ymIhszml);
}
.switchIndicator {
  height: 30px;
  display: flex;
  background: var(--token-i2OuW5qMuCTw);
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  width: 32px;
  flex-shrink: 0;
  border-radius: 99px;
  padding: var(--token-Xkcz3qrS_HH8);
}
.ariaSwitch[data-selected] .switchIndicator {
  background: var(--token-uKpIaVO1zd7X);
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
  width: 32px;
}
.ariaSwitch[data-focus-visible] .switchIndicator {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-qkMXlUhOdBHU);
  outline-offset: 1px;
}
.ariaSwitch[data-disabled] .switchIndicator {
  cursor: not-allowed;
}
@media (max-width: 500px) {
  .switchIndicator {
    height: 26px;
    width: 36px;
    flex-shrink: 0;
  }
}
@media (max-width: 350px) {
  .switchIndicator {
    height: 1.4em;
  }
}
.thumb {
  display: flex;
  position: relative;
  width: var(--token-sq05VTixHzt0);
  background: var(--token-8R7jjC_-F9FF);
  height: var(--token-sq05VTixHzt0);
  flex-direction: row;
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  transform: skew(0deg, 0deg);
  box-shadow: 0px 0px 3px 0px #00000040;
  padding-right: 0px;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.1s;
  border-radius: 99px;
}
.ariaSwitch[data-selected] .thumb {
  transform: translate3d(12px, 0px, 0px);
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 350px) {
  .thumb {
    height: 1.2em;
    width: 1.2em;
    flex-shrink: 0;
  }
}
.description:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
