.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #fcfcfc;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__rTcZv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___1Ch58 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.name {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-8R7jjC_-F9FF);
  min-width: 0;
  border-radius: 30px;
  padding: 12px;
}
.name > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.name > :global(.__wab_flex-container) > *,
.name > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.name > :global(.__wab_flex-container) > picture > img,
.name > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 15px;
}
.freeBox__hYmNp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-8R7jjC_-F9FF);
  min-width: 0;
  border-radius: 30px;
  padding: 12px;
}
.freeBox__hYmNp > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.freeBox__hYmNp > :global(.__wab_flex-container) > *,
.freeBox__hYmNp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hYmNp > :global(.__wab_flex-container) > picture > img,
.freeBox__hYmNp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.text__ujfDw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  min-width: 0;
}
.text__dvUxm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 18px;
  font-weight: 500;
  min-width: 0;
}
.freeBox__qsUmy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-8R7jjC_-F9FF);
  min-width: 0;
  border-radius: 30px;
  padding: 12px;
}
.freeBox__qsUmy > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.freeBox__qsUmy > :global(.__wab_flex-container) > *,
.freeBox__qsUmy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qsUmy > :global(.__wab_flex-container) > picture > img,
.freeBox__qsUmy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.freeBox__k6Quz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 8px;
  border-bottom: 1px solid #d7d7d7;
}
.freeBox__k6Quz > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.freeBox__k6Quz > :global(.__wab_flex-container) > *,
.freeBox__k6Quz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__k6Quz > :global(.__wab_flex-container) > picture > img,
.freeBox__k6Quz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.text__lw8Mb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
}
.freeBox__b7Hq5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-8R7jjC_-F9FF);
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
}
.freeBox__b7Hq5 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.freeBox__b7Hq5 > :global(.__wab_flex-container) > *,
.freeBox__b7Hq5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__b7Hq5 > :global(.__wab_flex-container) > picture > img,
.freeBox__b7Hq5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.freeBox__njdMr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
  border-bottom: 1px solid #d7d7d7;
}
.text__arb4E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
}
.freeBox__ikYam {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-8R7jjC_-F9FF);
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
}
.freeBox__ikYam > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.freeBox__ikYam > :global(.__wab_flex-container) > *,
.freeBox__ikYam > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ikYam > :global(.__wab_flex-container) > picture > img,
.freeBox__ikYam
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.freeBox__apMtH {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
  border-bottom: 1px solid #d7d7d7;
}
.text__sE5Qd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
}
.freeBox__wAdqO {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-8R7jjC_-F9FF);
  min-width: 0;
  border-radius: 30px;
  padding: 12px;
}
.freeBox__wAdqO > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__wAdqO > :global(.__wab_flex-container) > *,
.freeBox__wAdqO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wAdqO > :global(.__wab_flex-container) > picture > img,
.freeBox__wAdqO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.button___5X2:global(.__wab_instance) {
  max-width: 100%;
}
.svg__sEsfD {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__hoMZ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button___0SrO9:global(.__wab_instance) {
  max-width: 100%;
}
.svg__cJhHs {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__c93Q {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.type {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-8R7jjC_-F9FF);
  min-width: 0;
  border-radius: 30px;
  padding: 12px;
}
.type > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.type > :global(.__wab_flex-container) > *,
.type > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.type > :global(.__wab_flex-container) > picture > img,
.type > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 15px;
}
.freeBox___3BVdg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-8R7jjC_-F9FF);
  min-width: 0;
  border-radius: 30px;
  padding: 12px;
}
.freeBox___3BVdg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.freeBox___3BVdg > :global(.__wab_flex-container) > *,
.freeBox___3BVdg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3BVdg > :global(.__wab_flex-container) > picture > img,
.freeBox___3BVdg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.text__qCbD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  min-width: 0;
}
.text__pWQb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 18px;
  font-weight: 500;
  min-width: 0;
}
.freeBox__vzuDv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-8R7jjC_-F9FF);
  min-width: 0;
  border-radius: 30px;
  padding: 12px;
}
.freeBox__vzuDv > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.freeBox__vzuDv > :global(.__wab_flex-container) > *,
.freeBox__vzuDv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vzuDv > :global(.__wab_flex-container) > picture > img,
.freeBox__vzuDv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.textInput2:global(.__wab_instance) {
  max-width: 100%;
}
.svg__wK0LP {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__miEaA {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__fjjF {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-8R7jjC_-F9FF);
  min-width: 0;
  border-radius: 30px;
  padding: 12px;
}
.freeBox__fjjF > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__fjjF > :global(.__wab_flex-container) > *,
.freeBox__fjjF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fjjF > :global(.__wab_flex-container) > picture > img,
.freeBox__fjjF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.button__yX5Xz:global(.__wab_instance) {
  max-width: 100%;
}
.svg__qBibR {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__vd4RU {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__vcGme:global(.__wab_instance) {
  max-width: 100%;
}
.svg___1Dkn8 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___5Ipyz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.image {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-8R7jjC_-F9FF);
  min-width: 0;
  border-radius: 30px;
  padding: 12px;
}
.image > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.image > :global(.__wab_flex-container) > *,
.image > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.image > :global(.__wab_flex-container) > picture > img,
.image > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 15px;
}
.freeBox__mvHmx {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-8R7jjC_-F9FF);
  min-width: 0;
  border-radius: 30px;
  padding: 12px;
}
.freeBox__mvHmx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.freeBox__mvHmx > :global(.__wab_flex-container) > *,
.freeBox__mvHmx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mvHmx > :global(.__wab_flex-container) > picture > img,
.freeBox__mvHmx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.text__soxc5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  min-width: 0;
}
.text__qTcXd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 18px;
  font-weight: 500;
  min-width: 0;
}
.freeBox__kDi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-8R7jjC_-F9FF);
  min-width: 0;
  border-radius: 30px;
  padding: 12px;
}
.freeBox__kDi > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.freeBox__kDi > :global(.__wab_flex-container) > *,
.freeBox__kDi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kDi > :global(.__wab_flex-container) > picture > img,
.freeBox__kDi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.upload:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 12px;
}
.button__eeVZo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__zDxI0 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  position: relative;
  min-width: 0;
}
.freeBox__bip8X {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-8R7jjC_-F9FF);
  min-width: 0;
  border-radius: 30px;
  padding: 12px;
}
.freeBox__bip8X > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__bip8X > :global(.__wab_flex-container) > *,
.freeBox__bip8X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bip8X > :global(.__wab_flex-container) > picture > img,
.freeBox__bip8X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.button__mJj3Z:global(.__wab_instance) {
  max-width: 100%;
}
.svg__huukW {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__dpRjQ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__ykr5G:global(.__wab_instance) {
  max-width: 100%;
}
.svg__vi4X {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___2748A {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.imagePreview {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-8R7jjC_-F9FF);
  min-width: 0;
  border-radius: 30px;
  padding: 12px;
}
.imagePreview > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.imagePreview > :global(.__wab_flex-container) > *,
.imagePreview > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.imagePreview > :global(.__wab_flex-container) > picture > img,
.imagePreview
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.freeBox__cN9En {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-8R7jjC_-F9FF);
  min-width: 0;
  border-radius: 30px;
  padding: 12px;
}
.freeBox__cN9En > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.freeBox__cN9En > :global(.__wab_flex-container) > *,
.freeBox__cN9En > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cN9En > :global(.__wab_flex-container) > picture > img,
.freeBox__cN9En
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.text___4L1Vc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  min-width: 0;
}
.text__asRwP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 18px;
  font-weight: 500;
  min-width: 0;
}
.freeBox___6KjN {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-8R7jjC_-F9FF);
  min-width: 0;
  border-radius: 30px;
  padding: 12px;
}
.freeBox___6KjN > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.freeBox___6KjN > :global(.__wab_flex-container) > *,
.freeBox___6KjN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6KjN > :global(.__wab_flex-container) > picture > img,
.freeBox___6KjN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.img {
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox___8XV96 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-8R7jjC_-F9FF);
  min-width: 0;
  border-radius: 30px;
  padding: 12px;
}
.freeBox___8XV96 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox___8XV96 > :global(.__wab_flex-container) > *,
.freeBox___8XV96 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8XV96 > :global(.__wab_flex-container) > picture > img,
.freeBox___8XV96
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.button__rJpwz:global(.__wab_instance) {
  max-width: 100%;
}
.svg__qKwbF {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__vGrXr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__dFv1O:global(.__wab_instance) {
  max-width: 100%;
}
.svg__vgGkd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__usbBq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___6Agim {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
.clarityRntComponent:global(.__wab_instance) {
  display: none;
}
.faviconRntComponent:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
