.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.httpRestApiFetcher:global(.__wab_instance) {
  width: 192px;
  max-width: 100%;
  object-fit: cover;
}
.image {
  object-fit: cover;
  max-width: 100%;
  width: 168px;
  height: 75px;
  border-radius: 10px;
  margin: 3px 0px 0px;
}
.image > picture > img {
  object-fit: cover;
}
