.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  justify-self: flex-start;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
.formField___3Kc6P:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input__jLsXv:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__jDPlp:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input__aqsN:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__wSz4H:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input__datsn:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__jO8KE:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input__bMzOy:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__kwS9:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input__r3V87:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__xihY:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input__ncXuu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__q2By:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input__uqDzz:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__l1Mw:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input__zbTvj:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__xpQo2:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input__wG9Mg:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__yA0X7:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input__hZagi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__y9Zv:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input___2Bic:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  text-align: center;
  color: #fcfcfc;
  background: var(--token-8nedppYkGVaH);
  align-self: center;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
