.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 500px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox__clEhK {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 101px;
}
@media (max-width: 500px) {
  .freeBox__clEhK {
    animation: none;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 350px) {
  .freeBox__clEhK {
    animation: none;
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__zfPB {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 40px 0px 8px;
}
@media (max-width: 500px) {
  .freeBox__zfPB {
    animation: none;
  }
}
.successful {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 140px;
  flex-shrink: 0;
  border-radius: 30px;
  margin: 0px;
}
.successful > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .successful {
    animation: none;
    width: 150px;
    flex-shrink: 0;
    margin: 0px;
  }
}
@media (max-width: 350px) {
  .successful {
    animation: none;
  }
}
.freeBox__hV0I7 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 19px 8px 8px;
  margin: 0px;
}
@media (max-width: 500px) {
  .freeBox__hV0I7 {
    animation: none;
    margin: 0px;
  }
}
.text__u7Oi {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__u7Oi {
    animation: none;
    max-width: 113.24%;
    font-size: 18px;
    padding-right: 0px;
    font-family: "Estedad";
    width: 100%;
    min-width: 0;
  }
}
.apiRequest:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
@media (max-width: 350px) {
  .apiRequest:global(.__wab_instance) {
    animation: none;
  }
}
.img {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 76px;
}
.img > picture > img {
  object-fit: cover;
}
.text__y6Dyx {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__aiXp {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__uLfWy {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  text-align: center;
  min-width: 0;
}
.freeBox__vaKeo {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 32px 8px 8px;
}
.embedHtml:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.button {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .button {
    animation: none;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    row-gap: 0px;
  }
}
@media (max-width: 500px) {
  .button {
    animation: none;
    display: flex;
    flex-direction: column;
    column-gap: 0px;
  }
}
@media (max-width: 350px) {
  .button {
    animation: none;
    display: flex;
    flex-direction: column;
    column-gap: 0px;
  }
}
.sideEffect:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
