.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #fcfcfc;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 500px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 350px) {
  .root > * {
    grid-column: 4;
  }
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.profile:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.header {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 2em 8px 8px;
}
@media (max-width: 500px) {
  .header {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox__sDWy4 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.sideBar2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  z-index: 1;
  right: -6px;
  left: auto;
  top: -12px;
  position: fixed;
}
.freeBox__pfauu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
@media (max-width: 500px) {
  .freeBox__pfauu {
    padding: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__pfauu {
    padding: 0px;
  }
}
.text__gX6Ao {
  width: 90%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
@media (max-width: 500px) {
  .text__gX6Ao {
    font-size: 25px;
    width: 70%;
  }
}
@media (max-width: 350px) {
  .text__gX6Ao {
    font-size: 20px;
    width: 60%;
  }
}
.freeBox__prOxi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 2em 8px 9em;
}
@media (max-width: 500px) {
  .freeBox__prOxi {
    padding-bottom: 10em;
  }
}
@media (max-width: 350px) {
  .freeBox__prOxi {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.tableHeader {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-around;
  align-items: center;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  min-width: 0;
  padding: 8px 8px 14px;
}
@media (max-width: 350px) {
  .tableHeader {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
    padding: 14px 0px;
  }
}
.freeBox__fk6Iq {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  width: 15%;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__fk6Iq > :global(.__wab_flex-container) {
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__fk6Iq > :global(.__wab_flex-container) > *,
.freeBox__fk6Iq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fk6Iq > :global(.__wab_flex-container) > picture > img,
.freeBox__fk6Iq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (max-width: 500px) {
  .freeBox__fk6Iq {
    width: 30%;
    height: auto;
    max-width: 100%;
    flex-direction: row-reverse;
    padding: 0px;
  }
}
@media (max-width: 500px) {
  .freeBox__fk6Iq > :global(.__wab_flex-container) {
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    margin-left: calc(0px - 10px);
    width: calc(100% + 10px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 500px) {
  .freeBox__fk6Iq > :global(.__wab_flex-container) > *,
  .freeBox__fk6Iq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fk6Iq > :global(.__wab_flex-container) > picture > img,
  .freeBox__fk6Iq
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 10px;
    margin-top: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__fk6Iq {
    width: 30%;
  }
}
@media (max-width: 350px) {
  .freeBox__fk6Iq > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.img__yUNg1 {
  object-fit: cover;
  max-width: 100%;
  height: 15px;
  opacity: 0;
}
.img__yUNg1 > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__yUNg1 {
    display: none !important;
  }
}
.text__dqFdj {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 600;
  text-align: right;
}
@media (max-width: 500px) {
  .text__dqFdj {
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .text__dqFdj {
    font-size: 13px;
    width: auto;
    height: auto;
    max-width: 100%;
    font-weight: 600;
  }
}
.freeBox__o5AF {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 20%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
@media (max-width: 500px) {
  .freeBox__o5AF {
    width: 25%;
  }
}
@media (max-width: 350px) {
  .freeBox__o5AF {
    width: 25%;
  }
}
.text__e0KU {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 600;
}
@media (max-width: 500px) {
  .text__e0KU {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    font-weight: 600;
  }
}
@media (max-width: 350px) {
  .text__e0KU {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 13px;
    font-weight: 600;
  }
}
.freeBox__zgxP2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 7%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
@media (max-width: 500px) {
  .freeBox__zgxP2 {
    width: 8%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__zgxP2 {
    width: 8%;
  }
}
.text___8OAjM {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 600;
}
@media (max-width: 500px) {
  .text___8OAjM {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    font-weight: 600;
  }
}
@media (max-width: 350px) {
  .text___8OAjM {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 13px;
    font-weight: 600;
  }
}
.freeBox__tnAne {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 30%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
@media (max-width: 500px) {
  .freeBox__tnAne {
    width: 20%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
@media (max-width: 350px) {
  .freeBox__tnAne {
    align-items: flex-end;
    justify-content: center;
  }
}
.text__yuf6G {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 600;
  padding-right: 0px;
}
@media (max-width: 500px) {
  .text__yuf6G {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
  }
}
@media (max-width: 350px) {
  .text__yuf6G {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
  }
}
.item {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-around;
  align-items: center;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  min-width: 0;
  padding: 14px 8px;
}
@media (max-width: 500px) {
  .item {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .item {
    justify-content: space-between;
  }
}
.freeBox__l4Nm {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 15%;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__l4Nm > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__l4Nm > :global(.__wab_flex-container) > *,
.freeBox__l4Nm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__l4Nm > :global(.__wab_flex-container) > picture > img,
.freeBox__l4Nm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (max-width: 500px) {
  .freeBox__l4Nm {
    width: 30%;
  }
}
@media (max-width: 350px) {
  .freeBox__l4Nm {
    width: 30%;
  }
}
.img__jklRg {
  object-fit: cover;
  max-width: 100%;
  height: 15px;
}
.img__jklRg > picture > img {
  object-fit: cover;
}
.img__uxrTx {
  object-fit: cover;
  max-width: 100%;
  height: 15px;
}
.img__uxrTx > picture > img {
  object-fit: cover;
}
.text__kv54W {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 400;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media (max-width: 500px) {
  .text__kv54W {
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .text__kv54W {
    font-size: 13px;
    padding-left: 0px;
  }
}
.freeBox__njSro {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 20%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
@media (max-width: 500px) {
  .freeBox__njSro {
    width: 25%;
  }
}
@media (max-width: 350px) {
  .freeBox__njSro {
    width: 25%;
    align-items: flex-start;
    justify-content: center;
  }
}
.text__tYydp {
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 400;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
@media (max-width: 500px) {
  .text__tYydp {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    font-weight: 400;
  }
}
@media (max-width: 350px) {
  .text__tYydp {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 12px;
    font-weight: 400;
  }
}
.freeBox__msCkg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 7%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
@media (max-width: 500px) {
  .freeBox__msCkg {
    width: 8%;
  }
}
@media (max-width: 350px) {
  .freeBox__msCkg {
    width: 8%;
  }
}
.text__kzc8T {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 400;
}
@media (max-width: 500px) {
  .text__kzc8T {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    font-weight: 400;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
  }
}
@media (max-width: 350px) {
  .text__kzc8T {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 12px;
    font-weight: 400;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
  }
}
.freeBox__nyRbP {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 30%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 500px) {
  .freeBox__nyRbP {
    width: 20%;
  }
}
.text__jQXc {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 400;
  padding-right: 0px;
}
@media (max-width: 500px) {
  .text__jQXc {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    font-weight: 400;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
  }
}
@media (max-width: 350px) {
  .text__jQXc {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 12px;
    font-weight: 400;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
  }
}
.text___6V8Xa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  padding-top: 8px;
  padding-bottom: 8px;
  min-width: 0;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__nqKbX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  min-width: 0;
}
.text___05ZQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  min-width: 0;
}
.favicon:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.returnButton {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #8165d6;
  min-width: 0;
  border-radius: 30px 30px 0px 0px;
  padding: 8px;
}
@media (max-width: 500px) {
  .returnButton {
    padding: 8px;
  }
}
.freeBox__i6Ki {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 50px;
  max-width: 20%;
  justify-content: center;
  align-items: center;
  background: var(--token-8nedppYkGVaH);
  cursor: pointer;
  min-width: 0;
  border-radius: 30px;
  padding: 0px;
}
@media (max-width: 1200px) {
  .freeBox__i6Ki {
    width: 100%;
    height: 50px;
    max-width: 30%;
    background: var(--token-8nedppYkGVaH);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    border-radius: 30px;
    padding: 0px;
  }
}
@media (max-width: 500px) {
  .freeBox__i6Ki {
    background: var(--token-8nedppYkGVaH);
    height: 60px;
    max-width: 90%;
    border-radius: 30px;
    padding: 0px;
  }
}
.text__gpLd3 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-zy6xhYnWF8Y7);
  text-align: center;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__gpLd3 {
    font-size: 17px;
  }
}
.clarity:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
