.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-UHeJbsqtJ81W);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-wJDQDlNBG9-P);
  font-family: var(--token-xaklMU0ATk95);
  font-size: var(--token-_oENCX3nG6AL);
  line-height: var(--token-DFo-lcV2ck1d);
  outline-style: none;
  border-radius: var(--token-A6AjY9H_9J3c);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-NRJ7O9Gfj5eX);
  outline-offset: 1px;
  outline-color: var(--token-UHeJbsqtJ81W);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-pF8Ne393e1C0);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-u2w2gf29rmsW);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token--DgNAC9rftg4);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-CnIa8YKxtAiK);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-OlTC1VL_u0LE);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-ZkGGABjHEex2);
  font-size: var(--token-g5PXzzkCCC51);
  column-gap: var(--token-NRJ7O9Gfj5eX);
  row-gap: 0px;
  border-radius: var(--token-QnT7ST0U9U6N);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-g5PXzzkCCC51);
  line-height: var(--token-ZkGGABjHEex2);
  column-gap: var(--token-QnT7ST0U9U6N);
  row-gap: 0px;
  border-radius: var(--token-QnT7ST0U9U6N);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-Gmu3Fy9i4D9r);
  line-height: var(--token-C64YGHdfpwuq);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-Gmu3Fy9i4D9r);
  line-height: var(--token-C64YGHdfpwuq);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-bM3AmfcaH5ut);
  border-radius: var(--token-A6AjY9H_9J3c);
}
.softBackgroundcolor_neutral {
  background: var(--token-r6ZxWvt2-why);
}
.softBackgroundcolor_muted {
  background: var(--token-fxT_jonM5UjQ);
}
.softBackgroundcolor_success {
  background: var(--token-nYiC6HmJwgLy);
}
.softBackgroundcolor_warning {
  background: var(--token-7KsIKJZswgPG);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-WaiCuOKJECbD);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-A6AjY9H_9J3c);
  border: 0px solid var(--token-h5EjxYYtOnSD);
}
.bordercolor_neutral {
  border-color: var(--token-Iy03Ti046bEy);
}
.bordercolor_muted {
  border-color: var(--token-AgQQZ0vK31wA);
}
.bordercolor_success {
  border-color: var(--token-FbK1k2dhp8Ph);
}
.bordercolor_warning {
  border-color: var(--token-FMZ0ZvK69Guz);
}
.bordercolor_errorDestructive {
  border-color: var(--token-RGadtLgfHJKW);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-A6AjY9H_9J3c);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-rWV6vR1ZF_A1);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-je3eP4ugR7X7);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-rXHilgWRfqw9);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__a4Il4 {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-A6AjY9H_9J3c) var(--token-A0rhQdpeGugR);
}
.freeBox__a4Il4 > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-A6AjY9H_9J3c));
  width: calc(100% + var(--token-A6AjY9H_9J3c));
}
.freeBox__a4Il4 > :global(.__wab_flex-container) > *,
.freeBox__a4Il4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__a4Il4 > :global(.__wab_flex-container) > picture > img,
.freeBox__a4Il4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-A6AjY9H_9J3c);
}
.freeBoxsize_extraSmall__a4Il4V0JsI {
  padding: var(--token-QnT7ST0U9U6N) var(--token-A6AjY9H_9J3c);
}
.freeBoxsize_small__a4Il4AsPgM {
  padding: var(--token-A6AjY9H_9J3c) var(--token-wJDQDlNBG9-P);
}
.freeBoxsize_large__a4Il4XhVgB {
  padding-top: var(--token-QnT7ST0U9U6N);
  padding-bottom: var(--token-QnT7ST0U9U6N);
}
.freeBoxsize_extraLarge__a4Il4Ob0Ak {
  padding-left: var(--token-K4E8adEIaIBi);
  padding-right: var(--token-K4E8adEIaIBi);
}
.freeBoxroundedFull__a4Il4R0F {
  padding-right: var(--token-K4E8adEIaIBi);
  padding-left: var(--token-K4E8adEIaIBi);
}
.freeBox__jVu5Z {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__jVu5ZdiV9O {
  display: flex;
}
.slotTargetStart {
  color: var(--token-r_7SJZvch9F2);
}
.slotTargetStartcolor_neutral {
  color: var(--token-su-yvB-X4vC9);
}
.slotTargetStartcolor_muted {
  color: var(--token-PPd9f3fw36K5);
}
.slotTargetStartcolor_success {
  color: var(--token-ed0adtOdVIoL);
}
.slotTargetStartcolor_warning {
  color: var(--token-paMwVA5D3xLn);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-d3ynA_QNmhnl);
}
.slotTargetStarttype_soft {
  color: var(--token-4M5jbUgHsaLN);
}
.slotTargetStarttype_bordered {
  color: var(--token-4M5jbUgHsaLN);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-g5PXzzkCCC51);
}
.slotTargetStartsize_small {
  font-size: var(--token-g5PXzzkCCC51);
}
.slotTargetStartsize_large {
  font-size: var(--token-Gmu3Fy9i4D9r);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-Gmu3Fy9i4D9r);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-1DIrWgk6iK68);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-1DIrWgk6iK68);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-mLa43LZFQ489);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-mLa43LZFQ489);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-nF785N7MREbK);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-nF785N7MREbK);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-YS1uYAGt9lj8);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-YS1uYAGt9lj8);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-nOo-cNWFvEBm);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-nOo-cNWFvEBm);
}
.svg__qT66D {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-r_7SJZvch9F2);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-su-yvB-X4vC9);
}
.slotTargetLabelcolor_muted {
  color: var(--token-PPd9f3fw36K5);
}
.slotTargetLabelcolor_success {
  color: var(--token-ed0adtOdVIoL);
}
.slotTargetLabelcolor_warning {
  color: var(--token-paMwVA5D3xLn);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-d3ynA_QNmhnl);
}
.slotTargetLabeltype_soft {
  color: var(--token-4M5jbUgHsaLN);
}
.slotTargetLabeltype_bordered {
  color: var(--token-4M5jbUgHsaLN);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-1DIrWgk6iK68);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-mLa43LZFQ489);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-1DIrWgk6iK68);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-nF785N7MREbK);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-mLa43LZFQ489);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-YS1uYAGt9lj8);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-nF785N7MREbK);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-nOo-cNWFvEBm);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-YS1uYAGt9lj8);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-nOo-cNWFvEBm);
}
.text__ta26U {
  white-space: pre;
}
.freeBox___0ZEwq {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd___0ZEwq8VYaL {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-r_7SJZvch9F2);
}
.slotTargetEndcolor_neutral {
  color: var(--token-su-yvB-X4vC9);
}
.slotTargetEndcolor_muted {
  color: var(--token-PPd9f3fw36K5);
}
.slotTargetEndcolor_success {
  color: var(--token-ed0adtOdVIoL);
}
.slotTargetEndcolor_warning {
  color: var(--token-paMwVA5D3xLn);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-d3ynA_QNmhnl);
}
.slotTargetEndtype_soft {
  color: var(--token-4M5jbUgHsaLN);
}
.slotTargetEndtype_bordered {
  color: var(--token-4M5jbUgHsaLN);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-g5PXzzkCCC51);
}
.slotTargetEndsize_small {
  font-size: var(--token-g5PXzzkCCC51);
}
.slotTargetEndsize_large {
  font-size: var(--token-Gmu3Fy9i4D9r);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-Gmu3Fy9i4D9r);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-1DIrWgk6iK68);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-1DIrWgk6iK68);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-mLa43LZFQ489);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-mLa43LZFQ489);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-nF785N7MREbK);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-nF785N7MREbK);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-YS1uYAGt9lj8);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-YS1uYAGt9lj8);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-nOo-cNWFvEBm);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-nOo-cNWFvEBm);
}
.svg___7DkJn {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
