.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 500px) {
  .root > * {
    grid-column: 4;
  }
}
.progressbar {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.embedHtml__qhlPx:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.progressbar2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 80px 8px 8px;
}
.embedHtml__bvUvq:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.spacer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox___1WkQu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-e1zhjZPlCA6d);
  flex-grow: 1;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 350px 8px;
}
.text__w07Om {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-8nedppYkGVaH);
  font-weight: 600;
  font-size: 42px;
  min-width: 0;
  display: none;
}
.apiRequest2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___9Xd7G {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__i3Kxb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.apiRequest3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__wP0NE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__wz7Ci {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.apiRequest4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__siKz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___5Jnwz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.datePicker:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__wdkH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.profile2:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
@media (max-width: 1200px) {
  .profile2:global(.__wab_instance) {
    animation: none;
  }
}
@media (max-width: 500px) {
  .profile2:global(.__wab_instance) {
    animation: none;
  }
}
@media (max-width: 350px) {
  .profile2:global(.__wab_instance) {
    animation: none;
  }
}
.freeBox__nuKAm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__eF2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__f4NMm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.embedHtml__gpUeV:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.mahanTest {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.embedHtml__ruw5X:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button:global(.__wab_instance) {
  max-width: 100%;
}
.svg___3AXxI {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__xs9O7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
