.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  background: #fcfcfc;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 500px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 350px) {
  .root {
    justify-items: stretch;
    align-content: center;
  }
}
@media (max-width: 350px) {
  .root > * {
    grid-column: 4;
  }
}
.modal:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  order: 2;
  z-index: 2;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.text__buF1Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  color: #8165d6;
  min-width: 0;
}
.freeBox__y0G6Y {
  display: flex;
  flex-direction: row;
  position: relative;
}
.freeBox__y0G6Y > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-oMeWZKIFd5gO));
  width: calc(100% + var(--token-oMeWZKIFd5gO));
}
.freeBox__y0G6Y > :global(.__wab_flex-container) > *,
.freeBox__y0G6Y > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__y0G6Y > :global(.__wab_flex-container) > picture > img,
.freeBox__y0G6Y
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-oMeWZKIFd5gO);
}
.g4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__sPd5C {
  object-fit: cover;
  max-width: 100%;
}
.img__sPd5C > picture > img {
  object-fit: cover;
}
.g3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__aBur0 {
  object-fit: cover;
  max-width: 100%;
}
.img__aBur0 > picture > img {
  object-fit: cover;
}
.g2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__jh7Wq {
  object-fit: cover;
  max-width: 100%;
}
.img__jh7Wq > picture > img {
  object-fit: cover;
}
.g1 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__ft4Sq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "ABeeZee", sans-serif;
  text-align: center;
  min-width: 0;
}
.freeBox__vPqCw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 0;
}
.freeBox__q1AVs {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 4px 8px 8px 2px;
}
.text__nlZtd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  transition-property: all;
  transition-duration: 1s;
  cursor: pointer;
  font-size: 15px;
  background: linear-gradient(#8165d6, #8165d6),
    url("https://studio.plasmic.app/static/img/placeholder.png") top 50% left
      50% / cover repeat;
  color: #fcfcfc;
  padding-top: 8px;
  padding-bottom: 8px;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  border-radius: 30px;
}
.freeBox__iAtMr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 4px 8px 8px 2px;
}
.text__lSKjq {
  position: relative;
  width: 100%;
  height: 35px;
  max-width: 100%;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #8165d6;
  min-width: 0;
  border-radius: 30px;
  border: 3px solid #8165d6;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.modalSidebar:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  overflow: hidden;
  z-index: 1;
  right: -15px;
  bottom: 0;
  left: auto;
  top: -12px;
  position: fixed;
}
.modalSidebar__modal :global(.ant-modal-content) {
  display: block;
  outline: none;
}
@media (max-width: 500px) {
  .modalSidebar:global(.__wab_instance) {
    overflow: hidden;
    border-radius: 30px 0px 0px 30px;
  }
}
.freeBox___2DDW {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  min-width: 0;
  padding: 8px 8px 0px;
}
@media (max-width: 500px) {
  .freeBox___2DDW {
    overflow: auto;
    height: 88.06%;
  }
}
.img__w9Qn {
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  border-radius: 50px;
  border-width: 3px;
}
.img__w9Qn > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__w9Qn {
    width: 60px;
    border-width: 2px;
  }
}
.text__cyipl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  margin-top: 12px;
  font-size: 15px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__cyipl {
    font-weight: 600;
  }
}
.freeBox__vak0O {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 7px;
  cursor: auto;
  min-width: 0;
  padding: 0px 8px 8px;
}
.freeBox__vak0O > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__vak0O > :global(.__wab_flex-container) > *,
.freeBox__vak0O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vak0O > :global(.__wab_flex-container) > picture > img,
.freeBox__vak0O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__vnTIs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__vnTIs {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    font-weight: 500;
    min-width: 0;
  }
}
.freeBox___1HoJ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 1.5px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-rhmrUZBooWNo);
  margin-top: 2px;
  margin-bottom: 2px;
  flex-shrink: 0;
}
@media (max-width: 500px) {
  .freeBox___1HoJ {
    width: 100%;
    height: 1.5px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 3px;
    background: var(--token-rhmrUZBooWNo);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    padding: 0px;
  }
}
.freeBox__mvJr {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 2px;
  cursor: pointer;
  margin-bottom: 2px;
  min-width: 0;
  padding: 14px 8px;
}
.freeBox__mvJr > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__mvJr > :global(.__wab_flex-container) > *,
.freeBox__mvJr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mvJr > :global(.__wab_flex-container) > picture > img,
.freeBox__mvJr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__wr7Sj {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  height: 17px;
}
@media (max-width: 500px) {
  .svg__wr7Sj {
    height: 100%;
    max-width: 100%;
    color: #acacac;
    width: 20px;
    flex-shrink: 0;
    min-height: 0;
  }
}
.text___1LuLn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  min-width: 0;
}
@media (max-width: 500px) {
  .text___1LuLn {
    font-weight: 500;
  }
}
.freeBox__dnl0L {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 2px;
  cursor: pointer;
  margin-bottom: 2px;
  min-width: 0;
  display: none;
  padding: 14px 8px;
}
.freeBox__dnl0L > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__dnl0L > :global(.__wab_flex-container) > *,
.freeBox__dnl0L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dnl0L > :global(.__wab_flex-container) > picture > img,
.freeBox__dnl0L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__zUOqi {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  height: 24px;
}
@media (max-width: 500px) {
  .svg__zUOqi {
    width: 20px;
    height: 100%;
    max-width: 100%;
    color: #acacac;
    flex-shrink: 0;
    min-height: 0;
  }
}
.text__en7J4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  font-size: 15px;
  font-weight: 600;
  cursor: not-allowed;
  color: var(--token-hrGkLn5-w5KL);
  min-width: 0;
}
@media (max-width: 500px) {
  .text__en7J4 {
    font-weight: 500;
  }
}
.freeBox__of0PC {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 2px;
  cursor: pointer;
  margin-bottom: 2px;
  min-width: 0;
  padding: 14px 8px;
}
.freeBox__of0PC > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__of0PC > :global(.__wab_flex-container) > *,
.freeBox__of0PC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__of0PC > :global(.__wab_flex-container) > picture > img,
.freeBox__of0PC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__g0W2 {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  height: 21px;
}
@media (max-width: 500px) {
  .svg__g0W2 {
    width: 20px;
    height: 100%;
    max-width: 100%;
    color: #acacac;
    flex-shrink: 0;
    min-height: 0;
  }
}
.text__p3J7N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__p3J7N {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    font-weight: 500;
    min-width: 0;
  }
}
.freeBox__pyNcp {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 2px;
  cursor: pointer;
  margin-bottom: 2px;
  min-width: 0;
  padding: 14px 8px;
}
.freeBox__pyNcp > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__pyNcp > :global(.__wab_flex-container) > *,
.freeBox__pyNcp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pyNcp > :global(.__wab_flex-container) > picture > img,
.freeBox__pyNcp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__cbeGx {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  height: 20px;
}
@media (max-width: 500px) {
  .svg__cbeGx {
    width: 20px;
    height: 100%;
    max-width: 100%;
    color: #acacac;
    flex-shrink: 0;
    min-height: 0;
  }
}
.text__rTSru {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-hrGkLn5-w5KL);
  font-size: 15px;
  font-weight: 600;
  cursor: not-allowed;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__rTSru {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    font-weight: 500;
    min-width: 0;
  }
}
.freeBox__p4Mry {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 1.5px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-rhmrUZBooWNo);
  margin-bottom: 4px;
  margin-top: 4px;
  flex-shrink: 0;
  padding: 0px;
}
@media (max-width: 500px) {
  .freeBox__p4Mry {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
.freeBox__ssVh {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 2px;
  cursor: pointer;
  margin-bottom: 2px;
  min-width: 0;
  padding: 14px 8px;
}
.freeBox__ssVh > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__ssVh > :global(.__wab_flex-container) > *,
.freeBox__ssVh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ssVh > :global(.__wab_flex-container) > picture > img,
.freeBox__ssVh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (max-width: 500px) {
  .freeBox__ssVh {
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
  }
}
@media (max-width: 500px) {
  .freeBox__ssVh > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.svg__hrbuq {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  height: 19px;
}
@media (max-width: 500px) {
  .svg__hrbuq {
    width: 20px;
    height: 100%;
    max-width: 100%;
    color: #acacac;
    flex-shrink: 0;
    min-height: 0;
  }
}
.text__orFuZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__orFuZ {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    font-weight: 500;
    min-width: 0;
  }
}
.freeBox__qksiY {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 2px;
  cursor: pointer;
  margin-bottom: 2px;
  min-width: 0;
  padding: 14px 8px;
}
.freeBox__qksiY > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__qksiY > :global(.__wab_flex-container) > *,
.freeBox__qksiY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qksiY > :global(.__wab_flex-container) > picture > img,
.freeBox__qksiY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__jGEcY {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  height: 21px;
}
@media (max-width: 500px) {
  .svg__jGEcY {
    width: 20px;
    height: 100%;
    max-width: 100%;
    color: #acacac;
    flex-shrink: 0;
    min-height: 0;
  }
}
.text___8WvvI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  min-width: 0;
}
@media (max-width: 500px) {
  .text___8WvvI {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    font-weight: 500;
    min-width: 0;
  }
}
.freeBox__tQjW {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 2px;
  cursor: pointer;
  margin-bottom: 2px;
  min-width: 0;
  padding: 14px 8px;
}
.freeBox__tQjW > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__tQjW > :global(.__wab_flex-container) > *,
.freeBox__tQjW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tQjW > :global(.__wab_flex-container) > picture > img,
.freeBox__tQjW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__kvNqp {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  height: 19px;
}
@media (max-width: 500px) {
  .svg__kvNqp {
    width: 20px;
    height: 100%;
    max-width: 100%;
    color: #acacac;
    flex-shrink: 0;
    min-height: 0;
  }
}
.text__yJJjl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__yJJjl {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    font-weight: 500;
    min-width: 0;
  }
}
.freeBox__jhHxX {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 2px;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  background: var(--token-rhmrUZBooWNo);
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 4px;
  margin-top: 4px;
  flex-shrink: 0;
}
@media (max-width: 500px) {
  .freeBox__jhHxX {
    width: 100%;
    height: 1.5px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background: var(--token-rhmrUZBooWNo);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    padding: 0px;
  }
}
.freeBox__cwo4 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 2px;
  cursor: pointer;
  margin-bottom: 2px;
  min-width: 0;
  padding: 14px 8px 8px;
}
.freeBox__cwo4 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__cwo4 > :global(.__wab_flex-container) > *,
.freeBox__cwo4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cwo4 > :global(.__wab_flex-container) > picture > img,
.freeBox__cwo4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (max-width: 500px) {
  .freeBox__cwo4 {
    padding-bottom: 76px;
  }
}
.svg___3Mdrv {
  object-fit: cover;
  max-width: 100%;
  color: #8165d6;
  height: 30px;
}
.text__zawSm {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 13px;
  font-weight: 500;
}
.freeBox__xueqP {
  display: flex;
  flex-direction: row;
  width: 42px;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  align-self: flex-end;
  left: 0;
  top: 0;
  z-index: 1;
  position: absolute;
  bottom: auto;
  cursor: pointer;
  margin-left: 2px;
  margin-top: 2px;
  padding: 13px 8px 8px 13px;
}
.img__pGqH {
  object-fit: cover;
  max-width: 100%;
  margin-right: 0px;
  width: 20px;
  flex-shrink: 0;
}
.img__pGqH > picture > img {
  object-fit: cover;
}
.freeBox__sal78 {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  justify-self: flex-start;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__sal78 {
    width: 100%;
    align-items: center;
    justify-content: center;
    max-height: 134px;
    grid-column-start: 3 !important;
    grid-column-end: -3 !important;
    padding: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__sal78 {
    justify-content: center;
    align-items: center;
  }
}
.freeBox__fbYPi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 160px;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 0px 8px;
}
@media (max-width: 500px) {
  .freeBox__fbYPi {
    height: 100%;
    max-height: 134px;
    min-height: 0;
    padding: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__fbYPi {
    height: auto;
    max-height: 115px;
  }
}
.freeBox__xzWrY {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 2px 4px 4px 3px;
}
@media (max-width: 500px) {
  .freeBox__xzWrY {
    justify-content: center;
    align-items: flex-start;
    padding-top: 2px;
    padding-left: 7px;
  }
}
@media (max-width: 350px) {
  .freeBox__xzWrY {
    padding-top: 0px;
    padding-bottom: 0px;
    justify-content: space-around;
  }
}
.freeBox__fk0MR {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: pointer;
  padding: 0px 8px 8px;
}
@media (max-width: 500px) {
  .freeBox__fk0MR {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px;
  }
}
.img__jgkwH {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  cursor: pointer;
}
.img__jgkwH > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__jgkwH {
    width: 20px;
    margin-bottom: 5px;
  }
}
.main {
  display: flex;
  position: relative;
  width: 100%;
  height: 64px;
  max-width: 100%;
  flex-direction: row;
  align-self: flex-end;
  min-width: 0;
  padding: 0px 8px 8px;
}
.main > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.main > :global(.__wab_flex-container) > *,
.main > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.main > :global(.__wab_flex-container) > picture > img,
.main > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
@media (max-width: 500px) {
  .main {
    padding-top: 4px;
  }
}
@media (max-width: 350px) {
  .main {
    padding-top: 0px;
    height: 55px;
  }
}
.freeBox__csjXw {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.freeBox__csjXw > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 7px);
  width: calc(100% + 7px);
}
.freeBox__csjXw > :global(.__wab_flex-container) > *,
.freeBox__csjXw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__csjXw > :global(.__wab_flex-container) > picture > img,
.freeBox__csjXw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 7px;
}
@media (max-width: 500px) {
  .freeBox__csjXw {
    width: 100%;
    display: flex;
    flex-direction: row;
    min-width: 0;
    padding: 0px 0px 0px 14px;
  }
}
@media (max-width: 500px) {
  .freeBox__csjXw > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 500px) {
  .freeBox__csjXw > :global(.__wab_flex-container) > *,
  .freeBox__csjXw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__csjXw > :global(.__wab_flex-container) > picture > img,
  .freeBox__csjXw
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__csjXw {
    padding-bottom: 0px;
    padding-top: 0px;
  }
}
.select:global(.__wab_instance) {
  max-width: 100%;
  width: 70%;
  margin-bottom: 0px;
}
@media (max-width: 500px) {
  .select:global(.__wab_instance) {
    width: 100%;
    position: relative;
    left: auto;
    top: auto;
    align-self: flex-start;
    z-index: 1;
  }
}
@media (max-width: 350px) {
  .text__ixdkM {
    font-size: 17px;
  }
}
.img___896U {
  object-fit: cover;
  max-width: 100%;
  width: 45px;
  flex-shrink: 0;
}
.img___896U > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img___896U {
    width: 39px;
    flex-shrink: 0;
  }
}
.freeBox__ot5TM {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 250px;
  height: 150px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  max-height: 100%;
  flex-shrink: 0;
  padding: 0px;
}
@media (max-width: 500px) {
  .freeBox__ot5TM {
    justify-content: center;
    padding-bottom: 0px;
    padding-top: 0px;
    width: 150px;
    align-items: center;
    flex-shrink: 0;
  }
}
@media (max-width: 350px) {
  .freeBox__ot5TM {
    width: 120px;
    flex-shrink: 0;
  }
}
.img__grKvP {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 150px;
  flex-shrink: 0;
  border-radius: 21px;
}
.img__grKvP > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__grKvP {
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    border-radius: 12px;
    margin: 0px 0px 5px;
  }
}
@media (max-width: 350px) {
  .img__grKvP {
    width: 220px;
    height: 97px;
    flex-shrink: 0;
  }
}
.clarity:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.sideBar {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 0px;
}
@media (max-width: 500px) {
  .sideBar {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 4px;
  }
}
.header {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .header {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 6px;
  }
}
.right {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 70%;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  padding: 0px 8px;
}
@media (max-width: 500px) {
  .right {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 66%;
  }
}
.right1 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .right1 {
    padding-left: 0px;
  }
}
.right3 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  justify-content: flex-start;
  align-items: stretch;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 0px 8px 8px;
}
@media (max-width: 500px) {
  .right3 {
    padding-right: 0px;
  }
}
.img__mtK4H {
  object-fit: cover;
  max-width: 100%;
  width: 33px;
  cursor: pointer;
  margin-left: 0px;
  flex-shrink: 0;
}
.img__mtK4H > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__mtK4H {
    width: 22px;
    margin-bottom: 5px;
    height: 26px;
    flex-shrink: 0;
  }
}
.right4 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  left: auto;
  top: auto;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  min-width: 0;
  padding: 0px 8px 8px;
}
@media (max-width: 500px) {
  .right4 {
    padding-left: 0px;
  }
}
.img__bVtw7 {
  object-fit: cover;
  max-width: 100%;
  height: 34px;
  cursor: pointer;
}
.img__bVtw7 > picture > img {
  object-fit: cover;
}
.img__tnqU9 {
  object-fit: cover;
  max-width: 100%;
  height: 34px;
  margin-top: 5px;
  cursor: pointer;
}
.img__tnqU9 > picture > img {
  object-fit: cover;
}
@media (max-width: 350px) {
  .img__tnqU9 {
    margin-top: 0px;
  }
}
.img___5PCMw {
  object-fit: cover;
  max-width: 100%;
  height: 34px;
  margin-top: 5px;
  cursor: pointer;
}
.img___5PCMw > picture > img {
  object-fit: cover;
}
@media (max-width: 350px) {
  .img___5PCMw {
    margin-top: 0px;
  }
}
.right2 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px 0px 0px 8px;
}
@media (max-width: 500px) {
  .right2 {
    padding-left: 0px;
  }
}
.select2:global(.__wab_instance) {
  max-width: 100%;
  width: 70%;
  margin-bottom: 0px;
}
@media (max-width: 500px) {
  .select2:global(.__wab_instance) {
    width: 100%;
    position: relative;
    left: auto;
    top: auto;
    align-self: flex-start;
    z-index: 1;
  }
}
@media (max-width: 350px) {
  .select2:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
@media (max-width: 350px) {
  .text__hz4Ln {
    font-size: 17px;
  }
}
.left {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 30%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 8px 8px 0px;
}
@media (max-width: 500px) {
  .left {
    padding-left: 0px;
    max-width: 34%;
    padding-bottom: 0px;
  }
}
.img__mGbB3 {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 150px;
  flex-shrink: 0;
  border-radius: 21px;
}
.img__mGbB3 > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__mGbB3 {
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    border-radius: 12px;
    margin: 0px;
  }
}
@media (max-width: 350px) {
  .img__mGbB3 {
    width: 220px;
    height: 97px;
    flex-shrink: 0;
  }
}
.profile:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__x80Vo {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.calendar2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  z-index: 1;
  order: 1;
  min-width: 0;
  margin: 0px 0px 39px;
}
@media (max-width: 500px) {
  .calendar2:global(.__wab_instance) {
    width: 100%;
    max-width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.refreshToken:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.goftino:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
