.ariaCheckbox:global(.__wab_instance) {
  object-fit: cover;
  cursor: pointer;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  color: var(--token-Y7ZM7gj_nMYR);
  font-family: var(--token-qkywJ1sQQ-h_);
  font-size: var(--token-wq-7W0QuaGtb);
  line-height: var(--token-otgoHRDIcFGD);
  width: 100%;
  column-gap: var(--token-Duv1ymIhszml);
  min-width: 0;
}
.ariaCheckbox[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.ariaCheckbox[data-readonly]:global(.__wab_instance) {
  cursor: default;
  pointer-events: none;
}
.freeBox {
  position: relative;
  width: var(--token-GdEpMYreOCSE);
  height: var(--token-GdEpMYreOCSE);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--token-Xkcz3qrS_HH8);
  border: 2px solid var(--token-5c8qLv0KYVsO);
}
.ariaCheckbox[data-focus-visible] .freeBox {
  outline-style: solid;
  outline-color: var(--token-qkMXlUhOdBHU);
  outline-offset: 1px;
  outline-width: 2px;
}
.ariaCheckbox[data-indeterminate] .freeBox {
  background: var(--token-qkMXlUhOdBHU);
  border-color: var(--token-qkMXlUhOdBHU);
}
.ariaCheckbox[data-selected] .freeBox {
  background: var(--token-qkMXlUhOdBHU);
  border-color: var(--token-qkMXlUhOdBHU);
}
.svg__ub3NO {
  position: relative;
  color: #ffffff;
  height: 1em;
  flex-shrink: 0;
  display: none;
}
.ariaCheckbox[data-selected] .svg__ub3NO {
  display: block;
}
.svg__qvPVb {
  position: relative;
  color: #ffffff;
  height: 1em;
  flex-shrink: 0;
  display: none;
}
.ariaCheckbox[data-indeterminate] .svg__qvPVb {
  display: block;
}
