.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: linear-gradient(
      37deg,
      #ebfaff 9%,
      #fcfcfc 29%,
      #f2fbfe 60%,
      #fcfcfc 79%,
      #ebfaff 88%
    )
    0% 0% / 100% 100% repeat;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 9px 0px 0px;
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 500px) {
  .root {
    padding-top: 0px;
  }
}
@media (max-width: 500px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 350px) {
  .root > * {
    grid-column: 4;
  }
}
.navbarRntHeader:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (max-width: 500px) {
  .navbarRntHeader:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 350px) {
  .navbarRntHeader:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.clarityRntComponent:global(.__wab_instance) {
  display: none;
}
.mainContents {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px 0px 32px;
}
@media (max-width: 1200px) {
  .mainContents {
    max-width: 100%;
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 500px) {
  .mainContents {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.intro1st {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 20px 8px 8px;
}
@media (max-width: 1200px) {
  .intro1st {
    max-width: 100%;
  }
}
.introTitle {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 20px 8px 8px;
}
@media (max-width: 500px) {
  .introTitle {
    padding-right: 8px;
  }
}
.text___2BkbI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  font-weight: 600;
  padding-right: 0px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text___2BkbI {
    font-size: 19px;
  }
}
@media (max-width: 350px) {
  .text___2BkbI {
    font-size: 17px;
  }
}
.introduction {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 20px 20px 8px 8px;
}
@media (max-width: 1200px) {
  .introduction {
    padding-right: 14px;
    padding-left: 14px;
    max-width: 96%;
  }
}
@media (max-width: 500px) {
  .introduction {
    max-width: 100%;
    padding-top: 0px;
  }
}
@media (max-width: 350px) {
  .introduction {
    padding-top: 0px;
  }
}
.text__rvVUk {
  text-align: right;
  font-size: 17px;
  line-height: 1.8;
  font-style: italic;
}
@media (max-width: 500px) {
  .text__rvVUk {
    font-size: 14px;
    padding-right: 8px;
  }
}
@media (max-width: 350px) {
  .text__rvVUk {
    font-size: 15px;
  }
}
.text__isa1H {
  text-align: right;
  font-size: 16px;
  line-height: 1.8;
  padding-top: 20px;
}
@media (max-width: 500px) {
  .text__isa1H {
    font-size: 15px;
    padding-top: 24px;
  }
}
@media (max-width: 350px) {
  .text__isa1H {
    font-size: 14px;
  }
}
.introduction2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 20px 20px 31px 8px;
}
@media (max-width: 1200px) {
  .introduction2 {
    padding-right: 31px;
    padding-left: 14px;
    max-width: 96%;
  }
}
@media (max-width: 500px) {
  .introduction2 {
    max-width: 100%;
    padding-top: 16px;
    padding-right: 20px;
  }
}
@media (max-width: 350px) {
  .introduction2 {
    padding-right: 23px;
  }
}
.text__un56I {
  text-align: right;
  font-size: 17px;
  line-height: 1.8;
  font-style: normal;
}
@media (max-width: 500px) {
  .text__un56I {
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .text__un56I {
    font-size: 14px;
  }
}
.ul__hG4Nf {
  display: flex;
  flex-direction: column;
}
.li__eRDu {
  padding-bottom: 0px;
}
@media (max-width: 350px) {
  .li__eRDu {
    padding-top: 0px;
    font-size: 14px;
  }
}
@media (max-width: 350px) {
  .li__jEfJi {
    padding-bottom: 0px;
  }
}
.ul__eCqGt {
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  .ul__eCqGt {
    padding-left: 5px;
  }
}
.li__reKfS {
  padding-bottom: 0px;
}
.text__wT5Ns {
  text-align: right;
  font-size: 17px;
  line-height: 1.8;
  font-style: normal;
}
@media (max-width: 500px) {
  .text__wT5Ns {
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .text__wT5Ns {
    font-size: 14px;
  }
}
.ul___95RfE {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1200px) {
  .li___5DvK5 {
    padding-top: 0px;
  }
}
.ul__jWoRr {
  display: flex;
  flex-direction: column;
}
.text__mnQ1G {
  text-align: right;
  font-size: 17px;
  line-height: 1.8;
  font-style: normal;
}
@media (max-width: 500px) {
  .text__mnQ1G {
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .text__mnQ1G {
    font-size: 14px;
  }
}
.ul__sUbvs {
  display: flex;
  flex-direction: column;
}
@media (max-width: 350px) {
  .ul__sUbvs {
    padding-left: 7px;
  }
}
@media (max-width: 350px) {
  .li__dgt4B {
    padding-bottom: 0px;
  }
}
.text__vnUgP {
  text-align: right;
  font-size: 17px;
  line-height: 1.8;
  font-style: normal;
}
@media (max-width: 500px) {
  .text__vnUgP {
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .text__vnUgP {
    font-size: 14px;
  }
}
.rentamonFooter:global(.__wab_instance) {
  max-width: 100%;
}
.faviconRntComponent:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
