.settings {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(
    51deg,
    #ebfaff 0%,
    #fcfcfc 22%,
    #f2fbfe 51%,
    #fcfcfc 78%,
    #ebfaff 100%
  );
  padding-top: 0px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.settings > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .settings > * {
    grid-column: 4;
  }
}
@media (max-width: 500px) {
  .settings {
    background: linear-gradient(
      51deg,
      #ebfaff96 0%,
      #fcfcfc 22%,
      #f2fbfe91 51%,
      #fcfcfc 78%,
      #ebfaff 100%
    );
  }
}
@media (max-width: 500px) {
  .settings > * {
    grid-column: 4;
  }
}
@media (max-width: 350px) {
  .settings > * {
    grid-column: 4;
  }
}
.header {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 500px) {
  .header {
    width: 100%;
    height: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    min-height: 0;
  }
}
.right {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 70%;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  padding: 0px 8px;
}
@media (max-width: 500px) {
  .right {
    max-width: 70%;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    min-height: 0;
  }
}
.right1 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .right1 {
    padding-bottom: 0px;
    padding-top: 0px;
  }
}
.sidebar {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 20%;
  justify-content: flex-start;
  align-items: stretch;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 0px 8px 8px;
}
.img__wXkGr {
  object-fit: cover;
  max-width: 100%;
  width: 33px;
  cursor: pointer;
  margin-left: 0px;
  flex-shrink: 0;
  display: none !important;
}
.img__wXkGr > picture > img {
  object-fit: cover;
}
.sideBar2:global(.__wab_instance):global(.__wab_instance) {
  z-index: 1;
  right: -15px;
  bottom: 0;
  left: auto;
  top: -6px;
  position: fixed;
}
.title2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px 0px 8px 20px;
}
@media (max-width: 500px) {
  .title2 {
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .title2 {
    padding-bottom: 0px;
    padding-top: 0px;
  }
}
.text___25OK7 {
  font-size: 20px;
  font-weight: 600;
}
@media (max-width: 500px) {
  .text___25OK7 {
    font-size: 18px;
  }
}
@media (max-width: 350px) {
  .text___25OK7 {
    font-size: 17px;
  }
}
.right2 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px 0px 0px 8px;
}
@media (max-width: 1200px) {
  .right2 {
    padding-right: 92px;
  }
}
@media (max-width: 500px) {
  .right2 {
    height: 100%;
    padding-right: 17px;
    justify-content: flex-end;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 0;
  }
}
@media (max-width: 350px) {
  .right2 {
    padding-top: 4px;
  }
}
.select2:global(.__wab_instance) {
  max-width: 100%;
  width: 70%;
  margin-bottom: 0px;
}
@media (max-width: 500px) {
  .select2:global(.__wab_instance) {
    width: 100%;
    height: 100%;
    position: relative;
    left: auto;
    top: auto;
    min-width: 0;
    min-height: 0;
  }
}
.text__unIdK {
  font-family: "Estedad";
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  color: #706f6c;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.left {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 30%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 8px 8px 0px;
}
@media (max-width: 500px) {
  .left {
    max-width: 30%;
    height: 100%;
    min-height: 0;
  }
}
@media (max-width: 350px) {
  .left {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.img__twNuG {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 150px;
  flex-shrink: 0;
  border-radius: 21px;
}
.img__twNuG > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__twNuG {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.profile:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__xYJez {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Estedad";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  color: #203647;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
  display: none;
}
.header3 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 2em 16px 1em;
}
.sideBar22:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  left: auto;
  top: -12px;
  z-index: 1;
  position: fixed;
  bottom: auto;
  right: -7px;
}
@media (max-width: 1200px) {
  .sideBar22:global(.__wab_instance):global(.__wab_instance) {
    width: 70px;
    height: auto;
    z-index: 100;
    flex-shrink: 0;
  }
}
@media (max-width: 500px) {
  .sideBar22:global(.__wab_instance):global(.__wab_instance) {
    z-index: 1000000;
    height: auto;
  }
}
.freeBox__uNqwy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__uNqwy {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.text___6TAnx {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
}
@media (max-width: 1200px) {
  .text___6TAnx {
    width: 90%;
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .text___6TAnx {
    width: 80%;
  }
}
@media (max-width: 350px) {
  .text___6TAnx {
    font-size: 17px;
    width: 100%;
    min-width: 0;
  }
}
.profile3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.main {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
@media (max-width: 500px) {
  .main {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 350px) {
  .main {
    padding-right: 4px;
    padding-left: 4px;
    margin-bottom: 100px;
  }
}
.title {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
.intro {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .intro {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .intro {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.freeBox__xsjRy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 0px;
}
@media (max-width: 1200px) {
  .freeBox__xsjRy {
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .freeBox__xsjRy {
    justify-content: center;
    align-items: flex-start;
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__xsjRy {
    justify-content: flex-start;
    align-items: center;
  }
}
.header2 {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 0em 8px 1em;
}
.sideBar23:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  left: auto;
  top: -12px;
  z-index: 1;
  position: fixed;
  bottom: auto;
  right: -7px;
}
.freeBox__ujQ22 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__wbbhY {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  font-family: "Estedad";
  font-style: normal;
  color: #203647;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.profile2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
._2nd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 70%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  ._2nd {
    max-width: 90%;
  }
}
@media (max-width: 500px) {
  ._2nd {
    max-width: 100%;
  }
}
.text__wxCeh {
  font-size: 19px;
  padding-top: 20px;
}
@media (max-width: 1200px) {
  .text__wxCeh {
    padding-top: 0px;
    line-height: 1.8;
  }
}
@media (max-width: 500px) {
  .text__wxCeh {
    line-height: 1.8;
    font-size: 16px;
    padding-top: 0px;
  }
}
@media (max-width: 350px) {
  .text__wxCeh {
    font-size: 15px;
    padding-top: 0px;
  }
}
.titleRow {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .titleRow {
    max-width: 80%;
  }
}
@media (max-width: 500px) {
  .titleRow {
    padding-right: 0px;
    padding-left: 0px;
    max-width: 100%;
    padding-bottom: 0px;
    border-bottom-width: 2px;
    border-bottom-style: dashed;
  }
}
.opt15 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 0px;
  min-width: 0;
  padding: 0px 8px;
}
@media (max-width: 500px) {
  .opt15 {
    max-width: 100%;
    justify-content: space-between;
    padding-bottom: 12px;
  }
}
@media (max-width: 350px) {
  .opt15 {
    padding-right: 0px;
    padding-left: 0px;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    padding-bottom: 5px;
  }
}
.p14 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 6%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 2px;
}
@media (max-width: 500px) {
  .p14 {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 6%;
  }
}
@media (max-width: 350px) {
  .p14 {
    max-width: 8%;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.p25 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .p25 {
    padding-right: 0px;
    max-width: 65%;
  }
}
@media (max-width: 350px) {
  .p25 {
    padding-left: 0px;
    max-width: 80%;
  }
}
.text__zleIg {
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__zleIg {
    font-size: 18px;
    width: 100%;
    font-weight: 500;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__zleIg {
    font-size: 15px;
    font-weight: 600;
  }
}
.p35 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 26%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
@media (max-width: 500px) {
  .p35 {
    max-width: 36%;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .p35 {
    padding-left: 0px;
    max-width: 36%;
  }
}
.text__vxcPf {
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 1200px) {
  .text__vxcPf {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .text__vxcPf {
    font-size: 18px;
  }
}
@media (max-width: 350px) {
  .text__vxcPf {
    font-size: 15px;
  }
}
.p44 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 10%;
  justify-content: flex-start;
  align-items: center;
  min-height: 20px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 500px) {
  .p44 {
    align-items: center;
    justify-content: center;
    max-width: 13%;
    display: none;
  }
}
@media (max-width: 350px) {
  .p44 {
    padding-left: 4px;
  }
}
.optionsButtons {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0px;
  min-width: 0;
  border-radius: 50px;
  padding: 8px 8px 30px;
  border-width: 2px;
  border-style: solid;
}
@media (max-width: 1200px) {
  .optionsButtons {
    max-width: 80%;
    padding-bottom: 10px;
  }
}
@media (max-width: 500px) {
  .optionsButtons {
    max-width: 100%;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 0px;
    border-radius: 0px;
    border-width: 0px;
  }
}
@media (max-width: 350px) {
  .optionsButtons {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 14px;
    margin-top: 0px;
    border-radius: 0px;
    border-width: 0px;
  }
}
.options {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .options {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .options {
    padding-top: 0px;
  }
}
.opt1 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .opt1 {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 8px 8px 18px;
  }
}
@media (max-width: 500px) {
  .opt1 {
    max-width: 100%;
    justify-content: space-between;
  }
}
@media (max-width: 350px) {
  .opt1 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.p1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 6%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 2px;
}
@media (max-width: 500px) {
  .p1 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 350px) {
  .p1 {
    max-width: 8%;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.img__xPWw {
  object-fit: cover;
  max-width: 100%;
}
.img__xPWw > picture > img {
  object-fit: cover;
}
.p2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .p2 {
    padding-right: 0px;
    max-width: 65%;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .p2 {
    padding-left: 0px;
    max-width: 65%;
  }
}
.text__q9AmZ {
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__q9AmZ {
    font-size: 16px;
    width: 100%;
    font-weight: 500;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__q9AmZ {
    font-size: 15px;
    font-weight: 500;
  }
}
.p3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 26%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
@media (max-width: 500px) {
  .p3 {
    max-width: 14%;
  }
}
@media (max-width: 350px) {
  .p3 {
    padding-left: 0px;
    max-width: 14%;
  }
}
.text__ijKfr {
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 1200px) {
  .text__ijKfr {
    font-size: 18px;
    font-weight: 600;
  }
}
@media (max-width: 500px) {
  .text__ijKfr {
    font-weight: 500;
  }
}
@media (max-width: 350px) {
  .text__ijKfr {
    font-size: 15px;
  }
}
.p4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 10%;
  justify-content: flex-start;
  align-items: center;
  min-height: 20px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 500px) {
  .p4 {
    align-items: center;
    justify-content: center;
    max-width: 13%;
  }
}
@media (max-width: 350px) {
  .p4 {
    padding-left: 4px;
  }
}
.switch1:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  min-width: 40px;
  min-height: 40px;
  flex-grow: 1;
}
.text___7Bl0U {
  font-size: 20px;
  text-align: center;
}
.options2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .options2 {
    padding-top: 0px;
  }
}
@media (max-width: 500px) {
  .options2 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.opt12 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .opt12 {
    padding-bottom: 18px;
  }
}
@media (max-width: 500px) {
  .opt12 {
    max-width: 100%;
    justify-content: space-between;
  }
}
@media (max-width: 350px) {
  .opt12 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.p12 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 6%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 4px;
}
@media (max-width: 500px) {
  .p12 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 350px) {
  .p12 {
    max-width: 8%;
    padding-right: 2px;
    padding-left: 2px;
  }
}
.img__jtpne {
  object-fit: cover;
  max-width: 100%;
}
.img__jtpne > picture > img {
  object-fit: cover;
}
.p22 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .p22 {
    max-width: 65%;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 0;
    padding: 8px 0px;
  }
}
@media (max-width: 350px) {
  .p22 {
    padding-left: 0px;
    max-width: 65%;
  }
}
.text__kgxw2 {
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__kgxw2 {
    font-size: 16px;
    font-weight: 500;
  }
}
@media (max-width: 350px) {
  .text__kgxw2 {
    font-size: 15px;
    font-weight: 500;
  }
}
.p32 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 26%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
@media (max-width: 500px) {
  .p32 {
    max-width: 14%;
  }
}
@media (max-width: 350px) {
  .p32 {
    padding-left: 0px;
    max-width: 14%;
  }
}
.text__znzZh {
  font-size: 18px;
  font-weight: 600;
  padding-right: 0px;
}
@media (max-width: 1200px) {
  .text__znzZh {
    font-size: 18px;
    font-weight: 600;
  }
}
@media (max-width: 500px) {
  .text__znzZh {
    font-weight: 500;
  }
}
@media (max-width: 350px) {
  .text__znzZh {
    font-size: 15px;
  }
}
.p42 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 10%;
  justify-content: flex-start;
  align-items: center;
  min-height: 20px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 500px) {
  .p42 {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    min-height: 20px;
    max-width: 13%;
    flex-direction: column;
    min-width: 0;
    padding: 0px;
  }
}
@media (max-width: 350px) {
  .p42 {
    width: 100%;
    height: auto;
    min-height: 20px;
    max-width: 13%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    padding: 0px 0px 0px 4px;
  }
}
.switch2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  min-width: 40px;
  min-height: 40px;
  flex-grow: 1;
}
.text__h7PQq {
  font-size: 20px;
  text-align: center;
}
.options3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  opacity: 0.4;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .options3 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .options3 {
    padding-top: 0px;
  }
}
.opt13 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .opt13 {
    border-bottom-width: 0px;
  }
}
@media (max-width: 500px) {
  .opt13 {
    max-width: 100%;
    justify-content: space-between;
  }
}
@media (max-width: 350px) {
  .opt13 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.p13 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 6%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 4px;
}
@media (max-width: 500px) {
  .p13 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 350px) {
  .p13 {
    max-width: 8%;
    padding-right: 2px;
    padding-left: 2px;
  }
}
.img__sm3Ko {
  object-fit: cover;
  max-width: 100%;
}
.img__sm3Ko > picture > img {
  object-fit: cover;
}
.p23 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .p23 {
    max-width: 65%;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 0;
    padding: 8px 0px;
  }
}
@media (max-width: 350px) {
  .p23 {
    padding-left: 0px;
    max-width: 65%;
  }
}
.text__faHZa {
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 500px) {
  .text__faHZa {
    font-size: 16px;
    font-weight: 500;
  }
}
@media (max-width: 350px) {
  .text__faHZa {
    font-size: 15px;
    font-weight: 500;
  }
}
.p33 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 26%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
@media (max-width: 500px) {
  .p33 {
    max-width: 14%;
  }
}
@media (max-width: 350px) {
  .p33 {
    padding-left: 0px;
    max-width: 14%;
  }
}
.text__qjVuC {
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 1200px) {
  .text__qjVuC {
    font-weight: 600;
    font-size: 18px;
    padding-right: 0px;
  }
}
@media (max-width: 500px) {
  .text__qjVuC {
    font-weight: 500;
  }
}
@media (max-width: 350px) {
  .text__qjVuC {
    font-size: 15px;
  }
}
.p43 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 10%;
  justify-content: flex-start;
  align-items: center;
  min-height: 20px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 500px) {
  .p43 {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    min-height: 20px;
    max-width: 13%;
    flex-direction: column;
    min-width: 0;
    padding: 0px;
  }
}
@media (max-width: 350px) {
  .p43 {
    width: 100%;
    height: auto;
    min-height: 20px;
    max-width: 13%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    padding: 0px 0px 0px 4px;
  }
}
.switch3:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  min-width: 40px;
  min-height: 40px;
  flex-grow: 1;
}
.text__qWGmc {
  font-size: 20px;
  text-align: center;
}
.modalActivateAutosync:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.modalActivateAutosync__modal :global(.ant-modal-content) {
  outline: none;
  border-radius: 100px;
}
.freeBox__vBeht {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 22px 8px 8px;
}
@media (max-width: 350px) {
  .freeBox__vBeht {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 14px;
  }
}
.text__waPKm {
  text-align: right;
  font-size: 17px;
  line-height: 1.8;
}
@media (max-width: 500px) {
  .text__waPKm {
    line-height: 1.8;
  }
}
@media (max-width: 350px) {
  .text__waPKm {
    font-size: 16px;
    line-height: 1.8;
  }
}
.freeBox__ztXba {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 20px 8px 8px;
}
@media (max-width: 350px) {
  .freeBox__ztXba {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.text__gDeAg {
  text-align: right;
  font-size: 16px;
}
@media (max-width: 500px) {
  .text__gDeAg {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__gDeAg {
    font-size: 15px;
  }
}
.buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 30px 8px 8px;
}
@media (max-width: 500px) {
  .buttons {
    padding-right: 0px;
    padding-left: 0px;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 350px) {
  .buttons {
    padding-top: 16px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.active {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 54px;
  max-width: 60%;
  justify-content: center;
  align-items: center;
  background: #2eb773;
  min-width: 0;
  border-radius: 30px;
  padding: 0px;
}
@media (max-width: 500px) {
  .active {
    padding-right: 0px;
    display: flex;
    flex-direction: row;
    align-self: center;
    cursor: pointer;
  }
}
@media (max-width: 350px) {
  .active {
    padding-right: 0px;
  }
}
.img__k6Uei {
  object-fit: cover;
  max-width: 100%;
  width: 45px;
  flex-shrink: 0;
}
.img__k6Uei > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__k6Uei {
    position: relative;
    left: auto;
    top: auto;
    display: block !important;
  }
}
.text__huWHj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  text-align: center;
  color: #fcfcfc;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  min-width: 0;
  border-radius: 30px;
}
@media (max-width: 1200px) {
  .text__huWHj {
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .text__huWHj {
    position: relative;
    left: auto;
    top: auto;
    max-width: 50%;
  }
}
.deactive {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 40%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .deactive {
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .deactive {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.text__yMyB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 94%;
  text-align: center;
  background: none;
  color: #8165d6;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  min-width: 0;
  border-radius: 30px;
  border: 3px solid #8165d6;
}
@media (max-width: 1200px) {
  .text__yMyB {
    max-width: 100%;
  }
}
.text__a1Ly4 {
  text-align: center;
  font-size: 17px;
  padding-top: 10px;
}
.modalActivateReservations:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__qizG5 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 22px 8px 8px;
}
@media (max-width: 350px) {
  .freeBox__qizG5 {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 14px;
  }
}
.text__sx7U5 {
  text-align: right;
  font-size: 17px;
  line-height: 1.8;
}
@media (max-width: 500px) {
  .text__sx7U5 {
    line-height: 1.8;
  }
}
@media (max-width: 350px) {
  .text__sx7U5 {
    font-size: 16px;
    line-height: 1.8;
    padding-top: 0px;
  }
}
.freeBox__e0XaI {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 20px 8px 8px;
}
@media (max-width: 350px) {
  .freeBox__e0XaI {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 10px;
  }
}
.text__byiWh {
  text-align: right;
  font-size: 16px;
}
@media (max-width: 500px) {
  .text__byiWh {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__byiWh {
    font-size: 15px;
  }
}
.buttons3 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 30px 8px 8px;
}
@media (max-width: 500px) {
  .buttons3 {
    padding-right: 0px;
    padding-left: 0px;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 350px) {
  .buttons3 {
    padding-top: 16px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.active3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 60%;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  min-width: 0;
  padding: 8px 0px 8px 18px;
}
@media (max-width: 500px) {
  .active3 {
    display: flex;
    flex-direction: row;
    max-width: 60%;
    background: #2eb773;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 30px;
    padding: 0px;
  }
}
@media (max-width: 350px) {
  .active3 {
    padding-right: 0px;
    padding-left: 7px;
  }
}
.img___67Ivb {
  object-fit: cover;
  max-width: 100%;
  width: 45px;
}
.img___67Ivb > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img___67Ivb {
    position: relative;
    left: auto;
    top: auto;
    display: block !important;
  }
}
.text__swGq5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 94%;
  text-align: center;
  background: #2eb773;
  color: #fcfcfc;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  min-width: 0;
  border-radius: 30px;
}
@media (max-width: 1200px) {
  .text__swGq5 {
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .text__swGq5 {
    max-width: 50%;
  }
}
.cancel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 40%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .cancel {
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .cancel {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.text__jlwrs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 94%;
  text-align: center;
  background: none;
  color: #8165d6;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  min-width: 0;
  border-radius: 30px;
  border: 3px solid #8165d6;
}
@media (max-width: 1200px) {
  .text__jlwrs {
    max-width: 100%;
  }
}
.text__x2QvB {
  text-align: center;
  font-size: 17px;
  padding-top: 10px;
}
.modalDEactivateAutosync:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__wlTfp {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 22px 8px 8px;
}
@media (max-width: 350px) {
  .freeBox__wlTfp {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 14px;
  }
}
.text__mc9FR {
  text-align: right;
  font-size: 17px;
  line-height: 1.8;
  padding-bottom: 0px;
}
@media (max-width: 500px) {
  .text__mc9FR {
    line-height: 1.8;
  }
}
@media (max-width: 350px) {
  .text__mc9FR {
    font-size: 16px;
    line-height: 1.8;
  }
}
.buttons2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 30px 8px 8px;
}
@media (max-width: 500px) {
  .buttons2 {
    padding-right: 0px;
    padding-left: 0px;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 350px) {
  .buttons2 {
    padding-top: 16px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.deactive5 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 60%;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  min-width: 0;
  padding: 8px 0px 8px 18px;
}
@media (max-width: 500px) {
  .deactive5 {
    display: flex;
    flex-direction: row;
    background: #ff4e4e;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 30px;
    padding: 2px 0px;
  }
}
@media (max-width: 350px) {
  .deactive5 {
    padding-right: 0px;
    padding-left: 7px;
  }
}
.img__g0TMq {
  object-fit: cover;
  max-width: 100%;
  width: 45px;
}
.img__g0TMq > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__g0TMq {
    position: relative;
    left: auto;
    top: auto;
    display: block !important;
  }
}
.text___9LPT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 94%;
  text-align: center;
  background: #ff4e4e;
  color: #fcfcfc;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  min-width: 0;
  border-radius: 30px;
}
@media (max-width: 1200px) {
  .text___9LPT {
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .text___9LPT {
    background: none;
    max-width: 50%;
  }
}
.deactive2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 40%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .deactive2 {
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .deactive2 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.text___00Z3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 94%;
  text-align: center;
  background: none;
  color: #8165d6;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  min-width: 0;
  border-radius: 30px;
  border: 3px solid #8165d6;
}
@media (max-width: 1200px) {
  .text___00Z3 {
    max-width: 100%;
  }
}
.text__nbEt {
  text-align: center;
  font-size: 17px;
  padding-top: 10px;
}
.modalDEactivateReservations:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__xe5B3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 22px 8px 8px;
}
@media (max-width: 350px) {
  .freeBox__xe5B3 {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 14px;
  }
}
.text__nrISn {
  text-align: right;
  font-size: 17px;
  line-height: 1.8;
  padding-bottom: 0px;
}
@media (max-width: 500px) {
  .text__nrISn {
    line-height: 1.8;
  }
}
@media (max-width: 350px) {
  .text__nrISn {
    font-size: 16px;
    line-height: 1.8;
  }
}
.buttons4 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 30px 8px 8px;
}
@media (max-width: 500px) {
  .buttons4 {
    padding-right: 0px;
    padding-left: 0px;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 350px) {
  .buttons4 {
    padding-top: 16px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.active4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 60%;
  min-width: 0;
  padding: 8px 0px 8px 18px;
}
.active4 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
@media (max-width: 500px) {
  .active4 {
    display: flex;
    flex-direction: row;
    background: #ff4e4e;
    width: 100%;
    height: auto;
    max-width: 60%;
    cursor: pointer;
    min-width: 0;
    border-radius: 30px;
    padding: 2px 0px;
  }
}
@media (max-width: 500px) {
  .active4 > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 500px) {
  .active4 > :global(.__wab_flex-container) > *,
  .active4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .active4 > :global(.__wab_flex-container) > picture > img,
  .active4
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
@media (max-width: 350px) {
  .active4 {
    padding-right: 0px;
    padding-left: 7px;
  }
}
.img__la2M2 {
  object-fit: cover;
  max-width: 100%;
  width: 45px;
}
.img__la2M2 > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__la2M2 {
    position: relative;
    left: auto;
    top: auto;
    display: block !important;
  }
}
.text__wMEjm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 94%;
  text-align: center;
  background: #ff4e4e;
  color: #fcfcfc;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  min-width: 0;
  border-radius: 30px;
}
@media (max-width: 1200px) {
  .text__wMEjm {
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .text__wMEjm {
    background: none;
    padding-top: 12px;
    padding-bottom: 12px;
    max-width: 50%;
    width: 100%;
    height: auto;
    font-size: 17px;
    font-weight: 600;
    color: #fcfcfc;
    text-align: center;
    cursor: pointer;
    min-width: 0;
    border-radius: 30px;
  }
}
.deactive4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 40%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .deactive4 {
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .deactive4 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.text___9V6C2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 94%;
  text-align: center;
  background: none;
  color: #8165d6;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  min-width: 0;
  border-radius: 30px;
  border: 3px solid #8165d6;
}
@media (max-width: 1200px) {
  .text___9V6C2 {
    max-width: 100%;
  }
}
.text__kxL1E {
  text-align: center;
  font-size: 17px;
  padding-top: 10px;
}
.opt14 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  justify-content: flex-start;
  align-items: center;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
  min-width: 0;
  padding: 30px 8px 8px;
}
@media (max-width: 1200px) {
  .opt14 {
    max-width: 60%;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .opt14 {
    max-width: 100%;
    justify-content: space-between;
    padding-top: 22px;
    border-top-width: 2px;
    border-top-style: dashed;
    border-bottom-width: 0px;
    padding-right: 14px;
  }
}
@media (max-width: 350px) {
  .opt14 {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 13px;
    margin-bottom: 40px;
    max-width: 100%;
  }
}
.p24 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 60%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .p24 {
    padding-right: 0px;
    padding-left: 0px;
    max-width: 60%;
  }
}
@media (max-width: 350px) {
  .p24 {
    padding-left: 0px;
    max-width: 60%;
    padding-right: 14px;
  }
}
.text__nIm2M {
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__nIm2M {
    font-size: 17px;
  }
}
@media (max-width: 350px) {
  .text__nIm2M {
    font-size: 15px;
    font-weight: 600;
  }
}
.p34 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 40%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
@media (max-width: 1200px) {
  .p34 {
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .p34 {
    align-items: center;
    justify-content: center;
    max-width: 40%;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .p34 {
    padding-left: 8px;
    max-width: 40%;
  }
}
.text__ifHFd {
  font-size: 20px;
  font-weight: 600;
}
@media (max-width: 500px) {
  .text__ifHFd {
    font-size: 17px;
  }
}
@media (max-width: 350px) {
  .text__ifHFd {
    font-size: 15px;
  }
}
.apiRequestSetting:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__hAza {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
._2Nd2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 181px;
  min-width: 0;
  padding: 39px 8px 8px;
}
@media (max-width: 500px) {
  ._2Nd2 {
    padding-top: 30px;
    max-width: 100%;
    margin-bottom: 100px;
  }
}
@media (max-width: 350px) {
  ._2Nd2 {
    max-width: 100%;
    padding-top: 10px;
    margin-bottom: 100px;
  }
}
.text__vl2CS {
  font-size: 19px;
  padding-top: 20px;
  text-align: center;
  line-height: 1.8;
  color: var(--token-8nedppYkGVaH);
}
@media (max-width: 1200px) {
  .text__vl2CS {
    padding-top: 0px;
  }
}
@media (max-width: 500px) {
  .text__vl2CS {
    line-height: 1.8;
    font-size: 16px;
    padding-top: 0px;
  }
}
@media (max-width: 350px) {
  .text__vl2CS {
    font-size: 15px;
    padding-top: 0px;
  }
}
.returnButton {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #8165d6;
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
}
@media (max-width: 500px) {
  .returnButton {
    padding: 8px;
  }
}
.freeBox__lXyXj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 50px;
  max-width: 20%;
  justify-content: center;
  align-items: center;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  padding: 0px;
}
@media (max-width: 1200px) {
  .freeBox__lXyXj {
    max-width: 30%;
    height: 50px;
  }
}
@media (max-width: 500px) {
  .freeBox__lXyXj {
    max-width: 90%;
    height: 60px;
  }
}
.text__gY7S2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-zy6xhYnWF8Y7);
  text-align: center;
  font-size: 20px;
  user-select: none;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__gY7S2 {
    font-size: 16px;
  }
}
.html {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  min-width: 0;
  padding: 8px;
}
.clarity2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.goftino:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
