.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: linear-gradient(
      40deg,
      #fcfcfc 0%,
      #ebfaff 38%,
      #fcfcfc 63%,
      #ebfaff 96%
    )
    0% 0% / 100% 100% repeat;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .root {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 1200px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 500px) {
  .root {
    padding-top: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 500px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 350px) {
  .root > * {
    grid-column: 4;
  }
}
.navbarRntHeader:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (max-width: 1200px) {
  .navbarRntHeader:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 500px) {
  .navbarRntHeader:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 350px) {
  .navbarRntHeader:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.mainContents {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px 0px 0px;
}
@media (max-width: 1200px) {
  .mainContents {
    max-width: 100%;
    width: 100%;
    padding-bottom: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 500px) {
  .mainContents {
    padding: 0px;
  }
}
.intro1st {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 12px 8px 0px;
}
@media (max-width: 1200px) {
  .intro1st {
    max-width: 100%;
    padding-bottom: 0px;
  }
}
@media (max-width: 500px) {
  .intro1st {
    padding-top: 18px;
  }
}
.introTitle {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .introTitle {
    padding-top: 0px;
    padding-right: 10px;
  }
}
.دربارهما {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  font-weight: 600;
}
@media (max-width: 1200px) {
  .دربارهما {
    font-size: 22px;
  }
}
@media (max-width: 500px) {
  .دربارهما {
    font-size: 20px;
  }
}
@media (max-width: 350px) {
  .دربارهما {
    font-size: 20px;
  }
}
.دربارهما2 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  font-weight: 400;
  padding: 10px 0px 0px;
}
@media (max-width: 1200px) {
  .دربارهما2 {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .دربارهما2 {
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .دربارهما2 {
    font-size: 15px;
  }
}
.teamImage {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 0px 8px;
}
@media (max-width: 1200px) {
  .teamImage {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 500px) {
  .teamImage {
    display: flex;
    flex-direction: column;
    column-gap: 0px;
  }
}
.introduction1Text {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 6px 8px 8px;
}
@media (max-width: 1200px) {
  .introduction1Text {
    padding-right: 8px;
    padding-left: 8px;
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .introduction1Text {
    max-width: 100%;
    padding-top: 10px;
  }
}
@media (max-width: 350px) {
  .introduction1Text {
    padding-top: 6px;
  }
}
.text__bte4Q {
  text-align: right;
  font-size: 16px;
  line-height: 1.8;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
@media (max-width: 1200px) {
  .text__bte4Q {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text__bte4Q {
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .text__bte4Q {
    font-size: 15px;
  }
}
.introduction2TextPics {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 22px 0px;
}
@media (max-width: 1200px) {
  .introduction2TextPics {
    padding-right: 8px;
    padding-left: 8px;
    max-width: 100%;
    flex-direction: row-reverse;
    row-gap: 0px;
  }
}
@media (max-width: 500px) {
  .introduction2TextPics {
    max-width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    column-gap: 0px;
  }
}
@media (max-width: 350px) {
  .introduction2TextPics {
    padding-top: 6px;
  }
}
.freeBox__j3ADy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 44%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__j3ADy {
    width: 100%;
    height: auto;
    max-width: 60%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 54%;
    column-gap: 0px;
    padding: 8px;
  }
}
@media (max-width: 500px) {
  .freeBox__j3ADy {
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__j3ADy {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.img__za7Ah {
  object-fit: cover;
  width: 100%;
  box-shadow: none;
  min-width: 0;
  border-radius: 30px;
}
.img__za7Ah > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__za7Ah {
    min-height: auto;
    max-height: none;
    max-width: none;
    min-width: auto;
    width: 100%;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
}
@media (max-width: 500px) {
  .img__za7Ah {
    max-width: none;
    min-height: auto;
    max-height: none;
    min-width: auto;
    width: 100%;
    box-shadow: none;
    border-radius: 30px;
  }
}
@media (max-width: 350px) {
  .img__za7Ah {
    max-width: 100%;
    min-width: auto;
    min-height: auto;
    max-height: none;
    width: 100%;
    box-shadow: none;
    border-radius: 30px;
  }
}
.text___7EPgn {
  text-align: center;
  font-size: 15px;
  line-height: 1.8;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
@media (max-width: 1200px) {
  .text___7EPgn {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .text___7EPgn {
    font-size: 14px;
  }
}
@media (max-width: 350px) {
  .text___7EPgn {
    font-size: 13px;
  }
}
.introduction2TextPics2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 22px 8px;
}
@media (max-width: 1200px) {
  .introduction2TextPics2 {
    padding-right: 8px;
    padding-left: 8px;
    max-width: 100%;
    flex-direction: column;
    display: flex;
    column-gap: 0px;
  }
}
@media (max-width: 500px) {
  .introduction2TextPics2 {
    max-width: 50%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    column-gap: 0px;
  }
}
@media (max-width: 350px) {
  .introduction2TextPics2 {
    padding-top: 6px;
  }
}
.freeBox__g7EOv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 30%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__g7EOv {
    width: 100%;
    height: auto;
    max-width: 44%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 8px;
  }
}
@media (max-width: 500px) {
  .freeBox__g7EOv {
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__g7EOv {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.img__pnwAq {
  object-fit: cover;
  width: 100%;
  box-shadow: none;
  min-width: 0;
}
.img__pnwAq > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__pnwAq {
    min-height: auto;
    max-height: none;
    max-width: none;
    min-width: auto;
    width: 100%;
    box-shadow: none;
  }
}
@media (max-width: 500px) {
  .img__pnwAq {
    max-width: none;
    min-height: auto;
    max-height: none;
    min-width: auto;
    width: 100%;
    box-shadow: none;
    border-radius: 0px;
  }
}
@media (max-width: 350px) {
  .img__pnwAq {
    max-width: 100%;
    min-width: auto;
    min-height: auto;
    max-height: none;
    width: 100%;
    box-shadow: none;
    border-radius: 0px;
  }
}
.introduction3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 6px 8px 8px;
}
@media (max-width: 1200px) {
  .introduction3 {
    padding-right: 8px;
    padding-left: 8px;
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .introduction3 {
    max-width: 100%;
    padding-top: 0px;
  }
}
@media (max-width: 350px) {
  .introduction3 {
    padding-top: 6px;
  }
}
.text__jbiLl {
  text-align: right;
  font-size: 17px;
  line-height: 1.8;
  padding-top: 0px;
  font-weight: 600;
  color: #444444;
}
@media (max-width: 1200px) {
  .text__jbiLl {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text__jbiLl {
    font-size: 15px;
    padding-top: 12px;
  }
}
@media (max-width: 350px) {
  .text__jbiLl {
    font-size: 15px;
  }
}
.text__uXggy {
  text-align: right;
  font-size: 16px;
  line-height: 1.8;
  padding-top: 0px;
  color: #444444;
}
@media (max-width: 1200px) {
  .text__uXggy {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text__uXggy {
    font-size: 15px;
    padding-top: 12px;
  }
}
@media (max-width: 350px) {
  .text__uXggy {
    font-size: 15px;
  }
}
.text__jN0MC {
  text-align: right;
  font-size: 16px;
  line-height: 1.8;
  padding-top: 10px;
  color: #444444;
}
@media (max-width: 1200px) {
  .text__jN0MC {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text__jN0MC {
    font-size: 15px;
    padding-top: 12px;
  }
}
@media (max-width: 350px) {
  .text__jN0MC {
    font-size: 15px;
  }
}
.freeBox___7YKcY {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 27px 16px;
}
@media (max-width: 1200px) {
  .freeBox___7YKcY {
    max-width: 60%;
  }
}
@media (max-width: 500px) {
  .freeBox___7YKcY {
    padding-right: 8px;
    padding-left: 8px;
    max-width: 100%;
  }
}
.img__hTcVa {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 50px;
}
.img__hTcVa > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__hTcVa {
    border-radius: 30px;
  }
}
@media (max-width: 350px) {
  .img__hTcVa {
    border-radius: 20px;
  }
}
.principles {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 33px 8px;
}
@media (max-width: 1200px) {
  .principles {
    max-width: 100%;
    padding: 20px 16px;
  }
}
@media (max-width: 500px) {
  .principles {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    column-gap: 0px;
  }
}
@media (max-width: 350px) {
  .principles {
    max-width: 100%;
    padding: 0px 16px;
  }
}
.text__v4EEe {
  text-align: right;
  font-size: 16px;
  line-height: 1.8;
  padding-top: 10px;
  color: #444444;
}
@media (max-width: 1200px) {
  .text__v4EEe {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text__v4EEe {
    font-size: 15px;
    padding-top: 12px;
  }
}
@media (max-width: 350px) {
  .text__v4EEe {
    font-size: 15px;
  }
}
.freeBox___0HluV {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 44%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox___0HluV {
    width: 100%;
    height: auto;
    max-width: 60%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 54%;
    column-gap: 0px;
    padding: 8px;
  }
}
@media (max-width: 500px) {
  .freeBox___0HluV {
    max-width: 100%;
    padding-right: 16px;
    padding-left: 16px;
  }
}
@media (max-width: 350px) {
  .freeBox___0HluV {
    padding: 20px 8px;
  }
}
.img__xG38X {
  object-fit: cover;
  width: 100%;
  box-shadow: none;
  min-width: 0;
  border-radius: 30px;
}
.img__xG38X > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__xG38X {
    min-height: auto;
    max-height: none;
    max-width: none;
    min-width: auto;
    width: 100%;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
}
@media (max-width: 500px) {
  .img__xG38X {
    max-width: none;
    min-height: auto;
    max-height: none;
    min-width: auto;
    width: 100%;
    box-shadow: none;
    border-radius: 30px;
  }
}
@media (max-width: 350px) {
  .img__xG38X {
    max-width: 100%;
    min-width: auto;
    min-height: auto;
    max-height: none;
    width: 100%;
    box-shadow: none;
    border-radius: 30px;
  }
}
.text__fNdf {
  text-align: center;
  font-size: 15px;
  line-height: 1.8;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #444444;
}
@media (max-width: 1200px) {
  .text__fNdf {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .text__fNdf {
    font-size: 14px;
  }
}
@media (max-width: 350px) {
  .text__fNdf {
    font-size: 13px;
  }
}
.freeBox__bgxuF {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px 8px 23px;
}
@media (max-width: 1200px) {
  .freeBox__bgxuF {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    min-width: 0;
  }
}
@media (max-width: 500px) {
  .freeBox__bgxuF {
    width: 100%;
    min-width: 0;
    padding: 20px 16px;
  }
}
@media (max-width: 350px) {
  .freeBox__bgxuF {
    padding-bottom: 32px;
  }
}
.text__tMlwq {
  text-align: right;
  font-size: 16px;
  line-height: 1.8;
  padding-top: 20px;
  color: #444444;
}
@media (max-width: 1200px) {
  .text__tMlwq {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text__tMlwq {
    font-size: 15px;
    padding-top: 24px;
  }
}
@media (max-width: 350px) {
  .text__tMlwq {
    font-size: 15px;
    padding-top: 0px;
  }
}
.freeBox___1LmYu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px 8px 23px;
}
@media (max-width: 1200px) {
  .freeBox___1LmYu {
    width: 100%;
    padding-right: 24px;
    padding-left: 24px;
    min-width: 0;
  }
}
@media (max-width: 500px) {
  .freeBox___1LmYu {
    width: 100%;
    min-width: 0;
    padding: 20px 24px;
  }
}
@media (max-width: 350px) {
  .freeBox___1LmYu {
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.text___6Ux8S {
  text-align: right;
  font-size: 16px;
  line-height: 1.8;
  padding-top: 20px;
  color: #444444;
  font-weight: 500;
}
@media (max-width: 1200px) {
  .text___6Ux8S {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text___6Ux8S {
    font-size: 15px;
    padding-top: 24px;
  }
}
@media (max-width: 350px) {
  .text___6Ux8S {
    font-size: 14px;
    padding-top: 0px;
    font-weight: 500;
  }
}
.img__wPJn {
  object-fit: cover;
  max-width: 100%;
}
.img__wPJn > picture > img {
  object-fit: cover;
}
.text__oh97J {
  text-align: right;
  font-size: 16px;
  line-height: 1.8;
  padding-top: 66px;
  font-weight: 500;
  padding-bottom: 66px;
}
@media (max-width: 1200px) {
  .text__oh97J {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text__oh97J {
    font-size: 15px;
    padding-top: 30px;
  }
}
@media (max-width: 350px) {
  .text__oh97J {
    font-size: 14px;
    padding-right: 16px;
    padding-left: 16px;
    text-align: center;
  }
}
.qA {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 80%;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 0em;
  min-width: 0;
  min-height: 0;
  padding: 30px 8px 50px;
}
@media (max-width: 1200px) {
  .qA {
    animation: none;
    max-width: 90%;
  }
}
@media (max-width: 500px) {
  .qA {
    animation: none;
    width: 100%;
    max-width: 100%;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .qA {
    animation: none;
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
    max-width: 100%;
    min-width: 0;
  }
}
.freeBox__envrc {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__envrc {
    animation: none;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__envrc {
    animation: none;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.text__nuJ5U {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 19px;
  font-weight: 600;
  text-align: right;
  padding-right: 5px;
  padding-top: 5px;
  color: #444444;
  user-select: none;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__nuJ5U {
    animation: none;
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-top: 5px;
    padding-right: 20px;
    font-size: 19px;
    font-weight: 600;
    color: #444444;
    text-align: right;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__nuJ5U {
    animation: none;
    padding-right: 20px;
  }
}
.freeBox__oDoPg {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__oDoPg {
    animation: none;
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__oDoPg {
    animation: none;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.accordionMain:global(.__wab_instance) {
  animation: none;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  color: #444444;
  min-width: 0;
}
@media (max-width: 500px) {
  .accordionMain:global(.__wab_instance) {
    animation: none;
  }
}
@media (max-width: 350px) {
  .accordionMain:global(.__wab_instance) {
    animation: none;
  }
}
._2:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  font-size: 16px;
  font-weight: 500;
}
@media (max-width: 500px) {
  ._2:global(.__wab_instance) {
    animation: none;
  }
}
@media (max-width: 350px) {
  ._2:global(.__wab_instance) {
    animation: none;
  }
}
._1 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 500px) {
  ._1 {
    animation: none;
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  ._1 {
    animation: none;
    font-size: 15px;
  }
}
.text__bea79 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__bea79 {
    animation: none;
  }
}
@media (max-width: 350px) {
  .text__bea79 {
    animation: none;
    font-size: 15px;
  }
}
._4:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  font-size: 16px;
  font-weight: 500;
}
@media (max-width: 350px) {
  ._4:global(.__wab_instance) {
    animation: none;
    font-size: 15px;
  }
}
.text__xNmRb {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__xNmRb {
    animation: none;
    font-size: 16px;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-weight: 500;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__xNmRb {
    animation: none;
    font-size: 15px;
  }
}
.text__n82G5 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 350px) {
  .text__n82G5 {
    animation: none;
    font-size: 15px;
  }
}
._7:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  font-size: 16px;
  font-weight: 500;
}
@media (max-width: 350px) {
  ._7:global(.__wab_instance) {
    animation: none;
  }
}
.text__lhwKl {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__lhwKl {
    animation: none;
    font-size: 16px;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-weight: 500;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__lhwKl {
    animation: none;
    font-size: 15px;
  }
}
.text__hajBe {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 350px) {
  .text__hajBe {
    animation: none;
    font-size: 15px;
  }
}
._5:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  font-size: 16px;
  font-weight: 500;
}
@media (max-width: 350px) {
  ._5:global(.__wab_instance) {
    animation: none;
  }
}
.text___0F6Gt {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text___0F6Gt {
    animation: none;
    font-size: 16px;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-weight: 500;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text___0F6Gt {
    animation: none;
    font-size: 15px;
  }
}
.text__n6DU {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 350px) {
  .text__n6DU {
    animation: none;
    font-size: 15px;
  }
}
._6:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  font-size: 16px;
  font-weight: 500;
}
@media (max-width: 350px) {
  ._6:global(.__wab_instance) {
    animation: none;
  }
}
.text__nFvGw {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__nFvGw {
    animation: none;
    font-size: 16px;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-weight: 500;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__nFvGw {
    animation: none;
    font-size: 15px;
  }
}
.text__qnsii {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 350px) {
  .text__qnsii {
    animation: none;
    font-size: 15px;
  }
}
.html2 {
  animation: none;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  min-width: 0;
  display: none;
  padding: 8px;
}
.goftino2:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.freeBox__qOxyp {
  animation: none;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
.clarityRntComponent__gveki:global(.__wab_instance) {
  animation: none;
  display: none;
}
.faviconRntComponent__aq5V5:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  display: none;
}
.html {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1200px) {
  .html {
    padding: 0px;
  }
}
@media (max-width: 500px) {
  .html {
    display: none;
  }
}
.freeBox__leXku {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__leXku {
    padding: 0px;
  }
}
.goftino:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.clarityRntComponent__pFhau:global(.__wab_instance) {
  display: none;
}
.faviconRntComponent__iuy0N:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.rentamonFooter:global(.__wab_instance) {
  max-width: 100%;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
