.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.html {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.embedHtml__evJce:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.embedHtml__bxCty:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.guide {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text___3CfU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 600;
  color: var(--token-8nedppYkGVaH);
  text-align: right;
  min-width: 0;
}
.text___3D5Qe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-8nedppYkGVaH);
  font-size: 18px;
  font-weight: 600;
  min-width: 0;
}
.freeBox__rduuF {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__aeiK5 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-8nedppYkGVaH);
  font-weight: 600;
  font-size: 18px;
  min-width: 0;
}
.text__pHuo7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  color: #203647;
  min-width: 0;
}
.selfRegisterForm:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.step0 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  padding: 8px;
}
.name:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.lastName:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__f1Jv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button__xqgLb:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  color: var(--token-8nedppYkGVaH);
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text__lCyaZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-weight: 600;
  min-width: 0;
}
.step1 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  padding: 8px;
}
.propertyName:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.input3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.phoneNumber:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___24O8D {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button___333Mv:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text___8SQjB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__jHcIi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  background: #ffffff00;
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
  border: 2px solid var(--token-8nedppYkGVaH);
}
.text__jrhB4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.step2 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  padding: 8px;
}
.jabamaPpid:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.input5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.jajigaPpid:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.shabPpid:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.mizboonPpid:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.otaghakPpid:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input9:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.mihmanshoPpid:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input10:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.homsaPpid:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input11:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__xaF {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button__mnM49:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text__om8Of {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__jGqui:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  background: #ffffff00;
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
  border: 2px solid var(--token-8nedppYkGVaH);
}
.text__ugfax {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
