.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.freeBox__gxyGk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__mEp65 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__pxmJ5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 600;
  min-width: 0;
}
.freeBox__aPlBi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__y790 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__y790 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media (max-width: 350px) {
  .freeBox__y790 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
.freeBox__yySkr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__yySkr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 7px);
  height: calc(100% + 7px);
}
.freeBox__yySkr > :global(.__wab_flex-container) > *,
.freeBox__yySkr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yySkr > :global(.__wab_flex-container) > picture > img,
.freeBox__yySkr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 7px;
}
.img___2BB22 {
  object-fit: cover;
  max-width: 100%;
  height: 52px;
  flex-shrink: 0;
}
.img___2BB22 > picture > img {
  object-fit: cover;
}
.text__xiF5G {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  min-width: 0;
}
.freeBox__rMT3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__rMT3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 7px);
  height: calc(100% + 7px);
}
.freeBox__rMT3 > :global(.__wab_flex-container) > *,
.freeBox__rMT3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rMT3 > :global(.__wab_flex-container) > picture > img,
.freeBox__rMT3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 7px;
}
.img__gMmGk {
  object-fit: cover;
  max-width: 100%;
  height: 52px;
  flex-shrink: 0;
}
.img__gMmGk > picture > img {
  object-fit: cover;
}
.text__ymkan {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  min-width: 0;
}
.freeBox__gjRrw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__gjRrw > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 7px);
  height: calc(100% + 7px);
}
.freeBox__gjRrw > :global(.__wab_flex-container) > *,
.freeBox__gjRrw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gjRrw > :global(.__wab_flex-container) > picture > img,
.freeBox__gjRrw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 7px;
}
.img__t4ODp {
  object-fit: cover;
  max-width: 100%;
  height: 52px;
  flex-shrink: 0;
}
.img__t4ODp > picture > img {
  object-fit: cover;
}
.text__t8D2Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  min-width: 0;
}
.freeBox__pp4AP {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__pp4AP > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 7px);
  height: calc(100% + 7px);
}
.freeBox__pp4AP > :global(.__wab_flex-container) > *,
.freeBox__pp4AP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pp4AP > :global(.__wab_flex-container) > picture > img,
.freeBox__pp4AP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 7px;
}
.img__mdCdV {
  object-fit: cover;
  max-width: 100%;
  height: 52px;
  flex-shrink: 0;
}
.img__mdCdV > picture > img {
  object-fit: cover;
}
.text__majj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  min-width: 0;
}
.freeBox__nhze {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__nhze > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 7px);
  height: calc(100% + 7px);
}
.freeBox__nhze > :global(.__wab_flex-container) > *,
.freeBox__nhze > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nhze > :global(.__wab_flex-container) > picture > img,
.freeBox__nhze
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 7px;
}
.img__eQvYx {
  object-fit: cover;
  max-width: 100%;
  height: 52px;
  flex-shrink: 0;
}
.img__eQvYx > picture > img {
  object-fit: cover;
}
.text__vTTbl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  min-width: 0;
}
.freeBox__mr1Ry {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__mr1Ry > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 7px);
  height: calc(100% + 7px);
}
.freeBox__mr1Ry > :global(.__wab_flex-container) > *,
.freeBox__mr1Ry > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mr1Ry > :global(.__wab_flex-container) > picture > img,
.freeBox__mr1Ry
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 7px;
}
.img___0SFyU {
  object-fit: cover;
  max-width: 100%;
  height: 52px;
  flex-shrink: 0;
}
.img___0SFyU > picture > img {
  object-fit: cover;
}
.text__o6LD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  padding-top: 0px;
  min-width: 0;
}
.freeBox___7Y3M {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___7Y3M > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 7px);
  height: calc(100% + 7px);
}
.freeBox___7Y3M > :global(.__wab_flex-container) > *,
.freeBox___7Y3M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7Y3M > :global(.__wab_flex-container) > picture > img,
.freeBox___7Y3M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 7px;
}
.img__tpzPj {
  object-fit: cover;
  max-width: 100%;
  height: 52px;
  flex-shrink: 0;
}
.img__tpzPj > picture > img {
  object-fit: cover;
}
.text__gOeDh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  margin-top: calc(0px + 7px) !important;
  min-width: 0;
}
.freeBox__mnhb7 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__mnhb7 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__mnhb7 > :global(.__wab_flex-container) > *,
.freeBox__mnhb7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mnhb7 > :global(.__wab_flex-container) > picture > img,
.freeBox__mnhb7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.button__ysGs:global(.__wab_instance) {
  max-width: 100%;
}
.svg___0I9VJ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__i3VG {
  font-size: 15px;
}
.svg__y1PFn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__j1Bwr:global(.__wab_instance) {
  max-width: 100%;
  align-self: flex-start;
}
.svg__fhxd4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___0X11F {
  font-size: 15px;
}
.svg__eaiR {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
