.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(
    47deg,
    #fcfcfc 0%,
    #8165d617 35%,
    #fcfcfc 66%,
    #8165d617 100%
  );
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px 0px 4px;
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 500px) {
  .root {
    width: 100%;
    height: 100%;
    max-width: 100%;
    background: linear-gradient(
      63deg,
      #fcfcfc 0%,
      #8165d617 19%,
      #fcfcfc 41%,
      #8165d617 80%
    );
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    padding: 0px 0px 4px;
  }
}
@media (max-width: 500px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 350px) {
  .root {
    justify-items: center;
    align-content: flex-start;
  }
}
@media (max-width: 350px) {
  .root > * {
    grid-column: 4;
  }
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.headerMain {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 90px;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  max-height: 90px;
  min-width: 0;
  padding: 8px 8px 0px;
}
@media (max-width: 500px) {
  .headerMain {
    width: 100%;
    background: linear-gradient(
      47deg,
      #fcfcfc 0%,
      #8165d617 35%,
      #fcfcfc 66%,
      #8165d617 100%
    );
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    min-height: 0;
    padding: 0px 0px 4px;
  }
}
@media (max-width: 350px) {
  .headerMain {
    padding-top: 4px;
  }
}
.header {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
@media (max-width: 1200px) {
  .header {
    padding-right: 0px;
  }
}
@media (max-width: 500px) {
  .header {
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    min-height: 0;
    padding: 4px 8px 2px;
  }
}
@media (max-width: 350px) {
  .header {
    padding: 0px 0px 4px;
  }
}
.right {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  flex-direction: column;
  min-width: 0;
  padding: 0px 8px;
}
.right > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-width: 0;
}
@media (max-width: 1200px) {
  .right {
    max-width: 78%;
  }
}
@media (max-width: 500px) {
  .right {
    width: 100%;
    height: auto;
    max-width: 78%;
    flex-direction: row-reverse;
    min-width: 0;
    padding: 0px 0px 0px 4px;
  }
}
@media (max-width: 500px) {
  .right > :global(.__wab_flex-container) {
    align-items: flex-end;
    justify-content: center;
    flex-direction: row-reverse;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 500px) {
  .right > :global(.__wab_flex-container) > *,
  .right > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .right > :global(.__wab_flex-container) > picture > img,
  .right
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
@media (max-width: 350px) {
  .right {
    max-width: 66%;
  }
}
@media (max-width: 350px) {
  .right > :global(.__wab_flex-container) {
    justify-content: flex-end;
    align-items: flex-end;
  }
}
.right2 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 0px 0px 0px 8px;
}
@media (max-width: 500px) {
  .right2 {
    padding-left: 0px;
    padding-top: 0px;
    justify-content: center;
    align-items: flex-end;
  }
}
.select2:global(.__wab_instance) {
  max-width: 100%;
  width: 70%;
  margin-bottom: 0px;
}
@media (max-width: 500px) {
  .select2:global(.__wab_instance) {
    width: 100%;
    position: relative;
    left: auto;
    top: auto;
    align-self: flex-start;
    z-index: 1;
  }
}
@media (max-width: 350px) {
  .select2:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
@media (max-width: 350px) {
  .text__kFSkm {
    font-size: 17px;
  }
}
.left {
  display: flex;
  position: relative;
  width: 20%;
  height: auto;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  max-height: 86px;
  padding: 0px 8px;
}
@media (max-width: 1200px) {
  .left {
    padding-top: 0px;
    width: 28%;
  }
}
@media (max-width: 500px) {
  .left {
    padding-left: 0px;
    max-width: 30%;
    padding-bottom: 0px;
    padding-top: 0px;
    align-items: center;
    justify-content: flex-end;
  }
}
@media (max-width: 350px) {
  .left {
    padding-top: 0px;
    padding-right: 6px;
    width: 34%;
    align-items: flex-end;
    justify-content: flex-end;
  }
}
.freeBox__y2KmV {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-width: 0;
  border-radius: 20px;
  padding: 0px;
  margin: 0px;
}
@media (max-width: 500px) {
  .freeBox__y2KmV {
    max-height: 70px;
    border-radius: 15px;
  }
}
.img {
  object-fit: cover;
  padding-top: 2px;
  padding-bottom: 2px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.img > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img {
    height: 130px;
    flex-shrink: 0;
  }
}
@media (max-width: 500px) {
  .img {
    height: 100%;
    object-fit: cover;
    min-height: 80px;
  }
}
@media (max-width: 500px) {
  .img > picture > img {
    object-fit: cover;
  }
}
@media (max-width: 350px) {
  .img {
    width: 220px;
    height: 80px;
    flex-shrink: 0;
  }
}
.freeBox__j6D2M {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  border-radius: 21px;
  border: 2px solid var(--token-8nedppYkGVaH);
}
@media (max-width: 500px) {
  .freeBox__j6D2M {
    height: 100%;
    min-height: 60px;
    padding-top: 2px;
    padding-bottom: 2px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 15px;
  }
}
.text__cQc5Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  color: var(--token-8nedppYkGVaH);
  text-align: center;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__cQc5Q {
    font-size: 13px;
  }
}
.profile:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__ovxMl {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.deskTablet {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  left: auto;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 8px;
}
@media (max-width: 1200px) {
  .deskTablet {
    width: auto;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    left: auto;
    top: 0;
    right: 0;
  }
}
@media (max-width: 500px) {
  .deskTablet {
    width: 100%;
    align-items: center;
    justify-content: center;
    max-height: 134px;
    left: 0px;
    top: 0px;
    min-width: 0;
    display: none;
    padding: 0px;
  }
}
@media (max-width: 350px) {
  .deskTablet {
    justify-content: center;
    align-items: center;
  }
}
.sidebarLite:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: auto;
  top: 0;
  right: 0;
}
@media (max-width: 500px) {
  .sidebarLite:global(.__wab_instance):global(.__wab_instance) {
    display: none;
  }
}
.calendar2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  margin: 0px 0px 39px;
}
@media (max-width: 500px) {
  .calendar2:global(.__wab_instance) {
    width: 100%;
    max-width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.userAvailableFeature:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.spacerDontTouch {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-height: 72px;
  max-height: 72px;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 500px) {
  .spacerDontTouch {
    display: flex;
  }
}
@media (max-width: 350px) {
  .spacerDontTouch {
    display: flex;
  }
}
.proPanelModal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.formField___4QXwW:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__zdtmy:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.textArea:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__a51Rx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.navigationRntFooter:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
@media (max-width: 500px) {
  .navigationRntFooter:global(.__wab_instance) {
    display: flex;
  }
}
.freeBox__aHy6S {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
.clarityRntComponent:global(.__wab_instance) {
  display: none;
}
.faviconRntComponent:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
