.navFoot {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  max-height: 70px;
  position: relative;
  min-height: 70px;
  min-width: 0;
  padding: 0px 8px 2px;
}
@media (max-width: 350px) {
  .navFoot {
    width: 100%;
    max-height: 64px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    padding: 0px 0px 4px;
  }
}
.top {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 36px;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  overflow: visible;
  max-height: 36px;
  min-height: 36px;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px 8px;
}
@media (max-width: 350px) {
  .top {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
  }
}
.cal {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 350px) {
  .cal {
    width: 100%;
    height: auto;
    max-width: 25%;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
    padding: 0px 0px 4px;
  }
}
.top1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.backCal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 40px;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  background: #fcfcfc;
  max-height: 40px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  padding: 0px;
}
@media (max-width: 350px) {
  .backCal {
    min-width: 44px;
    max-width: 44px;
    min-height: 44px;
    max-height: 44px;
    width: 44px;
    height: 44px;
    display: block;
    flex-shrink: 0;
  }
}
.svg___5FnM {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  width: 30px;
  height: 22px;
  flex-shrink: 0;
}
.spacerText7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-height: 10px;
  max-height: 10px;
  min-width: 0;
  padding: 0px 8px;
}
.spacerText8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.normCal {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.svg__aZ9Q4 {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  width: 36px;
  height: 30px;
  flex-shrink: 0;
}
@media (max-width: 350px) {
  .svg__aZ9Q4 {
    width: 34px;
    height: 28px;
    flex-shrink: 0;
  }
}
.res {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 350px) {
  .res {
    width: 100%;
    height: auto;
    max-width: 25%;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
    padding: 0px 0px 4px;
  }
}
.top2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.backRes {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 40px;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  background: #fcfcfc;
  max-height: 40px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  padding: 0px;
}
@media (max-width: 350px) {
  .backRes {
    min-width: 44px;
    max-width: 44px;
    min-height: 44px;
    max-height: 44px;
    width: 44px;
    height: 44px;
    display: block;
    flex-shrink: 0;
  }
}
.img__yCGi {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 100%;
  min-height: 0;
}
.img__yCGi > picture > img {
  object-fit: cover;
}
.spacerText5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-height: 10px;
  max-height: 10px;
  min-width: 0;
  padding: 0px 8px;
}
.spacerText6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.normRes {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img___9QcJa {
  object-fit: cover;
  max-width: 100%;
  width: 36px;
  height: 30px;
  flex-shrink: 0;
}
.img___9QcJa > picture > img {
  object-fit: cover;
}
@media (max-width: 350px) {
  .img___9QcJa {
    width: 34px;
    height: 28px;
    max-width: 100%;
    flex-shrink: 0;
  }
}
.props {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 350px) {
  .props {
    width: 100%;
    height: auto;
    max-width: 25%;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
    padding: 0px 0px 4px;
  }
}
.top3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.backProps {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 40px;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  background: #fcfcfc;
  max-height: 40px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  padding: 0px;
}
@media (max-width: 350px) {
  .backProps {
    min-width: 44px;
    max-width: 44px;
    min-height: 44px;
    max-height: 44px;
    width: 44px;
    height: 44px;
    display: block;
    flex-shrink: 0;
  }
}
.svg__cpVuT {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  width: 30px;
  height: 26px;
  flex-shrink: 0;
}
.spacerText3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-height: 10px;
  max-height: 10px;
  min-width: 0;
  padding: 0px 8px;
}
.spacerText4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.normProps {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.svg___3Yheu {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  width: 36px;
  height: 30px;
  flex-shrink: 0;
}
.sett {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 350px) {
  .sett {
    width: 100%;
    height: auto;
    max-width: 25%;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
    padding: 0px 0px 4px;
  }
}
.backSett {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 40px;
  min-width: 40px;
  min-height: 40px;
  background: #fcfcfc;
  max-height: 40px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  padding: 0px;
}
.backSett > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.backSett > :global(.__wab_flex-container) > *,
.backSett > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.backSett > :global(.__wab_flex-container) > picture > img,
.backSett
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (max-width: 350px) {
  .backSett {
    min-width: 44px;
    max-width: 44px;
    min-height: 44px;
    max-height: 44px;
    width: 44px;
    height: 44px;
    display: block;
    flex-shrink: 0;
  }
}
.svg__lpWk8 {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  width: 30px;
  height: 28px;
  flex-shrink: 0;
}
.spacerText2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-height: 10px;
  max-height: 10px;
  min-width: 0;
  padding: 0px 8px;
}
.spacerText {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.normSett {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.svg__hDEeU {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  width: 36px;
  height: 30px;
  flex-shrink: 0;
}
.bot {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 24px;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-height: 24px;
  max-height: 24px;
  min-width: 0;
  flex-shrink: 0;
  padding: 4px 8px 0px;
}
@media (max-width: 350px) {
  .bot {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
  }
}
.freeBox__bjtom {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 25%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 350px) {
  .freeBox__bjtom {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.freeBox__ubiag {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 350px) {
  .freeBox__ubiag {
    padding-top: 4px;
  }
}
.text__lJohS {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  padding-top: 0px;
  font-weight: 500;
  min-width: 0;
}
.freeBox___6SisB {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 350px) {
  .freeBox___6SisB {
    width: 100%;
    height: auto;
    max-width: 25%;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
    padding: 0px;
  }
}
.freeBox__e0Sqm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 350px) {
  .freeBox__e0Sqm {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 4px 0px 0px;
  }
}
.text___4RjZj {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  padding-top: 0px;
  font-weight: 500;
  min-width: 0;
}
.freeBox___7Zx5B {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 350px) {
  .freeBox___7Zx5B {
    width: 100%;
    height: auto;
    max-width: 25%;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
    padding: 0px;
  }
}
.freeBox__jY1W2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 350px) {
  .freeBox__jY1W2 {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 4px 0px 0px;
  }
}
.text__ybLty {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  padding-top: 0px;
  font-weight: 500;
  min-width: 0;
}
.freeBox__jBF1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 350px) {
  .freeBox__jBF1 {
    width: 100%;
    height: auto;
    max-width: 25%;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
    padding: 0px;
  }
}
.freeBox__n9Wh1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 350px) {
  .freeBox__n9Wh1 {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 4px 0px 0px;
  }
}
.text___7A8Zo {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  padding-top: 0px;
  font-weight: 500;
  min-width: 0;
}
