.navFoot {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  max-height: 72px;
  position: relative;
  min-height: 72px;
  min-width: 0;
  padding: 0px 0px 2px;
}
@media (max-width: 350px) {
  .navFoot {
    width: 100%;
    max-height: 60px;
    min-height: 60px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    padding: 0px;
  }
}
.mainStack {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 72px;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  overflow: visible;
  max-height: 72px;
  min-height: 72px;
  cursor: pointer;
  pointer-events: auto;
  mix-blend-mode: normal;
  isolation: auto;
  filter: none;
  backdrop-filter: none;
  transform: none;
  min-width: 0;
  flex-shrink: 0;
  -webkit-backdrop-filter: none;
  padding: 0px 0px 4px;
}
@media (max-width: 350px) {
  .mainStack {
    height: 60px;
    min-height: 60px;
    max-height: 60px;
    flex-shrink: 0;
    padding: 0px 0px 2px;
  }
}
.menu {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  flex-direction: column;
  min-width: 0;
  border-radius: 15px;
  padding: 0px;
}
@media (max-width: 350px) {
  .menu {
    width: 100%;
    height: auto;
    max-width: 25%;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 0px;
  }
}
.notifStackFixator {
  flex-direction: row;
  position: relative;
  width: 40px;
  height: 10px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  margin-right: 0px;
  background: none;
  flex-shrink: 0;
  display: none;
  border-radius: 30px;
  padding: 7px 0px 0px;
}
@media (max-width: 500px) {
  .notifStackFixator {
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding-top: 10px;
    min-width: 0;
    display: flex;
  }
}
.notifBadge {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10px;
  max-width: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--token-pZV_D4O-0Dnd);
  min-width: 10px;
  min-height: 10px;
  max-height: 10px;
  border-radius: 30px;
}
.stack {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10px;
  max-width: 30%;
  justify-content: flex-start;
  align-items: flex-start;
  background: none;
  min-width: 0;
  border-radius: 30px;
}
.top4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 500px) {
  .top4 {
    display: flex;
  }
}
@media (max-width: 350px) {
  .top4 {
    display: flex;
  }
}
.backMenu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 38px;
  justify-content: center;
  align-items: center;
  min-width: 38px;
  min-height: 38px;
  background: #fcfcfc;
  max-height: 38px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
  row-gap: 20px;
  border-radius: 100px;
  padding: 0px;
}
@media (max-width: 350px) {
  .backMenu {
    min-width: 34px;
    max-width: 34px;
    min-height: 34px;
    max-height: 34px;
    width: 34px;
    height: 34px;
    display: flex;
    flex-direction: column;
    column-gap: 0px;
    flex-shrink: 0;
  }
}
.svg___6PDfU {
  height: 22px;
  width: auto;
  max-width: 28px;
  object-fit: cover;
  color: #0000f7;
  flex-shrink: 0;
}
@media (max-width: 350px) {
  .svg___6PDfU {
    width: auto;
    height: 24px;
    max-width: 30px;
    flex-shrink: 0;
  }
}
.normMenu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 4px 0px 0px;
}
@media (max-width: 500px) {
  .normMenu {
    display: flex;
  }
}
@media (max-width: 350px) {
  .normMenu {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    display: flex;
    padding: 2px 0px;
  }
}
.svg__y8AJf {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  width: 30px;
  height: 24px;
  flex-shrink: 0;
}
@media (max-width: 350px) {
  .svg__y8AJf {
    height: 24px;
    max-width: 30px;
    width: auto;
    color: #acacac;
    flex-shrink: 0;
  }
}
.freeBox__n9Wh1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0px;
  min-width: 0;
  padding: 6px 0px 12px;
}
@media (max-width: 350px) {
  .freeBox__n9Wh1 {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 4px 0px 6px;
  }
}
.text___7A8Zo {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  padding-top: 0px;
  font-weight: 500;
  user-select: none;
  min-width: 0;
}
@media (max-width: 350px) {
  .text___7A8Zo {
    font-size: 13px;
  }
}
.cal {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 0;
  border-radius: 15px;
  padding: 0px;
}
@media (max-width: 350px) {
  .cal {
    width: 100%;
    height: auto;
    max-width: 25%;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 0px;
  }
}
.top1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.backCal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 38px;
  justify-content: center;
  align-items: center;
  min-width: 38px;
  min-height: 38px;
  background: #fcfcfc;
  max-height: 38px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  padding: 0px;
}
@media (max-width: 350px) {
  .backCal {
    min-width: 34px;
    max-width: 34px;
    min-height: 34px;
    max-height: 34px;
    width: 34px;
    height: 34px;
    display: flex;
    flex-direction: column;
    column-gap: 0px;
    flex-shrink: 0;
  }
}
.svg___5FnM {
  object-fit: cover;
  max-width: 100%;
  color: #0000f7;
  width: 30px;
  height: 22px;
  flex-shrink: 0;
}
.normCal {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4px 0px 0px;
}
@media (max-width: 350px) {
  .normCal {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 2px 0px;
  }
}
.svg__aZ9Q4 {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  width: 30px;
  height: 24px;
  flex-shrink: 0;
}
@media (max-width: 350px) {
  .svg__aZ9Q4 {
    width: auto;
    height: 24px;
    max-width: 30px;
    color: #acacac;
    flex-shrink: 0;
  }
}
.freeBox__ubiag {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0px;
  min-width: 0;
  padding: 6px 0px 12px;
}
@media (max-width: 350px) {
  .freeBox__ubiag {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 4px 0px 6px;
  }
}
.text__lJohS {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  padding-top: 0px;
  font-weight: 500;
  user-select: none;
  min-width: 0;
}
@media (max-width: 350px) {
  .text__lJohS {
    font-size: 13px;
    padding-bottom: 0px;
  }
}
.res {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 0;
  border-radius: 15px;
  padding: 0px;
}
@media (max-width: 350px) {
  .res {
    width: 100%;
    height: auto;
    max-width: 25%;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 0px;
  }
}
.notifStackFixator3 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 40px;
  height: 10px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  margin-right: 0px;
  background: none;
  flex-shrink: 0;
  border-radius: 30px;
  padding: 7px 0px 0px;
}
@media (max-width: 500px) {
  .notifStackFixator3 {
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding-top: 10px;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .notifStackFixator3 {
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
  }
}
.text__to7Y {
  position: relative;
  width: 15px;
  height: 15px;
  max-width: 100%;
  color: var(--token-8R7jjC_-F9FF);
  background: var(--token-pZV_D4O-0Dnd);
  text-align: center;
  flex-shrink: 0;
  border-radius: 30px;
}
.stack3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10px;
  max-width: 30%;
  justify-content: flex-start;
  align-items: flex-start;
  background: none;
  min-width: 0;
  border-radius: 30px;
}
.top2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.backRes {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 38px;
  justify-content: center;
  align-items: center;
  min-width: 38px;
  min-height: 38px;
  background: #fcfcfc;
  max-height: 38px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  padding: 0px;
}
@media (max-width: 350px) {
  .backRes {
    min-width: 34px;
    max-width: 34px;
    min-height: 34px;
    max-height: 34px;
    width: 34px;
    height: 34px;
    display: flex;
    flex-direction: column;
    column-gap: 0px;
    flex-shrink: 0;
  }
}
.img___2MPaI {
  object-fit: cover;
  max-width: 28px;
  width: auto;
  height: 22px;
  flex-shrink: 0;
}
.img___2MPaI > picture > img {
  object-fit: cover;
}
.normRes {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4px 0px 0px;
}
@media (max-width: 350px) {
  .normRes {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 2px 0px;
  }
}
.img__jYzcK {
  object-fit: cover;
  max-width: 30px;
  width: auto;
  height: 24px;
  flex-shrink: 0;
}
.img__jYzcK > picture > img {
  object-fit: cover;
}
.freeBox__e0Sqm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0px;
  min-width: 0;
  padding: 6px 0px 12px;
}
@media (max-width: 350px) {
  .freeBox__e0Sqm {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 4px 0px 6px;
  }
}
.text___4RjZj {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  padding-top: 0px;
  font-weight: 500;
  user-select: none;
  min-width: 0;
}
@media (max-width: 350px) {
  .text___4RjZj {
    font-size: 13px;
  }
}
.props {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 0;
  border-radius: 15px;
  padding: 0px;
}
@media (max-width: 350px) {
  .props {
    width: 100%;
    height: auto;
    max-width: 25%;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 0px;
  }
}
.top3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.backProps {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 38px;
  justify-content: center;
  align-items: center;
  min-width: 38px;
  min-height: 38px;
  background: #fcfcfc;
  max-height: 38px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  padding: 0px;
}
@media (max-width: 350px) {
  .backProps {
    min-width: 34px;
    max-width: 34px;
    min-height: 34px;
    max-height: 34px;
    width: 34px;
    height: 34px;
    display: flex;
    flex-direction: column;
    column-gap: 0px;
    flex-shrink: 0;
  }
}
.svg__cpVuT {
  object-fit: cover;
  max-width: 30px;
  color: #0000f7;
  width: auto;
  height: 24px;
  flex-shrink: 0;
}
.normProps {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4px 0px 0px;
}
@media (max-width: 350px) {
  .normProps {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 2px 0px;
  }
}
.svg___3Yheu {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  width: 32px;
  height: 26px;
  flex-shrink: 0;
}
@media (max-width: 350px) {
  .svg___3Yheu {
    width: auto;
    height: 24px;
    max-width: 30px;
    color: #acacac;
    flex-shrink: 0;
  }
}
.freeBox__jY1W2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0px;
  min-width: 0;
  padding: 6px 0px 12px;
}
@media (max-width: 350px) {
  .freeBox__jY1W2 {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 4px 0px 6px;
  }
}
.text__ybLty {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  user-select: none;
  min-width: 0;
}
@media (max-width: 350px) {
  .text__ybLty {
    font-size: 13px;
  }
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.checkUserPendingReserve:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
