.wallet {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(
    45deg,
    #ebfaff 0%,
    #fcfcfc 28%,
    #ebfaff 46%,
    #fcfcfc 82%,
    #ebfaff 90%
  );
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.wallet > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .wallet > * {
    grid-column: 4;
  }
}
@media (max-width: 500px) {
  .wallet {
    background: linear-gradient(
      45deg,
      #ebfaff 0%,
      #fcfcfc 28%,
      #ebfaff 46%,
      #fcfcfc 82%,
      #ebfaff 90%
    );
  }
}
@media (max-width: 500px) {
  .wallet > * {
    grid-column: 4;
  }
}
@media (max-width: 350px) {
  .wallet > * {
    grid-column: 4;
  }
}
.header {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 2em 16px 0em;
}
.sideBar2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  left: auto;
  top: -12px;
  z-index: 1;
  position: fixed;
  bottom: auto;
  right: -7px;
}
@media (max-width: 1200px) {
  .sideBar2:global(.__wab_instance):global(.__wab_instance) {
    width: 70px;
    height: auto;
    z-index: 100;
    flex-shrink: 0;
  }
}
@media (max-width: 500px) {
  .sideBar2:global(.__wab_instance):global(.__wab_instance) {
    z-index: 1000000;
    height: auto;
  }
}
@media (max-width: 350px) {
  .sideBar2:global(.__wab_instance):global(.__wab_instance) {
    width: 80px;
    flex-shrink: 0;
  }
}
.freeBox__vz8Jg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__vz8Jg {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.text__n7WGr {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}
@media (max-width: 1200px) {
  .text__n7WGr {
    width: 90%;
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .text__n7WGr {
    width: 80%;
    font-size: 19px;
  }
}
@media (max-width: 350px) {
  .text__n7WGr {
    font-size: 17px;
  }
}
.profile2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.favIcon:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 2px;
}
.walletDesc {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 90%;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
@media (max-width: 500px) {
  .walletDesc {
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.text__dfpnz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  font-size: 18px;
  line-height: 1.8;
  text-align: center;
  font-family: "Estedad";
  font-weight: 400;
  font-style: normal;
  color: #203647;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 350px) {
  .text__dfpnz {
    font-size: 15px;
  }
}
.balanceAndCharge {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 21px 8px 36px;
}
@media (max-width: 1200px) {
  .balanceAndCharge {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 90%;
  }
}
@media (max-width: 500px) {
  .balanceAndCharge {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 350px) {
  .balanceAndCharge {
    padding-bottom: 30px;
  }
}
.balance {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.freeBox__lvxu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.balance2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 350px) {
  .balance2 {
    font-size: 19px;
  }
}
.report {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .report {
    padding-top: 16px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .report {
    max-width: 80%;
  }
}
.text__hiIkz {
  position: relative;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  color: #8165d6;
  pointer-events: none;
  border-radius: 30px;
  padding: 12px 70px;
  margin: 0px;
  border: 2px solid #8165d6;
}
@media (max-width: 1200px) {
  .text__hiIkz {
    width: 271px;
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media (max-width: 500px) {
  .text__hiIkz {
    width: 306px;
    padding: 12px 0px;
  }
}
@media (max-width: 350px) {
  .text__hiIkz {
    width: 100%;
    min-width: 0;
  }
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #444444;
  font-size: 20px;
  line-height: 2;
  width: 402px;
  text-align: center;
  font-weight: 600;
}
.modal__modal :global(.ant-modal-content) {
  background: linear-gradient(
      38deg,
      #fcfcfc 0%,
      #ececec 19%,
      #fcfcfc 61%,
      #ececec 83%,
      #fcfcfc 100%
    )
    0% 0% / 100% 100% repeat;
  outline: none;
}
@media (max-width: 1200px) {
  .modal__modal :global(.ant-modal-content) {
    background: linear-gradient(#fcfcfc, #fcfcfc),
      linear-gradient(0deg, #ce9fff 0%, #56b9ff 100%) 0% 0% / 100% 100% repeat;
    outline: none;
  }
}
@media (max-width: 500px) {
  .modal:global(.__wab_instance) {
    background: none;
  }
}
@media (max-width: 500px) {
  .modal__modal :global(.ant-modal-content) {
    background: linear-gradient(
        48deg,
        #fcfcfc 0%,
        #ececec 15%,
        #ffffff 59%,
        #ececec 94%
      )
      0% 0% / 100% 100% repeat;
    outline: none;
  }
}
.freeBox__ryKkA {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__pu3RU {
  font-weight: 600;
  font-size: 22px;
  color: #444444;
  padding-top: 20px;
  background: none;
}
@media (max-width: 1200px) {
  .text__pu3RU {
    background: none;
  }
}
@media (max-width: 500px) {
  .text__pu3RU {
    font-size: 20px;
    background: none;
  }
}
@media (max-width: 350px) {
  .text__pu3RU {
    font-size: 17px;
  }
}
.freeBox__buUMp {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 30px 8px 8px;
}
@media (max-width: 1200px) {
  .freeBox__buUMp {
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .freeBox__buUMp {
    justify-content: space-between;
  }
}
@media (max-width: 350px) {
  .freeBox__buUMp {
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
    justify-content: space-between;
    min-width: 0;
  }
}
.text__aFwh {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 18px;
  padding-top: 0px;
  font-weight: 500;
  color: #444444;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__aFwh {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .text__aFwh {
    font-size: 17px;
    text-align: center;
  }
}
@media (max-width: 350px) {
  .text__aFwh {
    text-align: center;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 16px;
    min-width: 0;
  }
}
.text__tdx4A {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #444444;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__tdx4A {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .text__tdx4A {
    font-size: 17px;
    text-align: center;
  }
}
@media (max-width: 350px) {
  .text__tdx4A {
    font-size: 16px;
  }
}
.freeBox__ktBJb {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 24px 8px 8px;
}
@media (max-width: 350px) {
  .freeBox__ktBJb {
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
    min-width: 0;
  }
}
.text__dFi4N {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 15px;
  padding-top: 0px;
  font-weight: 500;
  color: #444444;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__dFi4N {
    font-size: 15px;
    padding-top: 0px;
  }
}
@media (max-width: 500px) {
  .text__dFi4N {
    font-size: 14px;
  }
}
@media (max-width: 350px) {
  .text__dFi4N {
    text-align: center;
    width: auto;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 13px;
  }
}
.freeBox__mmdog {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 24px;
  padding-top: 14px;
  min-width: 0;
}
@media (max-width: 1200px) {
  .freeBox__mmdog {
    margin-top: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__mmdog {
    align-items: center;
    justify-content: center;
  }
}
.button__yXzkG:global(.__wab_instance) {
  max-width: 100%;
  width: 70%;
}
@media (max-width: 350px) {
  .button__yXzkG:global(.__wab_instance) {
    width: 100%;
  }
}
.svg___00Hae {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__xtbcc {
  font-size: 20px;
  font-weight: 600;
}
@media (max-width: 350px) {
  .text__xtbcc {
    font-size: 18px;
    text-align: center;
  }
}
.svg__f8GGx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__fx5B {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0em;
  background: linear-gradient(
        58deg,
        #fcfcfc 0%,
        #ececec80 24%,
        #fcfcfc 54%,
        #ececec80 79%,
        #ffffff 98%
      )
      0% 0% / 100% 100% repeat,
    #fcfcfc;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 0px;
  min-height: 0;
  border-radius: 50px;
  padding: 40px 8px 0px;
}
@media (max-width: 1200px) {
  .freeBox__fx5B {
    width: 80%;
    background: linear-gradient(
        58deg,
        #fcfcfc 0%,
        #ecececb3 24%,
        #fcfcfc 54%,
        #ecececb3 79%,
        #ffffff 98%
      )
      0% 0% / 100% 100% repeat;
  }
}
@media (max-width: 500px) {
  .freeBox__fx5B {
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    width: 100%;
    background: linear-gradient(
        51deg,
        #ffffff 0%,
        #ececec75 25%,
        #fcfcfc 50%,
        #ececec75 72%,
        #ffffff 97%
      )
      0% 0% / 100% 100% repeat;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    border-radius: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__fx5B {
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0em;
    height: auto;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    padding: 20px 4px 30px;
  }
}
.title {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .title {
    padding-right: 22px;
    padding-left: 22px;
  }
}
.text__zx3Qm {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #444444;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__zx3Qm {
    font-size: 17px;
    line-height: 2;
  }
}
@media (max-width: 350px) {
  .text__zx3Qm {
    font-size: 16px;
  }
}
.charge {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .charge {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.input {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 70%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
  border: 2px solid #cfcfcf;
}
@media (max-width: 1200px) {
  .input {
    max-width: 80%;
  }
}
@media (max-width: 500px) {
  .input {
    padding-right: 22px;
    padding-left: 22px;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border-color: #cfcfcf;
  }
}
@media (max-width: 350px) {
  .input {
    padding-right: 0px;
    padding-left: 0px;
    border-color: #cfcfcf;
  }
}
.right {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 16%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .right {
    padding-right: 22px;
    padding-left: 22px;
  }
}
@media (max-width: 350px) {
  .right {
    padding-right: 0px;
    padding-left: 0px;
    max-width: 23%;
  }
}
.text__iBnd9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 350px) {
  .text__iBnd9 {
    font-size: 15px;
  }
}
.center {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .center {
    padding-right: 12px;
    padding-left: 12px;
  }
}
@media (max-width: 350px) {
  .center {
    max-width: 54%;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.input3:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  font-size: 20px;
  text-align: center;
  line-height: 1.8;
  letter-spacing: 0px;
  font-weight: 400;
  font-family: "Estedad";
  min-width: 0;
}
@media (max-width: 350px) {
  .input3:global(.__wab_instance) {
    font-size: 16px;
    margin-right: 0px;
    font-family: "Estedad";
  }
}
.left {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 16%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .left {
    padding-right: 22px;
    padding-left: 22px;
  }
}
@media (max-width: 350px) {
  .left {
    padding-right: 0px;
    padding-left: 0px;
    max-width: 23%;
  }
}
.text__z2MAw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 350px) {
  .text__z2MAw {
    font-size: 15px;
  }
}
.packages {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 70%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (max-width: 1200px) {
  .packages {
    max-width: 80%;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .packages {
    padding-right: 0px;
    padding-left: 0px;
    max-width: 100%;
  }
}
@media (max-width: 350px) {
  .packages {
    justify-content: center;
    align-items: center;
  }
}
.p1 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 0;
  padding: 8px 0px;
}
@media (max-width: 500px) {
  .p1 {
    padding-right: 0px;
    padding-left: 0px;
    justify-content: center;
    align-items: center;
  }
}
.text__m3UhN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-left: 10px;
  margin-right: 0px;
  background: #ffffff;
  color: #444444;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 30px;
  border: 2px solid #cfcfcf;
}
@media (max-width: 500px) {
  .text__m3UhN {
    font-size: 16px;
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-right: 0px;
    margin-left: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 500;
    text-align: center;
    background: #ffffff;
    color: #444444;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    min-width: 0;
    border-radius: 30px;
    border: 2px solid #cfcfcf;
  }
}
@media (max-width: 350px) {
  .text__m3UhN {
    font-size: 15px;
    margin-left: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  }
}
.text__mLjd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  padding-bottom: 12px;
  margin-right: 0px;
  margin-left: 10px;
  padding-top: 12px;
  background: #ffffff;
  color: #444444;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 30px;
  border: 2px solid #cfcfcf;
}
@media (max-width: 500px) {
  .text__mLjd {
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-right: 0px;
    margin-left: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    background: #ffffff;
    color: #444444;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    min-width: 0;
    border-radius: 30px;
    border: 2px solid #cfcfcf;
  }
}
@media (max-width: 350px) {
  .text__mLjd {
    font-size: 15px;
    margin-left: 4px;
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
    text-align: center;
    background: #ffffff;
    color: #444444;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    min-width: 0;
    border-radius: 30px;
    border: 2px solid #cfcfcf;
  }
}
.text__yqQfD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-right: 0px;
  margin-left: 0px;
  background: #ffffff;
  color: #444444;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 30px;
  border: 2px solid #cfcfcf;
}
@media (max-width: 500px) {
  .text__yqQfD {
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding-bottom: 12px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    background: #ffffff;
    color: #444444;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    min-width: 0;
    border-radius: 30px;
    border: 2px solid #cfcfcf;
  }
}
@media (max-width: 350px) {
  .text__yqQfD {
    font-size: 15px;
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
    text-align: center;
    background: #ffffff;
    color: #444444;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    min-width: 0;
    border-radius: 30px;
    border: 2px solid #cfcfcf;
  }
}
.intext {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 70%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .intext {
    max-width: 80%;
  }
}
@media (max-width: 500px) {
  .intext {
    padding-right: 0px;
    padding-left: 0px;
    max-width: 100%;
  }
}
@media (max-width: 350px) {
  .intext {
    padding-right: 8px;
  }
}
.right2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 25%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .right2 {
    max-width: 25%;
  }
}
@media (max-width: 500px) {
  .right2 {
    padding-right: 0px;
    padding-left: 0px;
    max-width: 22%;
  }
}
.text__kqo4A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__kqo4A {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__kqo4A {
    font-size: 15px;
  }
}
.left2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .left2 {
    padding-right: 10px;
    padding-left: 6px;
  }
}
.text__rTdNh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 17px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__rTdNh {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__rTdNh {
    font-size: 15px;
  }
}
.paymentbutton {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button {
  display: flex;
  flex-direction: row;
  width: 340px;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 0px;
  margin-left: 0px;
  background: linear-gradient(82deg, #8165d6 0%, #9c80f2 100%);
  border-radius: 30px;
  padding: 14px 0px;
}
@media (max-width: 500px) {
  .button {
    padding-right: 22px;
    padding-left: 22px;
    width: 350px;
  }
}
.img {
  object-fit: cover;
  max-width: 100%;
  height: 34px;
  margin-left: 16px;
}
.img > picture > img {
  object-fit: cover;
}
.text__tdffw {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 0px;
  background: none;
  color: #fcfcfc;
}
.freeBox__uAXxy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__uAXxy {
    padding-right: 22px;
    padding-left: 22px;
  }
}
.text__tAt2Q {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  padding-top: 22px;
  margin-top: 0px;
  color: #444444;
  padding-bottom: 0px;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__tAt2Q {
    font-size: 16px;
    margin-top: 0px;
  }
}
@media (max-width: 500px) {
  .text__tAt2Q {
    font-size: 15px;
    line-height: 2;
  }
}
@media (max-width: 350px) {
  .text__tAt2Q {
    padding-top: 26px;
    font-size: 14px;
  }
}
.text__nR86T {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  padding-top: 12px;
  margin-top: 1px;
  color: #444444;
  padding-bottom: 32px;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__nR86T {
    font-size: 16px;
    padding-top: 0px;
  }
}
@media (max-width: 500px) {
  .text__nR86T {
    font-size: 14px;
    padding-top: 8px;
    margin-top: 0px;
  }
}
@media (max-width: 350px) {
  .text__nR86T {
    padding-top: 0px;
    padding-bottom: 14px;
    font-size: 13px;
  }
}
.pricing {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 90%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 40px 8px 8px;
}
@media (max-width: 500px) {
  .pricing {
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .pricing {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.text__cvTC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  font-size: 17px;
  line-height: 1.8;
  text-align: center;
  font-family: "Estedad";
  font-weight: 500;
  font-style: normal;
  color: var(--token-uKpIaVO1zd7X);
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  cursor: pointer;
  padding-bottom: 0px;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__cvTC {
    padding-top: 0px;
  }
}
@media (max-width: 350px) {
  .text__cvTC {
    font-size: 15px;
  }
}
.qA {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 4em;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 19px 8px 0px;
}
@media (max-width: 1200px) {
  .qA {
    padding-top: 0px;
  }
}
@media (max-width: 500px) {
  .qA {
    background: linear-gradient(0deg, #fcfcfc 0%, #ebfaff 100%) 0% 0% / 100%
      100% repeat;
  }
}
@media (max-width: 350px) {
  .qA {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
  }
}
.freeBox__eZrXa {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__eZrXa {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__eZrXa {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.text__jChhM {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 19px;
  font-weight: 600;
  text-align: right;
  padding-right: 5px;
  padding-top: 5px;
  color: #444444;
  min-width: 0;
}
@media (max-width: 350px) {
  .text__jChhM {
    padding-right: 13px;
    font-size: 17px;
  }
}
.freeBox___01HVf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox___01HVf {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox___01HVf {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.accordionMain:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  color: #444444;
  min-width: 0;
}
._2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 16px;
  font-weight: 500;
}
._1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 500px) {
  ._1 {
    font-size: 16px;
  }
}
.text__owfpa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  min-width: 0;
}
._4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 16px;
  font-weight: 500;
}
.text__gljJt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__gljJt {
    font-size: 16px;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-weight: 500;
    min-width: 0;
  }
}
.text__awyNx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  min-width: 0;
}
._5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 16px;
  font-weight: 500;
}
.text___3AmO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text___3AmO {
    font-size: 16px;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-weight: 500;
    min-width: 0;
  }
}
.text__vHy7V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  min-width: 0;
}
._6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 16px;
  font-weight: 500;
}
.text__hPsL9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__hPsL9 {
    font-size: 16px;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-weight: 500;
    min-width: 0;
  }
}
.text__kcWmW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  min-width: 0;
}
.accordionItem__zo7V:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 16px;
  font-weight: 500;
}
.text__aBwTb {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__aBwTb {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 16px;
    font-weight: 500;
    min-width: 0;
  }
}
.text__zgieD {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  min-width: 0;
}
.accordionItem__adTgR:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 15px;
}
.text___6G02U {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 500px) {
  .text___6G02U {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 16px;
    font-weight: 500;
    min-width: 0;
  }
}
.text___09Ui9 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  min-width: 0;
}
.accordionItem__sEpel:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 15px;
}
.text__bL9Ja {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__bL9Ja {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 16px;
    font-weight: 500;
    min-width: 0;
  }
}
.text__fGCQ {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  min-width: 0;
}
.ctaReferral {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 20px;
}
@media (max-width: 1200px) {
  .ctaReferral {
    padding-top: 32px;
  }
}
@media (max-width: 500px) {
  .ctaReferral {
    padding-top: 10px;
  }
}
@media (max-width: 350px) {
  .ctaReferral {
    width: 100%;
    padding-top: 10px;
    min-width: 0;
  }
}
.text___45D1H {
  position: relative;
  width: 267px;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  color: #8165d6;
  border-radius: 30px;
  padding: 8px 40px;
  margin: 20px 0px 0px;
  border: 2px solid #8165d6;
}
@media (max-width: 1200px) {
  .text___45D1H {
    width: 271px;
  }
}
@media (max-width: 500px) {
  .text___45D1H {
    width: 306px;
  }
}
@media (max-width: 350px) {
  .text___45D1H {
    width: 273px;
  }
}
.html {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  min-width: 0;
  padding: 8px;
}
.clarity2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.goftino:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.rentamonFooter:global(.__wab_instance) {
  max-width: 100%;
}
.profile:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___8Olf5 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Estedad";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  color: #203647;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
  display: none;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
