.paymentSuccess {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #ebfaff;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.paymentSuccess > * {
  grid-column: 4;
}
@media (max-width: 500px) {
  .paymentSuccess {
    background: #ebfaff;
  }
}
@media (max-width: 500px) {
  .paymentSuccess > * {
    grid-column: 4;
  }
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___0AyQx {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 101px;
}
.freeBox__hkyq9 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 20px 0px 8px;
}
.successful {
  object-fit: cover;
  max-width: 100%;
  width: 240px;
  flex-shrink: 0;
  border-radius: 30px;
  margin: 90px 120px 0px;
}
.successful > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .successful {
    width: 180px;
    margin-top: 62px;
    flex-shrink: 0;
  }
}
.text__sWhN5 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  margin-top: 45px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__sWhN5 {
    max-width: 113.24%;
    font-size: 18px;
    padding-right: 0px;
    font-family: "Estedad";
    width: 100%;
    margin-top: 34px;
    min-width: 0;
  }
}
.freeBox__qv6Bb {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 80%;
  margin-top: 30px;
  min-width: 0;
  border-radius: 30px;
  padding: 0px 8px 8px;
  border: 1px solid #acacac;
}
@media (max-width: 500px) {
  .freeBox__qv6Bb {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox___0IaJ7 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 70%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 20px 8px 8px;
  border-bottom: 1px dashed #acacac;
}
.freeBox__brmxc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__cI0YB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  min-width: 0;
}
.freeBox__dUcoS {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___0S5Du {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: 17px;
  min-width: 0;
}
.freeBox__su0Hi {
  width: 314px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-top: 98px;
  height: 56px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 30px;
  padding: 0px;
  border: 3px solid var(--token-8nedppYkGVaH);
}
@media (max-width: 500px) {
  .freeBox__su0Hi {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 62px;
    width: 271px;
    justify-content: center;
    align-items: center;
    border-width: 3px;
  }
}
.text__hG9Gz {
  font-weight: 600;
  color: var(--token-jgohepLVeKvh);
  text-align: center;
  font-size: 15px;
}
@media (max-width: 500px) {
  .text__hG9Gz {
    font-size: 15px;
  }
}
.freeBox__zoeQd {
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 50%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__zoeQd {
    display: none;
  }
}
.freeBox__sJiz8 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__sJiz8 {
    max-width: 50%;
    display: none;
  }
}
