.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (max-width: 350px) {
  .root {
    display: flex;
  }
}
.freeBox {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 98%;
  justify-content: space-between;
  align-items: center;
  background: #ff4e4e;
  box-shadow: 2px 5px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 10px;
  padding: 0px 8px;
}
@media (max-width: 1200px) {
  .freeBox {
    min-width: 90%;
  }
}
@media (max-width: 500px) {
  .freeBox {
    max-width: 100%;
    min-width: 100%;
    padding-right: 6px;
    padding-left: 6px;
  }
}
@media (max-width: 350px) {
  .freeBox {
    max-width: 100%;
    width: auto;
    padding: 0px;
  }
}
.alertIcon {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 20%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 8px 0px;
}
@media (max-width: 1200px) {
  .alertIcon {
    width: 14%;
  }
}
@media (max-width: 500px) {
  .alertIcon {
    padding-right: 8px;
    padding-left: 8px;
    width: auto;
  }
}
@media (max-width: 350px) {
  .alertIcon {
    width: auto;
    padding-right: 4px;
  }
}
.img__vVbZm {
  object-fit: cover;
  max-width: 100%;
  height: 43px;
  margin-top: 0px;
  align-self: center;
  flex-shrink: 0;
}
.img__vVbZm > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__vVbZm {
    height: 28px;
    width: 28px;
    flex-shrink: 0;
  }
}
@media (max-width: 350px) {
  .img__vVbZm {
    height: 26px;
    flex-shrink: 0;
    margin: 2px;
  }
}
.alertText {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 60%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  padding: 8px;
}
@media (max-width: 500px) {
  .alertText {
    padding-right: 8px;
    padding-left: 4px;
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .alertText {
    width: auto;
    padding-right: 6px;
  }
}
.text__c238 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #fcfcfc;
  font-size: 16px;
  padding-bottom: 0px;
  user-select: none;
  font-weight: 500;
}
@media (max-width: 500px) {
  .text__c238 {
    font-size: 14px;
  }
}
@media (max-width: 350px) {
  .text__c238 {
    text-align: right;
    font-size: 13px;
  }
}
.alertButton {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 30%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
  padding: 8px;
}
@media (max-width: 1200px) {
  .alertButton {
    align-items: flex-start;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .alertButton {
    padding-left: 20px;
    padding-right: 2px;
    width: 26%;
    align-items: flex-start;
    justify-content: center;
    padding-top: 8px;
  }
}
@media (max-width: 350px) {
  .alertButton {
    padding-left: 20px;
    width: 27%;
  }
}
.button {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 140px;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 8px;
  border: 3px solid #fcfcfc;
}
@media (max-width: 500px) {
  .button {
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: pointer;
  }
}
.text__rKwK3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #fcfcfc;
  font-size: 16px;
  text-align: center;
  user-select: none;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__rKwK3 {
    font-size: 14px;
  }
}
@media (max-width: 350px) {
  .text__rKwK3 {
    font-size: 12px;
  }
}
.closeButton {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 90%;
  justify-content: flex-start;
  align-items: center;
  left: 0;
  top: 0;
  cursor: pointer;
  right: auto;
  padding: 8px;
}
@media (max-width: 500px) {
  .closeButton {
    top: -4px;
    left: -3px;
  }
}
.img___3XJ7 {
  object-fit: cover;
  max-width: 100%;
  height: 16px;
  flex-shrink: 0;
  display: none;
}
.img___3XJ7 > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img___3XJ7 {
    height: 14px;
    flex-shrink: 0;
  }
}
@media (max-width: 350px) {
  .img___3XJ7 {
    height: 14px;
    flex-shrink: 0;
  }
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
