.root:global(.__wab_instance) {
  position: relative;
  color: var(--token-Y7ZM7gj_nMYR);
  font-family: var(--token-qkywJ1sQQ-h_);
  font-size: var(--token-wq-7W0QuaGtb);
  line-height: var(--token-otgoHRDIcFGD);
}
.freeBox {
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: var(--token-fuThMYwlrO8g);
}
.slotTargetChildrensize_sm {
  font-size: var(--token-li6MjHbGxIuq);
  line-height: var(--token--3MNZOW1SaFY);
}
.slotTargetChildrensize_lg {
  font-size: var(--token-Ij6Cd7VyikU3);
  line-height: var(--token-_WEx3T6e0nnn);
}
.text {
  position: relative;
  display: none;
}
.textrequirementIndicator_optional {
  color: var(--token-LqsBa3w8Ucwa);
  display: block;
}
.textrequirementIndicator_required {
  color: var(--token-pZV_D4O-0Dnd);
  display: block;
}
