.yalda {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: url("/plasmic/website_starter/images/image20241218105944Png2.png") top 50% left 82% / contain repeat;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.yalda > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .yalda > * {
    grid-column: 4;
  }
}
@media (max-width: 500px) {
  .yalda > * {
    grid-column: 4;
  }
}
@media (max-width: 380px) {
  .yalda > * {
    grid-column: 4;
  }
}
.freeBox__jzgX9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
@media (max-width: 1200px) {
  .freeBox__jzgX9 {
    justify-self: stretch;
    padding-right: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 0px;
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.text__et14 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 60px;
  position: relative;
  align-self: center;
  left: auto;
  top: auto;
  z-index: 500;
  background: url("/plasmic/website_starter/images/group42Png.png") top 50% left 50% / cover repeat;
  color: #444444;
  text-align: center;
  padding-bottom: 76px;
  padding-top: 103px;
  font-weight: 600;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-top: 0px;
}
@media (max-width: 1200px) {
  .text__et14 {
    font-size: 36px;
    padding-top: 127px;
    padding-bottom: 154px;
    position: relative;
    left: auto;
    top: auto;
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 500px) {
  .text__et14 {
    padding-bottom: 51px;
    padding-top: 57px;
  }
}
@media (max-width: 380px) {
  .text__et14 {
    font-size: 24px;
    padding-top: 27px;
    padding-bottom: 71px;
    margin-bottom: 0px;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-weight: 600;
    color: #444444;
    text-align: center;
    background: url("/plasmic/website_starter/images/group41Png.png") top 50% left 50% / cover repeat;
    min-width: 0;
  }
}
.embedHtml___2HyAg:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: none;
}
.text__lpo8D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 26px;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__lpo8D {
    max-width: 76.05%;
    width: 100%;
    padding-bottom: 30px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 500px) {
  .text__lpo8D {
    max-width: 84.42%;
    font-size: 18px;
    padding-right: 0px;
    font-family: "Estedad";
    width: 100%;
    line-height: 1.8;
    min-width: 0;
  }
}
@media (max-width: 380px) {
  .text__lpo8D {
    max-width: 88.13%;
    width: 100%;
    height: 89px;
    padding-bottom: 16px;
    line-height: 2;
    font-size: 17px;
    min-width: 0;
  }
}
.freeBox__jmM3K {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 380px) {
  .freeBox__jmM3K {
    padding-top: 12px;
  }
}
.img__nkgvk {
  object-fit: cover;
  max-width: 100%;
  height: 12px;
  margin-left: 6px;
}
.img__nkgvk > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__nkgvk {
    display: block !important;
  }
}
.img__rbfT0 {
  object-fit: cover;
  max-width: 100%;
  height: 12px;
  margin-left: 6px;
}
.img__rbfT0 > picture > img {
  object-fit: cover;
}
.img__lKbt2 {
  object-fit: cover;
  max-width: 100%;
  height: 12px;
  margin-left: 6px;
}
.img__lKbt2 > picture > img {
  object-fit: cover;
}
@media (max-width: 380px) {
  .img__lKbt2 {
    display: none !important;
  }
}
.img__jCjcs {
  object-fit: cover;
  max-width: 100%;
  height: 12px;
  margin-left: 6px;
}
.img__jCjcs > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__jCjcs {
    display: none !important;
  }
}
@media (max-width: 380px) {
  .img__jCjcs {
    display: none !important;
  }
}
.img__qVlXl {
  object-fit: cover;
  max-width: 100%;
  height: 12px;
  margin-left: 6px;
}
.img__qVlXl > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__qVlXl {
    display: none !important;
  }
}
.img__pgXp8 {
  object-fit: cover;
  max-width: 100%;
  height: 12px;
  margin-left: 6px;
}
.img__pgXp8 > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__pgXp8 {
    display: none !important;
  }
}
.img___8Y03M {
  object-fit: cover;
  max-width: 100%;
  height: 12px;
  margin-left: 6px;
}
.img___8Y03M > picture > img {
  object-fit: cover;
}
.img__z5Kq {
  object-fit: cover;
  max-width: 100%;
  height: 12px;
  margin-left: 6px;
}
.img__z5Kq > picture > img {
  object-fit: cover;
}
@media (max-width: 380px) {
  .img__z5Kq {
    display: none !important;
  }
}
.img__hBCn {
  object-fit: cover;
  max-width: 100%;
  height: 12px;
  margin-left: 6px;
}
.img__hBCn > picture > img {
  object-fit: cover;
}
.img__us1Lv {
  object-fit: cover;
  max-width: 100%;
  height: 12px;
  margin-left: 6px;
}
.img__us1Lv > picture > img {
  object-fit: cover;
}
.img___6F9Uc {
  object-fit: cover;
  max-width: 100%;
  height: 12px;
  margin-left: 6px;
}
.img___6F9Uc > picture > img {
  object-fit: cover;
}
.img__tja38 {
  object-fit: cover;
  max-width: 100%;
  height: 12px;
  margin-left: 6px;
}
.img__tja38 > picture > img {
  object-fit: cover;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__vlXvJ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__b6RRy {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__b6RRy {
    font-size: 24px;
  }
}
.img__pg8Dn {
  object-fit: cover;
  max-width: 50%;
  height: 200px;
  max-height: 200px;
  flex-shrink: 0;
}
.img__pg8Dn > picture > img {
  object-fit: cover;
}
.text__rjCyl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__t8Bp8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 0px;
  background: #ffffff;
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
  border-width: 4px;
}
@media (max-width: 1200px) {
  .freeBox__t8Bp8 {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 500px) {
  .freeBox__t8Bp8 {
    border-width: 3px;
  }
}
@media (max-width: 380px) {
  .freeBox__t8Bp8 {
    margin-top: 12px;
  }
}
.freeBox___5Eo9V {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox___5Eo9V {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}
.freeBox__p2Vgj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 20%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__p2Vgj {
    padding-right: 0px;
  }
}
.img__ytbos {
  object-fit: cover;
  max-width: 100%;
  height: 91px;
  flex-shrink: 0;
  border-radius: 0px;
  border-width: 0px;
  border-style: solid;
}
.img__ytbos > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__ytbos {
    border-radius: 0px;
    border-width: 0px;
  }
}
@media (max-width: 500px) {
  .img__ytbos {
    width: 114px;
    object-fit: contain;
    display: none !important;
    border-radius: 20px;
  }
}
@media (max-width: 500px) {
  .img__ytbos > picture > img {
    object-fit: contain;
  }
}
.img__hAap1 {
  object-fit: cover;
  max-width: 100%;
  height: 91px;
  flex-shrink: 0;
  border-radius: 0px;
  border-width: 0px;
  border-style: solid;
}
.img__hAap1 > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__hAap1 {
    border-radius: 0px;
    border-width: 0px;
  }
}
@media (max-width: 500px) {
  .img__hAap1 {
    width: 114px;
    object-fit: contain;
    border-radius: 20px;
  }
}
@media (max-width: 500px) {
  .img__hAap1 > picture > img {
    object-fit: contain;
  }
}
.freeBox__nqQ96 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__nqQ96 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.text__hdmux {
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  font-weight: 600;
  font-size: 18px;
  color: var(--token-8nedppYkGVaH);
  min-width: 0;
}
.text__wqpX6 {
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  font-weight: 400;
  margin-top: 0px;
  padding-top: 10px;
  font-size: 15px;
  line-height: 1.8;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__wqpX6 {
    padding-bottom: 0px;
  }
}
@media (max-width: 380px) {
  .text__wqpX6 {
    font-size: 14px;
    padding-left: 3px;
  }
}
.freeBox___4SbGy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 30px;
}
@media (max-width: 500px) {
  .freeBox___4SbGy {
    padding-top: 12px;
  }
}
.button5 {
  position: relative;
  width: 240px;
  height: auto;
  max-width: 100%;
  color: var(--token-8nedppYkGVaH);
  background: none;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0px;
  cursor: pointer;
  user-select: none;
  border-radius: 30px;
  padding: 8px 30px;
  border: 3px solid var(--token-8nedppYkGVaH);
}
.freeBox__olNiN {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 53px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__olNiN {
    margin-bottom: 22px;
  }
}
.freeBox__eVub {
  display: flex;
  position: relative;
  height: 100%;
  max-width: 100%;
  background: #fcfcfc;
  margin-bottom: 75px;
  width: 100%;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  border-radius: 30px;
  padding: 8px 0px 35px;
}
@media (max-width: 1200px) {
  .freeBox__eVub {
    height: auto;
    width: 100%;
    justify-self: flex-start;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 500px) {
  .freeBox__eVub {
    padding-right: 10px;
    padding-left: 10px;
    height: 398px;
    margin-bottom: 83px;
  }
}
.text__sHjOf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 0px;
  padding-right: 18px;
  padding-top: 15px;
  text-align: center;
  left: auto;
  top: auto;
  min-width: 0;
}
.accordion:global(.__wab_instance) {
  width: 776px;
  max-width: 100%;
  object-fit: cover;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.7;
  color: #444444;
  margin-top: 20px;
  margin-right: 7px;
  margin-left: 5px;
  position: relative;
  left: auto;
  top: auto;
  border-radius: 30px;
}
@media (max-width: 1200px) {
  .accordion:global(.__wab_instance) {
    padding-bottom: 0px;
    margin-bottom: 20px;
  }
}
@media (max-width: 500px) {
  .accordion:global(.__wab_instance) {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
  }
}
.q1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 15px;
  margin-top: 6px;
}
.text__s3Dcx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__zqYmL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.q2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___90OvE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__dBuKb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.q3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___6HdMs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__byiMj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.q4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__sQvIq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__dii0Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.q5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__kpjjV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__ojyBl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.testimonial:global(.__wab_instance) {
  max-width: 100%;
}
.text__pA2So {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 26px;
  cursor: pointer;
  transition-property: all;
  transition-duration: 1s;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
@media (max-width: 1200px) {
  .text__pA2So {
    max-width: 76.05%;
    width: 100%;
    padding-bottom: 30px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 500px) {
  .text__pA2So {
    max-width: 84.42%;
    font-size: 18px;
    padding-right: 0px;
    font-family: "Estedad";
    width: 100%;
    line-height: 1.8;
    min-width: 0;
  }
}
@media (max-width: 380px) {
  .text__pA2So {
    max-width: 88.13%;
    width: 100%;
    height: 89px;
    padding-bottom: 16px;
    line-height: 2;
    font-size: 17px;
    min-width: 0;
  }
}
.freeBox__yswi5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 53px;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  width: 385px;
  margin-bottom: 29px;
  margin-top: 49px;
}
.svg__yr9O2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__lP5Gb {
  font-size: 20px;
}
.svg__q6ARf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.html {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.embedHtml___6BcBe:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.embedHtml__oBhY2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
