.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #ebfaff;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 500px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 350px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox__mims1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 4em;
  background: none;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .freeBox__mims1 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox__aBc11 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__aBc11 {
    padding-top: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__aBc11 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.services {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 8px 8px;
}
@media (max-width: 500px) {
  .services {
    width: 100%;
  }
}
.text__n46Kb {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  min-width: 0;
}
@media (max-width: 350px) {
  .text__n46Kb {
    font-size: 20px;
  }
}
.freeBox__f7F0T {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 900px;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2em;
  min-width: 0;
  padding: 20px 8px 8px;
}
@media (max-width: 500px) {
  .freeBox__f7F0T {
    padding-top: 10px;
  }
}
.text__xlLsX {
  position: relative;
  width: 50%;
  height: auto;
  max-width: 100%;
  color: #8165d6;
  font-size: 17px;
  font-weight: 600;
}
.text__bWyb4 {
  position: relative;
  width: 25%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: #8165d6;
  text-align: center;
}
.text__yyruu {
  position: relative;
  width: 25%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: #8165d6;
  text-align: center;
}
.freeBox__ms7Uo {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 2px;
  max-width: 900px;
  justify-content: flex-end;
  align-items: center;
  background: var(--token-nCyS8fyroW2i);
  min-width: 0;
  flex-shrink: 0;
}
.freeBox___7Y3Ew {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 900px;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2em;
  min-width: 0;
  padding: 8px;
}
.text__omlmP {
  position: relative;
  width: 50%;
  height: auto;
  max-width: 100%;
  color: #444444;
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 0px;
}
.text__h72Jf {
  position: relative;
  width: 25%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  font-weight: 600;
  color: var(--token-n891C0rZfC8n);
  padding-bottom: 0px;
  text-align: center;
}
.text__wwjN1 {
  position: relative;
  width: 25%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  font-weight: 600;
  color: var(--token-n891C0rZfC8n);
  padding-bottom: 0px;
  text-align: center;
}
.freeBox__wwgr0 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 900px;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2em;
  min-width: 0;
  padding: 8px;
}
.text__polq6 {
  position: relative;
  width: 50%;
  height: auto;
  max-width: 100%;
  color: #444444;
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 0px;
}
.text___67Ppq {
  position: relative;
  width: 25%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  font-weight: 600;
  color: var(--token-n891C0rZfC8n);
  padding-bottom: 0px;
  text-align: center;
}
.text__xsWsf {
  position: relative;
  width: 25%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  font-weight: 600;
  color: var(--token-n891C0rZfC8n);
  padding-bottom: 0px;
  text-align: center;
}
.freeBox___7Tdig {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 900px;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2em;
  min-width: 0;
  padding: 8px;
}
.text__kHrHq {
  position: relative;
  width: 50%;
  height: auto;
  max-width: 100%;
  color: #444444;
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 0px;
}
.text___1Swqw {
  position: relative;
  width: 25%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  font-weight: 600;
  color: var(--token-n891C0rZfC8n);
  padding-bottom: 0px;
  text-align: center;
}
.text___9REjO {
  position: relative;
  width: 25%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  font-weight: 600;
  color: var(--token-n891C0rZfC8n);
  padding-bottom: 0px;
  text-align: center;
}
.freeBox__rka5G {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 900px;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2em;
  min-width: 0;
  padding: 8px;
}
.text__m5Uw0 {
  position: relative;
  width: 50%;
  height: auto;
  max-width: 100%;
  color: #444444;
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.text__kwVi8 {
  position: relative;
  width: 25%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  font-weight: 600;
  color: var(--token-n891C0rZfC8n);
  padding-bottom: 0px;
  text-align: center;
}
.text___1BSk6 {
  position: relative;
  width: 25%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  font-weight: 600;
  color: var(--token-n891C0rZfC8n);
  padding-bottom: 0px;
  text-align: center;
}
.freeBox__hfXhZ {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 900px;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2em;
  min-width: 0;
  padding: 8px;
}
.text__wOity {
  position: relative;
  width: 50%;
  height: auto;
  max-width: 100%;
  color: #444444;
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 0px;
}
@media (max-width: 350px) {
  .text__wOity {
    font-size: 13px;
  }
}
.text__cqpqX {
  position: relative;
  width: 25%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  font-weight: 600;
  color: var(--token-n891C0rZfC8n);
  padding-bottom: 0px;
  text-align: center;
}
.text__iqv {
  position: relative;
  width: 25%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  font-weight: 600;
  color: var(--token-n891C0rZfC8n);
  padding-bottom: 0px;
  text-align: center;
}
.freeBox__kfh9K {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 900px;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2em;
  min-width: 0;
  padding: 8px;
}
.text__dCy6 {
  position: relative;
  width: 50%;
  height: auto;
  max-width: 100%;
  color: #444444;
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 0px;
}
@media (max-width: 350px) {
  .text__dCy6 {
    font-size: 13px;
  }
}
.text__o0Vs2 {
  position: relative;
  width: 25%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  font-weight: 600;
  color: var(--token-n891C0rZfC8n);
  padding-bottom: 0px;
  text-align: center;
}
.text__pdb1G {
  position: relative;
  width: 25%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  font-weight: 600;
  color: var(--token-n891C0rZfC8n);
  padding-bottom: 0px;
  text-align: center;
}
.freeBox__luauY {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 900px;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2em;
  min-width: 0;
  padding: 8px;
}
.text__mqFjN {
  position: relative;
  width: 50%;
  height: auto;
  max-width: 100%;
  color: #444444;
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 0px;
}
@media (max-width: 350px) {
  .text__mqFjN {
    font-size: 13px;
  }
}
.text__u0QxV {
  position: relative;
  width: 25%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  font-weight: 600;
  color: var(--token-n891C0rZfC8n);
  padding-bottom: 0px;
  text-align: center;
}
.text__hslwP {
  position: relative;
  width: 25%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  font-weight: 600;
  color: var(--token-n891C0rZfC8n);
  padding-bottom: 0px;
  text-align: center;
}
.freeBox__zIHc {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 900px;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2em;
  min-width: 0;
  padding: 8px;
}
.text__zb3RC {
  position: relative;
  width: 50%;
  height: auto;
  max-width: 100%;
  color: #444444;
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 0px;
}
@media (max-width: 350px) {
  .text__zb3RC {
    font-size: 13px;
  }
}
.text__ln48 {
  position: relative;
  width: 25%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  font-weight: 600;
  color: var(--token-n891C0rZfC8n);
  padding-bottom: 0px;
  text-align: center;
}
.text__wlTru {
  position: relative;
  width: 25%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  font-weight: 600;
  color: var(--token-n891C0rZfC8n);
  padding-bottom: 0px;
  text-align: center;
}
.freeBox__fiIgx {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 900px;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2em;
  border-top-width: 2px;
  border-top-style: solid;
  padding-top: 14px;
  padding-right: 10px;
  min-width: 0;
}
@media (max-width: 500px) {
  .freeBox__fiIgx {
    justify-content: center;
    align-items: flex-start;
    padding-top: 4px;
  }
}
@media (max-width: 350px) {
  .freeBox__fiIgx {
    justify-content: center;
    align-items: flex-start;
  }
}
.text__fbZbo {
  position: relative;
  width: 50%;
  height: auto;
  max-width: 100%;
  color: #8165d6;
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 0px;
}
.text___2Tp9U {
  position: relative;
  width: 25%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  font-weight: 600;
  color: var(--token-8nedppYkGVaH);
  padding-bottom: 0px;
  text-align: center;
}
.text__oiFot {
  position: relative;
  width: 25%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  font-weight: 600;
  color: var(--token-8nedppYkGVaH);
  padding-bottom: 0px;
  text-align: center;
}
@media (max-width: 500px) {
  .text__oiFot {
    font-size: 15px;
    line-height: 2;
    padding-top: 0px;
  }
}
@media (max-width: 350px) {
  .text__oiFot {
    font-size: 14px;
    line-height: 1.6;
  }
}
.freeBox___72GBj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 4em;
  background: #fcfcfc;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 40px 8px 19px;
}
.freeBox__kninp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__gGJo {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #444444;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__gGJo {
    font-size: 15px;
    line-height: 2;
  }
}
.button__zdlIj:global(.__wab_instance) {
  max-width: 100%;
  width: 300px;
  margin-top: 29px;
}
@media (max-width: 500px) {
  .button__zdlIj:global(.__wab_instance) {
    width: 70%;
  }
}
@media (max-width: 350px) {
  .button__zdlIj:global(.__wab_instance) {
    width: 80%;
  }
}
.svg__kJvdE {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__oyYch {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__oyYch > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 11px);
  width: calc(100% + 11px);
}
.freeBox__oyYch > :global(.__wab_flex-container) > *,
.freeBox__oyYch > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oyYch > :global(.__wab_flex-container) > picture > img,
.freeBox__oyYch
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 11px;
}
.img__or5ZR {
  object-fit: cover;
  max-width: 100%;
  height: 25px;
}
.img__or5ZR > picture > img {
  object-fit: cover;
}
.text__jWlFf {
  font-size: 17px;
}
.svg__hMGee {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button___8Fi8R:global(.__wab_instance) {
  max-width: 100%;
  width: 300px;
}
@media (max-width: 500px) {
  .button___8Fi8R:global(.__wab_instance) {
    width: 70%;
  }
}
@media (max-width: 350px) {
  .button___8Fi8R:global(.__wab_instance) {
    width: 80%;
  }
}
.svg___4RgxY {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__zKxj {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__zKxj > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 11px);
  width: calc(100% + 11px);
}
.freeBox__zKxj > :global(.__wab_flex-container) > *,
.freeBox__zKxj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zKxj > :global(.__wab_flex-container) > picture > img,
.freeBox__zKxj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 11px;
}
.img__agaR {
  object-fit: cover;
  max-width: 100%;
  height: 25px;
}
.img__agaR > picture > img {
  object-fit: cover;
}
.text__qu6Dt {
  font-size: 17px;
}
.svg__uCOpq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__x1GSw:global(.__wab_instance) {
  max-width: 100%;
  width: 300px;
}
@media (max-width: 500px) {
  .button__x1GSw:global(.__wab_instance) {
    width: 70%;
  }
}
@media (max-width: 350px) {
  .button__x1GSw:global(.__wab_instance) {
    width: 80%;
  }
}
.svg__josAf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__cP50O {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__cP50O > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 11px);
  width: calc(100% + 11px);
}
.freeBox__cP50O > :global(.__wab_flex-container) > *,
.freeBox__cP50O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cP50O > :global(.__wab_flex-container) > picture > img,
.freeBox__cP50O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 11px;
}
.img__sFd2T {
  object-fit: cover;
  max-width: 100%;
  height: 25px;
}
.img__sFd2T > picture > img {
  object-fit: cover;
}
.text__nm4Us {
  font-size: 17px;
}
.svg__y8QwW {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__gLir9:global(.__wab_instance) {
  max-width: 100%;
  width: 300px;
}
@media (max-width: 500px) {
  .button__gLir9:global(.__wab_instance) {
    width: 70%;
  }
}
@media (max-width: 350px) {
  .button__gLir9:global(.__wab_instance) {
    width: 80%;
  }
}
.svg___0X418 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__fkR {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__fkR > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 11px);
  width: calc(100% + 11px);
}
.freeBox__fkR > :global(.__wab_flex-container) > *,
.freeBox__fkR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fkR > :global(.__wab_flex-container) > picture > img,
.freeBox__fkR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 11px;
}
.img__oG2VC {
  object-fit: cover;
  max-width: 100%;
  height: 25px;
}
.img__oG2VC > picture > img {
  object-fit: cover;
}
.text__ttF8I {
  font-size: 17px;
}
.svg__bkeT {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___2RYft {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding-top: 40px;
  margin-top: 10px;
  color: #444444;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text___2RYft {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text___2RYft {
    font-size: 15px;
    line-height: 2;
  }
}
.text__k6Bxn {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding-top: 12px;
  margin-top: 10px;
  color: #444444;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__k6Bxn {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text__k6Bxn {
    font-size: 15px;
  }
}
.text__amnQz {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding-top: 50px;
  margin-top: 10px;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__amnQz {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text__amnQz {
    font-size: 15px;
  }
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #444444;
  font-size: 20px;
  line-height: 2;
  width: 402px;
  text-align: center;
  font-weight: 600;
}
.freeBox__xmTXs {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 30px 8px 8px;
}
@media (max-width: 350px) {
  .freeBox__xmTXs {
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
    min-width: 0;
  }
}
.text___76Sx6 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 18px;
  padding-top: 0px;
  font-weight: 500;
  color: #444444;
  min-width: 0;
}
@media (max-width: 350px) {
  .text___76Sx6 {
    text-align: center;
    width: auto;
    padding-left: 30px;
    padding-right: 24px;
  }
}
.text__vBdC {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 18px;
  font-weight: 500;
  color: #444444;
  min-width: 0;
}
.button___1BZoE:global(.__wab_instance) {
  max-width: 100%;
  margin-top: 39px;
  margin-bottom: 30px;
}
.svg__jQRz4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___6GRa {
  font-size: 20px;
  font-weight: 600;
}
.svg___0IGm6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___4Sit5 {
  font-weight: 600;
  font-size: 22px;
  color: #444444;
  padding-top: 20px;
  background: var(--token-rhmrUZBooWNo);
}
.qA {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 4em;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 19px 8px;
}
@media (max-width: 350px) {
  .qA {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox___7IoCw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox___7IoCw {
    width: 100%;
  }
}
@media (max-width: 350px) {
  .freeBox___7IoCw {
    width: 100%;
  }
}
.text___7W0I {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 19px;
  font-weight: 600;
  text-align: right;
  padding-right: 5px;
  padding-top: 5px;
  color: #444444;
  min-width: 0;
}
.freeBox__fg00V {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .freeBox__fg00V {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.accordion:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  color: #444444;
  min-width: 0;
}
.accordionItem__zWdS5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 15px;
}
.text__uJ6V0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__uJ6V0 {
    font-size: 15px;
  }
}
.text__zutQs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  min-width: 0;
}
.accordionItem__z5Hda:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__rfbRv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__rfbRv {
    font-size: 15px;
  }
}
.text__udsS1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  min-width: 0;
}
.accordionItem___2YXrc:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__aiCrP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__aiCrP {
    font-size: 15px;
  }
}
.text__uGte1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  min-width: 0;
}
.accordionItem__qSxM:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__rpfQf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__rpfQf {
    font-size: 15px;
  }
}
.text__dYYhE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  min-width: 0;
}
.accordionItem__phYwf:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__q1SQ7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__q1SQ7 {
    font-size: 15px;
  }
}
.text__eFps {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  min-width: 0;
}
.button__kgdHp:global(.__wab_instance) {
  max-width: 40%;
  width: 300px;
  margin-top: 38px;
}
@media (max-width: 1200px) {
  .button__kgdHp:global(.__wab_instance) {
    width: 70%;
  }
}
@media (max-width: 500px) {
  .button__kgdHp:global(.__wab_instance) {
    max-width: 70%;
  }
}
@media (max-width: 350px) {
  .button__kgdHp:global(.__wab_instance) {
    max-width: 80%;
    width: 80%;
  }
}
.svg__lGnq8 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__rbod2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
