.main {
  display: flex;
  flex-direction: column;
  width: 420px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  position: relative;
  padding: 8px;
}
@media (max-width: 500px) {
  .main {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__hVjWa {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 400px;
  justify-content: flex-start;
  align-items: center;
  background: #fcfcfc;
  align-self: stretch;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
@media (max-width: 500px) {
  .freeBox__hVjWa {
    animation: none;
    max-width: none;
    margin-top: 0px;
  }
}
.freeBox__r0NzS {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  outline-style: dashed;
  outline-color: #e8e8e8;
  min-width: 0;
  display: none;
  border-radius: 8px;
  padding: 8px;
}
.freeBox___2Jl3C {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.profile2:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
@media (max-width: 1200px) {
  .profile2:global(.__wab_instance) {
    animation: none;
  }
}
@media (max-width: 500px) {
  .profile2:global(.__wab_instance) {
    animation: none;
  }
}
@media (max-width: 350px) {
  .profile2:global(.__wab_instance) {
    animation: none;
  }
}
.freeBox__yQw8 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  outline-color: #f70000;
  min-width: 0;
  padding: 8px;
}
.freeBox__nMyEa {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 70px;
  height: 70px;
  max-width: 100%;
  flex-shrink: 0;
  padding: 8px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  border-radius: 100px;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__sBxl {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 30%;
  min-width: 0;
  padding: 8px;
}
.text__tUVqd {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__tUVqd {
    text-align: right;
  }
}
.freeBox___09FZ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__y7M0O {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  text-align: center;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__y7M0O {
    text-align: right;
  }
}
.apiRequest2:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.freeBox__qqxa3 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 400px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  z-index: 1;
  align-self: stretch;
  background: #fcfcfc;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__qqxa3 {
    animation: none;
    width: 100%;
    min-width: 0;
  }
}
.embedHtml__oZyQ4:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  text-align: center;
  min-width: 0;
}
.freeBox___75A5 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__erLfL {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.embedHtml___8TSV:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__k82Vx {
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 0px;
}
.embedHtml__gsL8C:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
