.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: linear-gradient(
      37deg,
      #ebfaff 9%,
      #fcfcfc 29%,
      #f2fbfe 60%,
      #fcfcfc 79%,
      #ebfaff 88%
    )
    0% 0% / 100% 100% repeat;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 9px 0px 0px;
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 500px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 350px) {
  .root > * {
    grid-column: 4;
  }
}
.navbarRentamonComponent:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (max-width: 500px) {
  .navbarRentamonComponent:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 350px) {
  .navbarRentamonComponent:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.mainContents {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px 0px;
}
@media (max-width: 1200px) {
  .mainContents {
    max-width: 100%;
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 500px) {
  .mainContents {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.intro1st {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 20px 8px 8px;
}
@media (max-width: 1200px) {
  .intro1st {
    max-width: 100%;
  }
}
.introTitle {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 20px 8px 8px;
}
.text__xmGla {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  font-weight: 600;
  min-width: 0;
}
.teamImage {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .teamImage {
    display: flex;
    flex-direction: column-reverse;
  }
}
.introCalendarLeft {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__bnyHr {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 50px;
}
.img__bnyHr > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__bnyHr {
    border-radius: 30px;
  }
}
@media (max-width: 350px) {
  .img__bnyHr {
    border-radius: 20px;
  }
}
.introduction {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 20px 8px 8px;
}
@media (max-width: 1200px) {
  .introduction {
    padding-right: 14px;
    padding-left: 14px;
    max-width: 96%;
  }
}
@media (max-width: 500px) {
  .introduction {
    max-width: 100%;
    padding-top: 16px;
  }
}
.text__edH9K {
  text-align: right;
  font-size: 17px;
  line-height: 1.8;
}
@media (max-width: 500px) {
  .text__edH9K {
    font-size: 16px;
  }
}
.text__veVqz {
  text-align: right;
  font-size: 17px;
  line-height: 1.8;
  padding-top: 20px;
}
@media (max-width: 500px) {
  .text__veVqz {
    font-size: 16px;
    padding-top: 24px;
  }
}
.team {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(
    40deg,
    #d0f3ff 0%,
    #fcfcfc 38%,
    #ebfaff 59%,
    #f1fbfe 82%,
    #fcfcfc 97%
  );
  margin-top: 30px;
  min-width: 0;
  border-radius: 50px;
  padding: 30px 0px 40px;
}
@media (max-width: 1200px) {
  .team {
    margin-top: 30px;
    max-width: 100%;
    padding-bottom: 32px;
  }
}
@media (max-width: 500px) {
  .team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 20px;
    background: linear-gradient(
      40deg,
      #d0f3ff 0%,
      #fcfcfc 38%,
      #ebfaff 59%,
      #f1fbfe 82%,
      #e2f5fa 97%
    );
  }
}
@media (max-width: 350px) {
  .team {
    padding-top: 22px;
    padding-bottom: 0px;
    border-radius: 30px;
  }
}
.sectionTitle {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__nIXpV {
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  padding-top: 0px;
  padding-right: 15px;
}
.freeBox__tt6Mw {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__tt6Mw {
    padding-top: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__tt6Mw {
    justify-content: center;
    align-items: flex-start;
  }
}
.ways {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__ryaQa {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.contact6 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 180px;
  max-width: 180px;
  background: #fcfcfc;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  filter: blur(0px);
  min-width: 180px;
  max-height: 180px;
  min-height: 180px;
  flex-shrink: 0;
  border-radius: 30px;
  padding: 8px 0px;
  margin: 10px;
}
.contact6 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 1200px) {
  .contact6 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: flex-start;
  }
}
@media (max-width: 500px) {
  .contact6 {
    margin-top: 10px;
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    min-width: 0;
    padding: 0px 8px 8px;
  }
}
@media (max-width: 500px) {
  .contact6 > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 500px) {
  .contact6 > :global(.__wab_flex-container) > *,
  .contact6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .contact6 > :global(.__wab_flex-container) > picture > img,
  .contact6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
@media (max-width: 350px) {
  .contact6 {
    min-height: 220px;
    max-height: 220px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.icon6 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__eWcC {
  object-fit: cover;
  max-width: 30%;
}
.img__eWcC > picture > img {
  object-fit: cover;
}
.title6 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .title6 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 500px) {
  .title6 {
    padding-top: 12px;
  }
}
.text__mtUqr {
  padding-right: 0px;
  max-width: 100%;
  font-weight: 500;
  color: #444444;
  font-size: 17px;
  text-align: center;
}
@media (max-width: 350px) {
  .text__mtUqr {
    font-size: 16px;
  }
}
.caption6 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
.text__r5HTk {
  text-align: center;
  font-size: 16px;
  color: #444444;
  font-weight: 500;
}
@media (max-width: 1200px) {
  .text__r5HTk {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .text__r5HTk {
    font-size: 15px;
  }
}
.freeBox__ugo5R {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.contact7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 180px;
  max-width: 180px;
  background: #fcfcfc;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  filter: blur(0px);
  min-width: 180px;
  max-height: 180px;
  min-height: 180px;
  flex-shrink: 0;
  border-radius: 30px;
  padding: 8px 0px;
  margin: 10px;
}
.contact7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 1200px) {
  .contact7 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: flex-start;
  }
}
@media (max-width: 500px) {
  .contact7 {
    margin-top: 10px;
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    min-width: 0;
    padding: 0px 8px 8px;
  }
}
@media (max-width: 500px) {
  .contact7 > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 500px) {
  .contact7 > :global(.__wab_flex-container) > *,
  .contact7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .contact7 > :global(.__wab_flex-container) > picture > img,
  .contact7
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
@media (max-width: 350px) {
  .contact7 {
    min-height: 220px;
    max-height: 220px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.icon7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___6Faw {
  object-fit: cover;
  max-width: 100%;
}
.img___6Faw > picture > img {
  object-fit: cover;
}
.title7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .title7 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 500px) {
  .title7 {
    padding-top: 12px;
  }
}
.text___7PBta {
  padding-right: 0px;
  max-width: 100%;
  font-weight: 500;
  color: #444444;
  font-size: 17px;
  text-align: center;
}
@media (max-width: 350px) {
  .text___7PBta {
    font-size: 16px;
  }
}
.caption7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
.text__hDpHw {
  text-align: center;
  font-size: 16px;
  color: #444444;
  font-weight: 500;
}
@media (max-width: 1200px) {
  .text__hDpHw {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .text__hDpHw {
    font-size: 15px;
  }
}
.freeBox__kMZpl {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.contact8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 180px;
  max-width: 180px;
  background: #fcfcfc;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  filter: blur(0px);
  min-width: 180px;
  max-height: 180px;
  min-height: 180px;
  flex-shrink: 0;
  border-radius: 30px;
  padding: 8px 0px;
  margin: 10px;
}
.contact8 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 1200px) {
  .contact8 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: flex-start;
  }
}
@media (max-width: 500px) {
  .contact8 {
    margin-top: 10px;
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    min-width: 0;
    padding: 0px 8px 8px;
  }
}
@media (max-width: 500px) {
  .contact8 > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 500px) {
  .contact8 > :global(.__wab_flex-container) > *,
  .contact8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .contact8 > :global(.__wab_flex-container) > picture > img,
  .contact8
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
@media (max-width: 350px) {
  .contact8 {
    min-height: 220px;
    max-height: 220px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.icon8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__pKImf {
  object-fit: cover;
  max-width: 30%;
}
.img__pKImf > picture > img {
  object-fit: cover;
}
.title8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .title8 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 500px) {
  .title8 {
    padding-top: 12px;
  }
}
.text__jmDrv {
  padding-right: 0px;
  max-width: 100%;
  font-weight: 500;
  color: #444444;
  font-size: 17px;
  text-align: center;
}
@media (max-width: 350px) {
  .text__jmDrv {
    font-size: 16px;
  }
}
.caption8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
.text___0GHqv {
  text-align: center;
  font-size: 16px;
  color: #444444;
  font-weight: 500;
}
@media (max-width: 1200px) {
  .text___0GHqv {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .text___0GHqv {
    font-size: 15px;
  }
}
.freeBox__hCcmX {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.contact9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 180px;
  max-width: 180px;
  background: #fcfcfc;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  filter: blur(0px);
  min-width: 180px;
  max-height: 180px;
  min-height: 180px;
  flex-shrink: 0;
  border-radius: 30px;
  padding: 8px 0px;
  margin: 10px;
}
.contact9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 1200px) {
  .contact9 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: flex-start;
  }
}
@media (max-width: 500px) {
  .contact9 {
    margin-top: 10px;
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    min-width: 0;
    padding: 0px 8px 8px;
  }
}
@media (max-width: 500px) {
  .contact9 > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 500px) {
  .contact9 > :global(.__wab_flex-container) > *,
  .contact9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .contact9 > :global(.__wab_flex-container) > picture > img,
  .contact9
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
@media (max-width: 350px) {
  .contact9 {
    min-height: 220px;
    max-height: 220px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.icon9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__rgJxf {
  object-fit: cover;
  max-width: 30%;
}
.img__rgJxf > picture > img {
  object-fit: cover;
}
.title9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .title9 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 500px) {
  .title9 {
    padding-top: 12px;
  }
}
.text__rcEh3 {
  padding-right: 0px;
  max-width: 100%;
  font-weight: 500;
  color: #444444;
  font-size: 17px;
  text-align: center;
}
@media (max-width: 350px) {
  .text__rcEh3 {
    font-size: 16px;
  }
}
.caption9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
.text__mS6Q {
  text-align: center;
  font-size: 16px;
  color: #444444;
  font-weight: 500;
}
@media (max-width: 1200px) {
  .text__mS6Q {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .text__mS6Q {
    font-size: 15px;
  }
}
.freeBox__ylcf0 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.contact10 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 180px;
  max-width: 180px;
  background: #fcfcfc;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  filter: blur(0px);
  min-width: 180px;
  max-height: 180px;
  min-height: 180px;
  flex-shrink: 0;
  border-radius: 30px;
  padding: 8px 0px;
  margin: 10px;
}
.contact10 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 1200px) {
  .contact10 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: flex-start;
  }
}
@media (max-width: 500px) {
  .contact10 {
    margin-top: 10px;
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    min-width: 0;
    padding: 0px 8px 8px;
  }
}
@media (max-width: 500px) {
  .contact10 > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 500px) {
  .contact10 > :global(.__wab_flex-container) > *,
  .contact10 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .contact10 > :global(.__wab_flex-container) > picture > img,
  .contact10
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
@media (max-width: 350px) {
  .contact10 {
    min-height: 220px;
    max-height: 220px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.icon10 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__vDfvF {
  object-fit: cover;
  max-width: 30%;
}
.img__vDfvF > picture > img {
  object-fit: cover;
}
.title10 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .title10 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 500px) {
  .title10 {
    padding-top: 12px;
  }
}
.text___6X11Q {
  padding-right: 0px;
  max-width: 100%;
  font-weight: 500;
  color: #444444;
  font-size: 17px;
  text-align: center;
}
@media (max-width: 350px) {
  .text___6X11Q {
    font-size: 16px;
  }
}
.caption10 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
.text__zPTr4 {
  text-align: center;
  font-size: 16px;
  color: #444444;
  font-weight: 500;
}
@media (max-width: 1200px) {
  .text__zPTr4 {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .text__zPTr4 {
    font-size: 15px;
  }
}
.address {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #fcfcfc;
  min-width: 0;
  padding: 40px 8px 28px;
}
.content {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .content {
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .content {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 350px) {
  .content {
    display: flex;
    flex-direction: column;
  }
}
.addressText {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 40%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 18px 8px 8px;
}
@media (max-width: 1200px) {
  .addressText {
    width: 44%;
  }
}
@media (max-width: 500px) {
  .addressText {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 4px 8px 8px;
  }
}
@media (max-width: 350px) {
  .addressText {
    width: 100%;
    padding-right: 4px;
  }
}
.text___3Ye7H {
  text-align: right;
  font-size: 17px;
  line-height: 2;
  padding-bottom: 0px;
  font-weight: 500;
}
@media (max-width: 1200px) {
  .text___3Ye7H {
    font-size: 16px;
    line-height: 1.8;
  }
}
.map {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 70%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-radius: 50px;
  padding: 8px;
}
@media (max-width: 1200px) {
  .map {
    width: 56%;
    height: 239px;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 30px;
  }
}
@media (max-width: 500px) {
  .map {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 240px;
    flex-shrink: 0;
    border-radius: 30px;
    padding: 8px;
  }
}
@media (max-width: 350px) {
  .map {
    width: 100%;
    margin-top: 20px;
  }
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  overflow: hidden;
  height: 354px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 50px;
}
@media (max-width: 1200px) {
  .embedHtml:global(.__wab_instance) {
    height: 100%;
    min-height: 0;
    border-radius: 30px;
  }
}
@media (max-width: 500px) {
  .embedHtml:global(.__wab_instance) {
    width: 100%;
    height: 100%;
    max-width: none;
    min-height: auto;
    flex-grow: 1;
    min-width: 0;
    border-radius: 30px;
  }
}
@media (max-width: 350px) {
  .embedHtml:global(.__wab_instance) {
    border-radius: 20px;
  }
}
.rentamonFooter:global(.__wab_instance) {
  max-width: 100%;
}
