.comparison {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.comparison > * {
  grid-column: 4;
}
@media (max-width: 500px) {
  .comparison > * {
    grid-column: 4;
  }
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.httpRestApiFetcher:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  justify-self: center;
  min-width: 0;
}
.freeBox__hpsSi {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 101px;
}
.freeBox__lvEfm {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 20px 0px 8px;
}
.freeBox__jUr9U {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__jUr9U {
    max-width: 70%;
    padding-right: 10px;
    padding-left: 0px;
    align-items: flex-end;
    justify-content: center;
    align-self: center;
  }
}
.freeBox___35Dxn {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 9px 0px 8px;
}
@media (max-width: 500px) {
  .freeBox___35Dxn {
    padding-right: 0px;
  }
}
.text__ofkrN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 22px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__ofkrN {
    max-width: 50%;
    align-self: center;
    font-size: 18px;
    padding-right: 0px;
    font-family: "Estedad";
  }
}
.freeBox___5SAb {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px 8px;
}
@media (max-width: 500px) {
  .freeBox___5SAb {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.text__cNz0X {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 13px;
  min-width: 0;
  padding: 0px 20px 30px;
}
@media (max-width: 500px) {
  .text__cNz0X {
    font-family: "Estedad";
    font-size: 15px;
    padding: 0px;
  }
}
.img {
  object-fit: cover;
  max-width: 100%;
  border-radius: 30px;
  margin: 0px 120px;
}
.img > picture > img {
  object-fit: cover;
}
.text__qTf4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 15px;
  padding-top: 40px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__qTf4 {
    font-family: "Estedad";
    display: none;
    padding: 0px 47px 0px 0px;
  }
}
.freeBox__a6LB {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 500px) {
  .freeBox__a6LB {
    margin-top: 30px;
    border-bottom-width: 0px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
    border-top-width: 0px;
    border-right-width: 2px;
    border-left-width: 0px;
    margin-bottom: 20px;
    width: auto;
    margin-right: 0px;
    border-radius: 0px;
    border-style: solid;
  }
}
.text___28Yku {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  text-align: center;
  min-width: 0;
}
@media (max-width: 500px) {
  .text___28Yku {
    font-size: 15px;
    font-weight: 500;
    font-family: "Estedad";
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-right: 0px;
    text-align: right;
    padding-top: 8px;
    min-width: 0;
  }
}
.columns__xtZul {
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  display: none;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__xtZul > :nth-child(6n + 1) {
  width: calc((100% - 6 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__xtZul > :nth-child(6n + 2) {
  width: calc((100% - 6 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__xtZul > :nth-child(6n + 3) {
  width: calc((100% - 6 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__xtZul > :nth-child(6n + 4) {
  width: calc((100% - 6 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__xtZul > :nth-child(6n + 5) {
  width: calc((100% - 6 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__xtZul > :nth-child(6n + 6) {
  width: calc((100% - 6 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
@media (max-width: 500px) {
  .columns__xtZul {
    flex-wrap: nowrap;
    flex-direction: row;
    height: auto;
    width: 100%;
    overflow: auto;
    flex-shrink: 0;
    min-width: 0;
    display: flex;
  }
}
@media (max-width: 500px) {
  .columns__xtZul > :nth-child(6n + 1) {
    width: calc((100% - 6 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
  }
}
@media (max-width: 500px) {
  .columns__xtZul > :nth-child(6n + 2) {
    width: calc((100% - 6 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
  }
}
@media (max-width: 500px) {
  .columns__xtZul > :nth-child(6n + 3) {
    width: calc((100% - 6 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
  }
}
@media (max-width: 500px) {
  .columns__xtZul > :nth-child(6n + 4) {
    width: calc((100% - 6 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
  }
}
@media (max-width: 500px) {
  .columns__xtZul > :nth-child(6n + 5) {
    width: calc((100% - 6 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
  }
}
@media (max-width: 500px) {
  .columns__xtZul > :nth-child(6n + 6) {
    width: calc((100% - 6 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
  }
}
.column__j855M {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 500px) {
  .column__j855M {
    display: flex;
  }
}
.text__nx1At {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__b2HdS {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 500px) {
  .column__b2HdS {
    display: flex;
  }
}
.text__nzf8W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__ouhaY {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__cxITo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column___69P6D {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__ygXG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__yUSfV {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__ybRx6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__moSHw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__amskb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__rYb34 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: auto;
  grid-auto-rows: 40px;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__rYb34 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
    display: none;
  }
}
.freeBox__esXk3 {
  display: flex;
  position: relative;
  width: 100px;
  height: auto;
  max-width: 100%;
  max-height: 40px;
  min-width: 80px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 8px;
}
.text___1VcJg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.freeBox___4Idg1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  max-height: 40px;
  min-width: 80px;
  padding: 8px;
}
.text__vyzte {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.freeBox___6AQj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  max-height: 40px;
  min-width: 80px;
  padding: 8px;
}
.text__dWcH8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.freeBox__wsCzt {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  max-height: 40px;
  min-width: 80px;
  padding: 8px;
}
.text__p05X {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.freeBox__m2ZHn {
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__m2ZHn {
    display: flex;
  }
}
.text___8SiIn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 13px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text___8SiIn {
    font-family: "Estedad";
    font-size: 15px;
    line-height: 1.7;
    padding: 10px 0px 0px;
  }
}
.freeBox__k4EXa {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 20px 8px 8px;
}
@media (max-width: 500px) {
  .freeBox__k4EXa {
    padding-top: 20px;
  }
}
.text__rpIqX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 15px;
  font-weight: 600;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__rpIqX {
    font-family: "Estedad";
    font-size: 15px;
    padding: 0px;
  }
}
.text__yxhPk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 15px;
  padding-top: 6px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__yxhPk {
    font-family: "Estedad";
    font-size: 15px;
    width: 100%;
    height: auto;
    max-width: 100%;
    line-height: 1.7;
    min-width: 0;
    padding: 10px 0px 0px;
  }
}
.freeBox__d8PBj {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 20px 8px 8px;
}
.text__cpEn9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 15px;
  font-weight: 600;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__cpEn9 {
    font-family: "Estedad";
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    font-weight: 600;
    min-width: 0;
    padding: 0px;
  }
}
.text__uc0UR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 15px;
  padding-top: 6px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__uc0UR {
    font-family: "Estedad";
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    line-height: 1.7;
    min-width: 0;
    padding: 10px 0px 0px;
  }
}
.freeBox___7KOvY {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 20px 8px 8px;
}
.text__eeG7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 15px;
  font-weight: 600;
  margin-top: 0px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__eeG7 {
    font-family: "Estedad";
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    font-weight: 600;
    min-width: 0;
    padding: 0px;
  }
}
.text__ropCe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 15px;
  padding-top: 6px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__ropCe {
    font-family: "Estedad";
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    line-height: 1.7;
    min-width: 0;
    padding: 10px 0px 0px;
  }
}
.linkbtn:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  text-align: center;
  color: #fcfcfc;
  position: relative;
  left: auto;
  top: auto;
  background: #ffffff73;
  white-space: pre;
  font-size: 15px;
  border-radius: 30px;
  margin: 39px 0px 34px;
  border: 0px solid var(--token-8nedppYkGVaH);
}
@media (max-width: 500px) {
  .linkbtn:global(.__wab_instance) {
    font-size: 14px;
    left: auto;
    top: auto;
    display: none;
    border-radius: 0px;
  }
}
.text___0BIEg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-8nedppYkGVaH);
  font-family: "Estedad";
  white-space: pre;
  font-weight: 600;
  min-width: 0;
}
.freeBox___15ESv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px 8px;
}
@media (max-width: 500px) {
  .freeBox___15ESv {
    margin-top: 0px;
    border-bottom-width: 0px;
    border-bottom-style: dotted;
    align-self: center;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0px 0px 10px;
  }
}
.text__kebSq {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  text-align: center;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__kebSq {
    font-size: 13px;
    font-weight: 400;
    font-family: "Estedad";
    display: none;
  }
}
.text__gXtmj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__gXtmj {
    font-size: 13px;
    align-self: center;
    padding-right: 30px;
    font-weight: 400;
    font-family: "Estedad";
    display: none;
  }
}
.linkbtn2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  text-align: center;
  color: #fcfcfc;
  position: relative;
  left: auto;
  top: auto;
  background: #ffffff73;
  white-space: pre;
  border-radius: 30px;
  margin: 39px 0px 34px;
  border: 0px solid var(--token-8nedppYkGVaH);
}
@media (max-width: 500px) {
  .linkbtn2:global(.__wab_instance) {
    font-size: 16px;
    left: auto;
    top: auto;
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: center;
    border-radius: 0px;
  }
}
.text__vw7IA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-8nedppYkGVaH);
  font-family: "Estedad";
  white-space: pre;
  font-weight: 600;
  min-width: 0;
}
.survey {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 34px;
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
  border-width: 2px;
}
@media (max-width: 500px) {
  .survey {
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 3px;
  }
}
.text__o7SAe {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Estedad";
  border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  font-weight: 600;
  position: relative;
  font-size: 15px;
  min-width: 0;
  border-radius: 30px;
  padding: 30px 16px 0px;
  border-width: 0px;
}
@media (max-width: 500px) {
  .text__o7SAe {
    font-size: 15px;
    padding-right: 9px;
    padding-left: 4px;
    padding-top: 23px;
    font-family: "Estedad";
    font-weight: 500;
  }
}
.text__javvd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  font-family: "Estedad";
  font-weight: 400;
  font-size: 15px;
  min-width: 0;
  border-radius: 30px;
  padding: 10px 16px 0px;
  border-width: 0px;
}
@media (max-width: 500px) {
  .text__javvd {
    font-size: 15px;
    padding-right: 10px;
    padding-left: 4px;
    margin-bottom: 14px;
  }
}
.freeBox___9KrYm {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox___9KrYm {
    padding-top: 0px;
    border-bottom-width: 0px;
    border-bottom-style: dotted;
  }
}
.columns__dxCmi {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  border-left-width: 0px;
  border-left-style: solid;
  border-right-width: 0px;
  border-right-style: solid;
  border-top-width: 0px;
  border-top-style: solid;
  justify-content: flex-start;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 10px 0px 8px 8px;
  border-bottom: 1px dotted #c2c2c2;
}
.columns__dxCmi > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__dxCmi > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 500px) {
  .columns__dxCmi {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    border-top-width: 0px;
    border-top-style: solid;
    border-right-width: 0px;
    border-left-width: 0px;
    max-width: 100%;
    border-right-style: solid;
    border-left-style: solid;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 10px 0px 8px;
    border-bottom: 1px dotted #c2c2c2;
  }
}
@media (max-width: 500px) {
  .columns__dxCmi > :nth-child(2n + 1) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
@media (max-width: 500px) {
  .columns__dxCmi > :nth-child(2n + 2) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
.column__ywB8W {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
@media (max-width: 500px) {
  .column__ywB8W {
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    padding-left: 0px;
  }
}
.freeBox__bPcD1 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__bPcD1 {
    padding-left: 0px;
  }
}
.text__tkuOc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__tkuOc {
    font-size: 15px;
    text-align: right;
    font-family: "Estedad";
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
  }
}
.column__xl51M {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px 0px;
}
.selectAccess:global(.__wab_instance) {
  max-width: 100%;
  width: 140px;
}
@media (max-width: 500px) {
  .selectAccess:global(.__wab_instance) {
    flex-grow: 0;
    align-self: auto;
  }
}
.text__mycVq {
  font-size: 15px;
}
@media (max-width: 500px) {
  .text__mycVq {
    font-size: 15px;
    color: #444444;
    text-align: right;
    padding-right: 0px;
    line-height: 1.5;
    font-family: "Estedad";
    padding-left: 0px;
  }
}
.columns__qWinm {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  border-left-width: 0px;
  border-left-style: solid;
  border-right-width: 0px;
  border-right-style: solid;
  border-top-width: 0px;
  border-top-style: solid;
  justify-content: flex-start;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 10px 0px 8px 8px;
  border-bottom: 1px dotted #c2c2c2;
}
.columns__qWinm > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__qWinm > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 500px) {
  .columns__qWinm {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    border-top-width: 0px;
    border-top-style: solid;
    border-right-width: 0px;
    border-left-width: 0px;
    max-width: 100%;
    border-right-style: solid;
    border-left-style: solid;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 10px 0px 8px;
    border-bottom: 1px dotted #c2c2c2;
  }
}
@media (max-width: 500px) {
  .columns__qWinm > :nth-child(2n + 1) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
@media (max-width: 500px) {
  .columns__qWinm > :nth-child(2n + 2) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
.column__sZlM {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
@media (max-width: 500px) {
  .column__sZlM {
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
  }
}
.freeBox__ikwxj {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__ikwxj {
    padding-left: 0px;
  }
}
.text__qaOvo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  padding-top: 6px;
  padding-right: 0px;
  padding-left: 20px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__qaOvo {
    font-size: 15px;
    text-align: right;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-family: "Estedad";
    min-width: 0;
  }
}
.column__jHayC {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .column__jHayC {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 0;
    padding: 8px 0px;
  }
}
.selectSpeed:global(.__wab_instance) {
  max-width: 100%;
  width: 140px;
}
@media (max-width: 500px) {
  .selectSpeed:global(.__wab_instance) {
    flex-grow: 0;
  }
}
.text__p864 {
  font-size: 15px;
}
@media (max-width: 500px) {
  .text__p864 {
    font-size: 15px;
    color: #444444;
    text-align: right;
    padding-right: 0px;
    line-height: 1.5;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-family: "Estedad";
    padding-left: 0px;
    min-width: 0;
  }
}
.columns__lcnzh {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  border-left-width: 0px;
  border-left-style: solid;
  border-right-width: 0px;
  border-right-style: solid;
  border-top-width: 0px;
  border-top-style: solid;
  justify-content: flex-start;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 10px 0px 8px 8px;
  border-bottom: 1px dotted #c2c2c2;
}
.columns__lcnzh > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__lcnzh > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 500px) {
  .columns__lcnzh {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom-style: dotted;
    border-top-style: solid;
    max-width: 100%;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-color: #c2c2c2;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 10px 0px 8px;
    border-width: 0px;
  }
}
@media (max-width: 500px) {
  .columns__lcnzh > :nth-child(2n + 1) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
@media (max-width: 500px) {
  .columns__lcnzh > :nth-child(2n + 2) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
.column__f5X8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
@media (max-width: 500px) {
  .column__f5X8 {
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
  }
}
.freeBox__icqtO {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__icqtO {
    padding-left: 0px;
  }
}
.text__mbZVu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__mbZVu {
    font-size: 15px;
    text-align: right;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-family: "Estedad";
    min-width: 0;
  }
}
.column__yl2Hu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .column__yl2Hu {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 0;
    padding: 8px 0px;
  }
}
.supportJudgment:global(.__wab_instance) {
  max-width: 100%;
  width: 140px;
}
@media (max-width: 500px) {
  .supportJudgment:global(.__wab_instance) {
    flex-grow: 0;
  }
}
.text__rUoC {
  font-size: 15px;
}
@media (max-width: 500px) {
  .text__rUoC {
    font-size: 15px;
    color: #444444;
    text-align: right;
    padding-right: 0px;
    line-height: 1.5;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-family: "Estedad";
    padding-left: 0px;
    min-width: 0;
  }
}
.submit:global(.__wab_instance) {
  max-width: 100%;
  width: 330px;
  margin-bottom: 30px;
  margin-top: 30px;
  height: 56px;
  flex-shrink: 0;
}
@media (max-width: 500px) {
  .submit:global(.__wab_instance) {
    height: 47px;
    width: 253px;
    margin-top: 24px;
    flex-shrink: 0;
  }
}
.svg__xtWjX {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__dlcYu {
  font-size: 16px;
  font-weight: 600;
  padding: 8px 40px;
}
@media (max-width: 500px) {
  .text__dlcYu {
    font-size: 15px;
  }
}
.svg__ha9Rc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__uSadn {
  width: 240px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  height: 56px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 30px;
  padding: 0px;
  border: 3px solid var(--token-8nedppYkGVaH);
}
@media (max-width: 500px) {
  .freeBox__uSadn {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 40px;
    width: 214px;
    justify-content: center;
    align-items: center;
    border-width: 2px;
  }
}
.text__jxwOu {
  font-weight: 600;
  color: var(--token-jgohepLVeKvh);
  text-align: center;
  font-size: 15px;
}
@media (max-width: 500px) {
  .text__jxwOu {
    font-size: 15px;
  }
}
.freeBox__pGpfb {
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 50%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__pGpfb {
    display: none;
  }
}
.freeBox__y4WKa {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__y4WKa {
    max-width: 50%;
    display: none;
  }
}
