.tourGuideReservations {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 66px;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  background: var(--token-41VRhDKfihhY);
  cursor: pointer;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  min-width: 0;
  border-radius: 20px;
}
@media (max-width: 500px) {
  .tourGuideReservations {
    width: 100%;
    height: 50px;
    max-width: 100%;
    background: #ffffff;
    cursor: pointer;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    row-gap: 0px;
    min-width: 0;
    border-radius: 100px;
  }
}
.tourGuideReservationspastBookingsBox {
  border: 2px solid #ececec;
}
.tourGuideReservationscancelledBookings {
  border: 2px solid #ff9794;
}
.tourGuideReservationsconfirmedBookings {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-41VRhDKfihhY);
  cursor: pointer;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  row-gap: 0px;
  min-width: 0;
  border-radius: 18px;
  border: 2px solid #2eb773;
}
@media (max-width: 350px) {
  .tourGuideReservationsconfirmedBookings {
    border-width: 1px;
  }
}
.tourGuideReservationspendingBookings {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-41VRhDKfihhY);
  cursor: pointer;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  row-gap: 0px;
  column-gap: 0px;
  min-width: 0;
  border-radius: 18px;
  border: 2px dashed #2eb773;
}
.freeBox___00Ie5 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
}
.freeBox__y5Sid {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 35%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  min-height: 0;
  border-radius: 5px 16px 16px 5px;
}
@media (max-width: 500px) {
  .freeBox__y5Sid {
    width: 25%;
  }
}
.freeBox__mk6VW {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: 0;
  bottom: 0;
  right: 0;
  background: #ffffffe6;
  overflow: hidden;
  min-width: 0;
}
.property {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  user-select: none;
}
@media (max-width: 1200px) {
  .property {
    width: auto;
    padding-left: 0px;
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
@media (max-width: 500px) {
  .property {
    width: 100%;
    font-size: 15px;
    text-align: center;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .property {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    width: 100%;
    text-align: right;
    padding-right: 2px;
    min-width: 0;
  }
}
.img {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__r11Q {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 22%;
  height: auto;
  max-width: 35%;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 1200px) {
  .freeBox__r11Q {
    width: 27%;
  }
}
@media (max-width: 500px) {
  .freeBox__r11Q {
    width: 30%;
  }
}
.geustName {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  user-select: none;
  text-align: center;
  min-width: 0;
}
@media (max-width: 1200px) {
  .geustName {
    width: 100%;
    padding-left: 0px;
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 0;
  }
}
@media (max-width: 500px) {
  .geustName {
    width: 100%;
    font-size: 15px;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .geustName {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__vn8Pn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 22%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 1200px) {
  .freeBox__vn8Pn {
    width: 10%;
  }
}
@media (max-width: 500px) {
  .freeBox__vn8Pn {
    width: 20%;
  }
}
.date {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  text-align: center;
  user-select: none;
  min-width: 0;
}
@media (max-width: 1200px) {
  .date {
    width: auto;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .date {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    font-size: 15px;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .date {
    font-size: 14px;
    width: 100%;
    min-width: 0;
  }
}
.freeBox___8MKj0 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 21%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 1200px) {
  .freeBox___8MKj0 {
    width: 28%;
  }
}
@media (max-width: 500px) {
  .freeBox___8MKj0 {
    width: 25%;
  }
}
.website {
  height: auto;
  max-width: 100%;
  font-size: 16px;
  text-align: center;
  user-select: none;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  min-width: 0;
}
@media (max-width: 1200px) {
  .website {
    width: auto;
    text-align: left;
  }
}
@media (max-width: 500px) {
  .website {
    width: 100%;
    font-size: 15px;
    text-align: center;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .website {
    width: 100%;
    font-size: 14px;
    min-width: 0;
  }
}
