.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.topContainer {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  height: 109px;
  margin-bottom: 0px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.topContainer > * {
  grid-column: 4;
}
.text__qkgw {
  position: relative;
  width: 100%;
  height: 37px;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: var(--token-2CXdk7410BHW);
  color: #444444;
  margin-top: 28px;
  margin-bottom: 0px;
  min-width: 0;
}
.text__ngkPi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #444444cc;
  text-align: center;
  font-size: 18px;
  transition-property: all;
  transition-duration: 1s;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.mainSection {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  height: 420px;
  max-width: 387px;
  background: #f3f3f3;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 30px;
  padding: 0px;
  margin: 0px 16px 16px;
}
.mainSection > * {
  grid-column: 4;
}
.httpRestApiFetcher:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.dropdown:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  margin-top: 20px;
  width: 100%;
  box-shadow: none;
  text-align: center;
  min-width: 0;
  border: 1px solid #ffffff;
}
.menuItem___0DgU:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__ihY1P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.menuItem__cn0Fu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__o6Dua {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__xatDt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.freeBox__gWfWp {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 28px;
  margin-right: 16px;
  margin-left: 15px;
  min-width: 0;
  padding: 8px;
}
.freeBox___07Kpo {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 338px;
  max-width: 100%;
  align-self: auto;
  left: auto;
  top: auto;
  z-index: 1;
  bottom: auto;
  height: auto;
  padding: 8px 0px 8px 8px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 44px;
  height: 44px;
  margin-left: 16px;
  object-position: 50% 50%;
  flex-shrink: 0;
  border-radius: 7px;
}
.img > picture > img {
  object-fit: cover;
  object-position: 50% 50%;
}
.text__jbz7 {
  position: relative;
  width: auto;
  height: auto;
  max-width: auto;
  font-size: 22px;
  text-align: right;
  padding-left: 0px;
  align-self: center;
}
.fragmentSwitch:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  margin-right: 139px;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
