.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.textInput2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.svg__lLch5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__rsZiK {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.getUserIp:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__kd9Sh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__v49V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__i6N9Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__ng16T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__qrFrK {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.ipApi:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__tcz88 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  justify-self: center;
  min-width: 0;
  border-radius: 30px;
  padding: 100px 8px;
  border: 2px solid var(--token-8nedppYkGVaH);
}
.text__ocYbA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  font-size: 16px;
  align-self: center;
  text-align: center;
  min-width: 0;
  padding: 8px;
}
.text__klRkQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__vpu4Z {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 100000;
  background: #00000033;
  right: 0;
  bottom: 0;
}
.freeBox___3MCwL {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  padding: 8px;
}
.img {
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
