.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 500px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 350px) {
  .root > * {
    grid-column: 4;
  }
}
.text__jpQ7P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 600;
  padding-top: 30px;
  padding-right: 20px;
  margin-bottom: 0px;
}
@media (max-width: 1200px) {
  .text__jpQ7P {
    font-size: 20px;
  }
}
@media (max-width: 1200px) {
  .h2__eo4A0 {
    font-size: 18px;
    font-weight: 600;
  }
}
@media (max-width: 500px) {
  .h2__eo4A0 {
    line-height: 2;
  }
}
.text__magOe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 19px;
  font-size: 17px;
  padding-right: 20px;
  line-height: 2;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__magOe {
    line-height: 1.9;
    font-size: 16px;
    padding-top: 30px;
  }
}
@media (max-width: 500px) {
  .text__magOe {
    padding-top: 24px;
  }
}
@media (max-width: 350px) {
  .text__magOe {
    font-size: 15px;
    padding-right: 0px;
  }
}
.freeBox___6Bp8 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-end;
  margin-bottom: 0px;
  min-width: 0;
  padding: 23px 8px 8px;
}
@media (max-width: 1200px) {
  .freeBox___6Bp8 {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (max-width: 500px) {
  .freeBox___6Bp8 {
    padding-top: 12px;
  }
}
@media (max-width: 350px) {
  .freeBox___6Bp8 {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
  }
}
.featuresDesc {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .featuresDesc {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 22px;
  }
}
.text__qxJc4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 10px;
  font-size: 20px;
  line-height: 2;
  padding-right: 0px;
  font-weight: 600;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__qxJc4 {
    padding-top: 42px;
  }
}
@media (max-width: 1200px) {
  .h2__te1GS {
    font-size: 18px;
    font-weight: 600;
    height: auto;
  }
}
.text__qok2R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  padding-top: 10px;
  line-height: 2.2;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__qok2R {
    line-height: 2.2;
  }
}
@media (max-width: 500px) {
  .text__qok2R {
    line-height: 2.2;
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__qok2R {
    line-height: 2.2;
    user-select: none;
    white-space: pre-wrap;
    padding-left: 0px;
  }
}
.appDemo {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: auto;
  max-width: 100%;
  padding: 30px 8px 8px;
}
@media (max-width: 1200px) {
  .appDemo {
    padding-top: 0px;
    padding-bottom: 0px;
    width: 50%;
    margin-top: 31px;
  }
}
@media (max-width: 500px) {
  .appDemo {
    width: 90%;
  }
}
@media (max-width: 350px) {
  .appDemo {
    padding-top: 20px;
    width: 100%;
  }
}
.htmlVideo:global(.__wab_instance) {
  width: 640px;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 30px;
  border-width: 2px;
}
@media (max-width: 1200px) {
  .htmlVideo:global(.__wab_instance) {
    border-width: 2px;
  }
}
.text__kzNvy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 20px;
  font-size: 17px;
  padding-right: 70px;
  line-height: 2;
  text-align: center;
  padding-left: 70px;
  color: var(--token-8nedppYkGVaH);
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__kzNvy {
    line-height: 1.9;
    font-size: 16px;
    padding-top: 0px;
    color: var(--token-8nedppYkGVaH);
  }
}
@media (max-width: 500px) {
  .text__kzNvy {
    padding-top: 12px;
    padding-right: 0px;
    padding-left: 0px;
    text-align: right;
    line-height: 1.8;
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .text__kzNvy {
    font-size: 15px;
    padding-right: 0px;
    text-align: right;
  }
}
._2ndPart {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
  border-width: 1px;
}
@media (max-width: 1200px) {
  ._2ndPart {
    margin-bottom: 37px;
  }
}
@media (max-width: 500px) {
  ._2ndPart {
    margin-bottom: 26px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 350px) {
  ._2ndPart {
    padding-right: 1px;
    padding-left: 1px;
    padding-bottom: 3px;
    margin-bottom: 44px;
    width: 100%;
    justify-self: flex-start;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__d5NN5 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__d5NN5 {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 350px) {
  .freeBox__d5NN5 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.featuresDesc2 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .featuresDesc2 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.text__aXzp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  font-weight: 600;
}
@media (max-width: 500px) {
  .text__aXzp {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .text__aXzp {
    text-align: center;
  }
}
.text__qwkSf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 12px;
  font-size: 15px;
  line-height: 1.8;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__qwkSf {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .text__qwkSf {
    text-align: center;
    line-height: 2;
  }
}
.freeBox__mrSjQ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 50px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__mrSjQ {
    display: flex;
    flex-direction: column;
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}
@media (max-width: 500px) {
  .freeBox__mrSjQ {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__mrSjQ {
    padding-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}
.item1 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .item1 {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 0;
    padding: 8px 0px;
  }
}
@media (max-width: 500px) {
  .item1 {
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 350px) {
  .item1 {
    padding-left: 4px;
    justify-content: center;
    align-items: center;
    padding-right: 4px;
  }
}
.freeBox__wqGeL {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .freeBox__wqGeL {
    padding-right: 0px;
    margin-right: 4px;
    margin-left: 4px;
  }
}
.text__ppyo5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 600;
  padding-top: 0px;
  min-width: 0;
}
.freeBox__orBOb {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__orBOb {
    width: 20%;
    padding-right: 0px;
    padding-left: 0px;
    justify-content: flex-start;
    align-items: center;
  }
}
.text__cu8Ib {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 600;
  padding-left: 0px;
  text-align: center;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__cu8Ib {
    text-align: left;
    padding-left: 13px;
  }
}
@media (max-width: 500px) {
  .text__cu8Ib {
    padding-left: 3px;
  }
}
.item12 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
  min-width: 0;
  padding: 8px;
}
.item12 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
@media (max-width: 1200px) {
  .item12 {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    flex-direction: row;
    min-width: 0;
    padding: 8px 0px;
  }
}
@media (max-width: 1200px) {
  .item12 > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 0;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 1200px) {
  .item12 > :global(.__wab_flex-container) > *,
  .item12 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .item12 > :global(.__wab_flex-container) > picture > img,
  .item12
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
@media (max-width: 500px) {
  .item12 {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    flex-direction: row;
    min-width: 0;
    padding: 8px 0px;
  }
}
@media (max-width: 500px) {
  .item12 > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 500px) {
  .item12 > :global(.__wab_flex-container) > *,
  .item12 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .item12 > :global(.__wab_flex-container) > picture > img,
  .item12
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
@media (max-width: 350px) {
  .item12 {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    flex-direction: row;
    min-width: 0;
    padding: 8px 4px;
    margin: 0px;
  }
}
@media (max-width: 350px) {
  .item12 > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 350px) {
  .item12 > :global(.__wab_flex-container) > *,
  .item12 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .item12 > :global(.__wab_flex-container) > picture > img,
  .item12
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.freeBox__d4RK4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__d4RK4 {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    min-width: 0;
    padding: 8px 0px 8px 8px;
  }
}
.checkbox8:global(.__wab_instance) {
  max-width: 100%;
}
.text__fi2FS {
  padding-top: 0px;
  font-size: 17px;
  white-space: pre-wrap;
}
@media (max-width: 500px) {
  .text__fi2FS {
    font-size: 16px;
    line-height: 1.8;
  }
}
@media (max-width: 350px) {
  .text__fi2FS {
    line-height: 1.8;
  }
}
.freeBox___0DmuG {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 30%;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox___0DmuG > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
@media (max-width: 1200px) {
  .freeBox___0DmuG {
    width: 10%;
    height: auto;
    max-width: 100%;
    flex-direction: row;
    padding: 8px 0px;
  }
}
@media (max-width: 1200px) {
  .freeBox___0DmuG > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 1200px) {
  .freeBox___0DmuG > :global(.__wab_flex-container) > *,
  .freeBox___0DmuG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___0DmuG > :global(.__wab_flex-container) > picture > img,
  .freeBox___0DmuG
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox___0DmuG {
    width: 14%;
  }
}
.text__erPwg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  text-align: center;
  font-weight: 600;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__erPwg {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    min-width: 0;
  }
}
@media (max-width: 500px) {
  .text__erPwg {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    min-width: 0;
  }
}
.item13 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
  min-width: 0;
  padding: 8px;
}
.item13 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
@media (max-width: 1200px) {
  .item13 {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    flex-direction: row;
    min-width: 0;
    padding: 8px 0px;
  }
}
@media (max-width: 1200px) {
  .item13 > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 0;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 1200px) {
  .item13 > :global(.__wab_flex-container) > *,
  .item13 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .item13 > :global(.__wab_flex-container) > picture > img,
  .item13
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
@media (max-width: 500px) {
  .item13 {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    flex-direction: row;
    min-width: 0;
    padding: 8px 0px;
  }
}
@media (max-width: 500px) {
  .item13 > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 500px) {
  .item13 > :global(.__wab_flex-container) > *,
  .item13 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .item13 > :global(.__wab_flex-container) > picture > img,
  .item13
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
@media (max-width: 350px) {
  .item13 {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    flex-direction: row;
    min-width: 0;
    padding: 8px 4px;
    margin: 0px;
  }
}
@media (max-width: 350px) {
  .item13 > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 350px) {
  .item13 > :global(.__wab_flex-container) > *,
  .item13 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .item13 > :global(.__wab_flex-container) > picture > img,
  .item13
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.freeBox__ga6Ky {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__ga6Ky {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    min-width: 0;
    padding: 8px 0px 8px 8px;
  }
}
.checkbox2:global(.__wab_instance) {
  max-width: 100%;
}
.text__kfDm {
  padding-top: 0px;
  font-size: 17px;
  white-space: pre-wrap;
}
@media (max-width: 500px) {
  .text__kfDm {
    font-size: 16px;
    line-height: 1.8;
  }
}
@media (max-width: 350px) {
  .text__kfDm {
    line-height: 1.8;
  }
}
.freeBox__mjUyk {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 30%;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__mjUyk > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
@media (max-width: 1200px) {
  .freeBox__mjUyk {
    width: 10%;
    height: auto;
    max-width: 100%;
    flex-direction: row;
    padding: 8px 0px;
  }
}
@media (max-width: 1200px) {
  .freeBox__mjUyk > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 1200px) {
  .freeBox__mjUyk > :global(.__wab_flex-container) > *,
  .freeBox__mjUyk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__mjUyk > :global(.__wab_flex-container) > picture > img,
  .freeBox__mjUyk
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__mjUyk {
    width: 14%;
    height: auto;
    max-width: 100%;
    flex-direction: row;
    padding: 8px 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__mjUyk > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 350px) {
  .freeBox__mjUyk > :global(.__wab_flex-container) > *,
  .freeBox__mjUyk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__mjUyk > :global(.__wab_flex-container) > picture > img,
  .freeBox__mjUyk
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.text__pVUtN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  text-align: center;
  font-weight: 600;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__pVUtN {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    min-width: 0;
  }
}
@media (max-width: 500px) {
  .text__pVUtN {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    min-width: 0;
  }
}
.item14 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
  min-width: 0;
  padding: 8px;
}
.item14 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
@media (max-width: 1200px) {
  .item14 {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    flex-direction: row;
    min-width: 0;
    padding: 8px 0px;
  }
}
@media (max-width: 1200px) {
  .item14 > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 0;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 1200px) {
  .item14 > :global(.__wab_flex-container) > *,
  .item14 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .item14 > :global(.__wab_flex-container) > picture > img,
  .item14
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
@media (max-width: 500px) {
  .item14 {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    flex-direction: row;
    min-width: 0;
    padding: 8px 0px;
  }
}
@media (max-width: 500px) {
  .item14 > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 500px) {
  .item14 > :global(.__wab_flex-container) > *,
  .item14 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .item14 > :global(.__wab_flex-container) > picture > img,
  .item14
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
@media (max-width: 350px) {
  .item14 {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    flex-direction: row;
    min-width: 0;
    padding: 8px 4px;
    margin: 0px;
  }
}
@media (max-width: 350px) {
  .item14 > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 350px) {
  .item14 > :global(.__wab_flex-container) > *,
  .item14 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .item14 > :global(.__wab_flex-container) > picture > img,
  .item14
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.freeBox__hb5W9 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__hb5W9 {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    min-width: 0;
    padding: 8px 0px 8px 8px;
  }
}
.checkbox3:global(.__wab_instance) {
  max-width: 100%;
}
.text___08Ctb {
  padding-top: 0px;
  font-size: 17px;
  white-space: pre-wrap;
}
@media (max-width: 500px) {
  .text___08Ctb {
    font-size: 16px;
    line-height: 1.8;
  }
}
@media (max-width: 350px) {
  .text___08Ctb {
    line-height: 1.8;
  }
}
.freeBox__waw9T {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 30%;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__waw9T > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
@media (max-width: 1200px) {
  .freeBox__waw9T {
    width: 10%;
    height: auto;
    max-width: 100%;
    flex-direction: row;
    padding: 8px 0px;
  }
}
@media (max-width: 1200px) {
  .freeBox__waw9T > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 1200px) {
  .freeBox__waw9T > :global(.__wab_flex-container) > *,
  .freeBox__waw9T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__waw9T > :global(.__wab_flex-container) > picture > img,
  .freeBox__waw9T
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__waw9T {
    width: 14%;
    height: auto;
    max-width: 100%;
    flex-direction: row;
    padding: 8px 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__waw9T > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 350px) {
  .freeBox__waw9T > :global(.__wab_flex-container) > *,
  .freeBox__waw9T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__waw9T > :global(.__wab_flex-container) > picture > img,
  .freeBox__waw9T
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.text__cQp0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  text-align: center;
  font-weight: 600;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__cQp0 {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    min-width: 0;
  }
}
@media (max-width: 500px) {
  .text__cQp0 {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    min-width: 0;
  }
}
.item15 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
  min-width: 0;
  padding: 8px;
}
.item15 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
@media (max-width: 1200px) {
  .item15 {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    flex-direction: row;
    min-width: 0;
    padding: 8px 0px;
  }
}
@media (max-width: 1200px) {
  .item15 > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 0;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 1200px) {
  .item15 > :global(.__wab_flex-container) > *,
  .item15 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .item15 > :global(.__wab_flex-container) > picture > img,
  .item15
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
@media (max-width: 500px) {
  .item15 {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    flex-direction: row;
    min-width: 0;
    padding: 8px 0px;
  }
}
@media (max-width: 500px) {
  .item15 > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 500px) {
  .item15 > :global(.__wab_flex-container) > *,
  .item15 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .item15 > :global(.__wab_flex-container) > picture > img,
  .item15
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
@media (max-width: 350px) {
  .item15 {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    flex-direction: row;
    min-width: 0;
    padding: 8px 4px;
    margin: 0px;
  }
}
@media (max-width: 350px) {
  .item15 > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 350px) {
  .item15 > :global(.__wab_flex-container) > *,
  .item15 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .item15 > :global(.__wab_flex-container) > picture > img,
  .item15
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.freeBox__sHxXz {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__sHxXz {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    min-width: 0;
    padding: 8px 0px 8px 8px;
  }
}
.checkbox4:global(.__wab_instance) {
  max-width: 100%;
}
.text__b7VaB {
  padding-top: 0px;
  font-size: 17px;
  white-space: pre-wrap;
}
@media (max-width: 500px) {
  .text__b7VaB {
    font-size: 16px;
    line-height: 1.8;
  }
}
@media (max-width: 350px) {
  .text__b7VaB {
    line-height: 1.8;
  }
}
.freeBox__kYv3 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 30%;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__kYv3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
@media (max-width: 1200px) {
  .freeBox__kYv3 {
    width: 10%;
    height: auto;
    max-width: 100%;
    flex-direction: row;
    padding: 8px 0px;
  }
}
@media (max-width: 1200px) {
  .freeBox__kYv3 > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 1200px) {
  .freeBox__kYv3 > :global(.__wab_flex-container) > *,
  .freeBox__kYv3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kYv3 > :global(.__wab_flex-container) > picture > img,
  .freeBox__kYv3
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__kYv3 {
    width: 14%;
    height: auto;
    max-width: 100%;
    flex-direction: row;
    padding: 8px 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__kYv3 > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 350px) {
  .freeBox__kYv3 > :global(.__wab_flex-container) > *,
  .freeBox__kYv3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kYv3 > :global(.__wab_flex-container) > picture > img,
  .freeBox__kYv3
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.text__rjwCz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  text-align: center;
  font-weight: 600;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__rjwCz {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    min-width: 0;
  }
}
@media (max-width: 500px) {
  .text__rjwCz {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    min-width: 0;
  }
}
.item16 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
  min-width: 0;
  padding: 8px;
}
.item16 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
@media (max-width: 1200px) {
  .item16 {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    flex-direction: row;
    min-width: 0;
    padding: 8px 0px;
  }
}
@media (max-width: 1200px) {
  .item16 > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 0;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 1200px) {
  .item16 > :global(.__wab_flex-container) > *,
  .item16 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .item16 > :global(.__wab_flex-container) > picture > img,
  .item16
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
@media (max-width: 500px) {
  .item16 {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    flex-direction: row;
    min-width: 0;
    padding: 8px 0px;
  }
}
@media (max-width: 500px) {
  .item16 > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 500px) {
  .item16 > :global(.__wab_flex-container) > *,
  .item16 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .item16 > :global(.__wab_flex-container) > picture > img,
  .item16
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
@media (max-width: 350px) {
  .item16 {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    flex-direction: row;
    min-width: 0;
    padding: 8px 4px;
    margin: 0px;
  }
}
@media (max-width: 350px) {
  .item16 > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 350px) {
  .item16 > :global(.__wab_flex-container) > *,
  .item16 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .item16 > :global(.__wab_flex-container) > picture > img,
  .item16
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.freeBox___25Mgl {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox___25Mgl {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    min-width: 0;
    padding: 8px 0px 8px 8px;
  }
}
.checkbox5:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 1;
  flex-grow: 0;
  position: relative;
  left: auto;
  top: auto;
}
.text__l04Yb {
  padding-top: 0px;
  font-size: 17px;
  width: 562px;
  white-space: pre-wrap;
  line-height: 2;
}
@media (max-width: 1200px) {
  .text__l04Yb {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 500px) {
  .text__l04Yb {
    max-width: 314px;
    width: 100%;
    font-size: 16px;
    line-height: 1.8;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__l04Yb {
    line-height: 1.8;
  }
}
.freeBox__lrEbO {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 30%;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__lrEbO > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
@media (max-width: 1200px) {
  .freeBox__lrEbO {
    width: 10%;
    height: auto;
    max-width: 100%;
    flex-direction: row;
    padding: 8px 0px;
  }
}
@media (max-width: 1200px) {
  .freeBox__lrEbO > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 1200px) {
  .freeBox__lrEbO > :global(.__wab_flex-container) > *,
  .freeBox__lrEbO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__lrEbO > :global(.__wab_flex-container) > picture > img,
  .freeBox__lrEbO
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__lrEbO {
    width: 16%;
    height: auto;
    max-width: 100%;
    flex-direction: row;
    padding: 8px 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__lrEbO > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 350px) {
  .freeBox__lrEbO > :global(.__wab_flex-container) > *,
  .freeBox__lrEbO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__lrEbO > :global(.__wab_flex-container) > picture > img,
  .freeBox__lrEbO
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.text__d6JYl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  padding-right: 0px;
  text-align: center;
  padding-top: 0px;
  font-weight: 600;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__d6JYl {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    padding-top: 0px;
    min-width: 0;
  }
}
@media (max-width: 500px) {
  .text__d6JYl {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    min-width: 0;
  }
}
.item17 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
  min-width: 0;
  padding: 8px;
}
.item17 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
@media (max-width: 1200px) {
  .item17 {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: row;
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    min-width: 0;
    padding: 8px 0px;
  }
}
@media (max-width: 1200px) {
  .item17 > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 0;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 1200px) {
  .item17 > :global(.__wab_flex-container) > *,
  .item17 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .item17 > :global(.__wab_flex-container) > picture > img,
  .item17
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
@media (max-width: 500px) {
  .item17 > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 350px) {
  .item17 {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    flex-direction: row;
    min-width: 0;
    padding: 8px 4px;
    margin: 0px;
  }
}
@media (max-width: 350px) {
  .item17 > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 350px) {
  .item17 > :global(.__wab_flex-container) > *,
  .item17 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .item17 > :global(.__wab_flex-container) > picture > img,
  .item17
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.freeBox__o8Fw2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__o8Fw2 {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    min-width: 0;
    padding: 8px 0px 8px 8px;
  }
}
.checkbox6:global(.__wab_instance) {
  max-width: 100%;
  width: 554px;
  flex-shrink: 0;
}
.text__zQ0Fo {
  padding-top: 0px;
  font-size: 17px;
  white-space: pre-wrap;
  line-height: 2;
}
@media (max-width: 500px) {
  .text__zQ0Fo {
    font-size: 16px;
    line-height: 1.8;
  }
}
@media (max-width: 350px) {
  .text__zQ0Fo {
    line-height: 1.8;
  }
}
.freeBox__oz7Gr {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 30%;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__oz7Gr > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
@media (max-width: 1200px) {
  .freeBox__oz7Gr {
    width: 10%;
    height: auto;
    max-width: 100%;
    flex-direction: row;
    padding: 8px 0px;
  }
}
@media (max-width: 1200px) {
  .freeBox__oz7Gr > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 1200px) {
  .freeBox__oz7Gr > :global(.__wab_flex-container) > *,
  .freeBox__oz7Gr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__oz7Gr > :global(.__wab_flex-container) > picture > img,
  .freeBox__oz7Gr
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__oz7Gr {
    width: 16%;
    height: auto;
    max-width: 100%;
    flex-direction: row;
    padding: 8px 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__oz7Gr > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 350px) {
  .freeBox__oz7Gr > :global(.__wab_flex-container) > *,
  .freeBox__oz7Gr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__oz7Gr > :global(.__wab_flex-container) > picture > img,
  .freeBox__oz7Gr
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.text__j0EcZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  text-align: center;
  font-weight: 600;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__j0EcZ {
    text-align: center;
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-right: 0px;
    font-size: 15px;
    font-weight: 600;
    min-width: 0;
  }
}
@media (max-width: 500px) {
  .text__j0EcZ {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    padding-top: 0px;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__j0EcZ {
    padding-top: 0px;
  }
}
.item18 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
  min-width: 0;
  padding: 8px;
}
.item18 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
@media (max-width: 1200px) {
  .item18 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 1200px) {
  .item18 > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .item18 {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    flex-direction: row;
    min-width: 0;
    padding: 8px 0px;
  }
}
@media (max-width: 500px) {
  .item18 > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 500px) {
  .item18 > :global(.__wab_flex-container) > *,
  .item18 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .item18 > :global(.__wab_flex-container) > picture > img,
  .item18
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
@media (max-width: 350px) {
  .item18 {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    flex-direction: row;
    min-width: 0;
    padding: 8px 4px;
    margin: 0px;
  }
}
@media (max-width: 350px) {
  .item18 > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 350px) {
  .item18 > :global(.__wab_flex-container) > *,
  .item18 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .item18 > :global(.__wab_flex-container) > picture > img,
  .item18
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.freeBox__qaVch {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__qaVch {
    padding-right: 0px;
  }
}
.checkbox7:global(.__wab_instance) {
  max-width: 100%;
}
.text__eTyr {
  padding-top: 0px;
  font-size: 17px;
  white-space: pre-wrap;
}
@media (max-width: 500px) {
  .text__eTyr {
    font-size: 16px;
    line-height: 1.8;
  }
}
@media (max-width: 350px) {
  .text__eTyr {
    line-height: 1.8;
  }
}
.freeBox___8ENuw {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 30%;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox___8ENuw > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
@media (max-width: 1200px) {
  .freeBox___8ENuw {
    width: 12%;
    height: auto;
    max-width: 100%;
    flex-direction: row;
    padding: 8px 0px;
  }
}
@media (max-width: 1200px) {
  .freeBox___8ENuw > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 1200px) {
  .freeBox___8ENuw > :global(.__wab_flex-container) > *,
  .freeBox___8ENuw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___8ENuw > :global(.__wab_flex-container) > picture > img,
  .freeBox___8ENuw
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox___8ENuw {
    width: 16%;
    height: auto;
    max-width: 100%;
    flex-direction: row;
    padding: 8px 0px;
  }
}
@media (max-width: 350px) {
  .freeBox___8ENuw > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 350px) {
  .freeBox___8ENuw > :global(.__wab_flex-container) > *,
  .freeBox___8ENuw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___8ENuw > :global(.__wab_flex-container) > picture > img,
  .freeBox___8ENuw
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.text__xddY2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  text-align: center;
  font-weight: 600;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__xddY2 {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    text-align: center;
    padding-right: 0px;
    font-weight: 600;
    min-width: 0;
  }
}
@media (max-width: 500px) {
  .text__xddY2 {
    font-weight: 600;
  }
}
.freeBox__l4QNu {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 31px 0px 8px;
}
@media (max-width: 1200px) {
  .freeBox__l4QNu {
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 38px;
  }
}
@media (max-width: 350px) {
  .freeBox__l4QNu {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 2px;
  }
}
.freeBox__lcRx1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 22px;
  border-radius: 30px;
  padding: 10px 8px 8px;
  border: 2px solid var(--token-8nedppYkGVaH);
}
@media (max-width: 350px) {
  .freeBox__lcRx1 {
    margin-right: 2px;
    width: 102.8%;
    margin-left: 2px;
  }
}
.text__zafWk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  font-weight: 600;
  padding-top: 10px;
  padding-right: 6px;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__zafWk {
    color: var(--token-8nedppYkGVaH);
  }
}
@media (max-width: 500px) {
  .text__zafWk {
    line-height: 2;
  }
}
@media (max-width: 350px) {
  .text__zafWk {
    line-height: 2;
  }
}
.text___9D0Sr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 12px;
  font-size: 15px;
  padding-right: 6px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text___9D0Sr {
    line-height: 2;
  }
}
@media (max-width: 350px) {
  .text___9D0Sr {
    padding-top: 20px;
  }
}
.freeBox__s5Lew {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding: 20px 8px 8px;
}
@media (max-width: 1200px) {
  .freeBox__s5Lew {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 350px) {
  .freeBox__s5Lew {
    padding-right: 0px;
    padding-top: 26px;
  }
}
.numberInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 184px;
  height: auto;
  padding-right: 24px;
  padding-left: 24px;
  margin-bottom: 0px;
  flex-shrink: 0;
}
@media (max-width: 1200px) {
  .numberInput:global(.__wab_instance) {
    width: 320px;
    align-self: flex-start;
  }
}
@media (max-width: 350px) {
  .numberInput:global(.__wab_instance) {
    width: 253px;
  }
}
.freeBox__x6ZO {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 19px 8px 8px;
}
@media (max-width: 1200px) {
  .freeBox__x6ZO {
    padding-top: 20px;
  }
}
.valueText {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  text-align: right;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 1200px) {
  .valueText {
    width: 50%;
  }
}
@media (max-width: 350px) {
  .valueText {
    width: 60%;
  }
}
.value {
  position: relative;
  width: 80%;
  height: auto;
  max-width: 100%;
  padding-right: 6px;
  padding-left: 0px;
  font-size: 16px;
}
@media (max-width: 1200px) {
  .value {
    width: 50%;
  }
}
.freeBox__p1NYt {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__p1NYt {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 19px 8px 8px;
  }
}
@media (max-width: 350px) {
  .freeBox__p1NYt {
    margin-bottom: 12px;
    padding-top: 16px;
  }
}
.toman {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  text-align: right;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 1200px) {
  .toman {
    width: 50%;
  }
}
@media (max-width: 350px) {
  .toman {
    width: 60%;
  }
}
.commission {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 6px;
  padding-left: 0px;
  font-size: 16px;
  margin-right: 0px;
  min-width: 0;
}
@media (max-width: 1200px) {
  .commission {
    width: 50%;
  }
}
