.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  min-width: 0;
}
.userTestimonial:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.img__jjq5N {
  object-fit: cover;
  max-width: 100%;
}
.img__jjq5N > picture > img {
  object-fit: cover;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-Bo2_tT25lwh4);
  font-size: 23px;
  min-width: 0;
}
.quotes {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: hidden;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .quotes {
    justify-content: center;
    align-items: center;
  }
}
.freeBox__y46Mm {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-gap: 2em;
  grid-row-gap: 1em;
  overflow: auto;
  align-self: center;
  min-width: 0;
  padding: 2em;
}
@media (max-width: 1200px) {
  .freeBox__y46Mm {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 500px) {
  .freeBox__y46Mm {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
@media (max-width: 380px) {
  .freeBox__y46Mm {
    padding-right: 0em;
    padding-left: 0em;
  }
}
.freeBox__qJcEw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
  border-width: 2px;
}
.freeBox__fSkb0 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 380px) {
  .freeBox__fSkb0 {
    padding-right: 0px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0px;
  }
}
.freeBox__yhng7 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 80px;
  max-width: 80px;
  min-height: 80px;
  min-width: 80px;
  padding: 8px;
}
@media (max-width: 380px) {
  .freeBox__yhng7 {
    padding-right: 0px;
    padding-left: 0px;
    min-width: 44px;
    max-width: 44px;
    height: 44px;
    min-height: 44px;
  }
}
.img__hye7P {
  object-fit: cover;
  align-self: center;
  border-radius: 100px;
  border-width: 2px;
  border-style: solid;
}
.img__hye7P > picture > img {
  object-fit: cover;
}
.freeBox__ftEea {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 40%;
  min-width: 0;
  padding: 8px 0px;
}
@media (max-width: 500px) {
  .freeBox__ftEea {
    max-width: 34%;
  }
}
@media (max-width: 380px) {
  .freeBox__ftEea {
    max-width: 37%;
  }
}
.userName4 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 600;
  font-family: "Estedad";
  text-align: right;
  padding-right: 0px;
  padding-top: 4px;
  color: var(--token-8nedppYkGVaH);
  padding-bottom: 10px;
}
@media (max-width: 500px) {
  .userName4 {
    font-size: 15px;
    max-width: 100%;
    padding-right: 0px;
  }
}
@media (max-width: 380px) {
  .userName4 {
    font-size: 14px;
    padding-right: 8px;
    font-weight: 500;
  }
}
.freeBox___1A60J {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 28%;
  min-width: 0;
  padding: 8px 3px 8px 2px;
}
@media (max-width: 380px) {
  .freeBox___1A60J {
    max-width: 28%;
    padding-right: 0px;
  }
}
.userPlatform {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Estedad";
  text-align: right;
  padding-right: 0px;
  padding-top: 4px;
  color: var(--token-VC1CUzrVcfix);
  padding-bottom: 10px;
  min-width: 0;
}
@media (max-width: 500px) {
  .userPlatform {
    font-size: 15px;
    max-width: 100%;
    padding-right: 10px;
  }
}
@media (max-width: 380px) {
  .userPlatform {
    padding-right: 8px;
    font-size: 14px;
  }
}
.freeBox__hzifl {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 20%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 380px) {
  .freeBox__hzifl {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.img___7HCkr {
  object-fit: cover;
  max-width: 100%;
  width: 17px;
  height: 25px;
  align-self: flex-start;
  flex-shrink: 0;
}
.img___7HCkr > picture > img {
  object-fit: cover;
}
@media (max-width: 380px) {
  .img___7HCkr {
    width: 12px;
    height: 18px;
    align-self: center;
    margin-bottom: 8px;
    flex-shrink: 0;
  }
}
.userCity {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Estedad";
  text-align: right;
  padding-right: 5px;
  padding-top: 4px;
  color: var(--token-RnEx0jP-LzD7);
  padding-bottom: 10px;
  min-width: 0;
}
@media (max-width: 500px) {
  .userCity {
    font-size: 15px;
    max-width: 100%;
    padding-right: 6px;
  }
}
@media (max-width: 380px) {
  .userCity {
    padding-right: 2px;
  }
}
.freeBox__bQnRy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.userQuote2 {
  width: 420px;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  font-family: "Estedad";
  text-align: right;
  padding-right: 0px;
  padding-top: 4px;
  color: var(--token-VC1CUzrVcfix);
}
@media (max-width: 500px) {
  .userQuote2 {
    font-size: 15px;
    max-width: 100%;
    margin-right: 0px;
    padding-right: 0px;
  }
}
