.contacts {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(
      40deg,
      #fcfcfc 0%,
      #ebfaff 38%,
      #fcfcfc 63%,
      #ebfaff 96%
    )
    0% 0% / 100% 100% repeat;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.contacts > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .contacts > * {
    grid-column: 4;
  }
}
@media (max-width: 500px) {
  .contacts > * {
    grid-column: 4;
  }
}
@media (max-width: 350px) {
  .contacts > * {
    grid-column: 4;
  }
}
.navigationRntFooter:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
@media (max-width: 500px) {
  .navigationRntFooter:global(.__wab_instance) {
    display: flex;
  }
}
.freeBox__tdKik {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 9px 16px 1em;
}
.freeBox__wmfUa {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 10%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 1;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__wmfUa {
    z-index: 100;
  }
}
@media (max-width: 500px) {
  .freeBox__wmfUa {
    z-index: 1000000;
    display: none;
  }
}
.sideBar2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: auto;
  top: 0;
  right: 0;
}
@media (max-width: 1200px) {
  .sideBar2:global(.__wab_instance):global(.__wab_instance) {
    width: 70px;
    height: auto;
    flex-shrink: 0;
  }
}
@media (max-width: 500px) {
  .sideBar2:global(.__wab_instance):global(.__wab_instance) {
    height: auto;
  }
}
.freeBox__vVaUo {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 10%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 1;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__vVaUo {
    z-index: 100;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
  }
}
@media (max-width: 500px) {
  .freeBox__vVaUo {
    z-index: 1000000;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    display: none;
  }
}
.sidebarLite:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__ogaDu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__ogaDu {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.text__hQvko {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}
@media (max-width: 1200px) {
  .text__hQvko {
    width: 90%;
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .text__hQvko {
    width: 80%;
    font-size: 19px;
  }
}
@media (max-width: 350px) {
  .text__hQvko {
    font-size: 17px;
  }
}
.freeBox__fVt6O {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 10%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__fVt6O {
    display: none;
  }
}
.profile:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.returnButton {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #8165d6;
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
}
@media (max-width: 500px) {
  .returnButton {
    display: none;
    padding: 8px;
  }
}
.freeBox__w39Ju {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 50px;
  max-width: 20%;
  justify-content: center;
  align-items: center;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  padding: 0px;
}
@media (max-width: 1200px) {
  .freeBox__w39Ju {
    max-width: 30%;
    height: 50px;
  }
}
@media (max-width: 500px) {
  .freeBox__w39Ju {
    max-width: 90%;
    height: 60px;
  }
}
.text__neAgp {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-zy6xhYnWF8Y7);
  text-align: center;
  font-size: 20px;
  user-select: none;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__neAgp {
    font-size: 16px;
  }
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.frame {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-radius: 50px;
  padding: 21px 8px 50px;
  border-width: 2px;
}
@media (max-width: 500px) {
  .frame {
    max-width: 90%;
    margin-bottom: 0px;
    background: #fcfcfc;
    border-radius: 30px;
  }
}
@media (max-width: 350px) {
  .frame {
    max-width: 100%;
    margin-bottom: 100px;
  }
}
.contactsRow {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px 8px 0px;
}
@media (max-width: 500px) {
  .contactsRow {
    cursor: pointer;
  }
}
@media (max-width: 350px) {
  .contactsRow {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.names {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.guestName {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  min-width: 0;
}
@media (max-width: 500px) {
  .guestName {
    font-size: 16px;
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.phones {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.guestPhone {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: 17px;
  font-family: "Estedad";
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 500px) {
  .guestPhone {
    font-size: 16px;
    font-family: "Estedad";
    font-weight: 400;
  }
}
.text__s4743 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  min-width: 0;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__syTfP {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 30px 16px 70px;
}
@media (max-width: 500px) {
  .freeBox__syTfP {
    display: flex;
  }
}
.text__bBxfN {
  font-size: 15px;
}
.freeBox__hZ0Ms {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.clarityRntComponent:global(.__wab_instance) {
  display: none;
}
.faviconRntComponent:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
