.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.topContainer {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  height: auto;
  margin-bottom: 0px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.topContainer > * {
  grid-column: 4;
}
.text__qkgw {
  position: relative;
  width: 100%;
  height: 37px;
  max-width: 100%;
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: var(--token-2CXdk7410BHW);
  color: #444444;
  margin-top: 28px;
  margin-bottom: 0px;
  min-width: 0;
}
.mainSection {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  height: auto;
  max-width: 387px;
  background: #f3f3f3;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 30px;
  padding: 0px 0px 20px;
  margin: 0px 16px 16px;
}
.mainSection > * {
  grid-column: 4;
}
.properties:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__yosUl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
  display: none;
}
.text__xsnPs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.selectProperty:global(.__wab_instance) {
  max-width: 100%;
  margin-top: 27px;
  height: 35px;
  width: 100%;
  min-width: 0;
}
.text__strx4 {
  font-size: 18px;
}
.freeBox__gWfWp {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 5px;
  margin-right: 0px;
  margin-left: 15px;
  min-width: 0;
  padding: 8px;
}
.shabContainer {
  display: flex;
  position: relative;
  width: 338px;
  max-width: 100%;
  align-self: auto;
  left: auto;
  top: auto;
  z-index: 1;
  bottom: auto;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px 8px 8px;
}
.freeBox__sSoSg {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 0px;
  min-width: 0;
  padding: 8px;
}
.img__mFudq {
  object-fit: cover;
  max-width: 100%;
  width: 44px;
  height: 44px;
  object-position: 50% 50%;
  margin-left: 12px;
  flex-shrink: 0;
  border-radius: 7px;
}
.img__mFudq > picture > img {
  object-fit: cover;
  object-position: 50% 50%;
}
.text__jbz7 {
  position: relative;
  width: auto;
  height: auto;
  max-width: auto;
  font-size: 22px;
  text-align: right;
  padding-left: 0px;
}
.shabSwitch:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  margin-right: 0px;
  width: 45px;
  flex-shrink: 0;
}
.otaghakContainer {
  display: flex;
  position: relative;
  width: 338px;
  max-width: 100%;
  align-self: auto;
  left: auto;
  top: auto;
  z-index: 1;
  bottom: auto;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: none;
  opacity: 1;
  pointer-events: none;
  filter: blur(0px);
  padding: 8px 0px 8px 8px;
}
.freeBox__fMwrK {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 0px;
  min-width: 0;
  padding: 8px;
}
.img__yrAV {
  object-fit: cover;
  max-width: 100%;
  width: 44px;
  height: 44px;
  object-position: 50% 50%;
  margin-left: 12px;
  flex-shrink: 0;
  border-radius: 7px;
}
.img__yrAV > picture > img {
  object-fit: cover;
  object-position: 50% 50%;
}
.text__txOIf {
  position: relative;
  width: auto;
  height: auto;
  max-width: auto;
  font-size: 22px;
  text-align: right;
  padding-left: 0px;
}
.otaghak:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  transition-property: all;
  transition-duration: 1s;
  pointer-events: auto;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.jabamaContainer {
  display: flex;
  position: relative;
  width: 338px;
  max-width: 100%;
  align-self: auto;
  left: auto;
  top: auto;
  z-index: 1;
  bottom: auto;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  opacity: 0.5;
  cursor: not-allowed;
  padding: 8px 0px 8px 8px;
}
.freeBox__bG0B {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 0px;
  min-width: 0;
  padding: 8px;
}
.img__lelMq {
  object-fit: cover;
  max-width: 100%;
  width: 44px;
  height: 44px;
  object-position: 50% 50%;
  margin-left: 12px;
  flex-shrink: 0;
  border-radius: 7px;
}
.img__lelMq > picture > img {
  object-fit: cover;
  object-position: 50% 50%;
}
.text__ycA87 {
  position: relative;
  width: auto;
  height: auto;
  max-width: auto;
  font-size: 22px;
  text-align: right;
  padding-left: 0px;
}
.fragmentSwitch3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  margin-right: 0px;
  width: 45px;
  flex-shrink: 0;
}
.jajigaContainer {
  display: flex;
  position: relative;
  width: 338px;
  max-width: 100%;
  align-self: auto;
  left: auto;
  top: auto;
  z-index: 1;
  bottom: auto;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: none;
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
  filter: blur(0px);
  padding: 8px 0px 8px 8px;
}
.freeBox__hp34R {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 0px;
  min-width: 0;
  padding: 8px;
}
.img__kh6GL {
  object-fit: cover;
  max-width: 100%;
  width: 44px;
  height: 44px;
  object-position: 50% 50%;
  margin-left: 12px;
  flex-shrink: 0;
  border-radius: 7px;
}
.img__kh6GL > picture > img {
  object-fit: cover;
  object-position: 50% 50%;
}
.text__l6SX {
  position: relative;
  width: auto;
  height: auto;
  max-width: auto;
  font-size: 22px;
  text-align: right;
  padding-left: 0px;
}
.fragmentSwitch5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  margin-right: 0px;
  width: 45px;
  flex-shrink: 0;
}
.mizboonContainer {
  display: flex;
  position: relative;
  width: 338px;
  max-width: 100%;
  align-self: auto;
  left: auto;
  top: auto;
  z-index: 1;
  bottom: auto;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: none;
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
  filter: blur(0px);
  padding: 8px 0px 8px 8px;
}
.freeBox__ioy5M {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 0px;
  min-width: 0;
  padding: 8px;
}
.img__iu45T {
  object-fit: cover;
  max-width: 100%;
  width: 44px;
  height: 44px;
  object-position: 50% 50%;
  margin-left: 12px;
  flex-shrink: 0;
  border-radius: 7px;
}
.img__iu45T > picture > img {
  object-fit: cover;
  object-position: 50% 50%;
}
.text___1UJkO {
  position: relative;
  width: auto;
  height: auto;
  max-width: auto;
  font-size: 22px;
  text-align: right;
  padding-left: 0px;
}
.fragmentSwitch6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  margin-right: 0px;
  width: 45px;
  flex-shrink: 0;
}
.mihmanshoContainer {
  display: flex;
  position: relative;
  width: 338px;
  max-width: 100%;
  align-self: auto;
  left: auto;
  top: auto;
  z-index: 1;
  bottom: auto;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: none;
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
  filter: blur(0px);
  padding: 8px 0px 8px 8px;
}
.freeBox__wmdgx {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 0px;
  min-width: 0;
  padding: 8px;
}
.img__p9Gnf {
  object-fit: cover;
  max-width: 100%;
  width: 44px;
  height: 44px;
  object-position: 50% 50%;
  margin-left: 12px;
  flex-shrink: 0;
  border-radius: 7px;
}
.img__p9Gnf > picture > img {
  object-fit: cover;
  object-position: 50% 50%;
}
.text__pwh3K {
  position: relative;
  width: auto;
  height: auto;
  max-width: auto;
  font-size: 22px;
  text-align: right;
  padding-left: 0px;
}
.fragmentSwitch7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  margin-right: 0px;
  width: 45px;
  flex-shrink: 0;
}
.homsaContainer {
  display: flex;
  position: relative;
  width: 338px;
  max-width: 100%;
  align-self: auto;
  left: auto;
  top: auto;
  z-index: 1;
  bottom: auto;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  opacity: 0.5;
  cursor: not-allowed;
  padding: 8px 0px 8px 8px;
}
.freeBox__dEi8S {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 0px;
  min-width: 0;
  padding: 8px;
}
.img__oPsp5 {
  object-fit: cover;
  max-width: 100%;
  width: 44px;
  height: 44px;
  object-position: 50% 50%;
  margin-left: 12px;
  flex-shrink: 0;
  border-radius: 7px;
}
.img__oPsp5 > picture > img {
  object-fit: cover;
  object-position: 50% 50%;
}
.text__wuhmp {
  position: relative;
  width: auto;
  height: auto;
  max-width: auto;
  font-size: 22px;
  text-align: right;
  padding-left: 0px;
}
.fragmentSwitch4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  margin-right: 0px;
  width: 45px;
  flex-shrink: 0;
}
.freeBox___3NzG5 {
  background: var(--token-8nedppYkGVaH);
  align-items: center;
  height: 56px;
  margin-top: 40px;
  flex-direction: row;
  display: flex;
  justify-content: center;
  width: 240px;
  border-radius: 30px;
  padding: 0px;
  border-style: solid;
  border-color: var(--token-8nedppYkGVaH);
}
@media (max-width: 768px) {
  .freeBox___3NzG5 {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 40px;
    width: 214px;
    justify-content: center;
    align-items: center;
    border-width: 2px;
  }
}
.text__uDvHu {
  font-weight: 500;
  color: var(--token-_E0aXewqUuUe);
  text-align: center;
  font-size: 15px;
}
@media (max-width: 768px) {
  .text__uDvHu {
    font-size: 15px;
  }
}
.embedHtml__epNe8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.embedHtml___64Fi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
