.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-qkMXlUhOdBHU);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-Duv1ymIhszml);
  font-family: var(--token-qkywJ1sQQ-h_);
  font-size: var(--token-wq-7W0QuaGtb);
  line-height: var(--token-otgoHRDIcFGD);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-MLwBcAFWQ57Z);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-Xkcz3qrS_HH8);
  outline-offset: 1px;
  outline-color: var(--token-qkMXlUhOdBHU);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-AbIC_hEtRdi8);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-ZI5Kyok1YEWP);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-ZOf6qhi7gIGD);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-NRw9vNHBKyPo);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-pZV_D4O-0Dnd);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token--3MNZOW1SaFY);
  font-size: var(--token-li6MjHbGxIuq);
  column-gap: var(--token-Xkcz3qrS_HH8);
  row-gap: 0px;
  border-radius: var(--token-fuThMYwlrO8g);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-li6MjHbGxIuq);
  line-height: var(--token--3MNZOW1SaFY);
  column-gap: var(--token-fuThMYwlrO8g);
  row-gap: 0px;
  border-radius: var(--token-fuThMYwlrO8g);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-Ij6Cd7VyikU3);
  line-height: var(--token-_WEx3T6e0nnn);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-Ij6Cd7VyikU3);
  line-height: var(--token-_WEx3T6e0nnn);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-WVtziNGt6k4H);
  border-radius: var(--token-MLwBcAFWQ57Z);
}
.softBackgroundcolor_neutral {
  background: var(--token-i2OuW5qMuCTw);
}
.softBackgroundcolor_muted {
  background: var(--token-V6GfKFumB-_r);
}
.softBackgroundcolor_success {
  background: var(--token-6Z4_V2ffv_0Q);
}
.softBackgroundcolor_warning {
  background: var(--token-aIa8wEw_SFll);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-bO1LqjK7MCx4);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-MLwBcAFWQ57Z);
  border: 0px solid var(--token-dAT-hrQjCPpo);
}
.bordercolor_neutral {
  border-color: var(--token-nwPfwQ8MEbEO);
}
.bordercolor_muted {
  border-color: var(--token-10ljy_I8w37K);
}
.bordercolor_success {
  border-color: var(--token-Deuf6LY39rMn);
}
.bordercolor_warning {
  border-color: var(--token-Rj-4Ee5wJ9QC);
}
.bordercolor_errorDestructive {
  border-color: var(--token-Ztv5untlQ8vN);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-MLwBcAFWQ57Z);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-6F5Ff3yf8K-g);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-BTlBuJj83AA3);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-g2lieqczsor5);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox___5RLn {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-MLwBcAFWQ57Z) var(--token-rGvKy1FLZXMz);
}
.freeBox___5RLn > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-MLwBcAFWQ57Z));
  width: calc(100% + var(--token-MLwBcAFWQ57Z));
}
.freeBox___5RLn > :global(.__wab_flex-container) > *,
.freeBox___5RLn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5RLn > :global(.__wab_flex-container) > picture > img,
.freeBox___5RLn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-MLwBcAFWQ57Z);
}
.freeBoxsize_extraSmall___5RLnRxStK {
  padding: var(--token-fuThMYwlrO8g) var(--token-MLwBcAFWQ57Z);
}
.freeBoxsize_small___5RLnzUsRc {
  padding: var(--token-MLwBcAFWQ57Z) var(--token-Duv1ymIhszml);
}
.freeBoxsize_large___5RLn2Vo0U {
  padding-top: var(--token-fuThMYwlrO8g);
  padding-bottom: var(--token-fuThMYwlrO8g);
}
.freeBoxsize_extraLarge___5RLnCZnc {
  padding-left: var(--token-q7eh_H453nLB);
  padding-right: var(--token-q7eh_H453nLB);
}
.freeBoxroundedFull___5RLnUimel {
  padding-right: var(--token-q7eh_H453nLB);
  padding-left: var(--token-q7eh_H453nLB);
}
.freeBox__hdlfp {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__hdlfPdov9K {
  display: flex;
}
.slotTargetStart {
  color: var(--token-MGr1QhzWTt7l);
}
.slotTargetStartcolor_neutral {
  color: var(--token-5NYR9ZrjPPYB);
}
.slotTargetStartcolor_muted {
  color: var(--token-xl0VVyHyQS1t);
}
.slotTargetStartcolor_success {
  color: var(--token-DBwxgtfvAXy7);
}
.slotTargetStartcolor_warning {
  color: var(--token-XjjToqmk_NvO);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-e1J4WZQ_NY0g);
}
.slotTargetStarttype_soft {
  color: var(--token-ixQAh6dzIToM);
}
.slotTargetStarttype_bordered {
  color: var(--token-ixQAh6dzIToM);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-li6MjHbGxIuq);
}
.slotTargetStartsize_small {
  font-size: var(--token-li6MjHbGxIuq);
}
.slotTargetStartsize_large {
  font-size: var(--token-Ij6Cd7VyikU3);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-Ij6Cd7VyikU3);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-CRgiL9etiPcm);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-CRgiL9etiPcm);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-C9r7MuTtkbNZ);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-C9r7MuTtkbNZ);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-HyJ2UrNktZCO);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-HyJ2UrNktZCO);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-Ex7qn-QWlDWc);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-Ex7qn-QWlDWc);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-q2yPGgIMfo_f);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-q2yPGgIMfo_f);
}
.svg__fksk6 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-MGr1QhzWTt7l);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-5NYR9ZrjPPYB);
}
.slotTargetLabelcolor_muted {
  color: var(--token-xl0VVyHyQS1t);
}
.slotTargetLabelcolor_success {
  color: var(--token-DBwxgtfvAXy7);
}
.slotTargetLabelcolor_warning {
  color: var(--token-XjjToqmk_NvO);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-e1J4WZQ_NY0g);
}
.slotTargetLabeltype_soft {
  color: var(--token-ixQAh6dzIToM);
}
.slotTargetLabeltype_bordered {
  color: var(--token-ixQAh6dzIToM);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-CRgiL9etiPcm);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-C9r7MuTtkbNZ);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-CRgiL9etiPcm);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-HyJ2UrNktZCO);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-C9r7MuTtkbNZ);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-Ex7qn-QWlDWc);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-HyJ2UrNktZCO);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-q2yPGgIMfo_f);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-Ex7qn-QWlDWc);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-q2yPGgIMfo_f);
}
.text__lxhWh {
  white-space: pre;
}
.freeBox__vW0Os {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__vW0OsGrXvW {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-MGr1QhzWTt7l);
}
.slotTargetEndcolor_neutral {
  color: var(--token-5NYR9ZrjPPYB);
}
.slotTargetEndcolor_muted {
  color: var(--token-xl0VVyHyQS1t);
}
.slotTargetEndcolor_success {
  color: var(--token-DBwxgtfvAXy7);
}
.slotTargetEndcolor_warning {
  color: var(--token-XjjToqmk_NvO);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-e1J4WZQ_NY0g);
}
.slotTargetEndtype_soft {
  color: var(--token-ixQAh6dzIToM);
}
.slotTargetEndtype_bordered {
  color: var(--token-ixQAh6dzIToM);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-li6MjHbGxIuq);
}
.slotTargetEndsize_small {
  font-size: var(--token-li6MjHbGxIuq);
}
.slotTargetEndsize_large {
  font-size: var(--token-Ij6Cd7VyikU3);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-Ij6Cd7VyikU3);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-CRgiL9etiPcm);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-CRgiL9etiPcm);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-C9r7MuTtkbNZ);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-C9r7MuTtkbNZ);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-HyJ2UrNktZCO);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-HyJ2UrNktZCO);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-Ex7qn-QWlDWc);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-Ex7qn-QWlDWc);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-q2yPGgIMfo_f);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-q2yPGgIMfo_f);
}
.svg__zolIf {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
