.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.ebmedHtml {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  margin-bottom: 10px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 20px 8px 8px;
}
.goftino:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.clarity:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.guide {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.step0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-8nedppYkGVaH);
  font-weight: 600;
  font-size: 18px;
  text-align: right;
  min-width: 0;
}
@media (max-width: 768px) {
  .step0 {
    font-weight: 600;
  }
}
.step1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-8nedppYkGVaH);
  font-weight: 600;
  font-size: 18px;
  text-align: right;
  min-width: 0;
}
@media (max-width: 768px) {
  .step1 {
    font-weight: 600;
  }
}
.step21 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-8nedppYkGVaH);
  font-weight: 600;
  font-size: 18px;
  text-align: right;
  min-width: 0;
}
@media (max-width: 768px) {
  .step21 {
    font-weight: 600;
  }
}
.step22 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  padding-top: 10px;
  color: #203647;
  min-width: 0;
}
.selfRegisterForm:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  justify-self: flex-start;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
@media (max-width: 768px) {
  .selfRegisterForm:global(.__wab_instance) {
    font-size: 14px;
    line-height: 1.7em;
  }
}
.freeBox___00Tik {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  padding: 8px;
}
.formField__n4CnG:global(.__wab_instance) {
  width: 100%;
  font-size: 14px;
  color: #203647;
  min-width: 0;
}
.text__dbRga {
  color: #203647;
}
@media (max-width: 768px) {
  .text__dbRga {
    font-size: 14px;
  }
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField___7OYh:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  font-size: 14px;
  min-width: 0;
  border-radius: 30px;
}
@media (max-width: 768px) {
  .text__lejFp {
    font-size: 14px;
  }
}
.input2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__m8Olh {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 42px;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.button__duNdL:global(.__wab_instance) {
  object-fit: cover;
  text-align: center;
  color: #fcfcfc;
  background: var(--token-8nedppYkGVaH);
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  right: auto;
  max-width: 50%;
  min-width: 0;
  border-radius: 30px;
}
.text__nvWj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  min-width: 0;
}
.freeBox___5PCl3 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.formField__evMvf:global(.__wab_instance) {
  width: 100%;
  font-size: 14px;
  min-width: 0;
}
.input4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__txoxl:global(.__wab_instance) {
  width: 100%;
  font-size: 14px;
  min-width: 0;
}
.input3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___6W7X {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.button__hn2N6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  text-align: center;
  color: #fcfcfc;
  background: var(--token-8nedppYkGVaH);
  align-self: center;
  width: 100%;
  min-width: 0;
  border-radius: 30px;
}
.text__eBCq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  align-self: center;
  font-size: 14px;
  min-width: 0;
}
.button__kyqvN:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  text-align: center;
  color: #fcfcfc;
  position: relative;
  left: auto;
  top: auto;
  background: #ffffff73;
  margin-right: 20px;
  width: 100%;
  font-size: 14px;
  min-width: 0;
  border-radius: 30px;
  border: 2px solid var(--token-8nedppYkGVaH);
}
.text__mLYk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-8nedppYkGVaH);
  min-width: 0;
}
.freeBox__zXuXc {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  padding: 8px;
}
.jabamaFormField:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  font-size: 14px;
  min-width: 0;
}
.input6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.jajigaFormField:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  font-size: 14px;
  min-width: 0;
}
.input12:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.shabFormField:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  font-size: 14px;
  min-width: 0;
}
.input7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.mizboonFormField:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  font-size: 14px;
  min-width: 0;
}
.input8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.otaghakFormField:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  font-size: 14px;
  min-width: 0;
}
.input9:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.mihmanshoFormField:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  font-size: 14px;
  min-width: 0;
}
.input10:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.homsaFormField:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  font-size: 14px;
  min-width: 0;
}
.input11:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__zmsVb {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button___5DlMs:global(.__wab_instance) {
  max-width: auto;
  object-fit: cover;
  text-align: center;
  color: #fcfcfc;
  background: var(--token-8nedppYkGVaH);
  width: 100%;
  font-size: 14px;
  min-width: 0;
  border-radius: 30px;
}
.text__ediWh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.button___7ONBb:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  text-align: center;
  color: #fcfcfc;
  background: #ffffff00;
  margin-right: 10px;
  width: 100%;
  min-width: 0;
  border-radius: 30px;
  border: 2px solid var(--token-8nedppYkGVaH);
}
.text__pdn82 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-8nedppYkGVaH);
  font-size: 14px;
  min-width: 0;
}
.hintbutton {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  height: 69px;
  display: none !important;
}
.hintbutton > picture > img {
  object-fit: cover;
}
.hintpic {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  height: 389px;
  width: 638px;
  display: none !important;
}
.hintpic > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .hintpic {
    width: auto;
  }
}
