.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.main {
  animation: none;
  display: flex;
  flex-direction: column;
  width: 420px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  position: relative;
  padding: 8px;
}
@media (max-width: 500px) {
  .main {
    animation: none;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__qPh1L {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 400px;
  justify-content: flex-start;
  align-items: center;
  background: #fcfcfc;
  align-self: stretch;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
@media (max-width: 500px) {
  .freeBox__qPh1L {
    animation: none;
    max-width: none;
    margin-top: 0px;
  }
}
.freeBox__de6Fk {
  animation: none;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  outline-style: dashed;
  outline-color: #e8e8e8;
  min-width: 0;
  display: none;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__dGt4W {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.profile2:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
@media (max-width: 1200px) {
  .profile2:global(.__wab_instance) {
    animation: none;
  }
}
@media (max-width: 500px) {
  .profile2:global(.__wab_instance) {
    animation: none;
  }
}
@media (max-width: 350px) {
  .profile2:global(.__wab_instance) {
    animation: none;
  }
}
.freeBox__ef0Yb {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  outline-color: #f70000;
  min-width: 0;
  padding: 8px;
}
.freeBox__lTjJa {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 70px;
  height: 70px;
  max-width: 100%;
  flex-shrink: 0;
  padding: 8px;
}
.img {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  border-radius: 100px;
}
.img > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img {
    animation: none;
  }
}
.freeBox__eznaN {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 30%;
  min-width: 0;
  padding: 8px;
}
.text__tGCaP {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__tGCaP {
    animation: none;
    text-align: right;
  }
}
.freeBox__aTjQc {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__juF9I {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  text-align: center;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__juF9I {
    animation: none;
    text-align: right;
  }
}
.apiRequest2:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.freeBox__yBaL {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 400px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  z-index: 1;
  align-self: stretch;
  background: #fcfcfc;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__yBaL {
    animation: none;
    width: 100%;
    min-width: 0;
  }
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__yEdBu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__sivcu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.embedHtml__qCmh3:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  text-align: center;
  min-width: 0;
}
.freeBox__bIzk {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox___2EUy1 {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.embedHtml__mojIr:global(.__wab_instance) {
  animation: none;
  width: 100%;
  min-width: 0;
}
.freeBox__xxCI {
  animation: none;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 0px;
}
.embedHtml__kdlpG:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
@media (max-width: 500px) {
  .embedHtml__kdlpG:global(.__wab_instance) {
    animation: none;
  }
}
