.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-_99O3VEc3efL);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-DcnioIjdd9m-);
  font-family: var(--token-ih3LuGfrh1Iv);
  font-size: var(--token-WL6Onb1OauXY);
  line-height: var(--token-Bh61bl8BUeSZ);
  outline-style: none;
  border-radius: var(--token-uCUS3GESqxeX);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-SNlTBmQEdnqq);
  outline-offset: 1px;
  outline-color: var(--token-_99O3VEc3efL);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-mkcoJCny8QKh);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-yZzL4aFHTnX3);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-NWRa7qt5hhuG);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-hFi5ak_gjEQ0);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-QaDdsrDfuFSi);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-N5oSfksymi6C);
  font-size: var(--token-dko2rCa6WstR);
  column-gap: var(--token-SNlTBmQEdnqq);
  row-gap: 0px;
  border-radius: var(--token-ckeWLU3w6YGt);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-dko2rCa6WstR);
  line-height: var(--token-N5oSfksymi6C);
  column-gap: var(--token-ckeWLU3w6YGt);
  row-gap: 0px;
  border-radius: var(--token-ckeWLU3w6YGt);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-bF2eLr8JuIAv);
  line-height: var(--token-OpKQr7WDyXym);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-bF2eLr8JuIAv);
  line-height: var(--token-OpKQr7WDyXym);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-dtcu0frQyqYb);
  border-radius: var(--token-uCUS3GESqxeX);
}
.softBackgroundcolor_neutral {
  background: var(--token-xCSh1ckHamH8);
}
.softBackgroundcolor_muted {
  background: var(--token-XlcLbs0TiBL_);
}
.softBackgroundcolor_success {
  background: var(--token-FZSvmtgicAq_);
}
.softBackgroundcolor_warning {
  background: var(--token-vIu56gYyGCdB);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-IkBK2njL8TKe);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-uCUS3GESqxeX);
  border: 0px solid var(--token-XG3HudZkgVvU);
}
.bordercolor_neutral {
  border-color: var(--token-8C7Y93Uavzly);
}
.bordercolor_muted {
  border-color: var(--token-ADFrR9Us_0y8);
}
.bordercolor_success {
  border-color: var(--token-997lM9mY9ty5);
}
.bordercolor_warning {
  border-color: var(--token-TDZGN93Lp_Ya);
}
.bordercolor_errorDestructive {
  border-color: var(--token-OvCY_mWyOJhK);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-uCUS3GESqxeX);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-IwDBpepa2MZg);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-HgSvgVzt49Qw);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-g_DyTNQVFO4K);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__yjYV {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-uCUS3GESqxeX) var(--token-cFw655g_iM8W);
}
.freeBox__yjYV > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-uCUS3GESqxeX));
  width: calc(100% + var(--token-uCUS3GESqxeX));
}
.freeBox__yjYV > :global(.__wab_flex-container) > *,
.freeBox__yjYV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yjYV > :global(.__wab_flex-container) > picture > img,
.freeBox__yjYV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-uCUS3GESqxeX);
}
.freeBoxsize_extraSmall__yjYVZlayk {
  padding: var(--token-ckeWLU3w6YGt) var(--token-uCUS3GESqxeX);
}
.freeBoxsize_small__yjYVtTcb0 {
  padding: var(--token-uCUS3GESqxeX) var(--token-DcnioIjdd9m-);
}
.freeBoxsize_large__yjYVl7DUm {
  padding-top: var(--token-ckeWLU3w6YGt);
  padding-bottom: var(--token-ckeWLU3w6YGt);
}
.freeBoxsize_extraLarge__yjYVkdHsw {
  padding-left: var(--token-oMeWZKIFd5gO);
  padding-right: var(--token-oMeWZKIFd5gO);
}
.freeBoxroundedFull__yjYVYhwry {
  padding-right: var(--token-oMeWZKIFd5gO);
  padding-left: var(--token-oMeWZKIFd5gO);
}
.freeBox__wEWdy {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__wEWdymHx4O {
  display: flex;
}
.slotTargetStart {
  color: var(--token-MxormmDr3U7P);
}
.slotTargetStartcolor_neutral {
  color: var(--token-qe8fOYk-z6T9);
}
.slotTargetStartcolor_muted {
  color: var(--token-Y7DmqdUKDsy1);
}
.slotTargetStartcolor_success {
  color: var(--token-ehka90dKG18-);
}
.slotTargetStartcolor_warning {
  color: var(--token-kbWMYj-RZgHU);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-Y_edo8SiE5yL);
}
.slotTargetStarttype_soft {
  color: var(--token-563A_l2pSiqE);
}
.slotTargetStarttype_bordered {
  color: var(--token-563A_l2pSiqE);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-dko2rCa6WstR);
}
.slotTargetStartsize_small {
  font-size: var(--token-dko2rCa6WstR);
}
.slotTargetStartsize_large {
  font-size: var(--token-bF2eLr8JuIAv);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-bF2eLr8JuIAv);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-HXLEp1hg0rF0);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-HXLEp1hg0rF0);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-jUo_6wxJ3tRQ);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-jUo_6wxJ3tRQ);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-FXSivDYCT9rs);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-FXSivDYCT9rs);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-jfbz5fIzvYHh);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-jfbz5fIzvYHh);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-snw3LqBgW2fK);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-snw3LqBgW2fK);
}
.svg__fMby6 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-MxormmDr3U7P);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-qe8fOYk-z6T9);
}
.slotTargetLabelcolor_muted {
  color: var(--token-Y7DmqdUKDsy1);
}
.slotTargetLabelcolor_success {
  color: var(--token-ehka90dKG18-);
}
.slotTargetLabelcolor_warning {
  color: var(--token-kbWMYj-RZgHU);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-Y_edo8SiE5yL);
}
.slotTargetLabeltype_soft {
  color: var(--token-563A_l2pSiqE);
}
.slotTargetLabeltype_bordered {
  color: var(--token-563A_l2pSiqE);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-HXLEp1hg0rF0);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-jUo_6wxJ3tRQ);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-HXLEp1hg0rF0);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-FXSivDYCT9rs);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-jUo_6wxJ3tRQ);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-jfbz5fIzvYHh);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-FXSivDYCT9rs);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-snw3LqBgW2fK);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-jfbz5fIzvYHh);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-snw3LqBgW2fK);
}
.text__c5Dka {
  white-space: pre;
}
.freeBox__q8PQa {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__q8PQay62VO {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-MxormmDr3U7P);
}
.slotTargetEndcolor_neutral {
  color: var(--token-qe8fOYk-z6T9);
}
.slotTargetEndcolor_muted {
  color: var(--token-Y7DmqdUKDsy1);
}
.slotTargetEndcolor_success {
  color: var(--token-ehka90dKG18-);
}
.slotTargetEndcolor_warning {
  color: var(--token-kbWMYj-RZgHU);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-Y_edo8SiE5yL);
}
.slotTargetEndtype_soft {
  color: var(--token-563A_l2pSiqE);
}
.slotTargetEndtype_bordered {
  color: var(--token-563A_l2pSiqE);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-dko2rCa6WstR);
}
.slotTargetEndsize_small {
  font-size: var(--token-dko2rCa6WstR);
}
.slotTargetEndsize_large {
  font-size: var(--token-bF2eLr8JuIAv);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-bF2eLr8JuIAv);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-HXLEp1hg0rF0);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-HXLEp1hg0rF0);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-jUo_6wxJ3tRQ);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-jUo_6wxJ3tRQ);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-FXSivDYCT9rs);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-FXSivDYCT9rs);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-jfbz5fIzvYHh);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-jfbz5fIzvYHh);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-snw3LqBgW2fK);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-snw3LqBgW2fK);
}
.svg__dSaQ {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
