.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: linear-gradient(
      40deg,
      #fcfcfc 0%,
      #ebfaff 38%,
      #fcfcfc 63%,
      #ebfaff 96%
    )
    0% 0% / 100% 100% repeat;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 500px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 350px) {
  .root {
    padding-top: 0px;
    background: linear-gradient(
      50deg,
      #b5d2e7 0%,
      #cee1f1 24%,
      #fcfcfc 47%,
      #d6ebfa 78%,
      #fcfcfc 96%
    );
  }
}
@media (max-width: 350px) {
  .root > * {
    grid-column: 4;
  }
}
.header {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
  padding: 9px 16px 0em;
}
@media (max-width: 500px) {
  .header {
    display: none;
  }
}
.freeBox___0Vc5O {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 10%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 1;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox___0Vc5O {
    z-index: 100;
  }
}
@media (max-width: 500px) {
  .freeBox___0Vc5O {
    z-index: 1000000;
    display: none;
  }
}
@media (max-width: 350px) {
  .freeBox___0Vc5O {
    display: none;
  }
}
.sideBar2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: auto;
  top: 0;
  right: 0;
}
@media (max-width: 1200px) {
  .sideBar2:global(.__wab_instance):global(.__wab_instance) {
    width: 70px;
    height: auto;
  }
}
@media (max-width: 500px) {
  .sideBar2:global(.__wab_instance):global(.__wab_instance) {
    height: auto;
  }
}
.freeBox__b23Pz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__b23Pz {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.profile2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.mainContents {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(0deg, #e9fbff 2%, #cef3fc 21%, #8fd5e7 80%) 0%
    0% / 100% 100% repeat;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 102px;
}
@media (max-width: 1200px) {
  .mainContents {
    max-width: 100%;
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 500px) {
  .mainContents {
    background: linear-gradient(0deg, #e9fbff 2%, #cef3fc 21%, #8fd5e7 80%) 0%
      0% / 100% 100% repeat;
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    padding: 0px 12px;
  }
}
@media (max-width: 350px) {
  .mainContents {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox__znTaS {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 12px;
}
@media (max-width: 500px) {
  .freeBox__znTaS {
    padding-top: 0px;
  }
}
.freeBox__dOzRb {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 110px 8px 30px;
}
@media (max-width: 500px) {
  .freeBox__dOzRb {
    padding-bottom: 23px;
    padding-top: 100px;
  }
}
.text___5Ykxc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text___5Ykxc {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .text___5Ykxc {
    font-size: 18px;
    padding-top: 0px;
    color: #203647;
    font-weight: 700;
  }
}
@media (max-width: 350px) {
  .text___5Ykxc {
    font-size: 16px;
  }
}
.link {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  background: none;
  min-width: 0;
  border-radius: 50px;
  padding: 0px 0px 40px;
}
@media (max-width: 1200px) {
  .link {
    animation: none;
    align-items: center;
    justify-content: flex-start;
    padding-top: 24px;
  }
}
@media (max-width: 500px) {
  .link {
    animation: none;
    padding-top: 15px;
    border-radius: 0px;
  }
}
@media (max-width: 350px) {
  .link {
    animation: none;
    padding-top: 3px;
  }
}
.downloadLinks {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  min-width: 0;
  padding: 20px 0px 8px;
}
@media (max-width: 1200px) {
  .downloadLinks {
    animation: none;
    max-width: 96%;
  }
}
@media (max-width: 500px) {
  .downloadLinks {
    animation: none;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    padding-top: 5px;
    row-gap: 0px;
  }
}
@media (max-width: 350px) {
  .downloadLinks {
    animation: none;
    max-width: 80%;
  }
}
.directDl {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 220px;
  justify-content: center;
  align-items: center;
  background: var(--token-8nedppYkGVaH);
  min-height: 64px;
  max-height: 60px;
  cursor: pointer;
  min-width: 0;
  border-radius: 100px;
  padding: 0px 4px 2px;
  margin: 0px;
}
@media (max-width: 1200px) {
  .directDl {
    animation: none;
    height: auto;
    opacity: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    max-height: none;
    row-gap: 0px;
  }
}
@media (max-width: 500px) {
  .directDl {
    animation: none;
    max-width: 50%;
    margin-left: 0px;
    padding: 0px;
  }
}
@media (max-width: 350px) {
  .directDl {
    animation: none;
  }
}
.text {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 70%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px 0px 8px 8px;
}
@media (max-width: 500px) {
  .text {
    animation: none;
    width: 60%;
  }
}
.text__nBqy {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #fcfcfc;
  font-size: 17px;
  line-height: 1.3;
  font-weight: 600;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__nBqy {
    animation: none;
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text__nBqy {
    animation: none;
    font-size: 17px;
  }
}
.myket {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 220px;
  justify-content: center;
  align-items: center;
  background: var(--token-q2yPGgIMfo_f);
  min-height: 64px;
  max-height: 60px;
  opacity: 1;
  cursor: pointer;
  min-width: 0;
  border-radius: 100px;
  padding: 0px 4px 2px;
  margin: 0px;
}
@media (max-width: 1200px) {
  .myket {
    animation: none;
    width: 100%;
    height: auto;
    min-height: 64px;
    max-width: 220px;
    max-height: none;
    background: var(--token-8nedppYkGVaH);
    opacity: 1;
    cursor: pointer;
    row-gap: 0px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    border-radius: 100px;
    padding: 0px 4px 2px;
    margin: 0px;
  }
}
@media (max-width: 500px) {
  .myket {
    animation: none;
    width: 100%;
    height: auto;
    min-height: 64px;
    max-width: 50%;
    max-height: none;
    background: var(--token-q2yPGgIMfo_f);
    opacity: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    row-gap: 0px;
    column-gap: 0px;
    min-width: 0;
    border-radius: 100px;
    padding: 0px;
    margin: 0px;
  }
}
@media (max-width: 350px) {
  .myket {
    animation: none;
  }
}
.text__tFb5U {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #fcfcfc;
  font-size: 17px;
  line-height: 1.3;
  font-weight: 600;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__tFb5U {
    animation: none;
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text__tFb5U {
    animation: none;
    font-size: 17px;
  }
}
.rentamonFooter:global(.__wab_instance) {
  max-width: 100%;
}
.navbarRntFooter:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
@media (max-width: 500px) {
  .navbarRntFooter:global(.__wab_instance) {
    display: none;
  }
}
.freeBox__kNtFb {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
.clarityRntComponent:global(.__wab_instance) {
  display: none;
}
.faviconRntComponent:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
