.root {
  display: grid;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(
    24.372810125751016deg,
    #ebfaff 0%,
    #fcfcfc 20%,
    #ebfaff 39%,
    #fcfcfc 74%,
    #ebfaff 100%
  );
  position: relative;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 500px) {
  .root {
    background: linear-gradient(
      24deg,
      #ebfaff80 0%,
      #fcfcfc 20%,
      #ebfaff80 39%,
      #fcfcfc 74%,
      #ebfaff 100%
    );
  }
}
@media (max-width: 500px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 350px) {
  .root {
    justify-items: center;
    align-content: flex-start;
  }
}
@media (max-width: 350px) {
  .root > * {
    grid-column: 4;
  }
}
.sideEffect__tZb7N:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.sideEffect__rNtx8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.sideEffect___0HEm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.header2 {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  left: auto;
  top: 0;
  right: 0;
  justify-self: flex-start;
  z-index: 1;
  padding: 0em 8px 1em;
}
@media (max-width: 1200px) {
  .header2 {
    top: 0;
    right: 0;
  }
}
@media (max-width: 500px) {
  .header2 {
    display: none;
  }
}
.sideBar2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: auto;
  top: 0;
  right: 0;
}
@media (max-width: 1200px) {
  .sideBar2:global(.__wab_instance):global(.__wab_instance) {
    width: 70px;
    height: auto;
    flex-shrink: 0;
  }
}
@media (max-width: 500px) {
  .sideBar2:global(.__wab_instance):global(.__wab_instance) {
    height: auto;
    align-self: flex-end;
  }
}
.freeBox__w7TBq {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 10%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__w7TBq {
    display: none;
  }
}
.profile2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.alertModal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__th0Xo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 0px;
}
.freeBox__osHy {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.img__vxfFc {
  object-fit: cover;
  max-width: 100%;
  width: 16px;
  flex-shrink: 0;
}
.img__vxfFc > picture > img {
  object-fit: cover;
}
.freeBox___8Wqja {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 0px 11px;
}
.freeBox___0AZ0C {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 0px 14px;
}
@media (max-width: 1200px) {
  .freeBox___0AZ0C {
    padding-top: 0px;
    padding-bottom: 17px;
  }
}
@media (max-width: 500px) {
  .freeBox___0AZ0C {
    padding-bottom: 15px;
  }
}
@media (max-width: 350px) {
  .freeBox___0AZ0C {
    padding-bottom: 0px;
    padding-top: 0px;
  }
}
.text__bvehK {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  text-align: center;
  font-size: 16px;
  padding-bottom: 0px;
  line-height: 2;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__bvehK {
    padding-top: 0px;
  }
}
@media (max-width: 500px) {
  .text__bvehK {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__bvehK {
    font-size: 15px;
  }
}
.text__n07Kg {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 12px;
  text-align: center;
  font-size: 16px;
  padding-bottom: 0px;
  line-height: 2;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__n07Kg {
    padding-top: 0px;
  }
}
@media (max-width: 500px) {
  .text__n07Kg {
    font-size: 16px;
    padding-top: 9px;
  }
}
@media (max-width: 350px) {
  .text__n07Kg {
    font-size: 15px;
    padding-top: 13px;
  }
}
.freeBox__fnmGc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .freeBox__fnmGc {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 13px;
  }
}
.freeBox__wG5YE {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(22.025817115616064deg, #473776 0%, #0000b7 61%) 0%
    0% / 100% 100% repeat;
  cursor: pointer;
  min-width: 0;
  border-radius: 100px;
  padding: 14px 0px;
}
@media (max-width: 500px) {
  .freeBox__wG5YE {
    align-items: center;
    justify-content: center;
    background: linear-gradient(22.025817115616064deg, #473776 0%, #0000b7 61%)
      0% 0% / 100% 100% repeat;
    width: 100%;
    height: auto;
    max-width: 100%;
    cursor: pointer;
    flex-direction: column;
    column-gap: 0px;
    min-width: 0;
    border-radius: 100px;
    padding: 14px 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__wG5YE {
    padding-bottom: 12px;
    padding-top: 12px;
  }
}
.text__yI1Y {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  text-align: center;
  font-size: 15px;
  padding-bottom: 0px;
  color: var(--token-8R7jjC_-F9FF);
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__yI1Y {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__yI1Y {
    font-size: 14px;
  }
}
.button:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.svg__ehuKm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__kjb22 {
  font-weight: 600;
  font-size: 17px;
  padding-top: 0px;
  color: #fcfcfc;
}
@media (max-width: 500px) {
  .text__kjb22 {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__kjb22 {
    font-size: 15px;
  }
}
.svg__fGsHf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__b7YLz {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #f8f8f8;
  min-width: 0;
  display: none;
  padding: 8px;
}
.img__gKdHp {
  object-fit: cover;
  max-width: 100%;
  height: 20px;
  left: 0;
  top: 0;
  z-index: 1;
  position: absolute;
  flex-shrink: 0;
}
.img__gKdHp > picture > img {
  object-fit: cover;
}
.headerMobileNew {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 90px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 0px;
}
@media (max-width: 500px) {
  .headerMobileNew {
    width: 100%;
    background: none;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    min-height: 0;
    padding: 4px 0px;
  }
}
@media (max-width: 350px) {
  .headerMobileNew {
    padding-top: 4px;
  }
}
.header {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 0;
  min-height: 0;
  padding: 0px 0px 0px 12px;
}
@media (max-width: 1200px) {
  .header {
    padding-right: 0px;
    width: 100%;
    padding-left: 0px;
    min-width: 0;
  }
}
@media (max-width: 500px) {
  .header {
    justify-content: center;
    align-items: flex-end;
    padding: 0px 6px 4px 4px;
  }
}
@media (max-width: 350px) {
  .header {
    padding: 0px 4px 4px;
  }
}
.right {
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: column-reverse;
  align-items: stretch;
  justify-content: space-between;
  z-index: 15;
  min-width: 0;
  padding: 0px 8px;
}
@media (max-width: 1200px) {
  .right {
    max-width: 78%;
    padding-right: 10px;
  }
}
@media (max-width: 500px) {
  .right {
    padding-left: 4px;
    padding-right: 0px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    row-gap: 0px;
  }
}
.newHeader {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 2px 8px;
}
@media (max-width: 1200px) {
  .newHeader {
    padding-right: 0px;
  }
}
@media (max-width: 500px) {
  .newHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    row-gap: 0px;
    padding: 0px;
  }
}
@media (max-width: 350px) {
  .newHeader {
    justify-content: center;
    align-items: center;
  }
}
.r1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 70%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  border-radius: 12px;
  padding: 0px 0px 0px 2px;
}
@media (max-width: 1200px) {
  .r1 {
    max-width: none;
  }
}
@media (max-width: 500px) {
  .r1 {
    align-items: flex-start;
    justify-content: center;
    background: #fcfcfc;
  }
}
.select2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  margin-bottom: 0px;
  min-width: 0;
}
@media (max-width: 500px) {
  .select2:global(.__wab_instance) {
    width: 100%;
    position: relative;
    left: auto;
    top: auto;
    align-self: flex-start;
    z-index: 1;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .select2:global(.__wab_instance) {
    left: auto;
    top: auto;
    width: 100%;
    min-width: 0;
  }
}
.text__hz4Ln {
  font-weight: 400;
}
@media (max-width: 500px) {
  .text__hz4Ln {
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .text__hz4Ln {
    font-size: 17px;
  }
}
.r2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 20%;
  justify-content: flex-end;
  align-items: flex-end;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1200px) {
  .r2 {
    max-width: 24%;
    display: flex;
  }
}
@media (max-width: 500px) {
  .r2 {
    max-width: 16%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}
@media (max-width: 350px) {
  .r2 {
    max-width: 14%;
    padding-right: 2px;
  }
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.img__lrd6I {
  object-fit: cover;
  max-width: 100%;
  height: 34px;
  cursor: pointer;
}
.img__lrd6I > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__lrd6I {
    height: 30px;
  }
}
@media (max-width: 350px) {
  .img__lrd6I {
    height: 26px;
    max-width: 100%;
  }
}
.img__kXy9 {
  object-fit: cover;
  max-width: 100%;
  height: 34px;
  cursor: pointer;
}
.img__kXy9 > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__kXy9 {
    height: 30px;
    max-width: 100%;
  }
}
@media (max-width: 350px) {
  .img__kXy9 {
    height: 26px;
  }
}
.img__vg0SX {
  object-fit: cover;
  max-width: 100%;
  height: 34px;
}
.img__vg0SX > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__vg0SX {
    height: 30px;
    max-width: 100%;
  }
}
@media (max-width: 350px) {
  .img__vg0SX {
    height: 26px;
  }
}
.right2 {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  left: auto;
  top: auto;
  min-width: 0;
  display: none;
  padding: 0px 0px 0px 8px;
}
@media (max-width: 500px) {
  .right2 {
    padding-left: 0px;
    padding-top: 0px;
    left: auto;
    top: auto;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    display: none;
  }
}
.left {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
@media (max-width: 1200px) {
  .left {
    padding-top: 0px;
    width: 26%;
    align-items: flex-end;
    justify-content: center;
    padding-left: 12px;
  }
}
@media (max-width: 500px) {
  .left {
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    align-items: flex-end;
    justify-content: space-between;
    width: auto;
  }
}
@media (max-width: 350px) {
  .left {
    padding-top: 0px;
    width: auto;
    padding-right: 2px;
    align-items: stretch;
    flex-shrink: 1;
    flex-grow: 0;
    justify-content: space-between;
  }
}
.image {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 80px;
  max-width: 120px;
  justify-content: flex-start;
  align-items: center;
  max-height: 80px;
  min-width: 120px;
  overflow: hidden;
  padding-bottom: 2px;
  padding-top: 2px;
  left: auto;
  top: auto;
  flex-shrink: 0;
  border-radius: 15px;
}
@media (max-width: 1200px) {
  .image {
    justify-content: space-between;
    height: 70px;
    max-height: 70px;
    flex-shrink: 0;
  }
}
@media (max-width: 500px) {
  .image {
    width: 88px;
    min-width: 88px;
    max-width: 88px;
    height: 60px;
    min-height: 60px;
    max-height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
  }
}
@media (max-width: 350px) {
  .image {
    width: 90px;
    min-width: 90px;
    max-width: 90px;
    height: 60px;
    max-height: 60px;
    min-height: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    column-gap: 0px;
    flex-shrink: 0;
    border-radius: 15px;
  }
}
.img__mGbB3 {
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  height: 80px;
  min-width: 120px;
  max-width: 120px;
  max-height: 80px;
  padding-top: 2px;
  padding-bottom: 2px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  border-radius: 15px;
}
.img__mGbB3 > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__mGbB3 {
    height: 70px;
    min-height: 70px;
    max-height: 70px;
    width: 120px;
    min-width: 120px;
    max-width: 120px;
    object-fit: cover;
    flex-shrink: 0;
  }
}
@media (max-width: 1200px) {
  .img__mGbB3 > picture > img {
    object-fit: cover;
  }
}
@media (max-width: 500px) {
  .img__mGbB3 {
    width: 88px;
    height: 60px;
    min-width: 88px;
    max-width: 88px;
    max-height: 60px;
    min-height: 60px;
    padding-top: 2px;
    padding-bottom: 2px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    column-gap: 0px;
    flex-shrink: 0;
    border-radius: 10px;
  }
}
@media (max-width: 350px) {
  .img__mGbB3 {
    width: 90px;
    height: 60px;
    min-width: 90px;
    max-width: 90px;
    min-height: 60px;
    max-height: 60px;
    flex-shrink: 0;
    border-radius: 15px;
  }
}
.freeBox___41KqP {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  border-radius: 21px;
  border: 2px solid var(--token-8nedppYkGVaH);
}
.text__mvHZu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  color: var(--token-8nedppYkGVaH);
  text-align: center;
  min-width: 0;
}
.profile:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__x80Vo {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.freeBox__kTFy9 {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 380px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  z-index: 10;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
.freeBox__pol7D {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  top: auto;
  left: auto;
  z-index: 10;
  min-width: 0;
  padding: 8px;
}
.freeBox__xHsc {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-qkMXlUhOdBHU);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 8px;
}
.text__aDxd9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  color: var(--token-8R7jjC_-F9FF);
  z-index: 50;
  min-width: 0;
  padding: 8px 8px 14px;
}
@media (max-width: 500px) {
  .text__aDxd9 {
    font-size: 16px;
  }
}
.freeBox__zrVRm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 98%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  cursor: pointer;
  min-width: 0;
  border-radius: 30px;
  padding: 4px 8px;
  border: 2px solid var(--token-8R7jjC_-F9FF);
}
.text__crcF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 15px;
  color: var(--token-8R7jjC_-F9FF);
  z-index: 15;
  min-width: 0;
  padding: 3px;
}
.calendar2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  z-index: 8;
  min-width: 0;
}
@media (max-width: 500px) {
  .calendar2:global(.__wab_instance) {
    width: 100%;
    max-width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__jofXz {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 550px;
  max-width: 600px;
  justify-content: flex-start;
  align-items: center;
  z-index: 1000000000;
  left: 0;
  top: auto;
  position: absolute;
  margin-bottom: 0px;
  bottom: 0;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__jofXz {
    left: auto;
    top: auto;
    position: relative;
    bottom: auto;
  }
}
.aiAgentIframe:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  filter: none;
  border-radius: 15px;
}
.freeBox__iuRwe {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  left: 0px;
  top: 0px;
  min-width: 0;
  padding: 8px;
}
.img__k6U2L {
  position: absolute;
  left: 22px;
  top: 20px;
  cursor: pointer;
  transition-duration: 1s;
  transition-property: all;
  width: 34px;
  max-width: 100%;
  object-fit: cover;
  height: 34px;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.img__k6U2L > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__k6U2L {
    width: 20px;
  }
}
@media (max-width: 500px) {
  .img__k6U2L {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
  }
}
.freeBox__hlXr {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  cursor: auto;
  justify-self: flex-start;
  left: auto;
  top: auto;
  position: relative;
  opacity: 1;
  z-index: 1;
  right: auto;
  bottom: auto;
  border-radius: 30px;
  padding: 1rem;
}
.img__okyVc {
  object-fit: cover;
  max-width: 100%;
  align-self: flex-end;
  width: 60px;
  cursor: pointer;
  opacity: 1;
  border-radius: 10px;
}
.img__okyVc > picture > img {
  object-fit: cover;
}
.spacerDontTouch {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-height: 70px;
  max-height: 70px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .spacerDontTouch {
    display: flex;
  }
}
@media (max-width: 350px) {
  .spacerDontTouch {
    min-height: 72px;
    max-height: 72px;
    display: flex;
  }
}
.navbarRntFooter:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
@media (max-width: 500px) {
  .navbarRntFooter:global(.__wab_instance) {
    display: flex;
  }
}
.freeBox__lbU0Z {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
.clarityRntComponent:global(.__wab_instance) {
  display: none;
}
.faviconRntComponent:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
