.root {
  display: grid;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(
    24.372810125751016deg,
    #ebfaff 0%,
    #fcfcfc 20%,
    #ebfaff 39%,
    #fcfcfc 74%,
    #ebfaff 100%
  );
  position: relative;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 500px) {
  .root {
    background: linear-gradient(
      24deg,
      #ebfaff80 0%,
      #fcfcfc 20%,
      #ebfaff80 39%,
      #fcfcfc 74%,
      #ebfaff 100%
    );
  }
}
@media (max-width: 500px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 350px) {
  .root {
    justify-items: center;
    align-content: flex-start;
  }
}
@media (max-width: 350px) {
  .root > * {
    grid-column: 4;
  }
}
.sideEffect__cVJoo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.sideEffect___2I6O:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.header2 {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  left: auto;
  top: 0;
  right: 0;
  justify-self: flex-start;
  z-index: 1;
  padding: 0em 8px 1em;
}
@media (max-width: 1200px) {
  .header2 {
    top: 0;
    right: 0;
  }
}
@media (max-width: 500px) {
  .header2 {
    display: none;
  }
}
.sideBar2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: auto;
  top: 0;
  right: 0;
}
@media (max-width: 1200px) {
  .sideBar2:global(.__wab_instance):global(.__wab_instance) {
    width: 70px;
    height: auto;
    flex-shrink: 0;
  }
}
@media (max-width: 500px) {
  .sideBar2:global(.__wab_instance):global(.__wab_instance) {
    height: auto;
    align-self: flex-end;
  }
}
.freeBox__wmsyM {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 10%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__wmsyM {
    display: none;
  }
}
.alertModal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__atQjk {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1200px) {
  .freeBox__atQjk {
    animation: none;
  }
}
@media (max-width: 500px) {
  .freeBox__atQjk {
    animation: none;
  }
}
@media (max-width: 350px) {
  .freeBox__atQjk {
    animation: none;
  }
}
.freeBox__flfxo {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.img__sKueE {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 16px;
  flex-shrink: 0;
}
.img__sKueE > picture > img {
  object-fit: cover;
}
.freeBox__uWtg0 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 0px 11px;
}
.freeBox__uDdnc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 24px;
}
@media (max-width: 1200px) {
  .freeBox__uDdnc {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media (max-width: 500px) {
  .freeBox__uDdnc {
    padding-bottom: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__uDdnc {
    padding-bottom: 0px;
    padding-top: 0px;
  }
}
.freeBox___6XYgW {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 0px;
}
@media (max-width: 1200px) {
  .freeBox___6XYgW {
    animation: none;
    padding-top: 0px;
    padding-bottom: 17px;
  }
}
@media (max-width: 500px) {
  .freeBox___6XYgW {
    animation: none;
    padding-bottom: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox___6XYgW {
    animation: none;
    padding-bottom: 0px;
    padding-top: 0px;
  }
}
.freeBox__zfedk {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 0px 14px;
}
@media (max-width: 1200px) {
  .freeBox__zfedk {
    animation: none;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media (max-width: 500px) {
  .freeBox__zfedk {
    animation: none;
    padding-bottom: 15px;
    margin-bottom: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__zfedk {
    animation: none;
    padding-bottom: 0px;
    padding-top: 0px;
  }
}
.text__ki9Gp {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  text-align: center;
  font-size: 20px;
  padding-bottom: 24px;
  line-height: 2;
  font-weight: 500;
  color: #444444;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__ki9Gp {
    animation: none;
    padding-top: 0px;
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .text__ki9Gp {
    animation: none;
    font-size: 20px;
  }
}
@media (max-width: 350px) {
  .text__ki9Gp {
    animation: none;
    font-size: 18px;
    padding-bottom: 16px;
  }
}
.freeBox__vNIgZ {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 400px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  border-radius: 30px;
  padding: 0px;
  border-width: 2px;
}
@media (max-width: 1200px) {
  .freeBox__vNIgZ {
    animation: none;
  }
}
@media (max-width: 500px) {
  .freeBox__vNIgZ {
    animation: none;
    width: 320px;
  }
}
@media (max-width: 350px) {
  .freeBox__vNIgZ {
    animation: none;
    width: 300px;
  }
}
.embedHtml:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  color: #444444;
  min-width: 0;
}
@media (max-width: 1200px) {
  .embedHtml:global(.__wab_instance) {
    animation: none;
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 500px) {
  .embedHtml:global(.__wab_instance) {
    animation: none;
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .embedHtml:global(.__wab_instance) {
    animation: none;
  }
}
.freeBox__nNosa {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .freeBox__nNosa {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 22px;
  }
}
.freeBox__uVyxK {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  background: linear-gradient(22.025817115616064deg, #473776 0%, #0000b7 61%) 0%
    0% / 100% 100% repeat;
  cursor: pointer;
  max-width: 100%;
  min-width: 0;
  border-radius: 100px;
  padding: 14px 0px;
}
@media (max-width: 500px) {
  .freeBox__uVyxK {
    padding-top: 18px;
    padding-bottom: 18px;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 350px) {
  .freeBox__uVyxK {
    padding-bottom: 14px;
    padding-top: 14px;
  }
}
.text__zNuXv {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  text-align: center;
  font-size: 17px;
  padding-bottom: 0px;
  color: var(--token-8R7jjC_-F9FF);
  font-weight: 600;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__zNuXv {
    font-size: 16px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media (max-width: 350px) {
  .text__zNuXv {
    font-size: 16px;
  }
}
.button:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.svg__pprx6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__y4K0M {
  font-weight: 600;
  font-size: 17px;
  padding-top: 0px;
  color: #fcfcfc;
}
@media (max-width: 500px) {
  .text__y4K0M {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__y4K0M {
    font-size: 15px;
  }
}
.svg__kidUq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___1YdYp {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #f8f8f8;
  min-width: 0;
  display: none;
  padding: 8px;
}
.img__m3Ads {
  object-fit: cover;
  max-width: 100%;
  height: 20px;
  left: 0;
  top: 0;
  z-index: 1;
  position: absolute;
  flex-shrink: 0;
}
.img__m3Ads > picture > img {
  object-fit: cover;
}
.headerMobileNew {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 90px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 0px;
}
@media (max-width: 500px) {
  .headerMobileNew {
    width: 100%;
    background: none;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    min-height: 0;
    padding: 4px 0px;
  }
}
@media (max-width: 350px) {
  .headerMobileNew {
    padding-top: 4px;
  }
}
.header {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 0;
  min-height: 0;
  padding: 0px 0px 0px 12px;
}
@media (max-width: 1200px) {
  .header {
    padding-right: 0px;
    width: 100%;
    padding-left: 0px;
    min-width: 0;
  }
}
@media (max-width: 500px) {
  .header {
    justify-content: center;
    align-items: flex-end;
    padding: 0px 6px 4px 4px;
  }
}
@media (max-width: 350px) {
  .header {
    padding: 0px 4px 4px;
  }
}
.right {
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: column-reverse;
  align-items: stretch;
  justify-content: space-between;
  z-index: 15;
  min-width: 0;
  padding: 0px 8px;
}
@media (max-width: 1200px) {
  .right {
    max-width: 78%;
    padding-right: 10px;
  }
}
@media (max-width: 500px) {
  .right {
    padding-left: 4px;
    padding-right: 0px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    row-gap: 0px;
  }
}
.newHeader {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 2px 8px;
}
@media (max-width: 1200px) {
  .newHeader {
    padding-right: 0px;
  }
}
@media (max-width: 500px) {
  .newHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    row-gap: 0px;
    padding: 0px;
  }
}
@media (max-width: 350px) {
  .newHeader {
    justify-content: center;
    align-items: center;
  }
}
.r1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 70%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  border-radius: 12px;
  padding: 0px 0px 0px 2px;
}
@media (max-width: 1200px) {
  .r1 {
    max-width: none;
  }
}
@media (max-width: 500px) {
  .r1 {
    align-items: flex-start;
    justify-content: center;
    background: #fcfcfc;
  }
}
.select2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  margin-bottom: 0px;
  min-width: 0;
}
@media (max-width: 500px) {
  .select2:global(.__wab_instance) {
    width: 100%;
    position: relative;
    left: auto;
    top: auto;
    align-self: flex-start;
    z-index: 1;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .select2:global(.__wab_instance) {
    left: auto;
    top: auto;
    width: 100%;
    min-width: 0;
  }
}
.text__n3MJt {
  font-weight: 400;
}
@media (max-width: 500px) {
  .text__n3MJt {
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .text__n3MJt {
    font-size: 17px;
  }
}
.r2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 20%;
  justify-content: flex-end;
  align-items: flex-end;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1200px) {
  .r2 {
    max-width: 24%;
    display: flex;
  }
}
@media (max-width: 500px) {
  .r2 {
    max-width: 16%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}
@media (max-width: 350px) {
  .r2 {
    max-width: 14%;
    padding-right: 2px;
  }
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.img__voSuz {
  object-fit: cover;
  max-width: 100%;
  height: 34px;
  cursor: pointer;
}
.img__voSuz > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__voSuz {
    height: 30px;
  }
}
@media (max-width: 350px) {
  .img__voSuz {
    height: 26px;
    max-width: 100%;
  }
}
.img__jP1S {
  object-fit: cover;
  max-width: 100%;
  height: 34px;
  cursor: pointer;
}
.img__jP1S > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__jP1S {
    height: 30px;
    max-width: 100%;
  }
}
@media (max-width: 350px) {
  .img__jP1S {
    height: 26px;
  }
}
.img__drFxx {
  object-fit: cover;
  max-width: 100%;
  height: 34px;
}
.img__drFxx > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__drFxx {
    height: 30px;
    max-width: 100%;
  }
}
@media (max-width: 350px) {
  .img__drFxx {
    height: 26px;
  }
}
.right2 {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  left: auto;
  top: auto;
  min-width: 0;
  display: none;
  padding: 0px 0px 0px 8px;
}
@media (max-width: 500px) {
  .right2 {
    padding-left: 0px;
    padding-top: 0px;
    left: auto;
    top: auto;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    display: none;
  }
}
.left {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
@media (max-width: 1200px) {
  .left {
    padding-top: 0px;
    width: 26%;
    align-items: flex-end;
    justify-content: center;
    padding-left: 12px;
  }
}
@media (max-width: 500px) {
  .left {
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    align-items: flex-end;
    justify-content: space-between;
    width: auto;
  }
}
@media (max-width: 350px) {
  .left {
    padding-top: 0px;
    width: auto;
    padding-right: 2px;
    align-items: stretch;
    flex-shrink: 1;
    flex-grow: 0;
    justify-content: space-between;
  }
}
.image {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 80px;
  max-width: 120px;
  justify-content: flex-start;
  align-items: center;
  max-height: 80px;
  min-width: 120px;
  overflow: hidden;
  padding-bottom: 2px;
  padding-top: 2px;
  left: auto;
  top: auto;
  flex-shrink: 0;
  border-radius: 15px;
}
@media (max-width: 1200px) {
  .image {
    justify-content: space-between;
    height: 70px;
    max-height: 70px;
    flex-shrink: 0;
  }
}
@media (max-width: 500px) {
  .image {
    width: 88px;
    min-width: 88px;
    max-width: 88px;
    height: 60px;
    min-height: 60px;
    max-height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
  }
}
@media (max-width: 350px) {
  .image {
    width: 90px;
    min-width: 90px;
    max-width: 90px;
    height: 60px;
    max-height: 60px;
    min-height: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    column-gap: 0px;
    flex-shrink: 0;
    border-radius: 15px;
  }
}
.img__mcIpd {
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  height: 80px;
  min-width: 120px;
  max-width: 120px;
  max-height: 80px;
  padding-top: 2px;
  padding-bottom: 2px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  border-radius: 15px;
}
.img__mcIpd > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__mcIpd {
    height: 70px;
    min-height: 70px;
    max-height: 70px;
    width: 120px;
    min-width: 120px;
    max-width: 120px;
    object-fit: cover;
    flex-shrink: 0;
  }
}
@media (max-width: 1200px) {
  .img__mcIpd > picture > img {
    object-fit: cover;
  }
}
@media (max-width: 500px) {
  .img__mcIpd {
    width: 88px;
    height: 60px;
    min-width: 88px;
    max-width: 88px;
    max-height: 60px;
    min-height: 60px;
    padding-top: 2px;
    padding-bottom: 2px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    column-gap: 0px;
    flex-shrink: 0;
    border-radius: 10px;
  }
}
@media (max-width: 350px) {
  .img__mcIpd {
    width: 90px;
    height: 60px;
    min-width: 90px;
    max-width: 90px;
    min-height: 60px;
    max-height: 60px;
    flex-shrink: 0;
    border-radius: 15px;
  }
}
.freeBox__lQwYh {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  border-radius: 21px;
  border: 2px solid var(--token-8nedppYkGVaH);
}
.text__cpu2R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  color: var(--token-8nedppYkGVaH);
  text-align: center;
  min-width: 0;
}
.profile:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__nEpOk {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.calendar23:global(.__wab_instance) {
  max-width: 100%;
}
@media (max-width: 500px) {
  .calendar23:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.dontDeleteSpacer {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 90px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-height: 90px;
  max-height: 90px;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 500px) {
  .dontDeleteSpacer {
    display: flex;
  }
}
.freeBox__dptdu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 550px;
  max-width: 600px;
  justify-content: flex-start;
  align-items: center;
  z-index: 1000000000;
  left: 0;
  top: auto;
  position: absolute;
  margin-bottom: 0px;
  bottom: 0;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__dptdu {
    left: auto;
    top: auto;
    position: relative;
    bottom: auto;
  }
}
.aiAgentIframe:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  filter: none;
  border-radius: 15px;
}
.freeBox___2Z3Gq {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  left: 0px;
  top: 0px;
  min-width: 0;
  padding: 8px;
}
.img__btwCt {
  position: absolute;
  left: 22px;
  top: 20px;
  cursor: pointer;
  transition-duration: 1s;
  transition-property: all;
  width: 34px;
  max-width: 100%;
  object-fit: cover;
  height: 34px;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.img__btwCt > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__btwCt {
    width: 20px;
  }
}
@media (max-width: 500px) {
  .img__btwCt {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
  }
}
.freeBox___1T0B1 {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  cursor: auto;
  justify-self: flex-start;
  left: auto;
  top: auto;
  position: relative;
  opacity: 1;
  z-index: 1;
  right: auto;
  bottom: auto;
  border-radius: 30px;
  padding: 1rem;
}
.img__bZ9Ub {
  object-fit: cover;
  max-width: 100%;
  align-self: flex-end;
  width: 60px;
  cursor: pointer;
  opacity: 1;
  border-radius: 10px;
}
.img__bZ9Ub > picture > img {
  object-fit: cover;
}
.navbarRntFooter:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
@media (max-width: 500px) {
  .navbarRntFooter:global(.__wab_instance) {
    display: flex;
  }
}
.freeBox__n6Rj {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
.clarityRntComponent:global(.__wab_instance) {
  display: none;
}
.faviconRntComponent:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__cBdpD {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__ltJJt {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 18px;
  min-width: 0;
}
.freeBox___3KmGf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  min-width: 0;
  padding: 8px;
}
.text___9Tx8C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 18px;
  background: var(--token-8nedppYkGVaH);
  color: var(--token-8R7jjC_-F9FF);
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
}
