.home {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: linear-gradient(
      40deg,
      #fcfcfc 0%,
      #ebfaff 38%,
      #fcfcfc 63%,
      #ebfaff 96%
    )
    0% 0% / 100% 100% repeat;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.home > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .home > * {
    grid-column: 4;
  }
}
@media (max-width: 500px) {
  .home {
    padding-top: 0px;
  }
}
@media (max-width: 500px) {
  .home > * {
    grid-column: 4;
  }
}
@media (max-width: 350px) {
  .home {
    padding-top: 0px;
  }
}
@media (max-width: 350px) {
  .home > * {
    grid-column: 4;
  }
}
.navbarRntHeader:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (max-width: 500px) {
  .navbarRntHeader:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.mainContents {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px 0px;
}
@media (max-width: 1200px) {
  .mainContents {
    max-width: 100%;
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 500px) {
  .mainContents {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.introCalendar {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 20px 8px 8px;
}
@media (max-width: 500px) {
  .introCalendar {
    padding-top: 6px;
  }
}
.freeBox__xtAhz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__xtAhz {
    max-width: 90%;
  }
}
@media (max-width: 500px) {
  .freeBox__xtAhz {
    max-width: 100%;
  }
}
.introCalendarTitle {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .introCalendarTitle {
    padding: 0px;
  }
}
.text__s3R23 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  font-weight: 600;
  user-select: none;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__s3R23 {
    line-height: 1.9;
    font-size: 17px;
  }
}
@media (max-width: 350px) {
  .text__s3R23 {
    font-size: 16px;
    line-height: 1.8;
  }
}
.introCalendarCaption {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .introCalendarCaption {
    padding: 0px;
  }
}
.text__x1QZw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  user-select: none;
  margin-bottom: 0px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__x1QZw {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__x1QZw {
    font-size: 15px;
  }
}
.introCalendar4 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .introCalendar4 {
    max-width: 90%;
  }
}
@media (max-width: 500px) {
  .introCalendar4 {
    display: flex;
    flex-direction: column-reverse;
    max-width: 100%;
    row-gap: 30px;
    column-gap: 0px;
  }
}
@media (max-width: 350px) {
  .introCalendar4 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.introCalendarRight {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .introCalendarRight {
    row-gap: 10px;
    column-gap: 0px;
  }
}
@media (max-width: 500px) {
  .introCalendarRight {
    padding-top: 0px;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .introCalendarRight {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.introCalendarRight3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 24px 8px 8px;
}
@media (max-width: 1200px) {
  .introCalendarRight3 {
    padding: 0px;
  }
}
@media (max-width: 500px) {
  .introCalendarRight3 {
    padding-top: 8px;
  }
}
.htmlVideo:global(.__wab_instance) {
  width: 640px;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.introCalendarRight5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .introCalendarRight5 {
    padding: 0px;
  }
}
@media (max-width: 500px) {
  .introCalendarRight5 {
    padding-top: 8px;
  }
}
@media (max-width: 350px) {
  .introCalendarRight5 {
    padding-top: 0px;
  }
}
.text__oKzEl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  user-select: none;
  text-align: center;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__oKzEl {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__oKzEl {
    font-size: 15px;
  }
}
.introCalendarLeft {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 40%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-radius: 20px;
  padding: 8px;
}
@media (max-width: 500px) {
  .introCalendarLeft {
    max-width: 80%;
    padding-top: 0px;
    padding-bottom: 0px;
    max-height: 70%;
  }
}
@media (max-width: 350px) {
  .introCalendarLeft {
    max-width: 90%;
  }
}
.embedHtml___2YmQ:global(.__wab_instance) {
  color: var(--token-8R7jjC_-F9FF);
  margin-right: 0px;
  overflow: hidden;
  border-radius: 20px;
}
.introCalendarRight4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 40%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 30px 8px 36px;
}
@media (max-width: 1200px) {
  .introCalendarRight4 {
    max-width: 50%;
  }
}
@media (max-width: 500px) {
  .introCalendarRight4 {
    max-width: 100%;
  }
}
@media (max-width: 350px) {
  .introCalendarRight4 {
    padding-right: 0px;
    padding-left: 0px;
    max-width: 100%;
  }
}
.text__lwviT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 94%;
  text-align: center;
  background: #8165d6;
  color: #fcfcfc;
  padding-bottom: 16px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  padding-top: 16px;
  min-width: 0;
  border-radius: 30px;
}
@media (max-width: 1200px) {
  .text__lwviT {
    max-width: 100%;
  }
}
@media (max-width: 350px) {
  .text__lwviT {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 17px;
  }
}
.text__t3HG4 {
  text-align: right;
  font-size: 17px;
  line-height: 1.8;
  padding-top: 4px;
  user-select: none;
}
@media (max-width: 350px) {
  .text__t3HG4 {
    font-size: 16px;
  }
}
.introAutoSync {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .introAutoSync {
    padding-bottom: 0px;
    padding-top: 0px;
    background: #fcfcfc;
  }
}
.stack {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(
      318.2032163822237deg,
      #f8f8f8 0%,
      #ffffff 40%,
      #f8f8f8 71%,
      #ffffff 97%
    )
    0% 0% / 100% 100% repeat;
  min-width: 0;
  padding: 40px 8px 32px;
}
@media (max-width: 1200px) {
  .stack {
    max-width: 90%;
    background: none;
  }
}
@media (max-width: 500px) {
  .stack {
    padding-top: 30px;
    max-width: 100%;
  }
}
.introAutoSyncTitle {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.text__izNyD {
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  padding-top: 0px;
  user-select: none;
}
@media (max-width: 500px) {
  .text__izNyD {
    font-size: 17px;
  }
}
@media (max-width: 350px) {
  .text__izNyD {
    font-size: 16px;
  }
}
.introAutoSyncCaption {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.text__bNchH {
  text-align: right;
  font-size: 17px;
  line-height: 1.8;
  user-select: none;
}
@media (max-width: 500px) {
  .text__bNchH {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__bNchH {
    font-size: 15px;
  }
}
.introAutoSyncDesc {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 90%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 30px 8px 8px;
}
@media (max-width: 500px) {
  .introAutoSyncDesc {
    display: flex;
    flex-direction: column-reverse;
    max-width: 100%;
    padding-top: 12px;
    column-gap: 0px;
  }
}
@media (max-width: 350px) {
  .introAutoSyncDesc {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.introAutoSyncBenefits {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .introAutoSyncBenefits {
    padding-top: 30px;
    max-width: 100%;
  }
}
.text__csa9P {
  font-size: 18px;
  line-height: 2;
  padding-top: 0px;
  font-weight: 600;
  user-select: none;
}
@media (max-width: 500px) {
  .text__csa9P {
    padding-bottom: 0px;
    font-size: 17px;
  }
}
@media (max-width: 350px) {
  .text__csa9P {
    font-size: 16px;
  }
}
.text__jfko {
  font-size: 16px;
  line-height: 2;
  padding-top: 12px;
  user-select: none;
}
@media (max-width: 500px) {
  .text__jfko {
    padding-bottom: 0px;
  }
}
@media (max-width: 350px) {
  .text__jfko {
    font-size: 15px;
  }
}
.introAutoSyncGif {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .introAutoSyncGif {
    max-width: 100%;
    padding: 0px;
  }
}
.embedHtml__gDn1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: auto;
  user-select: none;
  overflow: hidden;
  border-radius: 15px;
}
._3Benefits {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: flex-start;
  align-items: stretch;
  background: linear-gradient(
    49.8103597548361deg,
    #203647 0%,
    #3c6180 54%,
    #203647 83%,
    #203647 97%
  );
  min-width: 0;
  border-radius: 50px;
  padding: 40px 8px;
}
@media (max-width: 1200px) {
  ._3Benefits {
    margin-top: 0px;
    justify-content: center;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    row-gap: 0px;
    border-radius: 0px;
  }
}
@media (max-width: 500px) {
  ._3Benefits {
    display: flex;
    flex-direction: column;
    column-gap: 0px;
    border-radius: 0px;
  }
}
@media (max-width: 350px) {
  ._3Benefits {
    padding-top: 22px;
    border-radius: 0px;
  }
}
._3Benefits1st {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  ._3Benefits1st {
    margin-top: 10px;
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 30px 8px 8px;
  }
}
.icon {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.svg__tadou {
  object-fit: cover;
  max-width: 100%;
  color: #fcfcfc;
  min-height: 50px;
  height: 1em;
  flex-shrink: 0;
}
.title {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .title {
    padding-top: 12px;
  }
}
.text__mhPKa {
  padding-right: 0px;
  max-width: 100%;
  font-weight: 600;
  color: #fcfcfc;
  font-size: 16px;
  text-align: right;
  user-select: none;
}
@media (max-width: 350px) {
  .text__mhPKa {
    font-size: 16px;
  }
}
.caption {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__iq9O {
  text-align: center;
  font-size: 15px;
  color: #fcfcfc;
  font-weight: 400;
  user-select: none;
}
@media (max-width: 1200px) {
  .text__iq9O {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .text__iq9O {
    font-size: 15px;
  }
}
._3Benefits2nd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  ._3Benefits2nd {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 30px 8px 8px;
  }
}
.icon2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.svg__cHyl8 {
  object-fit: cover;
  max-width: 100%;
  color: #fcfcfc;
  min-height: 50px;
  height: 1em;
  flex-shrink: 0;
}
.title2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .title2 {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 12px 8px 8px;
  }
}
.text__fMa1T {
  text-align: right;
  font-size: 16px;
  color: #fcfcfc;
  font-weight: 600;
  padding-right: 0px;
  max-width: 100%;
  user-select: none;
}
@media (max-width: 350px) {
  .text__fMa1T {
    font-size: 16px;
  }
}
.caption2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__up4Yp {
  text-align: center;
  font-size: 15px;
  color: #fcfcfc;
  font-weight: 400;
  user-select: none;
}
@media (max-width: 1200px) {
  .text__up4Yp {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .text__up4Yp {
    font-size: 15px;
  }
}
._3Benefits3rd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  ._3Benefits3rd {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 30px 8px 8px;
  }
}
.icon3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.svg__qgKwo {
  object-fit: cover;
  color: #fcfcfc;
  min-height: 50px;
  height: 1em;
  flex-shrink: 0;
}
.title3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .title3 {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 12px 8px 8px;
  }
}
.text__gVyb {
  text-align: right;
  font-size: 16px;
  color: #fcfcfc;
  font-weight: 600;
  max-width: 100%;
  padding-right: 0px;
  user-select: none;
}
@media (max-width: 350px) {
  .text__gVyb {
    font-size: 16px;
  }
}
.caption3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .caption3 {
    margin-bottom: 10px;
  }
}
.text___1ThH4 {
  text-align: center;
  font-size: 15px;
  color: #fcfcfc;
  font-weight: 400;
  user-select: none;
}
@media (max-width: 1200px) {
  .text___1ThH4 {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .text___1ThH4 {
    text-align: center;
    font-size: 15px;
  }
}
.image {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 40px 8px 8px;
}
@media (max-width: 1200px) {
  .image {
    max-width: 90%;
  }
}
@media (max-width: 500px) {
  .image {
    padding-bottom: 0px;
    padding-right: 8px;
    padding-left: 8px;
    max-width: 100%;
  }
}
@media (max-width: 350px) {
  .image {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
  }
}
.introAutoSyncTitle2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.text__aLhzu {
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  padding-top: 0px;
  user-select: none;
}
@media (max-width: 500px) {
  .text__aLhzu {
    font-size: 17px;
  }
}
@media (max-width: 350px) {
  .text__aLhzu {
    line-height: 1.8;
    font-size: 16px;
  }
}
.introAutoSyncCaption2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.text__wDeO2 {
  text-align: right;
  font-size: 17px;
  line-height: 1.8;
  user-select: none;
}
@media (max-width: 500px) {
  .text__wDeO2 {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__wDeO2 {
    font-size: 15px;
  }
}
.introAutoSyncDesc2 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .introAutoSyncDesc2 {
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .introAutoSyncDesc2 {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
  }
}
.introAutoSyncGif2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 40%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 28px 8px 8px;
}
@media (max-width: 1200px) {
  .introAutoSyncGif2 {
    max-width: 70%;
  }
}
@media (max-width: 500px) {
  .introAutoSyncGif2 {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    max-width: 90%;
  }
}
@media (max-width: 350px) {
  .introAutoSyncGif2 {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    max-width: 100%;
  }
}
.img {
  object-fit: cover;
  max-width: 100%;
  height: 440px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.testimonials {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(0deg, #f7fdffc2 0%, #d9f1f9 85%, #f0fbffad 100%)
    0% 0% / 100% 100% repeat;
  min-width: 0;
  padding: 40px 0px 8px;
}
@media (max-width: 500px) {
  .testimonials {
    background: linear-gradient(0deg, #fcfcfc 0%, #ecececb8 86%, #fcfcfcb8 99%);
  }
}
.titlePart {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
  padding: 8px 8px 32px;
}
@media (max-width: 500px) {
  .titlePart {
    padding-bottom: 22px;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .titlePart {
    padding-bottom: 22px;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.text__zdLdH {
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  padding-top: 0px;
  user-select: none;
}
@media (max-width: 350px) {
  .text__zdLdH {
    text-align: center;
    font-size: 16px;
  }
}
.commentsScrolling {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (max-width: 500px) {
  .commentsScrolling {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .commentsScrolling {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.testimonialsScrolling:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___8VXaH {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 90%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 30px 8px 8px;
}
@media (max-width: 1200px) {
  .freeBox___8VXaH {
    max-width: 100%;
  }
}
.embedHtml__ixk23:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  user-select: none;
  min-width: 0;
}
.screenshots {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 90%;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  min-width: 0;
  padding: 40px 8px 8px;
}
@media (max-width: 1200px) {
  .screenshots {
    overflow-x: hidden;
    overflow-y: hidden;
    max-width: 80%;
  }
}
@media (max-width: 500px) {
  .screenshots {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-width: 100%;
    background: #fcfcfc;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    padding: 40px 8px 0px;
  }
}
@media (max-width: 350px) {
  .screenshots {
    background: #fcfcfc;
  }
}
.screenshotsRight {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .screenshotsRight {
    align-items: flex-end;
    justify-content: flex-start;
  }
}
@media (max-width: 350px) {
  .screenshotsRight {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.text__lLqoZ {
  text-align: center;
  font-size: 18px;
  width: 70%;
  line-height: 1.8;
  font-weight: 600;
  user-select: none;
}
@media (max-width: 1200px) {
  .text__lLqoZ {
    width: 100%;
    text-align: center;
    min-width: 0;
  }
}
@media (max-width: 500px) {
  .text__lLqoZ {
    width: 90%;
    text-align: center;
    font-size: 17px;
  }
}
@media (max-width: 350px) {
  .text__lLqoZ {
    width: 100%;
    font-size: 16px;
  }
}
.screenshotsLeft {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 70%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-height: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .screenshotsLeft {
    width: 84%;
  }
}
@media (max-width: 350px) {
  .screenshotsLeft {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 28px;
  }
}
.carousel:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  align-self: auto;
  min-width: 0;
}
.addingVillaIntoPltforms {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 90%;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px 8px 8px;
}
@media (max-width: 500px) {
  .addingVillaIntoPltforms {
    width: 100%;
    background: #ffffff;
    padding-bottom: 28px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 350px) {
  .addingVillaIntoPltforms {
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.reg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 14px 8px 8px;
}
@media (max-width: 1200px) {
  .reg {
    padding-top: 40px;
    max-width: 60%;
  }
}
@media (max-width: 500px) {
  .reg {
    padding-top: 30px;
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .reg {
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 0px;
  }
}
.text__vepAb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  text-align: center;
  background: #8165d6;
  color: #fcfcfc;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  min-width: 0;
  border-radius: 30px;
}
@media (max-width: 500px) {
  .text__vepAb {
    max-width: 96%;
  }
}
@media (max-width: 350px) {
  .text__vepAb {
    max-width: 100%;
    width: 100%;
    font-size: 17px;
    min-width: 0;
  }
}
.text__fqgQm {
  text-align: right;
  font-size: 17px;
  line-height: 1.8;
  padding-top: 4px;
  user-select: none;
}
@media (max-width: 350px) {
  .text__fqgQm {
    font-size: 16px;
  }
}
.qA {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 80%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0em;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  min-height: 0;
  padding: 30px 8px 50px;
}
@media (max-width: 1200px) {
  .qA {
    max-width: 90%;
  }
}
@media (max-width: 500px) {
  .qA {
    width: 100%;
    max-width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 350px) {
  .qA {
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
    max-width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__bkGrz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__bkGrz {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__bkGrz {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.text___1KfXk {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 19px;
  font-weight: 600;
  text-align: right;
  padding-right: 5px;
  padding-top: 5px;
  color: #444444;
  user-select: none;
  min-width: 0;
}
@media (max-width: 500px) {
  .text___1KfXk {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-top: 5px;
    padding-right: 20px;
    font-size: 19px;
    font-weight: 600;
    color: #444444;
    text-align: right;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text___1KfXk {
    padding-right: 20px;
  }
}
.freeBox___3QJyk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox___3QJyk {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox___3QJyk {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.accordionMain:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  color: #444444;
  min-width: 0;
}
._2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 16px;
  font-weight: 500;
}
._1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 500px) {
  ._1 {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  ._1 {
    font-size: 15px;
  }
}
.text__p6Ecz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 350px) {
  .text__p6Ecz {
    font-size: 15px;
  }
}
._4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 16px;
  font-weight: 500;
}
@media (max-width: 350px) {
  ._4:global(.__wab_instance) {
    font-size: 15px;
  }
}
.text___6Ebj5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text___6Ebj5 {
    font-size: 16px;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-weight: 500;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text___6Ebj5 {
    font-size: 15px;
  }
}
.text__mEvXl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 350px) {
  .text__mEvXl {
    font-size: 15px;
  }
}
._7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 16px;
  font-weight: 500;
}
.text__c8Vwv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__c8Vwv {
    font-size: 16px;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-weight: 500;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__c8Vwv {
    font-size: 15px;
  }
}
.text__rv9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 350px) {
  .text__rv9 {
    font-size: 15px;
  }
}
._5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 16px;
  font-weight: 500;
}
.text__eFh21 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__eFh21 {
    font-size: 16px;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-weight: 500;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__eFh21 {
    font-size: 15px;
  }
}
.text__ro7TB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 350px) {
  .text__ro7TB {
    font-size: 15px;
  }
}
._6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 16px;
  font-weight: 500;
}
.text__fSdcf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__fSdcf {
    font-size: 16px;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-weight: 500;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__fSdcf {
    font-size: 15px;
  }
}
.text__nfZuX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 350px) {
  .text__nfZuX {
    font-size: 15px;
  }
}
.accordionItem__dmgPx:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 16px;
  font-weight: 500;
}
.text__gwBvJ {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__gwBvJ {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 16px;
    font-weight: 500;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__gwBvJ {
    font-size: 15px;
  }
}
.text__zYHs {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 350px) {
  .text__zYHs {
    font-size: 15px;
  }
}
.accordionItem___7IInG:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 15px;
}
.text__oEav4 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__oEav4 {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 16px;
    font-weight: 500;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__oEav4 {
    font-size: 15px;
  }
}
.text___8GSmG {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 350px) {
  .text___8GSmG {
    font-size: 15px;
  }
}
.accordionItem__izzDc:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 15px;
}
.text___1PE {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 500px) {
  .text___1PE {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 16px;
    font-weight: 500;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text___1PE {
    font-size: 15px;
  }
}
.text__x8UL {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 350px) {
  .text__x8UL {
    font-size: 15px;
  }
}
.accordionItem__cpiYa:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 15px;
}
.text__ncps {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__ncps {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 16px;
    font-weight: 500;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__ncps {
    font-size: 15px;
  }
}
.text___4RpVt {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 350px) {
  .text___4RpVt {
    font-size: 15px;
  }
}
.html {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  min-width: 0;
  display: none;
  padding: 8px;
}
.goftino:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__yNrBq {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
.clarityRntComponent:global(.__wab_instance) {
  display: none;
}
.faviconRntComponent:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.rentamonFooter:global(.__wab_instance) {
  max-width: 100%;
}
