.root:global(.__wab_instance) {
  position: relative;
  cursor: pointer;
  color: var(--token-Y7ZM7gj_nMYR);
  font-family: "Estedad";
  font-size: var(--token-wq-7W0QuaGtb);
  line-height: var(--token-otgoHRDIcFGD);
  outline-style: none;
  border-radius: var(--token-MLwBcAFWQ57Z);
}
.root[data-hovered]:global(.__wab_instance) {
  background: var(--token-V6GfKFumB-_r);
}
.root[data-selected]:global(.__wab_instance) {
  background: var(--token-WVtziNGt6k4H);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  opacity: 0.5;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-Xkcz3qrS_HH8);
  outline-color: var(--token-qkMXlUhOdBHU);
  outline-offset: 1px;
}
.freeBox__oTm1I {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-Duv1ymIhszml) var(--token-rGvKy1FLZXMz);
}
.freeBox__oTm1I > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 2px);
  width: calc(100% + 2px);
  margin-top: calc(0px - var(--token-Xkcz3qrS_HH8));
  height: calc(100% + var(--token-Xkcz3qrS_HH8));
}
.freeBox__oTm1I > :global(.__wab_flex-container) > *,
.freeBox__oTm1I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oTm1I > :global(.__wab_flex-container) > picture > img,
.freeBox__oTm1I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 2px;
  margin-top: var(--token-Xkcz3qrS_HH8);
}
.freeBox__j12LX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text__rwOXq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-LqsBa3w8Ucwa);
  min-width: 0;
}
