.root {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .root {
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 30px;
  }
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.مشکلدربرقراریارتط {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  margin-bottom: 0px;
  font-size: 16px;
  color: var(--token-Bo2_tT25lwh4);
  padding-top: 3px;
  box-shadow: none;
}
.freeBox__rxhaC {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__rxhaC {
    padding: 1px;
  }
}
.fragmentDatePicker:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.dayCell:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__hxone {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 5px;
  min-width: 0;
  padding: 8px;
}
.freeBox__jD7Wi {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: 7px;
  padding: 8px;
}
.freeBox__wZeS {
  background: #4fdfb1;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  height: 6px;
  width: 25px;
  flex-direction: column;
  display: flex;
  min-height: 6px;
  max-height: 6px;
  position: relative;
  flex-shrink: 0;
  border-radius: 4px;
  padding: 0px;
  border: 0px solid #4fdfb1;
}
@media (max-width: 500px) {
  .freeBox__wZeS {
    max-height: 6px;
    height: 6px;
    min-height: 6px;
    padding: 0px;
  }
}
.text__toaIs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__u57Rs {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: 7px;
  padding: 8px;
}
.freeBox__yuSbx {
  position: relative;
  background: #fbb142;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  height: 6px;
  width: 25px;
  flex-direction: column;
  display: flex;
  min-height: 6px;
  max-height: 6px;
  flex-shrink: 0;
  border-radius: 4px;
  padding: 0px;
  border: 0px solid #4fdfb1;
}
@media (max-width: 500px) {
  .freeBox__yuSbx {
    width: 25px;
    height: 6px;
    min-height: 6px;
    max-width: 100%;
    max-height: 6px;
    background: #fbb142;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    flex-shrink: 0;
    border-radius: 4px;
    padding: 0px;
    border: 0px solid #4fdfb1;
  }
}
.text___6Lq2T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__z96Q {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: 7px;
  padding: 8px;
}
.freeBox__kjWd {
  position: relative;
  background: #8165d6;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  height: 6px;
  width: 25px;
  flex-direction: column;
  display: flex;
  min-height: 6px;
  max-height: 6px;
  flex-shrink: 0;
  border-radius: 4px;
  padding: 0px;
  border: 0px solid #4fdfb1;
}
@media (max-width: 500px) {
  .freeBox__kjWd {
    width: 25px;
    height: 6px;
    min-height: 6px;
    max-width: 100%;
    max-height: 6px;
    background: #8165d6;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    flex-shrink: 0;
    border-radius: 4px;
    padding: 0px;
    border: 0px solid #4fdfb1;
  }
}
.text__rQygR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.modalDiscount:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 676px;
  height: 182px;
  flex-shrink: 0;
  border-radius: 30px;
}
.modalDiscount__modal :global(.ant-modal-close) {
  position: relative;
  top: auto;
  left: auto;
  color: #444444;
  bottom: auto;
  right: auto;
  align-self: auto;
  outline: none;
}
@media (max-width: 500px) {
  .modalDiscount:global(.__wab_instance) {
    border-radius: 59px;
  }
}
.freeBox__ayJaK {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
}
.freeBox__otErB {
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 18px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 500px) {
  .freeBox__otErB {
    justify-content: space-evenly;
  }
}
.button__nxg1A:global(.__wab_instance) {
  max-width: 100%;
  width: 45px;
  position: relative;
  left: auto;
  top: auto;
  height: 45px;
  margin-bottom: 5px;
  flex-shrink: 0;
}
.svg__nBumh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__hep0T {
  padding-top: 0px;
}
.svg__ivw7H {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__y7Xzi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 60%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  left: auto;
  top: auto;
  margin-top: 5px;
  padding: 0px;
}
@media (max-width: 1200px) {
  .freeBox__y7Xzi {
    width: 170px;
    flex-shrink: 0;
  }
}
@media (max-width: 500px) {
  .freeBox__y7Xzi {
    width: 110px;
    flex-shrink: 0;
  }
}
.numberInput4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 242px;
}
.button__jq81K:global(.__wab_instance) {
  max-width: 100%;
  width: 45px;
  position: relative;
  left: auto;
  top: auto;
  height: 45px;
  align-self: center;
  margin-bottom: 5px;
  flex-shrink: 0;
}
.svg__eRt9G {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__pDi8J {
  padding-top: 0px;
}
.svg__eMfUw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.columns__l1Di {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
@media (max-width: 500px) {
  .columns__l1Di {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
.column__g8APf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__virKe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 13px;
  font-weight: 600;
  min-width: 0;
}
.button__f5BPv:global(.__wab_instance) {
  max-width: 100%;
  width: 72%;
}
@media (max-width: 1200px) {
  .button__f5BPv:global(.__wab_instance) {
    width: 74%;
  }
}
@media (max-width: 500px) {
  .button__f5BPv:global(.__wab_instance) {
    width: 87%;
  }
}
@media (max-width: 350px) {
  .button__f5BPv:global(.__wab_instance) {
    width: 100%;
  }
}
.svg__pBnPz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___7EcJe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__h5HSb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.columns__uafXv {
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  display: none;
  padding: 8px 0px 8px 8px;
}
@media (max-width: 500px) {
  .columns__uafXv {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    display: none;
  }
}
.column__gtLCv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.button__stUbj:global(.__wab_instance) {
  max-width: 100%;
  width: 50px;
}
.svg__wlq37 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__zcq6V {
  padding-top: 0px;
}
.svg__zHfjd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__mrdnA {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.numberInput3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 242px;
}
.column___5WJZx {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.freeBox__n92VJ {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__oiBb {
  text-align: center;
}
.svg___6PAy5 {
  object-fit: cover;
  max-width: 100%;
  color: #7e7e7e;
  position: absolute;
  left: 0;
  top: 0;
  transition-property: all;
  transition-duration: 1s;
  cursor: pointer;
  height: 1em;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  text-align: left;
}
.modal__modal :global(.ant-modal-close) {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
.section__al7ZD {
  display: grid;
  align-content: center;
  justify-items: flex-start;
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  cursor: pointer;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 6px 0;
}
.section__al7ZD > * {
  grid-column: 4;
}
.freeBox__kVwGl {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__qMBy {
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 600;
  text-align: right;
}
.svg__zok6A {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  height: 18px;
}
.section__ibNih {
  display: grid;
  align-content: center;
  justify-items: flex-start;
  width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  cursor: pointer;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 6px 0px;
}
.section__ibNih > * {
  grid-column: 4;
}
.text___9E3Rt {
  font-size: 16px;
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 600;
}
.section__sdXov {
  display: grid;
  align-content: center;
  justify-items: flex-start;
  width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  cursor: pointer;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 6px 0px;
}
.section__sdXov > * {
  grid-column: 4;
}
.freeBox__tq8H {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__wpXhV {
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 600;
  text-align: right;
}
.svg__uLieY {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  height: 18px;
}
.section__ueTtK {
  display: grid;
  align-content: center;
  justify-items: flex-start;
  width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  cursor: pointer;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 6px 0px;
}
.section__ueTtK > * {
  grid-column: 4;
}
.freeBox__v7MSq {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__vvywp {
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 600;
  text-align: right;
}
.svg__bK0Xs {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  height: 18px;
}
.section__dqDmY {
  display: grid;
  align-content: center;
  justify-items: flex-start;
  width: 100%;
  cursor: pointer;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 6px 0px;
}
.section__dqDmY > * {
  grid-column: 4;
}
.text__dNbdd {
  color: #20364763;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 600;
  text-align: right;
}
.freeBox___38IXb {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.svg__o6Rlj {
  object-fit: cover;
  max-width: 100%;
  color: #7e7e7e;
  position: absolute;
  left: 0;
  top: 0;
  transition-property: all;
  transition-duration: 1s;
  cursor: pointer;
  height: 1em;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.modalChangePrice:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 676px;
  height: 182px;
  flex-shrink: 0;
  border-radius: 30px;
}
.modalChangePrice__modal :global(.ant-modal-close) {
  position: relative;
  top: auto;
  left: auto;
  color: #444444;
  bottom: auto;
  right: auto;
  align-self: auto;
  outline: none;
}
.freeBox__tSyQk {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.main2 {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px 8px;
}
@media (max-width: 1200px) {
  .main2 {
    width: 100%;
  }
}
.numberInput2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 242px;
}
.text__qda1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 700;
  margin-top: 4px;
  min-width: 0;
  padding: 10px 2px 2px;
}
.freeBox___3IXzA {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__o6Iyl:global(.__wab_instance) {
  max-width: 100%;
  width: 72%;
}
@media (max-width: 1200px) {
  .button__o6Iyl:global(.__wab_instance) {
    width: 101%;
  }
}
@media (max-width: 500px) {
  .button__o6Iyl:global(.__wab_instance) {
    width: 100%;
  }
}
@media (max-width: 350px) {
  .button__o6Iyl:global(.__wab_instance) {
    width: 100%;
  }
}
.svg__hWfgy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___0PeL1 {
  padding: 4px;
}
.svg__pwDhd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__rxDkw {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.svg__jTpgk {
  object-fit: cover;
  max-width: 100%;
  color: #7e7e7e;
  position: absolute;
  left: 0;
  top: 0;
  transition-property: all;
  transition-duration: 1s;
  cursor: pointer;
  height: 1em;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.button__gI4Sq:global(.__wab_instance) {
  max-width: 100%;
  width: 90%;
}
@media (max-width: 500px) {
  .button__gI4Sq:global(.__wab_instance) {
    height: 60px;
    margin-top: 10px;
    flex-shrink: 0;
  }
}
@media (max-width: 350px) {
  .button__gI4Sq:global(.__wab_instance) {
    height: 60px;
    flex-shrink: 0;
  }
}
.svg__bMno {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__ogRts {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 45px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.text__iJ44 {
  margin-left: 0px;
  margin-right: 10px;
  font-weight: 600;
  font-size: 15px;
}
@media (max-width: 500px) {
  .text__iJ44 {
    font-size: 17px;
  }
}
@media (max-width: 350px) {
  .text__iJ44 {
    font-size: 17px;
    font-weight: 600;
  }
}
.svg__uRMm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.fetchModal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 536px;
  border-radius: 30px;
}
.userPlatform:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__jige3 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.loading2 {
  object-fit: cover;
  max-width: 100%;
  height: 34px;
  flex-shrink: 0;
  margin: 0px;
}
.loading2 > picture > img {
  object-fit: cover;
}
.text__zr74A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__zhOvV {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__zhOvV {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
.freeBox__iQeX {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__iQeX {
    padding: 3px;
  }
}
.freeBox__xgjQo {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__tz7Vm {
  position: relative;
  width: 40%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  font-size: 18px;
}
.freeBox__j29Vl {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.ok {
  object-fit: cover;
  max-width: 100%;
  height: 34px;
  flex-shrink: 0;
  margin: 0px;
}
.ok > picture > img {
  object-fit: cover;
}
.fail {
  object-fit: cover;
  max-width: 100%;
  height: 34px;
  flex-shrink: 0;
  margin: 0px;
}
.fail > picture > img {
  object-fit: cover;
}
.loading {
  object-fit: cover;
  max-width: 100%;
  height: 34px;
  flex-shrink: 0;
  margin: 0px;
}
.loading > picture > img {
  object-fit: cover;
}
.text__uj0VW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  min-width: 0;
}
.button__pqZut:global(.__wab_instance) {
  max-width: 86%;
  width: 100%;
  max-height: 40px;
  margin-top: 11px;
}
@media (max-width: 500px) {
  .button__pqZut:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__qUreI {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___5HZpd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.block:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.freeBox__dOd4S {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  column-gap: 10px;
  min-width: 0;
  padding: 0px;
}
.svg__o77T1 {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.text__s1R2K {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 11px;
  padding-bottom: 5px;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  min-width: 0;
  border-top: 1px solid var(--token-rhmrUZBooWNo);
}
.freeBox__ycVpz {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  column-gap: 10px;
  min-width: 0;
}
.svg__j9BUv {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.text__znwTf {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  border-top-width: 1px;
  border-top-style: solid;
  font-weight: 400;
  font-size: 16px;
  min-width: 0;
}
.text__eZj2J {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: not-allowed;
  color: var(--token-rhmrUZBooWNo);
  min-width: 0;
  display: none;
  border-top: 0.5px solid var(--token-rhmrUZBooWNo);
  border-bottom: 0.5px solid var(--token-rhmrUZBooWNo);
}
.freeBox__ks7Vi {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.svg__dprym {
  object-fit: cover;
  max-width: 100%;
  color: #7e7e7e;
  position: absolute;
  left: 0;
  top: 0;
  transition-property: all;
  transition-duration: 1s;
  cursor: pointer;
  height: 1em;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.text__gbu3K {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  margin-bottom: 0px;
  font-weight: 600;
  min-width: 0;
  padding: 5px 2px 10px;
}
