.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(
      40deg,
      #fcfcfc 0%,
      #ebfaff 38%,
      #fcfcfc 63%,
      #ebfaff 96%
    )
    0% 0% / 100% 100% repeat;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 500px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 350px) {
  .root > * {
    grid-column: 4;
  }
}
.header {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 9px 8px 8px;
}
@media (max-width: 500px) {
  .header {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 9px;
  }
}
.freeBox__sDWy4 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__jmasE {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 10%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  right: auto;
  z-index: 1;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__jmasE {
    display: none;
  }
}
.sideBar2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: auto;
  top: 0;
  right: 0;
}
.freeBox__pfauu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
@media (max-width: 500px) {
  .freeBox__pfauu {
    padding: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__pfauu {
    padding: 0px;
  }
}
.text__gX6Ao {
  width: 90%;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}
@media (max-width: 1200px) {
  .text__gX6Ao {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .text__gX6Ao {
    font-size: 19px;
    width: 70%;
  }
}
@media (max-width: 350px) {
  .text__gX6Ao {
    font-size: 17px;
    width: 60%;
  }
}
.freeBox__vWmj6 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 10%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__vWmj6 {
    display: none;
  }
}
.profile:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__prOxi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 70%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
  padding: 2em 8px 9em;
}
@media (max-width: 500px) {
  .freeBox__prOxi {
    padding-bottom: 10em;
    max-width: 100%;
    padding-right: 4px;
    padding-left: 4px;
  }
}
@media (max-width: 350px) {
  .freeBox__prOxi {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 96%;
  }
}
.tableHeader {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-around;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 14px;
}
@media (max-width: 350px) {
  .tableHeader {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    row-gap: 0px;
    min-width: 0;
    padding: 14px 0px;
  }
}
.freeBox__fk6Iq {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  width: 20%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  column-gap: 10px;
  padding: 0px;
}
@media (max-width: 1200px) {
  .freeBox__fk6Iq {
    width: 20%;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .freeBox__fk6Iq {
    width: 36%;
    height: auto;
    max-width: 100%;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    row-gap: 0px;
    padding: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__fk6Iq {
    width: 34%;
    justify-content: center;
    align-items: center;
  }
}
.img__yUNg1 {
  object-fit: cover;
  max-width: 100%;
  height: 15px;
  opacity: 0;
}
.img__yUNg1 > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__yUNg1 {
    display: none;
  }
}
.text__dqFdj {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 600;
  text-align: right;
}
@media (max-width: 500px) {
  .text__dqFdj {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__dqFdj {
    font-size: 15px;
    width: auto;
    height: auto;
    max-width: 100%;
    font-weight: 600;
  }
}
.freeBox__o5AF {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 20%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
@media (max-width: 1200px) {
  .freeBox__o5AF {
    width: 40%;
  }
}
@media (max-width: 500px) {
  .freeBox__o5AF {
    width: 40%;
  }
}
@media (max-width: 350px) {
  .freeBox__o5AF {
    width: 40%;
  }
}
.text__e0KU {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 500px) {
  .text__e0KU {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 16px;
    font-weight: 600;
  }
}
@media (max-width: 350px) {
  .text__e0KU {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    font-weight: 600;
  }
}
.freeBox__tnAne {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 40%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
@media (max-width: 1200px) {
  .freeBox__tnAne {
    width: 30%;
  }
}
@media (max-width: 500px) {
  .freeBox__tnAne {
    width: 24%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__tnAne {
    align-items: flex-end;
    justify-content: center;
    width: 26%;
  }
}
.text__yuf6G {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 600;
  padding-right: 0px;
}
@media (max-width: 500px) {
  .text__yuf6G {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
  }
}
@media (max-width: 350px) {
  .text__yuf6G {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
  }
}
.item {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 65px;
  max-width: 100%;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  background: #fcfcfc;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 100px;
  padding: 14px 8px;
  border: 2px solid #ececec;
}
@media (max-width: 500px) {
  .item {
    padding-right: 0px;
    padding-left: 0px;
    border-radius: 100px;
  }
}
@media (max-width: 350px) {
  .item {
    justify-content: space-between;
    padding-right: 8px;
    padding-left: 8px;
  }
}
.freeBox__xAaK7 {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  left: -7px;
  top: -16px;
  z-index: 1;
  padding: 8px;
}
.img___0GJUp {
  object-fit: cover;
  max-width: 100%;
  height: 23px;
  flex-shrink: 0;
}
.img___0GJUp > picture > img {
  object-fit: cover;
}
.freeBox__l4Nm {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 20%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  padding: 0px;
}
@media (max-width: 1200px) {
  .freeBox__l4Nm {
    width: 20%;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .freeBox__l4Nm {
    width: 36%;
    justify-content: flex-start;
    align-items: center;
    padding-right: 26px;
  }
}
@media (max-width: 350px) {
  .freeBox__l4Nm {
    width: 34%;
    padding-right: 6px;
    column-gap: 6px;
    row-gap: 0px;
  }
}
.img__jklRg {
  object-fit: cover;
  max-width: 100%;
  height: 15px;
}
.img__jklRg > picture > img {
  object-fit: cover;
}
@media (max-width: 350px) {
  .img__jklRg {
    height: 13px;
  }
}
.img__uxrTx {
  object-fit: cover;
  max-width: 100%;
  height: 15px;
}
.img__uxrTx > picture > img {
  object-fit: cover;
}
@media (max-width: 350px) {
  .img__uxrTx {
    height: 13px;
  }
}
.text__kv54W {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 400;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media (max-width: 500px) {
  .text__kv54W {
    font-size: 14px;
  }
}
@media (max-width: 350px) {
  .text__kv54W {
    font-size: 13px;
    padding-left: 0px;
  }
}
.freeBox__njSro {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 20%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
@media (max-width: 1200px) {
  .freeBox__njSro {
    width: 40%;
    align-self: flex-start;
  }
}
@media (max-width: 500px) {
  .freeBox__njSro {
    width: 40%;
    height: 100%;
    min-height: 0;
  }
}
@media (max-width: 350px) {
  .freeBox__njSro {
    width: 40%;
    align-items: center;
    justify-content: center;
  }
}
.text__tYydp {
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 400;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
@media (max-width: 500px) {
  .text__tYydp {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 13px;
    font-weight: 400;
  }
}
@media (max-width: 350px) {
  .text__tYydp {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 11px;
    font-weight: 400;
  }
}
.freeBox__nyRbP {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 40%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 1200px) {
  .freeBox__nyRbP {
    width: 30%;
  }
}
@media (max-width: 500px) {
  .freeBox__nyRbP {
    width: 24%;
  }
}
@media (max-width: 350px) {
  .freeBox__nyRbP {
    width: 26%;
  }
}
.text__jQXc {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 400;
  padding-right: 0px;
}
@media (max-width: 500px) {
  .text__jQXc {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 14px;
    font-weight: 400;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    padding: 0px;
  }
}
@media (max-width: 350px) {
  .text__jQXc {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 12px;
    font-weight: 400;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    padding: 0px;
  }
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.img__eb7Hm {
  object-fit: cover;
  max-width: 100%;
  height: 76px;
}
.img__eb7Hm > picture > img {
  object-fit: cover;
}
.text___05ZQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  min-width: 0;
}
.text___6V8Xa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  padding-top: 8px;
  padding-bottom: 8px;
  min-width: 0;
}
.returnButton {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #8165d6;
  min-width: 0;
  border-radius: 30px 30px 0px 0px;
  padding: 8px;
}
@media (max-width: 500px) {
  .returnButton {
    display: none;
    padding: 8px;
  }
}
.freeBox__du7Qu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__woCao {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding-top: 0px;
  font-size: 15px;
  font-weight: 500;
  min-width: 0;
  display: none;
}
.freeBox__i6Ki {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 50px;
  max-width: 20%;
  justify-content: center;
  align-items: center;
  background: var(--token-8nedppYkGVaH);
  cursor: pointer;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 30px;
  padding: 0px;
}
@media (max-width: 1200px) {
  .freeBox__i6Ki {
    width: 100%;
    height: 50px;
    max-width: 30%;
    background: var(--token-8nedppYkGVaH);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    flex-shrink: 0;
    border-radius: 30px;
    padding: 0px;
  }
}
@media (max-width: 500px) {
  .freeBox__i6Ki {
    background: var(--token-8nedppYkGVaH);
    height: 60px;
    max-width: 90%;
    flex-shrink: 0;
    border-radius: 30px;
    padding: 0px;
  }
}
.text__gpLd3 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-zy6xhYnWF8Y7);
  text-align: center;
  font-size: 16px;
  user-select: none;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__gpLd3 {
    font-size: 17px;
  }
}
.withdraw:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__tfDx8 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  min-width: 0;
  padding: 8px;
}
.text__hVyIc {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  text-align: right;
  min-width: 0;
}
@media (max-width: 350px) {
  .text__hVyIc {
    font-size: 15px;
  }
}
.text__frq2E {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  text-align: left;
  min-width: 0;
}
@media (max-width: 350px) {
  .text__frq2E {
    font-size: 15px;
  }
}
.freeBox__yqD1W {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 18px;
}
@media (max-width: 1200px) {
  .freeBox__yqD1W {
    padding-bottom: 19px;
  }
}
@media (max-width: 500px) {
  .freeBox__yqD1W {
    height: 57px;
  }
}
.text__i0Rh5 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: right;
  min-width: 0;
}
.text__qZiGr {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  min-width: 0;
}
.freeBox__fN5N3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-radius: 30px;
  padding: 0px;
  border-width: 1px;
  border-style: solid;
}
@media (max-width: 500px) {
  .freeBox__fN5N3 {
    background: #ffffff;
  }
}
@media (max-width: 350px) {
  .freeBox__fN5N3 {
    padding: 8px;
  }
}
.freeBox__jejNk {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  background: var(--token-8R7jjC_-F9FF);
  row-gap: 10px;
  min-width: 0;
  border-radius: 30px;
  padding: 8px 0px;
}
@media (max-width: 500px) {
  .freeBox__jejNk {
    max-width: 100%;
  }
}
@media (max-width: 350px) {
  .freeBox__jejNk {
    max-width: 100%;
  }
}
.freeBox__e0thR {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: space-around;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  padding-bottom: 4px;
  padding-top: 4px;
  min-width: 0;
}
@media (max-width: 350px) {
  .freeBox__e0thR {
    max-width: 100%;
  }
}
.text__xIgzj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  text-align: right;
  min-width: 0;
}
@media (max-width: 350px) {
  .text__xIgzj {
    font-size: 15px;
  }
}
.text__xfyuQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  text-align: left;
  min-width: 0;
}
@media (max-width: 350px) {
  .text__xfyuQ {
    font-size: 15px;
  }
}
.freeBox___6Ttq6 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: space-around;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  padding-bottom: 4px;
  padding-top: 4px;
  min-width: 0;
}
@media (max-width: 350px) {
  .freeBox___6Ttq6 {
    max-width: 100%;
  }
}
.text__pVwub {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  text-align: right;
  min-width: 0;
}
@media (max-width: 350px) {
  .text__pVwub {
    font-size: 15px;
  }
}
.text__m5E7S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  text-align: left;
  min-width: 0;
}
@media (max-width: 350px) {
  .text__m5E7S {
    font-size: 15px;
  }
}
.freeBox__zVbvm {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: space-around;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  padding-bottom: 4px;
  padding-top: 4px;
  min-width: 0;
}
@media (max-width: 350px) {
  .freeBox__zVbvm {
    max-width: 100%;
  }
}
.freeBox___744G {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 70%;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text__iTwrt {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  text-align: justify;
  color: #8165d6;
  font-weight: 500;
  min-width: 0;
}
.freeBox___6A576 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
  min-width: 0;
}
.text___6974B {
  width: 100%;
  height: auto;
  max-width: none;
  font-size: 16px;
  text-align: left;
  color: #8165d6;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 350px) {
  .text___6974B {
    font-size: 15px;
  }
}
.freeBox__mVjGv {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: space-around;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  padding-bottom: 4px;
  padding-top: 4px;
  min-width: 0;
}
@media (max-width: 350px) {
  .freeBox__mVjGv {
    max-width: 100%;
  }
}
.text__mzNeA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  text-align: right;
  min-width: 0;
}
.giftEmoji {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 7%;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
}
.img__dig8 {
  object-fit: cover;
  max-width: 100%;
}
.img__dig8 > picture > img {
  object-fit: cover;
}
.freeBox___7Ijce {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 30%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__yL5Bl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  text-align: center;
  text-decoration-line: none;
  color: var(--token-VC1CUzrVcfix);
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__yL5Bl {
    font-weight: 400;
  }
}
@media (max-width: 500px) {
  .text__yL5Bl {
    font-weight: 400;
  }
}
@media (max-width: 350px) {
  .text__yL5Bl {
    color: #444444;
    font-weight: 400;
  }
}
.text___2J9Y {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  text-align: left;
  text-decoration-line: none;
  min-width: 0;
}
.text__feifQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  text-align: left;
  padding-bottom: 0px;
  padding-left: 4px;
  text-decoration-line: none;
  min-width: 0;
}
.comment {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  background: var(--token-8R7jjC_-F9FF);
  margin-top: 10px;
  row-gap: 10px;
  min-width: 0;
  display: none;
  border-radius: 30px;
  padding: 8px 0px;
  border-width: 1px;
  border-style: solid;
}
@media (max-width: 350px) {
  .comment {
    width: 100%;
    height: auto;
    max-width: 100%;
    background: #ffffff;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    border-radius: 30px;
    padding: 8px;
    border-width: 1px;
    border-style: solid;
  }
}
.freeBox___5YFh {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 4px;
  min-width: 0;
}
@media (max-width: 350px) {
  .freeBox___5YFh {
    max-width: 100%;
  }
}
.text__cpYxA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  text-align: right;
  padding-right: 3px;
  min-width: 0;
}
@media (max-width: 350px) {
  .text__cpYxA {
    font-size: 13px;
  }
}
.freeBox__dve9A {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  min-width: 0;
  display: none;
  padding: 8px 8px 15px;
}
.img___7GKEv {
  object-fit: cover;
  max-width: 100%;
  height: 14px;
}
.img___7GKEv > picture > img {
  object-fit: cover;
}
.text__fjPbP {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #8165d6;
  font-size: 15px;
  text-decoration-line: underline;
  cursor: pointer;
}
.freeBox__nqsCd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 12px 8px 8px;
}
.button__clK7:global(.__wab_instance) {
  max-width: 83%;
}
.svg__ap3HN {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__dI1L1 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__uuoV {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f8f8f8;
  text-align: center;
  font-size: 18px;
  min-width: 0;
}
.deposit:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__w4W8G {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-around;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  min-width: 0;
  padding: 16px 8px;
}
.text___3BRyM {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  text-align: right;
  min-width: 0;
}
.text__dlXrR {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  text-align: left;
  min-width: 0;
}
.freeBox__pqnZc {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-around;
  align-items: center;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  min-width: 0;
  padding: 16px 8px;
}
.text__beO5F {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: right;
  padding-bottom: 0px;
  min-width: 0;
}
.text__fj6Tl {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  min-width: 0;
}
.freeBox__me8Qa {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-around;
  align-items: center;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  min-width: 0;
  padding: 16px 8px;
}
.text__doo8C {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  text-align: right;
  min-width: 0;
}
.text__lVNwL {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 0px;
  text-align: left;
  min-width: 0;
}
.comment2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  background: var(--token-8R7jjC_-F9FF);
  margin-top: 10px;
  row-gap: 10px;
  min-width: 0;
  border-radius: 30px;
  padding: 8px 0px;
  border-width: 1px;
  border-style: solid;
}
@media (max-width: 500px) {
  .comment2 {
    display: flex;
  }
}
@media (max-width: 350px) {
  .comment2 {
    width: 100%;
    height: auto;
    max-width: 100%;
    background: #ffffff;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    border-radius: 30px;
    padding: 8px;
    border-width: 1px;
    border-style: solid;
  }
}
.freeBox__g3LRp {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 94%;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 4px;
  min-width: 0;
}
@media (max-width: 350px) {
  .freeBox__g3LRp {
    max-width: 100%;
  }
}
.text__h9Qe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  text-align: right;
  padding-right: 3px;
  min-width: 0;
}
@media (max-width: 350px) {
  .text__h9Qe {
    font-size: 13px;
  }
}
.freeBox__t01L4 {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  min-width: 0;
  display: none;
  padding: 8px 8px 15px;
}
.img___5ZlpU {
  object-fit: cover;
  max-width: 100%;
  height: 14px;
}
.img___5ZlpU > picture > img {
  object-fit: cover;
}
.text__riJhy {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #8165d6;
  font-size: 15px;
  text-decoration-line: underline;
  cursor: pointer;
}
.freeBox__ySiur {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  min-width: 0;
  padding: 8px 8px 15px;
}
.button__axw4:global(.__wab_instance) {
  max-width: 70%;
  width: 100%;
  min-width: 0;
}
.svg__iBFu5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__kXffx {
  font-size: 18px;
  font-weight: 600;
}
.svg__ybu6L {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__zctZd {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-5NYR9ZrjPPYB);
  text-align: center;
  font-size: 18px;
  min-width: 0;
}
.navbarRntFooter:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
@media (max-width: 500px) {
  .navbarRntFooter:global(.__wab_instance) {
    display: flex;
  }
}
.clarityRntComponent:global(.__wab_instance) {
  display: none;
}
.faviconRntComponent:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.freeBox__soTXc {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #0000001a;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.withdraw2 {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  background: #f8f8f8;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 8px;
}
@media (max-width: 500px) {
  .withdraw2 {
    padding: 0px;
  }
}
@media (max-width: 350px) {
  .withdraw2 {
    padding: 0px;
  }
}
.title {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__bqRzj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__mVg1B {
  object-fit: cover;
  max-width: 100%;
  align-self: flex-end;
  cursor: pointer;
}
.img__mVg1B > picture > img {
  object-fit: cover;
}
.freeBox__rOwmd {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  min-width: 0;
  padding: 8px;
}
.text__gzRXd {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
}
@media (max-width: 350px) {
  .text__gzRXd {
    font-size: 15px;
  }
}
.img__l8Dbt {
  object-fit: cover;
  max-width: 100%;
  height: 15px;
}
.img__l8Dbt > picture > img {
  object-fit: cover;
}
.date {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .date {
    padding: 8px;
  }
}
.freeBox__uFEj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__uFEj {
    max-width: 30%;
  }
}
@media (max-width: 350px) {
  .freeBox__uFEj {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.text__b6OdK {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__b6OdK {
    text-align: right;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 16px;
    font-weight: 400;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__b6OdK {
    font-size: 14px;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-weight: 400;
    text-align: right;
    min-width: 0;
  }
}
.freeBox__kDgqy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__kDgqy {
    padding: 8px;
  }
}
@media (max-width: 350px) {
  .freeBox__kDgqy {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.text__bvrN {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__bvrN {
    text-align: left;
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__bvrN {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    min-width: 0;
  }
}
.freeBox__ujSyz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.properties {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .properties {
    padding: 0px;
  }
}
.freeBox__ab711 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .freeBox__ab711 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.text__ws6Ey {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__ws6Ey {
    text-align: right;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 16px;
    font-weight: 400;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__ws6Ey {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    min-width: 0;
  }
}
.freeBox__oKk2K {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .freeBox__oKk2K {
    padding: 8px 0px;
  }
}
.text__aj3T {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__aj3T {
    text-align: left;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 16px;
    font-weight: 400;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__aj3T {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    min-width: 0;
  }
}
.freeBox___3SsPf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.totalAmount {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .totalAmount {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox__dg3NX {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__dg3NX {
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .freeBox__dg3NX {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.text___0YUa1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 500px) {
  .text___0YUa1 {
    text-align: right;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 14px;
    font-weight: 400;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text___0YUa1 {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    min-width: 0;
  }
}
.freeBox__necMc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .freeBox__necMc {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.text__hPr6A {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__hPr6A {
    text-align: left;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 16px;
    font-weight: 400;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__hPr6A {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    min-width: 0;
  }
}
.freeBox__ntJma {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.reserveCode {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .reserveCode {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox___7TiX {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .freeBox___7TiX {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.text__dxj9F {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  color: #8165d6;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__dxj9F {
    text-align: right;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 16px;
    font-weight: 400;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__dxj9F {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #8165d6;
    text-align: right;
    min-width: 0;
  }
}
.freeBox__fbZuj {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__fbZuj {
    justify-content: flex-start;
    align-items: center;
  }
}
@media (max-width: 350px) {
  .freeBox__fbZuj {
    padding-right: 0px;
    padding-left: 0px;
    justify-content: center;
    align-items: center;
    column-gap: 0px;
    row-gap: 0px;
  }
}
.text__zZqaz {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  color: #8165d6;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__zZqaz {
    text-align: left;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 16px;
    font-weight: 400;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__zZqaz {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    min-width: 0;
  }
}
.img__cnMt2 {
  object-fit: cover;
  max-width: 100%;
}
.img__cnMt2 > picture > img {
  object-fit: cover;
}
.commission {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  row-gap: 5px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .commission {
    padding-bottom: 14px;
  }
}
@media (max-width: 350px) {
  .commission {
    padding-bottom: 14px;
  }
}
.title2 {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  min-width: 0;
  padding: 8px;
}
.text__ebvQ9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  min-width: 0;
}
@media (max-width: 350px) {
  .text__ebvQ9 {
    font-size: 15px;
  }
}
.feature {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: center;
  align-items: center;
  column-gap: 0px;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  min-width: 0;
  padding: 10px 8px;
}
@media (max-width: 1200px) {
  .feature {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 500px) {
  .feature {
    max-width: 100%;
    padding-right: 8px;
    padding-left: 8px;
  }
}
.text__yktVa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__yktVa {
    font-size: 16px;
    text-align: left;
    max-width: 30%;
  }
}
@media (max-width: 350px) {
  .text__yktVa {
    font-size: 14px;
  }
}
.text__h09EG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__h09EG {
    font-size: 16px;
    max-width: 20%;
  }
}
@media (max-width: 350px) {
  .text__h09EG {
    font-size: 14px;
  }
}
.freeBox__pW9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 25px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
}
.img__a7Nc4 {
  object-fit: cover;
  max-width: 100%;
  height: 24px;
  flex-shrink: 0;
}
.img__a7Nc4 > picture > img {
  object-fit: cover;
}
.text__jd6Yw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 17px;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__jd6Yw {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__jd6Yw {
    font-size: 14px;
  }
}
.sum {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: center;
  align-items: center;
  column-gap: 0px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .sum {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 500px) {
  .sum {
    max-width: 100%;
    padding-right: 8px;
    padding-left: 8px;
  }
}
.text__eoTv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  color: #8165d6;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__eoTv {
    font-size: 16px;
    text-align: left;
    max-width: 30%;
  }
}
@media (max-width: 350px) {
  .text__eoTv {
    font-size: 14px;
  }
}
.text__nopq8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  color: #8165d6;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__nopq8 {
    font-size: 16px;
    max-width: 20%;
  }
}
@media (max-width: 350px) {
  .text__nopq8 {
    font-size: 14px;
  }
}
.freeBox__bOoM {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 25px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
}
.text__rZ3Do {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 17px;
  font-weight: 600;
  color: #8165d6;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__rZ3Do {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__rZ3Do {
    font-size: 14px;
  }
}
.comment3 {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  background: #acacac1a;
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
}
.text__uN9V4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  text-align: center;
  min-width: 0;
}
.deposit2 {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  background: #fcfcfc;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 8px;
}
.title3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__rfIm5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___4UhIh {
  object-fit: cover;
  max-width: 100%;
  align-self: flex-end;
  cursor: pointer;
}
.img___4UhIh > picture > img {
  object-fit: cover;
}
.freeBox__hh4Gh {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  min-width: 0;
  padding: 8px;
}
.text__pZnY6 {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
}
@media (max-width: 350px) {
  .text__pZnY6 {
    font-size: 15px;
  }
}
.img__riPsW {
  object-fit: cover;
  max-width: 100%;
}
.img__riPsW > picture > img {
  object-fit: cover;
}
.date2 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .date2 {
    padding: 0px;
  }
}
.freeBox__gEdhn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__gEdhn {
    max-width: 30%;
  }
}
@media (max-width: 350px) {
  .freeBox__gEdhn {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.text__ogEu {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__ogEu {
    text-align: right;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 16px;
    font-weight: 400;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__ogEu {
    font-size: 14px;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-weight: 400;
    text-align: right;
    min-width: 0;
  }
}
.freeBox__agn3J {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .freeBox__agn3J {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.text__uf6EM {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__uf6EM {
    text-align: left;
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__uf6EM {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    min-width: 0;
  }
}
.properties2 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .properties2 {
    padding: 0px;
  }
}
.freeBox__ydP9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .freeBox__ydP9 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.text__qzZ7V {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__qzZ7V {
    text-align: right;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 16px;
    font-weight: 400;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__qzZ7V {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    min-width: 0;
  }
}
.freeBox__wOc0 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .freeBox__wOc0 {
    padding: 8px 0px;
  }
}
.text__bZe3M {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__bZe3M {
    text-align: left;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 16px;
    font-weight: 400;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__bZe3M {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    min-width: 0;
  }
}
.totalAmount2 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .totalAmount2 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox__jEfup {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__jEfup {
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .freeBox__jEfup {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.text___09Sx {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 500px) {
  .text___09Sx {
    text-align: right;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 14px;
    font-weight: 400;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text___09Sx {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    min-width: 0;
  }
}
.freeBox__dd3QZ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .freeBox__dd3QZ {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.text__fwVVf {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__fwVVf {
    text-align: left;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 16px;
    font-weight: 400;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__fwVVf {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    min-width: 0;
  }
}
.comment4 {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  background: #acacac1a;
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
}
.text__aGe3G {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  text-align: right;
  min-width: 0;
}
.notify {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  background: #fcfcfc;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 8px;
}
.title4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox___1Bes1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__m4Ov {
  object-fit: cover;
  max-width: 100%;
  align-self: flex-end;
  cursor: pointer;
}
.img__m4Ov > picture > img {
  object-fit: cover;
}
.freeBox___9JFoj {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  min-width: 0;
  padding: 8px;
}
.text__wuaZs {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
}
@media (max-width: 350px) {
  .text__wuaZs {
    font-size: 15px;
  }
}
.freeBox__aVcGw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  min-width: 0;
  padding: 8px;
}
.text__cUayA {
  width: 100%;
  height: auto;
  max-width: 30%;
  text-align: center;
  font-size: 17px;
  background: var(--token-8nedppYkGVaH);
  color: var(--token-8R7jjC_-F9FF);
  cursor: pointer;
  font-family: "Estedad";
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  border-radius: 30px;
  padding: 10px;
}
@media (max-width: 500px) {
  .text__cUayA {
    width: 100%;
    max-width: 70%;
    min-width: 0;
  }
}
