.modalSidebar:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  overflow: hidden;
  position: relative;
}
.modalSidebar__modal :global(.ant-modal-content) {
  display: block;
  outline: none;
}
@media (max-width: 500px) {
  .modalSidebar:global(.__wab_instance) {
    overflow: hidden;
    border-radius: 30px 0px 0px 30px;
  }
}
.freeBox__zNdeq {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  min-width: 0;
  padding: 8px 8px 0px;
}
@media (max-width: 500px) {
  .freeBox__zNdeq {
    overflow: auto;
    height: 88.06%;
  }
}
.img__jzKe6 {
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  border-radius: 50px;
  border-width: 3px;
}
.img__jzKe6 > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__jzKe6 {
    width: 60px;
    border-width: 2px;
  }
}
.text__gj0UI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  margin-top: 12px;
  font-size: 15px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__gj0UI {
    font-weight: 600;
  }
}
.freeBox__frdDg {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 7px;
  cursor: auto;
  min-width: 0;
  padding: 0px 8px 8px;
}
.freeBox__frdDg > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__frdDg > :global(.__wab_flex-container) > *,
.freeBox__frdDg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__frdDg > :global(.__wab_flex-container) > picture > img,
.freeBox__frdDg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__yk8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__yk8 {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    font-weight: 500;
    min-width: 0;
  }
}
.freeBox__nmPd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 1.5px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-rhmrUZBooWNo);
  margin-top: 2px;
  margin-bottom: 2px;
  flex-shrink: 0;
}
@media (max-width: 500px) {
  .freeBox__nmPd {
    width: 100%;
    height: 1.5px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 3px;
    background: var(--token-rhmrUZBooWNo);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    padding: 0px;
  }
}
.freeBox__klQF {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 2px;
  cursor: pointer;
  margin-bottom: 2px;
  min-width: 0;
  padding: 14px 8px;
}
.freeBox__klQF > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__klQF > :global(.__wab_flex-container) > *,
.freeBox__klQF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__klQF > :global(.__wab_flex-container) > picture > img,
.freeBox__klQF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__s3Sds {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  height: 17px;
}
@media (max-width: 500px) {
  .svg__s3Sds {
    height: 100%;
    max-width: 100%;
    color: #acacac;
    width: 20px;
    flex-shrink: 0;
    min-height: 0;
  }
}
.text__hcNg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  color: #444444;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__hcNg {
    font-weight: 500;
  }
}
.freeBox___5JuLu {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 2px;
  cursor: pointer;
  margin-bottom: 2px;
  min-width: 0;
  padding: 14px 8px;
}
.freeBox___5JuLu > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox___5JuLu > :global(.__wab_flex-container) > *,
.freeBox___5JuLu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5JuLu > :global(.__wab_flex-container) > picture > img,
.freeBox___5JuLu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__yFikr {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  height: 24px;
}
@media (max-width: 500px) {
  .svg__yFikr {
    width: 20px;
    height: 100%;
    max-width: 100%;
    color: #acacac;
    flex-shrink: 0;
    min-height: 0;
  }
}
.text__otwx1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  color: #444444;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__otwx1 {
    font-weight: 500;
  }
}
.freeBox__hfEa2 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 2px;
  cursor: pointer;
  margin-bottom: 2px;
  min-width: 0;
  padding: 14px 8px;
}
.freeBox__hfEa2 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__hfEa2 > :global(.__wab_flex-container) > *,
.freeBox__hfEa2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hfEa2 > :global(.__wab_flex-container) > picture > img,
.freeBox__hfEa2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__oeo6L {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  height: 21px;
}
@media (max-width: 500px) {
  .svg__oeo6L {
    width: 20px;
    height: 100%;
    max-width: 100%;
    color: #acacac;
    flex-shrink: 0;
    min-height: 0;
  }
}
.text__zZboN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  color: #444444;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__zZboN {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    font-weight: 500;
    min-width: 0;
  }
}
.freeBox__v6FnF {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 2px;
  cursor: pointer;
  margin-bottom: 2px;
  min-width: 0;
  padding: 14px 8px;
}
.freeBox__v6FnF > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__v6FnF > :global(.__wab_flex-container) > *,
.freeBox__v6FnF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v6FnF > :global(.__wab_flex-container) > picture > img,
.freeBox__v6FnF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__i5X8Z {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  height: 20px;
}
@media (max-width: 500px) {
  .svg__i5X8Z {
    width: 20px;
    height: 100%;
    max-width: 100%;
    color: #acacac;
    flex-shrink: 0;
    min-height: 0;
  }
}
.text___4ITo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #444444;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  min-width: 0;
}
@media (max-width: 500px) {
  .text___4ITo {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    font-weight: 500;
    min-width: 0;
  }
}
.freeBox__hcaX9 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 2px;
  cursor: pointer;
  margin-bottom: 2px;
  min-width: 0;
  padding: 14px 8px;
}
.freeBox__hcaX9 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__hcaX9 > :global(.__wab_flex-container) > *,
.freeBox__hcaX9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hcaX9 > :global(.__wab_flex-container) > picture > img,
.freeBox__hcaX9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__mGaY9 {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  height: 20px;
}
@media (max-width: 500px) {
  .svg__mGaY9 {
    width: 20px;
    height: 100%;
    max-width: 100%;
    color: #acacac;
    flex-shrink: 0;
    min-height: 0;
  }
}
.text__zNoJi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #444444;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__zNoJi {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    font-weight: 500;
    min-width: 0;
  }
}
.freeBox__sWbL {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 1.5px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-rhmrUZBooWNo);
  margin-bottom: 4px;
  margin-top: 4px;
  flex-shrink: 0;
  padding: 0px;
}
@media (max-width: 500px) {
  .freeBox__sWbL {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
.freeBox___6SALn {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 2px;
  cursor: pointer;
  margin-bottom: 2px;
  min-width: 0;
  padding: 14px 8px;
}
.freeBox___6SALn > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox___6SALn > :global(.__wab_flex-container) > *,
.freeBox___6SALn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6SALn > :global(.__wab_flex-container) > picture > img,
.freeBox___6SALn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (max-width: 500px) {
  .freeBox___6SALn {
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
  }
}
@media (max-width: 500px) {
  .freeBox___6SALn > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.svg__hanOi {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  height: 19px;
}
@media (max-width: 500px) {
  .svg__hanOi {
    width: 20px;
    height: 100%;
    max-width: 100%;
    color: #acacac;
    flex-shrink: 0;
    min-height: 0;
  }
}
.text__hw3Xm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__hw3Xm {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    font-weight: 500;
    min-width: 0;
  }
}
.freeBox__xeLsa {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 2px;
  cursor: pointer;
  margin-bottom: 2px;
  min-width: 0;
  padding: 14px 8px;
}
.freeBox__xeLsa > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__xeLsa > :global(.__wab_flex-container) > *,
.freeBox__xeLsa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xeLsa > :global(.__wab_flex-container) > picture > img,
.freeBox__xeLsa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__zDxBe {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  height: 21px;
}
@media (max-width: 500px) {
  .svg__zDxBe {
    width: 20px;
    height: 100%;
    max-width: 100%;
    color: #acacac;
    flex-shrink: 0;
    min-height: 0;
  }
}
.text__zns75 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__zns75 {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    font-weight: 500;
    min-width: 0;
  }
}
.freeBox___4HzoA {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 2px;
  cursor: pointer;
  margin-bottom: 2px;
  min-width: 0;
  padding: 14px 8px;
}
.freeBox___4HzoA > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox___4HzoA > :global(.__wab_flex-container) > *,
.freeBox___4HzoA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4HzoA > :global(.__wab_flex-container) > picture > img,
.freeBox___4HzoA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg___87ITw {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  height: 19px;
}
@media (max-width: 500px) {
  .svg___87ITw {
    width: 20px;
    height: 100%;
    max-width: 100%;
    color: #acacac;
    flex-shrink: 0;
    min-height: 0;
  }
}
.text__lej7C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__lej7C {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    font-weight: 500;
    min-width: 0;
  }
}
.freeBox__z3V5X {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 2px;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  background: var(--token-rhmrUZBooWNo);
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 4px;
  margin-top: 4px;
  flex-shrink: 0;
}
@media (max-width: 500px) {
  .freeBox__z3V5X {
    width: 100%;
    height: 1.5px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background: var(--token-rhmrUZBooWNo);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    padding: 0px;
  }
}
.freeBox__giLd {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 2px;
  cursor: pointer;
  margin-bottom: 2px;
  min-width: 0;
  padding: 14px 8px 8px;
}
.freeBox__giLd > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__giLd > :global(.__wab_flex-container) > *,
.freeBox__giLd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__giLd > :global(.__wab_flex-container) > picture > img,
.freeBox__giLd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (max-width: 500px) {
  .freeBox__giLd {
    padding-bottom: 76px;
  }
}
.svg__umjx5 {
  object-fit: cover;
  max-width: 100%;
  color: #8165d6;
  height: 30px;
}
.text__gEePk {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 13px;
  font-weight: 500;
}
.freeBox__bKks3 {
  display: flex;
  flex-direction: row;
  width: 42px;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  align-self: flex-end;
  left: 0;
  top: 0;
  z-index: 1;
  position: absolute;
  bottom: auto;
  cursor: pointer;
  margin-left: 2px;
  margin-top: 2px;
  padding: 13px 8px 8px 13px;
}
.img__si1Ge {
  object-fit: cover;
  max-width: 100%;
  margin-right: 0px;
  width: 20px;
  flex-shrink: 0;
}
.img__si1Ge > picture > img {
  object-fit: cover;
}
.freeBox__zlZzK {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__zlZzK {
    padding: 0px;
  }
}
.img__o0UC {
  object-fit: cover;
  max-width: 100%;
  height: 30px;
  flex-shrink: 0;
}
.img__o0UC > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__o0UC {
    height: 30px;
    flex-shrink: 0;
  }
}
@media (max-width: 500px) {
  .img__o0UC {
    height: 27px;
    flex-shrink: 0;
  }
}
@media (max-width: 350px) {
  .img__o0UC {
    height: 20px;
    flex-shrink: 0;
  }
}
