.ariaTextField:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  min-width: 0;
  row-gap: var(--token-fuThMYwlrO8g);
}
.ariaTextField[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.label:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.freeBox__yCuMk {
  display: flex;
  flex-direction: column;
}
.freeBox___7Bf9I {
  flex-direction: row;
  position: absolute;
  height: var(--token-LJG2fFX9fNUT);
  align-items: center;
  justify-content: center;
  z-index: 9;
  left: 0px;
  top: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-MLwBcAFWQ57Z) var(--token-rGvKy1FLZXMz);
}
.freeBoxiconStart___7Bf9IinarN {
  display: flex;
}
.slotTargetStart {
  color: var(--token-LqsBa3w8Ucwa);
}
.svg__t7KrT {
  position: relative;
  height: 1em;
}
.textInputmultiLine:global(.__wab_instance):global(.__wab_instance) {
  display: none;
}
.textAreaInputmultiLine:global(.__wab_instance):global(.__wab_instance) {
  display: block;
}
.freeBox__hhWZg {
  height: var(--token-LJG2fFX9fNUT);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-MLwBcAFWQ57Z) var(--token-rGvKy1FLZXMz);
}
.freeBoxiconEnd__hhWZgSzzNb {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-LqsBa3w8Ucwa);
}
.svg__uqIwb {
  position: relative;
  height: 1em;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
