.paymentError {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #ebfaff;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.paymentError > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .paymentError {
    background: #ebfaff;
  }
}
@media (max-width: 768px) {
  .paymentError > * {
    grid-column: 4;
  }
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__kyyXs {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 0px;
}
.freeBox__eXxw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 20px 0px 8px;
}
.successful {
  object-fit: cover;
  max-width: 100%;
  width: 240px;
  flex-shrink: 0;
  border-radius: 30px;
  margin: 90px 120px 0px;
}
.successful > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .successful {
    width: 140px;
    margin-top: 62px;
    flex-shrink: 0;
  }
}
.freeBox__t2ZKr {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px 8px;
}
@media (max-width: 768px) {
  .freeBox__t2ZKr {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.text__ay8Au {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  margin-top: 45px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__ay8Au {
    max-width: 113.24%;
    font-size: 18px;
    padding-right: 0px;
    font-family: "Estedad";
    width: 100%;
    margin-top: 34px;
    min-width: 0;
  }
}
.text__c9SjP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  text-align: center;
  line-height: 1.9;
  min-width: 0;
  padding: 30px 20px;
}
@media (max-width: 768px) {
  .text__c9SjP {
    font-family: "Estedad";
    font-size: 15px;
    display: none;
    padding: 0px;
  }
}
.columns {
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  display: none;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :nth-child(7n + 1) {
  width: calc((100% - 7 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(7n + 2) {
  width: calc((100% - 7 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(7n + 3) {
  width: calc((100% - 7 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(7n + 4) {
  width: calc((100% - 7 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(7n + 5) {
  width: calc((100% - 7 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(7n + 6) {
  width: calc((100% - 7 * var(--plsmc-rc-col-gap, 0px)) * 1 / 12);
}
.columns > :nth-child(7n + 7) {
  width: calc((100% - 7 * var(--plsmc-rc-col-gap, 0px)) * 1 / 12);
}
@media (max-width: 768px) {
  .columns {
    flex-wrap: nowrap;
    flex-direction: row;
    height: auto;
    width: 100%;
    overflow: auto;
    flex-shrink: 0;
    min-width: 0;
    display: none;
  }
}
@media (max-width: 768px) {
  .columns > :nth-child(7n + 1) {
    width: calc((100% - 7 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
  }
}
@media (max-width: 768px) {
  .columns > :nth-child(7n + 2) {
    width: calc((100% - 7 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
  }
}
@media (max-width: 768px) {
  .columns > :nth-child(7n + 3) {
    width: calc((100% - 7 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
  }
}
@media (max-width: 768px) {
  .columns > :nth-child(7n + 4) {
    width: calc((100% - 7 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
  }
}
@media (max-width: 768px) {
  .columns > :nth-child(7n + 5) {
    width: calc((100% - 7 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
  }
}
@media (max-width: 768px) {
  .columns > :nth-child(7n + 6) {
    width: calc((100% - 7 * var(--plsmc-rc-col-gap, 0px)) * 1 / 12);
  }
}
@media (max-width: 768px) {
  .columns > :nth-child(7n + 7) {
    width: calc((100% - 7 * var(--plsmc-rc-col-gap, 0px)) * 1 / 12);
  }
}
.column__dhKo {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 768px) {
  .column__dhKo {
    display: flex;
  }
}
.text__hcVrF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__rsfYv {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 768px) {
  .column__rsfYv {
    display: flex;
  }
}
.text__tbVgA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__qjoa {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__flAnv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__o3DxZ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__zSZi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__yvRcN {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__vq1Zc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__xjcOq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__qOEwH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__m1ZQm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__wFeO0 {
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 768px) {
  .freeBox__wFeO0 {
    display: flex;
  }
}
.text__puqxF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 13px;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__puqxF {
    font-family: "Estedad";
    font-size: 15px;
    line-height: 1.7;
    text-align: center;
    padding: 18px 0px 0px;
  }
}
.freeBox__f4DUi {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px 8px;
}
@media (max-width: 768px) {
  .freeBox__f4DUi {
    margin-top: 0px;
    border-bottom-width: 0px;
    border-bottom-style: dotted;
    align-self: center;
    justify-content: center;
    align-items: center;
    display: none;
    padding: 0px 0px 10px;
  }
}
.text__eevK {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  text-align: center;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__eevK {
    font-size: 13px;
    font-weight: 400;
    font-family: "Estedad";
    display: none;
  }
}
.text__nMMrA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
@media (max-width: 768px) {
  .text__nMMrA {
    font-size: 13px;
    align-self: center;
    padding-right: 30px;
    font-weight: 400;
    font-family: "Estedad";
    display: none;
  }
}
.linkbtn2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  text-align: center;
  color: #fcfcfc;
  position: relative;
  left: auto;
  top: auto;
  background: #ffffff73;
  white-space: pre;
  border-radius: 30px;
  margin: 39px 0px 34px;
  border: 0px solid var(--token-8nedppYkGVaH);
}
@media (max-width: 768px) {
  .linkbtn2:global(.__wab_instance) {
    font-size: 16px;
    left: auto;
    top: auto;
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: center;
    border-radius: 0px;
  }
}
.text__ywKfT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-8nedppYkGVaH);
  font-family: "Estedad";
  white-space: pre;
  font-weight: 600;
  min-width: 0;
}
.freeBox__skhKr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 768px) {
  .freeBox__skhKr {
    width: 100%;
    justify-self: flex-start;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox___33Keo {
  width: 314px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-top: 58px;
  height: 56px;
  align-items: center;
  background: var(--token-8nedppYkGVaH);
  flex-shrink: 0;
  border-radius: 30px;
  padding: 0px;
  border: 3px solid var(--token-8nedppYkGVaH);
}
@media (max-width: 768px) {
  .freeBox___33Keo {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 48px;
    width: 271px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-width: 3px;
  }
}
.text__fKr7Q {
  font-weight: 600;
  color: var(--token-jgohepLVeKvh);
  text-align: center;
  font-size: 16px;
}
@media (max-width: 768px) {
  .text__fKr7Q {
    font-size: 15px;
  }
}
.freeBox__caLZh {
  width: 314px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-top: 29px;
  height: 56px;
  align-items: center;
  margin-right: 0px;
  border-radius: 30px;
  padding: 0px;
  border: 3px solid var(--token-8nedppYkGVaH);
}
@media (max-width: 768px) {
  .freeBox__caLZh {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 22px;
    width: 271px;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 60px;
    border-width: 3px;
  }
}
.text___5CKam {
  font-weight: 600;
  color: var(--token-jgohepLVeKvh);
  text-align: center;
  font-size: 16px;
  height: auto;
}
@media (max-width: 768px) {
  .text___5CKam {
    font-size: 15px;
  }
}
.freeBox___2OF8O {
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 50%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 768px) {
  .freeBox___2OF8O {
    display: none;
  }
}
.freeBox__eCkSh {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 768px) {
  .freeBox__eCkSh {
    max-width: 50%;
    display: none;
  }
}
