.ariaRadioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-fuThMYwlrO8g);
  min-width: 0;
}
.ariaRadioGroup[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__wsTay {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-fuThMYwlrO8g);
}
.radio__nd0Cm:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__t51A:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__xgPvW:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
