.modalSidebar:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  overflow: hidden;
  position: relative;
}
.modalSidebar__modal :global(.ant-modal-content) {
  display: block;
  background: linear-gradient(
      45deg,
      #fcfcfc 4%,
      #f5f5f5 27%,
      #ecececdb 40%,
      #ffffff 66%,
      #fcfcfc 74%,
      #ececece6 100%
    )
    0% 0% / 100% 100% repeat;
  overflow: auto;
  outline: none;
}
@media (max-width: 500px) {
  .modalSidebar:global(.__wab_instance) {
    overflow: hidden;
    border-radius: 30px 0px 0px 30px;
  }
}
.freeBox__jMgG {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  min-width: 0;
  padding: 8px 8px 0px;
}
@media (max-width: 500px) {
  .freeBox__jMgG {
    overflow: auto;
    height: 88.06%;
  }
}
@media (max-width: 350px) {
  .freeBox__jMgG {
    max-width: 94%;
  }
}
.profile {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .profile {
    justify-content: center;
    align-items: center;
  }
}
.img__btFs {
  object-fit: cover;
  max-width: 100%;
  width: auto;
  border-radius: 50px;
  border-width: 3px;
}
.img__btFs > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__btFs {
    width: 60px;
    flex-shrink: 0;
    border-width: 2px;
  }
}
.text__mzpOl {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  margin-top: 0px;
  font-size: 15px;
  padding-right: 17px;
}
@media (max-width: 500px) {
  .text__mzpOl {
    font-weight: 600;
  }
}
.freeBox__j7EUv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 0.5px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-rhmrUZBooWNo);
  margin-bottom: 4px;
  margin-top: 4px;
  flex-shrink: 0;
  padding: 0px;
}
@media (max-width: 500px) {
  .freeBox__j7EUv {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
.freeBox__lIV5 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 2px;
  cursor: pointer;
  margin-bottom: 2px;
  border-bottom-style: dashed;
  border-bottom-width: 2px;
  min-width: 0;
  border-radius: 10px;
  padding: 14px 8px;
}
.freeBox__lIV5 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__lIV5 > :global(.__wab_flex-container) > *,
.freeBox__lIV5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lIV5 > :global(.__wab_flex-container) > picture > img,
.freeBox__lIV5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__oIo1I {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  height: 26px;
  width: 26px;
  flex-shrink: 0;
}
@media (max-width: 500px) {
  .svg__oIo1I {
    width: 26px;
    height: 26px;
    max-width: 100%;
    color: #acacac;
    flex-shrink: 0;
  }
}
.text__cynG0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__cynG0 {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    font-weight: 500;
    min-width: 0;
  }
}
.freeBox__l095F {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 2px;
  cursor: pointer;
  margin-bottom: 2px;
  border-bottom-style: dashed;
  border-bottom-width: 2px;
  min-width: 0;
  padding: 14px 8px;
}
.freeBox__l095F > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__l095F > :global(.__wab_flex-container) > *,
.freeBox__l095F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__l095F > :global(.__wab_flex-container) > picture > img,
.freeBox__l095F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__iQzsq {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  height: 26px;
  width: 26px;
  flex-shrink: 0;
}
@media (max-width: 500px) {
  .svg__iQzsq {
    width: 26px;
    height: 26px;
    max-width: 100%;
    color: #acacac;
    flex-shrink: 0;
  }
}
.text__zb2Fb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__zb2Fb {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    font-weight: 500;
    min-width: 0;
  }
}
.freeBox__tlNZb {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 2px;
  cursor: pointer;
  margin-bottom: 2px;
  border-bottom-style: dashed;
  border-bottom-width: 2px;
  min-width: 0;
  padding: 14px 8px;
}
.freeBox__tlNZb > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__tlNZb > :global(.__wab_flex-container) > *,
.freeBox__tlNZb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tlNZb > :global(.__wab_flex-container) > picture > img,
.freeBox__tlNZb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (max-width: 500px) {
  .freeBox__tlNZb {
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
  }
}
@media (max-width: 500px) {
  .freeBox__tlNZb > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.svg__dPlwQ {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  height: 28px;
  width: 28px;
  flex-shrink: 0;
}
.text__u5Iri {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__u5Iri {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    font-weight: 500;
    min-width: 0;
  }
}
.freeBox__leQpu {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 2px;
  cursor: pointer;
  margin-bottom: 2px;
  border-bottom-style: dashed;
  border-bottom-width: 2px;
  min-width: 0;
  padding: 14px 8px;
}
.freeBox__leQpu > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__leQpu > :global(.__wab_flex-container) > *,
.freeBox__leQpu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__leQpu > :global(.__wab_flex-container) > picture > img,
.freeBox__leQpu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (max-width: 500px) {
  .freeBox__leQpu {
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
  }
}
@media (max-width: 500px) {
  .freeBox__leQpu > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.svg__f5Gw0 {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  height: 28px;
  width: 28px;
  flex-shrink: 0;
}
.text__b8G0B {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__b8G0B {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    font-weight: 500;
    min-width: 0;
  }
}
.freeBox__eQk8M {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 2px;
  cursor: pointer;
  margin-bottom: 2px;
  min-width: 0;
  padding: 14px 8px;
}
.freeBox__eQk8M > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__eQk8M > :global(.__wab_flex-container) > *,
.freeBox__eQk8M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eQk8M > :global(.__wab_flex-container) > picture > img,
.freeBox__eQk8M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__tb8Uf {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  height: 26px;
  width: 26px;
  flex-shrink: 0;
}
@media (max-width: 500px) {
  .svg__tb8Uf {
    width: 26px;
    height: 26px;
    max-width: 100%;
    color: #acacac;
    flex-shrink: 0;
  }
}
.text__b7Az {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__b7Az {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 15px;
    font-weight: 500;
    min-width: 0;
  }
}
.freeBox__ccSrh {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 2px;
  cursor: pointer;
  margin-bottom: 2px;
  min-width: 0;
  display: none;
  padding: 14px 8px 8px;
}
.freeBox__ccSrh > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__ccSrh > :global(.__wab_flex-container) > *,
.freeBox__ccSrh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ccSrh > :global(.__wab_flex-container) > picture > img,
.freeBox__ccSrh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (max-width: 500px) {
  .freeBox__ccSrh {
    padding-bottom: 76px;
  }
}
.svg__s4Q44 {
  object-fit: cover;
  max-width: 100%;
  color: #8165d6;
  height: 30px;
}
.text__hNZ {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 13px;
  font-weight: 500;
}
.favicon:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__kk5Ux {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  align-self: flex-end;
  left: auto;
  top: 0;
  z-index: 1;
  position: absolute;
  cursor: pointer;
  bottom: auto;
  right: 0;
  flex-grow: 0;
  padding: 30px 20px 0px 0px;
  margin: 0px;
}
.img__h277 {
  object-fit: cover;
  max-width: 100%;
  margin-right: 0px;
  width: 24px;
  flex-shrink: 0;
}
.img__h277 > picture > img {
  object-fit: cover;
}
.freeBox___1Ji3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox___1Ji3 {
    padding: 0px;
  }
}
.freeBox__kYudi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px;
}
@media (max-width: 350px) {
  .freeBox__kYudi {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.img__by4VB {
  object-fit: cover;
  max-width: 100%;
  height: 30px;
  flex-shrink: 0;
}
.img__by4VB > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__by4VB {
    height: 30px;
    flex-shrink: 0;
  }
}
@media (max-width: 500px) {
  .img__by4VB {
    height: 27px;
    flex-shrink: 0;
  }
}
@media (max-width: 350px) {
  .img__by4VB {
    height: 20px;
    flex-shrink: 0;
  }
}
.freeBox__iubDy {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 20px;
  height: 20px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-pZV_D4O-0Dnd);
  left: 0;
  top: 0;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 8px;
}
.text__vl7Py {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 9px;
  text-align: center;
  color: var(--token-8R7jjC_-F9FF);
}
.checkUserPendingReserve:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
