.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .root > * {
    grid-column: 4;
  }
}
.navbarRntHeader:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__fkBvv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 2rem 10px 40px;
}
@media (max-width: 500px) {
  .freeBox__fkBvv {
    width: 100%;
    padding-top: 20px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 350px) {
  .freeBox__fkBvv {
    padding-top: 10px;
  }
}
.intro {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__bTspa {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 15px;
  min-width: 0;
  padding: 8px;
}
.text__mil54 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0px;
  color: #444444;
  min-width: 0;
}
.text__tu0MS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 0px;
  color: #444444;
  user-select: none;
  line-height: 1.8;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__tu0MS {
    font-size: 16px;
  }
}
.freeBox__sb1Hf {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__gjWfp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 15px;
  min-width: 0;
  padding: 8px;
}
.text__a6ZIp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0px;
  padding-top: 0px;
  color: #444444;
  min-width: 0;
}
.text___2ANxG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 0px;
  color: #444444;
  line-height: 1.8;
  user-select: none;
  min-width: 0;
}
@media (max-width: 500px) {
  .text___2ANxG {
    font-size: 16px;
  }
}
.freeBox__jEoBv {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__rcsR {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 15px;
  min-width: 0;
  padding: 8px;
}
.text__wNf8V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 17px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #444444;
  min-width: 0;
}
.text__aSgcX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 0px;
  color: #444444;
  padding-top: 0px;
  line-height: 1.8;
  user-select: none;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__aSgcX {
    font-size: 16px;
  }
}
.freeBox___21Gzi {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .freeBox___21Gzi {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox__xF9A {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 15px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__xF9A {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.text__wkSm0 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 0px;
  color: var(--token-8R7jjC_-F9FF);
  text-align: center;
  background: var(--token-8nedppYkGVaH);
  min-width: 320px;
  border-radius: 100px;
  padding: 18px 12px;
}
@media (max-width: 500px) {
  .text__wkSm0 {
    width: 100%;
    min-width: auto;
    font-weight: 600;
  }
}
.freeBox__wVirp {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBox__jNSj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 15px;
  min-width: 0;
  padding: 8px;
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
}
.svg__d8F2A {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___5ZTgs {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.textInput2:global(.__wab_instance) {
  max-width: 100%;
}
.svg___9DVp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__d5Fl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__ypA6W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  text-align: right;
  min-width: 0;
}
.miaanFooter:global(.__wab_instance) {
  max-width: 100%;
}
