.ariaDialogTrigger:global(.__wab_instance) {
  position: relative;
}
.svg__bqja {
  position: relative;
  height: 1em;
}
.svg__ysCah {
  position: relative;
  height: 1em;
}
.ariaModal:global(.__wab_instance) {
  background: var(--token-uCXcSmQ8oYYL);
  display: block;
  color: var(--token-ZQhYt9ow3kVX);
  font-family: var(--token-pvJTtCWKOymV);
  font-size: var(--token-PgVyZIacydUS);
  line-height: var(--token-3c7IuFcoDaBV);
  outline-style: none;
  box-shadow: 0px 24px 48px -12px #00000040;
  border-radius: var(--token-4g-D_oggsACO);
}
.pcls_V2KClJUqzbJ4 {
  background: var(--token-Cs3hmrHYmmxC);
  left: 0px;
  top: 0px;
  z-index: 10;
  position: fixed;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  outline: none;
}
.ariaDialog:global(.__wab_instance) {
  max-width: 90vw;
  object-fit: cover;
  overflow: hidden;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  outline-style: none;
}
.ariaHeading:global(.__wab_instance) {
  flex-shrink: 0;
  padding: var(--token-ZlCPYruEfTdL);
  margin: 0rem;
}
.scrollableContent {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  overflow: auto;
  padding-left: var(--token-ZlCPYruEfTdL);
  padding-right: var(--token-ZlCPYruEfTdL);
}
.freeBox__lz9Vv {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__lz9Vv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-DBGnn8GY1ODt));
  height: calc(100% + var(--token-DBGnn8GY1ODt));
}
.freeBox__lz9Vv > :global(.__wab_flex-container) > *,
.freeBox__lz9Vv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lz9Vv > :global(.__wab_flex-container) > picture > img,
.freeBox__lz9Vv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-DBGnn8GY1ODt);
}
.text__gHzGm {
  position: relative;
}
.freeBox {
  display: flex;
  position: relative;
  flex-shrink: 0;
  padding: var(--token-ZlCPYruEfTdL);
}
.freeBox___21PF {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.svg__sjbjt {
  position: relative;
  height: 1em;
}
.text__x99Sv {
  padding-left: 0px;
}
.svg__rwU7G {
  position: relative;
  height: 1em;
}
