.root2 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.freeBox__s4Ai0 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 552px;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__ektWr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 715px;
  height: auto;
  max-width: 100%;
  padding: 10px;
}
.name {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Vazirmatn", sans-serif;
  font-size: 16px;
  color: #203647;
  font-weight: 700;
  padding: 10px 10px 0px;
}
.httpRestApiFetcher:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.freeBox__jzCg {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 427px;
  height: 157px;
  max-width: 100%;
  padding: 10px;
}
.image {
  object-fit: cover;
  max-width: 100%;
  width: 168px;
  height: 116px;
  flex-shrink: 0;
  border-radius: 10px;
  margin: 10px;
}
.image > picture > img {
  object-fit: cover;
}
.collapse:global(.__wab_instance) {
  width: 211px;
  max-width: 100%;
  object-fit: cover;
  text-align: right;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  overflow: visible;
  height: 69px;
  flex-shrink: 0;
  padding: 10px;
  margin: 10px;
}
.text__eBin2 {
  text-align: right;
  font-family: "Vazirmatn", sans-serif;
  font-size: 16px;
  color: #8165d6;
  font-weight: 700;
  height: auto;
}
.text___4Qf1W {
  text-align: right;
  font-family: "Vazirmatn", sans-serif;
  font-size: 16px;
  color: #203647;
  line-height: 2;
}
