.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f9f9f9;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 500px) {
  .root > * {
    grid-column: 4;
  }
}
.main {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 420px;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  padding: 8px;
}
@media (max-width: 500px) {
  .main {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__mbFo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  outline-style: dashed;
  outline-color: #dfdfdf;
  background: #fcfcfc;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__g4NWg {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__hl4ZP {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  min-width: 0;
}
.apiRequest:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
@media (max-width: 500px) {
  .apiRequest:global(.__wab_instance) {
    animation: none;
  }
}
.freeBox__uOhxY {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 400px;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 8px;
  margin: 0px;
}
@media (max-width: 500px) {
  .freeBox__uOhxY {
    animation: none;
    max-width: none;
    margin-top: 0px;
  }
}
.selectProperty:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  height: 35px;
  width: 400px;
  flex-shrink: 0;
}
@media (max-width: 500px) {
  .selectProperty:global(.__wab_instance) {
    animation: none;
  }
}
.text__dtY2R {
  animation: none;
  font-size: 18px;
  font-family: "Estedad";
  font-weight: 400;
  font-style: normal;
  color: #706f6c;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.freeBox__lciro {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 18px 0px 0px;
}
.freeBox__qN6Hc {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.embedHtml__w7Fzj:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.freeBox__bn6GG {
  animation: none;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: column;
  min-width: 0;
  padding: 8px;
}
.embedHtml__o3Ezr:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
  min-height: 0;
}
.freeBox__q5W0 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 32px 8px 8px;
}
@media (max-width: 500px) {
  .freeBox__q5W0 {
    background: #fcfcfc;
  }
}
.text__cqfiG {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: var(--token-VC1CUzrVcfix);
  min-width: 0;
}
.main2 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 420px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  padding: 16px 8px 8px;
}
@media (max-width: 1200px) {
  .main2 {
    animation: none;
  }
}
@media (max-width: 500px) {
  .main2 {
    animation: none;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    background: #fcfcfc;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .main2 {
    animation: none;
  }
}
.freeBox__vjOZ {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 400px;
  justify-content: flex-start;
  align-items: center;
  background: #fcfcfc;
  align-self: stretch;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  min-width: 0;
  padding: 8px;
  margin: 0px;
}
@media (max-width: 500px) {
  .freeBox__vjOZ {
    animation: none;
    max-width: none;
    margin-top: 0px;
  }
}
.freeBox__l5Znz {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  outline-style: dashed;
  outline-color: #e8e8e8;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__pbHec {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.profile2:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
@media (max-width: 1200px) {
  .profile2:global(.__wab_instance) {
    animation: none;
  }
}
@media (max-width: 500px) {
  .profile2:global(.__wab_instance) {
    animation: none;
  }
}
@media (max-width: 350px) {
  .profile2:global(.__wab_instance) {
    animation: none;
  }
}
.freeBox__eRrVi {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  outline-color: #f70000;
  min-width: 0;
  padding: 8px;
}
.freeBox__fLvWr {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 70px;
  height: 70px;
  max-width: 100%;
  flex-shrink: 0;
  padding: 8px;
}
.img__xWws6 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  border-radius: 100px;
}
.img__xWws6 > picture > img {
  object-fit: cover;
}
.freeBox__dn0St {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 30%;
  min-width: 0;
  padding: 8px;
}
.text__zZ0I {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__zZ0I {
    animation: none;
    text-align: right;
  }
}
.freeBox__quv6R {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__dZvIw {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  text-align: center;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__dZvIw {
    animation: none;
    text-align: right;
  }
}
.calendarStaack {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 400px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  z-index: 1;
  align-self: stretch;
  background: #fcfcfc;
  padding: 8px;
}
@media (max-width: 500px) {
  .calendarStaack {
    animation: none;
    width: 100%;
    left: auto;
    top: auto;
    background: #fcfcfc;
    min-width: 0;
  }
}
.getPrice:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.embedHtml___6VWhw:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  text-align: center;
  min-width: 0;
}
@media (max-width: 500px) {
  .embedHtml___6VWhw:global(.__wab_instance) {
    animation: none;
  }
}
@media (max-width: 350px) {
  .embedHtml___6VWhw:global(.__wab_instance) {
    animation: none;
  }
}
.freeBox__lb02J {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__upqa3 {
  animation: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.embedHtml__sOg9O:global(.__wab_instance) {
  animation: none;
  width: 100%;
  min-width: 0;
}
@media (max-width: 500px) {
  .embedHtml__sOg9O:global(.__wab_instance) {
    animation: none;
  }
}
.freeBox__q8UW {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.embedHtml___4OefK:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.apiRequest2:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.img__zqk7R {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  display: none;
  border-radius: 0px 0px 30px 30px;
}
.img__zqk7R > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__zqk7R {
    animation: none;
  }
}
.fetchImage:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
@media (max-width: 1200px) {
  .fetchImage:global(.__wab_instance) {
    animation: none;
  }
}
@media (max-width: 500px) {
  .fetchImage:global(.__wab_instance) {
    animation: none;
  }
}
@media (max-width: 350px) {
  .fetchImage:global(.__wab_instance) {
    animation: none;
  }
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
