.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.text__glOQf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-8nedppYkGVaH);
  font-size: 18px;
  min-width: 0;
  padding: 20px;
}
.freeBox__uh0Zl {
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 50px 8px 8px;
}
.button__ydCOm:global(.__wab_instance) {
  max-width: 100%;
  max-height: 100%;
}
.svg___5NFgR {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__wb2Bz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.formField___7MoS:global(.__wab_instance) {
  width: 100%;
  color: #d2e2ef;
  min-width: 0;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__fp4QP:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-mkspxfix7Ccx);
  background: var(--token-8nedppYkGVaH);
  border-radius: 30px;
  margin: 20px;
}
.text__toSF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 0px;
  color: var(--token-mkspxfix7Ccx);
  min-width: 0;
}
.freeBox__nwSdk {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.formField__fZsKh:global(.__wab_instance) {
  width: 100%;
  color: #d2e2ef;
  min-width: 0;
}
.input2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__n0Mx9:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-mkspxfix7Ccx);
  background: var(--token-8nedppYkGVaH);
  display: none;
  border-radius: 30px;
  margin: 20px;
}
.text__hpP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 0px;
  color: var(--token-mkspxfix7Ccx);
  min-width: 0;
}
.button__ntqGk:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-mkspxfix7Ccx);
  background: var(--token-8nedppYkGVaH);
  border-radius: 30px;
  margin: 20px;
}
.text__hqd3C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 0px;
  color: var(--token-mkspxfix7Ccx);
  min-width: 0;
}
.formField__lqQs6:global(.__wab_instance) {
  width: 100%;
  color: #d2e2ef;
  min-width: 0;
}
.input3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button___9Nl4N:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-mkspxfix7Ccx);
  background: var(--token-8nedppYkGVaH);
  border-radius: 30px;
  margin: 20px;
}
.text__aeMyF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 0px;
  color: var(--token-mkspxfix7Ccx);
  min-width: 0;
}
.freeBox__oSjS {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.demoButton:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-mkspxfix7Ccx);
  background: none;
  border-radius: 30px;
  margin: 20px;
  border: 2px solid var(--token-8nedppYkGVaH);
}
.text__u4BCy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 0px;
  color: var(--token-8nedppYkGVaH);
  min-width: 0;
}
.htmlVideo:global(.__wab_instance) {
  width: 640px;
  height: auto;
  max-width: 50%;
  object-fit: cover;
  max-height: 50%;
  flex-shrink: 0;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__hjyWs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___9QvR8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.httpRestApiFetcher:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
