.root:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  color: var(--token-Y7ZM7gj_nMYR);
  font-family: var(--token-qkywJ1sQQ-h_);
  font-size: var(--token-wq-7W0QuaGtb);
  line-height: var(--token-otgoHRDIcFGD);
}
.freeBox {
  display: flex;
  flex-direction: row;
  padding: var(--token-Duv1ymIhszml) var(--token-rGvKy1FLZXMz);
}
.slotTargetHeader {
  font-weight: 600;
}
