.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 500px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox___1WkQu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-e1zhjZPlCA6d);
  flex-grow: 1;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 350px 8px;
}
.text__w07Om {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-8nedppYkGVaH);
  font-weight: 600;
  font-size: 42px;
  min-width: 0;
  display: none;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__fTkse {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___2QmW1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.checkVpn:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.vpnModal {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 100000;
  background: #00000033;
  right: 0;
  bottom: 0;
}
@media (max-width: 500px) {
  .vpnModal {
    background: #00000033;
  }
}
.freeBox___3MCwL {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox___3MCwL {
    padding-top: 8px;
    padding-bottom: 8px;
    background: #fcfcfc;
  }
}
.freeBox__eZlvd {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__eZlvd {
    display: flex;
  }
}
.img__rt61I {
  object-fit: cover;
  max-width: 100%;
  align-self: flex-end;
  transition-property: all;
  transition-duration: 1s;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.img__rt61I > picture > img {
  object-fit: cover;
}
.text___9Sbos {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-8nedppYkGVaH);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 500px) {
  .text___9Sbos {
    font-weight: 600;
    color: #444444;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.img__rpI9 {
  object-fit: cover;
  max-width: 100%;
  height: 191px;
  flex-shrink: 0;
}
.img__rpI9 > picture > img {
  object-fit: cover;
}
.text__lEVw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-8nedppYkGVaH);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__lEVw {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #444444;
    font-size: 17px;
  }
}
.freeBox___76C3 {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 20px 8px;
}
@media (max-width: 500px) {
  .freeBox___76C3 {
    display: flex;
  }
}
.button:global(.__wab_instance) {
  max-width: 50%;
}
.svg__oXfuC {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__krYb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
