.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .content {
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .content {
    display: flex;
    flex-direction: column;
    column-gap: 0px;
  }
}
@media (max-width: 350px) {
  .content {
    display: flex;
    flex-direction: column;
    padding-right: 0px;
    padding-left: 0px;
    column-gap: 0px;
  }
}
.addressText {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 18px 8px 8px;
}
@media (max-width: 1200px) {
  .addressText {
    width: 50%;
  }
}
@media (max-width: 500px) {
  .addressText {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    padding: 8px 4px 8px 8px;
  }
}
@media (max-width: 350px) {
  .addressText {
    width: 100%;
    padding-right: 8px;
  }
}
.text {
  text-align: right;
  font-size: 17px;
  line-height: 2;
  padding-bottom: 0px;
  font-weight: 500;
  font-family: "Estedad";
  color: #444444;
}
@media (max-width: 1200px) {
  .text {
    font-size: 16px;
    line-height: 1.8;
  }
}
@media (max-width: 350px) {
  .text {
    font-size: 15px;
    font-weight: 400;
  }
}
.link {
  font-family: "Estedad";
  font-weight: 500;
}
.map {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-radius: 50px;
  padding: 8px;
}
@media (max-width: 1200px) {
  .map {
    width: 50%;
    height: 239px;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 30px;
  }
}
@media (max-width: 500px) {
  .map {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 240px;
    column-gap: 0px;
    flex-shrink: 0;
    border-radius: 30px;
    padding: 8px;
  }
}
@media (max-width: 350px) {
  .map {
    width: 100%;
    margin-top: 20px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  overflow: hidden;
  height: 354px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 50px;
}
@media (max-width: 1200px) {
  .embedHtml:global(.__wab_instance) {
    height: 100%;
    min-height: 0;
    border-radius: 30px;
  }
}
@media (max-width: 500px) {
  .embedHtml:global(.__wab_instance) {
    width: 100%;
    height: 100%;
    max-width: none;
    min-height: auto;
    flex-grow: 1;
    min-width: 0;
    border-radius: 30px;
  }
}
@media (max-width: 350px) {
  .embedHtml:global(.__wab_instance) {
    border-radius: 20px;
  }
}
