.root {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 508px) {
  .root {
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 30px;
  }
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.مشکلدربرقراریارتط {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  margin-bottom: 0px;
  font-size: 16px;
  color: var(--token-Bo2_tT25lwh4);
  padding-top: 3px;
  box-shadow: none;
}
.freeBox__ppyHd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 508px) {
  .freeBox__ppyHd {
    padding: 1px;
  }
}
.fragmentDatePicker:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.dayCell:global(.__wab_instance) {
  max-width: 95%;
  margin-top: 3px;
  margin-bottom: 3px;
}
@media (max-width: 1200px) {
  .dayCell:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 508px) {
  .dayCell:global(.__wab_instance) {
    max-width: 55px;
    width: 95%;
  }
}
@media (max-width: 380px) {
  .dayCell:global(.__wab_instance) {
    max-width: 40px;
  }
}
.freeBox___3AobZ {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___3AobZ > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox___3AobZ > :global(.__wab_flex-container) > *,
.freeBox___3AobZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3AobZ > :global(.__wab_flex-container) > picture > img,
.freeBox___3AobZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.freeBox__sZgZ {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__sZgZ > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 7px);
  width: calc(100% + 7px);
}
.freeBox__sZgZ > :global(.__wab_flex-container) > *,
.freeBox__sZgZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sZgZ > :global(.__wab_flex-container) > picture > img,
.freeBox__sZgZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 7px;
}
.freeBox__bNcp {
  background: #4fdfb1;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  height: 6px;
  width: 25px;
  flex-direction: column;
  display: flex;
  min-height: 6px;
  max-height: 6px;
  position: relative;
  flex-shrink: 0;
  border-radius: 4px;
  padding: 0px;
  border: 0px solid #4fdfb1;
}
@media (max-width: 508px) {
  .freeBox__bNcp {
    max-height: 6px;
    height: 6px;
    min-height: 6px;
    padding: 0px;
  }
}
.text__c7Dd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__yeclM {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__yeclM > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 7px);
  width: calc(100% + 7px);
}
.freeBox__yeclM > :global(.__wab_flex-container) > *,
.freeBox__yeclM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yeclM > :global(.__wab_flex-container) > picture > img,
.freeBox__yeclM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 7px;
}
.freeBox__qPx3C {
  position: relative;
  background: #fbb142;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  height: 6px;
  width: 25px;
  flex-direction: column;
  display: flex;
  min-height: 6px;
  max-height: 6px;
  flex-shrink: 0;
  border-radius: 4px;
  padding: 0px;
  border: 0px solid #4fdfb1;
}
@media (max-width: 508px) {
  .freeBox__qPx3C {
    width: 25px;
    height: 6px;
    min-height: 6px;
    max-width: 100%;
    max-height: 6px;
    background: #fbb142;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    padding: 0px;
    border: 0px solid #4fdfb1;
  }
}
.text__ynzkJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__cfHXh {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__cfHXh > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 7px);
  width: calc(100% + 7px);
}
.freeBox__cfHXh > :global(.__wab_flex-container) > *,
.freeBox__cfHXh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cfHXh > :global(.__wab_flex-container) > picture > img,
.freeBox__cfHXh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 7px;
}
.freeBox___8V028 {
  position: relative;
  background: #8165d6;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  height: 6px;
  width: 25px;
  flex-direction: column;
  display: flex;
  min-height: 6px;
  max-height: 6px;
  flex-shrink: 0;
  border-radius: 4px;
  padding: 0px;
  border: 0px solid #4fdfb1;
}
@media (max-width: 508px) {
  .freeBox___8V028 {
    width: 25px;
    height: 6px;
    min-height: 6px;
    max-width: 100%;
    max-height: 6px;
    background: #8165d6;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    padding: 0px;
    border: 0px solid #4fdfb1;
  }
}
.text__ghiWo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.modalDiscount:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 676px;
  height: 182px;
  flex-shrink: 0;
  border-radius: 30px;
}
.modalDiscount__modal :global(.ant-modal-close) {
  position: relative;
  top: auto;
  left: auto;
  color: #444444;
  bottom: auto;
  right: auto;
  align-self: auto;
  outline: none;
}
@media (max-width: 508px) {
  .modalDiscount:global(.__wab_instance) {
    border-radius: 59px;
  }
}
.freeBox__ds4X1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  border-radius: 30px;
  padding: 8px;
}
.freeBox__eCwSf {
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: row;
  min-width: 0;
  padding: 0px;
}
.freeBox__eCwSf > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 18px);
  width: calc(100% + 18px);
}
.freeBox__eCwSf > :global(.__wab_flex-container) > *,
.freeBox__eCwSf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eCwSf > :global(.__wab_flex-container) > picture > img,
.freeBox__eCwSf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 18px;
}
@media (max-width: 508px) {
  .freeBox__eCwSf > :global(.__wab_flex-container) {
    justify-content: space-evenly;
  }
}
.button__q70Wl:global(.__wab_instance) {
  max-width: 100%;
  width: 45px;
  position: relative;
  left: auto;
  top: auto;
  height: 45px;
  margin-bottom: 5px;
  flex-shrink: 0;
}
.svg__eCpKg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___2Lc4 {
  padding-top: 0px;
}
.svg__gFJlr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__paPfn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 60%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  left: auto;
  top: auto;
  margin-top: 5px;
  padding: 0px;
}
@media (max-width: 1200px) {
  .freeBox__paPfn {
    width: 170px;
    flex-shrink: 0;
  }
}
@media (max-width: 508px) {
  .freeBox__paPfn {
    width: 110px;
    flex-shrink: 0;
  }
}
.numberInput4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 242px;
}
.button__eiNeQ:global(.__wab_instance) {
  max-width: 100%;
  width: 45px;
  position: relative;
  left: auto;
  top: auto;
  height: 45px;
  align-self: center;
  margin-bottom: 5px;
  flex-shrink: 0;
}
.svg___8Vi1T {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__muGte {
  padding-top: 0px;
}
.svg__rUgeG {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.columns__yd7Mi {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px 0px 8px 8px;
}
.columns__yd7Mi > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (max-width: 508px) {
  .columns__yd7Mi {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 508px) {
  .columns__yd7Mi > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__vGth9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.text___7Vj2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 13px;
  font-weight: 600;
  min-width: 0;
}
.button__jbEaL:global(.__wab_instance) {
  max-width: 100%;
  width: 72%;
}
@media (max-width: 1200px) {
  .button__jbEaL:global(.__wab_instance) {
    width: 74%;
  }
}
@media (max-width: 508px) {
  .button__jbEaL:global(.__wab_instance) {
    width: 87%;
  }
}
@media (max-width: 380px) {
  .button__jbEaL:global(.__wab_instance) {
    width: 100%;
  }
}
.svg__pQmv3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___0TClQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__jhum {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.columns__iCQj8 {
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  display: none;
  --plsmc-rc-col-gap: 0px;
  padding: 8px 0px 8px 8px;
}
.columns__iCQj8 > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__iCQj8 > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__iCQj8 > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (max-width: 508px) {
  .columns__iCQj8 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    display: none;
  }
}
@media (max-width: 508px) {
  .columns__iCQj8 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___5TW2A {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.button___8UkxY:global(.__wab_instance) {
  max-width: 100%;
  width: 50px;
}
.svg__lZb0N {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__fwejG {
  padding-top: 0px;
}
.svg__oUy26 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__aLaJh {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.numberInput3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 242px;
}
.column__mqAFp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.freeBox___8MNjo {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__b3WHe {
  text-align: center;
}
.svg__rVof0 {
  object-fit: cover;
  max-width: 100%;
  color: #7e7e7e;
  position: absolute;
  left: 0;
  top: 0;
  transition-property: all;
  transition-duration: 1s;
  cursor: pointer;
  height: 1em;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  text-align: left;
}
.modal__modal :global(.ant-modal-close) {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
.section__rqNfm {
  display: grid;
  align-content: center;
  justify-items: flex-start;
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  cursor: pointer;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 6px 0;
}
.section__rqNfm > * {
  grid-column: 4;
}
.freeBox__p8HqH {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__gTTy {
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 600;
  text-align: right;
}
.svg__wFeRl {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  height: 18px;
}
.section__xsRl {
  display: grid;
  align-content: center;
  justify-items: flex-start;
  width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  cursor: pointer;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 6px 0px;
}
.section__xsRl > * {
  grid-column: 4;
}
.text__rlhEr {
  font-size: 16px;
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 600;
}
.section__gaoiv {
  display: grid;
  align-content: center;
  justify-items: flex-start;
  width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  cursor: pointer;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 6px 0px;
}
.section__gaoiv > * {
  grid-column: 4;
}
.freeBox__abqGe {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__dBhqK {
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 600;
  text-align: right;
}
.svg__ocuJf {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  height: 18px;
}
.section__wGeqr {
  display: grid;
  align-content: center;
  justify-items: flex-start;
  width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  cursor: pointer;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 6px 0px;
}
.section__wGeqr > * {
  grid-column: 4;
}
.freeBox__icirs {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__qtZio {
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 600;
  text-align: right;
}
.svg__ekicd {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  height: 18px;
}
.section__y202M {
  display: grid;
  align-content: center;
  justify-items: flex-start;
  width: 100%;
  cursor: pointer;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 6px 0px;
}
.section__y202M > * {
  grid-column: 4;
}
.text__ptf2Y {
  color: #20364763;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 600;
  text-align: right;
}
.freeBox__qQsuM {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.svg___7AyZ4 {
  object-fit: cover;
  max-width: 100%;
  color: #7e7e7e;
  position: absolute;
  left: 0;
  top: 0;
  transition-property: all;
  transition-duration: 1s;
  cursor: pointer;
  height: 1em;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.modalChangePrice:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 676px;
  height: 182px;
  flex-shrink: 0;
  border-radius: 30px;
}
.modalChangePrice__modal :global(.ant-modal-close) {
  position: relative;
  top: auto;
  left: auto;
  color: #444444;
  bottom: auto;
  right: auto;
  align-self: auto;
  outline: none;
}
.freeBox__nvznn {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.main2 {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px 8px;
}
@media (max-width: 1200px) {
  .main2 {
    width: 100%;
  }
}
.numberInput2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 242px;
}
.text___4M0Jd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 700;
  margin-top: 4px;
  min-width: 0;
  padding: 10px 2px 2px;
}
.freeBox__b1AS4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__tWagl:global(.__wab_instance) {
  max-width: 100%;
  width: 72%;
}
@media (max-width: 1200px) {
  .button__tWagl:global(.__wab_instance) {
    width: 101%;
  }
}
@media (max-width: 508px) {
  .button__tWagl:global(.__wab_instance) {
    width: 100%;
  }
}
@media (max-width: 380px) {
  .button__tWagl:global(.__wab_instance) {
    width: 100%;
  }
}
.svg__hjxPo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__zYb5O {
  padding: 4px;
}
.svg__dzl3U {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__d2E3K {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.svg__rpS {
  object-fit: cover;
  max-width: 100%;
  color: #7e7e7e;
  position: absolute;
  left: 0;
  top: 0;
  transition-property: all;
  transition-duration: 1s;
  cursor: pointer;
  height: 1em;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.button__fNtwK:global(.__wab_instance) {
  max-width: 100%;
  width: 90%;
}
@media (max-width: 508px) {
  .button__fNtwK:global(.__wab_instance) {
    height: 60px;
    margin-top: 10px;
    flex-shrink: 0;
  }
}
@media (max-width: 380px) {
  .button__fNtwK:global(.__wab_instance) {
    height: 60px;
    flex-shrink: 0;
  }
}
.svg__em3AM {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__ary0S {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 45px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.text__psStq {
  margin-left: 0px;
  margin-right: 10px;
  font-weight: 600;
  font-size: 15px;
}
@media (max-width: 508px) {
  .text__psStq {
    font-size: 17px;
  }
}
@media (max-width: 380px) {
  .text__psStq {
    font-size: 17px;
    font-weight: 600;
  }
}
.svg__jsKQ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.fetchModal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 536px;
  border-radius: 30px;
}
.userPlatform:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__iAx3T {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.loading2 {
  object-fit: cover;
  max-width: 100%;
  height: 34px;
  flex-shrink: 0;
  margin: 0px;
}
.loading2 > picture > img {
  object-fit: cover;
}
.text__y1Tc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__xAfjs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 508px) {
  .freeBox__xAfjs {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
.freeBox__zeq8A {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 508px) {
  .freeBox__zeq8A {
    padding: 3px;
  }
}
.freeBox__rfsi {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__i0Ncp {
  position: relative;
  width: 40%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  font-size: 18px;
}
.freeBox__x9Ue1 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.ok {
  object-fit: cover;
  max-width: 100%;
  height: 34px;
  flex-shrink: 0;
  margin: 0px;
}
.ok > picture > img {
  object-fit: cover;
}
.fail {
  object-fit: cover;
  max-width: 100%;
  height: 34px;
  flex-shrink: 0;
  margin: 0px;
}
.fail > picture > img {
  object-fit: cover;
}
.loading {
  object-fit: cover;
  max-width: 100%;
  height: 34px;
  flex-shrink: 0;
  margin: 0px;
}
.loading > picture > img {
  object-fit: cover;
}
.text__vJgZx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  min-width: 0;
}
.button__sWmv0:global(.__wab_instance) {
  max-width: 86%;
  width: 100%;
  max-height: 40px;
  margin-top: 11px;
}
@media (max-width: 508px) {
  .button__sWmv0:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__f29Jc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ygRNd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.block:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.freeBox__rQwrw {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__rQwrw > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__rQwrw > :global(.__wab_flex-container) > *,
.freeBox__rQwrw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rQwrw > :global(.__wab_flex-container) > picture > img,
.freeBox__rQwrw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg___6Cjwc {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.text__ekvPr {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 11px;
  padding-bottom: 5px;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  min-width: 0;
  border-top: 1px solid var(--token-rhmrUZBooWNo);
}
.freeBox__hqBe4 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__hqBe4 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__hqBe4 > :global(.__wab_flex-container) > *,
.freeBox__hqBe4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hqBe4 > :global(.__wab_flex-container) > picture > img,
.freeBox__hqBe4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg___2LfYe {
  object-fit: cover;
  max-width: 100%;
  color: #acacac;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.text__wnE1G {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  border-top-width: 1px;
  border-top-style: solid;
  font-weight: 400;
  font-size: 16px;
  min-width: 0;
}
.text___4Wf5 {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: not-allowed;
  color: var(--token-rhmrUZBooWNo);
  min-width: 0;
  display: none;
  border-top: 0.5px solid var(--token-rhmrUZBooWNo);
  border-bottom: 0.5px solid var(--token-rhmrUZBooWNo);
}
.freeBox__oV0Zq {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.svg__jlAi6 {
  object-fit: cover;
  max-width: 100%;
  color: #7e7e7e;
  position: absolute;
  left: 0;
  top: 0;
  transition-property: all;
  transition-duration: 1s;
  cursor: pointer;
  height: 1em;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.text___6FaXn {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  margin-bottom: 0px;
  font-weight: 600;
  min-width: 0;
  padding: 5px 2px 10px;
}
