.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 9px 0px 0px;
}
.root > * {
  grid-column: 4;
}
@media (max-width: 500px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox__co91K {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: var(--token--290uurj-8QW);
  height: auto;
  flex-wrap: nowrap;
  align-content: stretch;
  margin-right: 0px;
  padding-right: 0px;
}
.freeBox___3Lpss {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: var(--token--290uurj-8QW);
  height: auto;
  padding: 8px 0px 8px 8px;
}
.httpRestApiFetcher:global(.__wab_instance) {
  width: 429px;
  max-width: 100%;
  object-fit: cover;
  flex-shrink: 0;
}
.text___8TX84 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.text__yOg4X {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.wallet:global(.__wab_instance) {
  position: relative;
  margin-right: 0px;
}
.propertyName:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  margin-bottom: 0px;
  margin-right: 75px;
  margin-left: 0px;
}
.fragmentLongPress:global(.__wab_instance) {
  max-width: 100%;
}
.text__bReIo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  user-select: none;
  font-size: 18px;
  min-width: 0;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.formField__cb39V:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField___8Jbeb:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.textArea:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__d5S6O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
