.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: flex-start;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__dbGax {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___5Adbx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__xE9OE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-8nedppYkGVaH);
  font-weight: 700;
  font-size: 18px;
  min-width: 0;
  margin: 20px;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.platforms:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__i62NY {
  padding-left: 0px;
  font-size: 16px;
}
.freeBox__pDxl4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___964QV {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.jabamaCheckbox:global(.__wab_instance) {
  max-width: 100%;
}
.text__aHoBz {
  padding-right: 0px;
  font-family: "Estedad";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  color: #203647;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.freeBox__h4Qm7 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.jajigaCheckbox:global(.__wab_instance) {
  max-width: 100%;
}
.text__uR2U {
  padding-right: 0px;
  font-family: "Estedad";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  color: #203647;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.freeBox__qnqFf {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__upl2M {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.shabCheckbox:global(.__wab_instance) {
  max-width: 100%;
}
.text__u6ACy {
  padding-right: 0px;
  font-family: "Estedad";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  color: #203647;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.freeBox__sCo2Z {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.otaghakCheckbox4:global(.__wab_instance) {
  max-width: 100%;
}
.text__tymU {
  padding-right: 0px;
  font-family: "Estedad";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  color: #203647;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.freeBox__bfei2 {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBox__jwgpa {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.mihmanshoCheckbox5:global(.__wab_instance) {
  max-width: 100%;
}
.text__gJiTp {
  padding-right: 0px;
  font-family: "Estedad";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  color: #203647;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.freeBox__owk9 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.homsaCheckbox:global(.__wab_instance) {
  max-width: 100%;
}
.text__sIEw {
  padding-right: 0px;
  font-family: "Estedad";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  color: #203647;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.freeBox__fHf0F {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBox__bzrbb {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.mizboonCheckbox7:global(.__wab_instance) {
  max-width: 100%;
}
.text__uLuNu {
  padding-right: 0px;
  font-family: "Estedad";
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  color: #203647;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.freeBox__cyqLl {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.submitButton:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text__bqgcW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.formField__lGbMw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__mhY2K {
  padding-left: 0px;
  font-size: 16px;
}
.input26:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__blzcT {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.jabamasend2:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text__g84IW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.back:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: none;
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
  border: 0px solid var(--token-8nedppYkGVaH);
}
.text___4WdSj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  color: var(--token-8nedppYkGVaH);
  min-width: 0;
}
.formField___5EMQr:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text__c66Yk {
  padding-left: 0px;
  font-size: 16px;
}
.input8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__l6Jdi {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.jabamaverify:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text__ci8Uq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.jabamaverify2:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: linear-gradient(#ffffff, #ffffff), var(--token-8nedppYkGVaH);
  color: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
  border: 2px solid var(--token-8nedppYkGVaH);
}
.text__jQoFl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.formField__zVrCk:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__k0XDp {
  padding-left: 0px;
  font-size: 16px;
}
.input7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___4ZdA {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.jajigasend:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text__stCk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.jajigasend2:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: none;
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
  border: 0px solid var(--token-8nedppYkGVaH);
}
.text__rGudO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  color: var(--token-8nedppYkGVaH);
  min-width: 0;
}
.formField__tskla:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text___701TY {
  padding-left: 0px;
  font-size: 16px;
}
.input6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__ooXp5 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.jajigaverify:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text___5RQnV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.jajigaverify2:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: linear-gradient(#ffffff, #ffffff), #8165d6;
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
  border: 2px solid var(--token-8nedppYkGVaH);
}
.text__kc1US {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  color: var(--token-8nedppYkGVaH);
  min-width: 0;
}
.formField__jNtmT:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__h9Px {
  padding-left: 0px;
  font-size: 16px;
}
.input9:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__xbuA0 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.shabsend:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text__khj9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.shabsend2:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: none;
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
  border: 0px solid var(--token-8nedppYkGVaH);
}
.text__pb10 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  color: var(--token-8nedppYkGVaH);
  min-width: 0;
}
.formField__qePff:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text__srb4R {
  padding-left: 0px;
  font-size: 16px;
}
.input10:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__jDbxS {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.shabverify:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text___8Y6Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.shabverify3:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: linear-gradient(#ffffff, #ffffff), #8165d6;
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
  border: 2px solid var(--token-8nedppYkGVaH);
}
.text__fCf4I {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  color: var(--token-8nedppYkGVaH);
  min-width: 0;
}
.formField__idApY:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__ccWd {
  padding-left: 0px;
  font-size: 16px;
}
.input11:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__t10FY {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.otaghaksend:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text__liTmZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.otaghaksend4:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: none;
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
  border: 0px solid var(--token-8nedppYkGVaH);
}
.text__ggNWi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  color: var(--token-8nedppYkGVaH);
  min-width: 0;
}
.formField__hTxTa:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text__iarsO {
  padding-left: 0px;
  font-size: 16px;
}
.input12:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__wn3B {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.otaghakverify:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text__mnRi2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.otaghakverify5:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: linear-gradient(#ffffff, #ffffff), #8165d6;
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
  border: 2px solid var(--token-8nedppYkGVaH);
}
.text__idM7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  color: var(--token-8nedppYkGVaH);
  min-width: 0;
}
.formField__bg02G:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
  display: none;
}
.text___7Pxu {
  padding-left: 0px;
  font-size: 16px;
}
.input13:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__uufN1 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.mihmanshosend:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text___4IrEe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.mihmanshosend6:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: none;
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
  border: 0px solid var(--token-8nedppYkGVaH);
}
.text___0L4Ph {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  color: var(--token-8nedppYkGVaH);
  min-width: 0;
}
.formField__diLpk:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  display: none;
}
.text__jy6Cu {
  padding-left: 0px;
  font-size: 16px;
}
.input14:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__eRke {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.mihmanshoverify:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text__n4Qjm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.mihmanshoverify7:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: linear-gradient(#ffffff, #ffffff), #8165d6;
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
  border: 2px solid var(--token-8nedppYkGVaH);
}
.text__qPiK9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  color: var(--token-8nedppYkGVaH);
  min-width: 0;
}
.freeBox__wsgcn {
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.formField__jwl5L:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text___9RgHb {
  padding-left: 0px;
  font-size: 16px;
}
.input15:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__lMxZ:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text___8PRwt {
  padding-left: 0px;
  font-size: 16px;
}
.input16:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__lQqKz {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.homsaverify:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text__enEiY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.homsaverify2:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: none;
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
  border: 0px solid var(--token-8nedppYkGVaH);
}
.text__x08KA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  color: var(--token-8nedppYkGVaH);
  min-width: 0;
}
.formField__zpGg1:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
  display: none;
}
.text__iEnQ2 {
  padding-left: 0px;
  font-size: 16px;
}
.input17:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__z0QvV {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.mizboonsend:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text___2XqyW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.mizboonsend3:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: linear-gradient(#ffffff, #ffffff), #8165d6;
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
  border: 2px solid var(--token-8nedppYkGVaH);
}
.text__pzoUq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  color: var(--token-8nedppYkGVaH);
  min-width: 0;
}
.freeBox__zdbZ {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  padding: 8px;
}
.formField__dLcU6:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text___0X1C7 {
  padding-left: 0px;
  font-size: 16px;
}
.input18:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__o63Nn {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.mizboonverify:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text__maFoh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.mizboonverify4:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: none;
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
  border: 0px solid var(--token-8nedppYkGVaH);
}
.text__kuod {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  color: var(--token-8nedppYkGVaH);
  min-width: 0;
}
.platformpropertyIds {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.jajigapp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.formField__nljzW:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__q45Ty {
  padding-left: 0px;
  font-size: 16px;
}
.input19:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.shabpp {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.formField__xnsN:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__pKpL1 {
  padding-left: 0px;
  font-size: 16px;
}
.input20:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.otaghakpp {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.formField__nf4WK:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__aztJ {
  padding-left: 0px;
  font-size: 16px;
}
.input21:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.mihmanshopp {
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.formField__cTbj:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__rTkU {
  padding-left: 0px;
  font-size: 16px;
}
.input22:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.homsapp {
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.formField__oz3H6:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__cYwH {
  padding-left: 0px;
  font-size: 16px;
}
.input23:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.mizboonpp {
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.formField__kHud4:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__wpQSz {
  padding-left: 0px;
  font-size: 16px;
}
.input24:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.jabamapp {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.formField__d9HMy:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text___4WgU {
  padding-left: 0px;
  font-size: 16px;
}
.input27:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__uoOF {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.platformpropertyButton:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text__ybVe1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.platformpropertyButton2:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: linear-gradient(#ffffff, #ffffff), var(--token-8nedppYkGVaH);
  color: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
  border: 2px solid var(--token-8nedppYkGVaH);
}
.text__jHeRa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  font-weight: 500;
  min-width: 0;
}
.backToPanel:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: linear-gradient(#ffffff, #ffffff), var(--token-8nedppYkGVaH);
  color: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
  border: 2px solid var(--token-8nedppYkGVaH);
}
.text___3ExO0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  font-weight: 500;
  min-width: 0;
}
