.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: linear-gradient(
      40deg,
      #fcfcfc 0%,
      #ebfaff 38%,
      #fcfcfc 63%,
      #ebfaff 96%
    )
    0% 0% / 100% 100% repeat;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 500px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 350px) {
  .root {
    padding-top: 0px;
    background: linear-gradient(
      50deg,
      #b5d2e7 0%,
      #cee1f1 24%,
      #fcfcfc 47%,
      #d6ebfa 78%,
      #fcfcfc 96%
    );
  }
}
@media (max-width: 350px) {
  .root > * {
    grid-column: 4;
  }
}
.header {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 9px 16px 0em;
}
.freeBox__fil3J {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 10%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 1;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__fil3J {
    z-index: 100;
  }
}
@media (max-width: 500px) {
  .freeBox__fil3J {
    z-index: 1000000;
    display: none;
  }
}
@media (max-width: 350px) {
  .freeBox__fil3J {
    display: none;
  }
}
.sideBar2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: auto;
  top: 0;
  right: 0;
}
@media (max-width: 1200px) {
  .sideBar2:global(.__wab_instance):global(.__wab_instance) {
    width: 70px;
    height: auto;
  }
}
@media (max-width: 500px) {
  .sideBar2:global(.__wab_instance):global(.__wab_instance) {
    height: auto;
  }
}
.freeBox__maJ5L {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__maJ5L {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.text__fyrea {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}
@media (max-width: 1200px) {
  .text__fyrea {
    width: 90%;
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .text__fyrea {
    width: 80%;
    font-size: 19px;
  }
}
@media (max-width: 350px) {
  .text__fyrea {
    font-size: 17px;
  }
}
.profile2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.mainContents {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px 0px 0px;
}
@media (max-width: 1200px) {
  .mainContents {
    max-width: 100%;
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 500px) {
  .mainContents {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.introduction {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 20px 16px 8px;
}
@media (max-width: 1200px) {
  .introduction {
    padding-right: 0px;
    padding-left: 0px;
    max-width: 96%;
  }
}
@media (max-width: 500px) {
  .introduction {
    max-width: 100%;
    padding-top: 0px;
  }
}
.teamImage {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .teamImage {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 500px) {
  .teamImage {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (max-width: 350px) {
  .teamImage {
    padding-right: 4px;
    padding-left: 4px;
  }
}
.introCalendarLeft {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (max-width: 1200px) {
  .introCalendarLeft {
    padding-right: 8px;
    padding-left: 8px;
  }
}
@media (max-width: 500px) {
  .introCalendarLeft {
    padding-right: 8px;
    padding-left: 8px;
  }
}
.img__bnyHr {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 50px;
}
.img__bnyHr > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__bnyHr {
    border-radius: 30px;
  }
}
@media (max-width: 500px) {
  .img__bnyHr {
    border-radius: 15px;
  }
}
@media (max-width: 350px) {
  .img__bnyHr {
    border-radius: 10px;
  }
}
.text__edH9K {
  text-align: right;
  font-size: 17px;
  line-height: 1.8;
  padding-right: 8px;
  padding-left: 8px;
}
@media (max-width: 500px) {
  .text__edH9K {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__edH9K {
    font-size: 15px;
  }
}
.accessWays {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  margin-top: 0px;
  min-width: 0;
  border-radius: 50px;
  padding: 10px 16px 20px;
}
@media (max-width: 1200px) {
  .accessWays {
    margin-top: 0px;
    max-width: 100%;
    padding-bottom: 0px;
  }
}
@media (max-width: 500px) {
  .accessWays {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 20px;
    background: none;
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .accessWays {
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 30px;
  }
}
.freeBox__yjk5I {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  background: linear-gradient(
    40deg,
    #d0f3ff 0%,
    #fcfcfc 38%,
    #ebfaff 59%,
    #f1fbfe 82%,
    #fcfcfc 97%
  );
  min-width: 0;
  border-radius: 50px;
  padding: 30px 16px 40px 0px;
  border-width: 2px;
}
@media (max-width: 1200px) {
  .freeBox__yjk5I {
    margin-top: 20px;
  }
}
@media (max-width: 500px) {
  .freeBox__yjk5I {
    padding-right: 0px;
    padding-bottom: 30px;
    border-radius: 0px;
  }
}
.sectionTitle {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .sectionTitle {
    align-items: center;
    justify-content: center;
  }
}
.text__nIXpV {
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  padding-top: 0px;
  padding-right: 0px;
}
@media (max-width: 1200px) {
  .text__nIXpV {
    padding-right: 0px;
  }
}
@media (max-width: 500px) {
  .text__nIXpV {
    padding-right: 0px;
  }
}
@media (max-width: 350px) {
  .text__nIXpV {
    text-align: center;
    font-size: 18px;
    padding-right: 0px;
  }
}
.freeBox__tt6Mw {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 92%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__tt6Mw {
    max-width: 90%;
  }
}
@media (max-width: 500px) {
  .freeBox__tt6Mw {
    padding-top: 0px;
    max-width: 100%;
    justify-content: center;
    align-items: flex-start;
  }
}
@media (max-width: 350px) {
  .freeBox__tt6Mw {
    justify-content: center;
    align-items: flex-start;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.ways {
  display: grid;
  position: relative;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-gap: 0px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .ways {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media (max-width: 500px) {
  .ways {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    max-width: 90%;
  }
}
@media (max-width: 350px) {
  .ways {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding-right: 0px;
    padding-left: 0px;
    max-width: 96%;
  }
}
.freeBox__ryaQa {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.contact6 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 140px;
  max-width: 140px;
  background: #fcfcfc;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  filter: blur(0px);
  min-width: 140px;
  max-height: 140px;
  min-height: 140px;
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 30px;
  padding: 8px 0px;
  margin: 0px;
}
.contact6 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1200px) {
  .contact6 {
    width: 100%;
    height: 100%;
    min-width: auto;
    min-height: auto;
    max-width: none;
    max-height: 140px;
    background: #fcfcfc;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    flex-direction: column;
    border-radius: 30px;
    padding: 8px 0px;
    margin: 0px;
  }
}
@media (max-width: 1200px) {
  .contact6 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 1200px) {
  .contact6 > :global(.__wab_flex-container) > *,
  .contact6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .contact6 > :global(.__wab_flex-container) > picture > img,
  .contact6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
@media (max-width: 500px) {
  .contact6 {
    min-width: auto;
    max-width: none;
    height: 100%;
    min-height: 140px;
  }
}
@media (max-width: 500px) {
  .contact6 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 350px) {
  .contact6 {
    min-height: auto;
    max-height: 140px;
    max-width: none;
    min-width: auto;
    width: 100%;
    height: 100%;
    background: #fcfcfc;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    flex-direction: column;
    border-radius: 30px;
    padding: 0px 0px 8px;
    margin: 10px;
  }
}
@media (max-width: 350px) {
  .contact6 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 350px) {
  .contact6 > :global(.__wab_flex-container) > *,
  .contact6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .contact6 > :global(.__wab_flex-container) > picture > img,
  .contact6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.icon6 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .icon6 {
    margin-bottom: 0px;
  }
}
.img__bmxP {
  object-fit: cover;
  max-width: 30%;
}
.img__bmxP > picture > img {
  object-fit: cover;
}
.title6 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 0px;
}
@media (max-width: 1200px) {
  .title6 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 500px) {
  .title6 {
    padding-top: 6px;
  }
}
@media (max-width: 350px) {
  .title6 {
    padding-top: 0px;
  }
}
.text__mtUqr {
  padding-right: 0px;
  max-width: 100%;
  font-weight: 500;
  color: #444444;
  font-size: 17px;
  text-align: center;
}
@media (max-width: 350px) {
  .text__mtUqr {
    font-size: 15px;
  }
}
.caption6 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (max-width: 350px) {
  .caption6 {
    padding-top: 0px;
  }
}
.text__r5HTk {
  text-align: center;
  font-size: 16px;
  color: #444444;
  font-weight: 500;
}
@media (max-width: 1200px) {
  .text__r5HTk {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .text__r5HTk {
    font-size: 15px;
  }
}
.freeBox___2Eyto {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.contact10 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 140px;
  max-width: 140px;
  background: #fcfcfc;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  filter: blur(0px);
  min-width: 140px;
  max-height: 140px;
  min-height: 140px;
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 30px;
  padding: 8px 0px;
  margin: 0px;
}
.contact10 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1200px) {
  .contact10 {
    width: 100%;
    height: 100%;
    min-width: auto;
    min-height: auto;
    max-width: none;
    max-height: 140px;
    background: #fcfcfc;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    flex-direction: column;
    border-radius: 30px;
    padding: 8px 0px;
    margin: 0px;
  }
}
@media (max-width: 1200px) {
  .contact10 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 1200px) {
  .contact10 > :global(.__wab_flex-container) > *,
  .contact10 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .contact10 > :global(.__wab_flex-container) > picture > img,
  .contact10
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
@media (max-width: 500px) {
  .contact10 {
    width: 100%;
    height: 100%;
    max-width: none;
    flex-direction: column;
    min-width: auto;
    min-height: 140px;
    max-height: 140px;
    background: #fcfcfc;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 30px;
    padding: 8px 0px;
    margin: 0px;
  }
}
@media (max-width: 500px) {
  .contact10 > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 500px) {
  .contact10 > :global(.__wab_flex-container) > *,
  .contact10 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .contact10 > :global(.__wab_flex-container) > picture > img,
  .contact10
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
@media (max-width: 350px) {
  .contact10 {
    min-height: auto;
    max-height: 140px;
    width: 100%;
    height: 100%;
    min-width: auto;
    max-width: none;
    background: #fcfcfc;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    flex-direction: column;
    border-radius: 30px;
    padding: 0px 0px 8px;
    margin: 10px;
  }
}
@media (max-width: 350px) {
  .contact10 > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 350px) {
  .contact10 > :global(.__wab_flex-container) > *,
  .contact10 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .contact10 > :global(.__wab_flex-container) > picture > img,
  .contact10
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.icon10 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.svg__m8Afc {
  object-fit: cover;
  max-width: 30%;
  color: #ffaf24;
  width: 46px;
  height: 40px;
  flex-shrink: 0;
}
.title10 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 0px;
}
@media (max-width: 1200px) {
  .title10 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 500px) {
  .title10 {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 6px 0px 0px;
  }
}
@media (max-width: 350px) {
  .title10 {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 0px;
  }
}
.text___5Uugk {
  max-width: 100%;
  font-weight: 500;
  color: #444444;
  font-size: 17px;
  text-align: center;
}
@media (max-width: 350px) {
  .text___5Uugk {
    font-size: 15px;
  }
}
.caption10 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (max-width: 350px) {
  .caption10 {
    padding-top: 0px;
  }
}
.text__thdzA {
  text-align: center;
  font-size: 16px;
  color: #444444;
  font-weight: 500;
}
@media (max-width: 1200px) {
  .text__thdzA {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .text__thdzA {
    font-size: 15px;
  }
}
.freeBox__zZfjf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.contact7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 140px;
  max-width: 140px;
  background: #fcfcfc;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  filter: blur(0px);
  min-width: 140px;
  max-height: 140px;
  min-height: 140px;
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 30px;
  padding: 8px 0px;
  margin: 0px;
}
.contact7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1200px) {
  .contact7 {
    width: 100%;
    height: 100%;
    min-width: auto;
    min-height: auto;
    max-width: none;
    max-height: 140px;
    background: #fcfcfc;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    flex-direction: column;
    border-radius: 30px;
    padding: 8px 0px;
    margin: 0px;
  }
}
@media (max-width: 1200px) {
  .contact7 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 1200px) {
  .contact7 > :global(.__wab_flex-container) > *,
  .contact7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .contact7 > :global(.__wab_flex-container) > picture > img,
  .contact7
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
@media (max-width: 500px) {
  .contact7 {
    width: 100%;
    height: 100%;
    max-width: none;
    flex-direction: column;
    min-width: auto;
    min-height: 140px;
    max-height: 140px;
    background: #fcfcfc;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 30px;
    padding: 8px 0px;
    margin: 0px;
  }
}
@media (max-width: 500px) {
  .contact7 > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 500px) {
  .contact7 > :global(.__wab_flex-container) > *,
  .contact7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .contact7 > :global(.__wab_flex-container) > picture > img,
  .contact7
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
@media (max-width: 350px) {
  .contact7 {
    min-height: auto;
    max-height: 140px;
    width: 100%;
    height: 100%;
    min-width: auto;
    max-width: none;
    background: #fcfcfc;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    flex-direction: column;
    border-radius: 30px;
    padding: 0px 0px 8px;
    margin: 10px;
  }
}
@media (max-width: 350px) {
  .contact7 > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 350px) {
  .contact7 > :global(.__wab_flex-container) > *,
  .contact7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .contact7 > :global(.__wab_flex-container) > picture > img,
  .contact7
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.icon7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__yOfmf {
  object-fit: cover;
  max-width: 30%;
}
.img__yOfmf > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__yOfmf {
    max-width: 28%;
  }
}
.title7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 0px;
}
@media (max-width: 1200px) {
  .title7 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 500px) {
  .title7 {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 6px 0px 0px;
  }
}
@media (max-width: 350px) {
  .title7 {
    padding-top: 0px;
  }
}
.text__yenud {
  padding-right: 0px;
  max-width: 100%;
  font-weight: 500;
  color: #444444;
  font-size: 17px;
  text-align: center;
}
@media (max-width: 350px) {
  .text__yenud {
    font-size: 15px;
  }
}
.caption7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (max-width: 350px) {
  .caption7 {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 0px 0px 8px;
  }
}
.text___5Nm2 {
  text-align: center;
  font-size: 16px;
  color: #444444;
  font-weight: 500;
}
@media (max-width: 1200px) {
  .text___5Nm2 {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .text___5Nm2 {
    font-size: 15px;
  }
}
.freeBox__a5Scl {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.contact8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 140px;
  max-width: 140px;
  background: #fcfcfc;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  filter: blur(0px);
  min-width: 140px;
  max-height: 140px;
  min-height: 140px;
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 30px;
  padding: 8px 0px;
  margin: 0px;
}
.contact8 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1200px) {
  .contact8 {
    width: 100%;
    height: 100%;
    min-width: auto;
    min-height: auto;
    max-width: none;
    max-height: 140px;
    background: #fcfcfc;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    flex-direction: column;
    border-radius: 30px;
    padding: 8px 0px;
    margin: 0px;
  }
}
@media (max-width: 1200px) {
  .contact8 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 1200px) {
  .contact8 > :global(.__wab_flex-container) > *,
  .contact8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .contact8 > :global(.__wab_flex-container) > picture > img,
  .contact8
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
@media (max-width: 500px) {
  .contact8 {
    width: 100%;
    height: 100%;
    max-width: none;
    flex-direction: column;
    min-width: auto;
    min-height: 140px;
    max-height: 140px;
    background: #fcfcfc;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 30px;
    padding: 8px 0px;
    margin: 0px;
  }
}
@media (max-width: 500px) {
  .contact8 > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 500px) {
  .contact8 > :global(.__wab_flex-container) > *,
  .contact8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .contact8 > :global(.__wab_flex-container) > picture > img,
  .contact8
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
@media (max-width: 350px) {
  .contact8 {
    min-height: auto;
    max-height: 140px;
    width: 100%;
    height: 100%;
    min-width: auto;
    max-width: none;
    background: #fcfcfc;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    flex-direction: column;
    border-radius: 30px;
    padding: 0px 0px 8px;
    margin: 10px;
  }
}
@media (max-width: 350px) {
  .contact8 > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 350px) {
  .contact8 > :global(.__wab_flex-container) > *,
  .contact8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .contact8 > :global(.__wab_flex-container) > picture > img,
  .contact8
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.icon8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__kJqsc {
  object-fit: cover;
  max-width: 30%;
}
.img__kJqsc > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__kJqsc {
    max-width: 28%;
  }
}
.title8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 0px;
}
@media (max-width: 1200px) {
  .title8 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 500px) {
  .title8 {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 6px 0px 0px;
  }
}
@media (max-width: 350px) {
  .title8 {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 0px 0px 8px;
  }
}
.text__rv0Au {
  padding-right: 0px;
  max-width: 100%;
  font-weight: 500;
  color: #444444;
  font-size: 17px;
  text-align: center;
}
@media (max-width: 350px) {
  .text__rv0Au {
    font-size: 15px;
  }
}
.caption8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (max-width: 350px) {
  .caption8 {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 0px 0px 8px;
  }
}
.text___2Sg7Z {
  text-align: center;
  font-size: 16px;
  color: #444444;
  font-weight: 500;
}
@media (max-width: 1200px) {
  .text___2Sg7Z {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .text___2Sg7Z {
    font-size: 15px;
  }
}
.freeBox__rcAYr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.contact9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 140px;
  max-width: 140px;
  background: #fcfcfc;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  filter: blur(0px);
  min-width: 140px;
  max-height: 140px;
  min-height: 140px;
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 30px;
  padding: 8px 0px;
  margin: 0px;
}
.contact9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1200px) {
  .contact9 {
    min-width: auto;
    max-width: none;
    height: 100%;
    min-height: auto;
    width: 100%;
    max-height: 140px;
    background: #fcfcfc;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    flex-direction: column;
    border-radius: 30px;
    padding: 8px 0px;
    margin: 0px;
  }
}
@media (max-width: 1200px) {
  .contact9 > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 1200px) {
  .contact9 > :global(.__wab_flex-container) > *,
  .contact9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .contact9 > :global(.__wab_flex-container) > picture > img,
  .contact9
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
@media (max-width: 500px) {
  .contact9 {
    width: 100%;
    height: 100%;
    max-width: none;
    flex-direction: column;
    min-width: auto;
    min-height: 140px;
    max-height: 140px;
    background: #fcfcfc;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 30px;
    padding: 8px 0px;
    margin: 0px;
  }
}
@media (max-width: 500px) {
  .contact9 > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 500px) {
  .contact9 > :global(.__wab_flex-container) > *,
  .contact9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .contact9 > :global(.__wab_flex-container) > picture > img,
  .contact9
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
@media (max-width: 350px) {
  .contact9 {
    max-height: 140px;
    width: 100%;
    height: 100%;
    background: #fcfcfc;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    border-radius: 30px;
    padding: 0px 0px 8px;
    margin: 10px;
  }
}
@media (max-width: 350px) {
  .contact9 > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    min-height: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 350px) {
  .contact9 > :global(.__wab_flex-container) > *,
  .contact9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .contact9 > :global(.__wab_flex-container) > picture > img,
  .contact9
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.icon9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.svg__brztz {
  object-fit: cover;
  max-width: 26%;
  color: #2f1900;
  width: 40px;
  height: 39px;
  margin-bottom: 0px;
  flex-shrink: 0;
}
.title9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 0px;
}
@media (max-width: 1200px) {
  .title9 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 500px) {
  .title9 {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 6px 0px 0px;
  }
}
@media (max-width: 350px) {
  .title9 {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 0px;
  }
}
.text___3Ygg3 {
  padding-right: 0px;
  max-width: 100%;
  font-weight: 500;
  color: #444444;
  font-size: 17px;
  text-align: center;
}
@media (max-width: 350px) {
  .text___3Ygg3 {
    font-size: 15px;
  }
}
.caption9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (max-width: 350px) {
  .caption9 {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 0px 0px 8px;
  }
}
.text__pgFiv {
  text-align: center;
  font-size: 16px;
  color: #444444;
  font-weight: 500;
}
@media (max-width: 1200px) {
  .text__pgFiv {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .text__pgFiv {
    font-size: 15px;
  }
}
.freeBox__cdAo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.contact11 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 140px;
  max-width: 140px;
  background: #fcfcfc;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  filter: blur(0px);
  min-width: 140px;
  max-height: 140px;
  min-height: 140px;
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 30px;
  padding: 8px 0px;
  margin: 0px;
}
.contact11 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1200px) {
  .contact11 {
    width: 100%;
    height: 100%;
    min-width: auto;
    min-height: auto;
    max-width: none;
    max-height: 140px;
    background: #fcfcfc;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    flex-direction: column;
    border-radius: 30px;
    padding: 8px 0px;
    margin: 0px;
  }
}
@media (max-width: 1200px) {
  .contact11 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 1200px) {
  .contact11 > :global(.__wab_flex-container) > *,
  .contact11 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .contact11 > :global(.__wab_flex-container) > picture > img,
  .contact11
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
@media (max-width: 500px) {
  .contact11 {
    width: 100%;
    height: 100%;
    max-width: none;
    flex-direction: column;
    min-width: auto;
    min-height: 140px;
    max-height: 140px;
    background: #fcfcfc;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 30px;
    padding: 8px 0px;
    margin: 0px;
  }
}
@media (max-width: 500px) {
  .contact11 > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 500px) {
  .contact11 > :global(.__wab_flex-container) > *,
  .contact11 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .contact11 > :global(.__wab_flex-container) > picture > img,
  .contact11
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
@media (max-width: 350px) {
  .contact11 {
    min-height: auto;
    max-height: 140px;
    width: 100%;
    height: 100%;
    min-width: auto;
    max-width: none;
    background: #fcfcfc;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    flex-direction: column;
    border-radius: 30px;
    padding: 0px 0px 8px;
    margin: 10px;
  }
}
@media (max-width: 350px) {
  .contact11 > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 350px) {
  .contact11 > :global(.__wab_flex-container) > *,
  .contact11 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .contact11 > :global(.__wab_flex-container) > picture > img,
  .contact11
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.icon11 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.svg__eXlOd {
  object-fit: cover;
  max-width: 30%;
  color: #ffaf24;
  width: 46px;
  height: 40px;
  flex-shrink: 0;
}
.title11 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 0px;
}
.title11 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
@media (max-width: 1200px) {
  .title11 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 1200px) {
  .title11 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .title11 {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    min-width: 0;
    padding: 6px 0px 0px;
  }
}
@media (max-width: 500px) {
  .title11 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 500px) {
  .title11 > :global(.__wab_flex-container) > *,
  .title11 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .title11 > :global(.__wab_flex-container) > picture > img,
  .title11
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
@media (max-width: 350px) {
  .title11 {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    min-width: 0;
    padding: 0px;
  }
}
@media (max-width: 350px) {
  .title11 > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 350px) {
  .title11 > :global(.__wab_flex-container) > *,
  .title11 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .title11 > :global(.__wab_flex-container) > picture > img,
  .title11
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.text__or6Za {
  padding-right: 0px;
  max-width: 100%;
  font-weight: 500;
  color: #444444;
  font-size: 17px;
  text-align: center;
}
@media (max-width: 350px) {
  .text__or6Za {
    font-size: 15px;
  }
}
.caption11 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (max-width: 350px) {
  .caption11 {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    padding: 0px 0px 8px;
  }
}
.text__rxk2A {
  text-align: center;
  font-size: 12px;
  color: #444444;
  font-weight: 400;
}
@media (max-width: 1200px) {
  .text__rxk2A {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .text__rxk2A {
    font-size: 14px;
  }
}
@media (max-width: 350px) {
  .text__rxk2A {
    font-size: 13px;
  }
}
.sectionTitle2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .sectionTitle2 {
    padding-bottom: 28px;
    padding-top: 12px;
  }
}
@media (max-width: 350px) {
  .sectionTitle2 {
    margin-bottom: 0px;
    padding-bottom: 24px;
  }
}
.text__jqKIv {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  padding-top: 0px;
  padding-right: 15px;
  color: #8165d6;
}
@media (max-width: 500px) {
  .text__jqKIv {
    font-size: 17px;
    font-weight: 600;
  }
}
@media (max-width: 350px) {
  .text__jqKIv {
    font-size: 16px;
    line-height: 1.7;
  }
}
.address {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 20px 8px 28px;
}
@media (max-width: 1200px) {
  .address {
    padding-top: 30px;
  }
}
@media (max-width: 500px) {
  .address {
    padding-top: 10px;
  }
}
@media (max-width: 350px) {
  .address {
    padding-top: 20px;
  }
}
.content {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .content {
    max-width: 100%;
    justify-content: space-between;
  }
}
@media (max-width: 500px) {
  .content {
    display: flex;
    flex-direction: column;
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .content {
    display: flex;
    flex-direction: column;
  }
}
.addressText {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 18px 8px 8px;
}
@media (max-width: 1200px) {
  .addressText {
    width: 50%;
  }
}
@media (max-width: 500px) {
  .addressText {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
  }
}
@media (max-width: 350px) {
  .addressText {
    width: 100%;
    padding-right: 8px;
  }
}
.text___3Ye7H {
  text-align: right;
  font-size: 17px;
  line-height: 2;
  padding-bottom: 0px;
  font-weight: 500;
  color: #203647;
}
@media (max-width: 1200px) {
  .text___3Ye7H {
    font-size: 16px;
    line-height: 1.8;
  }
}
@media (max-width: 350px) {
  .text___3Ye7H {
    font-size: 15px;
  }
}
.map {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-radius: 50px;
  padding: 8px;
}
@media (max-width: 1200px) {
  .map {
    width: 50%;
    height: 239px;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 30px;
  }
}
@media (max-width: 500px) {
  .map {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 240px;
    flex-shrink: 0;
    border-radius: 30px;
    padding: 8px 0px;
  }
}
@media (max-width: 350px) {
  .map {
    width: 100%;
    margin-top: 20px;
  }
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  overflow: hidden;
  height: 354px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 50px;
}
@media (max-width: 1200px) {
  .embedHtml:global(.__wab_instance) {
    height: 100%;
    min-height: 0;
    border-radius: 30px;
  }
}
@media (max-width: 500px) {
  .embedHtml:global(.__wab_instance) {
    width: 100%;
    height: 100%;
    max-width: none;
    min-height: auto;
    flex-grow: 1;
    min-width: 0;
    border-radius: 30px;
  }
}
@media (max-width: 350px) {
  .embedHtml:global(.__wab_instance) {
    border-radius: 20px;
  }
}
.html {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  min-width: 0;
  display: none;
  padding: 8px;
}
.faviconRntComponent:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.rentamonFooter:global(.__wab_instance) {
  max-width: 100%;
}
.navbarRntFooter:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
@media (max-width: 500px) {
  .navbarRntFooter:global(.__wab_instance) {
    display: flex;
  }
}
