.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.modalDiscount:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 676px;
  height: 182px;
  flex-shrink: 0;
}
.modalDiscount__modal :global(.ant-modal-close) {
  position: relative;
  top: auto;
  left: auto;
  color: #444444;
  bottom: auto;
  right: auto;
  align-self: auto;
  outline: none;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px 0px 8px 8px;
}
.columns > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (max-width: 508px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 508px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__bQ2MZ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.button__ls8Kb:global(.__wab_instance) {
  max-width: 100%;
  width: 50px;
}
.svg__lFzq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__aF7Ss {
  padding-top: 0px;
}
.svg___2RbwQ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__tJexi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.numberInput3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 242px;
}
.column__iqSkX {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.button__oQt5Q:global(.__wab_instance) {
  max-width: 100%;
  width: 50px;
}
.svg__ex1Wx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___4EEz {
  padding-top: 0px;
}
.svg__ou1R {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
