.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: linear-gradient(
      40deg,
      #fcfcfc 0%,
      #ebfaff 38%,
      #fcfcfc 63%,
      #ebfaff 96%
    )
    0% 0% / 100% 100% repeat;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .root {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 1200px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 500px) {
  .root {
    padding-top: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 500px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 350px) {
  .root > * {
    grid-column: 4;
  }
}
.navbarRntHeader:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (max-width: 1200px) {
  .navbarRntHeader:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 500px) {
  .navbarRntHeader:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 350px) {
  .navbarRntHeader:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.mainContents {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px 0px 0px;
}
@media (max-width: 1200px) {
  .mainContents {
    max-width: 100%;
    width: 100%;
    padding-bottom: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 500px) {
  .mainContents {
    padding: 0px;
  }
}
.intro1st {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 12px 8px 0px;
}
@media (max-width: 1200px) {
  .intro1st {
    max-width: 100%;
    padding-bottom: 0px;
  }
}
@media (max-width: 500px) {
  .intro1st {
    padding-top: 18px;
  }
}
.introTitle {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .introTitle {
    padding-top: 0px;
    padding-right: 10px;
  }
}
.دربارهما {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  font-weight: 600;
  min-width: 0;
}
@media (max-width: 1200px) {
  .دربارهما {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .دربارهما {
    font-size: 17px;
  }
}
@media (max-width: 350px) {
  .دربارهما {
    font-size: 17px;
  }
}
.teamImage {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 0px 8px;
}
@media (max-width: 1200px) {
  .teamImage {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 500px) {
  .teamImage {
    display: flex;
    flex-direction: column;
    column-gap: 0px;
  }
}
.introduction1Text {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 6px 8px 8px;
}
@media (max-width: 1200px) {
  .introduction1Text {
    padding-right: 8px;
    padding-left: 8px;
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .introduction1Text {
    max-width: 100%;
    padding-top: 10px;
    display: none;
  }
}
@media (max-width: 350px) {
  .introduction1Text {
    padding-top: 6px;
  }
}
.text__lqzPf {
  text-align: right;
  font-size: 16px;
  line-height: 1.8;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
@media (max-width: 1200px) {
  .text__lqzPf {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text__lqzPf {
    font-size: 16px;
    display: none;
  }
}
@media (max-width: 350px) {
  .text__lqzPf {
    font-size: 15px;
  }
}
.introduction2TextPics {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 22px 8px;
}
@media (max-width: 1200px) {
  .introduction2TextPics {
    padding-right: 8px;
    padding-left: 8px;
    max-width: 100%;
    flex-direction: row-reverse;
    row-gap: 0px;
  }
}
@media (max-width: 500px) {
  .introduction2TextPics {
    max-width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    column-gap: 0px;
  }
}
@media (max-width: 350px) {
  .introduction2TextPics {
    padding-top: 6px;
  }
}
.freeBox___6MHzZ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 14px;
}
@media (max-width: 1200px) {
  .freeBox___6MHzZ {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 8px;
  }
}
@media (max-width: 500px) {
  .freeBox___6MHzZ {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox___6MHzZ {
    padding-top: 0px;
  }
}
.text__ko0A4 {
  text-align: right;
  font-size: 16px;
  line-height: 1.8;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
@media (max-width: 1200px) {
  .text__ko0A4 {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text__ko0A4 {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__ko0A4 {
    font-size: 15px;
  }
}
.freeBox__wZ25R {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 24%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__wZ25R {
    width: 100%;
    height: auto;
    max-width: 30%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 8px;
  }
}
@media (max-width: 500px) {
  .freeBox__wZ25R {
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__wZ25R {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.img__nrvLr {
  object-fit: cover;
  width: 100%;
  box-shadow: none;
  min-width: 0;
  border-radius: 30px;
}
.img__nrvLr > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__nrvLr {
    min-height: auto;
    max-height: none;
    max-width: none;
    min-width: auto;
    width: 100%;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
}
@media (max-width: 500px) {
  .img__nrvLr {
    max-width: none;
    min-height: auto;
    max-height: none;
    min-width: auto;
    width: 100%;
    box-shadow: none;
    border-radius: 30px;
  }
}
@media (max-width: 350px) {
  .img__nrvLr {
    max-width: 100%;
    min-width: auto;
    min-height: auto;
    max-height: none;
    width: 100%;
    box-shadow: none;
    border-radius: 30px;
  }
}
.introduction2TextPics2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 22px 8px;
}
@media (max-width: 1200px) {
  .introduction2TextPics2 {
    padding-right: 8px;
    padding-left: 8px;
    max-width: 100%;
    flex-direction: row-reverse;
    row-gap: 0px;
  }
}
@media (max-width: 500px) {
  .introduction2TextPics2 {
    max-width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    column-gap: 0px;
  }
}
@media (max-width: 350px) {
  .introduction2TextPics2 {
    padding-top: 6px;
  }
}
.freeBox__poku9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 60%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__poku9 {
    width: 100%;
    height: auto;
    max-width: 30%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 8px;
  }
}
@media (max-width: 500px) {
  .freeBox__poku9 {
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__poku9 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.img__cFfIl {
  object-fit: cover;
  width: 100%;
  box-shadow: none;
  min-width: 0;
  border-radius: 30px;
}
.img__cFfIl > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__cFfIl {
    min-height: auto;
    max-height: none;
    max-width: none;
    min-width: auto;
    width: 100%;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
}
@media (max-width: 500px) {
  .img__cFfIl {
    max-width: none;
    min-height: auto;
    max-height: none;
    min-width: auto;
    width: 100%;
    box-shadow: none;
    border-radius: 30px;
  }
}
@media (max-width: 350px) {
  .img__cFfIl {
    max-width: 100%;
    min-width: auto;
    min-height: auto;
    max-height: none;
    width: 100%;
    box-shadow: none;
    border-radius: 30px;
  }
}
.freeBox__rQv1L {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 14px;
}
@media (max-width: 1200px) {
  .freeBox__rQv1L {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 8px;
  }
}
@media (max-width: 500px) {
  .freeBox__rQv1L {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__rQv1L {
    padding-top: 0px;
  }
}
.text___5UqG {
  text-align: right;
  font-size: 16px;
  line-height: 1.8;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
@media (max-width: 1200px) {
  .text___5UqG {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text___5UqG {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text___5UqG {
    font-size: 15px;
  }
}
.introduction3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 6px 8px 8px;
}
@media (max-width: 1200px) {
  .introduction3 {
    padding-right: 8px;
    padding-left: 8px;
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .introduction3 {
    max-width: 100%;
    padding-top: 0px;
  }
}
@media (max-width: 350px) {
  .introduction3 {
    padding-top: 6px;
  }
}
.text___7JiJy {
  text-align: right;
  font-size: 16px;
  line-height: 1.8;
  padding-top: 0px;
}
@media (max-width: 1200px) {
  .text___7JiJy {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text___7JiJy {
    font-size: 16px;
    padding-top: 12px;
  }
}
@media (max-width: 350px) {
  .text___7JiJy {
    font-size: 15px;
  }
}
.freeBox__gdC4O {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 16px;
}
@media (max-width: 500px) {
  .freeBox__gdC4O {
    padding-right: 8px;
    padding-left: 8px;
  }
}
.img__vl6Nk {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 50px;
}
.img__vl6Nk > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__vl6Nk {
    border-radius: 30px;
  }
}
@media (max-width: 350px) {
  .img__vl6Nk {
    border-radius: 20px;
  }
}
.principles {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 30px 8px 16px;
}
@media (max-width: 1200px) {
  .principles {
    max-width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (max-width: 500px) {
  .principles {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    column-gap: 0px;
  }
}
@media (max-width: 350px) {
  .principles {
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
  }
}
.freeBox__ooNxp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.title7 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.text__dHope {
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  padding-top: 0px;
  padding-right: 15px;
}
@media (max-width: 1200px) {
  .text__dHope {
    font-size: 17px;
  }
}
@media (max-width: 500px) {
  .text__dHope {
    font-size: 17px;
  }
}
@media (max-width: 350px) {
  .text__dHope {
    font-size: 16px;
  }
}
.uotlines {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px 40px 8px 8px;
}
@media (max-width: 500px) {
  .uotlines {
    padding-right: 24px;
  }
}
@media (max-width: 350px) {
  .uotlines {
    padding-right: 21px;
    padding-left: 0px;
  }
}
.text__dr0NC {
  text-align: right;
  font-size: 17px;
  line-height: 2;
}
@media (max-width: 1200px) {
  .text__dr0NC {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text__dr0NC {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__dr0NC {
    font-size: 15px;
  }
}
.ul {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
@media (max-width: 500px) {
  .ul {
    padding-left: 10px;
  }
}
.li__i0LoJ {
  padding-bottom: 0px;
}
@media (max-width: 350px) {
  .li__i0LoJ {
    padding-bottom: 0px;
  }
}
.pic {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 30%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .pic {
    max-width: 100%;
  }
}
.pic2 {
  position: relative;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  width: 100%;
  flex-direction: column;
  display: flex;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .pic2 {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 8px;
  }
}
@media (max-width: 500px) {
  .pic2 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .pic2 {
    padding-right: 8px;
    padding-left: 8px;
  }
}
.img__pWs2J {
  object-fit: cover;
  width: 100%;
  box-shadow: none;
  min-width: 0;
  border-radius: 30px;
}
.img__pWs2J > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__pWs2J {
    min-height: auto;
    max-height: none;
    max-width: none;
    min-width: auto;
    width: 100%;
    border-radius: 20px;
  }
}
@media (max-width: 500px) {
  .img__pWs2J {
    max-width: none;
    min-height: auto;
    max-height: none;
    min-width: auto;
    width: 100%;
    border-radius: 30px;
  }
}
@media (max-width: 350px) {
  .img__pWs2J {
    max-width: 100%;
    min-width: auto;
    min-height: auto;
    max-height: none;
  }
}
.freeBox__bdec8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 8px 18px;
}
@media (max-width: 500px) {
  .freeBox__bdec8 {
    width: 100%;
    min-width: 0;
    padding: 16px;
  }
}
.text__ylbMm {
  text-align: center;
  font-size: 17px;
  line-height: 1.8;
  padding-top: 20px;
  font-weight: 600;
  padding-bottom: 0px;
}
@media (max-width: 1200px) {
  .text__ylbMm {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text__ylbMm {
    font-size: 16px;
    padding-top: 0px;
    line-height: 2;
  }
}
@media (max-width: 350px) {
  .text__ylbMm {
    font-size: 15px;
  }
}
.text__bTKrT {
  text-align: right;
  font-size: 16px;
  line-height: 1.8;
  padding-top: 20px;
}
@media (max-width: 1200px) {
  .text__bTKrT {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text__bTKrT {
    font-size: 16px;
    padding-top: 24px;
  }
}
@media (max-width: 350px) {
  .text__bTKrT {
    font-size: 15px;
  }
}
.gridImages {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 80%;
  min-width: 0;
  padding: 8px 8px 22px;
}
@media (max-width: 1200px) {
  .gridImages {
    max-width: 100%;
    padding-bottom: 8px;
  }
}
@media (max-width: 500px) {
  .gridImages {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.freeBox__uBcH {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__uBcH {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 8px;
  }
}
.img__zLWdK {
  object-fit: cover;
  width: 100%;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 30px;
}
.img__zLWdK > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__zLWdK {
    min-height: auto;
    max-height: none;
    max-width: none;
    min-width: auto;
    width: 100%;
    border-radius: 20px;
  }
}
@media (max-width: 500px) {
  .img__zLWdK {
    max-width: none;
    min-height: auto;
    max-height: none;
    min-width: auto;
    width: 100%;
    box-shadow: none;
    border-radius: 30px;
  }
}
@media (max-width: 350px) {
  .img__zLWdK {
    max-width: 100%;
    min-width: auto;
    min-height: auto;
    max-height: none;
  }
}
.freeBox__bSpKt {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__bSpKt {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 8px;
  }
}
.img___964Uj {
  object-fit: cover;
  width: 100%;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 30px;
}
.img___964Uj > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img___964Uj {
    min-height: auto;
    max-height: none;
    max-width: none;
    min-width: auto;
    width: 100%;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
}
@media (max-width: 500px) {
  .img___964Uj {
    max-width: none;
    min-height: auto;
    max-height: none;
    min-width: auto;
    width: 100%;
    box-shadow: none;
    border-radius: 30px;
  }
}
@media (max-width: 350px) {
  .img___964Uj {
    max-width: 100%;
    min-width: auto;
    min-height: auto;
    max-height: none;
    width: 100%;
    box-shadow: none;
    border-radius: 30px;
  }
}
.freeBox__adXwo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__adXwo {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 8px;
  }
}
.img__eQk0G {
  object-fit: cover;
  width: 100%;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 30px;
}
.img__eQk0G > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__eQk0G {
    min-height: auto;
    max-height: none;
    max-width: none;
    min-width: auto;
    width: 100%;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
}
@media (max-width: 500px) {
  .img__eQk0G {
    max-width: none;
    min-height: auto;
    max-height: none;
    min-width: auto;
    width: 100%;
    box-shadow: none;
    border-radius: 30px;
  }
}
@media (max-width: 350px) {
  .img__eQk0G {
    max-width: 100%;
    min-width: auto;
    min-height: auto;
    max-height: none;
    width: 100%;
    box-shadow: none;
    border-radius: 30px;
  }
}
.freeBox__pGu3E {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__pGu3E {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 8px;
  }
}
.img__fQ4Kc {
  object-fit: cover;
  width: 100%;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 30px;
}
.img__fQ4Kc > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__fQ4Kc {
    min-height: auto;
    max-height: none;
    max-width: none;
    min-width: auto;
    width: 100%;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
}
@media (max-width: 500px) {
  .img__fQ4Kc {
    max-width: none;
    min-height: auto;
    max-height: none;
    min-width: auto;
    width: 100%;
    box-shadow: none;
    border-radius: 30px;
  }
}
@media (max-width: 350px) {
  .img__fQ4Kc {
    max-width: 100%;
    min-width: auto;
    min-height: auto;
    max-height: none;
    width: 100%;
    box-shadow: none;
    border-radius: 30px;
  }
}
.devMindset {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 20px 8px 8px;
}
@media (max-width: 1200px) {
  .devMindset {
    max-width: 100%;
    padding-top: 20px;
  }
}
@media (max-width: 500px) {
  .devMindset {
    padding-right: 16px;
    padding-left: 16px;
  }
}
.introAutoSyncTitle4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px 0px;
}
.text__yJjRl {
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  padding-top: 0px;
}
@media (max-width: 1200px) {
  .text__yJjRl {
    font-size: 17px;
  }
}
@media (max-width: 500px) {
  .text__yJjRl {
    font-size: 17px;
  }
}
@media (max-width: 350px) {
  .text__yJjRl {
    font-size: 16px;
  }
}
.text__gf1SG {
  padding-top: 8px;
  font-size: 16px;
  text-align: right;
  line-height: 1.8;
}
@media (max-width: 1200px) {
  .text__gf1SG {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text__gf1SG {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__gf1SG {
    font-size: 15px;
  }
}
.team2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(
    40deg,
    #d0f3ff 0%,
    #fcfcfc 38%,
    #cef3ff 59%,
    #f1fbfe 82%,
    #fcfcfc 97%
  );
  margin-top: 30px;
  min-width: 0;
  border-radius: 50px;
  padding: 30px 0px 40px;
}
@media (max-width: 1200px) {
  .team2 {
    max-width: 100%;
  }
}
.sectionTitle2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__ny5Yl {
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  padding-top: 0px;
  padding-right: 15px;
  font-family: "Estedad";
  font-style: normal;
  color: #203647;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__zmYY {
  display: grid;
  position: relative;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__zmYY {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.freeBox__fxtkM {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.member19 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
.icon19 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__hTxU {
  object-fit: cover;
  max-width: 120px;
  min-width: 120px;
  min-height: 120px;
  max-height: 120px;
  border-radius: 100px;
}
.img__hTxU > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__hTxU {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
  }
}
.title20 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
.text__bewaD {
  padding-right: 0px;
  max-width: 100%;
  font-weight: 600;
  color: #444444;
  font-size: 15px;
  text-align: center;
  font-family: "Estedad";
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.caption19 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
.text___9RiYd {
  text-align: center;
  font-size: 14px;
  color: #8165d6;
  font-weight: 400;
  font-family: "Estedad";
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__xXkWt {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.member20 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
.icon20 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__hKe0A {
  object-fit: cover;
  max-width: 120px;
  min-width: 120px;
  min-height: 120px;
  max-height: 120px;
  border-radius: 100px;
}
.img__hKe0A > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__hKe0A {
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 100px;
  }
}
.title21 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
.text__hC4Tw {
  padding-right: 0px;
  max-width: 100%;
  font-weight: 600;
  color: #444444;
  font-size: 15px;
  text-align: center;
  font-family: "Estedad";
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.caption20 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___95SH {
  text-align: center;
  font-size: 14px;
  color: #8165d6;
  font-weight: 400;
  font-family: "Estedad";
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__uoBhw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.member15 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
.icon15 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___2PyFu {
  object-fit: cover;
  max-width: 120px;
  min-width: 120px;
  min-height: 120px;
  max-height: 120px;
  border-radius: 100px;
}
.img___2PyFu > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img___2PyFu {
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 100px;
  }
}
.title16 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
.text__gye8J {
  padding-right: 0px;
  max-width: 100%;
  font-weight: 600;
  color: #444444;
  font-size: 15px;
  text-align: center;
  font-family: "Estedad";
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.caption15 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___8D3Ph {
  text-align: center;
  font-size: 14px;
  color: #8165d6;
  font-weight: 400;
  font-family: "Estedad";
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__cwTc9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.member21 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
.icon21 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__bz2Xq {
  object-fit: cover;
  max-width: 120px;
  min-width: 120px;
  min-height: 120px;
  max-height: 120px;
  border-radius: 100px;
}
.img__bz2Xq > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__bz2Xq {
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 100px;
  }
}
.title22 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
.text__cwHGf {
  padding-right: 0px;
  max-width: 100%;
  font-weight: 600;
  color: #444444;
  font-size: 15px;
  text-align: center;
  font-family: "Estedad";
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.caption21 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__jJwmo {
  text-align: center;
  font-size: 14px;
  color: #8165d6;
  font-weight: 400;
  font-family: "Estedad";
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__uaLim {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.member22 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
.icon22 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__suBo {
  object-fit: cover;
  max-width: 120px;
  min-width: 120px;
  min-height: 120px;
  max-height: 120px;
  border-radius: 100px;
}
.img__suBo > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__suBo {
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 100px;
  }
}
.title23 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
.text__oku8W {
  padding-right: 0px;
  max-width: 100%;
  font-weight: 600;
  color: #444444;
  font-size: 15px;
  text-align: center;
  font-family: "Estedad";
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.caption22 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__zg1CV {
  text-align: center;
  font-size: 14px;
  color: #8165d6;
  font-weight: 400;
  font-family: "Estedad";
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__mkOk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.member23 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
.icon23 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__ma5I2 {
  object-fit: cover;
  max-width: 120px;
  min-width: 120px;
  min-height: 120px;
  max-height: 120px;
  border-radius: 100px;
}
.img__ma5I2 > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__ma5I2 {
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 100px;
  }
}
.title24 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
.text___52Gv {
  padding-right: 0px;
  max-width: 100%;
  font-weight: 600;
  color: #444444;
  font-size: 15px;
  text-align: center;
  font-family: "Estedad";
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.caption23 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__ceF6 {
  text-align: center;
  font-size: 14px;
  color: #8165d6;
  font-weight: 400;
  font-family: "Estedad";
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.teamup {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 40px 8px;
}
@media (max-width: 1200px) {
  .teamup {
    padding-right: 8px;
    max-width: 100%;
    padding-bottom: 0px;
  }
}
@media (max-width: 500px) {
  .teamup {
    max-width: 100%;
  }
}
@media (max-width: 350px) {
  .teamup {
    max-width: 100%;
  }
}
.introAutoSyncTitle3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.text__pdXwo {
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  padding-top: 0px;
}
@media (max-width: 1200px) {
  .text__pdXwo {
    font-size: 17px;
  }
}
@media (max-width: 500px) {
  .text__pdXwo {
    font-size: 17px;
  }
}
@media (max-width: 350px) {
  .text__pdXwo {
    font-size: 16px;
  }
}
.introAutoSyncCaption3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .introAutoSyncCaption3 {
    padding-bottom: 23px;
  }
}
@media (max-width: 500px) {
  .introAutoSyncCaption3 {
    padding-bottom: 0px;
    padding-top: 0px;
  }
}
@media (max-width: 350px) {
  .introAutoSyncCaption3 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox__mfS19 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__lIzrz {
  text-align: right;
  font-size: 16px;
  line-height: 2;
  padding-bottom: 0px;
}
@media (max-width: 1200px) {
  .text__lIzrz {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text__lIzrz {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__lIzrz {
    font-size: 15px;
  }
}
.freeBox__x3NX2 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__x3NX2 {
    display: flex;
    flex-direction: column-reverse;
    column-gap: 0px;
    padding: 0px;
  }
}
.freeBox__wUaAb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__wUaAb {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.text___3VFDa {
  text-align: right;
  font-size: 16px;
  line-height: 2;
  padding-bottom: 0px;
}
@media (max-width: 1200px) {
  .text___3VFDa {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text___3VFDa {
    font-size: 16px;
    display: none;
  }
}
@media (max-width: 350px) {
  .text___3VFDa {
    font-size: 15px;
  }
}
.freeBox__beO9X {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 30%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__beO9X {
    max-width: none;
    padding: 0px;
  }
}
.freeBox__fHejH {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__fHejH {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 8px;
  }
}
@media (max-width: 500px) {
  .freeBox__fHejH {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__fHejH {
    padding-right: 8px;
    padding-left: 8px;
  }
}
.img__oMwip {
  object-fit: cover;
  width: 100%;
  box-shadow: none;
  min-width: 0;
  border-radius: 30px;
}
.img__oMwip > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__oMwip {
    min-height: auto;
    max-height: none;
    max-width: none;
    min-width: auto;
    width: 100%;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
}
@media (max-width: 500px) {
  .img__oMwip {
    max-width: none;
    min-height: auto;
    max-height: none;
    min-width: auto;
    width: 100%;
    box-shadow: none;
    border-radius: 30px;
  }
}
@media (max-width: 350px) {
  .img__oMwip {
    max-width: 100%;
    min-width: auto;
    min-height: auto;
    max-height: none;
    width: 100%;
    box-shadow: none;
    border-radius: 30px;
  }
}
.introAutoSyncCaption4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .introAutoSyncCaption4 {
    padding-bottom: 23px;
  }
}
@media (max-width: 500px) {
  .introAutoSyncCaption4 {
    padding-top: 0px;
  }
}
.text__ickip {
  text-align: right;
  font-size: 16px;
  line-height: 2;
  padding-bottom: 0px;
  padding-top: 16px;
  padding-right: 20px;
}
@media (max-width: 1200px) {
  .text__ickip {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text__ickip {
    font-size: 16px;
    padding-right: 4px;
  }
}
@media (max-width: 350px) {
  .text__ickip {
    font-size: 15px;
    padding: 14px 0px 0px;
  }
}
.address {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 40px 8px 28px;
}
@media (max-width: 500px) {
  .address {
    padding-top: 24px;
  }
}
.content {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .content {
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .content {
    display: flex;
    flex-direction: column;
    column-gap: 0px;
  }
}
@media (max-width: 350px) {
  .content {
    display: flex;
    flex-direction: column;
    padding-right: 0px;
    padding-left: 0px;
    column-gap: 0px;
  }
}
.addressText {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 18px 8px 8px;
}
@media (max-width: 1200px) {
  .addressText {
    width: 50%;
  }
}
@media (max-width: 500px) {
  .addressText {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    padding: 8px 4px 8px 8px;
  }
}
@media (max-width: 350px) {
  .addressText {
    width: 100%;
    padding-right: 8px;
  }
}
.text___4Vz9V {
  text-align: right;
  font-size: 17px;
  line-height: 2;
  padding-bottom: 0px;
  font-weight: 500;
}
@media (max-width: 1200px) {
  .text___4Vz9V {
    font-size: 16px;
    line-height: 1.8;
  }
}
@media (max-width: 500px) {
  .text___4Vz9V {
    padding-bottom: 16px;
  }
}
@media (max-width: 350px) {
  .text___4Vz9V {
    font-size: 15px;
  }
}
.link {
  font-family: "Estedad";
  font-weight: 500;
}
.map {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-radius: 50px;
  padding: 8px;
}
@media (max-width: 1200px) {
  .map {
    width: 50%;
    height: 239px;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 30px;
  }
}
@media (max-width: 500px) {
  .map {
    width: 100%;
    max-width: 100%;
    margin-top: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 240px;
    column-gap: 0px;
    flex-shrink: 0;
    border-radius: 30px;
    padding: 0px;
  }
}
@media (max-width: 350px) {
  .map {
    width: 100%;
    margin-top: 20px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  overflow: hidden;
  height: 280px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 50px;
}
@media (max-width: 1200px) {
  .embedHtml:global(.__wab_instance) {
    height: 100%;
    min-height: 0;
    border-radius: 30px;
  }
}
@media (max-width: 500px) {
  .embedHtml:global(.__wab_instance) {
    width: 100%;
    height: 100%;
    max-width: none;
    min-height: auto;
    flex-grow: 1;
    min-width: 0;
    border-radius: 30px;
  }
}
@media (max-width: 350px) {
  .embedHtml:global(.__wab_instance) {
    border-radius: 20px;
  }
}
.html {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1200px) {
  .html {
    padding: 0px;
  }
}
@media (max-width: 500px) {
  .html {
    display: none;
  }
}
.freeBox__x3Ur8 {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__x3Ur8 {
    padding: 0px;
  }
}
.goftino:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.clarityRntComponent:global(.__wab_instance) {
  display: none;
}
.faviconRntComponent:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.rentamonFooter:global(.__wab_instance) {
  max-width: 100%;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
