.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #00002b;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 500px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox__btX8W {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 400px;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__btX8W {
    width: 100%;
    max-width: none;
    height: auto;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    padding: 0px;
  }
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___5FCju {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__aEAf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__y47CQ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 400px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 14px;
  background: #fcfcfc;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__y47CQ {
    max-width: none;
    margin-top: 0px;
  }
}
.selectProperty:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  height: 35px;
  width: 400px;
  flex-shrink: 0;
}
.text__tvaq6 {
  animation: none;
  font-size: 18px;
  font-family: "Estedad";
  font-weight: 400;
  font-style: normal;
  color: #706f6c;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.apiRequest2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__cdJmA {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 400px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  z-index: 1;
  align-self: stretch;
  background: #fcfcfc;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__cdJmA {
    width: 100%;
    min-width: 0;
  }
}
.embedHtml:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  text-align: center;
  min-width: 0;
}
.img {
  object-fit: cover;
  max-width: 100%;
  border-radius: 0px 0px 30px 30px;
}
.img > picture > img {
  object-fit: cover;
}
.fetchImage:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__orq2E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__ixXja {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___1EmGf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__deWAl {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
