.navBarFaghih {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .navBarFaghih {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 350px) {
  .navBarFaghih {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.navigationBar:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0px;
  max-width: 100%;
  object-fit: cover;
  box-shadow: 0px 8px 16px 0px #00000024;
  height: 84px;
  background: #fcfcfc;
  flex-shrink: 0;
  border-radius: 16px;
  padding: 16px;
  border: 1px solid var(--token-rhmrUZBooWNo);
}
@media (max-width: 1200px) {
  .navigationBar:global(.__wab_instance) {
    margin-bottom: 0px;
  }
}
@media (max-width: 500px) {
  .navigationBar:global(.__wab_instance) {
    height: 74px;
    flex-shrink: 0;
  }
}
@media (max-width: 350px) {
  .navigationBar:global(.__wab_instance) {
    z-index: 1000000;
    display: flex;
  }
}
.freeBox__pWLj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  z-index: 1;
  align-self: stretch;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
  padding: 0px 4px 0px 12px;
}
@media (max-width: 500px) {
  .freeBox__pWLj {
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__pWLj {
    padding-left: 0px;
  }
}
.link__uJuXj {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__iP1Vn {
  object-fit: contain;
  height: 52px;
  margin-left: 0px;
  cursor: pointer;
  max-width: 182px;
  width: 100%;
  margin-right: 0px;
  min-width: 0;
}
.img__iP1Vn > picture > img {
  object-fit: contain;
}
@media (max-width: 500px) {
  .img__iP1Vn {
    margin-left: 0px;
    max-width: 80px;
    height: 100%;
    min-height: 0;
  }
}
@media (max-width: 350px) {
  .img__iP1Vn {
    margin-left: 0px;
    max-width: 72px;
  }
}
.img__xdJvU {
  object-fit: cover;
}
.img__xdJvU > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__xdJvU {
    max-width: 26px;
    width: 100%;
    min-width: 0;
  }
}
.img__p1R3F {
  object-fit: cover;
}
.img__p1R3F > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__p1R3F {
    width: 22px;
  }
}
.freeBox__qrXoX {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  background: #fcfcfc;
  border-top-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  z-index: 1;
  order: 1;
  box-shadow: 0px 12px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  display: none;
  border-radius: 0px 0px 30px 30px;
  padding: 8px 20px 17px 8px;
}
@media (max-width: 500px) {
  .freeBox__qrXoX {
    display: flex;
  }
}
@media (max-width: 350px) {
  .freeBox__qrXoX {
    z-index: 1;
    padding-right: 6px;
  }
}
.freeBox___1StDi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0px;
  margin-right: 20px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox___1StDi {
    margin-right: 20px;
  }
}
@media (max-width: 500px) {
  .freeBox___1StDi {
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    margin: 0px;
  }
}
.link__qiqR {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  font-weight: 600;
  background: #8165d6;
  color: #fcfcfc;
  border-radius: 30px;
  padding: 4px 30px;
}
@media (max-width: 500px) {
  .link__qiqR {
    width: 100%;
    text-align: right;
    cursor: pointer;
    background: none;
    color: #444444;
    font-size: 17px;
    user-select: none;
    font-family: "Estedad";
    font-weight: 500;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 0;
    border-radius: 0px;
  }
}
@media (max-width: 350px) {
  .link__qiqR {
    cursor: pointer;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.link__cwZwa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  font-weight: 600;
  color: #444444;
  cursor: pointer;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  text-align: right;
  background: none;
  min-width: 0;
  border-radius: 30px;
  padding: 4px 30px;
  margin: 10px 0px 0px;
}
@media (max-width: 500px) {
  .link__cwZwa {
    display: none;
  }
}
@media (max-width: 350px) {
  .link__cwZwa {
    cursor: pointer;
  }
}
.freeBox__g7Rl3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  min-width: 0;
  padding: 8px;
  margin: 0px;
}
.link__kh6Yr {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  font-weight: 500;
  color: #444444;
  cursor: pointer;
  text-align: right;
  background: none;
  user-select: none;
  font-family: "Estedad";
  min-width: 0;
  border-radius: 0px;
  padding: 4px 0px;
}
@media (max-width: 350px) {
  .link__kh6Yr {
    cursor: pointer;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-family: "Estedad";
    font-size: 17px;
    font-weight: 500;
    color: #444444;
    text-align: right;
    user-select: none;
    background: none;
    min-width: 0;
    border-radius: 30px;
    padding: 4px 0px;
  }
}
.freeBox__uzdNm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  min-width: 0;
  padding: 8px;
  margin: 0px;
}
.link___9Ui3 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  font-weight: 500;
  color: #444444;
  cursor: pointer;
  text-align: right;
  background: none;
  user-select: none;
  font-family: "Estedad";
  min-width: 0;
  border-radius: 0px;
  padding: 4px 0px;
}
@media (max-width: 350px) {
  .link___9Ui3 {
    cursor: pointer;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-family: "Estedad";
    font-size: 17px;
    font-weight: 500;
    color: #444444;
    text-align: right;
    user-select: none;
    background: none;
    min-width: 0;
    border-radius: 30px;
    padding: 4px 0px;
  }
}
.freeBox___5WeAb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
  margin: 0px;
}
.link__vseFw {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  font-weight: 500;
  color: #444444;
  cursor: pointer;
  text-align: right;
  background: none;
  user-select: none;
  font-family: "Estedad";
  min-width: 0;
  border-radius: 0px;
  padding: 4px 0px;
}
@media (max-width: 350px) {
  .link__vseFw {
    cursor: pointer;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-family: "Estedad";
    font-size: 17px;
    font-weight: 500;
    color: #444444;
    text-align: right;
    user-select: none;
    background: none;
    min-width: 0;
    border-radius: 30px;
    padding: 4px 0px;
  }
}
.link__ryWoj {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  font-weight: 500;
  background: #0000f7;
  color: #fcfcfc;
  user-select: none;
  cursor: pointer;
  font-family: "Estedad";
  border-radius: 100px;
  padding: 5px 36px;
  margin: 10px 20px 10px 10px;
}
@media (max-width: 1200px) {
  .link__ryWoj {
    margin-right: 20px;
  }
}
@media (max-width: 500px) {
  .link__ryWoj {
    width: 110px;
    text-align: center;
    display: none;
    margin: 10px 0px 0px;
  }
}
.link__ytkiw {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  font-weight: 600;
  color: #444444;
  display: none;
  padding: 4px 10px 4px 30px;
  margin: 10px 20px 10px 0px;
}
@media (max-width: 1200px) {
  .link__ytkiw {
    color: #444444;
  }
}
@media (max-width: 500px) {
  .link__ytkiw {
    display: none;
  }
}
.link__jRxEo {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  font-weight: 500;
  color: #444444;
  user-select: none;
  cursor: pointer;
  font-family: "Estedad";
  padding: 4px 24px 4px 20px;
  margin: 10px 0px;
}
@media (max-width: 1200px) {
  .link__jRxEo {
    color: #444444;
  }
}
@media (max-width: 500px) {
  .link__jRxEo {
    display: none;
  }
}
.link___4LkUn {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  font-weight: 500;
  color: #444444;
  user-select: none;
  cursor: pointer;
  font-family: "Estedad";
  padding: 4px 10px 4px 30px;
  margin: 10px 0px;
}
@media (max-width: 1200px) {
  .link___4LkUn {
    color: #444444;
  }
}
@media (max-width: 500px) {
  .link___4LkUn {
    display: none;
  }
}
.link___01Gak {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  font-weight: 500;
  color: #444444;
  user-select: none;
  cursor: pointer;
  font-family: "Estedad";
  padding: 4px 0px 4px 30px;
  margin: 10px 20px 10px 0px;
}
@media (max-width: 1200px) {
  .link___01Gak {
    width: auto;
    height: auto;
    max-width: 100%;
    font-size: 17px;
    font-weight: 500;
    color: #444444;
    padding: 4px 0px 4px 30px;
    margin: 0px 20px 0px 0px;
  }
}
@media (max-width: 500px) {
  .link___01Gak {
    display: none;
  }
}
