.crossListingPage {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.crossListingPage > * {
  grid-column: 4;
}
.text__oeD5Q {
  position: relative;
  width: 100%;
  height: 75px;
  max-width: 100%;
  font-size: 20px;
  color: var(--token-VC1CUzrVcfix);
  padding-top: 50px;
  padding-bottom: 50px;
  min-width: 0;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  object-fit: cover;
  margin-bottom: 24px;
  min-width: 0;
  padding: 8px;
}
.step1Host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__xoRtl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 18px;
  color: var(--token-8nedppYkGVaH);
  font-weight: 700;
  min-width: 0;
}
.nameField:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text___1B0X9 {
  font-size: 16px;
  color: var(--token-VC1CUzrVcfix);
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.lastNameField:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text___3Rgwa {
  font-size: 16px;
  color: var(--token-VC1CUzrVcfix);
}
.input2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.nationalCodeField:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text__hlrbw {
  font-size: 16px;
  color: var(--token-VC1CUzrVcfix);
}
.input3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.dateofBirthField:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text__lh5Yk {
  font-size: 16px;
  color: var(--token-VC1CUzrVcfix);
}
.input4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.postalCodeField:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text___0WQyn {
  font-size: 16px;
  color: var(--token-VC1CUzrVcfix);
}
.input5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.phone2Field:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text__akXt6 {
  font-size: 16px;
  color: var(--token-VC1CUzrVcfix);
}
.input6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.step1Buttons {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button__whmiL:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  background: var(--token-8nedppYkGVaH);
  height: 40px;
  width: 100%;
  margin-right: 5px;
  margin-left: 5px;
  min-width: 0;
  border-radius: 30px;
}
.text__lEk8J {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  text-align: center;
  align-self: center;
  min-width: 0;
}
.button__peN:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  background: none;
  height: 40px;
  width: 100%;
  min-width: 0;
  border-radius: 30px;
  border: 2px solid var(--token-8nedppYkGVaH);
}
.text___6BD2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  text-align: center;
  align-self: center;
  color: var(--token-8nedppYkGVaH);
  min-width: 0;
}
