.content {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: linear-gradient(
      37deg,
      #ebfaff 9%,
      #fcfcfc 29%,
      #f2fbfe 60%,
      #fcfcfc 79%,
      #ebfaff 88%
    )
    0% 0% / 100% 100% repeat;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 9px 0px 0px;
}
.content > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .content > * {
    grid-column: 4;
  }
}
@media (max-width: 500px) {
  .content > * {
    grid-column: 4;
  }
}
@media (max-width: 350px) {
  .content > * {
    grid-column: 4;
  }
}
.navbarRntHeader:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (max-width: 500px) {
  .navbarRntHeader:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.mainContents {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px 0px 0px;
}
@media (max-width: 1200px) {
  .mainContents {
    max-width: 100%;
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 500px) {
  .mainContents {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.intro {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 20px 8px 8px;
}
@media (max-width: 500px) {
  .intro {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 10px;
  }
}
@media (max-width: 350px) {
  .intro {
    padding-top: 5px;
  }
}
.introTitle {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .introTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 0px;
  }
}
@media (max-width: 350px) {
  .introTitle {
    padding-right: 12px;
    padding-left: 12px;
  }
}
.h1 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  font-weight: 600;
  padding-right: 0px;
  color: #444444;
  line-height: 2;
  letter-spacing: 0px;
}
@media (max-width: 1200px) {
  .h1 {
    padding-right: 20px;
  }
}
@media (max-width: 500px) {
  .h1 {
    padding-right: 12px;
    line-height: 1.8;
    font-size: 20px;
  }
}
@media (max-width: 350px) {
  .h1 {
    padding-right: 0px;
    font-size: 17px;
  }
}
.introDesc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__tc6ZD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  line-height: 1.8;
  padding-top: 8px;
  color: #444444;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__tc6ZD {
    padding-right: 20px;
    padding-left: 20px;
    line-height: 1.8;
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text__tc6ZD {
    padding-right: 12px;
    padding-left: 10px;
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__tc6ZD {
    padding-right: 4px;
    padding-left: 4px;
    font-size: 15px;
  }
}
.str {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  background: none;
  min-width: 0;
  padding: 30px 8px 8px;
}
@media (max-width: 500px) {
  .str {
    padding-right: 0px;
    padding-left: 0px;
    background: none;
    margin-top: 10px;
    padding-top: 20px;
    max-width: 100%;
  }
}
@media (max-width: 350px) {
  .str {
    padding: 8px 12px;
  }
}
.freeBox___8M63E {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 20%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .freeBox___8M63E {
    max-width: 25%;
  }
}
.img___9Qy7J {
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}
.img___9Qy7J > picture > img {
  object-fit: cover;
}
.text__jzwJv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  padding-top: 7px;
  color: #444444;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__jzwJv {
    font-size: 17px;
  }
}
@media (max-width: 350px) {
  .text__jzwJv {
    font-size: 15px;
    color: #444444;
  }
}
.freeBox___1SUy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 20%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .freeBox___1SUy {
    width: 100%;
    height: auto;
    max-width: 25%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 8px;
  }
}
.img__mXdZu {
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}
.img__mXdZu > picture > img {
  object-fit: cover;
}
.text__mEb3V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  padding-top: 7px;
  color: #444444;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__mEb3V {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-top: 7px;
    font-size: 17px;
    text-align: center;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__mEb3V {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-top: 7px;
    font-size: 15px;
    text-align: center;
    color: #444444;
    min-width: 0;
  }
}
.freeBox___2WWmz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 20%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .freeBox___2WWmz {
    width: 100%;
    height: auto;
    max-width: 25%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 8px;
  }
}
.img__jQog0 {
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}
.img__jQog0 > picture > img {
  object-fit: cover;
}
.text__aop16 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  padding-top: 7px;
  position: relative;
  color: #444444;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__aop16 {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-top: 7px;
    font-size: 17px;
    text-align: center;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__aop16 {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-top: 7px;
    font-size: 15px;
    text-align: center;
    color: #444444;
    min-width: 0;
  }
}
.freeBox__jdeJo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 20%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .freeBox__jdeJo {
    width: 100%;
    height: auto;
    max-width: 25%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 8px;
  }
}
.img__qCzhF {
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}
.img__qCzhF > picture > img {
  object-fit: cover;
}
.text__frZBf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  padding-top: 7px;
  color: #444444;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__frZBf {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-top: 7px;
    font-size: 17px;
    text-align: center;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__frZBf {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-top: 7px;
    font-size: 15px;
    text-align: center;
    color: #444444;
    min-width: 0;
  }
}
.freeBox__z8Qky {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 20%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .freeBox__z8Qky {
    width: 100%;
    height: auto;
    max-width: 25%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 8px;
  }
}
.img__uDjB {
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}
.img__uDjB > picture > img {
  object-fit: cover;
}
.text__uvWof {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  padding-top: 7px;
  color: #444444;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__uvWof {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-top: 7px;
    font-size: 17px;
    text-align: center;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__uvWof {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-top: 7px;
    font-size: 15px;
    text-align: center;
    color: #444444;
    min-width: 0;
  }
}
.freeBox__rtH0T {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 20%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .freeBox__rtH0T {
    width: 100%;
    height: auto;
    max-width: 25%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 8px;
  }
}
.img__kfEre {
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}
.img__kfEre > picture > img {
  object-fit: cover;
}
.text___6MWV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  padding-top: 7px;
  color: #444444;
  min-width: 0;
}
@media (max-width: 500px) {
  .text___6MWV {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-top: 7px;
    font-size: 17px;
    text-align: center;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text___6MWV {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-top: 7px;
    font-size: 15px;
    text-align: center;
    color: #444444;
    min-width: 0;
  }
}
.freeBox__oEk8D {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 20%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 350px) {
  .freeBox__oEk8D {
    width: 100%;
    height: auto;
    max-width: 25%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 8px;
  }
}
.img__sljxA {
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}
.img__sljxA > picture > img {
  object-fit: cover;
}
.text__slcnL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  padding-top: 7px;
  color: #444444;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__slcnL {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-top: 7px;
    font-size: 17px;
    text-align: center;
    position: relative;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__slcnL {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-top: 7px;
    font-size: 15px;
    text-align: center;
    color: #444444;
    min-width: 0;
  }
}
.freeBox__rrCw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 36px 8px 8px;
}
@media (max-width: 500px) {
  .freeBox__rrCw {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 20px;
  }
}
.img___9GLlr {
  object-fit: cover;
  max-width: 100%;
  border-radius: 30px;
}
.img___9GLlr > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img___9GLlr {
    border-radius: 0px;
  }
}
.registration {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: radial-gradient(
      ellipse 50% 50% at 50% 50%,
      #d8e4ff 0%,
      #56b9ff00 97%
    )
    0% 0% / 100% 100% repeat;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .registration {
    padding-right: 20px;
  }
}
@media (max-width: 500px) {
  .registration {
    padding-right: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    background: radial-gradient(
        ellipse 90% 50% at 50% 50%,
        #d8e4ff 0%,
        #56b9ff00 97%
      )
      0% 0% / 100% 100% repeat;
    column-gap: 0px;
  }
}
@media (max-width: 350px) {
  .registration {
    padding-right: 2px;
    padding-left: 2px;
  }
}
.freeBox__uLaxc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__uLaxc {
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .freeBox__uLaxc {
    max-width: 100%;
  }
}
.text__s2Elk {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 600;
  color: #444444;
  line-height: 2;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__s2Elk {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .text__s2Elk {
    font-size: 17px;
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media (max-width: 350px) {
  .text__s2Elk {
    line-height: 1.8;
    font-size: 17px;
    padding-right: 0px;
  }
}
.text___6MKxF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  line-height: 1.8;
  padding-top: 10px;
  padding-bottom: 0px;
  color: #444444;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text___6MKxF {
    padding-right: 0px;
    padding-left: 0px;
    line-height: 1.8;
  }
}
@media (max-width: 500px) {
  .text___6MKxF {
    padding-right: 8px;
    padding-left: 8px;
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text___6MKxF {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 15px;
  }
}
.text__v9ZAu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  line-height: 1.8;
  padding-top: 14px;
  padding-bottom: 0px;
  color: #444444;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__v9ZAu {
    padding-right: 0px;
    padding-left: 0px;
    line-height: 1.8;
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text__v9ZAu {
    padding-right: 8px;
    padding-left: 8px;
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__v9ZAu {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 15px;
  }
}
.freeBox___6AvZ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 20px 8px 8px;
}
@media (max-width: 1200px) {
  .freeBox___6AvZ {
    align-items: center;
    justify-content: center;
    max-width: 70%;
  }
}
@media (max-width: 500px) {
  .freeBox___6AvZ {
    padding-right: 0px;
    padding-left: 0px;
    max-width: 100%;
  }
}
.regForm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .regForm {
    padding-right: 20px;
  }
}
@media (max-width: 500px) {
  .regForm {
    padding-right: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    column-gap: 0px;
  }
}
@media (max-width: 350px) {
  .regForm {
    padding-right: 2px;
    padding-left: 2px;
  }
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  object-fit: cover;
  text-align: justify;
  font-size: 17px;
  line-height: 1.8;
  flex-grow: 0;
  min-width: 0;
  padding: 8px;
}
.formField__pl9Yz:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__dhBgs:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__oExKp:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.textArea:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: none;
}
.text__e6FTz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__gqH9N {
  position: relative;
  width: 300px;
  height: auto;
  max-width: 100%;
  text-align: center;
  background: linear-gradient(
    194.38598434664198deg,
    #0000f7 0%,
    #0000f7 55%,
    #4c3888 100%
  );
  color: #fcfcfc;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 100px;
  padding: 18px 8px;
}
@media (max-width: 1200px) {
  .text__gqH9N {
    font-weight: 600;
    font-size: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}
@media (max-width: 500px) {
  .text__gqH9N {
    font-weight: 600;
    max-width: 96%;
  }
}
@media (max-width: 350px) {
  .text__gqH9N {
    max-width: 100%;
  }
}
.freeBox__hN0Hf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__ax3HD {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__xxfRh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  color: #444444;
  text-align: center;
  min-width: 0;
}
.freeBox__loGNk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___3Cf1K {
  object-fit: cover;
  max-width: 60%;
}
.img___3Cf1K > picture > img {
  object-fit: cover;
}
.freeBox__cGXa {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__jTrBz {
  width: 100%;
  height: auto;
  max-width: 70%;
  text-align: center;
  background: #8165d6;
  color: #fcfcfc;
  padding-bottom: 14px;
  font-size: 18px;
  padding-top: 14px;
  font-weight: 600;
  cursor: pointer;
  min-width: 0;
  border-radius: 50px;
}
@media (max-width: 1200px) {
  .text__jTrBz {
    font-weight: 600;
    font-size: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}
@media (max-width: 500px) {
  .text__jTrBz {
    font-weight: 600;
    max-width: 96%;
  }
}
@media (max-width: 350px) {
  .text__jTrBz {
    max-width: 100%;
  }
}
.text__tOQnH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  line-height: 1.8;
  padding-top: 14px;
  padding-bottom: 42px;
  text-align: center;
  color: #444444;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__tOQnH {
    padding-right: 0px;
    padding-left: 0px;
    line-height: 1.8;
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text__tOQnH {
    padding-right: 8px;
    padding-left: 8px;
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .text__tOQnH {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 15px;
  }
}
.testimonials {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  background: #fcfcfc;
  min-width: 0;
  padding: 0px 8px 40px;
}
@media (max-width: 500px) {
  .testimonials {
    padding-top: 0px;
  }
}
@media (max-width: 350px) {
  .testimonials {
    padding-right: 4px;
    padding-left: 4px;
  }
}
.title {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 36px 8px 8px;
}
@media (max-width: 350px) {
  .title {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 24px;
  }
}
.text__q5Ur9 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 0px;
  color: #444444;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__q5Ur9 {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .text__q5Ur9 {
    font-size: 17px;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 2;
  }
}
@media (max-width: 350px) {
  .text__q5Ur9 {
    line-height: 1.8;
    font-size: 15px;
  }
}
.videos {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 12px;
  min-width: 0;
  padding: 26px 8px 8px;
}
@media (max-width: 1200px) {
  .videos {
    padding-right: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    padding-left: 0px;
    column-gap: 12px;
    row-gap: 12px;
  }
}
@media (max-width: 500px) {
  .videos {
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    column-gap: 0px;
  }
}
@media (max-width: 350px) {
  .videos {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 15px;
  }
}
.freeBox__dao4O {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 33%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-radius: 50px;
  padding: 30px 8px;
  border-width: 2px;
}
@media (max-width: 1200px) {
  .freeBox__dao4O {
    max-width: 48%;
  }
}
@media (max-width: 500px) {
  .freeBox__dao4O {
    max-width: 100%;
    border-radius: 30px;
  }
}
@media (max-width: 350px) {
  .freeBox__dao4O {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.freeBox__chd4 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__chd4 {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    row-gap: 0px;
    min-width: 0;
    padding: 8px 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__chd4 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox__vuIs2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__gx9JO {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  font-weight: 400;
  text-align: right;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__gx9JO {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  .text__gx9JO {
    font-size: 16px;
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media (max-width: 350px) {
  .text__gx9JO {
    line-height: 1.8;
    font-size: 15px;
  }
}
.freeBox__yjDmI {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__wkvt {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__wkvt {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  .text__wkvt {
    font-size: 16px;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-weight: 400;
    text-align: left;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__wkvt {
    line-height: 1.8;
    font-size: 15px;
  }
}
.freeBox__eCa7T {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__eCa7T {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 8px 0px;
  }
}
.htmlVideo__sKrLm:global(.__wab_instance) {
  width: 640px;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  min-height: 184px;
  max-height: 184px;
}
.freeBox__ae8Sg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__yPdu1 {
  text-align: right;
  font-size: 16px;
  width: 100%;
  line-height: 1.8;
  padding-top: 10px;
}
@media (max-width: 1200px) {
  .text__yPdu1 {
    width: 100%;
    padding-top: 20px;
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text__yPdu1 {
    width: 96%;
    text-align: right;
    padding-top: 25px;
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .text__yPdu1 {
    width: 100%;
    font-size: 15px;
  }
}
.freeBox__dyAqE {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__kGm6W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  background: none;
  color: var(--token-8nedppYkGVaH);
  padding-bottom: 14px;
  font-size: 18px;
  padding-top: 14px;
  font-weight: 600;
  cursor: pointer;
  min-width: 0;
  border-radius: 30px;
  border: 3px solid var(--token-8nedppYkGVaH);
}
@media (max-width: 1200px) {
  .text__kGm6W {
    font-weight: 600;
    font-size: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 50px;
  }
}
@media (max-width: 500px) {
  .text__kGm6W {
    font-weight: 600;
    max-width: 96%;
    width: 100%;
    height: auto;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
    color: var(--token-8nedppYkGVaH);
    text-align: center;
    background: none;
    cursor: pointer;
    min-width: 0;
    border-radius: 50px;
    border: 3px solid var(--token-8nedppYkGVaH);
  }
}
@media (max-width: 350px) {
  .text__kGm6W {
    max-width: 100%;
    font-size: 15px;
  }
}
.freeBox__hX0Mv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 33%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-radius: 50px;
  padding: 30px 8px;
  border-width: 2px;
}
@media (max-width: 1200px) {
  .freeBox__hX0Mv {
    max-width: 48%;
  }
}
@media (max-width: 500px) {
  .freeBox__hX0Mv {
    max-width: 100%;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    border-radius: 30px;
    padding: 30px 8px;
    border-width: 2px;
  }
}
@media (max-width: 350px) {
  .freeBox__hX0Mv {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    border-radius: 30px;
    padding: 20px 8px;
    border-width: 2px;
  }
}
.freeBox__lk3Jy {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__lk3Jy {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__lk3Jy {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox___0Xipd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__ui0Ev {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  font-weight: 400;
  text-align: right;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__ui0Ev {
    font-size: 15px;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-weight: 400;
    text-align: right;
    min-width: 0;
  }
}
@media (max-width: 500px) {
  .text__ui0Ev {
    font-size: 16px;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-weight: 400;
    text-align: right;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__ui0Ev {
    line-height: 1.8;
    font-size: 15px;
  }
}
.freeBox__eiONo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__renrb {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__renrb {
    font-size: 15px;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-weight: 400;
    text-align: left;
    min-width: 0;
  }
}
@media (max-width: 500px) {
  .text__renrb {
    font-size: 16px;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-weight: 400;
    text-align: left;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__renrb {
    line-height: 1.8;
    font-size: 15px;
  }
}
.freeBox__voY8Z {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__voY8Z {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 8px 0px;
  }
}
.htmlVideo__rxmYp:global(.__wab_instance) {
  width: 640px;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  max-height: 184px;
}
.freeBox__hZhRc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__tayFz {
  text-align: right;
  font-size: 16px;
  width: 100%;
  line-height: 1.8;
  padding-top: 10px;
}
@media (max-width: 1200px) {
  .text__tayFz {
    width: 100%;
    padding-top: 20px;
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text__tayFz {
    width: 96%;
    text-align: right;
    padding-top: 25px;
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .text__tayFz {
    width: 100%;
    font-size: 15px;
  }
}
.freeBox__fmVlo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__bfmlC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  background: none;
  color: var(--token-8nedppYkGVaH);
  padding-bottom: 14px;
  font-size: 18px;
  padding-top: 14px;
  font-weight: 600;
  cursor: pointer;
  min-width: 0;
  border-radius: 30px;
  border: 3px solid var(--token-8nedppYkGVaH);
}
@media (max-width: 1200px) {
  .text__bfmlC {
    font-weight: 600;
    font-size: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    width: 100%;
    height: auto;
    max-width: 100%;
    color: var(--token-8nedppYkGVaH);
    text-align: center;
    background: none;
    cursor: pointer;
    min-width: 0;
    border-radius: 50px;
    border: 3px solid var(--token-8nedppYkGVaH);
  }
}
@media (max-width: 500px) {
  .text__bfmlC {
    font-weight: 600;
    max-width: 96%;
    width: 100%;
    height: auto;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
    color: var(--token-8nedppYkGVaH);
    text-align: center;
    background: none;
    cursor: pointer;
    min-width: 0;
    border-radius: 50px;
    border: 3px solid var(--token-8nedppYkGVaH);
  }
}
@media (max-width: 350px) {
  .text__bfmlC {
    max-width: 100%;
    font-size: 15px;
    width: 100%;
    height: auto;
    padding-top: 14px;
    padding-bottom: 14px;
    font-weight: 600;
    color: var(--token-8nedppYkGVaH);
    text-align: center;
    background: none;
    cursor: pointer;
    min-width: 0;
    border-radius: 50px;
    border: 3px solid var(--token-8nedppYkGVaH);
  }
}
.freeBox__rQnu0 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 33%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-radius: 50px;
  padding: 30px 8px;
  border-width: 2px;
}
@media (max-width: 1200px) {
  .freeBox__rQnu0 {
    max-width: 48%;
  }
}
@media (max-width: 500px) {
  .freeBox__rQnu0 {
    max-width: 100%;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    border-radius: 30px;
    padding: 30px 8px;
    border-width: 2px;
  }
}
@media (max-width: 350px) {
  .freeBox__rQnu0 {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    border-radius: 30px;
    padding: 20px 8px;
    border-width: 2px;
  }
}
.freeBox__gWWrJ {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__gWWrJ {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    row-gap: 0px;
    min-width: 0;
    padding: 8px 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__gWWrJ {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox__vy77K {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__lb7OH {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  font-weight: 400;
  text-align: right;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__lb7OH {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  .text__lb7OH {
    font-size: 16px;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-weight: 400;
    text-align: right;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__lb7OH {
    line-height: 1.8;
    font-size: 15px;
  }
}
.freeBox___6GLoF {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__ybkvp {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__ybkvp {
    font-size: 15px;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-weight: 400;
    text-align: left;
    min-width: 0;
  }
}
@media (max-width: 500px) {
  .text__ybkvp {
    font-size: 16px;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
    height: auto;
    max-width: 100%;
    font-weight: 400;
    text-align: left;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__ybkvp {
    line-height: 1.8;
    font-size: 15px;
  }
}
.freeBox__b6E4C {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__b6E4C {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.htmlVideo__ero5Q:global(.__wab_instance) {
  width: 640px;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  max-height: 184px;
}
.freeBox__p5V35 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___0AgMw {
  text-align: right;
  font-size: 16px;
  width: 100%;
  line-height: 1.8;
  padding-top: 10px;
  padding-bottom: 0px;
}
@media (max-width: 1200px) {
  .text___0AgMw {
    width: 100%;
    padding-top: 20px;
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text___0AgMw {
    width: 96%;
    text-align: right;
    padding-top: 25px;
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .text___0AgMw {
    width: 100%;
    font-size: 15px;
  }
}
.freeBox__aIxre {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___5SrM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  background: none;
  color: var(--token-8nedppYkGVaH);
  padding-bottom: 14px;
  font-size: 18px;
  padding-top: 14px;
  font-weight: 600;
  cursor: pointer;
  min-width: 0;
  border-radius: 30px;
  border: 3px solid var(--token-8nedppYkGVaH);
}
@media (max-width: 1200px) {
  .text___5SrM {
    font-weight: 600;
    font-size: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    width: 100%;
    height: auto;
    max-width: 100%;
    color: var(--token-8nedppYkGVaH);
    text-align: center;
    background: none;
    cursor: pointer;
    min-width: 0;
    border-radius: 50px;
    border: 3px solid var(--token-8nedppYkGVaH);
  }
}
@media (max-width: 500px) {
  .text___5SrM {
    font-weight: 600;
    max-width: 96%;
    width: 100%;
    height: auto;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
    color: var(--token-8nedppYkGVaH);
    text-align: center;
    background: none;
    cursor: pointer;
    min-width: 0;
    border-radius: 50px;
    border: 3px solid var(--token-8nedppYkGVaH);
  }
}
@media (max-width: 350px) {
  .text___5SrM {
    max-width: 100%;
    font-size: 15px;
    width: 100%;
    height: auto;
    padding-top: 14px;
    padding-bottom: 14px;
    font-weight: 600;
    color: var(--token-8nedppYkGVaH);
    text-align: center;
    background: none;
    cursor: pointer;
    min-width: 0;
    border-radius: 50px;
    border: 3px solid var(--token-8nedppYkGVaH);
  }
}
.strDefinition3 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 32px 8px 8px;
}
@media (max-width: 1200px) {
  .strDefinition3 {
    padding-right: 20px;
  }
}
@media (max-width: 500px) {
  .strDefinition3 {
    padding-right: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    padding-top: 21px;
    column-gap: 0px;
  }
}
@media (max-width: 350px) {
  .strDefinition3 {
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 23px;
  }
}
.freeBox__hQqni {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 20px 8px;
}
@media (max-width: 1200px) {
  .freeBox__hQqni {
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .freeBox__hQqni {
    max-width: 100%;
  }
}
.text__umIuz {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 600;
  padding-top: 0px;
  color: #444444;
  line-height: 2;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__umIuz {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .text__umIuz {
    font-size: 17px;
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media (max-width: 350px) {
  .text__umIuz {
    line-height: 1.8;
    font-size: 16px;
  }
}
.text__jMcWx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  line-height: 1.8;
  padding-top: 14px;
  padding-bottom: 0px;
  color: #444444;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__jMcWx {
    padding-right: 0px;
    padding-left: 0px;
    line-height: 1.8;
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text__jMcWx {
    padding-right: 8px;
    padding-left: 8px;
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .text__jMcWx {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 15px;
  }
}
.relatedContents2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  border-radius: 50px;
  padding: 28px 30px 34px 8px;
}
@media (max-width: 500px) {
  .relatedContents2 {
    padding-right: 22px;
    padding-top: 30px;
    padding-bottom: 26px;
    border-radius: 0px;
  }
}
@media (max-width: 350px) {
  .relatedContents2 {
    padding-right: 14px;
    padding-bottom: 24px;
    padding-top: 22px;
  }
}
.text__bvakH {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  line-height: 2;
  color: var(--token-8nedppYkGVaH);
  font-weight: 500;
  min-width: 0;
  padding: 10px 20px;
}
@media (max-width: 1200px) {
  .text__bvakH {
    padding-right: 10px;
    padding-left: 20px;
    line-height: 1.8;
  }
}
@media (max-width: 500px) {
  .text__bvakH {
    padding-right: 0px;
    padding-left: 10px;
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__bvakH {
    padding-right: 4px;
    padding-left: 4px;
    font-size: 15px;
  }
}
.link__phujC {
  font-family: "Estedad";
  font-weight: 500;
}
.link__vAGf {
  font-family: "Estedad";
  font-weight: 500;
}
.bot {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 8px 0px 0px;
}
@media (max-width: 500px) {
  .bot {
    padding-top: 0px;
  }
}
.more {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  min-width: 0;
  padding: 36px 8px 8px;
}
@media (max-width: 500px) {
  .more {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-width: 100%;
    background:
      linear-gradient(
        15.519236097659928deg,
        #ececec 0%,
        #ffffff 72%,
        #ececec 100%
      ),
      #fcfcfc;
    justify-content: flex-start;
    align-items: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    column-gap: 0px;
    min-width: 0;
    padding: 34px 8px 30px;
  }
}
@media (max-width: 350px) {
  .more {
    background:
      linear-gradient(
        15.519236097659928deg,
        #ececec 0%,
        #ffffff 72%,
        #ececec 100%
      ),
      #fcfcfc;
    width: 100%;
    height: auto;
    max-width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    padding: 23px 8px 30px;
  }
}
.certificates {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .certificates {
    padding: 12px;
  }
}
@media (max-width: 500px) {
  .certificates {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 13px;
  }
}
.freeBox__vHiXs {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 90%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__vHiXs {
    max-width: 100%;
  }
}
@media (max-width: 350px) {
  .freeBox__vHiXs {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-top: 14px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 15px;
    line-height: 1.8;
    min-width: 0;
  }
}
.h2 {
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  color: #444444;
  line-height: 2;
  letter-spacing: 0px;
}
@media (max-width: 1200px) {
  .h2 {
    font-size: 18px;
  }
}
@media (max-width: 350px) {
  .h2 {
    font-size: 17px;
    line-height: 1.8;
  }
}
.text__rcwUb {
  text-align: right;
  font-size: 16px;
  width: 100%;
  line-height: 1.8;
  padding-top: 18px;
  color: #444444;
}
@media (max-width: 1200px) {
  .text__rcwUb {
    width: 100%;
    padding-top: 20px;
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text__rcwUb {
    width: 100%;
    text-align: right;
    padding-top: 25px;
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .text__rcwUb {
    width: 100%;
    font-size: 15px;
  }
}
.neighbours {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  background: #fcfcfc;
  min-width: 0;
  border-radius: 50px;
  padding: 38px 8px 46px;
}
@media (max-width: 1200px) {
  .neighbours {
    padding-top: 24px;
    border-radius: 0px;
  }
}
@media (max-width: 500px) {
  .neighbours {
    padding-top: 12px;
  }
}
.benefitsTitle2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .benefitsTitle2 {
    padding-right: 30px;
    padding-top: 22px;
  }
}
@media (max-width: 500px) {
  .benefitsTitle2 {
    padding-right: 10px;
  }
}
@media (max-width: 350px) {
  .benefitsTitle2 {
    padding-right: 4px;
    padding-left: 4px;
  }
}
.text__uVf3I {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding-top: 0px;
  color: #444444;
  line-height: 2;
}
@media (max-width: 1200px) {
  .text__uVf3I {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .text__uVf3I {
    font-size: 15px;
    font-weight: 500;
  }
}
@media (max-width: 350px) {
  .text__uVf3I {
    font-size: 15px;
    line-height: 1.8;
    font-weight: 500;
  }
}
.benefitsCaption2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .benefitsCaption2 {
    padding-right: 24px;
    padding-left: 24px;
  }
}
@media (max-width: 500px) {
  .benefitsCaption2 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .benefitsCaption2 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.button2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 24px 8px 8px;
}
@media (max-width: 1200px) {
  .button2 {
    padding-top: 19px;
    margin-bottom: 14px;
    max-width: 60%;
  }
}
@media (max-width: 500px) {
  .button2 {
    padding-top: 0px;
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.text__aiwrr {
  position: relative;
  width: 300px;
  height: auto;
  max-width: 100%;
  text-align: center;
  background: linear-gradient(
    194.38598434664198deg,
    #0000f7 0%,
    #0000f7 55%,
    #4c3888 100%
  );
  color: #fcfcfc;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 100px;
  padding: 18px 8px;
}
@media (max-width: 1200px) {
  .text__aiwrr {
    font-weight: 600;
    font-size: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}
@media (max-width: 500px) {
  .text__aiwrr {
    font-weight: 600;
    max-width: 96%;
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .text__aiwrr {
    max-width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
.miaanFooter:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__n5NpO {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
.clarityRntComponent:global(.__wab_instance) {
  display: none;
}
.faviconRntComponent:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #444444;
}
