.content {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: linear-gradient(
      37deg,
      #ebfaff 9%,
      #fcfcfc 29%,
      #f2fbfe 60%,
      #fcfcfc 79%,
      #ebfaff 88%
    )
    0% 0% / 100% 100% repeat;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 9px 0px 0px;
}
.content > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .content > * {
    grid-column: 4;
  }
}
@media (max-width: 500px) {
  .content > * {
    grid-column: 4;
  }
}
@media (max-width: 350px) {
  .content > * {
    grid-column: 4;
  }
}
.navbarRntHeader:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (max-width: 500px) {
  .navbarRntHeader:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.mainContents {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px 0px 0px;
}
@media (max-width: 1200px) {
  .mainContents {
    max-width: 100%;
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 500px) {
  .mainContents {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.intro {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 20px 8px 8px;
}
@media (max-width: 1200px) {
  .intro {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
  }
}
@media (max-width: 500px) {
  .intro {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.top {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .top {
    display: flex;
    flex-direction: column;
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 500px) {
  .top {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.right {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .right {
    padding-top: 0px;
  }
}
@media (max-width: 500px) {
  .right {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .right {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.introTitle {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .introTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 0px;
  }
}
.text__rzAd {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  font-weight: 600;
  padding-right: 0px;
}
@media (max-width: 1200px) {
  .text__rzAd {
    padding-right: 20px;
  }
}
@media (max-width: 500px) {
  .text__rzAd {
    padding-right: 12px;
    line-height: 1.8;
    font-size: 20px;
  }
}
@media (max-width: 350px) {
  .text__rzAd {
    padding-right: 0px;
    font-size: 20px;
  }
}
.introDesc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .introDesc {
    padding-top: 0px;
  }
}
@media (max-width: 500px) {
  .introDesc {
    padding-top: 0px;
  }
}
.text__lcemO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  line-height: 1.8;
  padding-top: 8px;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__lcemO {
    padding-right: 20px;
    padding-left: 20px;
    line-height: 1.8;
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text__lcemO {
    padding-right: 12px;
    padding-left: 10px;
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__lcemO {
    padding-right: 4px;
    padding-left: 4px;
    font-size: 15px;
  }
}
.text___8BJ5C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  line-height: 1.8;
  padding-top: 18px;
  font-weight: 600;
  padding-right: 14px;
  padding-left: 14px;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text___8BJ5C {
    padding-right: 20px;
    padding-left: 20px;
    line-height: 1.8;
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text___8BJ5C {
    padding-right: 12px;
    padding-left: 10px;
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text___8BJ5C {
    padding-right: 4px;
    padding-left: 4px;
    font-size: 15px;
  }
}
.text__ySMxm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  line-height: 1.8;
  padding-top: 8px;
  padding-right: 14px;
  padding-left: 14px;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__ySMxm {
    padding-right: 20px;
    padding-left: 20px;
    line-height: 1.8;
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text__ySMxm {
    padding-right: 12px;
    padding-left: 10px;
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__ySMxm {
    padding-right: 4px;
    padding-left: 4px;
    font-size: 15px;
  }
}
.left {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 46%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .left {
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .left {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
  }
}
.img__z6HuU {
  object-fit: cover;
  max-width: 100%;
  border-radius: 50px;
}
.img__z6HuU > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__z6HuU {
    border-radius: 0px;
  }
}
.culture {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 30px 8px 8px;
}
@media (max-width: 1200px) {
  .culture {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 500px) {
  .culture {
    padding-right: 0px;
    padding-left: 0px;
    background: #ffffff;
    margin-top: 10px;
    padding-top: 0px;
  }
}
@media (max-width: 350px) {
  .culture {
    padding-top: 22px;
  }
}
.strDefinition {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  border-radius: 50px;
  padding: 12px;
}
@media (max-width: 1200px) {
  .strDefinition {
    padding-right: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 0px;
  }
}
@media (max-width: 500px) {
  .strDefinition {
    padding-right: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    background: none;
    padding-top: 17px;
  }
}
@media (max-width: 350px) {
  .strDefinition {
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 0px;
  }
}
.freeBox__uVrp4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__uVrp4 {
    max-width: 100%;
  }
}
.text__z6Ftw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  line-height: 1.8;
  padding-top: 14px;
  padding-bottom: 0px;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__z6Ftw {
    padding-right: 0px;
    padding-left: 0px;
    line-height: 1.8;
    font-size: 16px;
    padding-top: 0px;
  }
}
@media (max-width: 500px) {
  .text__z6Ftw {
    padding-right: 8px;
    padding-left: 8px;
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__z6Ftw {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 15px;
  }
}
.freeBox__ob0Og {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 20px 8px 8px;
}
@media (max-width: 500px) {
  .freeBox__ob0Og {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.img__azERl {
  object-fit: cover;
  max-width: 100%;
  border-radius: 30px;
}
.img__azERl > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__azERl {
    border-radius: 0px;
  }
}
.text__rAsP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  font-size: 17px;
  line-height: 1.8;
  padding-top: 23px;
  padding-bottom: 0px;
  text-align: center;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__rAsP {
    padding-right: 0px;
    padding-left: 0px;
    line-height: 1.8;
    font-size: 16px;
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .text__rAsP {
    padding-right: 8px;
    padding-left: 8px;
    font-size: 16px;
    text-align: right;
  }
}
@media (max-width: 350px) {
  .text__rAsP {
    padding-right: 8px;
    padding-left: 8px;
    font-size: 14px;
    text-align: right;
    padding-top: 18px;
  }
}
.investment {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 36px 8px 40px;
}
@media (max-width: 500px) {
  .investment {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .investment {
    padding-top: 26px;
  }
}
.freeBox___5OVfi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox___5OVfi {
    padding-top: 0px;
  }
}
.text__mlgvO {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  font-weight: 600;
  padding-right: 0px;
}
@media (max-width: 1200px) {
  .text__mlgvO {
    padding-right: 20px;
  }
}
@media (max-width: 500px) {
  .text__mlgvO {
    padding-right: 12px;
    line-height: 1.8;
    font-size: 20px;
  }
}
@media (max-width: 350px) {
  .text__mlgvO {
    padding-right: 0px;
    font-size: 17px;
  }
}
.text__ilbQ9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  line-height: 1.8;
  padding-top: 8px;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__ilbQ9 {
    padding-right: 20px;
    padding-left: 20px;
    line-height: 1.8;
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text__ilbQ9 {
    padding-right: 12px;
    padding-left: 10px;
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__ilbQ9 {
    padding-right: 4px;
    padding-left: 4px;
    font-size: 15px;
  }
}
.freeBox__yuy2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 60%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 36px 8px 8px;
}
@media (max-width: 1200px) {
  .freeBox__yuy2 {
    max-width: 70%;
  }
}
@media (max-width: 500px) {
  .freeBox__yuy2 {
    max-width: 100%;
  }
}
@media (max-width: 350px) {
  .freeBox__yuy2 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.img__gQvT {
  object-fit: cover;
  max-width: 100%;
  border-radius: 50px;
}
.img__gQvT > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__gQvT {
    border-radius: 30px;
  }
}
@media (max-width: 500px) {
  .img__gQvT {
    border-radius: 0px;
  }
}
.text__onTvr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  line-height: 1.8;
  padding-top: 8px;
  text-align: center;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__onTvr {
    padding-right: 20px;
    padding-left: 20px;
    line-height: 1.8;
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text__onTvr {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .text__onTvr {
    padding-right: 4px;
    padding-left: 4px;
    font-size: 15px;
  }
}
.incomeAnual {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  background: #ffffff;
  min-width: 0;
  border-radius: 50px;
  padding: 20px;
  border-width: 2px;
}
@media (max-width: 1200px) {
  .incomeAnual {
    padding-right: 20px;
    justify-content: center;
    align-content: flex-start;
  }
}
@media (max-width: 500px) {
  .incomeAnual {
    padding-right: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    border-radius: 0px;
    border-width: 0px;
  }
}
@media (max-width: 350px) {
  .incomeAnual {
    padding-right: 2px;
    padding-left: 2px;
  }
}
.freeBox__rOcLc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__rOcLc {
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .freeBox__rOcLc {
    max-width: 100%;
  }
}
.text__apoLn {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 600;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__apoLn {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .text__apoLn {
    font-size: 17px;
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media (max-width: 350px) {
  .text__apoLn {
    line-height: 1.8;
    font-size: 17px;
  }
}
.text__u6HjA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  line-height: 1.8;
  padding-top: 14px;
  padding-bottom: 0px;
  margin-top: 0px;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__u6HjA {
    padding-right: 0px;
    padding-left: 0px;
    line-height: 1.8;
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text__u6HjA {
    padding-right: 8px;
    padding-left: 8px;
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__u6HjA {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 15px;
  }
}
.freeBox__kwyfu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 44%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 20px 8px 8px;
}
@media (max-width: 1200px) {
  .freeBox__kwyfu {
    align-items: center;
    justify-content: center;
    max-width: 80%;
  }
}
@media (max-width: 500px) {
  .freeBox__kwyfu {
    padding-right: 0px;
    padding-left: 0px;
    max-width: 100%;
  }
}
.img__coyMw {
  object-fit: cover;
  max-width: 100%;
  border-radius: 30px;
}
.img__coyMw > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__coyMw {
    max-width: 96%;
    border-radius: 0px;
  }
}
.freeBox___22J2C {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 14px;
}
@media (max-width: 500px) {
  .freeBox___22J2C {
    padding-right: 8px;
    padding-left: 8px;
  }
}
.text__cBukw {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  line-height: 1.8;
  padding-top: 14px;
  padding-bottom: 0px;
  text-align: right;
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__cBukw {
    padding-right: 8px;
    padding-left: 8px;
    line-height: 1.8;
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text__cBukw {
    padding-right: 8px;
    padding-left: 8px;
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__cBukw {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 15px;
  }
}
.freeBox__zmoGb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 55px 8px 8px;
}
@media (max-width: 350px) {
  .freeBox__zmoGb {
    width: 407px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.text__mkVga {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  line-height: 1.8;
  padding-top: 14px;
  padding-bottom: 30px;
  text-align: center;
  font-weight: 600;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__mkVga {
    padding-right: 8px;
    padding-left: 8px;
    line-height: 1.8;
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .text__mkVga {
    padding-right: 8px;
    padding-left: 8px;
    font-size: 16px;
    padding-bottom: 19px;
  }
}
@media (max-width: 350px) {
  .text__mkVga {
    padding-right: 8px;
    padding-left: 8px;
    font-size: 15px;
  }
}
.img__dDc7D {
  object-fit: cover;
  max-width: 100%;
  width: 34%;
  border-radius: 30px;
}
.img__dDc7D > picture > img {
  object-fit: cover;
}
@media (max-width: 1200px) {
  .img__dDc7D {
    width: 48%;
  }
}
@media (max-width: 500px) {
  .img__dDc7D {
    width: 90%;
    border-radius: 0px;
  }
}
.efforts {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  background: #fcfcfc;
  min-width: 0;
  border-radius: 50px;
  padding: 43px 14px 8px;
}
@media (max-width: 500px) {
  .efforts {
    padding-top: 26px;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 0px;
  }
}
.text___7OsLb {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 600;
  text-align: right;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text___7OsLb {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .text___7OsLb {
    font-size: 17px;
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media (max-width: 350px) {
  .text___7OsLb {
    line-height: 1.8;
    font-size: 17px;
  }
}
.text__r4Dvt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  line-height: 1.8;
  padding-top: 14px;
  padding-bottom: 24px;
  text-align: right;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__r4Dvt {
    padding-right: 0px;
    padding-left: 0px;
    line-height: 1.8;
  }
}
@media (max-width: 500px) {
  .text__r4Dvt {
    padding-right: 8px;
    padding-left: 8px;
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__r4Dvt {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 15px;
  }
}
.handsOn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 14px 8px 42px;
}
@media (max-width: 350px) {
  .handsOn {
    padding-right: 0px;
    width: 311px;
    padding-left: 0px;
  }
}
.bot {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 8px 0px 0px;
}
.cta {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 8px 8px 44px;
}
.img__pvlqG {
  object-fit: cover;
  max-width: 80%;
  width: 30%;
  border-radius: 30px;
}
.img__pvlqG > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__pvlqG {
    width: 80%;
    border-radius: 0px;
  }
}
.button {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 24px 8px 8px;
}
@media (max-width: 1200px) {
  .button {
    padding-top: 19px;
    margin-bottom: 14px;
    max-width: 70%;
  }
}
@media (max-width: 500px) {
  .button {
    padding-top: 0px;
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.text__bbS1O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  text-align: center;
  background: #8165d6;
  color: #fcfcfc;
  padding-bottom: 18px;
  font-size: 20px;
  padding-top: 18px;
  font-weight: 600;
  cursor: pointer;
  min-width: 0;
  border-radius: 50px;
}
@media (max-width: 1200px) {
  .text__bbS1O {
    font-weight: 600;
    font-size: 20px;
    padding-top: 14px;
    padding-bottom: 12px;
    max-width: 70%;
  }
}
@media (max-width: 500px) {
  .text__bbS1O {
    font-weight: 600;
    max-width: 96%;
    font-size: 18px;
  }
}
@media (max-width: 350px) {
  .text__bbS1O {
    max-width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 18px;
  }
}
.rentamonFooter:global(.__wab_instance) {
  max-width: 100%;
}
