.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: linear-gradient(
      40deg,
      #fcfcfc 0%,
      #ebfaff 38%,
      #fcfcfc 63%,
      #ebfaff 96%
    )
    0% 0% / 100% 100% repeat;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 500px) {
  .root {
    padding-top: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 500px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 350px) {
  .root > * {
    grid-column: 4;
  }
}
.navbarRntHeader:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (max-width: 500px) {
  .navbarRntHeader:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 350px) {
  .navbarRntHeader:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.mainContents {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
@media (max-width: 1200px) {
  .mainContents {
    max-width: 100%;
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 500px) {
  .mainContents {
    padding: 0px;
  }
}
.intro1st {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 12px 8px 8px;
}
@media (max-width: 1200px) {
  .intro1st {
    max-width: 100%;
  }
}
@media (max-width: 350px) {
  .intro1st {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.introTitle {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 20px 8px 8px;
}
@media (max-width: 500px) {
  .introTitle {
    padding-top: 0px;
    padding-right: 10px;
  }
}
@media (max-width: 350px) {
  .introTitle {
    padding-right: 16px;
    padding-left: 16px;
  }
}
.دربارهما {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  font-weight: 600;
  color: #444444;
  min-width: 0;
}
@media (max-width: 1200px) {
  .دربارهما {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .دربارهما {
    font-size: 19px;
  }
}
@media (max-width: 350px) {
  .دربارهما {
    font-size: 17px;
  }
}
.teamImage {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 0px 8px;
}
@media (max-width: 1200px) {
  .teamImage {
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media (max-width: 500px) {
  .teamImage {
    display: flex;
    flex-direction: column-reverse;
    padding-right: 8px;
    padding-left: 8px;
    column-gap: 0px;
  }
}
@media (max-width: 350px) {
  .teamImage {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.introCalendarLeft {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px 0px;
}
@media (max-width: 1200px) {
  .introCalendarLeft {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 500px) {
  .introCalendarLeft {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.img__gyl5M {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 50px;
}
.img__gyl5M > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__gyl5M {
    border-radius: 15px;
  }
}
@media (max-width: 350px) {
  .img__gyl5M {
    border-radius: 0px;
  }
}
.freeBox__hcf8P {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: 0;
  bottom: 0;
  right: auto;
  font-size: 22px;
  color: #ffffff;
  text-align: center;
  background: #000000b5;
  border-bottom-left-radius: 50px;
  padding: 20px 30px 30px;
}
@media (max-width: 500px) {
  .freeBox__hcf8P {
    border-bottom-left-radius: 15px;
    padding: 8px 10px 10px;
  }
}
@media (max-width: 350px) {
  .freeBox__hcf8P {
    border-bottom-left-radius: 2px;
    padding: 8px;
  }
}
.text___6Xkh3 {
  width: auto;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: 22px;
  text-align: center;
  font-weight: 600;
  padding: 0px;
}
@media (max-width: 1200px) {
  .text___6Xkh3 {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .text___6Xkh3 {
    font-size: 15px;
    font-weight: 500;
  }
}
@media (max-width: 350px) {
  .text___6Xkh3 {
    font-size: 14px;
  }
}
.introduction {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 20px 8px 41px;
}
@media (max-width: 1200px) {
  .introduction {
    padding-right: 14px;
    padding-left: 14px;
    max-width: 96%;
  }
}
@media (max-width: 500px) {
  .introduction {
    max-width: 100%;
    padding-top: 10px;
  }
}
@media (max-width: 350px) {
  .introduction {
    padding-top: 6px;
  }
}
.text__qfSbm {
  text-align: right;
  font-size: 17px;
  line-height: 1.8;
  padding-right: 0px;
  color: #444444;
}
@media (max-width: 500px) {
  .text__qfSbm {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text__qfSbm {
    font-size: 15px;
  }
}
.text__iTajt {
  text-align: right;
  font-size: 17px;
  line-height: 1.8;
  padding-top: 20px;
  color: #444444;
}
@media (max-width: 500px) {
  .text__iTajt {
    font-size: 16px;
    padding-top: 24px;
  }
}
@media (max-width: 350px) {
  .text__iTajt {
    font-size: 15px;
  }
}
.miaanTeam:global(.__wab_instance) {
  position: relative;
  margin-top: 0px;
}
@media (max-width: 1200px) {
  .miaanTeam:global(.__wab_instance) {
    margin-top: 30px;
  }
}
.principles {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 40px 8px 8px;
}
@media (max-width: 1200px) {
  .principles {
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .principles {
    max-width: 100%;
  }
}
@media (max-width: 350px) {
  .principles {
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
  }
}
.gallery2 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 40px 0px 8px;
}
@media (max-width: 1200px) {
  .gallery2 {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 0px;
    column-gap: 0px;
  }
}
.principles2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px;
}
@media (max-width: 1200px) {
  .principles2 {
    width: 100%;
    min-width: 0;
  }
}
.h2 {
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  padding-top: 0px;
  padding-right: 15px;
  color: #444444;
}
@media (max-width: 350px) {
  .h2 {
    font-size: 18px;
  }
}
.uotlines {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px 40px 8px 8px;
}
@media (max-width: 500px) {
  .uotlines {
    padding-right: 24px;
  }
}
@media (max-width: 350px) {
  .uotlines {
    padding-right: 33px;
  }
}
.text___2Smea {
  text-align: right;
  font-size: 17px;
  line-height: 2;
  color: #444444;
}
@media (max-width: 1200px) {
  .text___2Smea {
    color: #444444;
  }
}
@media (max-width: 500px) {
  .text___2Smea {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .text___2Smea {
    font-size: 15px;
  }
}
.ul {
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  .ul {
    padding-left: 10px;
  }
}
@media (max-width: 350px) {
  .li__ts82O {
    padding-bottom: 0px;
  }
}
.introAutoSyncGif3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
@media (max-width: 1200px) {
  .introAutoSyncGif3 {
    width: 100%;
    max-width: 60%;
    min-width: 0;
  }
}
@media (max-width: 500px) {
  .introAutoSyncGif3 {
    max-width: none;
  }
}
.img__xtyhy {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 50px;
}
.img__xtyhy > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__xtyhy {
    border-radius: 30px;
  }
}
@media (max-width: 350px) {
  .img__xtyhy {
    border-radius: 20px;
  }
}
.gallery {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 40px 8px 8px;
}
@media (max-width: 350px) {
  .gallery {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.introAutoSyncGif2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .introAutoSyncGif2 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .introAutoSyncGif2 {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
  }
}
.img__eS5B6 {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 50px;
}
.img__eS5B6 > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__eS5B6 {
    border-radius: 30px;
  }
}
@media (max-width: 350px) {
  .img__eS5B6 {
    border-radius: 0px;
  }
}
.teamup {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 80%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 40px 30px 40px 8px;
}
@media (max-width: 1200px) {
  .teamup {
    padding-right: 8px;
  }
}
@media (max-width: 500px) {
  .teamup {
    max-width: 100%;
  }
}
@media (max-width: 350px) {
  .teamup {
    max-width: 100%;
  }
}
.introAutoSyncTitle3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.text__oxUg7 {
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  padding-top: 0px;
}
@media (max-width: 1200px) {
  .text__oxUg7 {
    color: #444444;
  }
}
@media (max-width: 350px) {
  .text__oxUg7 {
    font-size: 18px;
  }
}
.introAutoSyncCaption3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.text__eiQcw {
  text-align: right;
  font-size: 17px;
  line-height: 2;
  padding-bottom: 0px;
}
@media (max-width: 350px) {
  .text__eiQcw {
    line-height: 1.8;
  }
}
.address {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #fcfcfc;
  min-width: 0;
  padding: 40px 8px 28px;
}
@media (max-width: 500px) {
  .address {
    padding-top: 30px;
  }
}
.miaanAddress:global(.__wab_instance) {
  position: relative;
}
.html {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 500px) {
  .html {
    display: none;
  }
}
.nimChat:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__hcQq {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
.clarityRntComponent:global(.__wab_instance) {
  display: none;
}
.faviconRntComponent:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.miaanFooter:global(.__wab_instance) {
  max-width: 100%;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
