.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: flex-start;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(
      43.314490918125784deg,
      #ebfaff 0%,
      #fcfcfc 35%,
      #ebfaff 52%,
      #fcfcfc 74%,
      #ebfaff 93%
    )
    0% 0% / 100% 100% repeat;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 500px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 350px) {
  .root > * {
    grid-column: 4;
  }
}
.html {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  min-width: 0;
  padding: 8px;
}
.goftino:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__y1Ako {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
.clarityRntComponent:global(.__wab_instance) {
  display: none;
}
.faviconRntComponent:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.freeBox__btynj {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  justify-self: flex-start;
  margin-left: 2em;
  margin-top: 2em;
  padding: 2em 0em 0em 2em;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: #7e7e7e;
  width: 20px;
  height: 17px;
  cursor: pointer;
  position: absolute;
  left: 0px;
  top: 0px;
  margin-left: 1px;
  margin-top: 1px;
  flex-shrink: 0;
}
.freeBox__ezxHy {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: relative;
  justify-content: center;
  column-gap: 16px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 22px 16px 16px;
}
@media (max-width: 500px) {
  .freeBox__ezxHy {
    padding: 12px 32px 5px;
  }
}
.freeBox__dL0Eq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1080px;
  column-gap: 16px;
  min-width: 0;
}
@media (max-width: 500px) {
  .freeBox__dL0Eq {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    column-gap: 0px;
  }
}
.img__oFjq5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
  max-width: 108px;
  cursor: pointer;
  min-width: 0;
  min-height: 0;
  margin: 0px;
}
.img__oFjq5 > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__oFjq5 {
    max-width: 90px;
  }
}
.connect {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  box-shadow: none;
  margin-top: 2em;
  justify-self: flex-start;
  min-width: 0;
  border-radius: 30px;
  padding: 0px 0px 40px;
  border: 0px solid var(--token-BribYzXeckiT);
}
@media (max-width: 1200px) {
  .connect {
    align-items: center;
    justify-content: center;
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media (max-width: 500px) {
  .connect {
    margin-top: 2em;
    box-shadow: none;
    padding-right: 0px;
    padding-left: 0px;
    border-width: 0px;
  }
}
@media (max-width: 350px) {
  .connect {
    width: 100%;
    grid-column-start: 3 !important;
    grid-column-end: -3 !important;
  }
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 70%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
}
@media (max-width: 1200px) {
  .form:global(.__wab_instance) {
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .form:global(.__wab_instance) {
    width: 100%;
  }
}
@media (max-width: 350px) {
  .form:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.platforms:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__nKkKa {
  padding-left: 0px;
  font-size: 16px;
}
.freeBox__gTtK {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 0px 8px;
}
@media (max-width: 500px) {
  .freeBox__gTtK {
    padding-right: 14px;
  }
}
@media (max-width: 350px) {
  .freeBox__gTtK {
    padding-right: 4px;
  }
}
.text__uDhb {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 17px;
  padding-bottom: 0px;
  position: relative;
  padding-top: 0px;
  margin-bottom: 0px;
  color: #444444;
  min-width: 0;
}
.freeBox__vzQTs {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBox__fo6Ex {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___3S89D {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__n16T {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBox__gobe8 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__krh6F {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___0H6Wx {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 14px 8px 8px;
}
@media (max-width: 500px) {
  .freeBox___0H6Wx {
    padding-right: 8px;
  }
}
@media (max-width: 350px) {
  .freeBox___0H6Wx {
    padding: 0px;
  }
}
.policiesCheckbox:global(.__wab_instance) {
  max-width: 100%;
  align-self: flex-start;
  margin-bottom: 0px;
}
.text__lHi {
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 0px;
}
@media (max-width: 350px) {
  .text__lHi {
    font-size: 15px;
  }
}
.freeBox__zu7N {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
  margin: 10px 0px 0px;
}
@media (max-width: 1200px) {
  .freeBox__zu7N {
    max-width: 100%;
  }
}
.freeBox__fdLtc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 40%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__fdLtc {
    max-width: 40%;
  }
}
@media (max-width: 500px) {
  .freeBox__fdLtc {
    max-width: 100%;
  }
}
.submitButton:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  font-size: 18px;
  height: 51px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 30px;
}
@media (max-width: 1200px) {
  .submitButton:global(.__wab_instance) {
    height: 50px;
    flex-shrink: 0;
  }
}
.freeBox__gIjbh {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  align-self: center;
  column-gap: 20px;
  min-width: 0;
  padding: 8px;
}
.text__yojJ1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  min-width: 0;
  padding: 0px;
}
.loadingImg {
  object-fit: cover;
  max-width: 100%;
  height: 26px;
}
.loadingImg > picture > img {
  object-fit: cover;
}
.jabamaSend:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__roiUg {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 20px 0px 8px;
}
.freeBox__mayzL {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  max-width: 140px;
  padding: 8px 0px;
}
@media (max-width: 500px) {
  .freeBox__mayzL {
    max-width: 30%;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding: 0px;
  }
}
.img__syrE0 {
  object-fit: cover;
  max-width: 70%;
  width: 80px;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
}
.img__syrE0 > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__syrE0 {
    width: 114px;
    object-fit: contain;
    box-shadow: none;
    border-radius: 20px;
    border-width: 0px;
  }
}
@media (max-width: 500px) {
  .img__syrE0 > picture > img {
    object-fit: contain;
  }
}
.freeBox__i8PlQ {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__i8PlQ {
    max-width: 70%;
    padding-right: 10px;
    padding-left: 0px;
    align-items: flex-end;
    justify-content: center;
    align-self: center;
  }
}
.text__hm06 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  padding-right: 10px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__hm06 {
    max-width: 50%;
    align-self: flex-start;
    font-size: 14px;
    margin-right: 0px;
    padding-right: 0px;
    font-family: "Arial";
    letter-spacing: 0.5px;
  }
}
.text__wrjRn {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  font-family: "Estedad";
  text-align: right;
  padding-right: 10px;
  padding-top: 4px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__wrjRn {
    font-size: 15px;
    max-width: 100%;
    margin-right: 0px;
    padding-right: 0px;
  }
}
.freeBox__fYgfU {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.jabamaSendOtp:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.freeBox__dpDxM {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__dpDxM {
    column-gap: 4px;
    row-gap: 0px;
  }
}
.jabamasend2:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  height: 40px;
  min-width: 0;
  border-radius: 30px;
  margin: 10px 0px;
}
@media (max-width: 500px) {
  .jabamasend2:global(.__wab_instance) {
    margin: 0px;
  }
}
.text___29CCy {
  position: relative;
  width: 85px;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  font-size: 14px;
  text-align: center;
}
.jabamasend3:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: none;
  height: 40px;
  min-width: 0;
  border-radius: 30px;
  margin: 10px 0px;
  border: 2px solid var(--token-8nedppYkGVaH);
}
@media (max-width: 500px) {
  .jabamasend3:global(.__wab_instance) {
    margin: 0px;
  }
}
.text__jKat9 {
  position: relative;
  width: 85px;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  font-size: 14px;
  text-align: center;
  color: var(--token-8nedppYkGVaH);
  font-weight: 400;
}
.jabamaVerify:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
  margin: 0px;
}
.text__xed8V {
  padding-left: 0px;
  font-size: 16px;
}
.jabamaOtpInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__iTmjy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 30px;
}
.freeBox__omgNo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.jabamaverify:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  font-size: 16px;
  height: 50px;
  font-weight: 600;
  min-width: 0;
  border-radius: 100px;
  margin: 0px;
}
.text__fPBr8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.jajigaSendForm:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox___4WvCs {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 20px 0px 8px;
}
.freeBox___1SFw {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  max-width: 140px;
  padding: 8px 0px;
}
@media (max-width: 500px) {
  .freeBox___1SFw {
    max-width: 30%;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding: 0px;
  }
}
.img__fl0Nu {
  object-fit: cover;
  max-width: 70%;
  width: 80px;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
}
.img__fl0Nu > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__fl0Nu {
    width: 114px;
    object-fit: contain;
    border-radius: 20px;
  }
}
@media (max-width: 500px) {
  .img__fl0Nu > picture > img {
    object-fit: contain;
  }
}
.freeBox__dz8NE {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__dz8NE {
    max-width: 70%;
    padding-right: 10px;
    padding-left: 0px;
    align-items: flex-end;
    justify-content: center;
    align-self: center;
  }
}
.text__zNqRl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  padding-right: 10px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__zNqRl {
    max-width: 50%;
    align-self: flex-start;
    font-size: 14px;
    margin-right: 0px;
    padding-right: 0px;
    font-family: "Arial";
    letter-spacing: 0.5px;
  }
}
.text__paDiB {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  font-family: "Estedad";
  text-align: right;
  padding-right: 10px;
  padding-top: 4px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__paDiB {
    font-size: 15px;
    max-width: 100%;
    margin-right: 0px;
    padding-right: 0px;
  }
}
.freeBox__pGyxG {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.jajigaSend:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.freeBox__mpeUy {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__mpeUy {
    justify-content: center;
    align-items: center;
    column-gap: 4px;
    row-gap: 0px;
  }
}
.jajigasend:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  height: 40px;
  min-width: 0;
  border-radius: 30px;
  margin: 10px 0px;
}
@media (max-width: 500px) {
  .jajigasend:global(.__wab_instance) {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
.text__v0Jc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  font-size: 14px;
  min-width: 0;
}
.jabamasend4:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: none;
  height: 40px;
  min-width: 0;
  border-radius: 30px;
  margin: 10px 0px;
  border: 2px solid var(--token-8nedppYkGVaH);
}
@media (max-width: 500px) {
  .jabamasend4:global(.__wab_instance) {
    margin: 0px;
  }
}
.text__ctiGm {
  position: relative;
  width: 85px;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  font-size: 14px;
  text-align: center;
  color: var(--token-8nedppYkGVaH);
  font-weight: 400;
}
.jajigaVerify:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text___8Ej4Q {
  padding-left: 0px;
  font-size: 16px;
}
.input6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__rrvyg {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.jajigaverify:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 350px;
  background: var(--token-8nedppYkGVaH);
  height: 50px;
  flex-shrink: 0;
  border-radius: 100px;
  margin: 10px 0px;
}
.text__z1LHa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  font-size: 17px;
  font-weight: 600;
  min-width: 0;
}
.shabSend:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__qNu06 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 20px 0px 8px;
}
.freeBox__uxgTt {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  max-width: 140px;
  padding: 8px 0px;
}
@media (max-width: 500px) {
  .freeBox__uxgTt {
    max-width: 30%;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding: 0px;
  }
}
.img__mO1Dp {
  object-fit: cover;
  max-width: 70%;
  width: 80px;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
}
.img__mO1Dp > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__mO1Dp {
    width: 114px;
    object-fit: contain;
    border-radius: 20px;
    border-width: 1px;
  }
}
@media (max-width: 500px) {
  .img__mO1Dp > picture > img {
    object-fit: contain;
  }
}
.freeBox__tnf1O {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__tnf1O {
    max-width: 70%;
    padding-right: 10px;
    padding-left: 0px;
    align-items: flex-end;
    justify-content: center;
    align-self: center;
  }
}
.text__jMu2F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  padding-right: 10px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__jMu2F {
    max-width: 50%;
    align-self: flex-start;
    font-size: 14px;
    margin-right: 0px;
    padding-right: 0px;
    font-family: "Arial";
    letter-spacing: 0.5px;
  }
}
.text___9UerX {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  font-family: "Estedad";
  text-align: right;
  padding-right: 10px;
  padding-top: 4px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text___9UerX {
    font-size: 15px;
    max-width: 100%;
    margin-right: 0px;
    padding-right: 0px;
  }
}
.freeBox__pgFQy {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.shabOtpSend:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.freeBox__mblh6 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__mblh6 {
    column-gap: 4px;
    row-gap: 0px;
  }
}
.shabSendButton:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  font-size: 14px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  border-radius: 30px;
  margin: 10px 0px;
}
@media (max-width: 500px) {
  .shabSendButton:global(.__wab_instance) {
    height: 146px;
    margin: 0px;
  }
}
.text___2SDjU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  font-size: 14px;
  min-width: 0;
}
.jabamasend5:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: none;
  height: 40px;
  min-width: 0;
  border-radius: 30px;
  margin: 10px 0px;
  border: 2px solid var(--token-8nedppYkGVaH);
}
@media (max-width: 500px) {
  .jabamasend5:global(.__wab_instance) {
    margin: 0px;
  }
}
.text__wOCr {
  position: relative;
  width: 85px;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  font-size: 14px;
  text-align: center;
  color: var(--token-8nedppYkGVaH);
  font-weight: 400;
}
.shabVerify:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text__hv4Vo {
  padding-left: 0px;
  font-size: 16px;
}
.input10:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__ao4Jn {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.shabverify:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 350px;
  background: var(--token-8nedppYkGVaH);
  height: 50px;
  cursor: auto;
  flex-shrink: 0;
  border-radius: 100px;
  margin: 10px 0px;
}
.text__e2DBa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  font-size: 14px;
  min-width: 0;
}
.otaghakSend:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__xnFqS {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 20px 0px 8px;
}
.freeBox__yviX3 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  max-width: 140px;
  padding: 8px 0px;
}
@media (max-width: 500px) {
  .freeBox__yviX3 {
    max-width: 30%;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding: 0px;
  }
}
.img__hoHzN {
  object-fit: cover;
  max-width: 70%;
  width: 80px;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
}
.img__hoHzN > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__hoHzN {
    width: 114px;
    object-fit: cover;
    box-shadow: none;
    border-radius: 20px;
    border-width: 0px;
  }
}
@media (max-width: 500px) {
  .img__hoHzN > picture > img {
    object-fit: cover;
  }
}
.freeBox___8Bgkb {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox___8Bgkb {
    max-width: 70%;
    padding-right: 10px;
    padding-left: 0px;
    align-items: flex-end;
    justify-content: center;
    align-self: center;
  }
}
.text__wi6Yi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  padding-right: 10px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__wi6Yi {
    max-width: 50%;
    align-self: flex-start;
    font-size: 14px;
    margin-right: 0px;
    padding-right: 0px;
    font-family: "Arial";
    letter-spacing: 0.5px;
  }
}
.text__uQKwh {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  font-family: "Estedad";
  text-align: right;
  padding-right: 10px;
  padding-top: 4px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__uQKwh {
    font-size: 15px;
    max-width: 100%;
    margin-right: 0px;
    padding-right: 0px;
  }
}
.freeBox__uDmKw {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.otaghakSendOtp:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.freeBox__lKZu {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__lKZu {
    column-gap: 4px;
    row-gap: 0px;
  }
}
.otaghaksend:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  font-size: 14px;
  max-height: 40px;
  min-height: 40px;
  height: 40px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  border-radius: 30px;
  margin: 10px 0px;
}
@media (max-width: 500px) {
  .otaghaksend:global(.__wab_instance) {
    margin: 0px;
  }
}
.text__w7Efz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.jabamasend6:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: none;
  height: 40px;
  min-width: 0;
  border-radius: 30px;
  margin: 10px 0px;
  border: 2px solid var(--token-8nedppYkGVaH);
}
@media (max-width: 500px) {
  .jabamasend6:global(.__wab_instance) {
    margin: 0px;
  }
}
.text__cVdoM {
  position: relative;
  width: 85px;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  font-size: 14px;
  text-align: center;
  color: var(--token-8nedppYkGVaH);
  font-weight: 400;
}
.otaghakVerify:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text___5TXxI {
  padding-left: 0px;
  font-size: 16px;
}
.input12:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__zh08K {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  min-width: 0;
}
.otaghakverify:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 350px;
  background: var(--token-8nedppYkGVaH);
  font-size: 14px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 100px;
  margin: 10px 0px;
}
.text__yDjNu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.mihmansho {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.mihmanshoSend:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__hAxPb {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 20px 0px 8px;
}
.freeBox__hOySy {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  max-width: 140px;
  padding: 8px 0px;
}
@media (max-width: 500px) {
  .freeBox__hOySy {
    max-width: 30%;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding: 0px;
  }
}
.img__eprZj {
  object-fit: cover;
  max-width: 70%;
  width: 80px;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
}
.img__eprZj > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__eprZj {
    width: 114px;
    object-fit: contain;
    border-radius: 20px;
    border-width: 1px;
  }
}
@media (max-width: 500px) {
  .img__eprZj > picture > img {
    object-fit: contain;
  }
}
.freeBox__aoJs {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__aoJs {
    max-width: 70%;
    padding-right: 10px;
    padding-left: 0px;
    align-items: flex-end;
    justify-content: center;
    align-self: center;
  }
}
.text__o8BtQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  padding-right: 10px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__o8BtQ {
    max-width: 50%;
    align-self: flex-start;
    font-size: 14px;
    margin-right: 0px;
    padding-right: 0px;
    font-family: "Arial";
    letter-spacing: 0.5px;
  }
}
.text___6Z0J8 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  font-family: "Estedad";
  text-align: right;
  padding-right: 10px;
  padding-top: 4px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text___6Z0J8 {
    font-size: 15px;
    max-width: 100%;
    margin-right: 0px;
    padding-right: 0px;
  }
}
.input13:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__eRoDw {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__eRoDw {
    column-gap: 4px;
    row-gap: 0px;
  }
}
.mihmanshosend:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  height: 40px;
  min-width: 0;
  border-radius: 30px;
  margin: 10px 0px;
}
@media (max-width: 500px) {
  .mihmanshosend:global(.__wab_instance) {
    margin: 0px;
  }
}
.text__yTFsx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.mihmanshosend6:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: none;
  height: 40px;
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
  border: 0px solid var(--token-8nedppYkGVaH);
}
@media (max-width: 500px) {
  .mihmanshosend6:global(.__wab_instance) {
    margin: 0px;
  }
}
.text__wmKfj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  color: var(--token-8nedppYkGVaH);
  min-width: 0;
}
@media (max-width: 500px) {
  .text__wmKfj {
    font-size: 14px;
  }
}
.mihmanshoVerify:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text__iIg1I {
  padding-left: 0px;
  font-size: 16px;
}
.input14:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__vGf6E {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__vGf6E {
    column-gap: 4px;
    row-gap: 0px;
  }
}
.mihmanshoVerify3:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  font-size: 14px;
  max-height: 40px;
  min-height: 40px;
  height: 40px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  border-radius: 30px;
  margin: 10px 0px;
}
.text___1WRCt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.jabamasend8:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: none;
  height: 40px;
  min-width: 0;
  border-radius: 30px;
  margin: 10px 0px;
  border: 2px solid var(--token-8nedppYkGVaH);
}
.text__lebDs {
  position: relative;
  width: 85px;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  font-size: 14px;
  text-align: center;
  color: var(--token-8nedppYkGVaH);
  font-weight: 400;
}
.homsaverify {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.formField___3FYu8:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__j8DaR {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 20px 0px 8px;
}
.freeBox__dNb06 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  max-width: 140px;
  padding: 8px 0px;
}
@media (max-width: 500px) {
  .freeBox__dNb06 {
    max-width: 30%;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding: 0px;
  }
}
.img__ep2Jj {
  object-fit: cover;
  max-width: 70%;
  width: 80px;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
}
.img__ep2Jj > picture > img {
  object-fit: cover;
}
@media (max-width: 500px) {
  .img__ep2Jj {
    width: 114px;
    object-fit: contain;
    border-radius: 20px;
    border-width: 1px;
  }
}
@media (max-width: 500px) {
  .img__ep2Jj > picture > img {
    object-fit: contain;
  }
}
.freeBox__vq4C {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 500px) {
  .freeBox__vq4C {
    max-width: 70%;
    padding-right: 10px;
    padding-left: 0px;
    align-items: flex-end;
    justify-content: center;
    align-self: center;
  }
}
.text___0GkUs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  padding-right: 10px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text___0GkUs {
    max-width: 50%;
    align-self: flex-start;
    font-size: 14px;
    margin-right: 0px;
    padding-right: 0px;
    font-family: "Arial";
    letter-spacing: 0.5px;
  }
}
.text__p91Dr {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  font-family: "Estedad";
  text-align: right;
  padding-right: 10px;
  padding-top: 4px;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__p91Dr {
    font-size: 15px;
    max-width: 100%;
    margin-right: 0px;
    padding-right: 0px;
  }
}
.input15:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__xlxst:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text___1V2Wr {
  padding-left: 0px;
  font-size: 16px;
}
.input16:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__jyoiK {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.homsaVerify:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  font-size: 14px;
  max-height: 40px;
  min-height: 40px;
  height: 40px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  border-radius: 30px;
  margin: 10px 0px;
}
.text__yHf2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.jabamasend7:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: none;
  height: 40px;
  min-width: 0;
  border-radius: 30px;
  margin: 10px 0px;
  border: 2px solid var(--token-8nedppYkGVaH);
}
.text__ymnEy {
  position: relative;
  width: 85px;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  font-size: 14px;
  text-align: center;
  color: var(--token-8nedppYkGVaH);
  font-weight: 400;
}
.formField__gR1Fp:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
  display: none;
}
.text__ffen5 {
  padding-left: 0px;
  font-size: 16px;
}
.input17:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__h9XmX {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.mizboonsend:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text__beOte {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.mizboonsend3:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: linear-gradient(#ffffff, #ffffff), #8165d6;
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
  border: 2px solid var(--token-8nedppYkGVaH);
}
.text__t7GyR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  color: var(--token-8nedppYkGVaH);
  min-width: 0;
}
.freeBox__lhpoq {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  padding: 8px;
}
.formField___4CcQp:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__pWbfk {
  padding-left: 0px;
  font-size: 16px;
}
.input18:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___1S4UR {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.mizboonverify:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text___5YV8A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.mizboonverify4:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: none;
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
  border: 0px solid var(--token-8nedppYkGVaH);
}
.text__avS3F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  color: var(--token-8nedppYkGVaH);
  min-width: 0;
}
.platformpropertyIds {
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.jajigapp {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.formField___2ThdA:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__kCgzs {
  font-size: 16px;
}
.input19:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.shabpp {
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.formField__qGiao:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__oibLq {
  padding-left: 0px;
  font-size: 16px;
}
.input20:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.otaghakpp {
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.formField__dGrRx:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__zJqoP {
  padding-left: 0px;
  font-size: 16px;
}
.input21:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.mihmanshopp {
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.formField__ssQkd:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__xu2Et {
  padding-left: 0px;
  font-size: 16px;
}
.input22:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.homsapp {
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.formField__aL91N:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__df668 {
  padding-left: 0px;
  font-size: 16px;
}
.input23:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.mizboonpp {
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.formField__j82Mr:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__kae8I {
  padding-left: 0px;
  font-size: 16px;
}
.input24:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.jabamapp {
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.formField__vLEop:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__spUvs {
  padding-left: 0px;
  font-size: 16px;
}
.input27:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__rfuv7 {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.platformpropertyButton:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
}
.text__alu9P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  font-size: 14px;
  min-width: 0;
}
.platformpropertyButton2:global(.__wab_instance) {
  max-width: 50%;
  object-fit: cover;
  width: 100%;
  background: none;
  color: var(--token-8nedppYkGVaH);
  min-width: 0;
  border-radius: 30px;
  margin: 10px;
  border: 2px solid var(--token-8nedppYkGVaH);
}
.text___55Yt0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  font-weight: 500;
  font-size: 14px;
  min-width: 0;
}
.security {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 20px;
}
@media (max-width: 1200px) {
  .security {
    max-width: 70%;
  }
}
@media (max-width: 500px) {
  .security {
    max-width: 100%;
    display: flex;
  }
}
.freeBox__h0Pz0 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  background: var(--token-O4qz_eXOc86K);
  min-width: 0;
  border-radius: 15px;
  padding: 8px;
  border: 1px solid #acacac;
}
@media (max-width: 1200px) {
  .freeBox__h0Pz0 {
    padding-left: 4px;
  }
}
@media (max-width: 500px) {
  .freeBox__h0Pz0 {
    padding-left: 4px;
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (max-width: 350px) {
  .freeBox__h0Pz0 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.img___12L9W {
  object-fit: cover;
  max-width: 100%;
  height: 34px;
  width: 38px;
  flex-shrink: 0;
}
.img___12L9W > picture > img {
  object-fit: cover;
}
.text__dghKg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  text-align: right;
  font-weight: 300;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__dghKg {
    font-size: 13px;
  }
}
@media (max-width: 350px) {
  .text__dghKg {
    font-size: 12px;
    padding-left: 4px;
  }
}
.quotes {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 19px 0px 8px;
}
@media (max-width: 500px) {
  .quotes {
    padding-top: 6px;
  }
}
@media (max-width: 350px) {
  .quotes {
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
  }
}
.freeBox__fSXj5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 0px;
}
@media (max-width: 500px) {
  .freeBox__fSXj5 {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 20px;
  }
}
.text___4JwlT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  color: #444444;
  font-size: 20px;
  padding-right: 0px;
  text-align: center;
  margin-bottom: 12px;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
  padding-bottom: 30px;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text___4JwlT {
    padding-right: 0px;
    color: #444444;
  }
}
@media (max-width: 500px) {
  .text___4JwlT {
    font-size: 18px;
    color: #444444;
    margin-bottom: 0px;
    padding-bottom: 21px;
  }
}
.testimonialsScrolling:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__uAwxe {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      43.734075981521414deg,
      #203647 0%,
      #547893 26%,
      #203647 54%,
      #466c89 78%,
      #203647 98%
    )
    0% 0% / 100% 100% repeat;
  justify-self: flex-start;
  flex-shrink: 1;
  flex-grow: 0;
  flex-wrap: nowrap;
  align-content: stretch;
  row-gap: 0px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 24px 8px 44px;
}
.freeBox__pMoPs {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__pMoPs {
    max-width: 80%;
  }
}
@media (max-width: 500px) {
  .freeBox__pMoPs {
    max-width: 100%;
  }
}
.text__p6Vl {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #fcfcfc;
  font-size: 18px;
  line-height: 2;
  font-weight: 600;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__p6Vl {
    font-size: 16px;
    font-weight: 500;
  }
}
@media (max-width: 350px) {
  .text__p6Vl {
    font-size: 15px;
    font-weight: 500;
  }
}
.getNumberOfDisconnectedPlatforms:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
