.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: linear-gradient(
      40deg,
      #fcfcfc 0%,
      #ebfaff 38%,
      #fcfcfc 63%,
      #ebfaff 96%
    )
    0% 0% / 100% 100% repeat;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1200px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 500px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 350px) {
  .root {
    padding-top: 0px;
    background: linear-gradient(
      50deg,
      #b5d2e7 0%,
      #cee1f1 24%,
      #fcfcfc 47%,
      #d6ebfa 78%,
      #fcfcfc 96%
    );
  }
}
@media (max-width: 350px) {
  .root > * {
    grid-column: 4;
  }
}
.header {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
  padding: 9px 16px 0em;
}
@media (max-width: 500px) {
  .header {
    display: none;
  }
}
.freeBox__meGr5 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 10%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 1;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__meGr5 {
    z-index: 100;
  }
}
@media (max-width: 500px) {
  .freeBox__meGr5 {
    z-index: 1000000;
    display: none;
  }
}
@media (max-width: 350px) {
  .freeBox__meGr5 {
    display: none;
  }
}
.sideBar2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: auto;
  top: 0;
  right: 0;
}
@media (max-width: 1200px) {
  .sideBar2:global(.__wab_instance):global(.__wab_instance) {
    width: 70px;
    height: auto;
  }
}
@media (max-width: 500px) {
  .sideBar2:global(.__wab_instance):global(.__wab_instance) {
    height: auto;
  }
}
.freeBox__pYvYj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__pYvYj {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.profile2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.mainContents {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(0deg, #e9fbff 2%, #cef3fc 21%, #8fd5e7 80%) 0%
    0% / 100% 100% repeat;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 102px;
}
@media (max-width: 1200px) {
  .mainContents {
    max-width: 100%;
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 500px) {
  .mainContents {
    background: linear-gradient(0deg, #e9fbff 2%, #cef3fc 21%, #8fd5e7 80%) 0%
      0% / 100% 100% repeat;
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    padding: 0px 12px;
  }
}
@media (max-width: 350px) {
  .mainContents {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox__cBplt {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 44%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
@media (max-width: 1200px) {
  .freeBox__cBplt {
    width: 60%;
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 500px) {
  .freeBox__cBplt {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .freeBox__cBplt {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.img {
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__dgbbL {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 12px;
}
@media (max-width: 500px) {
  .freeBox__dgbbL {
    padding-top: 0px;
  }
}
.freeBox__oXrIp {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 30px;
}
@media (max-width: 500px) {
  .freeBox__oXrIp {
    padding-bottom: 23px;
    padding-top: 18px;
  }
}
.text__nnxTo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 1200px) {
  .text__nnxTo {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .text__nnxTo {
    font-size: 18px;
    padding-top: 0px;
    color: #203647;
    font-weight: 500;
  }
}
@media (max-width: 350px) {
  .text__nnxTo {
    font-size: 16px;
  }
}
.freeBox__ylNq0 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  color: #fcfcfc;
  text-align: center;
  user-select: none;
  background: linear-gradient(
    194.38598434664198deg,
    #0000f7 0%,
    #0000f7 55%,
    #4c3888 100%
  );
  cursor: pointer;
  border-radius: 100px;
  padding: 18px 8px;
}
@media (max-width: 1200px) {
  .freeBox__ylNq0 {
    animation: none;
    width: 300px;
  }
}
@media (max-width: 500px) {
  .freeBox__ylNq0 {
    animation: none;
    width: 100%;
    max-width: 96%;
    min-width: 0;
  }
}
@media (max-width: 350px) {
  .freeBox__ylNq0 {
    animation: none;
    width: 284.8374938964844px;
  }
}
.text___8ACS {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 94%;
  text-align: center;
  background: none;
  color: #fcfcfc;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  min-width: 0;
  border-radius: 100px;
  padding: 0px;
}
@media (max-width: 1200px) {
  .text___8ACS {
    animation: none;
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .text___8ACS {
    animation: none;
  }
}
@media (max-width: 350px) {
  .text___8ACS {
    animation: none;
    font-size: 17px;
    padding: 0px;
  }
}
.freeBox__my6Xn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px 8px 85px;
}
@media (max-width: 1200px) {
  .freeBox__my6Xn {
    max-width: 90%;
  }
}
@media (max-width: 500px) {
  .freeBox__my6Xn {
    padding-top: 20px;
    max-width: 90%;
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 350px) {
  .freeBox__my6Xn {
    max-width: 100%;
    padding-top: 37px;
  }
}
.freeBox__hESl {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 40%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  cursor: pointer;
  min-width: 0;
  border-radius: 100px;
  padding: 14px 8px;
}
@media (max-width: 1200px) {
  .freeBox__hESl {
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .freeBox__hESl {
    max-width: 100%;
  }
}
@media (max-width: 350px) {
  .freeBox__hESl {
    max-width: 100%;
    width: 100%;
    height: auto;
    background: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    border-radius: 100px;
    padding: 14px 8px;
  }
}
.text__oEa27 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 17px;
  color: var(--token-8nedppYkGVaH);
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__oEa27 {
    font-size: 16px;
    padding-top: 0px;
  }
}
@media (max-width: 350px) {
  .text__oEa27 {
    font-size: 15px;
  }
}
.freeBox__uuj9S {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 40%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  cursor: pointer;
  min-width: 0;
  border-radius: 100px;
  padding: 14px 8px;
}
@media (max-width: 1200px) {
  .freeBox__uuj9S {
    max-width: 100%;
    width: 100%;
    height: auto;
    background: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    border-radius: 100px;
    padding: 14px 8px;
  }
}
@media (max-width: 500px) {
  .freeBox__uuj9S {
    max-width: 100%;
    width: 100%;
    height: auto;
    background: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    border-radius: 100px;
    padding: 14px 8px;
  }
}
@media (max-width: 350px) {
  .freeBox__uuj9S {
    max-width: 100%;
  }
}
.text__qFge {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 17px;
  color: var(--token-8nedppYkGVaH);
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 500px) {
  .text__qFge {
    font-size: 16px;
    padding-top: 0px;
  }
}
@media (max-width: 350px) {
  .text__qFge {
    font-size: 15px;
  }
}
.freeBox__ajAll {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 40%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  cursor: pointer;
  min-width: 0;
  border-radius: 100px;
  padding: 14px 8px;
}
@media (max-width: 1200px) {
  .freeBox__ajAll {
    max-width: 100%;
    width: 100%;
    height: auto;
    background: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    border-radius: 100px;
    padding: 14px 8px;
  }
}
@media (max-width: 500px) {
  .freeBox__ajAll {
    max-width: 100%;
    width: 100%;
    height: auto;
    background: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    border-radius: 100px;
    padding: 14px 8px;
  }
}
@media (max-width: 350px) {
  .freeBox__ajAll {
    max-width: 100%;
    width: 100%;
    height: auto;
    background: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    border-radius: 100px;
    padding: 14px 8px;
  }
}
.text___9Fi4P {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 17px;
  color: var(--token-8nedppYkGVaH);
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 500px) {
  .text___9Fi4P {
    font-size: 16px;
    padding-top: 0px;
  }
}
@media (max-width: 350px) {
  .text___9Fi4P {
    font-size: 15px;
  }
}
.rentamonFooter:global(.__wab_instance) {
  max-width: 100%;
}
.navbarRntFooter:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
@media (max-width: 500px) {
  .navbarRntFooter:global(.__wab_instance) {
    display: none;
  }
}
.freeBox__mmxHh {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
.clarityRntComponent:global(.__wab_instance) {
  display: none;
}
.faviconRntComponent:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
